[2018-10-15 11:40] renatoagds commented on #617
@LakshSingla hey! so, my idea is the same as yours, I started the boilerplate in my branch here: https://github.com/renatoagds/webpack-cli/tree/webpack-gui ... the next step will be create the initial screen to execute the `init` command, reproducing the same questions that we have in the CLI command. I probably will do that today. I'll be happy if you take a look in my branch and give your opinio

[2018-10-15 18:12] LakshSingla commented on #617
@renatoagds Sure thing man. After you complete the initial draft, we can contribute together on different issues regarding UI. I suggest we decide upon a styling library ( like Materialize or Bootstrap ) to speed up the development of core logic. @ev1stensberg @rishabh3112 Suggestions ?

[2018-10-16 04:11] LakshSingla commented on #617
@renatoagds If you don't mind, should I start working on the initial features of the GUI? Then we could work together later on more advanced ones? I will pickup from where you left.

[2018-10-16 08:02] ematipico commented on #617
If everyone agrees, we could have an upstream branch and you could make PRs against that branch.

We can create an issue with the detailed list of the things to do/done. What do you think?

[2018-10-16 11:11] renatoagds commented on #617
@ematipico agreed with you, I think we need to organize what we gonna do, so everyone could help. @LakshSingla let's do what @ematipico suggest first, so we do not work in the same thing, since we're in a pretty different timezone, we will crash our jobs. About the style, I was thinking to use `material-ui`(https://material-ui.com/).

[2018-10-16 11:46] rishabh3112 commented on #617
Well upstream branch for this is great 😀 @ematipico.
We can track this issue only as another issue for same will not be suitable I think.
I have setup up basic structure with express and typescript for this. I can PR it and we can work on that. Thoughts @renatoagds and @LakshSingla ?

[2018-10-16 12:48] ematipico commented on #617
I created the upstream breanch `webpack-cli-ui`. All the PRs regarding this project should go against that branch

[2018-10-16 12:55] ev1stensberg commented on #617
Sounds like you all have it under control. Create that PR for visibility and we'll come up with feedback. I'd propose to write it in JS first and then we can discuss rolling it over to TS if this is an external package ( which I think it should be ). So summed short:

1. PR
2. Create todo
3. Communicate to split tasks
4. Finish logic
5. Rewrite to TS

[2018-10-16 12:59] ematipico opened #647 "[UI] Decide foundation of the project"
Before starting implementing features, there's need to agree on the tools to use to build the UI tool.

We have to remember that this is a tool that will interact A LOT with the `webpack-cli` itself and some of the packages that we currently maintain. For instances, if we want to add a new loader, once the user decided which loader to add, we can run the command `webpack-cli add` or calling the me

[2018-10-16 13:01] ematipico commented on #617
Feel free to discuss here if you prefer https://github.com/webpack/webpack-cli/issues/647

[2018-10-16 13:02] ev1stensberg commented on #647
I think at minimum req would be to use webpack dev server and that tool suite.

[2018-10-16 14:30] renatoagds commented on #647
Agreed with @ev1stensberg. we should use webpack-dev-server. other point, I would like to follow with `material-ui` as our styling lib. since we're going in top of React, we get an lib that offer less work, providing the components, will reduce the amount of work.

For tests I would like to add `enzyme` too, so we could test our components.

About the tool itself, IMO, we should follow it as a CLI

[2018-10-16 14:50] rishabh3112 commented on #647
So, Are we starting off with JS first 🤔

[2018-10-16 14:56] ev1stensberg commented on #617
Well I think it might be easier to take it gradually to avoid errors, but feel free to do TS straight away. In that case, this should be moved to a seperate package named ‘ui’

[2018-10-16 16:13] ematipico commented on #647
I am not a big supporter of `enzyme` because it's too much dependent to the React versions. So there's the risk that can't upgrade React too frequently because `enzyme` might not support the new changes and can't keep up. Also the APIs are too wide. I am more keen to use the simple `ReactDOM` or `react-testing-library`.

@rishabh3112 It's up to you guys. Honestly, we you guys would like to start w

[2018-10-17 02:45] LakshSingla commented on #647
I don't know TS, but if its in everyone's convenience I wouldn't mind learning it along in the way. But creating wouldn't creating UI in TS be a huge overkill considering we are using React anyway?

[2018-10-17 07:13] ev1stensberg commented on #647
I think you misunderstand why we use TS. TS gets compiled down to JS anyway, just as JavaScript in ES6 needs to be compiled down

[2018-10-17 07:41] ematipico opened #648 "[UI] Detect configurations or select them"
Given the possibility to bootstrap the UI project internally, the server should be able to detect the webpack configurations. Ideally file names like `webpack.*`

Alternatively, the user can choose a file from the filesystem.

Anything else I'm missing for the sake of the feature?

[2018-10-17 07:45] LakshSingla commented on #647
@ev1stensberg According to me, maintaining code in TS would be more difficult and more inaccessible to newer developers ( it was like that to me when I started out ). These are my opinions on TS although I could be grossly incorrect. In any case, I am comfortable with any tech stack we use ( I will become comfortable with the use of TS in a couple of days ). Also regarding my initial comment, I wa

[2018-10-17 07:52] ematipico opened #649 "[UI] Setting up server project"
The UI project will bootstrap a server that will serve the static resources that will be compiled from a different task.

The server, also, will be responsible of detecting all the requests coming from the UI and execute the different commands like
- creating a new webpack configuration file
- modify existing ones
- ideally execute the builds givin a specific webpack

The `webpack-cli` should alre

[2018-10-17 08:00] ematipico commented on #647
I'd like to bootstrap a simple `create-react-app` project too. Easy, fast, reliable and it has the developer server under the hoods. No hassle, no configuration. We don't need that for the Frontend part.

[2018-10-17 13:48] rishabh3112 commented on #647
Yeah, finally what I think is we can have express in TS and frontend in react i.e. JS.
If that's fine 👆 let me know !!

[2018-10-17 13:57] renatoagds commented on #647
Ok. So looks like we agreed using `create-react-app`, right? About styling, can we go ahead with `material-ui`?

@rishabh3112 I don't like the idea to use TS and JS in the same project, mainly because I prefer follow an pattern and code in top of it.

[2018-10-17 15:01] LakshSingla commented on #586
@ev1stensberg `lib/webpack-cli.js` uses `internal.js` but passes arguments in the constructor (which is not yet implemented in `internal.js`). I am presuming that `internal.js` is WIP. Should I implement the `constructor` in `internal.js`? Also many tests currently fail. Is that part any of my concern, or should I write my own tests for the `interactive` command.

[2018-10-17 16:16] LakshSingla commented on #586
@ev1stensberg Alright thanks!! So heres the course of action I will take
 - [ ] Create a new NPM package in `/packages` under the name `@webpack-cli/interactive`
 - [ ] Implement the logic for an interactive prompt
 - [ ] Implement the logic for functions present in the prompt.
I understand that the logic corresponding to `p (pause)` and `q (quit)` would have to be wriitten by me. Also, correspond

[2018-10-17 18:13] LakshSingla commented on #586
@ev1stensberg For asynchronously reading the data from the `stdin` should I use an external npm package like `linebyline(former 'readline')` or `readline` npm package ( provided in Node v10 ). Any other package suggestion is also welcomed.
If we have single character keycodes for actions, we can implement it in react-native style, by using rawmode of `process.stdin` and `readline` module to add `k

[2018-10-17 20:18] jeffbyrnes commented on #489
Looks like we’re still missing changelog entries for v3.0.0; I ran into a situation where I wanted to see if I should upgrade, and finally landed here, leading me to the other issue & the blog post.

[2018-10-18 03:36] rishabh3112 commented on #647
I will rewrite the server in JS then 👍

[2018-10-18 05:57] LakshSingla commented on #647
Alright! That's great. Lemme know when the initial scaffolding is done so that we can start filling in the functions. In the meantime, It would be great if you could create an initial react scaffold too, so that I can work on the front end side of it.

[2018-10-18 06:28] LakshSingla commented on #586
#### UPDATE:
 - I have implemented `react-native` like interface for the `interactive` command wherein pressing a single character would register it and process the output. The `interactive` passes the CLI arguments it takes directly to the `webpack` command being executed via `child_process` module. I will use `chalk` to colorize the output and possibly `inquirer` for tasks such as walking the mo

[2018-10-18 13:01] hazone commented on #299
I only got it to work by first install npm install -g webpack-cli and then npm install -g webpack.

[2018-10-18 15:57] ematipico commented on #586
Try go give a try to `execa`, package to handle child processes. We introduced in one of the PRs and maybe it could help you solving your issue

[2018-10-18 16:50] LakshSingla commented on #586
@ematipico Currently the issue I am facing is with `--watch`. On subsequent builds, the `stdout` from the childprocess is blurted out to the parent's `stdout`, irrespective of `pipe` or `inherit`.

[2018-10-19 16:22] renatoagds commented on #647
@ematipico looked the issues that you created about UI, just want to know more about what you're think we should do on them.
https://github.com/webpack/webpack-cli/issues/648
https://github.com/webpack/webpack-cli/issues/649

[2018-10-19 18:14] ev1stensberg commented on #489
My bad, I’ll draft a release when I get the time

[2018-10-19 18:16] ev1stensberg commented on #152
Makefile only builds when a change is done to the source code. It would be nice to do the same thing with webpack, kinda like how hot reloading works, but without the compilation overhead

[2018-10-21 12:49] LakshSingla commented on #648
I think it would be better if the user is able to choose the config file from the filesystem. If not possible, we can detect all the files starting with `webpack\.*` and provide the user with the option of which configuration to use.

[2018-10-21 12:55] LakshSingla commented on #647
@rishabh3112 It would be great if we after the initial scaffolding of the project, we can distribute the task of creating the UI and the server amongst ourselves.

[2018-10-21 13:02] rishabh3112 commented on #647
That's what we would be doing 😉.
Once the foundation is made we would most likely have a brainstorm. Mostly for `api` functionalities and frontend design of the app.

[2018-10-22 21:33] greenkeeper[bot] opened #652 "An in-range update of @types/jest is breaking the build 🚨"
## The devDependency [@types/jest](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `23.3.6` to `23.3.7`.

🚨 [View failing branch](https://github.com/webpack/webpack-cli/compare/master...webpack:greenkeeper%2Fdefault%2F%40types%2Fjest-23.3.7).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/jest

[2018-10-24 07:05] rishabh3112 opened #654 "UI: Layout designs for frontend of webpack-cli ui"
Designs for Layout of webapp for `webpack-cli ui`. I would prefer a single page application otherwise as per @ematipico or other core contributors.

[2018-10-24 17:49] greenkeeper[bot] opened #655 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.22.0` to `4.23.0`.

🚨 [View failing branch](https://github.com/webpack/webpack-cli/compare/master...webpack:greenkeeper%2Fdefault%2Fwebpack-4.23.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this proje

[2018-10-25 21:39] ev1stensberg commented on #655
This should be updated

[2018-10-26 07:46] dhruvdutt commented on #652
These errors are increasing. Should we get rid of greenkeeper?

[2018-10-27 22:58] ev1stensberg commented on #489
Here's the release https://github.com/webpack/webpack-cli/releases/tag/v3.0.0. We used a auto-commiter and publisher in early v.3 and we had some trouble with versioning. Sorry for the inconvinience

[2018-10-28 12:51] #655 closed

[2018-10-29 02:40] DelfsEngineering commented on #541
Any update on this?

[2018-10-29 11:49] ematipico commented on #541
It's supposed to be resolved. If you still have this issue, please file a new issue with information of how to reproduce it

[2018-10-29 12:37] rishabh3112 commented on #654
I have designed one if it seems fine I will design other pages too.
![web 1280 1](https://user-images.githubusercontent.com/15812317/47650030-0254d180-dba5-11e8-89f1-9dc6edc18b46.png)

P.S. It is my first shot to designing so please go slow !

[2018-10-29 12:47] rishabh3112 commented on #647
We can discuss which one to use now @ematipico @evenstensberg?
- [ ] preact
- [ ] react
- [ ] vue

----

I can't get what you want to say here @evenstensberg

[2018-10-29 12:57] evenstensberg commented on #647
We should use preact because it is small and we are collaborating with their CLI

[2018-10-29 14:46] ematipico commented on #647
I don't mind any library, as far as the people are going to contribute it are willing to adopt it and have fun :)

[2018-10-29 15:56] renatoagds commented on #647
no problem for me to go ahead with `preact`. if @evenstensberg prefer it, let's go.

[2018-10-29 16:11] rishabh3112 commented on #647
Let's work on preact then !!

[2018-10-29 18:29] greenkeeper[bot] opened #660 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `10.12.0` to `10.12.1`.

🚨 [View failing branch](https://github.com/webpack/webpack-cli/compare/master...webpack:greenkeeper%2Fdefault%2F%40types%2Fnode-10.12.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/no

[2018-10-29 19:03] jeffbyrnes commented on #489
Thanks @evenstensberg! All good; versioning is hard, and auto-versioning harder still.

[2018-10-29 21:46] renatoagds commented on #647
@ematipico @rishabh3112 are we going to follow the same path, and opening an PR with preact foundation?

[2018-10-30 06:10] #660 closed

[2018-10-30 06:57] ematipico commented on #647
@renatoagds Yes! Feel free to make a PR if you want. With preact cli it should quite quick to bootstrap a project

[2018-10-30 19:04] evenstensberg commented on #489
Yep and people we’rent happy about having to update their dependencies that often. Send me a message if you have any additonal questions!

[2018-10-30 19:30] evenstensberg commented on #569
What this consists of is to merge the configuration you are provided as an option with this one given as a flag

[2018-10-30 23:41] evenstensberg opened #667 "[Documentation] Webpack-scaffold documentation and guides"
**Is your feature request related to a problem? Please describe.**
Currently, there's few ways to get to know how to create a webpack-scaffold. After `webpack-ui` is done, this is going to implemented as a bootstrapping system onto the UI. It would be nice to make documentation more accessible so that users can create their own pre-configured configurations.

**Describe the solution you'd like**
W

[2018-10-30 23:43] evenstensberg opened #668 "[Documentation] Webpack-scaffold Overview"
**Is your feature request related to a problem? Please describe.**
It would be nice with an overview of current scaffolds at https://github.com/webpack/webpack.js.org.
**Describe the solution you'd like**
A search page at https://github.com/webpack/webpack.js.org where we use Agnolia to search current `webpack-scaffold-name`'s.

**Describe alternatives you've considered**
N/A

**Additional context

[2018-10-30 23:45] evenstensberg opened #669 "[UI] Option to Install a webpack-scaffold in UI"
**Is your feature request related to a problem? Please describe.**
When using `webpack ui` we should be able to use a `webpack-scaffold` and download a pre-configured configuration.

**Describe the solution you'd like**
Clicking a button to have a configuration set up

**Describe alternatives you've considered**
N/A

**Additional context**
In order for this to fully function programatically we can

[2018-11-01 18:04] LakshSingla commented on #654
@renatoagds Have you started working on the frontend part of the design? If not, I would love to contribute to it

[2018-11-01 18:19] renatoagds commented on #654
@LakshSingla we do not start the frontend part yet. I'm finishing the preact setup that we discussed in #647

[2018-11-02 01:34] rishabh3112 commented on #654
Design is not final as it will go through reiterations through @evenstenberg as he told me so don't waste in implemented it right away.
@LakshSingla hold your nerves and wait for @renatoagds to finish !!
Meanwhile you may like to work on ui-server ?

[2018-11-02 18:10] rishabh3112 commented on #152
@evenstensberg Ok I got what's required. Can I get some pointers where should I start exploring?

I havn't explored codebase much and can't find where to look if you can provide that it would be great help!!

P.S.
You may also update issue to guide others too like on which file we can start hacking,etc. It will help new contributors (like me) to work on issue.

[2018-11-02 20:53] evenstensberg commented on #152
I think we have one, could you give a detailed elaboration on what you found hard? It helps us to narrow down first contribution cases, cc @fokusferit . You should navigate to `packages/make` where you will need to implement the logic. Maybe @lencioni

[2018-11-02 21:09] evenstensberg commented on #569
This is being resolved at #527

[2018-11-03 01:34] rishabh3112 commented on #152
Situations I found hard:
1. How would I access the user's directory as well as other modules from the make package?
2. Do we have to keep check of AST of each code file or snapshots would be way to go.

[2018-11-03 16:17] evenstensberg commented on #152
1. You can use `process.cwd()`
2. No need to use snapshots or ast's, you will need to check if the source code has changed, so I would start looking at how HMR works under the hood

[2018-11-03 16:42] evenstensberg opened #672 "[Feature] Add extractSummary to test infrastructure"
**Is your feature request related to a problem? Please describe.**
It would be good to have more granular assertions using `extractSummary` similar to [Jest](https://github.com/facebook/jest/blob/7b7fd013508de475e2151e50847373713fc97c7e/e2e/Utils.js#L139)

**Describe the solution you'd like**

Implement a utility to use `extractSummary` like this:

https://github.com/jbdemonte/jest/blob/9a90cfee87

[2018-11-03 17:39] rishabh3112 commented on #152
This is what I came up with @evenstensberg.
1. Store duplicate of `base` state source code (as we are not constantly watching files for changes).
2. Examine AST of each file in `base` state for its dependencies to determine `parent` and `child` modules for that file and store it as tree with root as entry.
3. If there are changes in `updated` state (as compared to `base` state), Then build (only)

[2018-11-03 20:01] LakshSingla commented on #649
I would like to take up this issue. For the starters, I will make `init` functionality as laid out in the `packages/ui-server` package. How should one go about creating `init` for a non default scaffold ?

[2018-11-03 22:03] hansifer opened #673 "select No for "Will you use one of the below CSS solutions" selects SASS"
**Describe the bug**

when running `npx webpack-cli init` and answering the questions, using arrow keys to select **No**, then hitting enter results in the wizard selecting the **SASS** option.

**What is the current behavior?**

when running `npx webpack-cli init` and answering the questions, using arrow keys to select **No**, then hitting enter results in the wizard selecting the **SASS** option

[2018-11-03 22:10] hansifer opened #674 "Cannot find module 'uglify-es'"
**Describe the bug**

running webpack command after running `npx webpack-cli init` and answering questions results in `Error: Cannot find module 'uglify-es'`

**What is the current behavior?**

running webpack command after running `npx webpack-cli init` and answering questions results in `Error: Cannot find module 'uglify-es'`

**To Reproduce**
Steps to reproduce the behavior:
1. `npx webpack-cli

[2018-11-03 22:16] hansifer opened #675 "SyntaxError: Unexpected token ."
**Describe the bug**

running webpack after `webpack-cli init` results in error `SyntaxError: Unexpected token .`

**What is the current behavior?**

running webpack after `webpack-cli init` results in error `SyntaxError: Unexpected token .`

**To Reproduce**
Steps to reproduce the behavior:

Steps to reproduce the behavior:
1. `npx webpack-cli init`
2. `Will your application have multiple bundles

[2018-11-03 22:20] hansifer opened #676 "Cannot find module '@babel/core'"
**Describe the bug**

running webpack after `webpack-cli init` results in error `Cannot find module '@babel/core`

**What is the current behavior?**

running webpack after `webpack-cli init` results in error `Cannot find module '@babel/core`

**To Reproduce**

Steps to reproduce the behavior:
1. `npx webpack-cli init`
2. `Will your application have multiple bundles?` answer: n
3. `Which module wil

[2018-11-04 07:48] dhruvdutt commented on #673
<img width="499" alt="screenshot 2018-11-04 at 1 16 54 pm" src="https://user-images.githubusercontent.com/5961873/47961592-0add5a00-e034-11e8-84c7-87b97953c7d9.png">

I followed the steps for reproducing, it works fine for me. Option "No" is getting selected.

Can you please make a gif or something to reproduce the issue?

[2018-11-04 07:58] ematipico commented on #673
I think the issue is that by selecting No, the final config has SASS but instead it should not have nothing

[2018-11-04 09:06] dhruvdutt commented on #674
Couldn't reproduce this. Can you try outputting `npm list uglify-es`? I think your installation failed due to some reason and hence it could not find the module.

<img width="565" alt="screenshot 2018-11-04 at 1 34 03 pm" src="https://user-images.githubusercontent.com/5961873/47961724-87713800-e036-11e8-93f6-ee011b70f2be.png">

[2018-11-04 09:09] dhruvdutt commented on #673
@ematipico Checked that as well. The final config doesn't contain SASS. Can you try if you can reproduce the issue?

[2018-11-04 10:49] hemal7735 opened #679 "[BUG] : webpack-cli does not honor webpack-config file passed as param"
**Describe the bug**

**What is the current behavior?**

I have used webpack, however this is the first time I'm using webpack-cli.

**To Reproduce**
Steps to reproduce the behavior:
1. create webpack-config file `webpack.foo.js`
2. use command `npx webpack-cli remove webpack.foo.js`
3. It throws the error -->
**ERROR webpack.config.js** not found. Please specify a valid path to your webpack confi

[2018-11-04 13:04] #676 closed

[2018-11-04 13:07] evenstensberg commented on #674
Npx doesn't install a lock-file I think, maybe try to do it without npx?

[2018-11-04 13:59] rishabh3112 commented on #152
Would that be good @evenstensberg

[2018-11-04 14:01] #564 closed

[2018-11-04 14:30] hemal7735 commented on #679
@dhruvdutt thanks for acknowledging this. I already saw the `add` code, and I will raise a PR soon.

[2018-11-04 14:34] hemal7735 commented on #679
@dhruvdutt We will need to change the same for `update` as well. Shall I raise separate PR for that?

[2018-11-04 14:38] evenstensberg commented on #679
Fixed at #680

[2018-11-04 15:09] evenstensberg commented on #673
@dhruvdutt you can reproduce this locally yourself

[2018-11-04 15:46] hansifer commented on #674
I tried running webpack via npm script as well. same result.

I discovered that when i rename the generated webpack.dev.js to
webpack.config.js, it gets past this particular error.

On Sun, Nov 4, 2018 at 6:07 AM Even Stensberg <notifications@github.com>
wrote:

[2018-11-04 15:49] hansifer commented on #673
Any suggestions on how to capture a gif or video of my screen without the
use of paid software on Windows?

On Sun, Nov 4, 2018 at 1:48 AM Dhruvdutt Jadhav <notifications@github.com>
wrote:

[2018-11-04 15:58] dhruvdutt commented on #673
Try [Captura](https://github.com/MathewSachin/Captura) or [ShareX](https://github.com/ShareX/ShareX).

[2018-11-04 16:04] rishabh3112 commented on #654
What changes you want here @evenstensberg?

[2018-11-04 16:06] hansifer commented on #673
This is what I see prior to selecting the css solution. The cursor is after "No" and using up/down arrow keys simply moves the cursor up/down (to item "selection" is apparent).

![webpack-cli-bug](https://user-images.githubusercontent.com/1163334/47966522-92b16d00-e010-11e8-9e56-f57b5867c555.png)

This is what I see after I hit enter when the cursor is next to "No". Explicitly typing "No" before h

[2018-11-04 17:17] dhruvdutt commented on #673
This seems to be some issue with [Inquirer's `List`](https://github.com/SBoudrias/Inquirer.js#list---type-list). We use this to show the prompt. I'm not able to reproduce this on macOS.

If you can try to run the [`List`](https://github.com/SBoudrias/Inquirer.js/blob/master/packages/inquirer/examples/list.js) example from [Inquirer's official samples](https://github.com/SBoudrias/Inquirer.js#examp

[2018-11-04 20:13] hansifer commented on #674
I assume you mean `npx webpack --config webpack.dev.js` since the above command produces an error `Cannot find module 'webpack.dev.js'` ?

With the latest version of webpack-cli it is producing a `webpack.prod.js` file now and I am no longer able to repro this bug (with either a `webpack.prod.js` or a renamed `webpack.dev.js` file).

BTW, I did confirm previously that `npm list uglify-es` output t

[2018-11-05 04:44] hemal7735 commented on #672
@evenstensberg what is the expectation here?

[2018-11-05 04:46] evenstensberg commented on #672
More granular test assertions on stdout, look at how jest did it and try to mimic the same behaviour

[2018-11-05 05:53] dhruvdutt commented on #673
Can you try with the default standard command prompt of Windows?

[2018-11-05 06:40] hemal7735 commented on #672
So, the idea is to have only summary, trimming all stacktraces and individual test group results?
[code]
What is the plan for integrating this with current infra? Are we going to have proxy which can accept params and then run tests, giving results based on params ?

[2018-11-05 07:39] ematipico commented on #672
@hemal7735 Let me give you some context

We recently re rewrote our test suite for the bin cases. Now it's faster, more maintainable and we also have some snapshot tests.
In these tests we basically run webpack in a sub process and we grab it's output and we remove some information that are not needed. Everything is done in this function

https://github.com/webpack/webpack-cli/blob/master/test/tes

[2018-11-05 08:53] burakkp commented on #607
thank you. I did have the same problem. I fixed with that solution.

[2018-11-05 16:55] hansifer commented on #673
It works fine with Windows' native command prompt and PowerShell.

[2018-11-05 17:07] dhruvdutt commented on #673
Seems like there are some issues of Inquirer with git bash.
References: [#266](https://github.com/SBoudrias/Inquirer.js/issues/266), [#303](https://github.com/SBoudrias/Inquirer.js/issues/303), [#507](https://github.com/SBoudrias/Inquirer.js/issues/570).

[2018-11-05 17:07] #673 closed

[2018-11-06 01:57] LakshSingla commented on #649
@ematipico @evenstensberg  I am stuck on creating the `init` functionality. To achieve the creating of `webpack` config file, I was using `child_process` module, and communicating via the `@webpack-cli/init` using its `spawn` function. But there is difficulty in synchronisation of input and ouput. ( I am creating an output string and directly dumping it onto the child process's `stdin`. I would re

[2018-11-06 06:11] ematipico commented on #649
Would you like to create a PR with the code so we can give some direction and try to understand the problem?

I don't think you need to use a raw `child_process`. You can use `execa` for that (we use it already for our tests).

[2018-11-06 07:37] LakshSingla commented on #649
@ematipico Sure thing. Lemme use `execa` in my code and I will send a PR.

[2018-11-06 08:09] LakshSingla commented on #649
@ematipico Please review the PR and confirm if I am on the right track. It is not the cleanest way to achieve the above task hence I am a little skeptical if I have understood the aim correctly. I will make the necessary changes as soon as possible so that we are making some real progress on this goal.

[2018-11-10 16:14] evenstensberg commented on #674
Could you try to do `--config=webpack.dev.js`?

[2018-11-10 16:14] evenstensberg commented on #654
We can take it up at the meeting we're having, do you want to join us @rishabh3112 ?

[2018-11-10 16:15] evenstensberg commented on #152
Yeah let's try

[2018-11-11 04:31] rishabh3112 commented on #654
Cool, I would join the meeting but keep it after 1st December, I would be having end semester exams in this month.
P.S. Just to confirm, the meeting would be on hangout right?

[2018-11-12 02:38] rishabh3112 commented on #654
Yeah, but after 1st December.

[2018-11-12 10:12] EugeneHlushko commented on #674
@hansifer The reason behind this: "I discovered that when I rename the generated webpack.dev.js to
webpack.config.js, it gets past this particular error, but the reason for this is not obvious."

is that `webpack-cli` looks for `./webpack.config.js` file when no config file was passed.

[2018-11-13 09:01] evenstensberg commented on #654
Okay, we'll take up things needed at the meeting and I'll get back to you afterwards 👍

[2018-11-13 10:29] GMartigny opened #689 "Feature: Find config recursively"
**Is your feature request related to a problem? Please describe.**
Unlike shellscape/webpack-command (formerly webpack-contrib/webpack-command) configuration file is not searched upward in the directory tree. When using monorepo, I would like to set one configuration's file at the root and not for each sub-modules.

**Describe the solution you'd like**
Being able to define only one webpack configu

[2018-11-13 11:03] #672 closed

[2018-11-14 09:46] yvonnendutaw commented on #299
Thanks! This worked for me too!

[2018-11-14 18:19] Neskews commented on #436
``npm rm -g webpack-cli``
And in the project
``npm i -D webpack-cli``

That did it for me

[2018-11-14 19:57] gogromat commented on #299
Note: installing webpack globally is not [recommended](https://webpack.js.org/guides/installation/#global-installation).
For now I reference it as ```node_modules/webpack/bin/webpack.js``` in ```package.json/scripts``` section

[2018-11-16 21:50] mosesnova commented on #299
npm i -D webpack-cli Worked for me.

[2018-11-17 16:10] lakatostamas commented on #689
Hi!
Can I send a PR for this?

[2018-11-17 16:46] dhruvdutt commented on #689
Absolutely. 👍

[2018-11-18 13:17] evenstensberg opened #690 "[BUG]: Fix Security issues"
**Describe the bug**

There are various of security bugs that might be good to fix

**What is the current behavior?**

Outdated dependencies, would need to up/downgrade

[2018-11-18 15:11] damianobarbati commented on #289
Can npx used to accomplish the result? i.e: `npx -n=' --max_old_space_size=4096'`
Not sure how to inspect max memory limit for current process in js.

[2018-11-19 13:45] evenstensberg commented on #289
Yes if npm supports injection of args. We cannot use this as a fix to us, as the flags needs to be supported by default not by running npx

[2018-11-20 13:26] vagisha-nidhi opened #694 "Test reports are not being published to Azure Pipelines"
Tests are running in the pipeline, but results are not being published for reporting. Azure Pipelines provides excellent reporting capabilities that help you with:

Easy analysis and troubleshooting for failed tests - the test reports show all relevant details (error message, stack trace, failing for how long, etc.) to make it easy to analyze failed tests.
Timing analysis - Test duration informati

[2018-11-20 14:10] ematipico commented on #694
That would be amazing!

[2018-11-21 14:56] #679 closed

[2018-11-21 14:57] #690 closed

[2018-11-21 17:00] #694 closed

[2018-11-27 10:15] ematipico opened #697 "Lock versions of the dependencies"
Due to the recent problems happened to the npm world, I'd propose to lock all the versions of our dependencies and development dependencies

It's not a bulletproof solution must at least it's something

Before:
[code]
After:
[code]

[2018-11-27 14:47] dhruvdutt commented on #697
Can you also suggest recommended security procedures for updating dependencies manually? One platform is [snyk](https://snyk.io/) definitely.

[2018-11-27 14:59] ematipico commented on #697
It's already in place in our CI

[2018-11-27 16:40] dhruvdutt commented on #697
Yeah, we always check that while upgrading.
Not sure if we need to pin all dependencies explicitly.
@evenstensberg WDYT?

[2018-11-27 17:48] evenstensberg commented on #697
Let's discuss this

[2018-11-27 18:14] ematipico commented on #697
This is the place to discuss it :) what do you think even?

[2018-11-28 06:10] dhruvdutt commented on #697
Hmmm, makes sense. We can try pinning dependencies.
I will take the responsibility for upgrading packages every fortnight with a proper audit. ✋

[2018-11-28 12:48] pruthvi204 opened #698 "npm has deprecated flatmap-stream` and `event-stream@3.3.6`"
**Describe the bug**

A 💯 way to do this is to provide your configuration via a GitHub gist and/or to use markdown when describing which commands you used when the error occurred! Be precise and clear in your description of the bug.

**What is the current behavior?**

What is the current behavior?
flatmap-stream and event-stream has been deprecated yesterday itself. while install npm getting error

[2018-11-28 15:45] dhruvdutt commented on #698
We don't use either of `flatmap-stream` or `event-stream` package directly.

Where are you trying to run `npm install`? I just tried doing a fresh clone of `webpack-cli` repo and it installed everything correctly.

[2018-11-28 16:10] rishabh3112 commented on #698
Installations are working fine on the latest npm versions of both `webpack` and `webpack-cli` too.
@pruthvi204 please add steps to reproduce the error.

[2018-11-28 18:48] #698 closed

[2018-11-29 00:45] evenstensberg opened #699 "Discussion: New Output & Setting Defaults"
## Summary

As the refactoring of webpack-cli is about to end, webpack-cli v4 is rolling out in near future, I want to ask the community for feedback on what they might find useful in webpack-cli and in the compilation output we give you. To be frank, the current output is not that pretty, on long compilations the output is easily bloated and the CLI is not ideal for beginners.

### My questions a

[2018-11-29 05:40] DanielRuf commented on #699
Short: I began working on some CLI solution which asks questions like `which CSS (ore)processing do you want to use`, `which browsers should be supported` and so on and generate the config from small config parts and so on (webpack-merge, ...).

More like a scaffolding / prototyping solution to bootstrap better configs.

But the project is currently paused.

[2018-11-29 05:59] #652 closed

[2018-11-29 07:04] donaldpipowitch commented on #699
Thanks for the work.

- On successful (re)build - just log time and duration.
- On errors and warnings - explain _where_ and _why_ this happens and additionally with a link to some documentation page for further information (so the output in general keeps to be as "small" as possible).

- Very verbose or artificial warnings and errors.
- Name, sizes and amounts of chunks and so on.

It's good. Nea

[2018-11-29 07:36] DanielRuf commented on #699
Exactly what I thought about, a monorepo of configurations / configuration presets / configuration snippets which can be also require'd and consumed in many projects.

Was a very rough and first idea for an internal project (probably a stupid idea - the approach, not sure, was just an idea): https://github.com/DanielRuf/generator-webpack

[2018-11-29 08:55] johnnyreilly commented on #699
You may not be aware of it, but something of this nature already exists!

https://github.com/namics/webpack-config-plugins

cc @jantimon

[2018-11-29 09:10] DanielRuf commented on #699
I know and I know namics but thanks. We had specific internal requirements (own configuration presets and own setup with a small footprint / less dependencies).

[2018-11-29 09:11] DanielRuf commented on #699
Also we had an interactive CLI in mind, without npx / npm and and not a requirement to remember the right params.

[2018-11-29 10:18] jantimon commented on #699
@DanielRuf could you go a little bit more in detail?
Actually the webpack-config-plugins offer both - A wrapper which configures everything at once and for example just the Typescript configuration or just the Babel configuration based on the recommended ts-loader configuration and on the create-react-app babel configuration

[2018-11-29 10:34] DanielRuf commented on #699
Hi there @jantimon, a CLI is basically what the webpack-cli and so on do (prompts / inquirer, plop, yeoman, ...).

https://github.com/DanielRuf/generator-webpack/blob/master/index.ts#L12

What you do is basically shipping just some configs.
plugin !== generator ;-)

I hope you know what a CLI normally does (ask questions and do things depending on the answers given by the user).

https://github.co

[2018-11-29 11:01] jantimon commented on #699
I know CLIs but thanks anyway.

My intend was to find out what part of https://github.com/namics/webpack-config-plugins could be improved to be a better match for your requirements.

Because that's what this repository should be about:
configurations & configuration presets / configuration snippets
And it also provides plugins which automatically load those presets for you :)

[2018-11-29 11:04] DanielRuf commented on #699
I guess it is more about the current structure of the CLI which already ships such examples as JSON strings / objects which are merged and then written to the config files.

Not a JS API which is used as plugin (more abstraction and so on).
But it could be interesting to find the right approach. But the CLI is basically use once and then use the result of it. It is not a dependency of projects in

[2018-11-30 16:04] dhruvdutt commented on #698
@pruthvi204 @Mikkou Can you please mention steps for reproducing? Where exactly are you running `npm install`? And why do you think this is an issue with `webpack-cli`?
The screenshots are slightly ambiguous.

[2018-11-30 16:59] Mikkou commented on #698
@dhruvdutt i found problem
https://github.com/dominictarr/event-stream/issues/116?ref=hvper.com&utm_source=hvper.com&utm_medium=website

[2018-11-30 22:56] DanielRuf commented on #699
In general this is just a small part of webpack options (and additional plugins and plugin options as we already saw in the past, for example to scaffold a scss setup or PostCSS setup just as an example).

But at least something.

[2018-12-03 03:49] rishabh3112 commented on #654
Any updates here @evenstensberg?

[2018-12-03 17:22] sendilkumarn commented on #697
Let us add dependabot here and pin the libraries. I think that makes sense with security.

[2018-12-03 17:37] evenstensberg commented on #654
We're having designers from zalando (cc @fokusferit ) that will have a look at this with user stories and flow as well as one of the creators of vue ui

[2018-12-03 17:39] ematipico opened #701 "Enh: Moving from UglifyJSPlugin to TerserPlugin"
**Is your feature request related to a problem? Please describe.**
Our cli still uses uglify js plugin when it generates/migrate. That library is now ditched by `webpack` , so we should move to the new plugin too

**Describe the solution you'd like**
Using `TerserPlugin`

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2018-12-03 18:13] abenezerabebe commented on #701
I'd be happy to pick this one up!

[2018-12-03 20:14] sendilkumarn commented on #701
@abenezerabebe Go ahead 👍

[2018-12-03 20:16] sendilkumarn commented on #15
@evenstensberg Is this ticket still valid? Can we close this?

[2018-12-04 04:06] rishabh3112 commented on #654
Awesome 🤩

[2018-12-04 05:32] mrded commented on #698
Updating `nodemon` to "1.18.7" solves the problem. For some reason it had missing dependency to `event-stream`. Newest version doesn't require `event-stream` at all.

[2018-12-04 09:32] evenstensberg commented on #15
Still valid, we need to lookup webpack config changes too, doing it in the new version

[2018-12-06 11:55] hemal7735 commented on #668
@evenstensberg can we get more information regarding what is expected here? Maybe some example would help.

[2018-12-06 12:04] ematipico opened #705 "Improve webpack integration tests"
**Is your feature request related to a problem? Please describe.**
Inside `binCases` folder, we run a bunch of integrations test where we make sure that the output on webpack is correct against some specific arguments passed via CLI.

At the moment, when we get the output from a `webpack` process, we remove from it hash, timestamps, etc. and we provide this output to the test case.

This prevent f

[2018-12-07 06:56] Wkasel commented on #296
I ran into the same issue, and my fix was to add `@babel/register`

Referenced from above link to other issue:
[https://github.com/babel/babel/issues/7110#issuecomment-372155709](https://github.com/babel/babel/issues/7110#issuecomment-372155709)

[2018-12-07 14:10] evenstensberg commented on #668
Yes. Add Agnolia to search for webpack scaffolds. A WIP PR is up here:

https://github.com/webpack/webpack.js.org/pull/2171

CC @haroenv

[2018-12-07 14:48] Haroenv commented on #668
How are the webpack-scaffolds recognisable on npm, a keyword?

[2018-12-07 14:48] evenstensberg commented on #668
They are prefixed with `webpack-scaffold`

[2018-12-07 14:50] Haroenv commented on #668
A PR can be made here

https://github.com/algolia/npm-search/blob/c7b4fd9f60e64588e9c2cdab2990185d253ba6d1/src/formatPkg.js#L207-L230

so that it can be filtered effectively. Once that is done, I can create a search API key for webpack

[2018-12-07 15:05] evenstensberg commented on #668
@Haroenv

Is this right? https://github.com/algolia/npm-search/pull/296

A correct name would be: `webpack-scaffold-yolo`

[2018-12-07 15:46] Haroenv commented on #668
It's right if you want to enforce the keyword, I'm not sure if you want to though

[2018-12-07 16:13] evenstensberg commented on #668
No, removing nwo

[2018-12-08 22:08] TheLarkInn opened #706 "Enh: Generate .babelrc and do not place babel config in webpack config"
**Describe the bug**
[code]

**What is the current behavior?**
Currently as seen above in the example we are putting babel configuration in the config file. This is really an antipattern in my opinion and in what I am teaching to users. We should strive to have the configs as clean as possible and therefore our cli's default output should respect that.

**To Reproduce**
Steps to reproduce the beha

[2018-12-08 22:13] TheLarkInn opened #707 "Enh: Name of webpack config should default to `webpack.config.js`"
**What is the current behavior?**
I noticed that in the default setup, that a "webpack.dev.js" file was created. By default webpack looks for webpack.config.js at the root of a project. For the sake of cleanliness and easy to write scripts, we should be outputting webpack.config.js as the default. For dev and prod versions (I'll put in a separate issue for this).

**Please paste the results of `we

[2018-12-08 22:25] TheLarkInn opened #708 "Don't scaffold "dist" property if user just chooses default."
**What is the current behavior?**
`output: {path: path.resolve(__dirname, 'dist')}`

**Expected behavior**
If single entry and default output is chosen, do not even create it since webpack always defaults this. We want to stop creating config if we don't need to.

[2018-12-08 22:34] evenstensberg commented on #708
Having a look at it. Thanks for reporting!

[2018-12-08 22:35] evenstensberg commented on #707
Will have a look!

[2018-12-08 22:36] evenstensberg commented on #706
It's easier for us cause we don't have to generate or check an existing file. Maybe we can combine in a babel generator. Will investigate

[2018-12-08 22:46] TheLarkInn opened #709 "[Feature Request]: Let's rework some of the main scaffolding layout"
**Describe the solution you'd like**
Let's rework how development and production configs are laid out.

- [x] Always no matter what, config is generated in root of project
- [ ] Config is generated _IF_ defaults are not used
- [x] Config is always named `webpack.config.js`
- [ ] Development and Production configs are composed or combined using `webpack-merge` not Object.assign
- [ ] Development an

[2018-12-08 23:00] TheLarkInn commented on #706
If no babelrc is present create, otherwise, thats when we have to decide what is better to do here.

[2018-12-09 08:49] hemal7735 commented on #705
@ematipico If I comprehend that correctly,
1.  We want to call `extractHash` as well in the test-case itself
2. `removeTimeStrings` should be renamed to `extractSummary`

[2018-12-09 16:59] ematipico commented on #705
`extractHash` only in those tests where it's needed

[2018-12-09 20:49] evenstensberg commented on #282
I think we should put this for chill on now, eval is not a good thing and using the eval code for a rejected promise would mean a lot of work to get it right and tight. We could spawn a child process to get the config through esm/std once we're more laid up for it.

[2018-12-10 11:56] Haroenv commented on #668
[code]

All information is now kept updated.

Here's an example with React InstantSearch:
[![Edit react-instantsearch-app](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/8nk1p91l5l?module=%2Fsrc%2FApp.js)

[2018-12-11 19:11] Jack85 commented on #299
Same issue, deleting node_modules and package.lock worked for me
  - thnx to th3n3wguy and refenced issue
https://github.com/vuejs/vue-cli/issues/2548#issuecomment-423593100

[2018-12-14 16:34] fokusferit commented on #654
so @ here -> I talked with 2 designers in my unit and one would be interested. I will discuss with him some questions, but I'm sure he will ask something around:

" How does the user flow will look like?" or "What is the thing he will see at the first page and where can the user go from there (or not) ?", as he is not a technical person, I might need some help here what your vision is. We had a Ch

[2018-12-14 21:00] evenstensberg commented on #654
Yes, let’s invite him to the meeting and take it from there!

[2018-12-14 21:37] renatoagds commented on #654
@evenstensberg @fokusferit after the meeting, please, put the notes here, so we could help with opinions 👍

[2018-12-15 15:36] ematipico commented on #697
@evenstensberg what are your thoughts about?

[2018-12-15 18:01] evenstensberg commented on #697
We got snyk which I think is enough

[2018-12-15 23:46] ematipico commented on #697
It's enough for us but unfortunately it's not enough for the security for the users

We know that if we don't pin our dependencies and there's no lock and it's not been used properly, the consumers will get into their dependency tree all the minor releases/fixes even though it shouldn't be like this.

Change is for who consumes the library

[2018-12-16 13:31] #697 closed

[2018-12-16 20:52] evenstensberg opened #712 "[Documentation] Add installation guide to webpack-scaffold"
**Is your feature request related to a problem? Please describe.**
When trying to update the `webpack-scaffold-demo` repo was trying to quickly copy-paste the installation command, but didn't find any.

**Describe the solution you'd like**
Add installation guide to `webpack-scaffold` package.

**Describe alternatives you've considered**
N/A

**Additional context**

1. Go to `packages/webpack-scaff

[2018-12-16 20:54] evenstensberg opened #713 "[Documentation] Add overview of packages in /packages"
**Is your feature request related to a problem? Please describe.**
It would be nice with an overview `README.md` on `/packages` so that people can quickly browse and read the readme to get an understanding.

**Describe the solution you'd like**
A elaborative readme with an overview of packages, what they do and how they connect with the main CLI.

**Describe alternatives you've considered**
N/A

*

[2018-12-17 11:43] evenstensberg commented on #712
Webpack scaffold is a yeoman generator but it provides some functions that you can use to compose yeoman generators to create webpack configurations. Does this make sense?

A regular generator, but you can import functions to generate a webpack configuration

[2018-12-17 21:05] sw-yx commented on #712
ok and is this a one-off scaffolding tool that you only use at the start of a project or would this work with existing projects? im guessing the former?

[2018-12-18 09:24] evenstensberg commented on #712
It works with excisting projects if you design it such that you parse a config file and then assign props to it, should work. We only get input opts and write to that file after constructing an ast for it and parsing it back as a js file

[2018-12-19 15:18] EvsChen commented on #708
@evenstensberg Can I take a try on this?

[2018-12-19 15:39] evenstensberg commented on #708
Sure, go ahead

[2018-12-19 19:03] ltabosa commented on #698
This [solution](https://github.com/umbraco/Umbraco-CMS/issues/3811#issuecomment-443432943) worked for me.

Remove `package-lock.json` local, Remove `node_modules`, run `npm install`

[2018-12-19 20:20] dhruvdutt commented on #708
@EvsChen Sure! Let us know if you run into any issues.

[2018-12-20 00:41] sw-yx commented on #712
oh thats pretty cool! enahnces the usability for sure! 🔥 will keep close watch

[2018-12-20 16:36] LakshSingla commented on #713
What all should be included pertaining to a particular package ??

[2018-12-21 14:42] evenstensberg commented on #713
Do you mind elaborating? I think the readme should include

1. Overview
    - what this folder contains and why
2. Contents
  - list of all packages and what they do

[2018-12-21 19:07] emilas44 commented on #15
Is this implemented already... already 17 days passed from last post.... I just got here from link in the book.

[2018-12-21 20:03] yacinehmito commented on #15
@emilas44 This issue is open since 2016. It is hardly critical. I don't know what you're expecting in 17 days but know that, as most open source projects, webpack is being made by volunteers an is financed by donations. Neither you nor I is entitled to anything but the freedom to contribute to the project.

[2018-12-21 23:57] gkiely commented on #13
@evenstensberg Thankyou for writing this!
I'll see if I can re-submit it?

[2018-12-22 09:37] evenstensberg commented on #13
I think maybe we should wait until the new CLI is done to see what features are needed and wanted

[2018-12-22 10:09] himanshuc3 commented on #617
I would also love to get in on ```webpack-cli ui```. Has it started or yet to be scaffolded? More the people, faster the feature integration I guess.

[2018-12-22 11:16] rishabh3112 commented on #617
Sure, @himanshuc3.
Currently foundation is in process. We would be starting actual development soon.

[2018-12-25 21:16] evenstensberg opened #717 "[ROADMAP] Webpack-CLI v4 Roadmap"
## Summary

This is the roadmap to keep progress of webpack-cli v4 which is on the `next` branch of webpack.

## TODO

### Stable
- [ ] Choose a lead developer **ALWAYS TO READ**

In order to avoid conflicts and misunderstandings what happened before, together we select a leading developer. This person makes the final decision, when a dispute arises. If a situation arises when the whole team belie

[2018-12-28 17:05] renatoagds commented on #717
@evenstensberg `cli-ui` will be released with next our standalone?

[2018-12-28 20:42] ematipico commented on #717
The UI package will be released as a standalone package, probably will release a *minor* version just to support the cli command

[2018-12-28 22:40] #713 closed

[2019-01-01 10:06] eavichay opened #721 "cli/init Vulnerability Issue at npm release 0.1.2"
**Describe the bug**

npm audit fails on `@webpack-cli/init ^0.1.2`

**To Reproduce**

package.json
[code]

[code]
Revelas 1 _high_ severity issue: \@webpack-cli/init > \@webpack-cli/generators > webpack-dev-server

more info: https://nodesecurity.io/advisories/725

Should upgrade the dev-server to a higher version > 3.1.6+

**Expected behavior**
Pass the npm-audit

[2019-01-01 10:08] eavichay commented on #721
Our CI/CD server does not permit audit failures, unfortunately even for dev-dependencies.

[2019-01-02 11:12] eavichay commented on #721
@ematipico Done.

[2019-01-03 09:22] JounQin opened #724 "`webpack.config.ts` can not be resolved any more after upgrading to 3.2.0"
**Describe the bug**

As Title.

**What is the current behavior?**

[code]

**To Reproduce**
Steps to reproduce the behavior:
use `webpack.config.ts` with `ts-node`

**Expected behavior**
build successfully

[2019-01-03 10:10] evenstensberg commented on #724
Checking it out.

[2019-01-03 10:13] evenstensberg commented on #724
can you make a repro repo for me to make it easier to debug?

[2019-01-03 11:10] matmannion commented on #724
Not specific to typescript, we have the same problem with webpack.config.babel.js. Downgrading webpack-cli to 3.1.2 fixes this

[2019-01-03 11:11] evenstensberg commented on #724
Gotcha. I think that we will need to add `interpret` again, we removed that dependency. Fixing this this week sorry for the inconvience

[2019-01-03 11:39] yvele opened #725 "babel.config.js is not executed at all when using webpack.config.babel.js with v.3.2.0"
**Describe the bug**

`babel.config.js` is not executed at all when using `webpack.config.babel.js` with v.3.2.0
Everything is working fine with previous v3.1.2

**What is the current behavior?**

When using `import/export` in my `webpack.config.babel.js` I get

**To Reproduce**

Use `webpack.config.babel.js` + `babel.config.js` with an `import`or `export`

[2019-01-03 11:39] evenstensberg commented on #725
#724 dupe

[2019-01-03 11:39] #725 closed

[2019-01-03 14:36] oles opened #726 "Thoughts about version 3.2.0"
Two things I noticed when I ran `npm install` when updating `webpack-cli` to version `3.2.0`:

![screenshot from 2019-01-03 15-07-20](https://user-images.githubusercontent.com/7634050/50642318-0c130080-0f6b-11e9-85f9-b19a71a1951e.png)

There's now a rather large Open Collective banner being outputted, and **49** new dependencies.

I'm fine with the banner, but a little put off by all those depende

[2019-01-03 16:15] oles commented on #726
I see - thanks for sharing!

[2019-01-04 09:37] evenstensberg commented on #726
Keeping this open as it's a enhancement issue

[2019-01-04 10:37] #712 closed

[2019-01-04 10:44] #708 closed

[2019-01-04 10:46] #689 closed

[2019-01-04 12:54] edmorley commented on #726
It's worth noting that the use of a `postinstall` script entry (or any of the equivalents, such as `preinstall`) means that Yarn's new plug and play feature has to unpack the package (in order to support packages that create additional files in the package directory as part of installation) negating some of the benefits of the plug and play mode.

A workaround for this (which also stops the consol

[2019-01-05 01:45] AviVahl commented on #726
the new deps are due to `webpack-cli@3.2.0` installing `opencollective`, and its outdated dependencies:
[code]
:-1:

One of the improvements in v3 was less unneeded deps, and this change doesn't follow suit.

[2019-01-06 09:59] evenstensberg commented on #726
OpenCollective banner stays for reachability. Making logo a bit smaller, maybe I'll write a script for it and remove the dep, who knows :)

[2019-01-07 01:18] renatoagds commented on #654
@evenstensberg @fokusferit hey guys! do we have any news? I would like to start the UI part of init command, since we're finishing the API: https://github.com/webpack/webpack-cli/pull/700

[2019-01-07 02:01] MengRS opened #729 "npm install issue: `sh: opencollective: command not found`"
**Describe the bug**

When installing webpack-cli (version `3.2.0`) using `npm install -D webpack-cli`, the following output occurs:
`sh: opencollective: command not found` (full output below)

The installation will not complete.

**What is the current behavior?**

Current latest version of webpack-cli (version 3.2.0) will not install.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `npm

[2019-01-07 07:32] evenstensberg commented on #654
Awaiting feedback from design team at Zalando

[2019-01-07 07:35] evenstensberg commented on #729
Will fix

[2019-01-07 08:30] evenstensberg opened #730 "CI: Use lerna bootstrap in CI postinstall but not in release"
**Describe the bug**

Look at a PR or go to travis under our repo and see TS not being generated

**What is the current behavior?**

We aren't building ts on CI's which makes them fail.

This is where you elaborate on the current behavior of the cli, how it behaves normally differing from the previous version/build you did.

**To Reproduce**
N/A

**Expected behavior**

Add CI script to run lerna,

[2019-01-07 08:35] evenstensberg commented on #729
`npm install --save webpack-cli` version 3.2.1

[2019-01-07 08:35] #729 closed

[2019-01-07 08:35] evenstensberg commented on #726
npm install --save webpack-cli version 3.2.1

[2019-01-07 08:35] #726 closed

[2019-01-07 15:01] retorquere commented on #724
Looks like this was fixed in the 3.2.1 release.

[2019-01-07 16:58] ematipico commented on #724
@JounQin if you think the issue is fixed, feel free to close the issue!

[2019-01-07 17:36] Enase commented on #724
FYI: it's fixed for `webpack.config.babel.js` for me as well.

[2019-01-08 00:06] JounQin commented on #724
Thanks.

[2019-01-08 00:06] #724 closed

[2019-01-10 08:39] bjornstar commented on #726
Some user feedback here, I'm not going to update my instances of `webpack-cli` with your postinstall advertising in it. It's very unwelcome.

[2019-01-10 09:06] evenstensberg commented on #726
Feel free to use another alternative, nothing stopping you :)

[2019-01-13 10:31] TCarmine commented on #299
This worked for me in the way that it then did found finally the webpack-cli module but then I got this warnings and error:

WARNING in configuration
The 'mode' option has not been set, webpack will fallback to 'production' for this value. Set 'mode' option to 'development' or 'production' to enable defaults for each environment.
You can also set it to 'none' to disable any default behavior. Learn

[2019-01-13 11:07] TCarmine commented on #299
I solved my last issue thanks to this : https://stackoverflow.com/questions/49389677/module-not-found-error-cant-resolve-bundle-js-in-users-jonathankuhl-docum

[2019-01-14 13:26] Awais2017 opened #734 ".NetCore 2.0/Angular created this project in visual studio but two errors pops up."
[Severity](url)	Code	Description	Project	File	Line	Suppression State
Error		Cannot find module 'D:\7th Semester\Final Project\WebApplication1\WebApplication1\node_modules\webpack\bin\webpack.js'	WebApplication1	D:\7th Semester\Final Project\WebApplication1\WebApplication1\EXEC	1

Severity	Code	Description	Project	File	Line	Suppression State
Error	MSB3073	The command "node node_modules/webpack/bin/

[2019-01-14 13:31] Awais2017 commented on #734
i have tried to create project with Dotnet Core 2.1  the project was created successfully but when i install the EntityFrameWork its shows warning that that this version of .netcore is not compatible with entityframwork. i have tried every version of entityframework but same error than user .netcore 2.0 but these two errors again please help me solve this issue...

[2019-01-14 13:34] Awais2017 commented on #734
![screenshot 13](https://user-images.githubusercontent.com/33341040/51115759-05b63b80-182b-11e9-9f51-5e49c9c77258.png)

[2019-01-14 13:36] Awais2017 commented on #734
[
![screenshot 13](https://user-images.githubusercontent.com/33341040/51115889-52017b80-182b-11e9-9c4a-eac14ee545bb.png)
](url)

[2019-01-15 16:37] #734 closed

[2019-01-16 19:14] EvsChen commented on #730
So, I suppose the solution is to add `lerna bootstrap` in the `install` part of `travis.yml`?

[2019-01-17 07:57] bjornstar commented on #726
Thanks, your response motivated me to remove `webpack-cli` from my project.

Since all I was using it for was build this is what I switched to:
[code]

[2019-01-17 08:06] AviVahl commented on #726
@bjornstar above script is catching webpack process errors, but not compilation ones. See https://webpack.js.org/api/node/#error-handling

[2019-01-17 08:13] edmorley commented on #726
An alternative is to install all dependencies using the `--ignore-scripts` option. This means yarn/npm do not invoke the preinstall/install/postinstall lifecycle scripts at all, which in most cases does not cause breakage since they are for optional steps. This also improves security slightly, since it stops the execution of arbitrary code at package installation time.

To enforce this for a proje

[2019-01-17 09:44] AviVahl commented on #726
`--ignore-scripts` does break things for many projects out there.

`puppeteer`, for example, uses `install` to download a compatible Chrome version. `node-sass` uses `postinstall` to download pre-compiled Node addon, or to build one using `node-gyp`.

Using lifecycle scripts to communicate information to your users (when they install the package) feels like an abuse.

[2019-01-17 09:57] ematipico commented on #726
I don't understand. The last version doesn't have the banner. What's the real deal breaking? Please help me to understand

[2019-01-17 09:58] evenstensberg commented on #726
They’re not happy to have a banner asking for financial help for a software they’re using for free and take for granted :))

[2019-01-17 10:08] AviVahl commented on #726
There's still a banner.
[code]

It's not the banner itself that bothers me. It's the place where it was integrated to. Communication to users should not be done via package lifecycle scripts IMO.

[2019-01-17 10:12] edmorley commented on #726
Agreed. Perhaps the CLI could include a small prompt on second or third run, that's only shown once every week/month/... or something?

I agree that there are a significant number of users who hold this mentality with open source in general, but as someone who contributes to the webpack ecosystem (amongst others) with code contributions, I find this sweeping generalisation a little frustrating.

[2019-01-17 10:38] evenstensberg commented on #730
aye

[2019-01-17 10:53] EvsChen commented on #730
I'll make a PR

[2019-01-17 12:06] evenstensberg commented on #730
Sweet, thanks

[2019-01-18 13:44] webpack-bot opened #737 "Json parameter includes console.log output"
# Bug report

**What is the current behavior?**
If you try watching webpack with profiler and json output then you'll get a corrupted json file, that includes webpack's console.log output.

**If the current behavior is a bug, please provide the steps to reproduce.**
Execute `webpack --watch --progress --profile --json > stats.json` and get this in your json file:

[code]

**What is the expected be

[2019-01-18 19:22] brunolm opened #738 "webpack-cli@3.2.1 postinstall: `lightercollective`"
**Describe the bug**

Error on install.

**What is the current behavior?**

[code]

**To Reproduce**

1. `npm i -D webpack-cli`

**Expected behavior**
Successful install

**Screenshots**
![image](https://user-images.githubusercontent.com/706078/51408348-8637ad80-1b45-11e9-8370-60fc7d2cdecf.png)

**Additional context**
Docker image: `node:8.14.0`

https://stackoverflow.com/q/54133942/340760

[2019-01-19 09:42] zslucky commented on #738
Same issue

[2019-01-20 06:19] #730 closed

[2019-01-20 09:00] sokra opened #739 "Close compiler after run"
**Is your feature request related to a problem? Please describe.**
webpack 5 requires closing the Compiler after running it.

**Describe the solution you'd like**
Call `compiler.close(callback)` when compilation finished. Only when doing a single run.

You can check existance of the close method to support webpack < 5 too: `if(compiler.close)`

**Describe alternatives you've considered**
None

**A

[2019-01-20 14:13] brunolm commented on #738
No, I'm installing with `-D` (`--save-dev`)

[2019-01-20 15:52] EricLambrecht commented on #738
I'm having the same issue. It works fine globally, but not locally (as a dev dependency using npm 6.6.0).

[2019-01-20 20:12] ablakey commented on #737
I introduced this bug by installing https://github.com/Realytics/fork-ts-checker-webpack-plugin in my webpack. The result is that `stats.json` is almost valid JSON, except for the first two lines:

[code]

Which come from the `fork-ts-checker-webpack-plugin`.

[2019-01-21 08:50] fkranenburg commented on #738
We have the same issue here. Adding this dependency ourself helps for now, but this is not what we want.

[2019-01-21 16:30] ematipico commented on #738
I can't reproduce it with the commands provided (I didn't use Docker).
Are all of you using Docker? Please provide as much information as possible, triaging the issue is not simple. Or provide a repository where we can replicate the issue.

[2019-01-21 21:21] EricLambrecht commented on #738
I solved it after being able to install it without `--no-bin-links`, so the problem was definitely the fact that there was no bin link.

[2019-01-22 01:10] zslucky commented on #738
I used a docker image for building in jenkins, `webpack-cli` version `3.2.1` caused this issue

[2019-01-22 05:34] EvsChen commented on #738
@ematipico I'm using `yarn add --no-bin-links webpack-cli@3.2.1` and reproduced this issue. My yarn version is `1.1.3`. Without `--no-bin-links` seems working fine. Also `npm v5.6` seems working with `npm install --no-bin-links webpack-cli@3.2.1`. I'm on Mac.

Can you guys provide more info on your system (or docker image)? I think it may be an issue with the symlinks. Mac/windows etc. handle this

[2019-01-22 06:38] tamasd commented on #738
I have the same issue on Windows 10. I generate the `packages.json` file with gradle (kotlin-frontend). Adding lightercollective as a dependency or devDependency does not help.

[2019-01-22 12:12] brunolm commented on #738
Command to repro:

[code]

Output:

[code]

[2019-01-23 11:06] Bluexin commented on #738
@tamasd temporary workaround is to specify an older version of `webpack-cli` manually in your dev dependencies :
[code]

[2019-01-23 16:47] daniele-orlando commented on #717
Nice roadmap of solid improvements.

[2019-01-23 18:04] tamasd commented on #738
@Bluexin thanks for the tip, I solved it temporarly by creating an "empty" (`int main() { return 0; }`) lightercollective.exe in my path.

[2019-01-24 17:33] Pomax opened #741 "Bug: "webpack-cli init" errors when trying to install @webpack-cli/init"
**Describe the bug**

I tried to run `webpack-cli init` without having the separate init module installed, which makes webpack-cli inform me that there is a new module for that, and asks me whether it should install that. Saying "yes" leads to the following error:

[code]

If I install `@webpack-cli/init` manually (and without `-g`, haven't tried with) then that error does not occur.

[2019-01-25 15:12] rishabh3112 commented on #741
Thanks, @Pomax for reporting. It should be fixed soon.

[2019-01-28 12:11] evenstensberg commented on #737
I suggest that you create an issue there and comment here if it's our fault. Ask the maintainer of that repo

[2019-01-28 12:14] CyberAP commented on #737
By there you mean where? It's not an issue with `fork-ts-checker` or something else. I can reproduce this without any webpack plugins. It's an issue with webpack and webpack-cli. This issue has been moved from the webpack repo, so I guess it has to be fixed in this repo or reopened there.

[2019-01-28 12:16] #705 closed

[2019-01-28 12:18] evenstensberg commented on #737
Ok, cause my first thought was that the plugin did a bad JSON conversion. I'll reopen

[2019-01-29 08:48] cvlr opened #745 "Node.js child_process.spawn (webpack)"
Hello,

how can I determine the end of webpack process? I want JSON (--json) output with --watch, but in my example, there are about 200 + chunks (it changes dynamically at change).

I want to make a UI for webpack with buil-in watch feature. But If first watch process ends, I can not catch that end.

In webpack test files I found something (example with chunkNumber) and I tried apply that in my e

[2019-01-29 10:20] nelldkLee commented on #738
I have the same issue on Windows 10. it happens with `-D` option.
so i just install lightercollective like `npm i -D lightercollective`
and then `npm i -D webpack-cli` Done. Successful install

[2019-01-30 08:04] hemal7735 commented on #745
@cvlr
Thank you for posting the issue. It is an interesting thing to know that folks are building solutions on top of webpack-CLI core.

Coming to your question, you might wanna check the official Node-API for knowing when a child process exits. https://nodejs.org/api/child_process.html#child_process_event_exit

[2019-01-30 12:51] PlayMa256 commented on #745
You don't actually need to spawn a process, you could use webpack node api instead.

[2019-01-31 13:51] Swatinem opened #746 "Enh: `--config-register` not resolved relative to `process.pwd()`"
**Describe the bug**

the `--config-register / -r` flag differs from the `-r` flag of `node` which is confusing. In particular relative paths are not resolved relative to `process.pwd()`

**What is the current behavior?**

    $ webpack -r ./tools/register.js --config packages/xxx/tools/webpack.config

That fails with

**To Reproduce**

* **fails**: `webpack -r ./tools/register.js --config package

[2019-01-31 16:49] slakbal commented on #738
also have this problem....

[2019-02-01 09:13] evenstensberg commented on #738
Fixing on a new release this weekend

[2019-02-01 09:15] evenstensberg commented on #746
Oh didn't know, do you mind submitting a PR for this?

[2019-02-01 09:20] Swatinem commented on #746
Can do, give me some time :-)

[2019-02-05 02:12] #737 closed

[2019-02-05 02:20] evenstensberg commented on #738
Fixed

[2019-02-05 02:20] #738 closed

[2019-02-05 02:21] evenstensberg commented on #739
Fixed

[2019-02-05 02:21] #739 closed

[2019-02-05 02:51] AndreKR opened #748 "webpack-cli-donate breaks webpack installation"
Since b4af4675 webpack-cli requires webpack-cli-scripts (which doesn't have a repository listed) *and* runs `webpack-cli-donate` as its postinstall script.

This makes it impossible to install webpack on **both Windows and BusyBox-based Linuxes** like Alpine:

[code]

[code]

This happens *even though* I'm running my CI jobs with `DISABLE_OPENCOLLECTIVE=true`.

Guys, I'm grateful for all the work

[2019-02-05 03:01] evenstensberg commented on #748
I’ll fix this 2morrow

[2019-02-05 03:07] SIkebe opened #749 "Cannot install webpack-cli without bash"
**Describe the bug**
`npm install webpack-cli` fails if you don't have bash in your PATH.
v3.2.1 worked but v3.2.2 fails.

**To Reproduce**
[code]

**Expected behavior**
`npm install` works regardless of bash existence or clear documentation of requirement for bash.

[2019-02-05 03:10] evenstensberg commented on #749
Try to reinstall v3.2.3

[2019-02-05 03:10] #749 closed

[2019-02-05 03:11] evenstensberg commented on #748
V.3.2.3 fixed this

[2019-02-05 03:11] #748 closed

[2019-02-05 03:13] SIkebe commented on #749
v3.2.3 worked. Thanks!

[2019-02-05 08:50] xPaw opened #750 "Write a saner changelog"
I'm talking about this specifically: https://github.com/webpack/webpack-cli/blob/16c9c8d0107b80904a228e817bc22ea89e901fa3/CHANGELOG.md#chore

If you are going to just generate the changelog from commits directly, at least make the commit messages descriptive.

[2019-02-05 12:07] evenstensberg commented on #750
We’ll do that from now on

[2019-02-05 13:06] evenstensberg commented on #750
https://github.com/webpack/webpack-cli/blob/master/CHANGELOG.md#322-2019-02-05 fixed it, sorry for the inconvinience

[2019-02-05 13:52] evenstensberg commented on #745
Hi! I think this might be an issue for stack overflow as it is not a bug nor feature request. Happy to answer at SO if you provide a link.

[2019-02-05 13:52] #745 closed

[2019-02-05 13:58] evenstensberg opened #752 "Enh: Opencollective post install script"
**Is your feature request related to a problem? Please describe.**
As this is an open source project we need some sort of donation banner to indicate that we are looking for financial support.

**Describe the solution you'd like**
A postinstall script in `package.json` that doesn't crash other platforms. I've created a bash script that should be written in JS instead of bash, being outputted when

[2019-02-05 14:06] evenstensberg commented on #587
I think this is not needed when we have a rigid testing system with /bintestcases.

[2019-02-05 14:06] #587 closed

[2019-02-05 14:07] #590 closed

[2019-02-05 14:08] evenstensberg commented on #593
No real traction here, I think we should have the main cli as it is, people will get less confused when installing.

[2019-02-05 14:08] #593 closed

[2019-02-05 14:10] evenstensberg commented on #674
Closing as this looks like it is fixed, please comment or post a SO issue and I'll be happy to help

[2019-02-05 14:10] #674 closed

[2019-02-05 14:12] evenstensberg commented on #563
Moved to #586

[2019-02-05 14:12] #563 closed

[2019-02-05 14:13] evenstensberg commented on #15
Moved to #586

[2019-02-05 14:14] #699 closed

[2019-02-05 14:16] evenstensberg commented on #624
We're removing this in the new webpack cli version that is out later this year fyi

[2019-02-05 14:17] evenstensberg commented on #370
I don't think we will implement this, but it's feedback for stats @sokra , and maybe something that could be done api wise through stats.

[2019-02-05 14:17] #370 closed

[2019-02-05 14:18] evenstensberg commented on #575
@hulkish has some nice ideas here

[2019-02-05 14:23] evenstensberg opened #754 "Feat: Swap commit lint job with commit lint CI"
**Is your feature request related to a problem? Please describe.**
It is bad to have a job in travis for commits instead of a CI that takes care of this.

**Describe the solution you'd like**
Implement https://github.com/paulirish/commitlintbot as a CI

**Describe alternatives you've considered**
N/A

**Additional context**
n/a

[2019-02-05 15:32] sokra commented on #370
`Stats.jsonToString` is removed in webpack 5 anyway.

`preset: "none"` should no longer include modules

[2019-02-06 02:11] renatoagds commented on #654
News on this one guys?

[2019-02-07 14:39] rishabh3112 commented on #649
@webpack/cli-team We can now start developing endpoints. Anyone willing to collaborate on init endpoint with me.

[2019-02-08 19:10] renatoagds commented on #649
@rishabh3112 I would like to help the init endpoint with you 👍

[2019-02-11 16:07] TheLarkInn opened #758 "[ENHANCEMENT]: Add integration tests"
**Describe the bug**
We need to add e2e tests for both webpack@alpha (5)

**What is the current behavior?**
webpack@5 is broken against webpack-cli@latest right now (I'll work on a PR for this)

**Expected behavior**
Any changes we make in the webpack-cli should run integration tests against @latest and @next tags if possible (or even just master/next branches).

**Other Details**
We should verify

[2019-02-11 16:16] TheLarkInn opened #759 "[0CJS] webpack's defaults should never be altered"
**Describe the bug**
Working around a bug on webpack-cli/master, I discovered some of the awesome work going on in webpack-cli@alpha. However, I noticed that the default terminal feedback, additional plugins, the `webpack/webpack` were being modified by default. This shouldn't be possible without the user providing additional flags or options.

**What is the current behavior?**
Currently webpack's

[2019-02-11 16:18] TheLarkInn commented on #759
This is a v3 release blocker.

[2019-02-11 20:23] dhruvdutt commented on #759
@evenstensberg If you can describe the fix, I can pick this up.

[2019-02-11 20:37] evenstensberg commented on #759
There's quite some work left on the alpha version, but maybe let's go for the preset version. Means we will keep the current architecture but that will require additional work

[2019-02-11 20:39] evenstensberg commented on #758
This is on the roadmap, thanks for keeping this in an issue. That is for the next branch though, this task seems appropriate for you @dhruvdutt , as you only need to upgrade webpack and run tests to see what is needed for tests as well as reading the changelog of webpack itself.

[2019-02-12 07:50] rishabh3112 opened #760 "[UI] Enpoints for webpack-cli UI"
**Is your feature request related to a problem? Please describe.**
The extension of #649, We can now develop endpoints for all possible features of webpack-cli. This issue is for tracking the development on them.
**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**
The endpoints include:
- [ ] init ( in progress under #756 )
- [ ] remove
- [ ] a

[2019-02-12 15:07] misterdev commented on #760
Hi @rishabh3112, I'm interested in helping with this.
The most updated branch is `webpack-cli-ui`?

Is there a small recap of the current state of the project? There are many issues and PR, it's very likely I've missed something :)

I'm going to take a look at the endpoint for the npm scripts, any suggestion is welcome.

[2019-02-12 16:33] rishabh3112 commented on #760
Great @misterdev,
## current state
Currently we have decided the technologies to work on, express for backend and preact for frontend.
Layouts of pages are in progress after which we would be working on frontend.
Infrastructure for questioning users for scaffolding is setup using TCP classes
Now, writing endpoints.

---
So for now you can explore `webpack-cli-ui` branch and start working on the is

[2019-02-15 00:44] RUPALAVECINO commented on #698
Eliminar `package-lock.json`local, Eliminar `node_modules`, ejecutar`npm install`

[2019-02-15 09:36] houzhitaohzt opened #761 "Needs investigation: IE 11 not support"
**Describe the bug**
![image](https://user-images.githubusercontent.com/20673060/52847727-ef601000-3147-11e9-8b7f-d98bff60b35d.png)

![image](https://user-images.githubusercontent.com/20673060/52847736-f6871e00-3147-11e9-9db5-233f9fd05f9d.png)

![image](https://user-images.githubusercontent.com/20673060/52847769-0c94de80-3148-11e9-8e84-1621b0b56f7e.png)

ansi-regex is not compile use babel

'use s

[2019-02-15 12:38] misterdev commented on #761
Hi @houzhitaohzt, could you share your webpack configuration and an english translation of the error? :)

[2019-02-15 14:43] evenstensberg commented on #761
Could you make a repository with a reproduction of the issue?

[2019-02-18 00:52] houzhitaohzt commented on #761
Project sample address:  https://github.com/houzhitaohzt/2019-react

[2019-02-18 01:33] TheLarkInn commented on #759
Totally understand there's a lot of work left. I submitted the issue this week for two reasons:

1. Get it in early to prevent massive rework
2. When webpack 5 beta is released, if people accidentally try to install CLI@next their whole dev experience won't be thrown off.

[2019-02-18 02:04] TheLarkInn opened #762 "webpack@alpha is broken against webpack-cli@latest"
**Describe the bug**
![image](https://user-images.githubusercontent.com/3408176/52923802-60393080-32de-11e9-9a93-2b453a873fd9.png)

[code]
**Additional context**
PR Incoming

[2019-02-18 02:25] TheLarkInn commented on #758
The most important part of this issue/enhancement is:

webpack@next <= test against => webpack-cli@latest

This way any patchlevel changes can catch early breaking changes on both sides.

[2019-02-18 08:44] jonyking opened #764 "No install possible"
**Do you want to request a *feature* or report a *bug*?**
**Bug**

**What is the current behavior?**
**I can not install webpack with.**

**If the current behavior is a bug, please provide the steps to reproduce.**
I have a clean install of node.js (inluding npm). Create a project used npm init and then use `npm install --save-dev webpack`

**What is the expected behavior?**
Installing webpack.

*

[2019-02-18 13:17] rishabh3112 commented on #764
Hi, @jonyking you forget to install `webpack-cli` most probably.
Install both of them using
[code]

[2019-02-18 20:48] bismarkhenao commented on #588
Hi @evenstensberg can I work on this, It would be my first contribution to webpack 👍

[2019-02-18 20:52] evenstensberg commented on #588
Go ahead! Thank you so much ☺️

[2019-02-20 16:38] evenstensberg commented on #764
Yes that is correct, you will need to install webpack cli

[2019-02-20 16:38] #764 closed

[2019-02-24 16:10] siddhant1 commented on #669
Can I work on this?

[2019-02-25 05:09] evenstensberg commented on #669
Yes!!

[2019-02-25 09:58] siddhant1 commented on #669
Thanks! Will start today

[2019-02-26 13:54] misterdev commented on #761
Hi @houzhitaohzt sorry for the late reply, I've set up a Windows pc to try this but testing your repo I can't see any problem.

1. Are you sure that your repository (2019-react) has the problem you are describing? I can't see any regex in your code.
2. Could you add a guide to reproduce the error to your README.md? Possibly in English thanks 😇

If the problem is solved please consider closing this

[2019-02-26 16:27] jayjun commented on #13
Hmm, @evenstensberg then removed it?

Documentation removed [here](https://github.com/webpack/webpack-cli/pull/105/commits/cd5562cf2bedd8db6f407ea21383bf495afb2cfa#diff-86ffe53e663ae3f143b8e2219c8ded35L169). Implementation removed [here](https://github.com/webpack/webpack-cli/pull/448/commits/e87fd7d1912024d8671bd67f10bea703ce4035bc#diff-9b4dfe50c0b618f49bf5bb3aac15b80bL187).

[2019-02-26 17:45] fokusferit commented on #654
A first possible user story (user workflow -> https://webpack.jakoblind.no/) what would be good here is how we can create a better design (or how to do UX)

[2019-02-26 18:36] owenstrevor commented on #15
@evenstensberg curious why this is moved to #586, aren't they two completely different goals?

The idea of this is that when webpack.config.js saves, webpack reloads and those changes made to the webpack.config.js file take place in the browser without the developer having to go into terminal and do anything.

#586 appears to show that I need to go into the terminal in order to reload webpack. The

[2019-02-26 20:00] nmschulte commented on #15
@owenstrevor I'm guessing it was courtesy to avoid flame here.  I agree with you though, it's not clear that #586 encompasses the issue addressed here.  I'm hopeful it does, but this issue is much much much more focused (and I don't understand why it's not resolved yet, but I appreciate it's getting attention).  IMO, this one's a _real_ inconvenience; critical.

[2019-02-27 02:41] EvsChen commented on #709
Are we going to track these feats in this issue? I would like to handle some of them.

[2019-02-27 12:14] artemkaint commented on #725
it doesn't work again in 4.0.0-alpha-4

[2019-02-28 18:49] GeassCoder opened #767 "promise may be resolved prematurely"
**Describe the bug**
https://github.com/webpack/webpack-cli/blob/master/bin/prompt-command.js#L11

Just curious if this is the real intention. If I understand it correctly this will always resolve the promise immediately, and the resolve() and reject() in the "error" and "exit" handlers below will have no effect.

[2019-03-01 12:40] rishabh3112 commented on #767
Thanks for reporting @GeassCoder, there is an error reported at #741 due to this.
I am resolving it at #742 .

[2019-03-02 12:51] rishabh3112 commented on #654
Hi above user story is awesome, I would also recommend having a chat based user flow for `init` as it is question-answer based.

[2019-03-03 06:25] zenVentzi commented on #724
Still getting this error

[code]

[code]

[code]
[code]

    "build": "webpack --config webpack.config.ts",

[2019-03-03 15:20] theaayush8999 commented on #760
@rishabh3112 are you working on the GUI(front-end)?

[2019-03-03 15:23] theaayush8999 commented on #760
I would like to contribute...till now only preact's boilerplate is present in the repo.

[2019-03-03 16:12] theaayush8999 opened #769 "Base layout design for webpackGUI"
@rishabh3112 @evenstensberg
**As we are going for preact in the frontend.
I'm creating the base component of GUI and @rishabh3112 is that `init` endpoint complete or I can contribute there too.**

**GUI concept tell me if you like it !!!**

![main-template-webpack svg](https://user-images.githubusercontent.com/32022442/53697957-9d341580-3dfc-11e9-8fa2-203a0fa8fecc.png)

[2019-03-03 16:22] rishabh3112 commented on #769
Hi @theaayush8999, thanks for sharing your ideas for layout of webpack ui. I would recommend you to share your design over #654 for visibility. Currently we are in contact with designers and you can track progress on it there.

[2019-03-03 16:26] rishabh3112 commented on #760
Hi @theaayush8999 we would be working on GUI after designs are finalised.

[2019-03-03 16:27] theaayush8999 commented on #654
@evenstensberg
As we are going for preact in the frontend.
I'm creating the base component of GUI and @rishabh3112 is that init endpoint complete or I can contribute there too.

**GUI concept tell me if you like it !!!**

![main-template-webpack svg](https://user-images.githubusercontent.com/32022442/53698173-15033f80-3dff-11e9-8289-a2e6838d54bc.png)

**@rishabh3112  thanks **

[2019-03-03 16:30] misterdev commented on #760
@rishabh3112 Who is currently working on GUI design?

[2019-03-03 16:32] rishabh3112 commented on #760
Follow #654.

[2019-03-03 17:42] rishabh3112 commented on #769
@theaayush8999 close this issue for now, further discussions would be on issue 654. This is duplicate of that issue.

[2019-03-03 17:45] #769 closed

[2019-03-03 20:44] deterok commented on #724
I have the same problem
[code]

[2019-03-03 21:59] evenstensberg commented on #724
Could you try `webpack-cli v.3.2.3` ?

[2019-03-03 22:01] evenstensberg commented on #654
I think we need to do something like the first one, but with a menu in addition to the screen. If you could focus on the design for a page that allows the user to create a configuration that would be great.

( see @fokusferit 's comment)

[2019-03-03 22:02] evenstensberg commented on #709
Probably. If there's no PR's open, take one down @EvsChen , thanks!

[2019-03-03 22:12] evenstensberg commented on #767
This is a bug, being fixed soon

[2019-03-03 22:15] evenstensberg commented on #13
Yes, I think it got lost in the rebase against the new branch of webpack. But the removal is good. We need less flags and features to focus on maintaining, check out nodemon if that works out

[2019-03-03 22:16] evenstensberg commented on #762
You're the best bro

[2019-03-03 22:17] evenstensberg commented on #669
Great, hmu if you have any questions!

[2019-03-03 22:19] evenstensberg commented on #759
I think that is ok. We keep master branch sync with the latest webpack and we seperate the new CLI on `next`

[2019-03-03 22:19] evenstensberg commented on #758
We're syncing with master to have backwards compat. CLI wise changes aren't that huge to seperate branch

[2019-03-03 22:25] evenstensberg commented on #15
The reason we are moving this to this issue is that we're working on a new CLI interface for webpack and a feature there is `webpack interactive` which will work as watch mode, but with some additional features. Config changes will be apart of that feature. Would you like me to elaborate some more? Sorry if this came out short-handed, but trying to align the project

[2019-03-04 07:11] deterok commented on #724
[code]

[2019-03-04 07:39] deterok commented on #724
typescript, webpack-cli and webpack should be installed locally.
`yarn add -D typescript webpack-cli webpack`
After that, everything works.

Maybe I'm doing something wrong?

[2019-03-04 17:40] rishabh3112 commented on #767
This is duplicate of #741.

[2019-03-05 05:24] anshumanv opened #770 "Refactor: Move yargs options into it's own config/util file"
**Do you want to request a *feature* or report a *bug*?**
bin/cli.js is huge and thus I want to propose the yargs options present in the file to be moved to it's own file in some util dir or something (please suggest) https://github.com/webpack/webpack-cli/blob/62ab32df0861e7c926b4b7b174326f4849812ef8/bin/cli.js#L58

I'm also not sure why we're configuring options for yargs twice [here](https://gi

[2019-03-05 06:18] anshumanv opened #771 "Module not found err is logged when agreed to install a missing package"
**Describe the bug**

When running a webpack command and the corresponding package is missing, once you agree to install it `MODULE_NOT_FOUND` err is logged before actually installing the package.

**What is the current behavior?**

Errors logged when agreed to install a missing package.

**To Reproduce**
Steps to reproduce the behavior:
* Run a webpack command whose package isn't installed say `w

[2019-03-05 06:19] anshumanv commented on #770
Also +1 for sticking with JS for the CLI code, it's really easy to skimp through. 😄

[2019-03-05 08:02] anshumanv opened #772 "Refactor: Add a constants file which exports all constants throughout the application"
**Do you want to request a *feature* or report a *bug*?**
Discussion for a possible refactor

**What is the current behavior?**
We're using a bunch of constants throught the code (https://github.com/webpack/webpack-cli/blob/62ab32df0861e7c926b4b7b174326f4849812ef8/bin/cli.js#L21), (https://github.com/webpack/webpack-cli/blob/62ab32df0861e7c926b4b7b174326f4849812ef8/bin/config-yargs.js#L55) and a l

[2019-03-05 08:32] rishabh3112 commented on #771
Hi @anshumanv, Thanks for reporting the issue. This is already reported at #741 and is under fix at #742.

[2019-03-05 08:53] anshumanv commented on #771
Hi @rishabh3112, thanks for linking me to the resource I missed. Closing. 😄

[2019-03-05 08:53] #771 closed

[2019-03-06 02:54] lenhnv1305 commented on #698
this works for me, creating a clone repo then run npm install there and then copy node_modules to the original repo

[2019-03-06 09:37] anshumanv opened #774 "Docs: Publish docs on every push from gh-pages branch"
**Do you want to request a *feature* or report a *bug*?**
Docs feature maybe

**What is the current behavior?**
Docs are pushed with the CLI code.

**If the current behavior is a bug, please provide the steps to reproduce.**
NA

**What is the expected behavior?**
I think it makes sense to automate the docs publishing process so docs live separate from the CLI code and are updated on every push, we

[2019-03-06 10:24] anshumanv opened #775 "Docs(contributing): Specify global installation of jest while running single tests"
**Do you want to request a *feature* or report a *bug*?**
Docs improvement

**What is the current behavior?**
Global installation instance of jest cli is missing

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
It should mention to install the jest cli https://jestjs.io/docs/en/getting-started.html#running-from-command-line

**If thi

[2019-03-06 10:41] EvsChen commented on #709
I guess I'll handle the config naming first.

[2019-03-06 21:37] dupls commented on #299
You can try running webpack directly from the node_modules folder, this seems to solve a lot of the red errors in the terminal.

`./node_modules/.bin/webpack`

[2019-03-07 06:41] anshumanv opened #778 "docs: Add downloads badge from npm"
**Do you want to request a *feature* or report a *bug*?**
Docs/feat

**What is the current behavior?**
No downloads badge present

**If the current behavior is a bug, please provide the steps to reproduce.**
NA

**What is the expected behavior?**
A cool badge denoting the downloads can be present.

**If this is a feature request, what is motivation or use case for changing the behavior?**
Users ca

[2019-03-07 09:05] EvsChen opened #780 "Unexpected behavior when propmting for installing packages"
**Describe the bug**
In [/bin/prompt-command.js#L11](https://github.com/webpack/webpack-cli/blob/62ab32df0861e7c926b4b7b174326f4849812ef8/bin/prompt-command.js#L11), there is a `resolve` at top of a `Promise`, which would cause `then` to execute in a synchronous manner. In this case, the package would be required before it's installed.

Guess this was a typo. If so, I could submit a quick PR for t

[2019-03-07 09:10] EvsChen commented on #780
Notice that this bug being fixed in #742. I'll close this.

[2019-03-07 09:10] #780 closed

[2019-03-08 13:16] sohailrajdev97 commented on #617
@evenstensberg. I would like to contribute to this. May I know the current status and progress on this feature request.

[2019-03-08 20:39] evenstensberg commented on #617
We're currently setting up infrastructure for the UI/GUI feature and we are thinking about design. Could you have a look at https://github.com/webpack/webpack-cli/issues/654 ?

[2019-03-08 20:41] evenstensberg commented on #709
I've already submitted a PR for that. Other than that, up for grabs

[2019-03-08 20:46] #778 closed

[2019-03-08 21:18] #775 closed

[2019-03-08 21:56] #707 closed

[2019-03-08 22:23] #762 closed

[2019-03-08 22:47] evenstensberg commented on #754
https://github.com/apps/commitlint need to self host

[2019-03-09 04:08] theaayush8999 commented on #654
Hey, I was thinking about what if the app first detects if the configuration file (config,prod,dev) exists or not as app loads. After that it gives appropriate options that can be performed. So design must be like a single page app with no menus and navigation. The whole point is here to not confuse the new-user.:v:

[2019-03-09 04:43] wizardofhogwarts commented on #654
Well `UI` will do lot more than just addition and updation in the webpack configuration.
So, we will definitely require proper dashboards and menus IMO.

[2019-03-09 05:07] anshumanv commented on #774
@evenstensberg using Netlify as the hosting service, is that alright?

[2019-03-09 05:49] anshumanv commented on #774
Here's a sample how it looks @evenstensberg 😉

https://webpack-cli.netlify.com/

[2019-03-09 09:33] #754 closed

[2019-03-09 09:36] evenstensberg commented on #774
why netify over gh?

[2019-03-09 10:22] rishabh3112 commented on #770
Thanks for posting issue @anshumanv and the PR :100:
@evenstensberg this refactoring is done on `next` branch (as new CLI would be launching soon ), do we also need it here?

[2019-03-09 10:46] anshumanv commented on #774
@evenstensberg here's a comparative breakdown - https://www.netlify.com/github-pages-vs-netlify/

Also we don't need to push the docs anywhere too (gh-pages branch for instance) Netlify takes care of that. We can also get updated docs on each PR but we won't need that IMO.

[2019-03-10 08:13] manishupadhyaya commented on #617
@evenstensberg. I would also like to contribute something to this. I can implement design to code. So any suggestions on how can I help?

[2019-03-10 09:37] rishabh3112 opened #784 "[UI] Features list for webpack ui"
**Is your feature request related to a problem? Please describe.**
As we are working on the designs at #654. It would be awesome if we actually think what all features would be part of our UI for better designs. Few upon which I would like to have and take review of the community are:

1. *Project Initialisation* : Creating new project either using default questions or using custom scaffolders on

[2019-03-10 09:46] anshumanv commented on #772
Will do this after #781 goes through.

[2019-03-10 13:06] evenstensberg commented on #774
I don't think we'll need netify

[2019-03-10 13:06] evenstensberg commented on #770
No that's a new thang

[2019-03-10 13:07] ematipico commented on #774
Is there a way to have github pages without pushing the new documentation every time?

[2019-03-10 13:08] evenstensberg commented on #617
We have a PR open for the ui feature. You could check that out

[2019-03-10 13:12] anshumanv commented on #774
Yes, manually push them when you need to @ematipico

So @evenstensberg can we move docs to gh-pages branch and serve from there(cleaner application root)? Without automating the deploys, everything remains the same, just the docs live in the gh-pages branch and are served from there, allows manual editing and more control as we need. 🤔

[2019-03-11 03:28] pranshuchittora commented on #667
@evenstensberg  I would like to work on this issue. This would be my first contribution to webpack.
Is this the correct [reference](https://github.com/webpack/webpack-cli/blob/master/SCAFFOLDING.md#webpack-scaffold-yourpackage)

[2019-03-11 05:30] evenstensberg commented on #667
This needs to be added at webpack.js.org

[2019-03-11 05:31] pranshuchittora commented on #588
@evenstensberg Can I work on this issue if it's still open?

[2019-03-11 05:31] evenstensberg commented on #588
Yes

[2019-03-11 05:33] pranshuchittora commented on #667
I think the [this doc](https://github.com/webpack/webpack-cli/blob/master/SCAFFOLDING.md#webpack-scaffold-yourpackage) should be implemented in webpack.js.org?

Am I going the right way? @evenstensberg

[2019-03-11 05:35] evenstensberg commented on #667
No, its own section under the docs page at the webpack.js.org repository

[2019-03-11 06:31] theaayush8999 commented on #667
@evenstensberg This scaffold doc-guide will go under webpack-cli section or it will be a new page/section?

[2019-03-11 06:42] evenstensberg commented on #667
https://github.com/webpack/webpack.js.org

[2019-03-11 08:31] pranshuchittora commented on #667
### Progress so far
- Added the `scaffolding.md` to Guides

![Screenshot from 2019-03-11 13-37-26](https://user-images.githubusercontent.com/32242596/54109920-01129b80-4406-11e9-9cf0-f739cad59e03.png)

### Roadblocks
- eslint throwing error on the code

![Screenshot from 2019-03-11 13-58-53](https://user-images.githubusercontent.com/32242596/54109942-138cd500-4406-11e9-9cd0-09f63188ab20.png)

[2019-03-11 15:23] evenstensberg commented on #667
I think we need to flesh this out.

[2019-03-11 16:32] pranshuchittora commented on #667
@evenstensberg all the issues have been fixed. https://github.com/webpack/webpack.js.org/pull/2860
Pls review the PR

[2019-03-11 16:43] pranshuchittora commented on #667
@evenstensberg is it necessary to run linting on the markdown's code snippets because sometimes we are forced to bloat the required code in order to make it syntactically perfect

#### Example

Let's say I want to write just a method of a class, eslint throws an error & to make it fix you are required to wrap it inside a class definition.

The code below is not valid :point_down:
[code]
This is va

[2019-03-11 21:35] chyzwar commented on #724
I think it is still broken:

webpack-cli@3.2.3
typescript@3.3.3333
ts-node@8.0.3

It is monorepo with hoisted node_modules.

[code]

[2019-03-12 14:05] rishabh3112 commented on #654
https://dotconfig.xyz very much similar to previously mentioned, just posting may be it will be useful for designers.

[2019-03-12 14:16] evenstensberg commented on #724
https://link.medium.com/EzGAUAEYZU

[2019-03-12 15:59] fokusferit commented on #654
So maybe to summarize it a bit in a classical user story way:

I as a webpack user
want an easy online interface to generate my project
so that I don't spend time in setting up things manually and start immediately developing.

Based on this "story" or more an "Epic" (scrum wording), there are multiple things to consider:

1. Like in this [comment](https://github.com/webpack/webpack-cli/issues/654

[2019-03-12 16:18] rishabh3112 commented on #654
Adding a point which I feel to be discussed:
There are two choices here for creation new projects:

1. Follow how CLI implement creation of new projects i.e. questioning the user one to one (like  chat) on it wants on high level. For this user don't need to know which plugin and loaders are added. It is under implementation.

2. Follow what the sites posted here follow.

[2019-03-12 18:17] strongSoda commented on #667
@evenstensberg If it's not done can I work on this?

[2019-03-12 18:51] renatoagds commented on #654
@fokusferit @rishabh3112 I think we could mix both of this ideas.

For new projects (without **webpack.config**) we could do an user-friendly quiz, asking if the user wants to support that feature or not.

For projects with **webpack.config**, initially, we could have a interface that our user could add or remove the same features that we support in init.

With that in mind, we have a initial ecos

[2019-03-13 01:22] misterdev commented on #784
Hi @rishabh3112, that's a nice set of features. I really like 4 and 5 :)

I think it could be interesting to mention:
1. Quick contextual references to the documentation
2. Config validation, warning you in case of errors
3. Auto reload when the configurations are modified

Also, what do you think about having:
- Node API for programmatic usage
- A pluggable API allowing for the creation of plugin

[2019-03-13 02:10] misterdev commented on #784
One last thing, is it going to be a global UI or every project will have its own instance?
I imagine it to be global, in this case I think it should allow to:
- List and switch projects
- Create or import project

It seems a big project, I'm applying for another project for the summer but it would have been nice to work on this with you ;)

[2019-03-13 11:17] jahzielv commented on #654
Hi all! Thanks @evenstensberg and @fokusferit for getting me plugged into this project! I'd love to help out on this feature in any way that I can. After hearing ideas at the meeting yesterday, I definitely agree with @renatoagds - mixing the two approaches will let new users be able to get set up quickly, while still allowing experienced users with a `webpack.config` to use the UI.

[2019-03-13 11:47] rishabh3112 commented on #784
A pluggable API allowing for the creation of plugins/extensions

I have that in place :)

We are now focusing on getting init done first so will do project management after that.

Thanks for the feedback :+1:

[2019-03-13 16:16] strongSoda commented on #760
Hi, @rishabh3112  I too am interested to work on this with you. I am following the discussion & roadmap issues.

[2019-03-13 18:09] ktopouzi commented on #784
Hey guys, very interesting topic here and a very cool suggestions by everyone. The idea of having a UI where you can take a look at your project is clearly a great addition to the CLI. Vue has a beautiful interface for that and I believe this is a great starting point.

I would suggest charts flows, statistics for your current project where you can see the relationship between your files | file si

[2019-03-13 18:26] pranshuchittora opened #787 "needs investigation: packages/webpack-scaffold : Test failing"
**Describe the bug**
Test Failing
[code]

**What is the current behavior?**
It should pass with flying colors.

**To Reproduce**
[code]
CC @evenstensberg

[2019-03-13 20:44] misterdev opened #788 "Scaffold: Better defaults for webpack-cli init questions"
**Is your feature request related to a problem? Please describe.**
`webpack-cli init` from my point of view has 2 main purposes, making the setup faster and making it easier expecially for beginners. For these reasons I think the default answers for `webpack-cli init` should be modified to allow creating the simpler possible setup.

**Describe the solution you'd like**
1.  `? Will your application

[2019-03-13 21:22] misterdev commented on #654
Hi all!
I think "chat like" interactions are better suited for the terminal than a web page. Imo a form like interaction would do the job well.

I'm not a designer, but I've worked mostly as a frontend developer and I have some knowledge of user experience. If nobody is working on a mockup I can do something probably next week.

[2019-03-14 03:23] willdonner commented on #299
npm link webpack
https://stackoverflow.com/questions/29492240/error-cannot-find-module-webpack

[2019-03-14 06:49] mgroovyank commented on #784
Hi @rishabh3112 , great features. I am participating in GSoC 2019 and I want to just share my idea about the init GUI.
 I think if you plan to create an interface like the one below:

![webpack ui](https://user-images.githubusercontent.com/40556224/54336212-732af080-4651-11e9-88a6-75f086227317.PNG)

This interface is better than asking questions because even to answer any question, the developer n

[2019-03-14 09:10] Akryum commented on #784
I'm not sure everyone reads the whole documentation if at all before starting using Webpack.

[2019-03-14 11:15] mgroovyank commented on #784
Just to clarify, I'm not referring to the whole documentation but atleast this [concepts page](https://webpack.js.org/concepts).

I am myself a beginner at using webpack and I read the documentation first, otherwise it wouldn't have been possible for me to start with webpack. Without documentation, I would've not been comfortable using it.

[2019-03-14 20:39] chyzwar commented on #724
I found it. In my case adding typescript project references broke build not webapck cli. I am not sure why adding references affected parsing of webpack config...

[2019-03-15 06:29] pranshuchittora commented on #588
Need help, How to setup local server for the testing of the configurations.

[2019-03-15 10:23] njwest opened #789 "[Feature]: --stdin as option in config file"
This is a duplicate of [issue #1712 on webpack-dev-server](https://github.com/webpack/webpack-dev-server/issues/1712), it was requested that I post it here :)

  System:
    OS: macOS 10.14.3
    CPU: (8) x64 Intel(R) Core(TM) i7-4870HQ CPU @ 2.50GHz
  Binaries:
    Node: 8.10.0 - ~/.nvm/versions/node/v8.10.0/bin/node
    Yarn: 1.9.4 - /usr/local/bin/yarn
    npm: 6.4.1 - ~/.nvm/versions/node/v8.1

[2019-03-15 20:23] evenstensberg commented on #588
https://github.com/GoogleChrome/lighthouse/blob/master/package.json#L23

[2019-03-15 20:25] evenstensberg commented on #667
A live demo would be great, youtube or smth like that

[2019-03-16 04:01] strongSoda commented on #667
On it.

[2019-03-16 06:35] pranshuchittora opened #790 "GSoC19"
**Hello Webpack,**
My name is Pranshu Chittora a sophomore CS student from India. As @webpack is a participating organisation in GSoC 2019, the ideas proposed are quite interesting but the details provided are not sufficient enough to write a good proposal.

I am interested to work on `CLI- Infrastructure & Documentation`. Kindly provide some more details about it.

Thank You :+1:

CC @evenstensbe

[2019-03-16 22:01] evenstensberg commented on #790
Hi @pranshuchittora . You can have a look at https://google.github.io/gsocguides/student/finding-the-right-project#shortlist

You can come up with your own ideas. The ideas are briefly mentioned, because the proposal is your outline of this problem space, we are not writing the proposal for you. That being said, I'm happy to help you out to write up a proposal if you contact me through email. Issu

[2019-03-16 22:01] #790 closed

[2019-03-17 04:29] rkishan516 commented on #788
@evenstensberg & @misterdev Can I work on this ?

[2019-03-17 07:05] ematipico commented on #789
I miss something. What's the purpose of this option? What do you want to achieve?

[2019-03-17 07:55] rkishan516 opened #793 "Installation in Linux"
When we are installing the webpack in Linux distro we are getting Error because before npm , we must use sudo command to give root permission.

CLI will remain same but we can add just `sudo` in Documentation.

**To Reproduce**
Just Update the CONTRIBUTING.md file

**Expected behavior**
After adding `Sudo` Installation will work as it should be.

If you allow I can give a PR for this.

[2019-03-17 08:08] rishabh3112 commented on #784
Thanks guys for giving feedbacks 👍. Keep them coming 👌

I will summarise here what people in general want from all the channels feedbacks were taken:

1. **Step by step help in creating configuration from scratch**. Also, want to know how  question would change config and _get more info on that like a snip from documentation_.

2. **For modifying an already existing configuration**, there should b

[2019-03-17 08:31] rishabh3112 commented on #793
Hi @rkishan516,
Can you share steps to reproduce this?
I use webpack in Linux and not facing any issue regarding permissions.
I guess you may have misconfigured your node installation, try [nvm](https://github.com/creationix/nvm).
Hope this helps 👍

[2019-03-17 08:32] #793 closed

[2019-03-17 08:39] rkishan516 commented on #793
![Screenshot from 2019-03-17 14-07-58](https://user-images.githubusercontent.com/34465683/54487623-2435c300-48be-11e9-82b6-b9b4995010a7.png)
When I use `npm install`
This is the status.
@rishabh3112 or @dhruvdutt

[2019-03-17 14:56] misterdev commented on #788
Hi @rkishan516, I'm already working on this. Thanks for your interest 👍

[2019-03-17 17:21] evenstensberg commented on #784
not yet

[2019-03-17 17:29] evenstensberg commented on #793
https://stackoverflow.com/questions/25290986/how-to-fix-eacces-issues-with-npm-install fix your permissions inside the directory

[2019-03-18 01:59] rkishan516 commented on #793
Thanks, For Solution

[2019-03-18 15:01] rishabh3112 opened #795 "[BUG]: @webpack-cli/add not working on topScope and merge"
**Describe the bug**
When we want to add something to `topScope` raises following error
![Screenshot from 2019-03-18 20-10-56](https://user-images.githubusercontent.com/15812317/54538493-5cbac700-49ba-11e9-8b7e-e834a1ed7c50.png)

**What is the current behavior?**
Currently this error raises as `add-generator` maps properties from `optionsSchema` of webpack. But this schema doesn't include properti

[2019-03-19 09:06] rishabh3112 commented on #795
On researching, I found there is same bug with `merge` too. For solving this I have two solutions:
1. Take multi line input for the object to be merged
2. Take location of config file with which user want to merge current configuration.
Which approach is recommended ?

[2019-03-19 14:01] misterdev commented on #752
I think this can be closed :)

[2019-03-19 15:05] ematipico commented on #752
@misterdev 	A small advise: if you use magic comments in your PRs, you will be able to close automatically the issues once they are merged!

[code]

More here: https://help.github.com/en/articles/closing-issues-using-keywords

[2019-03-19 15:05] #752 closed

[2019-03-19 15:07] ematipico commented on #741
PR merged, next release will contain the fix!

[2019-03-19 15:07] #741 closed

[2019-03-19 15:31] Pomax commented on #741
sweet, many thanks!

[2019-03-19 16:39] misterdev commented on #752
Thanks @ematipico! Yeah, I know but this time I forgot to include that somewhere :)

[2019-03-19 19:56] evenstensberg commented on #795
Location

[2019-03-19 21:16] #770 closed

[2019-03-19 22:49] anshumanv commented on #788
Fixed in #794
Can be closed. 😄

[2019-03-20 05:30] anshumanv commented on #774
Keep the feedback/suggestions as someone finds some solution to host docs more aptly. 😄

[2019-03-21 14:43] misterdev opened #799 "feedback: scaffolding tutorial"
Hi, I've created a [tutorial ](https://medium.com/@misterdev/how-to-write-a-webpack-scaffold-ace202775572?source=friends_link&sk=f46e9fcb7c1b9cc45176a1ad44e8fa05) on how to write a scaffold, I would really appreciate receiving feedback before sharing it with the community.
Please be honest, I know I could have done it better 😇 Thanks!

@evenstensberg & @ematipico @fokusferit & @TheLarkInn, would b

[2019-03-22 03:03] must19 commented on #144
I came with this issue while trying to configure one of my projects. @conor909  post resolved this for me. thanks

[2019-03-22 08:42] rishabh3112 commented on #767
@GeassCoder Fix shipped at webpack-cli v3.3.0. Update to get the fix :+1:

[2019-03-22 09:21] anshumanv opened #800 "Enhancement: Move the file to utils and other minor refactors"
**Do you want to request a *feature* or report a *bug*?**
refactor: move opencollective to utils and use constants from file.

**What is the current behavior?**
It exists with the `cli.js` file and has local constants.

**If the current behavior is a bug, please provide the steps to reproduce.**
NA

**What is the expected behavior?**
Since it provides utility functions, it should be moved to utils

[2019-03-22 09:55] anshumanv commented on #709
Working on 1 - Generate webpack config in the root of the project.

😄

[2019-03-22 15:56] anikethsaha opened #802 "[FEATURE]: Adding a scaffold generator"
**Is your feature request related to a problem? Please describe.**
Creating a custom scaffold for a team or individual can be quite difficult if can't get a first stage help from the project

**Describe the solution you'd like**
This generator like the other generators (loaders, plugins etc )  will certainly give a boilerplate code to the developer with the official scaffold guide's standards and

[2019-03-22 16:33] rishabh3112 commented on #802
Hi @anikethsaha, I wrote one [here](https://github.com/rishabh3112/webpack-scaffold-starter)  and published today only. It is not tested by users for now. Will be happy to get yours feedback 👍.

[2019-03-22 16:50] misterdev commented on #800
Hi @anshumanv, seems a good idea to move it into utils.
I think I would keep the local constants where they are since they have a name just to make the code cleaner and they are not meant to be used anywhere else.

If you still think it could be better to refactor the constants let's go ahead 👍

[2019-03-22 16:52] anshumanv commented on #800
Makes sense, I'll open up a PR to move the file initially and move constants as per feedback. 😄

[2019-03-22 17:11] misterdev commented on #802
Hi @anikethsaha, that's a good idea!

Good job @rishabh3112 😉 I'm testing your generator on windows but I'm getting an error:

![culo](https://user-images.githubusercontent.com/11232797/54840705-da8a1580-4ccd-11e9-96fa-e4f11b81cef9.png)

PS: if you prefer we can move this into an issue in your repo

[2019-03-22 19:49] anikethsaha commented on #802
@rishabh3112  yup I will give feedback soon over that. I added a PR in your repo in order to solve the error mentioned by @misterdev.

[2019-03-22 21:11] anikethsaha commented on #802
@rishabh3112 yup I will give feedback soon over that. I added a PR in your repo in order to solve the error mentioned by @misterdev.

[2019-03-23 02:37] rishabh3112 commented on #802
@misterdev have a look now. Have shipped the fix at v1.0.3.
Thanks for PR @anikethsaha :)

[2019-03-23 08:55] pranshuchittora opened #803 "Feature(config-test): Evaluating the webpack configs."
**Is your feature request related to a problem? Please describe.**
Webpack has a steep learning curve, I still remember those difficulties I have faced in my early days with webpack when my webpack config didn't works as I expected it to be.

**Describe the solution you'd like**
Creating a cli package called `test`, which takes the webpack config -> Analyzes it. It will log the error in the config

[2019-03-23 15:19] #772 closed

[2019-03-23 18:11] misterdev commented on #802
That's great! What about adding to the README the instructions to use it without installing `webpack-cli init webpack-scaffold-starter`?

PS: @rishabh3112 @anikethsaha, if you want, I would appreciate feeback on #799 :)

[2019-03-24 02:21] misterdev commented on #784
What about having (also) an electron app version?

- It would remove the need to have a terminal window open all the time that just runs `webpack-cli ui`
- It would be easier to develop since we don't have to care about the different browsers
- It would be slightly more accessible for beginners
- I would like to have a "webpack control panel" icon on my pc, possibly with some shortcuts like "resta

[2019-03-24 06:39] anikethsaha commented on #802
@misterdev That article is very well written. good work on that

[2019-03-24 07:05] rishabh3112 commented on #802
@misterdev which `README` ? You mean at `webpack-cli`?
If so, I am waiting a review on this by @webpack/cli-team. If they affirm we can add this as a recommendation for starting a new scaffold 😄

[2019-03-24 07:43] anikethsaha commented on #802
@rishabh3112 I think @misterdev meant in your project's readme to test/run it locally

[2019-03-24 11:04] anikethsaha commented on #802
@rishabh3112 @misterdev Can you guys please test [this](https://bitbucket.org/anikethsaha/scaffold-generator/src/master/). I would really appreciate your feedback

[2019-03-25 16:58] evenstensberg commented on #784
We can make it an electron app later but let's focus on a web page

[2019-03-25 16:58] evenstensberg commented on #803
yes let's do this

[2019-03-25 16:58] evenstensberg commented on #803
just use webpack validate schema for checking

[2019-03-26 05:43] anshumanv commented on #803
Can't this be a part of https://github.com/webpack/webpack-cli/issues/588 which will essentially do both -
* Validate the config
* Stress the library for edge cases

So we'll get both functionalities out of it, but yeah a separate package will be a more external thing which people can use to validate their configs. 👍

[2019-03-26 05:53] anshumanv commented on #706
Just needs a quick check if the user opts for a babel, what you do suggest maybe by default we can go for a separate `.babelrc` file in the project and if that is present we can merge the configs, but what if a user opts to have the babel config in the `webpack.config.js` file just so to handle all configs in one place, there can be two options imo -

* Ask the user a follow up question about the

[2019-03-26 05:55] anshumanv commented on #701
Fixed in https://github.com/webpack/webpack-cli/pull/792 I believe 😄 Anything left here todo?

[2019-03-26 06:01] anshumanv commented on #669
👍 for the prompt on the UI, why not provide a flag like `--default` to use the default config to auto-set default params, on the UI we'll provide an option to the user to add a scaffold or just click on a default config? Have any other approach in mind?

Providing both will be great imo

[2019-03-26 06:41] anshumanv commented on #654
We can draw our inspirations about workflow of managing, importing projects, configuring loaders, plugins and running and searching for scaffolds as well from the vue-cli as it mostly covers our needs and has a nice ui as well ;)

![image](https://user-images.githubusercontent.com/21009455/54976369-271c6c00-4fc0-11e9-9da3-5149b60849ad.png)

[2019-03-26 06:50] anshumanv commented on #648
The way this works is in vue ui they provide an option to import a project where you need to traverse directories and it detects which project uses webpack so you can just go ahead and import it and then it will be added to the projects tab.

I'll write quick util to check for webpack projects since we already have a regex to detect it so it will be fairly easy to implement. Sending a PR soon. 👍

[2019-03-26 08:13] #701 closed

[2019-03-26 16:51] anshumanv commented on #709
I have a question, what's the workflow when defaults are used? (Point 2)
@evenstensberg @dhruvdutt

[2019-03-26 17:29] chaharnishant11 commented on #617
I would like to work on this!
can you please suggest me where should I start from?

[2019-03-26 17:58] anshumanv commented on #617
Hey @chaharnishant11 to give you a quick overview, we're presently setting up the server which will serve the frontend, so we're presently writing endpoints which will help ui run commands, you check out the open PRs and help with creating the endpoints, for the UI we're still discussing the design by taking feedback from everyone, would be cool if you can add in your suggestions as well! 😄

[2019-03-26 18:00] chaharnishant11 commented on #617
@anshumanv okay sir! definitely

[2019-03-27 06:20] njwest commented on #789
Right now, the only way to tell webpack-dev-server to shut down when stdin ends is by passing in the [--stdin flag via CLI](https://webpack.js.org/configuration/dev-server/#devserverstdin---cli-only).

Some tools, such as Vue CLI, create wrappers around webpack-dev-server, and can only pass options to the devServer object in webpack.config. This means in a Vue CLI-generated project, we can't pass

[2019-03-27 13:28] anshumanv opened #805 "Enhancement: remove findup-sync from root package and move to utils"
**Do you want to request a *feature* or report a *bug*?**
refactor

**What is the current behavior?**
findup-sync is present in project root, it should be moved to utils package.
**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
findup-sync is present in both project root and utils package.
**If this is a feature request, what is motiv

[2019-03-27 15:26] evenstensberg commented on #803
Config evaluation in sep feat

[2019-03-27 18:12] misterdev commented on #654
Leaving this here for inspiration http://webpackmonitor.com

![ds](https://user-images.githubusercontent.com/11232797/55101313-21a84a00-50c4-11e9-8a2d-20c5e8e8371b.png)

[2019-03-27 20:37] misterdev commented on #802
@anikethsaha it's nice, I generally think that in order to be used it should provide as many detailed instructions as possible on how to set up and run everything :)

[2019-03-28 06:51] anshumanv opened #808 "Update tests regex and add separate tests scripts in package.json"
**Do you want to request a *feature* or report a *bug*?**
bug: cli tests are never invoked

**What is the current behavior?**
No way to cli test for now since they are not included in tests regex

**If the current behavior is a bug, please provide the steps to reproduce.**

`npm test`

**What is the expected behavior?**
npm test won't tun tests from `test/`

**If this is a feature request, what is

[2019-03-28 07:23] anshumanv commented on #808
Do let me know if I'm missing anything here. 😄

[2019-03-28 20:14] anshumanv commented on #758
@evenstensberg @dhruvdutt what's the approach to setup the e2e test infrastructure?

How about we go for [nixt](https://github.com/vesln/nixt/)? Looks promising to me.

[2019-03-29 00:19] dhruvdutt commented on #758
@anshumanv Sure, thing. Go ahead. 👍

[2019-03-29 07:48] #808 closed

[2019-03-29 11:15] evenstensberg commented on #669
No flags with this. Just a website that is clean and does this

[2019-03-29 11:16] evenstensberg commented on #709
Then we run the init generator

[2019-03-29 12:36] pranshuchittora opened #812 "tests: Tests failing"
**Describe the bug**

Tests failing

**To Reproduce**
- clone the repo
- npm install
- npm link
- npm link webpack-cli
- npm run bootstrap
- npm run build
- npm run test

**Expected behaviour**
All tests should pass
**Screenshots**
**Check out this video**

**Additional context**
Am I doing something incorrectly? :confused:

[2019-03-29 15:11] anshumanv commented on #709
Cool!

Working on point 2 - Run init generator when defaults are used, thanks @evenstensberg! 😄

[2019-03-29 18:34] mehulmpt commented on #654
Hi everyone. Sorry I'm late to the party, this has been happening since last October but I came to know about it this week only as I was going through webpack's listed proposals for GSoC and eventually landed on last 3 hangout meetings some of you had regarding the CLI-UI integration. Here's my take on this.

Although @fokusferit summarizes it in his message above (https://github.com/webpack/webpa

[2019-03-30 00:58] rishabh3112 commented on #654
Hi @mehulmpt,
Thanks for your opinion.

P.S. how are you and Ritu mohan mam ?

[2019-03-30 07:09] anshumanv commented on #575
@EugeneHlushko can you please provide your input on this? 😄

[2019-03-30 10:46] mehulmpt commented on #654
Thank you for asking Rishab. We're doing good. :)

[2019-03-30 13:08] evenstensberg commented on #654
@mehulmpt we can have two options, but those are made through a tab in the GUI, not flags

[2019-03-30 13:14] evenstensberg commented on #575
We can combine this with webpack-logger?

[2019-03-30 13:20] evenstensberg commented on #812
No link to video. I just did the same steps and it ain't failing here. Do you mind posting a stack trace?

[2019-03-30 13:20] #812 closed

[2019-03-30 14:28] pranshuchittora commented on #812
https://youtu.be/cj0d5N1Qt6c

[2019-03-30 15:39] mehulmpt commented on #654
@evenstensberg of course. Command line for webpack is sorted anyway. I'm talking about GUI only

[2019-03-31 07:37] ematipico commented on #800
I'm not convinced. That file is not an utility as it's in one place for a specific thing. If it was an utility you'd think there is another usage somewhere in the code but there isn't.

[2019-03-31 07:40] anshumanv commented on #800
@ematipico can you suggest something else then?

[2019-03-31 07:43] ematipico commented on #800
Nothing to change really, I'm happy with the code like this. Unless you want try to convince me :)

[2019-03-31 10:56] evenstensberg commented on #812
try running `lerna bootstrap` and fetching latest changes from master

[2019-03-31 15:42] misterdev opened #814 "Enhancement: Init generator improvements"
**What is the current behavior?**
The init generator executed while running `webpack-cli init` creates a webpack configuration file and installs the dependencies, I think it could be improved:
- There are some unused imports and comments in the generated configuration file
- The keys in the configuration object are in a random order, IMO this should be an example of good practices for beginners
-

[2019-04-02 10:26] #572 closed

[2019-04-02 17:38] pranshuchittora commented on #814
I would like to work on this.

[2019-04-02 19:51] misterdev commented on #814
That's nice :) At the moment I have a branch for this but I'm working on other things, I'll open a PR soon.

[2019-04-03 04:20] eddySilva64 commented on #567
guys I need help please....

webpack is watching the files…

Insufficient number of arguments or no entry found.
Alternatively, run 'webpack(-cli) --help' for usage info.

Hash: 385988a35ae66e7ab1b0
Version: webpack 4.29.6
Time: 112ms
Built at: 2019-04-03 01:11:53

ERROR in Entry module not found: Error: Can't resolve './main.js' in 'C:\Users\nesca\Desktop\aula-es6'
Done in 3.49s.

[2019-04-03 10:25] evenstensberg commented on #567
https://webpack.js.org/concepts/entry-points/

[2019-04-04 00:32] renatoagds commented on #654
@mehulmpt Liked so much your idea. Based on that I would like to propose we started with `basic` view, since advanced users could use the CLI normally, right?

[2019-04-04 14:22] mehulmpt commented on #654
@renatoagds sure that could be a start. But before making it public beta/alpha, we need to get the advanced tab up as well since that is what was discussed in one of the hangout meetings - "This interface should be for everyone" so we cannot leave out intermediate to advanced users here.

[2019-04-04 21:29] renatoagds commented on #654
@mehulmpt Agreed! We should create a list of features for basic & advanced, release basic as our MVP into a next tag maybe, and final version with advanced features. Sounds like a plan?

[2019-04-05 12:40] mehulmpt commented on #654
@renatoagds Yes that's what I think should be the first steps. I've prepared a basic outline of what I was proposing with a more detailed wording in the "Project Proposal" section here: https://docs.google.com/document/d/160vurXRTaJAPQSo_Iu8I9kDYTYG3kUu2X5tl55Aplc0/edit#

Would appreciate if @evenstensberg @fokusferit @rishabh3112 and others could give it a quick look advise on improving it

[2019-04-06 18:36] evenstensberg commented on #654
@mehulmpt I've deleted your comment bc it contains personal data that could be misused. Please contact us via email

[2019-04-06 20:28] #774 closed

[2019-04-08 18:14] evenstensberg opened #819 "[NEXT]: Re-visualizing the new CLI Interface"
# Problem

The old(current) CLI visually is outdated and doesn't make too much sense for people to have an overview of what is going on with their compilations or builds. I think that primarily is because webpack has evolved during the years and the usage has changed since initially made. For instance, initially webpack may have been intended to be only bundling a few files, thereby not emitting s

[2019-04-08 18:36] evenstensberg opened #820 "[NEXT] Declaring Conventions with Intent"
# Problem

With webpack there's some uncertainty about how well-defined architectures look. From a user perspective it's hard to envision a project structure that works well at scale and also helps new users to get going quickly.

There are several issues with lack of conventions:

- Where a configuration will be placed
- What the name of a configuration is
- What the default entry point is, and w

[2019-04-08 18:38] evenstensberg commented on #820
References:

- https://webdevetc.com/blog/laravel-naming-conventions
- https://github.com/rubocop-hq/ruby-style-guide

[2019-04-08 18:43] #767 closed

[2019-04-08 23:47] ken-spencer opened #821 "[BUG]: webpack watch silently fails starting"
**Describe the bug**

web pack watch silently fails

It says "webpack is watching the files…"
and then silently exits.  Everything works fine without the --watch flag.
The problem exists in 3.2.2, 3.2.3 and 3.3.0. Works as expected when I revert to 3.2.1

[2019-04-09 03:50] anshumanv commented on #820
For all the frontend frameworks that I've used webpack with use the `dist` convention as in most cases a `public` folder is usually present and contains some static assets like the entry `index.html, favicon` etc.

So IMO `dist` seems fine to me, atleast for frontend projects.

[2019-04-09 06:54] ematipico commented on #821
Without your configuration file, the command your execute and a repo to reproduce, it's nearly impossible to triage the issue. Could you please provide them?

[2019-04-09 09:23] anshumanv opened #822 "[deps]: Vulnerabilities present"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
`npm audit` yields 31 vulnerabilities.

**If the current behavior is a bug, please provide the steps to reproduce.**
`npm audit`

**What is the expected behavior?**
No vulnerabilities

**If this is a feature request, what is motivation or use case for changing the behavior?**
I think we just need to bu

[2019-04-09 15:41] evenstensberg commented on #820
I disagree. Public has all the things that goes to browser, having two different folders is an anti-pattern because there's not only static things in `public`, it's a output folder for files and what is sent to the browser.

[2019-04-09 15:42] fokusferit commented on #784
I'd also like to add this tweet :

Might be interesting.

[2019-04-09 16:06] anshumanv commented on #820
From the react docs, 🤔

https://facebook.github.io/create-react-app/docs/using-the-public-folder#when-to-use-the-public-folder

[2019-04-09 16:14] rishabh3112 commented on #784
Yeah, @fokusferit This feature is interesting to me too! Will try to accompany in the plan :)

[2019-04-10 05:32] pranshuchittora commented on #820
@evenstensberg I agree that some good conventions must be followed. But webpack is a js bundler and it should be flexible enough to cover types of standards. Enforcing one without the user's feedback doesn't seem to be a good approach.

On the other hand, if we enforce these practices, then we must keep it configurable & flexible.

[2019-04-10 05:56] pranshuchittora opened #824 "[NEXT] : CLI UI | Before getting started ?"
There are few things that must be addressed before getting started
- What's the [bundle budget](https://github.com/angular/angular-cli/blob/master/docs/documentation/stories/budgets.md)
- How the UI is going to be served.
     1. via a local server (by default React)
    2. or as a static site - pre-rendered/SSRed (using Gatsby)
- Is it going to be served as a separate package or with the core cli

[2019-04-10 07:32] etcinit commented on #724
I was having the same issue above (`SyntaxError: Unexpected identifier`) when importing `path`. It was resolved once I explicitly included `ts-node` as a `devDependency` (i.e.`yarn add --dev ts-node`).

[2019-04-10 09:19] fokusferit commented on #820
Just sharing that with webpack, as there is no real convention, people also can do things like this (giving another real world example of a project I'm working, where `webpack` has it's own folder).
![Screen Shot 2019-04-10 at 11 12 22](https://user-images.githubusercontent.com/1215719/55866954-bf4e4f80-5b81-11e9-8553-f11ae6f06189.png)

Regarding the `.webpack` option as a configuration folder. I

[2019-04-10 10:10] ematipico commented on #824
There's already a discussion open, let's the discussion alive there: https://github.com/webpack/webpack-cli/issues/647

[2019-04-10 10:10] #824 closed

[2019-04-10 14:33] pranshuchittora commented on #647
There are few things that must be addressed before getting started
- What's the [bundle budget](https://github.com/angular/angular-cli/blob/master/docs/documentation/stories/budgets.md)
- How the UI is going to be served.
     1. via a local server (by default React)
    2. or as a static site - pre-rendered/SSRed (using Gatsby)
- Is it going to be served as a separate package or with the core cli

[2019-04-10 15:43] ematipico commented on #647
@rishabh3112 has pretty much covered it with his GSoC proposal and he can answer you to your questions.

It will be a SPA that will use sockets.

What do you mean? It's not easy to quantify. If you'd use just to generate configurations, I'd say the sufficient amount to have a normal web server. If you'd use to use the watch mode, bundle analyser and more, it will depend by the size of the project.

[2019-04-10 16:23] rishabh3112 commented on #647
Yeah, @ematipico answered precisely. As far as bundle budget is concerned, we are not aiming for that now. Instead, shiping features first with proper structure and guidelines first and then look for code splitting, etc for reducing size.

[2019-04-11 10:56] evenstensberg commented on #820
@sokra might have thoughts after he's back from parental leave

[2019-04-11 12:36] misterdev commented on #819
`<IMO>`

**What is interesting to a developer?**
Generally showing the most relevant information at the bottom so that people don't need to scroll the terminal to understand what is happening, I'm thinking about:
- Success: I expect to see my compilation table, a lot of green and sometimes a simple tip telling me how to improve something (eg. "set the mode option" or "your bundle is large, split i

[2019-04-11 14:41] rishabh3112 opened #825 "[UI]: User flow for webpack ui"
**Do you want to request a *feature* or report a *bug*?**

Discussion
**What is the current behavior?**
Currently, my approach is to implement features and then find a way to integrate that feature in the UI.

In Meeting, main focus was on deciding user flow first. For this we would see GUI tools for other CLIs already present and try to take inspiration.
**If the current behavior is a bug, please

[2019-04-11 17:52] apoorv1997 commented on #617
@anshumanv sir, I would like to work on building the frontend, can you tell me from where do i begin?

[2019-04-11 19:31] anshumanv commented on #617
Hey @amitport we're still in the process of finalizing the UI before actually starting any solid work, would be awesome if you can design some prototypes, provide feedback and compare some existing solutions and see if you can come up with something which solves our problem. 😄

[2019-04-14 16:33] #822 closed

[2019-04-16 08:33] anshumanv opened #829 "[serve]: serving from anywhere in the project is not functional"
**Describe the bug**
Presently `webpack-cli serve` requires you to be in the project root to function properly but user can be anywhere in the project and till it's a webpack project serving should work from anywhere in the project it is executed.

**What is the current behavior?**
Only works from  project root,

**To Reproduce**
Run `webpack-cli serve` from a dir inside project root.

**Expected

[2019-04-16 09:02] anshumanv opened #830 "[cli]: Installation prompt should look for package from project root."
**Describe the bug**

Installation prompt is presently searching for packages that are executed like `serve, init` etc in the `cwd` which is not ideal for cases when user is in some other dir inside root and wishes to execute the package so the lookup for whether a package is installed or not is done in the `cwd` and not in the project-root

**What is the current behavior?**
Package lookup is done

[2019-04-16 09:23] anshumanv commented on #830
@ematipico @evenstensberg think this fix is needed?

[2019-04-16 09:54] ematipico commented on #829
Is it really a bug or it's an enhancement/feature?

[2019-04-16 12:11] anshumanv commented on #829
Should be a bug since the user needs to be able to run serve from any place in the project, should I send a PR? @ematipico

[2019-04-16 14:55] ematipico commented on #829
That's the thing: where is it written this requirement? Honest question, I wasn't aware of this behaviour

[2019-04-16 14:59] anshumanv commented on #829
I don't think this is stated as a requirement anywhere, but IMO this should be how it should work where user be inside any dir of the project and can serve the project.

What do you think? @ematipico 🤔

[2019-04-16 15:53] ematipico commented on #829
I think that this is not a bug because there's not a requirement and few people have complained about the current behaviour. Loads of people run their scripts from project root, less people from a sub directory. It's a nice to have!

So I'd say it's a feature because we are extending a functionality that we already have.

[2019-04-16 16:38] anshumanv commented on #829
Yeah works, https://github.com/webpack/webpack-cli/pull/831 aims to solve this PTAL 🙏 😄

[2019-04-16 16:48] rishabh3112 commented on #825
**First Screen**
![New Project](https://user-images.githubusercontent.com/15812317/56228325-2ba2e480-6095-11e9-951d-44f958cdfeb8.png)

**Dashboard** when user has a webpack configuration
![Dashboard](https://user-images.githubusercontent.com/15812317/56228323-2ba2e480-6095-11e9-880c-3896f5dad5d3.png)

cc @webpack/cli-team

[2019-04-17 01:12] evenstensberg commented on #830
No, we need to symlink

[2019-04-17 03:45] anshumanv commented on #830
Can you help me understand what changes are needed or none at all?

[2019-04-17 08:53] ematipico commented on #825
This is blast!!! Amazing job @rishabh3112 !!!!

Just an advice: I would avoid the blue colour in there, where there's the black background because it doesn't have enough contrast. I would use a brighter colour 😄

[2019-04-17 08:56] rishabh3112 commented on #825
Thanks, I picked up color scheme from official color branding schemes of webpack, will experiment more with dark part and share soon 👍

[2019-04-17 13:06] rishabh3112 commented on #825
![New Project](https://user-images.githubusercontent.com/15812317/56289568-dfac7a00-613e-11e9-8e3a-d82d262d5687.png)

![Init](https://user-images.githubusercontent.com/15812317/56289818-75e0a000-613f-11e9-8d0e-c2370c204733.png)

![Dashboard](https://user-images.githubusercontent.com/15812317/56289569-e0451080-613e-11e9-9a25-9d072e647c2d.png)

@ematipico updated cyanish blue to yellow see if it's g

[2019-04-17 19:49] misterdev commented on #825
This is great! I really like that you put a fixed background and a "card" with all the content :)

One thing, I can see different kinds of buttons: blue buttons with background, yellow buttons without background and a green rectangular button. Being more consistent with styling would benefit the UX :)

[2019-04-18 07:22] WebReflection commented on #738
To whom it might concern, there are [3 ways to disabled lightercollective](https://github.com/WebReflection/lightercollective/blob/master/index.js#L6-L14)

  * don't include a `collective` entry in your package.json
  * set the rpm config level to silent, error, or warn
  * pass `DISABLE_OPENCOLLECTIVE=1` upfront (`1` or `true` or `y` or `yes`) or set it as ENV variable

I also find it weird nobod

[2019-04-18 07:59] apoorv1997 commented on #825
@misterdev sir, I would like to work on building the frontend app for the webpack-cli. Can you please guide me?

[2019-04-18 08:02] anshumanv commented on #825
@apoorv1997 same comment - https://github.com/webpack/webpack-cli/issues/617#issuecomment-482225126 😄

[2019-04-18 09:35] k-five commented on #103
It took me one day (= trial and error) to realize that I cannot ignore `webpack.config.js` file
I cannot remember any Unix Tools with which when we do not want a config file the CLI still uses it :(
I developed some CLIs in C and C++ for Linux and I am really surprised about `webpack-cli` behavior:

1. It is run even with non existing option
./node_module/.bin/webpack-cli --xxxxxxxx

2. It is run

[2019-04-18 14:47] evenstensberg commented on #830
You will first need to look for the package in global and then local

[2019-04-18 14:48] evenstensberg commented on #738
Or upgrade

[2019-04-18 14:57] WebReflection commented on #738
@evenstensberg if that was for me, yes, I've updated lightercollective to avoid undesired errors in unknown envs, instead of asking everyone using it to add `|| exit 0` in their package.json

[2019-04-18 14:58] evenstensberg commented on #103
Thank you so much for your comment. Could you bring this over to https://github.com/webpack/webpack-cli/issues/820 ?

[2019-04-18 15:22] anshumanv commented on #830
Okay! Updating the PR to look for global -> project root -> cwd

In this order

[2019-04-18 16:05] k-five commented on #820
It took me one day (= trial and error) to realize that I cannot ignore `webpack.config.js` file
I cannot remember any Unix Tools with which when we do not want a config file the CLI still uses it :(
I developed some CLIs in C and C++ for Linux and I am really surprised about `webpack-cli` behavior:

1. It is run even with non existing option
./node_module/.bin/webpack-cli --xxxxxxxx

2. It is run

[2019-04-19 13:40] anshumanv commented on #830
@evenstensberg you sure we need to change the workflow? Right now it's looking for cwd first and then goes to global to check if a package is installed, I've proposed to check the project root -> cwd -> global which makes sense IMO, what do you think?

For the serve package it is presently initiated in cwd, but I think the project root is more ideal location to start the webpack-dev-server.

[2019-04-20 04:35] rishabh3112 opened #836 "[Discussion] Recommend using async/await for prompting"
**Do you want to request a *feature* or report a *bug*?**

Discussion

**What is the current behavior?**
Currently, we are writing promise chains for prompting, which reduces readability as we nest deeper and deeper.

**If the current behavior is a bug, please provide the steps to reproduce.**

N/A

**What is the expected behavior?**
Using async/await for prompting. Example:
https://github.com/ris

[2019-04-20 04:45] anshumanv commented on #836
👍 for this, would lead to much cleaner code.

[2019-04-20 06:58] ematipico commented on #830
Changing the flow means breaking change... So major release.

[2019-04-20 07:14] anshumanv commented on #830
Yeah, I guess for now we can just make a minor improvement of starting off the server from the project root then go to the cwd, just a minor change since I think it makes more sense to start the project from it's root. @ematipico
No changes to the core flow as per the current PR.

[2019-04-20 08:04] ematipico commented on #836
We still support node 6, we can't remove them.
Although we can consider it to the next major version (which already uses them), look at the `next` branch.

[2019-04-20 08:35] wizardofhogwarts commented on #836
I meant to migrate `prompting()` of yeoman generators to async/await .

For example `add-generator`, etc we have in CLI

[2019-04-20 08:52] rishabh3112 commented on #836
I meant to migrate `prompting()` of yeoman generators to async/await.
For example add-generator, etc we have in CLI

[2019-04-20 08:56] rishabh3112 commented on #836
Also, as we are using TS, we don't need to worry as TSC will polyfill based on our target while compilation.

[2019-04-20 11:26] tomasz-sodzawiczny opened #839 "[BUG]: Configuration handling fixes and refactoring"
Due to how the the config parsing is implemented it has a few unexpected behaviours. I understand where they're coming from in the code and have a few suggestions for the fix(es).

**I'm happy to do the work**, just want to make sure that this direction is correct and there are no other plans/changes needed as I'm refactoring this part.

## Problems

(See https://github.com/webpack/webpack-cli/pul

[2019-04-20 13:22] ematipico commented on #836
Sounds good so!

[2019-04-20 17:18] pranshuchittora commented on #667
@evenstensberg  shall we close this?

[2019-04-20 17:27] pranshuchittora opened #840 "[DOCUMENTATION]: Migration of docs to webpack.js.org"
Docs are something which is one of the most important references for any developer. What's worse than outdated docs :cry: .

Like these
- [Scaffolding](https://github.com/webpack/webpack-cli/blob/master/SCAFFOLDING.md)
- [Migrate](https://github.com/webpack/webpack-cli/blob/master/MIGRATE.md)
and many more.

### Solution
The idea is to migrate/shift all the documentation to the webpack.js.org to m

[2019-04-20 17:34] misterdev commented on #840
There's already a discussion on this: [#2894](https://github.com/webpack/webpack.js.org/pull/2894) :)

[2019-04-21 11:14] anshumanv opened #844 "docs: add commands description in README"
**Do you want to request a *feature* or report a *bug*?**
docs

**What is the current behavior?**
commands are just listed, maybe adding a little summary can help users pick what they need.

**If the current behavior is a bug, please provide the steps to reproduce.**
NA

**What is the expected behavior?**
commands are simply listed

**If this is a feature request, what is motivation or use case fo

[2019-04-21 11:31] anshumanv opened #846 "docs: inconsistent docs in serve package"
**Do you want to request a *feature* or report a *bug*?**
docs

**What is the current behavior?**
It contains deprecated docs, we no longer use webpack-serve
![image](https://user-images.githubusercontent.com/21009455/56469544-e990ee80-6458-11e9-8b60-7b6b7ec808f6.png)

**If the current behavior is a bug, please provide the steps to reproduce.**
NA

**What is the expected behavior?**
Since we're us

[2019-04-21 16:53] anshumanv commented on #836
Picking remove generator if it's cool 🤚

[2019-04-21 17:00] misterdev commented on #836
If it's ok I can include this change into the refactor of the init generator I'm currently working on :)

[2019-04-21 18:48] #846 closed

[2019-04-21 18:54] evenstensberg opened #848 "[Bug]: `npm run docs` fails"
**Describe the bug**

A 💯 way to do this is to provide your configuration via a GitHub gist and/or to use markdown when describing which commands you used when the error occurred! Be precise and clear in your description of the bug.

**What is the current behavior?**

Running the command results in an error.
This is where you elaborate on the current behavior of the cli, how it behaves normally di

[2019-04-21 18:55] anshumanv commented on #848
Investigating this 👍

[2019-04-22 01:32] rishabh3112 commented on #836
Sure, let me make a checklist of all the generators, when on laptop, and lets collaborate 🤓

[2019-04-22 05:28] anshumanv commented on #844
Fixed in #845

[2019-04-22 05:28] #844 closed

[2019-04-22 06:51] dhruvdutt commented on #836
I'm working on the add and remove generator. 😁

[2019-04-22 07:32] ematipico commented on #820
I really thank you @k-five for your honest and constructive opinion! I guess we still have some work to do in order to achieve a good tool but we're working hard!

[2019-04-22 07:39] anshumanv commented on #836
Just a heads up to prevent extra work, init is done here - https://github.com/webpack/webpack-cli/pull/843 😄

[2019-04-22 09:37] misterdev commented on #836
I think @anshumanv is talking about the add generator :)

[2019-04-22 12:47] rishabh3112 commented on #836
Have updated the issue with who's on what✔
Look and work accordingly

[2019-04-22 13:46] pranshuchittora opened #850 "feat(docs): addition of markdownlint"
**Is your feature request related to a problem? Please describe.**
Inconsistent formatting and linting of docs, throughout the project.

**Motivation**
While working for the PR #842, @ematipico  pointed out some linting issues :+1: .
Hence linting must be prioritised, inspired by the Webpack.js.org project, which follows the same standards to [lint the markdown](https://github.com/webpack/webpack.

[2019-04-22 15:50] anshumanv commented on #709
I think I have an approach in mind, will be sending a WIP soon. 👍

[2019-04-24 01:21] 3cp opened #854 "[request] opencollective postinstall should respect DISABLE_OPENCOLLECTIVE"
**Is your feature request related to a problem? Please describe.**
The inhouse opencollective postinstall `bin/opencollective.js` should respect DISABLE_OPENCOLLECTIVE (or CI) environment variable just like standard opencollective-postinstall.

https://github.com/opencollective/opencollective-postinstall/blob/7a5c767e043f7e86c452f5f8b96b9cf4db7a8ce5/index.js#L7

**Describe the solution you'd like*

[2019-04-24 13:22] anshumanv commented on #854
Will fix this. 👍

[2019-04-24 13:24] evenstensberg commented on #854
The prompt is showing 1 day per week and only if you install it on that particular day. I don't think it's a big problem.

[2019-04-25 04:22] huochunpeng commented on #854
I might missed something obvious. Where is the date related config/code?

[2019-04-25 04:42] anshumanv commented on #854
https://github.com/webpack/webpack-cli/blob/309cc1c53fce3fa2cead8955f90182a1d99b5841/bin/cli.js#L322

[2019-04-25 04:46] huochunpeng commented on #854
Thx @anshumanv. Your one is different from this topic.

This issue is about the prompt during `npm install`, not when running webpack cli.

https://github.com/webpack/webpack-cli/blob/309cc1c53fce3fa2cead8955f90182a1d99b5841/package.json#L39

https://github.com/webpack/webpack-cli/blob/master/bin/opencollective.js

[2019-04-25 08:21] ematipico commented on #854
Yes, this request is legit, we should give the possibility to turn off the prompt at least during CIs

[2019-04-25 16:50] renatoagds commented on #825
@rishabh3112 pretty good job! I would just like to suggest we reduce the amount of information that we show for user at the same screen (like in the search starters screen), I think we could keep it minimal and link for the properly project doc, instead put everything in the screen for the user.

[2019-04-25 17:29] evilebottnawi opened #860 "[ci]: add node@12"
**Is your feature request related to a problem? Please describe.**

Add node@12 to ensure all works fine

**Describe the solution you'd like**

Above

**Describe alternatives you've considered**

No

**Additional context**

No

[2019-04-25 17:30] evilebottnawi commented on #860
Also i find some problems with setup https://github.com/webpack/webpack-cli/commit/c9c3fea8fc32286e27492605b5c8ec37fe12cecc#comments

[2019-04-26 06:36] pranshuchittora opened #861 "🐞[cli]: throws err when no args passed."
**Describe the bug**

CLI throws an error when no args passed. Occurs only if `webpack` is not installed.

![Screenshot from 2019-04-26 11-20-44](https://user-images.githubusercontent.com/32242596/56787272-9ed8f300-6819-11e9-95bb-ba786f765f5d.png)

**What is the current behaviour?**
Throws an error.
**To Reproduce**
Steps to reproduce the behaviour:

1. Create a new folder.
2. `npm init -y`
3. `np

[2019-04-26 11:33] ematipico commented on #861
Have you installed webpack?

[2019-04-26 12:18] pranshuchittora commented on #861
No I haven't installed webpack.
This error occurs when `webpack` is not installed and no args passed to the CLI. https://github.com/webpack/webpack-cli/pull/862

[2019-04-26 13:47] rishabh3112 commented on #825
## Updates
- Add questionnaire page
- Made starter card minimal, requested by @renatoagds
- Made yellow as secondary color, requested by @misterdev

## Designs v1.0.4
![Dashboard](https://user-images.githubusercontent.com/15812317/56812089-d9fa1700-6857-11e9-8bdd-285e52e0dfae.png)
![Init](https://user-images.githubusercontent.com/15812317/56812092-d9fa1700-6857-11e9-8211-3f364c1ab2dc.png)
![New Pr

[2019-04-26 15:14] misterdev commented on #825
That's nice! The "related property" seems very useful.

I would advise against yellow things on a white background because they have low contrast.
I think it would be nice to have a sense of progression using "Question 1 of 7" or some kind of breadcrumb navigation

[2019-04-26 17:02] ematipico commented on #825
@misterdev I don't think we'll be able to implement that. Some questions appear/change based on the previous ones. For example, let's say we ask the user if they want typescript. At that point we could if they want to parse via babel or typescript themselves, and maybe what kind of type checker they want, etc.

[2019-04-26 17:28] misterdev commented on #825
Breadcrumb navigation would work to just give an idea of the percentage of completion.
But you are right, at the moment we don't have a way to know how many questions have a custom scaffold

[2019-04-26 18:26] misterdev opened #864 "[CI]: investigating broken CI"
**Describe the bug**
I'm investigating on how to fix the currently broken CI.

Travis on the same commit completed with success previously (see [builds](https://travis-ci.org/webpack/webpack-cli/builds)):

![zio](https://user-images.githubusercontent.com/11232797/56827984-98219e80-6860-11e9-90db-74d8d7bd8797.png)

But now fails on `travis_wait npm ci` ([log](https://travis-ci.org/webpack/webpack-c

[2019-04-26 22:38] #799 closed

[2019-04-28 10:04] ematipico commented on #864
I can't tell honestly. Maybe it's an issue with travis + lerna?

[2019-04-28 10:07] ematipico opened #865 "[Chore]: move types to @types/yeoman-generator"
At the moment we use internal interfaces for our generator classes.

We should move to [`@types/yeoman-generator`](https://www.npmjs.com/package/@types/yeoman-generator)

[2019-04-28 10:09] ematipico opened #866 "[ENHANCEMENT]: move types to @types/jscodeshift"
At the moment we use internal interfaces for our AST functions. This is not working as we have duplicates and this will hit really bad on the long run.

We should move to [`@types/jscodeshift`](https://www.npmjs.com/package/@types/jscodeshift)

For this one, ideally it would be better to create PRs for each package, starting from the small ones.

[2019-04-28 10:11] ematipico commented on #864
Ok, the problem is around Node 12. I'd suggest, to fix this issue, is to remove the stable from our Travis CI configuration and adding Node 12 as separate PR. Probably there's a breaking change around our deps or around travis

[2019-04-28 10:12] misterdev commented on #865
I can work on this :)

[2019-04-28 10:22] misterdev commented on #864
Ok, I'll take a look at this. Thank you!

[2019-04-28 12:33] pranshuchittora opened #867 "🐞[add]: error while trying to add performance property"
**Describe the bug**

Throws an error while using `add` command and trying to add `performance` property.
**Happening only with the current code from the repo, not with the version on the npm.**

**What is the current behaviour?**
Error

[code]

**To Reproduce**
Steps to reproduce the behaviour:
(Create a new directory & link the CLI repo)
1. ` ./node_modules/webpack-cli/bin/cli.js init`
2. ` ./no

[2019-04-28 14:08] anshumanv commented on #866
Will take a look at this. :)

[2019-04-28 20:23] pranshuchittora commented on #867
Update
- Entire `add` pkg is not working.

Pls, acknowledge if you are also experiencing similar issues. Thank you.

[2019-04-28 20:49] pranshuchittora opened #868 "[ENHANCEMENT]: Unhandled promise rejections are deprecated"
[code]
Improve error handling by adding the `catch` block.

https://github.com/webpack/webpack-cli/blob/06b4929c130e30763b9b70d79ab6ae182f6d4fa9/packages/generators/init-generator.ts#L85

https://github.com/webpack/webpack-cli/blob/06b4929c130e30763b9b70d79ab6ae182f6d4fa9/packages/generators/remove-generator.ts#L64

https://github.com/webpack/webpack-cli/blob/06b4929c130e30763b9b70d79ab6ae182f6d4f

[2019-04-29 01:01] rishabh3112 commented on #867
Fixed this in my async/await PR :)

[2019-04-29 11:08] sbrunner opened #870 "Regression in version 3.3.1"
**Describe the bug**

Regression on vwersion 3.3.1

**What is the current behavior?**

I get the following error:
[code]

**To Reproduce**
1. Install Webpack globally `npm install --global ...` (in my case in a Linux Docker container).
2. Build the project using webpack.

**Expected behavior**
Build success

**Please paste the results of `webpack-cli info` here, and mention other relevant informat

[2019-04-29 11:15] misterdev commented on #870
Thanks for reporting, I'm going to investigate :)

[2019-04-29 11:36] fredj commented on #870
@misterdev I've created a minimal project to reproduce the issue: https://github.com/fredj/webpack-atime
It can only be reproduced on Mondays :smile:

[2019-04-29 17:43] misterdev commented on #864
The installation of [`iltorb`](https://github.com/MayhemYDG/iltorb) fails when `node-gyp rebuild` is executed.
It happens on Windows, Linux, and MacOS both on Travis and Azure Pipelines (see #872), the common factor is Node 12, that explains why the CI broke the same day that Node 12 became "stable"

![iltorb](https://user-images.githubusercontent.com/11232797/56915521-03fd4480-6ab7-11e9-94fa-6d4a

[2019-04-29 17:54] misterdev commented on #864
Seems like iltorb doesn't support node 12
We use `bundlesize` that depends on `iltorb`, there's an open PR to fix this [bundlesize#295](https://github.com/siddharthkp/bundlesize/pull/295) I guess we should wait for it to be merged.

[2019-05-01 17:58] misterdev opened #875 "Broken add-generator"
**Describe the bug**
Executing `webpack-cli add` and choosing `"amd"` results in an error:

It seems to happen with most of the options (tested with bail, context, ...)

**To Reproduce**
Steps to reproduce the behavior:
1. Execute  `webpack-cli add`
2. Choose `"amd"`

**Screenshots**
![bug-add](https://user-images.githubusercontent.com/11232797/57032494-d0ebba00-6c4a-11e9-8f84-cf2e056a8624.png)

[2019-05-02 13:24] #864 closed

[2019-05-02 13:29] rishabh3112 commented on #875
Thanks @misterdev, this is already reported at #867 and is fixed in #843 .

[2019-05-02 13:42] misterdev commented on #875
Oh great, nice to know!

[2019-05-02 13:42] #875 closed

[2019-05-03 07:11] #865 closed

[2019-05-03 18:36] pranshuchittora opened #877 "🐞[deps]: error while bootstrapping."
**Describe the bug**
`npm run bootstrap` throws an error.

**What is the current behaviour?**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run `npm run bootstrap`

**Expected behaviour**

return 0

**Screenshots**
![Screenshot from 2019-05-04 00-01-32](https://user-images.githubusercontent.com/32242596/57158130-3339eb80-6e00-11e9-990f-65a070798395.png)

[2019-05-04 09:04] keneohiaeri commented on #654
Hello everyone, I want to know if any progress has been made on the Webpack CLI user interface. I am completely new to using Webpack, but from reading the previous messages here and doing my own little research, I was able to come up with a user story and user flow for the Webpack CLI.
You check them out here and drop your comments: https://clip.ng/jfbt
I'd love to join the Design team and work on

[2019-05-04 09:15] rishabh3112 commented on #654
Great @keneohiaeri, you can get started with #825 and collaborate with me 👍

[2019-05-04 14:01] keneohiaeri commented on #825
Amazing work soo far! I have gone through the Vue user flow, design iterations and feedback. Some of the design reviews I was able to collect from the previous messages include:
1. Button consistency
2. Breadcrumb navigation
3. Progress bar for scaffold generation
4. Colour scheme for user interface

I also have a few questions,
1. Is the UI a web-based app or desktop app?
2. If it's a web-based a

[2019-05-04 14:24] Hethsron opened #878 "webpack-cli@3.3.1 postinstall: `node ./bin/opencollective.js` npm ERR! Exit status 134"
**Describe the bug**

A 💯 way to do this is to provide your configuration via a GitHub gist and/or to use markdown when describing which commands you used when the error occurred! Be precise and clear in your description of the bug.

**What is the current behavior?**

This is where you elaborate on the current behavior of the cli, how it behaves normally differing from the previous version/build y

[2019-05-04 14:26] Hethsron commented on #878
@okonet Hi

I try to install webpack-cli but i have this error 👎
Aborted
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.2.9 (node_modules/fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.2.9: wanted {"os":"darwin","arch":"any"} (current: {"os":"linux","arch":"x64"})

npm ERR! code ELIFECYCLE
npm ERR! errno 134
npm ERR! webpack-cli@3.3.1 posti

[2019-05-04 16:25] misterdev commented on #878
Hi, thanks for reporting this. In order to understand what's the problem please fill the template provided when you created the issue.
The first message of this conversation is the template I'm talking about, you can edit it

Also, please provide a repository to reproduce the error.

Thanks :)

[2019-05-04 19:35] evenstensberg commented on #878
Could you give a complete stack trace after removing node modules and running npm install again?

[2019-05-04 19:41] #870 closed

[2019-05-04 19:50] evenstensberg commented on #861
This is a no fix in my opinion

[2019-05-04 19:52] #854 closed

[2019-05-04 20:18] evenstensberg commented on #878
webpack-cli v.3.2.2 comes with a fix for this.

[2019-05-04 20:18] #878 closed

[2019-05-04 20:20] pranshuchittora commented on #861
@evenstensberg
The fix for this is to output a proper message(steps/warning) in order to channelise the user for a successful run.

[2019-05-04 21:17] okonet commented on #878
Repo orgs: Can someone remove me from the project. I’m reviving too many emails and I’m not even working on it. Thanks!

Everyone else: please don’t mention people in issues if this isn’t really necessary.

[2019-05-04 21:19] evenstensberg commented on #878
Will do this tomorrow Andrey. Hope you’re doing well! 🤗

[2019-05-05 13:38] renatoagds commented on #654
Nice job @keneohiaeri ... I would just propose to explore more what you're thinking about `Optmize Bundle`. It means add new plugins? Or an automatic check into the project Bundle? IMO when we say `Optimize Bundle` it's too much general.

[2019-05-05 13:44] rishabh3112 commented on #825
@keneohiaeri answer to your questions:
1. A web based app running locally, not hosted.
2. No authentication required here.
2. I design on Adobe XD.

[2019-05-05 13:44] renatoagds commented on #825
@keneohiaeri answering your questions:

For now, is a web-based app, we could improve it in the future and add an electron piece. But for now isn't the main goal.

It will be a server running direct in the user computer, based in that we don't need an authentication system. To store data, we could use the user local storage

I don't think so, @rishabh3112 could answer better.

[2019-05-05 22:50] keneohiaeri commented on #825
Thanks for the feedback, I was able to work on the existing UI designs over the weekend. I took into consideration the previous design reviews and made some tweaks here and there. Check them out and tell me what you think!

[2019-05-05 22:52] keneohiaeri commented on #825
### DESIGN v1.0.5
![Dashboard (Empty State)](https://user-images.githubusercontent.com/5783080/57201416-a1151d00-6f90-11e9-8acb-b8fc7bb0756b.png)
![Dashboard](https://user-images.githubusercontent.com/5783080/57201418-a70afe00-6f90-11e9-9b41-cf1198894c80.png)
![Create Project](https://user-images.githubusercontent.com/5783080/57201421-ad997580-6f90-11e9-858d-761fb654bc91.png)
![Select Starter Pack

[2019-05-05 22:56] keneohiaeri commented on #654
I see the `Optimize Bundle` goal as an update to the current config. We could still come up with a better definition of `Optimize Bundle`, and avoid the problems of it being too general.

[2019-05-06 00:31] misterdev commented on #825
Nothing to say, this is beautiful! Consistent and elegant, great work!

PS: I don't think we'll be able to implement breadcrumbs navigation, but it look very nice

[2019-05-06 00:32] evenstensberg commented on #825
wow 😍

[2019-05-06 00:57] rishabh3112 commented on #825
Looks awesome 😎.
Needs some iterations and we are good to go 🚀

[2019-05-06 03:41] renatoagds commented on #825
@keneohiaeri wow! great job 😍

[2019-05-06 05:03] teppeis opened #879 "Incorrect github tags"
**Describe the bug**

v3.3.2 is tagged as `v3.2.2` in GitHub incorrectly.

- https://github.com/webpack/webpack-cli/releases/tag/v3.2.2
- https://github.com/webpack/webpack-cli/commit/f0031fdd037a5ad3d5dca97b23aaac96c9edd4fb

Also, v3.2.2 is tagged as `v.3.2.2` (including a weird dot after "v").

- https://github.com/webpack/webpack-cli/releases/tag/v.3.2.2

In GitHub tags, some versions include t

[2019-05-06 08:32] keneohiaeri commented on #825
Thanks everyone! Glad I could contribute!
@rishabh3112 Here's the source link to the designs, you can add any missing features from there.
Link - https://clip.ng/mDVa

[2019-05-06 08:33] ematipico commented on #825
@keneohiaeri amazing job! Thanks and WOW!!

[2019-05-06 08:55] anshumanv commented on #825
Great work @keneohiaeri! ✨ 🚀

[2019-05-06 09:33] dhruvdutt commented on #825
@keneohiaeri Awesome AF 🥂💙💙💙

[2019-05-06 10:31] rishabh3112 commented on #825
@keneohiaeri I have added some feedback on the `figma`. Sorry, but as the link as read-only, I, therefore, couldn't edit them in place.

[2019-05-06 13:39] evenstensberg commented on #879
Thanks for reporting. We're gonna follow npm convention from now on.

[2019-05-06 13:39] #879 closed

[2019-05-06 18:43] ematipico commented on #879
@teppeis Thank you for reporting. This is now fixed!

[2019-05-07 05:41] Ignacas commented on #870
For me, the same issue appeared yesterday (2019.05.06 Monday). And today I don't get any error, everything builds fine after I have done nothing, it is really strange.

[2019-05-07 12:18] evenstensberg commented on #870
Update to the latest version

[2019-05-08 05:34] amitport commented on #617
@anshumanv, I'm pretty sure you refer to someone else

[2019-05-08 09:36] marco-ponds opened #880 "v3.2.2 and v3.3.2 tag mismatch"
Hello everyone, this is not related to `webpack-cli`'s behaviour, but I believe there's a mismatch in the latest tags.

This tag [v3.2.2](https://github.com/webpack/webpack-cli/releases/tag/v3.2.2) and this tag [v3.3.2](https://github.com/webpack/webpack-cli/releases/tag/v3.3.2) are pointing to the same commit hash `f0031fd`. I think there has been a typo when releasing the latest version of `webp

[2019-05-10 07:04] kumaresan-subramani opened #881 "DefaultsError: `warnings` is not a supported option"
Due to your latest updated iam getting this issue

https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/400

DefaultsError: `warnings` is not a supported option
    at DefaultsError.get (eval at <anonymous> (/jenkins/workspace/grid-angular-samples_master-KGZGHS6RTY6XLQXUQWQ55ECXCFTEAMXT7SLUT7R6DKIUWVH6ZW4Q/node_modules/uglifyjs-webpack-plugin/node_modules/uglify-js/tools/node.js:20:1)

[2019-05-10 09:14] jeoy commented on #881
HI , @kumaresan-subramani , it seems caused by upgrade of Uglify-js,

check this https://stackoverflow.com/a/55998303/10139109

[2019-05-10 09:21] kumaresan-subramani commented on #881
HI @jeoy ,

Thanks for your quick response.

[2019-05-10 11:35] anikethsaha opened #882 "typeError if passing a different webpack config filename in remove command"
**Describe the bug**
[code]

**What is the current behavior?**
Throwing typeError and stopping the execution of the package.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a webpack config filename name other than `webpack.config.js`, something like `webpack.prod.js` or anything else
2. run `$ webpack-cli remove webpack.prod.js`
it will throw this.
[code]

**Expected behavior**
This

[2019-05-12 08:39] anikethsaha commented on #882
cc @evenstensberg

[2019-05-12 09:03] ematipico commented on #882
PR is welcome. We should adopt the some solution we use for `add`/`update`

[2019-05-12 09:24] anikethsaha commented on #882
Can we use `inquirer js` in the constructor? @ematipico
I tried with the yeomen ' s prompt but it wont workout. properly

[2019-05-12 09:33] ematipico commented on #882
I wouldn't prompt to the user. Let's just fix the file resolution. I think for now it's enough for now.

[2019-05-12 10:25] anikethsaha commented on #882
okk

[2019-05-12 18:22] renatoagds commented on #825
@rishabh3112 and @keneohiaeri what you guys think is missing to go ahead with? IMO we could start working in the frontend application.

[2019-05-13 13:47] rishabh3112 commented on #825
As per meeting, UI is now an independent project under my repo.

Also designs have to be ported to suit as a local tool, rather something to be served as a website.

You can follow rest on https://github.com/rishabh3112/webpack-ui

[2019-05-13 13:47] rishabh3112 commented on #825
Will rework on designs after my exams this month @renatoagds

[2019-05-13 14:12] renatoagds commented on #825
@rishabh3112 perfect! I'll follow the discussion under your repo.

[2019-05-15 14:48] hakobpogh commented on #724
I have the same issue for the following versions
[code]
and it worked after adding tihs: `TS_NODE_PROJECT=\"tsconfig-for-webpack-config.json\"` but previously with this versoins I didn't have the issue:
[code]

[2019-05-16 13:10] anikethsaha opened #884 "[BUG]: 🐞init command doesnt change the entryOptions value when passed"
**Describe the bug**

**What is the current behavior?**
in `$ npx webpack-cli init` command, In the second question, it is asking for the entry point and the default is `dist` but if we write the entrypoint in the answer then also it is keeping `dist` only in the `webpack.config.js` which is generated

**To Reproduce**
Steps to reproduce the behavior:

1. RUN :  ` $ npx webpack-cli init  `
2.  In

[2019-05-16 13:21] anikethsaha commented on #884
The if statement can be better if we use more effecient regex like this one :
[code]

[2019-05-18 17:39] LostKobrakai opened #885 "[BUG]: Dangling processes on exit with `--watch-stdin` and multiple configurations"
# Bug report

**What is the current behavior?**
Starting webpack with `--watch-stdin` doesn't properly cleanup after itself. My webpack config returns a function, which returns two configuration objects. When starting webpack via my backend it starts 5 node processes, but when stopping the backend it leaves one node process running. It works when only one configuration object is returned by the fu

[2019-05-20 15:56] anikethsaha commented on #884
cc @ematipico @evenstensberg

[2019-05-21 14:29] dev-xror commented on #878
@evenstensberg  I'm getting the same error when trying to install webpack globally... there's no specific errors to check..  I tried different approach but with no luck... please help. :(

![image](https://user-images.githubusercontent.com/49257225/58103537-26afe400-7bb1-11e9-8e9a-d952abc558f4.png)

[2019-05-21 14:31] dev-xror commented on #878
@macjohnny I'm getting the same error when trying to install webpack globally... there's no specific errors to check..  I tried different approach but with no luck... please help. :(

![image](https://user-images.githubusercontent.com/49257225/58104892-8ad3a780-7bb3-11e9-8d4f-898250af314b.png)

[2019-05-21 14:32] dev-xror commented on #878
@evenstensberg  I'm getting the same error when trying to install webpack-cli globally... there's no specific errors to check..  I tried different approach but with no luck... please help. :(

![image](https://user-images.githubusercontent.com/49257225/58104892-8ad3a780-7bb3-11e9-8d4f-898250af314b.png)

[2019-05-22 08:39] #860 closed

[2019-05-22 14:53] misterdev commented on #880
Hi @marco-ponds, thanks for reporting :)
We can close this now as it has already been fixed (#879)

[2019-05-22 14:57] misterdev commented on #878
Hi @dev-xror, thanks for reporting this, could you please open a new Issue?

Also:

[2019-05-22 18:05] tpodom opened #887 "[BUG]: Multiple config throws error calling tap on undefined in webpack-cli"
# Bug report

**What is the current behavior?**
When running webpack with `--info-verbosity verbose` and multiple configs the following error is thrown.  The MultiCompiler does not define a beforeRun hook.

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
Create a multiple config webpack and run webpack with --info-verbosity verbose.

**What is the expected beha

[2019-05-23 15:10] xavierfoucrier commented on #569
I am now using [`webpack-merge`](https://www.npmjs.com/package/webpack-merge) as an alternative but it would be cool to have this feature integrated the same way `webpack-command` CLI did with the [`extends`](https://github.com/webpack-contrib/webpack-command#extendable-webpack-configurations) property.

[2019-05-23 17:01] srchulo opened #889 "webpack-cli fails to install due to node ./bin/opencollective.js failing"
**Describe the bug**

Installing webpack-cli@3.3.2 fails with this error:

[code]

Specifically, this command:

`node ./bin/opencollective.js `

**What is the current behavior?**

The install fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Install webpack globally.
2. Install webpack-cli@3.3.2

**Expected behavior**
webpack-cli@3.3.2 should successfully install.

**Please paste the re

[2019-05-23 18:29] srchulo commented on #889
I also get an in issue in bin/opencollective.js on line 12:

https://github.com/webpack/webpack-cli/blob/master/bin/opencollective.js#L12

[code]

[2019-05-23 18:46] misterdev commented on #889
I see you are using node v4, you should update it to the current version `>=10`.

Node <=6 has been discontinued as you can see [here](https://nodejs.org/en/about/releases/)

[2019-05-23 19:26] anikethsaha opened #890 "[BUG]: 🐞add generator wont add multiple plugin."
**Describe the bug**
add generator won't add multiple plugins when running the `add` command multiple times.

**What is the current behavior?**
The generator won't add more than 1 plugin in add generator if asked for multiple times, it will simply overwrite the existing plugin

**To Reproduce**
Steps to reproduce the behavior:
1. Run command `npx webpack-cli add `
2. Select plugins in the current

[2019-05-24 12:11] evilebottnawi opened #894 "Sponsor button"
No issue template. Done like in https://github.com/webpack/webpack

Need add file https://github.com/webpack/webpack/blob/master/.github/FUNDING.yml

[2019-05-24 13:01] #850 closed

[2019-05-24 13:02] anshumanv commented on #894
On it

[2019-05-24 15:06] #882 closed

[2019-05-24 19:18] srchulo commented on #889
Thanks! That seems to have fixed my issue.

[2019-05-24 19:18] #889 closed

[2019-05-27 01:21] #894 closed

[2019-05-27 01:29] #881 closed

[2019-05-27 01:30] #880 closed

[2019-05-27 09:57] pranshuchittora opened #897 "🐞[bootstrap]: Err while bootstrapping"
**Describe the bug**
Err while bootstrapping
![Screenshot from 2019-05-27 15-25-59](https://user-images.githubusercontent.com/32242596/58412331-e01c2700-8093-11e9-90f9-454316074941.png)

**What is the current behavior?**
Error
**To Reproduce**
Steps to reproduce the behavior:
1. `yarn|npm run bootstrap`
2. See error

**Expected behavior**
No Err

[2019-05-27 09:59] evenstensberg commented on #897
Just do a rm, and reinstall. Nofix

[2019-05-27 09:59] #897 closed

[2019-05-27 10:00] pranshuchittora opened #898 "🐞[watch]: Err while watching ts files"
**Describe the bug**
Err while watching ts files

**What is the current behavior?**
Err

**To Reproduce**
1. yarn watch
2. See error

**Expected behavior**
Err

**Screenshots**

![Screenshot from 2019-05-27 15-20-32](https://user-images.githubusercontent.com/32242596/58412583-62a4e680-8094-11e9-9d60-4fd4bc35479e.png)
![Screenshot from 2019-05-27 15-20-45](https://user-images.githubusercontent.com/

[2019-05-27 10:22] pranshuchittora commented on #898
Resolved with #897
Thanks @evenstensberg

[2019-05-27 10:22] #898 closed

[2019-05-27 13:10] DanielRuf opened #899 "[ENHANCEMENT]: Inconsistent path resolving for entry"
**Describe the bug**

It seems there are already relevant issues about this.
But it still happens in webpack 4 or it appeared again.

The following does not work as it can not resolve `src/index.js`
[code]
But the following does work
[code]

**What is the current behavior?**

`entry` resolved the given path not as `output` does.

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone git@

[2019-05-27 17:29] anikethsaha commented on #890
@ematipico  is this `AST Transform`  for topScopte bug?

[2019-05-27 17:42] rishabh3112 commented on #825
Closing this issue. Thanks, everyone for the feedback 😃.
Further feedback can be shared at https://github.com/rishabh3112/webpack-ui/issues/1

[2019-05-27 17:43] rishabh3112 commented on #760
Closing this issue. Thanks, everyone for the feedback 😃.
Further feedback can be shared at rishabh3112/webpack-ui#1

[2019-05-27 17:43] #760 closed

[2019-05-27 17:43] rishabh3112 commented on #654
Closing this issue. Thanks, everyone for the feedback 😃.
Further feedback can be shared at rishabh3112/webpack-ui#1

[2019-05-28 05:24] evenstensberg commented on #654
Open for visibility

[2019-05-28 05:25] evenstensberg commented on #825
Still needs to be open cause this is unresolved

[2019-05-28 05:27] evenstensberg commented on #890
Feel free to make a PR that accepts multiple plugins

[2019-05-28 06:02] anikethsaha commented on #890
sure @evenstensberg

[2019-05-28 07:09] evenstensberg commented on #800
I think current approach is good enough for us. Thanks for reporting & providing a fix @anshumanv <3

[2019-05-28 07:09] #800 closed

[2019-05-28 07:40] jamesgeorge007 commented on #868
@pranshuchittora I would like to take this up :+1:

[2019-05-28 07:57] #830 closed

[2019-05-28 08:37] evenstensberg commented on #868
@pranshuchittora could you use the template that will help people triage the issue?

[2019-05-28 14:24] cabello commented on #299
I likely cannot provide much insight but this was affecting me not locally on macOS but on my continuous integration provider linux/Ubuntu, after debugging with SSH in the CI, I found out that webpack-cli 3.2.0 was the first version to introduce this issue, so I downgraded it to 3.1.2 in my `package.json`:

[code]

And it worked! I also tried many webpack 4.X and they all seemed to work with cli 3

[2019-05-28 21:27] Loonride opened #900 "Migrate webpack-dev-server CLI to webpack-cli serve"
**Is your feature request related to a problem? Please describe.**
The Dev Server's CLI should live in `webpack-cli`. This will make project configuration easier for users, and will force minimization of configuration changes that the CLI makes, creating uniformity between the Dev Server's CLI and API.

**Describe the solution you'd like**
- `webpack-cli` serve should call the Dev Server API, not

[2019-05-29 07:57] evenstensberg commented on #299
Have you tried updating to the latest CLI version? Is the issue still persistent?

[2019-05-29 11:55] cabello commented on #299
Yes, i also tried the latest version, forgot to mention it.

On Wed, May 29, 2019, 3:57 AM Even Stensberg <notifications@github.com>
wrote:

[2019-05-29 16:48] jamesgeorge007 commented on #746
@evenstensberg I would gladly take this up :+1: It would be great if you could give me a better picture of the files to be worked with as I'm not that aware of the code-base.

[2019-05-29 23:04] evenstensberg commented on #746
Great, hmu if you have any questions! @Swatinem since this hasn't had activity since January, I'll let @jamesgeorge007 do this

[2019-05-29 23:06] evenstensberg commented on #299
Alright. Aware this is a bug, but the bug is due the fact that you have a global and a local installation or vice versa. Could you try aligning CLI installation location with webpack location?

[2019-05-30 00:40] misterdev opened #901 "[BUG]: 🐞init throws "A name parameter is required to create a storage""
**Describe the bug**

Executing `webpack-cli init` in a folder where there is a `package.json` results in an unclear error

**What is the current behavior?**

[code]

**To Reproduce**
Steps to reproduce the behavior:
This error occurs if you try to run webpack-cli init on a project that has already been bootstrapped. We need to support bootstrapping multiple times, run the init command two times.

[2019-05-30 02:10] jamesgeorge007 commented on #746
@evenstensberg Can you point me to the files to work with :thinking:

[2019-05-30 06:33] anikethsaha commented on #901
Its working fine with me.
the senerios I tested
- With `package.json` present alone
- With `webpack.config.js` present alone
- With both present
It is working in my system. Is there any other step to reproduce it .

[2019-05-30 08:28] Swatinem commented on #746
Go for it. I completely forgot about this…

[2019-05-30 13:18] evenstensberg commented on #901
@misterdev record on yoututbe and put out a link if you can. Also, focus on your gsoc proposal ;)

[2019-05-30 15:35] evenstensberg commented on #746
Here you go: https://github.com/webpack/webpack-cli/blob/master/bin/utils/convert-argv.js#L106-L120

[2019-05-30 16:25] evenstensberg commented on #901
This error occurs if you try to run `webpack-cli init` on a project that has already been bootstrapped. We need to support bootstrapping multiple times, run the init command two times. Up for grabs

[2019-05-30 16:29] evenstensberg opened #902 "[BUG] webpack-cli init doesn't set to production after picking up initial config"
**Describe the bug**

If you run the `webpack init` feature, you will always end up with a development configuration, as the defaults aren't checked. This is due the fact that `isProd` is set by a variable named `isUsingDefaults` which is hard coded to false. We need to check if the user is using default or production configuration after asking each questions against the defaults we set in webpack

[2019-05-30 16:47] #814 closed

[2019-05-30 16:47] #884 closed

[2019-05-30 16:47] #788 closed

[2019-05-30 17:30] #805 closed

[2019-05-30 17:32] #829 closed

[2019-05-30 18:34] #877 closed

[2019-05-30 18:35] pranshuchittora commented on #868
`template`?
Pls elaborate.

[2019-05-30 19:47] misterdev commented on #868
The following is the issue template Even is talking about :)

---

**Describe the bug**

A 💯 way to do this is to provide your configuration via a GitHub gist and/or to use markdown when describing which commands you used when the error occurred! Be precise and clear in your description of the bug.

**What is the current behavior?**

This is where you elaborate on the current behavior of the cli,

[2019-05-31 02:52] jamesgeorge007 commented on #746
@evenstensberg It seems that this is the required workaround :-
[code]
This is what I infer from the context. Shall I propose a PR with the respective changes :thinking:

[2019-05-31 05:48] anikethsaha commented on #902
@evenstensberg  Can we have an option passed in the argument while running the `init` command to mark at production or development? Something like this
`$ webpack-cli init -isProd`
[code]

Similar to this

[2019-05-31 05:54] evenstensberg commented on #902
No we need to check against the questions we are asking gradually

[2019-05-31 06:01] anikethsaha commented on #902
won't that increase the number of operations for the generator? If we check against each question ?

[2019-05-31 06:04] anikethsaha commented on #890
@evenstensberg I think we need to read the users existing config File before this line. And then we need to check if there is already a plugin present and if so and push as an array or else simply create new property as plugin . What what do you think  ? https://github.com/webpack/webpack-cli/blob/11554d6b61baa0dc4a1b78a8e3aad1a33c751041/packages/generators/add-generator.ts#L397

[2019-05-31 06:05] evenstensberg commented on #902
Yes but it’s how the functionality has to be..

[2019-05-31 06:06] anikethsaha commented on #902
ohhkay 👍

[2019-05-31 07:30] anikethsaha commented on #890
If we read the existing config file with `require` method then it is extracting the object creation of the plugins. That is for plugin options like this
[code]
with reading with `require` method, it will return
[code]
Also I tried with `fs.readFileSync` ...there will be a problem to get the file as an `json` object. Tried with `JSON.stringify() and JSON.parse()` but it wont give JSON cause of the

[2019-05-31 08:04] evenstensberg commented on #890
Put up a PR and we'll take it from there

[2019-05-31 08:05] evenstensberg commented on #746
Do that!

[2019-05-31 15:46] pranshuchittora opened #904 "🏗️[infra]: issue with running individual ts tests with jest"
**Describe the bug**
Test files which are written in TS. Can't be run individually with jest(installed globally)

**What is the current behaviour?**
`jest index.test.ts`

![Screenshot from 2019-05-31 21-05-26](https://user-images.githubusercontent.com/32242596/58717289-85aefd80-83e8-11e9-8d75-e46609c28b21.png)

**To Reproduce**
1.Run a single test file written in `.ts`
2. `jest foo.test.ts`
3. See

[2019-06-01 06:03] evenstensberg commented on #904
Feel free to open a pr

[2019-06-01 16:54] #861 closed

[2019-06-01 17:10] ematipico commented on #904
You should run the tests from the root folder, not from the sub package. That's how it works. In fact the jest config it's in the root project.

[2019-06-02 06:21] anikethsaha opened #906 "[BUG]: 🐞 webpack-cli add wont lookup for webpack's native plugin in plugins options"
**Describe the bug**
When using the `add` command and then selecting `plugins` to add and giving webpack's native plugin like `webpack.DefinePlugin` , it will throw error with saying no plugin exists.

**What is the current behavior?**
`webpack-cli add` wont add webpack's native plugin
The error will throw
[code]

**To Reproduce**
1. `npx webpack-cli add`
2.  in plugins options
3. Give any webpack

[2019-06-02 07:25] anikethsaha commented on #904
if we want to run a specific test in a subfolder, we can use the **jest** command from **root** to that **path**
**example**
[code]
Isn't this fine ?

[2019-06-02 07:54] evenstensberg commented on #906
feel free to open a pr

[2019-06-02 07:56] anikethsaha commented on #906
@evenstensberg  sure but I couldn't find much of native plugins other than the mention. Do you have any list or can you mention where I can find them?
I checked at the docs and at webpack repo too. Please mention if I missed any!

[2019-06-02 07:57] evenstensberg commented on #906
We're searching through the available plugins that are hooked up on the webpack object. You could dig and debug yourself to figure out?

[2019-06-02 08:17] anikethsaha commented on #906
okay I will try it out at best......

[2019-06-02 08:22] anikethsaha commented on #906
there are few in here https://github.com/webpack/webpack/tree/master/lib
atleast we can start with them ...what say ? @evenstensberg

[2019-06-02 08:30] evenstensberg commented on #906
That’s where we are finding them from, the logic is already present

[2019-06-02 08:47] anikethsaha commented on #906
👍 okay

[2019-06-02 10:14] anikethsaha commented on #906
@evenstensberg can you check these
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/21e68259f6fd43aba37e8112e3edb792975f8266/types/webpack/index.d.ts#L676  if we can make the list from here?

[2019-06-02 10:34] anikethsaha commented on #906
here is the list till now I made from the type file
[code]

[2019-06-02 10:43] evenstensberg commented on #906
You don't need to do this, we have a functionality for this (or at least had) to check if the plugin is on the webpack object, check `pluginExist` in the add generator. What you will need to do, is to check the filter in the function with an additional `webpack.` prefix

[2019-06-02 10:47] anikethsaha commented on #906
👍 ohh...missed that ....I guess we can extract it to utils . what say ?

[2019-06-02 11:13] ematipico commented on #904
I'd say this is not an issue

[2019-06-02 11:18] evenstensberg commented on #906
Yes

[2019-06-02 11:19] evenstensberg commented on #904
+1

[2019-06-02 11:40] anikethsaha commented on #906
@evenstensberg we can change the plugin input using this
[code]
and changin this line https://github.com/webpack/webpack-cli/blob/6ee3c0b11638997613d22c186d21e0736108d295/packages/generators/add-generator.ts#L303 with the below
[code]

And then using `tempPluginName` for further execution of the method will work fine

[2019-06-02 11:43] evenstensberg commented on #906
That doesn't look so maintainable. Maybe we could try to reassign a `let` using a `if` statement instead of having that ternary? In my opinion it is clean and easier to read than a ternary.

[2019-06-02 11:45] anikethsaha commented on #906
sure 👍 ...and what about the `filter` instead of `find` ....is it fine?

[2019-06-02 11:52] #904 closed

[2019-06-02 11:52] pranshuchittora commented on #904
Yep, running from the root works.
:+1:  :tada:

[2019-06-02 12:33] evenstensberg commented on #904
Nice

[2019-06-03 07:09] rishabh3112 opened #908 "Feature: allow related field in generator questions"
**Is your feature request related to a problem? Please describe.**
For UI, we want to show the user that to which property in webpack config is this question-related to. As the logic is implemented in generators itself, we can't fill this property from outside.

**Describe the solution you'd like**
Questions from the generator to have a `related` field

**Describe alternatives you've considered**

[2019-06-03 07:10] rishabh3112 commented on #908
UI label can be added to the issue for visibility.

[2019-06-03 07:43] anikethsaha commented on #908
Something like property name along with the description?

[2019-06-03 08:03] rishabh3112 commented on #908
Yes up to some extent, I am mainly looking to have a general opinion and thus standardize this field across the webpack-scaffold ecosystem. As CLI should be consistent with the behaviour of UI and vice-versa, thus CLI should also provide this with the question in an appropriate way if this has to there.
So, implementation after having the final consensus.

[2019-06-03 15:36] anikethsaha commented on #908
LGTM.
ok, so what I understood *(please correct me If I am wrong)* is that a `related` field in `webpack-scaffold` 's type of question.
but we need to make sure it doesn't break the types. yeoman-generator's prompt method take the question of type `inquirer.Question` so I think If adding an extra field (`related`) in the webpack-scaffold's question objects may break it.
Or do you have a plan for a

[2019-06-04 04:41] evenstensberg commented on #908
This might be hard as we're asking things such as "are you gonna use SASS", which in this case wouldn't be equivalent to `module.rules`. I don't think we would need to provide this mapping, but a mapping is needed, which is the `.yo-rc` file

[2019-06-04 04:48] rishabh3112 commented on #908
Thanks!! I was looking for this so as to provide a insight on what this question do thus scaffolding wouldn't be a complete black box for user.
Can you explain a bit more on `.yo-rc` file and it's usecase here ?

[2019-06-04 05:02] evenstensberg commented on #908
The yo file is a reflection of a webpack configuration, so there's a direct mapping there

[2019-06-04 05:05] rishabh3112 commented on #908
Okay, you meant to give a overview to user at the end of scaffolding?

[2019-06-04 05:20] evenstensberg commented on #908
We can, because we already have a config to use `.yo-rc`. So we have a mapping here

[2019-06-04 05:25] rishabh3112 commented on #908
I am asking for providing the details during prompting, because `.yo-rc` is generated at the end of execution of generator.
More precisely at `writing()` of generator.

[2019-06-04 05:30] evenstensberg commented on #908
Gotcha. So we should use a socket or the server to prompt these questions, skip prompting if not useful. Does that help?

[2019-06-04 05:31] evenstensberg commented on #908
It’s a concurrency thing, we’ll need to wait until generator is done and choose not to generate the ast transform until we’re done. This is possible as the function to transform is abstracted

[2019-06-04 05:42] rishabh3112 commented on #908
No need to scarp prompting as sockets work with prompting at UI :)

Currently `this.prompt()` of generators is overloaded before running it such that `prompting` prompts over sockets thus works on use exactly same generator w/o rewrites that are used at CLI.
That's why all webpack scaffolds works directly from npm.

[2019-06-04 05:51] rishabh3112 commented on #908
This way be can find what has previous done to config, not what the current would be doing. Hopes this clears the I have?

[2019-06-04 12:10] sokra commented on #820
For me too. `dist` for `distribution` seem to be very common. `public` is often used as additional **input** directory which is copied to `dist`.

This is really a huge problem for usability. This was one bigger complain in webpack 1 and afaik we changed this in webpack 2. We disallowed unknown options and introduced the `--env` option to allow the user to pass custom options.

Enforcing seem to b

[2019-06-04 12:15] sokra commented on #820
This seem to be caused by https://github.com/webpack/webpack-cli/pull/422/commits/d07276e1a217c7165c986bae1379180484d2ea11

[2019-06-04 12:56] evenstensberg commented on #820
@sokra  okay `dist` stays, `webpack.[name].config.js` is staying.

I'd like to have webpack look for `.webpack` folder first, then go to root to look for `webpack.config.js`.

Regarding schema mapping, could we rather do this manually and decide which features to support? Prefer to have the CLI more easy to use, then having the configurations storing more advanced properties. What do you think abo

[2019-06-04 13:44] #848 closed

[2019-06-04 14:11] #906 closed

[2019-06-04 16:28] k-five commented on #820
Hi all.
I am not sure if you are using Linux Terminal daily or not but I do. From morning till night. No GUI.
My best guess is that you are using GUI text editors and sometimes opening Terminal using vscode, etc.
If you try to design a CLI then we will end up with something like **webpack-cli**
Why? Very simple: [conways's law](https://en.wikipedia.org/wiki/Conway%27s_law)

What do I mean by say t

[2019-06-04 18:57] sokra commented on #820
There is probably something wrong when both exist. Maybe even throw in this case, so the order no longer matters.

[2019-06-04 20:30] evenstensberg commented on #906
Not really. All plugins are suffixed with Plugin so we can rely us on that

[2019-06-04 20:32] anikethsaha commented on #906
Actually I am referring to the path where it is looking for the plugin.
You can see that `DefinePlugin` is present in `webpack/lib` but it is not having its schema in `webpack/schemas/plugins`.

[2019-06-04 20:35] evenstensberg commented on #908
Gotcha. I'm just making a point about us not needing to change the scaffolding for ui except with the ability to generate a scaffold without asking questions

[2019-06-04 21:06] evenstensberg commented on #906
that is what I'm refering to as well. We only need to look in `lib` and subfolders there cause we know native plugins are at a "flat" hierachy there

[2019-06-04 21:07] evenstensberg commented on #820
Gotcha. Do you think prioritizing and only using the one in `.webpack` is ok, even though the root `webpack.config` is present? I've asked feedback from various of people in the industry and they are abstracting webpack into either mono-repos or inside a webpack folder

[2019-06-04 21:17] evenstensberg opened #916 "[FEATURE]: Add webpack-cli to Entropic"
**Is your feature request related to a problem? Please describe.**
It would be good to have the CLI package as a part of Entropic.

**Describe the solution you'd like**
Webpack-CLI published to entropic, READMEs with installation guides updated accordingly.

**Describe alternatives you've considered**
N/A

**Additional context**
https://github.com/entropic-dev/entropic

Mind taking this on @ematip

[2019-06-05 04:25] anshumanv opened #918 "[chore]: Export all utils from root file in generators and utils package"
**Describe the bug**
All utils need to be exported from the root file which is absent now in the generators package and the utils package

**What is the current behavior?**
Need to import each util from a file `package/

**Expected behavior**
I think it makes sense to aggregate them all in the root file and then export everything from there.

ex -
`import { configRoot } from 'utils'`

**Screenshot

[2019-06-05 05:29] anshumanv opened #922 "[test]: Add tests for path-utils"
**Do you want to request a *feature* or report a *bug*?**
feat

**What is the current behavior?**
No tests for path-utils

**What is the expected behavior?**
Need tests

**If this is a feature request, what is motivation or use case for changing the behavior?**
More coverage

Working on it
**Please paste the results of `webpack-cli info` here, and mention other relevant information such as program

[2019-06-05 06:04] anikethsaha commented on #906
we need schemas too to implement them ri8 ?....but some plugin's schema is not present in the schemas path .

[2019-06-05 06:05] anshumanv opened #927 "[infra]: format code during precommit using prettier"
**Do you want to request a *feature* or report a *bug*?**
feat

**What is the current behavior?**
code is not formatted during precommit

**If the current behavior is a bug, please provide the steps to reproduce.**
NA

**What is the expected behavior?**
Code needs to be formatted before each commit

**If this is a feature request, what is motivation or use case for changing the behavior?**
makes s

[2019-06-05 06:49] anshumanv opened #930 "[refactor]: Better type checking using util functions"
**Describe the bug**

Presently we're using `typeof` to determine types of vars, which is not nice, since `typeof  new String('asd')` won't be a string, hence we need to introduce some utils for all cases like these for more robust determination.

**What is the current behavior?**
presently just `typeof varname` approach is used.

**To Reproduce**
NA

**Expected behavior**
A clear and concise desc