[2020-04-01 15:34] evilebottnawi commented on #1402
Not sure it is possible, because completion is scope of bash/terminal

[2020-04-02 04:28] snitin315 commented on #1402
something like this may possible - [omelette](https://github.com/f/omelette)

[2020-04-02 04:31] snitin315 commented on #1383
Working for me in beta.
![Screenshot from 2020-04-02 10-00-37](https://user-images.githubusercontent.com/46647141/78210808-e9063200-74c8-11ea-842e-4cbb02026c4f.png)

[2020-04-02 04:36] snitin315 commented on #1383
`npx webpack-cli --version --info-verbosity info` works fine
`npx webpack-cli@4.0.0-beta.8 --version --info-verbosity info ` this installs beta first and works fine.

![Screenshot from 2020-04-02 10-05-48](https://user-images.githubusercontent.com/46647141/78211060-9da05380-74c9-11ea-865b-95e577d70895.png)

[2020-04-02 10:56] evilebottnawi commented on #1383
@snitin315 Can you send tests to ensure we don't have that problem?

[2020-04-02 11:05] snitin315 commented on #1383
Sure , on it.

[2020-04-02 11:23] jundge opened #1404 "webpack-dev-server 3.10.3 failed run in webpack-cli v4.0.0-beta.2"
![1](https://user-images.githubusercontent.com/24717511/78243831-0f52be80-7517-11ea-98de-da33138c2c73.jpg)
![2](https://user-images.githubusercontent.com/24717511/78243971-50e36980-7517-11ea-9c56-c55dc9a79de8.jpg)

[2020-04-02 11:27] evilebottnawi commented on #1404
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Also already reported

[2020-04-02 11:27] #1404 closed

[2020-04-02 15:38] NitroBAY opened #1407 "[FEATURE]: Add a warning when using absolute path in resolve.modules (it breaks the node resolution_"
**What is the expected behavior?**
Add a warning when using absolute path in resolve.modules (it breaks the node resolution)

**What is motivation or use case for adding/changing the behavior?**
This :
https://github.com/fb55/htmlparser2/issues/434

And this was because I used ABSOLUTE path instead of RELATIVE one https://webpack.js.org/configuration/resolve/ in resolve.modules

**How should this

[2020-04-02 15:40] evilebottnawi commented on #1407
Can you provide example? Many small reproducible test repo?

[2020-04-02 17:09] NitroBAY commented on #1407
Example ?
But this behavior of absolute path changing the resolution from node's one to only looking in the absolute path is documented https://webpack.js.org/configuration/resolve/
It is an intentional behavior which is really confusing and not intuitive and the resulting behavior is really hard to debug because you have to figure out so many things and eventually finding the relevant webpack doc

[2020-04-02 18:46] anshumanv commented on #1278
Fixed in https://github.com/webpack/webpack-cli/pull/1354, Closing.

[2020-04-02 18:46] #1278 closed

[2020-04-03 04:41] anshumanv commented on #1383
@evilebottnawi, was able to reproduce this on a machine which doesn't have webpack installed, right now we're expecting the user to supply the webpack version of their choice via peerDependencies, and since when run via npx and the user doesn't have webpack installed globally this throws, only solution that I can think of right now is moving it to dependencies, please let me know if there are any

[2020-04-03 10:55] evilebottnawi commented on #1383
@anshumanv we can't fix it, people should have webpack in deps, anyway I think we can improve DX, for example check that webpack is not installed and answer question about installation, for example:
[code]

[2020-04-03 11:05] evilebottnawi commented on #1407
@NitroBAY We should do it webpack side, webpack validate configuration, why I ask minimum reproducible test repo? because it is hard to understand that do you mean

[2020-04-03 11:21] snitin315 opened #1412 "bug: version flag doesn't care about other arguments"
**Describe the bug**

version flag doesn't care about other arguments supplied at the same time.

**What is the current behavior?**

![Screenshot from 2020-04-03 07-44-58](https://user-images.githubusercontent.com/46647141/78355271-0e7b6480-75cb-11ea-933d-c76e9eabbfbb.png)

**To Reproduce**
Steps to reproduce the behavior:

`webpack --version --abc`

**Expected behavior**

Should throw a warning f

[2020-04-03 11:23] evilebottnawi commented on #1412
Should output error like do other cli, for example eslint do:
[code]

[2020-04-03 11:24] snitin315 commented on #1412
Sounds good. I will work on it.

[2020-04-03 11:26] rishabh3112 commented on #1412
Same is the case with `--help` flag, take on both of them together.

[2020-04-03 17:06] anshumanv commented on #1412
What happens in case of multiple commands? Which takes precedence?

[2020-04-04 01:27] snitin315 commented on #1412
@anshumanv Can you provide some examples?

[2020-04-04 03:20] anshumanv commented on #1412
`webpack-cli version init` or `webpack-cli init version`

[2020-04-04 03:23] snitin315 commented on #1412
It should output the version of init as well

[2020-04-04 03:25] anshumanv commented on #1412
Yep that would be good 👍

[2020-04-05 06:18] aman29271 commented on #1402
I am trying to implement this with yargs [completion](https://github.com/yargs/yargs/blob/master/docs/api.md#completioncmd-description-fn)

[2020-04-05 06:24] anshumanv commented on #1402
We are moving away from yargs, don't

[2020-04-05 10:59] aman29271 commented on #1402
@anshumanv any suggestions other than omelette

[2020-04-05 18:53] jamesgeorge007 commented on #1402
[tabtab](https://www.npmjs.com/package/tabtab) is another option.

[2020-04-05 19:03] jamesgeorge007 opened #1422 "Migrate functionality doesn't work as expected"
**Describe the bug**

**What is the current behavior?**
The `migrate` command doesn't work as expected, it throws an error without updating the config file.

**To Reproduce**

Type in `webpack-cli migrate <path-to-config>`

**Expected behavior**
The config is updated as expected.

**Screenshots**
<img width="892" alt="Screenshot 2020-04-06 at 12 27 56 AM" src="https://user-images.githubusercontent

[2020-04-06 05:00] aman29271 commented on #1412
I think json flag also doesn't care about any other flag

[2020-04-06 15:45] #1368 closed

[2020-04-07 13:27] nischalpilmong commented on #436
npm install webpack-cli@3.0.2  --save-dev

[2020-04-07 14:03] aman29271 opened #1428 "[BUG]: Output displayed is not colored"
**Describe the bug**

**What is the current behavior?**
The Output result displayed after compilation is not colored in version `4.0.0-beta.8`.

![Screenshot from 2020-04-07 19-17-51](https://user-images.githubusercontent.com/30979779/78677180-0d1ca580-7905-11ea-8d4f-c97c9e09426e.png)

**To Reproduce**
Simply use the updated webpack-cli.
**Expected behavior**
It should display colored output by de

[2020-04-07 14:08] anshumanv commented on #1428
We'll be using core flags soon, in that there's a `--stats-colors` flag which will make the stats coloured, CLI should not interfere with the output from core.

[2020-04-07 14:09] #1428 closed

[2020-04-07 17:51] himanshu010 opened #1430 "docs: packages readme is using url instead of relative path"
**Describe the bug**

**What is the current behavior?**
![Screenshot (45)](https://user-images.githubusercontent.com/43860289/78702404-27b34680-7926-11ea-92fd-3414d46c9d64.png)
This can be a problem in the forked repo

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Packages directory'
2. Click on 'README.md'
3. See error

**Expected behavior**

Use of relative Path
**Screenshots**

*

[2020-04-07 18:03] evilebottnawi commented on #1430
No need issue for docs

[2020-04-07 18:03] #1430 closed

[2020-04-09 06:41] aman29271 commented on #887
is this issue still open? can i take this issue?

[2020-04-09 09:57] jlkiri opened #1434 "Doesn't seem to work with Yarn PnP"
**Describe the bug**

I am trying to use `webpack@5.0.0-beta.14` with `webpack-cli@4.0.0-beta.8`. I am using Yarn 2 with workspaces. When I run my build command `webpack --config webpack.config.js` it tells me that I need to install `webpack-cli` but I already installed it. Is PnP not supported?

**What is the current behavior?**

**To Reproduce**

Steps to reproduce the behavior:

1. [Create](htt

[2020-04-09 11:15] evilebottnawi commented on #1434
That error from webpack, I can't reproducible

[2020-04-09 18:43] aman29271 commented on #1434
I can't reproduce the error. May be its the problem with Yarn PnP. Can you please show the output of `node node_modules/.bin/webpack-cli info` ?

[2020-04-10 02:44] jlkiri commented on #1434
For some reason I can't reproduce it with the exact same error anymore so I'm going to close the issue.

[2020-04-10 03:13] jlkiri commented on #1434
Ok, I could reproduce it again so reopening the issue.
Make sure that you install `webpack` and `webpack-cli` with

[code]

Here's the `package.json` of my workspace:

{
  "name": "test",
  "scripts": {
    "build": "webpack",
  },
  "devDependencies": {
    "typescript": "^3.8.3",
    "webpack": "5.0.0-beta.14",
    "webpack-cli": "4.0.0-beta.8"
  },
}

@aman29271 I can't because when you use PnP

[2020-04-10 06:43] aman29271 commented on #1434
I have never used Yarn Pnp. But it looks like it uses some `.pnp.js` file to keep track of packages and dependencies. It  needs  `installConfig:{"pnp":true}` in package.json file, for more details about Yarn PnP see [here](https://classic.yarnpkg.com/en/docs/pnp/getting-started). Instead of running `node node_modules/.bin/webpack` you need to run simply `yarn webpack `  or `yarn <package-name>`bec

[2020-04-10 17:50] aman29271 commented on #1127
@ematipico Should I make a PR for this to be reflected in docs?

[2020-04-10 22:05] snitin315 commented on #1127
No we are back to init again.

[2020-04-10 23:29] DanielRuf commented on #1127
Uh, what? So you changed back? Is there additional information @snitin315?

https://github.com/webpack/webpack-cli/issues/1127#issuecomment-562989705

Also why the "thumbs down" reaction? A simple "no we need no PR because ..." is sufficient.

[2020-04-11 01:17] Loonride opened #1440 "webpack-cli test organization"
It bothers me that it seems there are 2 places a test could go for a package based on the current system of organization. Take the `info` package for example. Tests for it could either go in `test/info` or in `packages/info/__tests__`.

Is there an intentional distinction between these two locations that I'm missing? It seems all the js tests are in `test/`, while all the ts tests are in `packages

[2020-04-11 01:26] snitin315 commented on #1127
There is no such additional info.

Just in support of my comment.

[2020-04-11 03:53] rishabh3112 commented on #1440
The `test/*` is to check the package behaviour if used through CLI (kindof integration tests).

The tests in the packages are more or less unit tests.

But I am up for this change, if we can maintain the integration tests of packages with CLI in new structure too.

[2020-04-11 04:10] aman29271 commented on #1127
@snitin315 But I am still getting the same error.

[2020-04-11 04:12] snitin315 commented on #1127
Against Beta?

[2020-04-11 05:43] aman29271 commented on #1127
I am still getting the following error.
[code]
and output of `npx webpack-cli info` is
[code]

[2020-04-11 05:53] snitin315 commented on #1127
You are ing version 3, please try with beta once.

[2020-04-11 06:25] aman29271 commented on #1127
Yes, it worked. But i have  a question that because webpack-cli@3.x.x version is being shipped through yarn or npm and also init is not working as expected  with it.  Can't we provide some documentation or a little help tips somewhere so that people facing this issue for first time don't get scared @snitin315 ?

[2020-04-11 06:31] snitin315 commented on #1127
I'm not sure refer [this comment](https://github.com/webpack/webpack-cli/issues/1270#issuecomment-591631339).

Also what changes in docs do you suggest?

[2020-04-11 07:33] DanielRuf commented on #1127
There is definitely a commit for this (reverted) change and a PR ;-)

[2020-04-11 10:31] aman29271 commented on #1363
@snitin315 are you working on this issue?

[2020-04-11 10:32] snitin315 commented on #1363
Yes, I already have a PR for this.

[2020-04-11 13:04] evilebottnawi commented on #1440
`packages/*/__tests__` are directories for test package directly
`test/*` for integration tests with webpack

[2020-04-11 13:26] aman29271 opened #1443 "Bug: webpack-cli --verbose throws TypeError: Cannot set property 'stats' of undefined"
**Describe the bug**

**What is the current behavior?**
`webpack-cli --verbose` or `webpack-cli --verbose --stats verbose` throws an error described below.
[code]

**To Reproduce**

Steps to reproduce the behavior:

Use either verbose flag or verbose flag with some value of stats flag.

**Expected behavior**
Using verbose flags should output everything. If the verbose flag is used with stats flag

[2020-04-11 13:27] anshumanv commented on #1443
Known issue, being fixed here - https://github.com/webpack/webpack-cli/pull/1191

[2020-04-12 03:54] Loonride commented on #1440
This makes sense :+1: It generally seems well organized in that regard

[2020-04-12 03:54] #1440 closed

[2020-04-13 05:45] rishabh3112 commented on #1402
We can't have it unless we move to new arg parser and start using flags from webpack core.

[2020-04-13 06:08] rishabh3112 commented on #1407
This can't be done on CLI side alone, it should be done by webpack when it is validating configuration by throwing a warning. Please open the issue for it at main webpack repository.

[2020-04-13 13:24] #1363 closed

[2020-04-14 06:08] anshumanv opened #1459 "cli[BUG]: --json flag doesn't work"
**Describe the bug**

--json flag does not work.

**What is the current behavior?**

--json flag is not respected by the cli, tests are also skipped.

**To Reproduce**

Steps to reproduce the behavior:

`webpack-cli --json`

**Expected behavior**

Should output the JSON data from the compiler.

**Screenshots**

NA

**Please paste the results of `webpack-cli info` here, and mention other relevant i

[2020-04-14 06:21] aman29271 commented on #1459
It's working fine with CLI version`3.3.11`.

[2020-04-14 06:23] anshumanv commented on #1459
Seems broken with next, can you verify?

[2020-04-14 06:26] aman29271 commented on #1459
yup. It's broken.

[2020-04-14 06:27] anshumanv commented on #1459
Right, tests are also being skipped, will enable them too.

[2020-04-14 06:30] aman29271 commented on #1443
That fix was for master. It's for next though.

[2020-04-14 06:38] anshumanv commented on #1443
Cool, nice work 👍

[2020-04-14 06:57] aman29271 commented on #887
So, when webpack gets multiple config input. It gives back in Instance of `multiCompiler`. So, for each compiler in `multiCompiler.compilers`, we need to hook our plugins. I tried fixing that and It worked.

Any suggestions ?

[2020-04-14 12:37] aman29271 commented on #1443
cheers

[2020-04-14 12:48] #1459 closed

[2020-04-15 07:41] aman29271 commented on #1261
I really like this git features, when user gives some invalid command then it shows the list of possible  commands that the user may want to use.
For example :
[code]
It really helps users understanding the CLI in easy way. This could be one of the way to handle invalid commands and flags.

[2020-04-15 09:02] aman29271 opened #1463 "feat(cli): making the CLI help interface more documented"
**Is your feature request related to a problem? Please describe.**
Using CLI help commands gives a list of available commands, flags and their short description. But, when you wanna explore more lets say you want to know about stats flag, like how can i use stats flag or which arguments are valid. It should also provide a more descriptive information about stats flag. But right now, It just provid

[2020-04-15 09:43] snitin315 commented on #1463
Well we are already providing a link to docs, For more information.

[2020-04-15 09:46] snitin315 commented on #1463
But we should print accepted values,  nice to have.

[2020-04-15 11:39] aman29271 commented on #1463
PR #1461

[2020-04-15 11:47] snitin315 commented on #1463
Please don't mix various corrections in one PR. create a new PR for this one.
Also this needs discussion first.

[2020-04-15 15:29] aman29271 commented on #1463
Some of the tests fails due to `--color` flag. So, Are this gonna implement `--color`  in future or should I just comment out them.

[2020-04-15 15:34] snitin315 commented on #1463
No, don't skip the tests. If tests are failing means code should be reviewed. You can always create a PR and ask for help if got stuck somewhere.

[2020-04-15 19:25] NitroBAY commented on #1407
@rishabh3112 okay thanks

[2020-04-15 19:25] #1407 closed

[2020-04-15 22:37] lukereative opened #1469 "Serve command not passing webpack `devServer` config to webpack-dev-server"
**Describe the bug**

Serve command not passing webpack `devServer` config to webpack-dev-server

#### webpack.dev.js
[code]

#### command used
`webpack serve --config webpack.dev.js`

**What is the current behavior?**

The webpack server runs but doesn't pick up all the options from the `devServer` config. You can see this by `webpack output` being undefined in the CLI output, but also the proxy

[2020-04-16 02:29] anshumanv commented on #1469
Taking a look, thanks for the report!

[2020-04-16 03:50] anshumanv commented on #1469
Found the issue, will fix in a bit. 👍

[2020-04-16 03:51] anshumanv commented on #1469
Issue - devServer config was never passed fully to the server.

[2020-04-16 04:22] anshumanv commented on #1469
@evilebottnawi even after passing `clientLogLevel: "none"` or `silent` in server config, I'm still seeing logs, this should not be the case right?

![image](https://user-images.githubusercontent.com/21009455/79414317-f1ca2e00-7fc7-11ea-9533-21a6829c7395.png)

[2020-04-17 14:52] aman29271 opened #1475 "Bug: Stats flag doesn't output anything extra with multiple Config"
**Describe the bug**

**What is the current behavior?**
Using `--stats verbose` or `--verbose` . It should output everything from stats.

[code]
**To Reproduce**

Steps to reproduce the behavior:
1. Use `--stats verbose` or `--verbose` flag

**Expected behavior**
[code]

**Screenshots**

**Please paste the results of `webpack-cli info` here, and mention other relevant information**

**Additional c

[2020-04-17 15:02] evilebottnawi commented on #1475
Can't reproduce

[2020-04-17 15:04] anshumanv commented on #1475
@aman29271 use next branch

[2020-04-17 15:07] aman29271 commented on #1475
looks broken with next. Please verify?

[2020-04-17 15:10] anshumanv commented on #1475
Works fine for me.

[2020-04-17 15:10] anshumanv commented on #1475
![image](https://user-images.githubusercontent.com/21009455/79584156-a446e180-80eb-11ea-9f4c-b6559c55b5d4.png)

[2020-04-17 15:11] aman29271 commented on #1475
I forgot. Can you please check with multiple config also?

[2020-04-17 15:15] evilebottnawi commented on #1475
`--stats verbose` should not output everything, it should output everything from stats, in you screenshot you have logger, it is out of scope `--stats` flag

[2020-04-17 16:50] aman29271 commented on #1475
Yes, there is some part of logger in stats also. Is it working fine with multiple config also?

[2020-04-17 17:09] evilebottnawi commented on #1475
@aman29271 We should add test for logger output, we should not eat that

[2020-04-17 17:42] aman29271 commented on #1475
Yup, we are not the Devil :smile:.    may need help in future...

[2020-04-17 17:46] evilebottnawi commented on #1475
You can send a test to ensure we don't eat that, it will be great

[2020-04-17 18:12] aman29271 commented on #1475
Going through code, I haven't find any logger attached. I think that was default by webpack.

[2020-04-18 09:02] aman29271 commented on #1475
I haven't added any extra piece of code outside producing this issue. checkout this issue [https://github.com/aman29271/webpack-issue](https://github.com/aman29271/webpack-issue) and let us know if it still persist.

[2020-04-19 11:22] JAicewizard opened #1677 "Invalid configuration object: `mangleExports` using 5.0.0-beta.14"
# Bug report

**What is the current behavior?**
When I use the example configuration for mangleExports:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

create webpack.config.js as example profided in documentation:
[code]

**What is the expected behavior?**
Webpack should not mangle exports like the documentation provides

**Other relevant information:**
webpa

[2020-04-21 04:10] Loonride opened #1489 "webpack-cli help serve - improve output"
**Is your feature request related to a problem? Please describe.**

Current output of `webpack-cli help serve`

![webpack-cli-serve-help](https://user-images.githubusercontent.com/22580625/79824523-09a10980-835c-11ea-92d8-aafcc5db4a75.png)

**Describe the solution you'd like**

This should output the arguments of the `serve` command

We should do this after migrating over to `commander`.

[2020-04-22 10:16] Bosch-Eli-Black opened #1494 "@webpack-cli/package-utils should have dependency on cross-spawn"
**Describe the bug**

The `@webpack-cli/package-utils` package uses the `cross-spawn` package but does not list `cross-spawn` as a dependency in its `package.json` file. With Yarn's new Plug-and-Play infrastructure, this results in an error:

Required package: cross-spawn (via "cross-spawn")

Can we please add `cross-spawn`, and any other packages that `@webpack-cli/package-utils` utilizes via `re

[2020-04-22 10:22] anshumanv commented on #1494
It already has it - https://github.com/webpack/webpack-cli/blob/c16789b9e00c1c8ded754bdad8a0b1f8e5f79456/packages/package-utils/package.json#L37

[2020-04-22 10:35] Bosch-Eli-Black commented on #1494
Thanks, @anshumanv. It looks like when I download the [webpack-cli@4.0.0-beta.8](https://github.com/webpack/webpack-cli/releases/tag/webpack-cli%404.0.0-beta.8) and open `packages/package-utils/package.json`, then `cross-spawn` isn't listed as a dependency, though.

Do you think the newest version of that file just isn't included in the 4.0.0-beta.8 release, or is it perhaps somehow being stripped

[2020-04-22 10:38] anshumanv commented on #1494
Yes @Bosch-Eli-Black,

I added it last month in this commit https://github.com/webpack/webpack-cli/commit/0fd89e697f4c01bb9301512a06b420a84a79bdb1 which was after the release, should be alright after the next release. :)

[2020-04-22 10:41] Bosch-Eli-Black commented on #1494
@anshumanv  Oh, okay, great! Thanks a ton :)

[2020-04-22 10:41] #1494 closed

[2020-04-25 11:12] aman29271 opened #1497 "Bug: ProgressPlugin in config file doesn't work as expected"
**Describe the bug**

**What is the current behavior?**
When I mention `ProgressPlugin` in webpack config file. It does not show the progress of webpack compilation.

**To Reproduce**

Steps to reproduce the behavior:

Add `ProgressPlugin` in webpack config file

**Expected behavior**
It should show the progress of compilation process.

**Screenshots**

**Please paste the results of `webpack-cli i

[2020-04-26 02:56] snitin315 opened #1498 "bug: webpack -v invokes cli-executer as well"
**Describe the bug**

`webpack -v` outputs version but afterward it invokes cli-executor.

**What is the current behavior?**

![Screenshot at 2020-04-26 08-23-25](https://user-images.githubusercontent.com/46647141/80296290-3b203780-8797-11ea-9eb2-c88d53e93b16.png)

**To Reproduce**

Steps to reproduce the behavior:

Run `webpack -v`

**Expected behavior**

should output version only.

**Please pas

[2020-04-26 03:48] snitin315 commented on #1498
working fine now.

[2020-04-26 03:48] #1498 closed

[2020-04-27 11:59] jamesgeorge007 commented on #1422
Done in #1495

[2020-04-27 11:59] #1422 closed

[2020-04-28 17:09] #967 closed

[2020-04-29 06:03] rishabh3112 commented on #1489
We have to improve this for other sub-packages as well. A generic solution which can be used by other sub-packages too would be better in this regard.

[2020-04-29 06:21] rishabh3112 opened #1509 "integrate init command with CLI by default"
**Is your feature request related to a problem? Please describe.**
As part of roadmap, we like to integrate `init` by default.
This is the tracker issue and discussion thread for this work.

**Describe the solution you'd like**

- [x] Robust tests for `init`'s current features - completed - #1508, #1419
- [x] Refactor `init` and add/remove features from it - completed - #1590
       - Add flag to

[2020-04-29 10:52] evilebottnawi commented on #1509
Yes, good job :+1:

One strange thing - `init` command doesn't generate config by default, I think main purpose init is to generate config + additional commands to improve it

[2020-04-29 11:04] rishabh3112 commented on #1509
It is 0CJS by default. Anytime a situation can be handled by defaults, configuration is not generated.

It gets generated when we need something like CSS preprocessors, etc.

Would add a test for that in the PR I have sent for init tests. #1508

[2020-04-29 11:17] evilebottnawi commented on #1509
@rishabh3112 Agree, but sometimes you really need integrate configuration, so will be great have cmmand/flag for this

[2020-04-29 11:21] rishabh3112 commented on #1509
Okay, lets do it in the second step in above list.

[2020-04-30 07:22] ohana54 commented on #1089
Tried with latest versions and got:
[code]

[2020-04-30 09:06] evilebottnawi commented on #840
bump

[2020-04-30 10:43] #1412 closed

[2020-04-30 11:36] evilebottnawi commented on #759
bump

[2020-04-30 11:53] evilebottnawi commented on #404
bump

[2020-04-30 11:53] evilebottnawi commented on #758
bump

[2020-04-30 15:28] evenstensberg opened #1517 "[Feature]: Re-add old CLI flags"
**Is your feature request related to a problem? Please describe.**

Right now, we don't have all the old CLI flags. It would be good to add them back along with new webpack v5 config options.

**Describe the solution you'd like**

Flags added back in `cli-flags.js` file.

**Describe alternatives you've considered**

N/A
**Additional context**

You can have a look at the old flags by looking at the

[2020-05-01 01:59] snitin315 commented on #839
Bump

[2020-05-01 11:22] evilebottnawi commented on #1517
No, now we have API for flags on webpack side and we should use it, for webpack@4 we should support only minimum flags (what we supported now), we don't need doing extra unnecessary work

[2020-05-02 14:32] evenstensberg commented on #1517
I think we should have the old api, minimal flags makes the CLI just a skeleton. We should support a set of features that the old CLI provided

[2020-05-03 19:24] keithlayne commented on #1434
Just ran into this, and discovered that the above behavior happens when using yarn 2 in `strict` mode.  In `loose` mode, it works for me.

[2020-05-03 19:38] keithlayne commented on #1434
For yarn 2 in strict mode, add this to your `.yarnrc.yml`:

[code]

[2020-05-04 04:00] aman29271 commented on #1434
Thanks for sharing

[2020-05-04 12:38] evilebottnawi commented on #1517
@evenstensberg Why? We don't need to do double work, most of developers prefer configurations over CLI flags, so it is not priority and require a lot of unnecessary work, which most likely will not be used by most developers

[2020-05-04 21:56] DanielRuf commented on #899
So far I did not find the needed time and at the moment I have no current webpack project where I can test this.

[2020-05-05 03:02] snitin315 commented on #899
@DanielRuf @evenstensberg  Works fine against beta, I will add a test case for the same to ensure we don't have the same problem.

![Screenshot at 2020-05-05 08-28-31](https://user-images.githubusercontent.com/46647141/81031611-74992700-8eaa-11ea-8fdb-53e05c082b83.png)

[2020-05-05 08:19] DanielRuf commented on #899
Thank you @snitin315 and thanks for checking this.

[2020-05-05 08:20] DanielRuf commented on #899
Thank you @snitin315 and thanks for checking this. But it looks like you use 4.42.1 which is not the beta version.

[2020-05-05 08:21] DanielRuf commented on #899
I am currently testing my own test steps from the issue description. The repo still exists.

[2020-05-05 08:24] DanielRuf commented on #899
Not yet fixed in 4.43.0:

<img width="911" alt="Bildschirmfoto 2020-05-05 um 10 24 00" src="https://user-images.githubusercontent.com/827205/81047376-939fb500-8eba-11ea-8eef-942a0cbe8007.png">

[2020-05-05 08:29] DanielRuf commented on #899
Not yet fixed in webpack 4.43.0 and webpack-cli `^3.3.2`:

<img width="911" alt="Bildschirmfoto 2020-05-05 um 10 24 00" src="https://user-images.githubusercontent.com/827205/81047376-939fb500-8eba-11ea-8eef-942a0cbe8007.png">

[2020-05-05 08:33] DanielRuf commented on #899
Ok so it seems we have some changes in the v4 beta release regarding the CLI arguments:

<img width="880" alt="Bildschirmfoto 2020-05-05 um 10 31 06" src="https://user-images.githubusercontent.com/827205/81047975-c26a5b00-8ebb-11ea-8ec0-9ad119ee55b4.png">

It seems it works with webpack-cli 4.0.0-beta after removing the module-bind argument:

<img width="644" alt="Bildschirmfoto 2020-05-05 um 10 3

[2020-05-05 08:34] snitin315 commented on #899
Actually my CLI version is beta

[2020-05-05 08:34] DanielRuf commented on #899
As this issue was about webpack 4, will it use the new webpack-cli (v4) so it will be fixed there too or do we have to backport it?

[2020-05-05 08:37] DanielRuf commented on #899
Well, you did not provide further details. ;-) I will push my changes to the repository at https://github.com/DanielRuf/webpack4-entry-test

[2020-05-05 08:37] DanielRuf commented on #899
Well, you did not provide further details / it does not become clear from your screenshot. ;-) I will push my changes to the repository at https://github.com/DanielRuf/webpack4-entry-test

[2020-05-06 16:24] evenstensberg opened #1526 "[BUG]: fix linting and test suite"
**Describe the bug**

I'm trying to run webpack-cli test locally.

**What is the current behavior?**
Right now, if you do a fresh test, the tests aren't being run due failing linting errors.

**To Reproduce**

Steps to reproduce the behavior:

1. clone webpack-cli
2. yarn install
3. yarn test

**Expected behavior**

Tests and linting being correct

**Screenshots**

<img width="564" alt="Screen Sho

[2020-05-06 16:31] snitin315 commented on #1526
I remember I encountered the same issue once, but the next day everything was working fine.

[2020-05-06 16:36] snitin315 commented on #1526
And what about `yarn test:cli` , working as expected?

[2020-05-07 08:52] snitin315 commented on #1526
@evenstensberg I was unable to reproduce, everything worked as expected for me with a fresh clone and installation.

![Screenshot at 2020-05-07 14-15-28](https://user-images.githubusercontent.com/46647141/81274119-8119ad00-906d-11ea-8584-54b32b6b1bb8.png)

/cc @rishabh3112 @jamesgeorge007 @anshumanv @evilebottnawi

[2020-05-07 08:53] anshumanv commented on #1526
Unable to repro, lint, test everything works.

@evenstensberg maybe try removing the node_modules and yarn.lock and reinstalling once?

[2020-05-07 11:07] evilebottnawi commented on #1526
Yes, please install latest dependencies, maybe you have global prettier or broken local configuration

[2020-05-07 11:07] #1526 closed

[2020-05-08 11:41] #819 closed

[2020-05-09 06:09] nlok5923 commented on #1264
is this issue still open
if yes
can i work on it

[2020-05-09 06:32] snitin315 commented on #1264
@nlok5293 Yes

[2020-05-09 06:46] nlok5923 commented on #1264
Ok I am working on it

[2020-05-09 09:18] nlok5923 commented on #1264
@ematipico please can you guide me with this issue

[2020-05-10 15:23] dscalzi opened #1532 "Update loader-utils on v3 branch to fix audit vulnerability."
`npm audit` is unable to fix a a vulnerability because there is no version range on the `loader-utils` dependency (https://github.com/webpack/webpack-cli/blob/master/package.json#L123).

![image](https://user-images.githubusercontent.com/9703873/81503216-61be9200-92b0-11ea-976c-409cbc17c69a.png)

Updating this dependency and releasing v3.3.12 will fix the issue. (https://www.npmjs.com/advisories/1

[2020-05-10 15:29] anshumanv commented on #1532
Thanks for reporting.

Will submit a fix 👍

[2020-05-11 15:36] fgarcia opened #1535 "Stats output without stdout"
## Feature request
Generate a JSON stats file directly without forcing the user to redirect the stdout output

**What is the expected behavior?**
An option like --json that writes the output directly into a file

**What is motivation or use case for adding/changing the behavior?**
Build stats are a key feature for tracking (and linting) the quality of a build-pipeline. According the current docume

[2020-05-13 11:10] snitin315 opened #1542 "bug: --verbose is not working"
**Describe the bug**

`--verbose` flag is not working.

**What is the current behavior?**

![Screenshot at 2020-05-13 16-37-49](https://user-images.githubusercontent.com/46647141/81805320-45cd2180-9538-11ea-896e-f0876231ace2.png)

**To Reproduce**

`webpack --verbose`

**Expected behavior**
should set `stats: verbose`

**Please paste the results of `webpack-cli info` here, and mention other releva

[2020-05-13 18:49] evenstensberg commented on #1517
Okay, I'm +1 on that. My idea was that we support it nonetheless to make it more sleek to devs that end up using the CLI only for development purposes instead of a config file.

[2020-05-14 11:09] elliotdavies opened #2543 "importLocal check may invoke wrong version of WDS in a Yarn workspace"
- Operating System: Ubuntu 16
- Node Version: 12.16.1
- NPM Version: 6.13.4
- webpack Version: 4.43.0
- webpack-dev-server Version: 3.11.0
- Browser: N/A

- [x] This is a **bug**
- [x] This is a **modification** request

### Code

Folder structure (including installed packages):

[code]

### Expected Behavior

When I invoke WDS from the nested `my-project` directory it should use v3.11.0

### Actu

[2020-05-14 22:38] chumbalum commented on #1222
I second @jhnns comment on the --env parameter. It's pretty handy for single file configs and should be kept in my opinion.

[2020-05-15 12:11] #1104 closed

[2020-05-15 15:41] #709 closed

[2020-05-15 15:41] #980 closed

[2020-05-16 06:06] git-anurag-hub commented on #1241
hi @ematipico can I try this?

[2020-05-16 13:48] snitin315 opened #1551 "bug: --progress doesn't ouput everything"
**Describe the bug**

`--progress` flag doesn't output everything.

**What is the current behavior?**

`--progress` only prints the 100% compilation stage.

**To Reproduce**
`webpack --progress`.

**Expected behavior**

should print out every detail from 0 to 100% of compilation.

**Screenshots**
![Screenshot at 2020-05-16 19-17-03](https://user-images.githubusercontent.com/46647141/82121342-deb6a

[2020-05-17 09:50] snitin315 commented on #1517
As per roadmap:
-   for __webpack@4__ support only popular, like `mode`, `stats`  and etc  (already supported)
-   for __webpack@5__ support all flags provided by webpack API

[2020-05-18 10:59] evilebottnawi commented on #1517
@snitin315 Yes :+1:

[2020-05-18 21:40] CGollhardt opened #1564 "Terser is executed twice, when explicit configured as minimizer"
# Bug report

**What is the current behavior?**
It seems the *default* terser is executed, even if configured a custom one

- default `*.LICENSE.txt`, and custom `*.OTHER.LICENSE.txt` is created
- even if disabled, sourceMap is generated

![Output](https://i.imgur.com/RGKmT1g.png)

**If the current behavior is a bug, please provide the steps to reproduce.**
Have the following optimization:
[code]

[2020-05-19 02:05] snitin315 commented on #866
bump

[2020-05-19 02:08] snitin315 commented on #1322
@anshumanv, I think this can be closed now as we removed `--defaults`.

[2020-05-19 02:37] snitin315 opened #1557 "CLI: --silent flag behavior"
**Describe the bug**

webpack-cli supports `--silent` flag whose functionality is stated as `Disable any output that webpack makes`.

**What is the current behavior?**
This flag doesn't seem to do anything at all.

**To Reproduce**

`webpack-cli --silent`

**Expected behavior**

as per docs, it should disable any output that webpack makes.

**Screenshots**
![Screenshot at 2020-05-19 07-54-46](http

[2020-05-19 05:42] anshumanv commented on #1557
Duplicate of https://github.com/webpack/webpack-cli/issues/1324

[2020-05-19 05:42] #1557 closed

[2020-05-19 05:43] #1322 closed

[2020-05-19 06:11] predragdavidovic opened #1559 "Last webpack 5.0.0-beta.16 and webpack-cli 4.0.0-alpha-5 are not compatibile"
**Describe the bug**
I'm trying tu upgrade webpack to version 5. And when I upgrade webpack-cli from version 3 to version 4 I got this bug:

internal/modules/cjs/loader.js:638
    throw err;
    ^

Error: Cannot find module 'webpack-cli/bin/config-yargs'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)

If I go back, and install webpack-cli version 3, I do not have t

[2020-05-19 08:25] sinevitch opened #1560 "Cannot find module 'webpack-cli'"
I run the command
webpack --mode development --watch
then a get error

One CLI for webpack must be installed. These are recommended choices, delivered as separate packages:
 - webpack-cli (https://github.com/webpack/webpack-cli)
   The original webpack full-featured CLI.
We will use "npm" to install the CLI via "npm install -D".
Do you want to install 'webpack-cli' (yes/no):

I choose yes and then

[2020-05-19 10:47] evilebottnawi commented on #1560
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Please check you don't have `webpack-cli` globally

[2020-05-19 10:47] #1560 closed

[2020-05-19 10:49] evilebottnawi commented on #1559
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

If you run webpack-dev-server please use `webpack server` and please respect other developers and use the issue templ

[2020-05-19 10:49] #1559 closed

[2020-05-20 11:20] evilebottnawi commented on #1564
/cc @webpack/cli-team high priority, **`mode` should not add plugins/loaders/etc, it should just set `mode` to `production` only**

[2020-05-20 11:50] anshumanv commented on #1564
@evilebottnawi is it because we're hardcoded devtool in production config which is used when mode production/development? https://github.com/webpack/webpack-cli/blob/dec153e428b584e9480e1ae51657a718663a16ab/packages/webpack-cli/lib/utils/production-config.js#L8

[2020-05-20 12:05] evilebottnawi commented on #1564
@anshumanv we should not merge this config in production mode, it is a whole invalid logic, just set `compiler.mode` to `production`

[2020-05-20 12:06] evilebottnawi commented on #1564
webpack provide default configuration for a mode out of box

[2020-05-20 13:13] anshumanv commented on #1564
Will fix

[2020-05-21 15:08] #1542 closed

[2020-05-22 12:16] snitin315 commented on #1551
closing in reference with [comment](https://github.com/webpack/webpack-cli/pull/1558#issuecomment-631213750)

[2020-05-22 12:16] #1551 closed

[2020-05-22 12:23] snitin315 opened #1570 "BUG: --plugin flag does not work"
**Describe the bug**

`--plugin` flag is not working.

**What is the current behavior?**
`--plugin` is using a function that is commented out.

https://github.com/webpack/webpack-cli/blob/505843c510a89756b17650ee1d0ae90465b2bc6e/packages/webpack-cli/lib/groups/AdvancedGroup.js#L8

https://github.com/webpack/webpack-cli/blob/505843c510a89756b17650ee1d0ae90465b2bc6e/packages/webpack-cli/lib/groups/A

[2020-05-22 12:29] snitin315 commented on #1570
I guess developers prefer to load plugin via webpack config.

[2020-05-22 12:45] evilebottnawi commented on #1570
I think same, let's remove it

[2020-05-22 12:49] snitin315 commented on #1570
I will create a PR shortly.

[2020-05-22 12:55] Timmmm opened #2771 "writeToDisk doesn't work with multiple targets"
webpack version: 4.43.0
webpack-cli version: 3.3.11
webpack-dev-server version: 3.11.0
Node.js version: 14.0.0
Operating System: MacOS 10.14.6

- [x] This is a **bug**

If you have a webpack.config.js that exports multiple targets, e.g:

    module.exports = [rendererConfig, mainConfig];

And you set this in one of them:

[code]

Then no files are written to disk - the behaviour is identical to no

[2020-05-23 07:11] #1570 closed

[2020-05-23 11:07] evilebottnawi commented on #1113
bump

[2020-05-23 11:07] evilebottnawi commented on #1113
Need a test

[2020-05-23 11:26] evilebottnawi commented on #1564
Fixed https://github.com/webpack/webpack-cli/pull/1565

[2020-05-23 11:26] #1564 closed

[2020-05-23 17:25] 7-- commented on #191
Got this issue today https://stackoverflow.com/a/50129932/1308453

[2020-05-25 09:46] mstssk commented on #1222
`4.0.0-beta.8` does not fails when errors occur in loaders.

For example:
`ts-loader` raise a error when compiling wrong typescript code, however webpack returns exit code 0.

[2020-05-25 10:18] evilebottnawi commented on #1222
@mstssk Can you open a new issue with reproducible test repo?

[2020-05-25 11:07] mstssk opened #1581 "webpack-cli v4-beta.8 ignoring loader's error."
**Describe the bug**

webpack-cli v4-beta.8 ignoring loader's error.

Reproduction code: https://github.com/mstssk/webpack-cli-v4-beta8-ignore-loader-error

I wrote reproduction code of ts-loader, but this problem occurs with other loaders. e.g. file-loader.

**What is the current behavior?**

webpack-cli v3.3.11 fails and returns exit code 2 when an error occurs in loaders.
But webpack-cli v4.0.0

[2020-05-25 11:09] mstssk commented on #1222
@evilebottnawi Thank you. I wrote https://github.com/webpack/webpack-cli/issues/1581

[2020-05-26 03:50] criles25 commented on #1222
I am trying to write my `webpack.config.js` as a function, e.g.,

[code]

but the v4 beta doesn't seem to recognize it. Does this syntax no longer work?

i was wanting to read env vars in my webpack config file, is there some other way to get access to env vars in the config?

also, i'm enjoying the new features. the `webpack serve` is working great, and the `--prod` flag if helpful. thanks.

[2020-05-26 09:19] shrey opened #1584 "docs: update installation guidelines"
**What kind of changes does this PR introduce?**
DOCS
**Did you add tests to your PR?**
NA
**If relevant, did you update the documentation?**
Yes
**Summary**
Tried to start working with the CLI, although had to download the beta version and also add npx before the commands, So I think the contribution guidelines should be updated. I'd be more than willing to do that.
**Does this PR introduce a bre

[2020-05-26 09:32] snitin315 commented on #1584
First, you used our PR template instead of Issue template,
Second, if you don't want to use `npx` install the package globally.

[2020-05-26 09:50] shrey commented on #1584
Oh alright, thanks

[2020-05-26 09:50] #1584 closed

[2020-05-26 10:32] evilebottnawi commented on #1222
/cc @webpack/cli-team Need to add test with config like a function

[2020-05-26 10:34] snitin315 commented on #1222
On it

[2020-05-26 10:47] snitin315 commented on #1222
ALready present https://github.com/webpack/webpack-cli/tree/next/test/config/type/function

[2020-05-26 11:03] anshumanv commented on #1222
@evilebottnawi we should add the env flag, comes in handy in case of single config which performs differently as per the env.

[2020-05-26 11:08] snitin315 commented on #1222
+1 for `--env`

[2020-05-26 11:37] evilebottnawi commented on #1222
Go ahead

[2020-05-26 11:55] anshumanv commented on #1222
WIP

[2020-05-26 13:49] consp1racy commented on #1581
✖ ｢atl｣: Checking finished with 2 errors

and exits with 0.

[2020-05-26 14:45] snitin315 opened #1586 "BUG: --json showing invalid warning"
**Describe the bug**
while using `--json` cli is showing an unnecessary warning.

**What is the current behavior?**
`[webpack-cli] 'undefined' is invalid value for stats. Using 'normal' option for stats`

**To Reproduce**
`webpack --json`
**Expected behavior**
The warning should not be shown.

**Screenshots**
![Screenshot at 2020-05-26 20-10-25](https://user-images.githubusercontent.com/46647141/8

[2020-05-27 20:58] dscalzi commented on #1532
Any update?

[2020-05-28 11:17] anshumanv commented on #1532
Hi, occupied with other tasks, can your PR or anyone from @webpack/cli-team would like to pick this up?

[2020-05-31 12:12] jamesgeorge007 commented on #1532
@evilebottnawi please do a patch release.

[2020-05-31 18:40] richburdon opened #1602 "Error: Cannot find module 'webpack-cli/bin/config-yargs'"
**Describe the bug**

Possible regression of: https://github.com/webpack/webpack-dev-server/issues/2029

**What is the current behavior?**

The following error running webpack-dev-server:

[code]

**To Reproduce**

Steps to reproduce the behavior:

`yarn webpack-dev-server'

**Expected behavior**

Dev server should start

**Please paste the results of `webpack-cli info` here, and mention other rel

[2020-05-31 18:51] richburdon commented on #1602
This seems to be an issue with monorepos when `webpack-cli` is hoisted.

The workaround is to add the dependency to the monorepo root `package.json` but this shouldn't be necessary.

[2020-06-01 12:05] #1586 closed

[2020-06-01 12:17] evilebottnawi commented on #1602
Yes it is a bug, not related to `webpack-cli`, bug on `webpack-dev-server` side

[2020-06-01 12:17] #1602 closed

[2020-06-01 12:18] evilebottnawi commented on #1532
@jamesgeorge007 in TODO

[2020-06-03 16:28] evilebottnawi commented on #1353
Fixed for the `master`

[2020-06-03 16:28] #1353 closed

[2020-06-04 10:50] eng-dibo opened #1612 "Can't resolve 'fs/promises'"
I use the latest version of nodejs, typescript and webpack.

for this code:
[code]
running `tsc` compiles the files without any problem, but with `webpack` I got the error
`Module not found: Error: Can't resolve 'fs/promises'`

[2020-06-04 11:10] evilebottnawi commented on #1612
It looks like you just deleted our lovely crafted issue template. It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

Please read documentation https://webpack.js.org/configuration/node/

[2020-06-04 11:10] #1612 closed

[2020-06-04 17:16] #1277 closed

[2020-06-04 20:38] dcress opened #1618 "Webpack compiling template literals `s to "s or 's -- causing translation issues"
First off, thank you so much for Webpack! It's so helpful!

### The Bug
I'm running into an issue that I can't seem to find the solution to via Google, SO or GH. My company's website is translated into 4 different languages. We use a in-house built translator to accomplish this task. For our JS/TS files, we use a nuggeting system `[[[Translate text]]]` which replaces the text with what our interna

[2020-06-05 14:22] evilebottnawi commented on #1618
Can you provide example of `s` literals?

[2020-06-05 17:22] dcress commented on #1618
Hey @evilebottnawi! Maybe I'm misunderstanding your question, but I have a couple examples in the above bug description. Generally template literals (or string interpolation) will look like so:

[code]

However, if you have dynamic content that will be coming into your code (via out nugget system, for instance) we tend to use backticks (```) instead of "s or 's, since we're not 100% sure what our

[2020-06-05 19:52] claytonhottinger opened #1620 "v3.3.12 listed as released but has not been published to public npm registry"
**Describe the bug**
v3.3.12, which fixes a [low vulnerability](https://snyk.io/vuln/npm:yargs-parser) by [updating the yargs dependency](https://github.com/webpack/webpack-cli/commit/33574ec82e1f6d8b71e872db086bbfaaf77707ba), is listed [under releases](https://github.com/webpack/webpack-cli/releases/tag/v3.3.12) but the npm registry still shows [3.3.11 as the latest version](https://www.npmjs.com

[2020-06-06 10:25] x8core opened #1622 "[Enhancement]: Error [ERR_REQUIRE_ESM]: Must use import to load ES Module"
system: macOS
node version: 14.2
webpack@4.43.0
webpack-cli@3.3.11

So, i have config file "webpack.config.js"
`
export default  {
    entry: './i.js',
    output: {
        filename: 'bundle.js'
    }
}
`

in package.json i have "type": "module"

in i.js i have code
[code]

so i use cmd
```webpack --config webpack.config.js```

and got error:
[code]

In documentation i see. "When using webpack to

[2020-06-06 21:38] Legends commented on #1622
I solved this

by changing the extension of the `webpack.config .js` to `.cjs`.
It compiles fine, but during runtime I get:

I tracked it down to the dynamic import: `import("./lazy.js")` in `main.js`.
If I change it to a normal `import` the app runs flawlessly.

[Here is the repo](https://github.com/Legends/webpack-pure-es6-without-babel) to reproduce this issue.

Node -v: **v14.4.0**

[2020-06-07 15:00] evilebottnawi commented on #1620
Yes, some problems with npm, release will be tomorrow

[2020-06-07 15:04] evilebottnawi commented on #1618
How it is related to webpack-cli?

[2020-06-08 03:22] snitin315 opened #1623 "Error loading a plugin created via plugin command"
**Describe the bug**

The default plugin created via `webpack plugin` throws the following error when loaded in `webpack.config.js`

**What is the current behavior?**
`SyntaxError Unexpected token '.'`

**To Reproduce**

Steps to reproduce the behavior:

1. generate a plugin via `webpack-cli plugin`
2. Go to examples/simple
3. Run `webpack`
4. See error

**Expected behavior**
Should work properly

[2020-06-08 13:36] evilebottnawi commented on #1623
Feel free to fix it :+1:

[2020-06-08 16:32] DanielRuf commented on #1618
For me it looks like the issue is about double and single quotes. Normally they should be escaped or htmlentities used maybe.

[2020-06-08 20:15] dcress commented on #1618
@evilebottnawi  @DanielRuf Thanks for the replies! Yes, it's related to webpack because webpack is changing my backticks to either "s or 's. I don't know why Webpack would be opinionated in this way as backticks/template literals are [well supported](https://caniuse.com/#search=template%20literals) in all modern browsers.

Again, it could be that I'm missing something here, but it seems like somet

[2020-06-08 21:32] DanielRuf commented on #1618
It may depend on the babel / webpack target settings (which ES version and features) so it applies the transformations.

[2020-06-09 10:38] evilebottnawi commented on #1618
Yes, we don't change your code, you can create reproducible test repo and I will say which loader/plugin break it

[2020-06-09 11:52] snitin315 commented on #717
Regarding `--stats`,  should we apply a general solution like `--multiType-flag` which will allow -
- `webpack --multiType-flag` => `multiType-flag: true`
- `webpack --multiType-flag value` => `miltiTypeFlag: 'value'`

Or we will be supporting multi types for stats only?

[2020-06-09 12:08] evilebottnawi commented on #717
Why we need support multiple `stats`?

[2020-06-09 12:37] snitin315 commented on #717
not multiple stats but multiple types for stats.

I'm thinking to add a property `multiType : true` for stats inside `cli-flags.js` ?
Any suggestions ?

[2020-06-09 12:47] evilebottnawi commented on #717
@snitin315 I can't understand, please clarify

[2020-06-09 12:49] snitin315 commented on #717
No worries I will create a Draft PR for same.

[2020-06-09 15:45] fangbao-0418 opened #1626 "webpack-cli init <your-scaffold> is error"
![image](https://user-images.githubusercontent.com/19402021/84169145-d997fc00-aaaa-11ea-8ed7-771630bd35b4.png)

webpack-cli version 3.3.11

[2020-06-09 15:54] snitin315 commented on #1626
Can you once try with webpack-cli@beta ?

[2020-06-09 18:33] dcress commented on #1618
@evilebottnawi @DanielRuf Ah, okay that's great to know. I'll take a closer look there and see if i can parse out which loader is causing the issue. I was assuming it was a core webpack-cli issue. Thanks for the help, y'all!

[2020-06-09 18:34] #1618 closed

[2020-06-10 00:56] snitin315 commented on #668
Bump

[2020-06-11 16:12] claytonhottinger commented on #1620
@evilebottnawi thanks for the update... however it looks like the release still hasn't happened. Can you provide a new eta?

[2020-06-11 16:13] evilebottnawi commented on #1620
today/tomorrow

[2020-06-11 20:19] dscalzi commented on #1532
Thanks, fixed

[2020-06-11 20:19] #1532 closed

[2020-06-11 21:09] belauzas commented on #1127
Finally, it works with `webpack-cli init` if
[code]

[2020-06-15 06:16] rishabh3112 commented on #1509
Completed, closing the issue now 😀

[2020-06-15 06:16] #1509 closed

[2020-06-15 06:22] rishabh3112 opened #1634 "feature: integration of serve package into cli"
**Is your feature request related to a problem? Please describe.**
Part of roadmap, we would be integrating serve by default into the CLI so that user need not install it to use dev-server from command line.

**Describe the solution you'd like**
- [ ] Robust tests for `serve`'s current features (if needed)
- [ ] Refactor `serve` and add/remove features from it
- [ ] Add tests for the previous step

[2020-06-15 10:57] evilebottnawi commented on #1634
+ https://github.com/webpack/webpack-cli/issues/1469

[2020-06-15 10:59] anshumanv commented on #1634
The fix for the above issue is here - https://github.com/webpack/webpack-cli/pull/1470

Can we move forward in it @evilebottnawi ?

[2020-06-17 19:05] danactive commented on #1620
Hey @evilebottnawi I'm also waiting on this `npm publish` command otherwise I will break my build with a snyk test

[2020-06-18 12:35] evilebottnawi commented on #1620
Done, sorry for delay

[2020-06-18 12:35] #1620 closed

[2020-06-18 12:36] evilebottnawi commented on #1581
/cc @webpack/cli-team need fix and tests

[2020-06-18 12:37] evilebottnawi commented on #1517
Let's close it, we don't need old flags, webpack@5 have api, for webpack@4 we will support only limited flags

[2020-06-18 12:37] #1517 closed

[2020-06-19 13:13] rishabh3112 commented on #825
As UI project under webpack has been officially discontinued (as discussed on slack), However I would be working on it when free as a side project, The POC project can be viewed at https://github.com/rishabh3112/webpack-ui/ for any one interested.

[2020-06-19 13:13] #825 closed

[2020-06-19 13:54] evilebottnawi commented on #916
bump

[2020-06-19 14:00] evilebottnawi commented on #1469
@anshumanv yep, because it is logs from server, not from client

[2020-06-19 14:24] anshumanv commented on #1469
Yes, But it should pass the devServer object from the config right to DevServer right?

[2020-06-19 14:29] evilebottnawi commented on #1469
@anshumanv we should get `devServer` config, override specified CLI flags and send it to dev server

[2020-06-19 14:31] anshumanv commented on #1469
@evilebottnawi yep, fix is here - https://github.com/webpack/webpack-cli/pull/1470

[2020-06-21 12:41] snitin315 commented on #789
@evilebottnawi Any update on this one?

[2020-06-22 10:22] evilebottnawi commented on #789
Feel free to send a PR

[2020-06-23 20:28] evilebottnawi commented on #1154
bump

[2020-06-24 18:08] Loonride opened #1648 "webpack-cli info being run when not desired"
**Describe the bug**

I was trying to run `webpack-cli serve` with the logging flag set to `info` like this: `webpack-cli serve --client-logging info`. It seems that the `info` string was identified, and instead of running `webpack-cli serve` it just outputted system information like it would with `webpack-cli info`. Since `info` is a valid option for logging, we need to do more than just check th

[2020-06-25 11:41] evilebottnawi commented on #1648
/cc @webpack/cli-team High priority

[2020-06-25 16:36] jamesgeorge007 commented on #1648
This seems to be happening because `info` comes before `serve` in `cli-flag` definition.
`webpack serve --client-log-level info`
The present way of parsing commands picks `info` over `serve`.
https://github.com/webpack/webpack-cli/blob/d087c61a8a64359a8f520b4c3916948cb846a55c/packages/webpack-cli/lib/bootstrap.js#L18

[2020-06-25 16:50] evilebottnawi commented on #1648
We should rewrite it, using `process.argv.includes` is not safe

[2020-06-26 14:51] tandrewnichols commented on #1560
I'm experiencing this issue as well, and I think I figured out the issue. I don't know whether this _should_ work or not, but for me, when I type `webpack --json` I get the prompt to install webpack-cli, but then it still can't find the installation (see error message in @sinevitch's original report). That's because `webpack --json` is using the globally installed webpack and the prompt is install

[2020-06-26 14:59] evilebottnawi commented on #1560
@tandrewnichols Can you open an issue in webpack-cli, we can improve it

[2020-06-26 16:01] tandrewnichols commented on #1560
Would you call this a bug or a feature request? I can see a case for either.

[2020-06-26 16:21] evilebottnawi commented on #1560
@tandrewnichols Feature, when global and local installations exist we should say what we use local instead global, to avoid confusing

[2020-06-26 18:15] tandrewnichols opened #1653 "Globally installed webpack instance should delegate to local one"
**Is your feature request related to a problem? Please describe.**

If you have webpack installed globally and try to run something like `webpack --json` (any command, really), webpack offers to install webpack-cli for you, but it installs it locally and therefore the command you're trying to run still doesn't work. You end up getting `Error: Cannot find module 'webpack-cli'`. See #1560 for more i

[2020-06-26 18:15] tandrewnichols commented on #1560
@evilebottnawi See #1653

[2020-06-30 12:20] #1648 closed

[2020-06-30 15:25] evilebottnawi commented on #1657
We need implement the `name` flag to run one/two/more of multiple compilers, also it can be `--name=web --name=server` (multiple args)

/cc @webpack/cli-team

[2020-06-30 15:38] snitin315 commented on #1657
@evilebottnawi multiple compilers simultaneously?

[2020-06-30 15:43] evilebottnawi commented on #1657
Yes

[2020-06-30 18:31] #821 closed

[2020-06-30 22:46] lukereative commented on #1469
Fix is now here #1649

[2020-07-01 15:53] jamesgeorge007 opened #1660 "version arg doesn't recognise loader and plugin subcommands"
**Describe the bug**
`webpack-cli loader | plugin --version` fails.

**What is the current behavior?**
`webpack-cli  plugin --version`
[code]

**To Reproduce**

- `webpack-cli plugin --version`
- `webpack-cli loader --version`

**Expected behavior**
`webpack-cli plugin --version`

[code]

**Please paste the results of `webpack-cli info` here, and mention other relevant information**
[code]

**Addi

[2020-07-02 11:03] evilebottnawi commented on #986
Bump, we need test it for v4

[2020-07-02 13:53] jamesgeorge007 commented on #1660
#1661

[2020-07-02 13:53] #1660 closed

[2020-07-07 00:02] vegerot commented on #282
Few months later.  Any update?  I think supporting modules in `webpack.config.js` makes a lot more sense now

[2020-07-07 05:27] rishabh3112 commented on #1657
@snitin315 a heads up, the name flag will also be  underwork #1649, I suggest to start working on this (if needed) after that PR gets merged to avoid duplicate work :)

[2020-07-07 06:07] snitin315 commented on #1657
makes sense :+1:

[2020-07-07 11:19] #1240 closed

[2020-07-09 15:35] evilebottnawi commented on #1677
Need add tests

[2020-07-09 15:40] anshumanv commented on #1677
will add 👍

[2020-07-09 17:17] ogonkov commented on #1622
When webpack config got `.cjs` it doesn't seem recognized as valid config at all (file exist).

[code]

[2020-07-10 20:38] nicolo-ribaudo commented on #1434
@arcanis Do you think that this is something that could be added to `plugin-compat`?

[2020-07-10 20:57] arcanis commented on #1434
@nicolo-ribaudo the actual fix is simply to call `yarn webpack-cli` instead of `yarn webpack`. I think it's a decent workaround, does that sound acceptable?

[2020-07-10 21:02] nicolo-ribaudo commented on #1434
It is enough, I didn't notice that fix :upside_down_face:

[2020-07-11 08:51] snitin315 opened #1679 "CLI: while importing some flags have pre-appended values"
# Bug report
While importing flags from core some flags are preappended with values , for example -
- `--module-no-parse`
- `--module-no-parse-reset`
- `--optimization-no-emit-on-errors`

**What is the current behavior?**
These flags have pre appended values and seems we cant override .

![Screenshot at 2020-07-11 14-03-34](https://user-images.githubusercontent.com/46647141/87220293-2b6cc400-c380-

[2020-07-12 15:06] tsonge opened #1678 "Webpack default mode not set to production"
# Bug report

As stated in https://webpack.js.org/configuration/mode/, "If not set, webpack sets production as the default value for mode."

**What is the current behavior?**
`argv` does not contain `mode` property set to `'production'`, when invoking `webpack` without any mode set.

**If the current behavior is a bug, please provide the steps to reproduce.**
file webpack.config.js:
[code]
now run

[2020-07-15 17:28] doasync commented on #1222
There is a warning when webpack-cli v4 is used with webpack v5:

[code]

➤ YN0000: ┌ Resolution step
➤ YN0002: │ @webpack-cli/package-utils@npm:1.0.1-alpha.4 doesn't provide webpack@^4.41.6 requested by @webpack-cli/logger@npm:1.0.1-alpha.4
➤ YN0060: │ webpack-cli@npm:4.0.0-beta.8 [1d845] provides webpack@npm:5.0.0-beta.22 with version 5.0.0-beta.22 which doesn't satisfy ^4.41.6 requested by @webp

[2020-07-15 17:48] evilebottnawi commented on #1222
It is expected, after stable release no warnings

[2020-07-15 22:48] jfo8000 commented on #1127
Hey if it's `npx webpack-cli create` now, can you update the outdated instructions here?
 https://webpack.js.org/configuration/

[2020-07-16 11:07] snitin315 commented on #1679
No idea :confused: , /cc @webpack/cli-team can anyone look into this? It is a major blocker for #1630

[2020-07-16 11:23] snitin315 commented on #1678
@tsonge Thanks for reporting. I was able to reproduce. I will send a fix soon.

![Screenshot at 2020-07-16 16-52-25](https://user-images.githubusercontent.com/46647141/87665584-c43a7f80-c784-11ea-87ec-0eaaab5ad9d1.png)

[2020-07-16 11:54] evilebottnawi opened #1683 "integrate `interpret`"
**Is your feature request related to a problem? Please describe.**

We need to use `interpret`(https://github.com/gulpjs/interpret) instead https://github.com/webpack/webpack-cli/blob/7489e639d13e8b89690a50595eb48214e9cdb1d9/packages/webpack-cli/lib/groups/ConfigGroup.js#L29

**Describe the solution you'd like**

Description above

**Describe alternatives you've considered**

No need

**Additional

[2020-07-16 11:56] anshumanv commented on #1683
will take a look

[2020-07-16 11:59] evilebottnawi commented on #1683
Thanks!

[2020-07-16 12:05] snitin315 commented on #899
Works fine with `webpack-cli@beta`, can we close it?

[2020-07-16 12:15] evilebottnawi commented on #899
Yes, fixed and tested

[2020-07-16 12:15] #899 closed

[2020-07-16 12:33] evilebottnawi commented on #1679
@snitin315 Can we try to test `--optimization-no-emit-on-errors` with pure setup without webpack-cli and check value?

[2020-07-16 13:53] snitin315 commented on #1679
`--optimization-no-emit-on-errors` works fine on the webpack side. I don't know how but these 3 flags seem to be set to true by our `arg-parser`.
arg-parser should do this only if we have `defaultValue: true` for these which isn't the case here.

[2020-07-16 15:01] snitin315 commented on #1679
I think I found the bug, I can see `defaultValue: true` in `parserInstance`. Looking more into it.

![Screenshot at 2020-07-16 20-28-38](https://user-images.githubusercontent.com/46647141/87687221-1ab6b680-c7a3-11ea-8eb8-e2ff72dc61ae.png)

[2020-07-17 09:10] snitin315 commented on #1679
I think it is a bug in `commander.js`, Actually, it sets `defaultValue: true` if the option starts with `no-`, but instead it is doing same for all options that include `no-`.
As mentioned in their docs - https://github.com/tj/commander.js/#other-option-types-negatable-boolean-and-flagvalue

I will raise an issue there.

[2020-07-17 09:24] evilebottnawi commented on #1679
Good catch :+1:

[2020-07-17 09:57] snitin315 commented on #1679
fix sent to `commander.js`, now we wait to merge and release.

[2020-07-17 11:33] xylolink opened #1689 "v4-beta : use env variable with config as a function"
**Describe the bug**

We need to manipulate env vars in the config file to adjust the compilation entries points

**What is the current behavior?**
Cli does not recognize --env.MYVAR parameter
Config returning this kind of result is not considered by CLI without any error message :
`
module.exports = (env) => {
return {
// my conf
}
`

**To Reproduce**

encapsulate your config object in a function

[2020-07-17 11:40] snitin315 commented on #1689
In starting we dropped the support of `--env` but as per feedback of users, We have added back the support of `--env` in 72491539bb06986d28bd55a1b112760435cade9d .
Maybe you should try it once again with webpack-cli `next` branch

[2020-07-17 12:10] #1678 closed

[2020-07-17 12:37] xylolink commented on #1689
Ok thanks !

I tried to update my npm. with `npm install --save-dev git://github.com/webpack/webpack-cli.git#next webpack@next`

Here's my package.json update :
` {
    "webpack-cli": "^4.0.0-beta.8",
    "webpack-cli-monorepo": "git://github.com/webpack/webpack-cli.git#next",
}
`

But cli still does not recognize --env.VAR
![image](https://user-images.githubusercontent.com/3509536/87786790-decf30

[2020-07-17 12:42] snitin315 commented on #1689
I think we support it like `--env <development | production | none>`, and not like the old cli.
/cc @anshumanv

[2020-07-17 12:42] anshumanv commented on #1689
Hey @xylolink 👋

The env flag presently only supports string in the format `--env TEST`, are there use cases when you need a object?

[2020-07-17 12:57] xylolink commented on #1689
--env params is also unknown

And yes, i need multiple env vars management to customize entry points from my dockerfile.

[2020-07-17 13:02] anshumanv commented on #1689
Unusual, seems to be working for me

![image](https://user-images.githubusercontent.com/21009455/87788899-ca4f5f80-c85b-11ea-8efc-ebb7c3f23353.png)

[2020-07-17 13:04] xylolink commented on #1689
Maybe the problem is that I retrieve webpack-cli-monorepo from github ?

[2020-07-18 10:44] snitin315 commented on #1443
fixed in https://github.com/webpack/webpack-cli/pull/1549

[2020-07-18 10:47] #1443 closed

[2020-07-20 04:20] adrijshikhar commented on #1297
Is this issue still open? I have been using webpack for quite a while now and I absolutely love it. I feel like this will be a nice starting point. I will go through the existing PRs and post a final conclusion if that suits or if anyone else has an idea of what has to be done here, please guide me through that.

[2020-07-20 09:11] #1679 closed

[2020-07-20 23:36] merceyz commented on #1434
Fix for webpack 5 is here: https://github.com/webpack/webpack/pull/11189
Fix for webpack 4 is here: https://github.com/webpack/webpack/pull/11190

[2020-07-21 10:51] snitin315 commented on #1683
fixed with https://github.com/webpack/webpack-cli/pull/1690 ?

[2020-07-21 10:53] snitin315 commented on #1497
we support `webpack --progress`  to show progress.

[2020-07-21 11:03] anshumanv commented on #1683
Yep

[2020-07-21 11:03] #1683 closed

[2020-07-21 11:14] evilebottnawi commented on #1497
@snitin315 we should add tests and keep what we don't add  `ProgressPlugin` twice and respect output with `ProgressPlugin` and with the `--progress` flag

[2020-07-21 12:54] snitin315 commented on #1188
All give same output (serve command help)

Both give same output (generic help)

Makes sense to remove `help` & `version`.

[2020-07-21 12:56] anshumanv commented on #1188
later, more important things on roadmap

[2020-07-24 16:31] VladimirMikulic commented on #1677
@sokra I have the same issue.

OS: Kubuntu 20.04
Node: v12.8.2
[code]

[2020-07-25 12:55] anshumanv commented on #1689
Yes, seems so. Can you try to update your package.json like this and try reinstalling?

[code]

[2020-07-27 02:37] eamodio opened #1704 "Webpack 5: weback.config.js doesn't seem to support a function that returns a config array anymore"
# Bug report

**What is the current behavior?**

See my current `webpack.config.js`: https://github.com/eamodio/vscode-gitlens/blob/2bfc0360b46933f715379016aed4084ad4e75fae/webpack.config.js

It works fine in Webpack 4, but results in
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Using this branch: https://github.com/eamodio/vscode-gitlens/commits/feature/we

[2020-07-27 12:08] evilebottnawi commented on #1704
/cc @webpack/cli-team Can we add tests (or we already have tests)?

[2020-07-27 12:11] anshumanv commented on #1704
I'll take a look

[2020-07-27 12:39] anshumanv commented on #1704
https://github.com/webpack/webpack-cli/blob/f1876c125be90e0b0ae96e6e9dbaf91ed447c779/packages/webpack-cli/lib/groups/ConfigGroup.js#L99

@evilebottnawi first thing I noticed is that we aren't passing the 2nd param `argv` to the config function, need to support that too, will check

[2020-07-28 08:48] snitin315 commented on #717
I think now cli supports `info` and `init` out of the box.
https://github.com/webpack/webpack-cli/blob/f1876c125be90e0b0ae96e6e9dbaf91ed447c779/packages/webpack-cli/package.json#L27-L28

 /cc @rishabh3112 am I right?

[2020-07-28 10:27] rishabh3112 commented on #717
Yes, but `serve` is still left for integration as decided.

[2020-07-28 11:56] evilebottnawi commented on #717
@rishabh3112 Let's send a commit with integration, we will fix an problems with options late

[2020-07-29 02:00] snitin315 commented on #1324
`--silent` is removed. Hence closing.

[2020-07-29 02:00] #1324 closed

[2020-07-29 05:46] rishabh3112 commented on #717
Sure, @evilebottnawi will send PR then.

[2020-07-29 09:36] Toge66 commented on #1222
[code]
dir
[code]
webpack.config
[code]
whie I run `webpack` output file is `main.bundle.js` but I want  `app.bundle.js` `print.bundle.js`
[code]

when I del the index.js, It's OK
[code]

[2020-07-29 12:31] evilebottnawi commented on #1167
/cc @webpack/cli-team we remove `verbose` in favor `stats`?

[2020-07-29 13:30] anshumanv commented on #1167
`verbose` is just a shorthand for `--stats verbose`, if not widely used, we can remove it

[2020-07-29 13:55] evilebottnawi commented on #1167
Maybe we should remove it to avoid misleading

[2020-07-29 13:56] #1241 closed

[2020-07-29 13:56] anshumanv commented on #1167
Will do 👍

[2020-07-31 09:01] anshumanv commented on #1689
@xylolink added support for multiple env in https://github.com/webpack/webpack-cli/pull/1715

But the syntax is slightly different because we're using a different parser now,

`webpack-cli --env test-version --env test-cli` which will make the env param as

`{ test-version: true, test-cli: true}` so you can restructure these things from your env param and use to structure your config, is that some

[2020-07-31 09:52] snitin315 commented on #1689
@anshumanv with commander 6 now we can support `--env test-version test-cli` => `{ test-version: true, test-cli: true}`.

Should I create a PR for the same?
Reference https://github.com/tj/commander.js/#variadic-option

[2020-07-31 10:01] rishabh3112 commented on #1689
+1 from my side on this.

[2020-07-31 10:55] anshumanv commented on #1689
yep that will be good, go ahead 👍

[2020-07-31 10:57] evilebottnawi commented on #868
bump

[2020-07-31 11:25] evilebottnawi commented on #1689
@anshumanv `webpack-cli --env test-version --env test-cli` is right syntax, using `--env test-version test-cli` is misleading can be create potential problems like `--env test-version ./src/index.js`

[2020-07-31 11:29] snitin315 commented on #1689
It can cause trouble in this case but might be handy for cases when we have long flag name like, `weback-cli --resolve-alias-alias alias1 alias2 --resolve-alias-name name1 name2`

[2020-07-31 11:35] evilebottnawi commented on #1689
For complex cases you should use `webpack.config.js`, no need to support misleading behavior `weback-cli --resolve-alias-alias alias1 alias2` can be `weback-cli --resolve-alias-alias index.js main.js` and you can never understand what the developer meant

[2020-07-31 11:37] snitin315 commented on #1689
Agreed.

[2020-08-01 11:21] snitin315 opened #1719 "Error using a loader generated via CLI"
**Describe the bug**
Error using a loader generated via CLI

**What is the current behavior?**
Syntax Error.
![Screenshot at 2020-08-01 16-47-33](https://user-images.githubusercontent.com/46647141/89100701-d4a25980-d416-11ea-8628-e11da113dcdd.png)

**To Reproduce**

Steps to reproduce the behavior:

1. generate loader via CLI `webpack-cli loader`
2. Go to `cd ./examples/simple`
3. Run `webpack`
4.

[2020-08-01 12:19] anshumanv commented on #1222
Hi @Toge66 thanks for your feedback!

To me it looks like a bug in the beta release but it doesn't seem to happen now in the latest branch so I've added a test for your case in https://github.com/webpack/webpack-cli/pull/1718.

Maybe @evilebottnawi we should tag a new release since it's been quite long since the last version was tagged and a lot of work as gone in.

[2020-08-01 12:26] snitin315 commented on #1581
I will debug.

[2020-08-01 12:38] evilebottnawi commented on #1222
@anshumanv Yes, we need to do the new release, I think we can do it at the new week

[2020-08-01 12:42] #1623 closed

[2020-08-01 12:43] anshumanv opened #1722 "feat: add config-name flag"
**Is your feature request related to a problem? Please describe.**

Allow passing the config name from the CLI to determine which config to use when there are multiple - https://webpack.js.org/configuration/other-options/#name
It's in v3 but seems to be removed from here for some reason

**Describe the solution you'd like**
Just need to create a flag and add tests

**Describe alternatives you've c

[2020-08-01 12:46] evilebottnawi commented on #1722
I think we already have it for webpack@5, but I think it will be great to webpack@4 too

/cc @snitin315

[2020-08-01 12:48] anshumanv commented on #1722
great on it

[2020-08-01 12:49] snitin315 commented on #1722
Yes, we have it for v5, nice to have it for v4 too.

[2020-08-01 13:30] evilebottnawi commented on #759
/cc @webpack/cli-team we remove `default` merging behavior out of box right?

[2020-08-01 13:32] anshumanv commented on #759
yep we have removed default configuration that we were applying before

[2020-08-01 13:34] evilebottnawi commented on #759
So let's close :+1:

[2020-08-01 13:34] #759 closed

[2020-08-01 13:35] snitin315 commented on #1297
I think we already have Readme files at appropriate  places.
/cc @webpack/cli-team

[2020-08-01 13:39] evilebottnawi commented on #1677
/cc @webpack/cli-team I think we fix it, somebody can add tests, or maybe we already have tests on this?

[2020-08-01 13:40] evilebottnawi commented on #1297
Yep, we don't need readme at each directory

[2020-08-01 13:42] evilebottnawi commented on #1160
Let's close, if you faces with the issue again, feel free to open a new issue or put feedback here, we have CLI tests and nobody has a problems with it, and I can't reproduce too

[2020-08-01 13:42] #1160 closed

[2020-08-01 13:42] anshumanv commented on #1677
adding now 👍

[2020-08-01 13:45] evilebottnawi commented on #1202
We remove donation message in favor `func` field for v4, so let's close, also can't reproduce with v3

[2020-08-01 13:45] #1202 closed

[2020-08-01 13:47] evilebottnawi commented on #1239
I think most of features already implements, some of them remove, like `expose, by default, the webpack output and make opt-in the fancy output (which is an experiment)`, because we don't need it, closing in favor roadmap issue

[2020-08-01 13:47] #1239 closed

[2020-08-01 13:48] evilebottnawi commented on #1129
Close in favor https://github.com/webpack/webpack-cli/issues/1127

[2020-08-01 13:48] #1129 closed

[2020-08-01 13:52] evilebottnawi commented on #1434
Fixed on webpack side, if you faced with PnP problem again, feel free to open a new issue

[2020-08-01 13:52] #1434 closed

[2020-08-01 13:55] evilebottnawi commented on #1126
/cc @anshumanv fixed by https://github.com/webpack/webpack-cli/pull/1721? Can you include it in the PR message?

[2020-08-01 13:57] anshumanv commented on #1126
Done @evilebottnawi 👍

[2020-08-01 14:00] snitin315 commented on #1297
Lets close it then 👍🏻

[2020-08-01 14:00] #1297 closed

[2020-08-01 14:01] snitin315 commented on #1297
@adrijshikhar maybe you can check help with some other newly created issues.

[2020-08-01 14:02] evilebottnawi commented on #1626
Close in favor https://github.com/webpack/webpack-cli/issues/1127

[2020-08-01 14:02] #1626 closed

[2020-08-01 14:03] evilebottnawi commented on #1127
/cc @webpack/cli-team Just clarify, have we test on this stuff?

[2020-08-01 14:05] evilebottnawi commented on #1497
/cc @webpack/cli-team need test

[2020-08-01 14:06] anshumanv commented on #1497
in near future

[2020-08-01 14:29] anshumanv commented on #1677
Seems to be working fine on webpack/webpack latest beta and latest CLI, adding test

[2020-08-01 15:07] adrijshikhar commented on #1297
Yeah sure. Thanks 😀

[2020-08-01 17:07] #1704 closed

[2020-08-01 17:07] #1126 closed

[2020-08-01 20:00] ctjlewis opened #1726 "Webpack 5.0.0-beta.22 logs gigantic object to console on error"
# Bug report

Title pretty much says it all. Upgraded from webpack 4 to 5.0.0-beta.22 and the build now fails and dumps a huge object to stdout with no additional context. I intend to workaround this, but the logic behind this logging behavior should likely be patched.

**What is the current behavior?**

The following message is dumped to console, process exits with error code 1:

<details>
<summa

[2020-08-02 05:48] #1719 closed

[2020-08-02 12:36] christiantjl commented on #1726
OK, thank you Tobias. I got around this but I appreciate your diligence, let me know if you need any additional info to repro.

[2020-08-03 10:44] pranvatsa commented on #868
This still seems to be open. Last time i commented i could not understand the issue and lacked understanding about promises.
I could give this another go now. Will start working on this

[2020-08-03 14:49] gabriel-peracio commented on #1469
This is a pretty major blocker for my workflow, hope this gets solved soon!

[2020-08-03 15:48] pranshuchittora commented on #868
Hi @pranvatsa
_The issue was raised more than a year ago, so things might have changed a lot._

Speaking of the root problem encountered earlier, was that the rejected promises were not handled for any errs/exceptions.

There are some file references in the description (**outdated**), in which the promise resolution was not handled properly.

As far as I remember the unhandled promise rejection wi

[2020-08-03 15:52] pranvatsa commented on #868
Understood :)
I wanted to verify if this has already been handled by changes made by others and close this issue.
So wanted to know how you got this warning earlier or steps to run the code locally

[2020-08-03 16:25] pranshuchittora commented on #868
Pardon, but I don't remember the exact steps to reproduce the following issue as far as I remember,  I was debugging one flow and my changes caused one of the promise to fail which in turn threw the following warning.

Just a thought :)
You can probe into any promise which you think is not handled properly, and then try to explicitly reject the promise, if that's not been handled then you may see

[2020-08-04 18:45] #1677 closed

[2020-08-05 15:42] Demivan commented on #1222
`webpack serve` does not work with `yarn@2`.
It keeps prompting to install `@webpack-cli/serve`. After adding some logging I found that `packageExists` from `@webpack-cli/package-utils` throws this:
[code]

[2020-08-05 15:44] evilebottnawi commented on #1222
@Demivan we have PR on this

[2020-08-06 05:16] axetroy commented on #1222
Hi! I get a problem when using webpack-cli@4 in Github Action.

It seems that this is not a tty

[code]

[2020-08-06 06:00] snitin315 commented on #1222
This is fixed but not yet released.

[2020-08-06 09:14] snitin315 commented on #1581
@mstssk I have the following observations

## with `webpack-4` and `webpack-cli@3` -
![Screenshot at 2020-08-06 14-29-11](https://user-images.githubusercontent.com/46647141/89513527-4cdf9500-d7f2-11ea-9ab5-56f6f099feb9.png)

## with `webpack-4` and `webpack-cli@4.0.0-beta.8`
![Screenshot at 2020-08-06 14-29-34](https://user-images.githubusercontent.com/46647141/89513624-6aacfa00-d7f2-11ea-9049-9ce

[2020-08-06 09:17] snitin315 commented on #1581
webpack fails and returns exit code 0 when an error occurs in loaders.

Exit code 0 means the code was executed successfully without any failures. So if webpack fails it should exit with a non-zero exit code. Please correct me if I'm wrong.

[2020-08-06 10:01] mstssk commented on #1581
@snitin315 Thank you for your help.

webpack fails and returns exit code 0 when an error occurs in loaders.

Oops! I typoed it.
`non-zero exit code` is correct.

I edit this issue's description.
Thank you.

[2020-08-06 10:03] snitin315 commented on #1581
I think then it's work as expected against the `webpack-cli next branch` I will add tests for the same.

[2020-08-06 10:19] evilebottnawi commented on #1581
@snitin315 Can you add test on this?

[2020-08-06 10:19] snitin315 commented on #1581
Yes. Work in progress.

[2020-08-07 05:05] danlafreniere commented on #1185
Late to the party but having a more up-to-date webpack-cli `npm install webpack-cli@3 --save-dev` worked for me. I also updated xcode (unsure if related but here you go: https://stackoverflow.com/questions/34617452/how-to-update-xcode-from-command-line).

[2020-08-07 15:39] axetroy commented on #1222
I found that the latest version was released on March 2.

Can you let me known me about when the new version will be released?

Because I used webpack-cli@v4 in my project. CI is not passed and I cannot release a new version.

Thx

[2020-08-07 15:43] snitin315 commented on #1222
/cc @evilebottnawi can you do a release?

[2020-08-07 21:46] rkumorek commented on #1222
Hey,

Few days ago I wanted to try out webpack 5 and newest webpack/cli, most went well except it seems like I cannot change stats output. I've created simple test project:
[code]

[2020-08-07 21:55] rkumorek commented on #1222
Hey,

Few days ago I wanted to try out webpack 5 and newest webpack/cli, most of the migration went well except it seems like I cannot change stats output. I've created simple test project:
[code]

Whenever I build it the stats look like this:
[code]

I really like the new format but I got few issues with it. First, I was unable to clean it up a bit, I've tried to use all sort of options from [sta

[2020-08-10 11:56] evilebottnawi commented on #1222
We will try to do the next release on this week

[2020-08-13 11:25] rishabh3112 opened #1743 "tests: fix serve tests on windows"
**Describe the bug**
Currently we are skipping tests for serve on windows platform, those should be implemented after serve implementation is completed.

**What is the current behavior?**
Tests are skipped on windows platform

**To Reproduce**
Check `tests/serve/*.test.js` files.

**Expected behavior**
Consistent performance across platforms

**Screenshots**
N/A

**Please paste the results of `web

[2020-08-14 09:09] snitin315 commented on #1657
@evilebottnawi Now we support `--name=web`(which runs compiler with web name) for `webpack@next`, but it can't accept multiple values.
https://github.com/webpack/webpack/blob/a3bef27457d8936f81525beaa633eb1931382dc0/test/__snapshots__/Cli.test.js.snap#L1099

[2020-08-14 11:04] evilebottnawi commented on #1657
@snitin315 Let's improve it

[2020-08-14 11:27] snitin315 commented on #1657
We should improve it at the core or here (in CLI)?

[2020-08-14 11:29] evilebottnawi commented on #1657
CLI, it is out of scope core

[2020-08-14 11:33] snitin315 commented on #1722
I think we should implement this before https://github.com/webpack/webpack-cli/issues/1657

[2020-08-14 11:35] anshumanv commented on #1722
yeah makes sense to add this first

[2020-08-14 11:37] anshumanv commented on #1722
will check it out, this should simply be about passing the the name to compiler or filter the config as per name in the CLI and then pass that config?

[2020-08-14 11:58] snitin315 commented on #1722
I'm not sure but I think the only difference between this and #1657 should be the support of multiple values?

[2020-08-16 17:31] adrijshikhar commented on #1264
According to what I have understood, the `@webpack-cli/issue-repo` package will help users to report bugs easily. It will provide a boilerplate to the users and with the help of [`relativeDeps`](https://github.com/mweststrate/relative-deps), the dependencies will be pointed to the webpack-cli version, on which the user is facing a problem. Now with the basic structure of the project ready, the use

[2020-08-17 13:32] snitin315 commented on #1657
`--name=web` flag purpose is set `options.name = 'web'`. To implement the ability to choose between multiple configs we should implement a different flag `--config-name` for example like done in v3.

[2020-08-17 13:37] evilebottnawi commented on #1657
Yes, you are right

[2020-08-18 03:47] rishabh3112 opened #1752 "refactor: utils and package-utils"
**Is your feature request related to a problem? Please describe.**
Currently we have shared code that is being used by different sub-packages in these packages. But this way, It allows for duplication of dependencies as `webpack-cli` package(dependendt on `package-utils`) package that is a peer dependency of all other sub-packages. Also, there may be a situation in which there would be multiple ve

[2020-08-18 05:30] meixg commented on #1135
`4.0.0-beta.2` can still get this problem.
where is the fix commit?

[2020-08-18 05:44] snitin315 commented on #789
Now with `serve` integration, I think `webpack serve --stdin` should work.

[2020-08-18 09:32] snitin315 commented on #1722
@anshumanv `webpack --name=web` should only set `options.name = 'web'`.

[2020-08-18 09:35] anshumanv commented on #1722
yeah seems straightforward, will PR today

[2020-08-18 10:14] evilebottnawi commented on #789
I think we should postpone it, need think about it deeply

[2020-08-19 10:22] snitin315 commented on #1261
@rishabh3112 I read the docs above and found that now we have covered major of the things in recent months like -

1. colorful CLI.
2. Zero configuration.
3. Appropriate and informational errors and warnings are in place.
4. Better error handling in case of invalid args.
5. compatibility with webpack 4 and webpack 5.
6. compatible with different versions of Node.js and different platforms (Windows

[2020-08-19 10:52] rishabh3112 commented on #1261
There is definitely an improvement but there are couple of this still left to be addressed:
- We need to give users information how to resolve a particular error. Like, when we throw Errors, we should also provide remedial information on how can we recover from this error.
- We need to be more state full, like we can provide status of project, based on previous executions and current configuration

[2020-08-19 10:53] #1657 closed

[2020-08-19 11:46] evilebottnawi commented on #1261
We validate configuration, so https://github.com/webpack/schema-utils respect for this, for other internal errors we already have good messages, maybe we can improve it in future, but not I don't see problems

Can you clarify?

[2020-08-19 12:31] rishabh3112 commented on #1261
Errors are pretty "informative" in my opinion as well. But if we provide errors with a lot of webpack related jargons to a complete novice, they would never know what would be "next step" for resolving that error. It contributes to increase in learning curve required to use webpack.

Like in `git status`, we can get information like which files are unchanged, Are we in middle of a rebase/merge, et

[2020-08-19 13:02] evilebottnawi commented on #1261
Can you provide example? I think it is out of scope webpack-cli, because only webpack known what option is mean and how it can be fixed. I think related https://github.com/webpack/webpack/projects/7

It should be in `stats.toString()`, it is real is not our scope

[2020-08-19 13:50] anshumanv opened #1759 "[Bug]: Throw error when config file is absent"
**Describe the bug**

When user states which config to use and we don't find it we don't throw err and rather fallback to default config/

**What is the current behavior?**

It should throw error when config is absent, it can use default config when config flag is absent

**To Reproduce**
webpack -c webpack.absent-config.js
Bundle succeeds

**Expected behavior**
It should throw err

**Screenshots*

[2020-08-19 14:07] #1581 closed

[2020-08-20 08:57] snitin315 commented on #1261
Yes, these hints for errors should be provided by the webpack.

[2020-08-20 10:36] #1759 closed

[2020-08-20 11:48] oreporan commented on #737
This issue still exists, my webpack outputs:

[code]

[2020-08-20 15:37] rockerBOO commented on #1622
This error happens in webpack 4 because it uses require to include your `webpack.config.js`. When you move to module, webpack is still using require to include your `webpack.config.js`. Changing the main config to `webpack.config.cjs` and importing your module inside of that should work.

[code]

This uses the function webpack config model but just importing should work.

---
In the future of webp

[2020-08-23 20:11] halcwb commented on #299
So, I tried about everthing in this thread:

- uninstalled the global webpack, using only local install
- updated to the latest versions
- linked webpack and webpack-cli

No luck!! Only directly running with ` node node_modules/webpack-dev-server/bin/webpack-dev-server.js` works.

Maybe a bug with > 91 comments is an indication??

[2020-08-27 16:07] anshumanv commented on #1689
Should we close this?

[2020-08-27 16:22] evilebottnawi commented on #1689
I think yes, we fix it

[2020-08-27 16:24] anshumanv commented on #1689
Closing, feel free to open a new issue for any feedback/problems. 😄

[2020-08-27 16:24] #1689 closed

[2020-08-27 16:32] anshumanv commented on #1497
@evilebottnawi what should be the behaviour when ProgressPlugin is manually applied along with `--progress` should we add it only once and if yes then the one coming from config right?

[2020-08-27 16:36] evilebottnawi commented on #1497
Yes, `--progress` should do nothing if you already have `ProgressPlugin`

[2020-08-27 16:36] evilebottnawi commented on #1497
I think it is already fixed, need add test(s)

[2020-08-27 16:41] anshumanv commented on #1497
gotcha on it

[2020-08-28 11:35] #1497 closed

[2020-08-28 12:24] #1165 closed

[2020-08-28 15:10] evilebottnawi commented on #1274
/cc @webpack/cli-team we need test `mjs` config

[2020-08-28 15:11] anshumanv commented on #1274
WIP here - https://github.com/webpack/webpack-cli/pull/1728
Will try to finish it soon

[2020-08-31 10:16] ylemkimon commented on #1469
#1649 is now merged.

[2020-09-02 05:48] eamodio commented on #1222
Any update on a new beta release?

[2020-09-02 06:03] evilebottnawi commented on #1222
@webpack/cli-team friendly ping, we need to finish PRs

[2020-09-06 10:16] snitin315 commented on #1167
Can we close this?

[2020-09-06 12:00] evilebottnawi commented on #1167
Yes, it is not problem webpack-cli, maybe we should open the new issue in webpack with value `very-very-verbose` and show all information

[2020-09-06 12:00] #1167 closed

[2020-09-08 17:39] jamie-pate commented on #152
I came up with a 'plugin' based approach: it works ok, but takes 5 seconds for some larger webpack configs, and some loaders (e.g. babel) need to be filtered because they are prohibitively slow

[code]

[2020-09-09 05:42] Thomazella commented on #1165
Hey yall. Is it currently planned to support esm for config files? I guess it would raise the minimum node version way to high right?

[2020-09-09 14:18] thefoxie commented on #1494
@anshumanv this issue remains unresolved since the next beta package hasn't been released yet

[2020-09-09 14:34] anshumanv commented on #1494
Yep, @evilebottnawi will be making a release soon

[2020-09-09 19:03] x8core commented on #1622
This is absolutely madness

[2020-09-10 10:06] evilebottnawi commented on #900
Bump

[2020-09-10 19:14] Johannestegner commented on #1469
Will this be released in a new alpha/beta release soon? Would be wonderful to have it working :)

[2020-09-10 19:36] evilebottnawi commented on #1794
/cc @webpack/cli-team should be easy to implement

[2020-09-11 01:29] snitin315 commented on #1794
Yes, I will do it.

[2020-09-11 15:54] cweekly commented on #737
Same here; the minimum reproducible test case is very simple:

`webpack --json > stats.json`

produces invalid json if there is any console output:

INVALID JSON bc of console output
[code]

instead of the desired
VALID JSON
[code]

Use of the --json flag should do something to ensure the generated .json file is valid.
Maybe simply omit the console output? Or wrap it in valid JSON?

[2020-09-11 15:58] evilebottnawi commented on #737
@cweekly fixed in master, no need new issue, release will be soon

[2020-09-11 16:17] cweekly opened #1797 "Json flag generates invalid JSON if there's any console output"
**Describe the bug**

`webpack --json > stats.json` produces invalid JSON in the presence of any console output. This breaks officially-documented workflows for generating stats files. For example,

`webpack --json > stats.json`
`webpack-bundle-analyzer stats.json` // <- NOT a WBA issue; same problem w any other consumer of stats.json

[code]

**To Reproduce**

The minimum reproducible test case i

[2020-09-11 16:30] evilebottnawi commented on #1797
/cc @webpack/cli-team Do we have tests on this https://github.com/webpack/webpack-cli/blob/next/packages/webpack-cli/lib/utils/CompilerOutput.js#L6

[2020-09-11 16:34] cweekly commented on #737
Oh, ok -- awesome!  :)
I didn't see your (incredibly prompt) response till I'd created 1797.
Thanks!

[2020-09-12 06:17] atha3417 commented on #436
Testing binary

[2020-09-13 03:49] rishabh3112 commented on #1797
Works fine on `next`.

![image](https://user-images.githubusercontent.com/15812317/93009753-2b688a80-f5a2-11ea-895a-cf74432fb3e6.png)

[code]

[2020-09-13 03:51] rishabh3112 commented on #1797
https://github.com/webpack/webpack-cli/blob/next/test/json/json.test.js

[2020-09-14 06:53] anshumanv commented on #1012
I think we have covered everything, closing.

[2020-09-14 06:53] #1012 closed

[2020-09-14 11:25] evilebottnawi commented on #1797
Great, thanks!

[2020-09-14 11:25] #1797 closed

[2020-09-15 07:33] marcofugaro commented on #575
wtf, how is this highly requested feature being closed

[2020-09-15 10:41] #247 closed

[2020-09-17 12:14] thSoft commented on #1622
Unfortunately [@rockerBOO's solution](https://github.com/webpack/webpack-cli/issues/1622#issuecomment-677740453) does not work for me, the following error occurs: https://github.com/webpack/webpack-cli/issues/1274

[2020-09-17 12:19] evilebottnawi commented on #1274
Close in favor https://github.com/webpack/webpack-cli/issues/1622

[2020-09-17 12:19] #1274 closed

[2020-09-17 14:14] rockerBOO commented on #1622
@thSoft I have had success with using the `esm` plugin. https://www.npmjs.com/package/esm

`yarn webpack-dev-server --config ./webpack.config.cjs -r esm`

[2020-09-17 16:29] gabriel-peracio commented on #1469
I guess we need to wait for #1634?

Kinda weird that #1649 (the PR that fixes this issue) was merged, but has not been part of a release yet. Without #1649, devServer is basically broken (In my use case I need the proxy options, I have resorted to patching webpack)

[2020-09-17 18:46] achenwei-chwy opened #1807 "[Question] Which version of webpack-cli support webpack 5?"
So I can upgrade without worrying too much. Because I saw some post indicate latest version webpack-cli was not working with webpack5.

Thanks

[2020-09-17 18:54] Johannestegner commented on #1469
Ya, kinda been considering doing that myself! hehe :)

[2020-09-17 20:49] Cronus1007 commented on #667
@evenstensberg I would like to work on this issue.

[2020-09-18 10:35] evenstensberg commented on #667
Feel free

[2020-09-18 10:36] evenstensberg commented on #1807
Both versions latest at master branch and next branch supports webpack 5, if you run `npm install --save-dev webpack-cli` and `npm install --dev webpack-cli@next` both supports it

[2020-09-18 10:37] #1807 closed

[2020-09-18 10:37] evenstensberg commented on #1807
https://github.com/webpack/webpack-cli/blob/next/SECURITY.md

[2020-09-18 12:30] evenstensberg commented on #1653
This is fixed in the latest beta

[2020-09-18 12:33] evilebottnawi commented on #1653
https://github.com/webpack/webpack-cli/blob/next/packages/webpack-cli/bin/cli.js#L9

[2020-09-18 12:33] #1653 closed

[2020-09-18 14:16] Cronus1007 commented on #667
@evenstensberg  Sir can you please guide me how to proceed?

[2020-09-18 15:47] achenwei-chwy opened #1809 "[Bug] encounter "configuration[0].optimization has an unknown property 'namedModules'" error when use webpack-cli ^3.1.2 with webpack 5.x.beta x"
**Describe the bug**
getting bug for namedModules invalid, but it suppose to be valid in webpack 5.x beta.

config extract below:
[code]
**What is the current behavior?**
getting error like following:

[code]

**To Reproduce**
intall webpack 5.x and webpack-cli ^3.1.2 as well as add  similiar config above

**Please paste the results of `webpack-cli info` here, and mention other relevant informatio

[2020-09-18 15:57] evilebottnawi commented on #1809
`namedModules` was removed in webpack@5

[2020-09-18 15:57] #1809 closed

[2020-09-18 16:02] achenwei-chwy commented on #1809
@evilebottnawi plz close the ticket with a pause it will help devs to follow up 👍
So the document thus need to be up to date, because I was looking at the doc for webpack 5.x namedModules is not removed.
<img width="293" alt="Screen Shot 2020-09-18 at 12 01 22 PM" src="https://user-images.githubusercontent.com/4201698/93619649-d7491600-f9a6-11ea-8e38-ba66f562fcf1.png">
<img width="783" alt="Screen

[2020-09-19 15:08] anshumanv commented on #1535
Can't we just do `webpack-cli --json >> stats.json` ?

[2020-09-19 15:52] snitin315 commented on #1535
Now we support multiple types, hence we can easily support -

- `webpack --json` : print on console.
- `webpack --json path/to/stats.json`

[2020-09-19 18:26] fgarcia commented on #1535
@anshumanv `webpack-cli --json >> stats.json` will not print any report after the command finishes. I wanted the json report AND the nicely printed console report, not being forced to choose just one. It is just not possible to have two reports if both depend on stdout

@snitin315 I am running `3.3.12` and it is still just stdout output. Did you mean instead that it could be done?

[2020-09-19 18:29] anshumanv commented on #1535
Makes sense, should we add a flag for this @evilebottnawi?

[2020-09-20 01:14] snitin315 commented on #1535
I meant we can easily implement this feature in v4.

[2020-09-20 22:44] MarcelGerber opened #1814 "`webpack serve` fails with `TypeError: cli.commandLineArgs is not a function`"
**Describe the bug**

With `webpack-cli@4.0.0-beta.9` and `webpack@5.0.0-rc.0`, whenever I run `webpack serve` I only get this error:
[code]

**To Reproduce**

Run `yarn webpack serve`.

**Expected behavior**

A webpack dev server starts without errors, like it did with `webpack-dev-server` before.

**Please paste the results of `webpack-cli info` here, and mention other relevant information**

[c

[2020-09-21 00:58] ylemkimon opened #1815 "package-utils cannot resolve external commands"
**Describe the bug**
`packageExists` in `@webpack-cli/package-utils` is used to resolve external commands: https://github.com/webpack/webpack-cli/blob/a515b76434a5031aada10f660975ea03d2a66218/packages/package-utils/src/packageUtils.ts#L64-L71

However, since external command packages, such as `@webpack-cli/info`, aren't declared as a dependency, `@webpack-cli/package-utils` shouldn't be able to re

[2020-09-21 06:36] anshumanv commented on #1814
Thanks for the report, yep the serve package(and I think all sub packages) needs bump and release.

/cc @evilebottnawi

[2020-09-21 06:44] mrzie opened #1818 "TypeError: Cannot read property 'size' of undefined"
**Describe the bug**

Occurs when I just run `webpack` command.

**What is the current behavior?**

**To Reproduce**

1. using `webpack-cli@4.0.0-beta.2` and `webpack@5.0.0-rc.0`
2. run `webapck` command

It seems in `lib/utils/CompilerOutput.js` line 33 webpack-cli compares `assert.name` with `assertName`. But in this case I found the `assertName` is an object `{name: 'xxx.js', size: 30}` not a s

[2020-09-21 09:13] anshumanv commented on #1818
Can you try with `beta.9`?

[2020-09-21 12:32] evilebottnawi commented on #1814
Yes, let's do release today

Fixed in master

[2020-09-21 12:32] #1814 closed

[2020-09-21 13:10] gabriel-peracio commented on #1469
Looks like this was fixed in [webpack-cli v4.0.0-beta.9](https://github.com/webpack/webpack-cli/tree/v4.0.0-beta.9)

I can't test it now, but if someone can confirm, we might be able to close this issue. If no one is available, I'll try to find some time to test it.

[2020-09-21 13:21] #1794 closed

[2020-09-21 15:18] mrzie commented on #1818
Thanks. The TypeError didn't appear again.
And I saw that `beta.9` use an empty checking to avoid the error, which couldn't print the bundle table.

Is that the final solution?

[2020-09-21 15:25] evilebottnawi commented on #1818
@mrzie Please clarify

[2020-09-21 16:07] Johannestegner commented on #1469
Tried with latest, sadly, in my case, all webpack (and cli commands) have stopped working:

[code]

Following packages installed:

[code]

Haven't had time to look in to it, (just saw that there where a new version out a few min ago and only have time to test quick before fixing food! hehe)...

[2020-09-21 16:11] mrzie commented on #1818
@evilebottnawi Today I upgrade my webpack version and get `webpack-cli@4.0.0-beta.2` for some reason I don't know. Then it throws the TypeError every time I try to build. It may because of the `generateFancyOutput()` never get the correct `asset` in my view.

And I just found the table-way output is removed by [238b4015cd889ae1efb550481fda8cea40b1440d](https://github.com/webpack/webpack-cli/commit

[2020-09-21 16:11] #1818 closed

[2020-09-21 16:15] evilebottnawi commented on #1469
You don't need `@webpack-cli/serve`, it is built-in feature

[2020-09-21 16:17] Johannestegner commented on #1469
Even without I still get the same errors :/
Will check if I can figure out why when I'm done with food :)

[2020-09-21 16:19] evilebottnawi commented on #1469
Just note - replace optimize-css-assets-webpack-plugin on https://github.com/webpack-contrib/css-minimizer-webpack-plugin (there are bugs in architecture)

[2020-09-21 19:41] Johannestegner commented on #1469
Okay, after deleting node_modules and package files a couple of times and reinstalling and all that fun stuff I now get the following error:

[code]

It does seem to be kind'a true, the `cli.commandLineArgs` property is _not_ a function, it actually does not exist in the `../lib/webpack-cli.js` file. I'm kinda wondering if something is wrong in the compilation of the script/s?

If you look at the

[2020-09-21 19:45] anshumanv commented on #1469
Yep this is known, https://github.com/webpack/webpack-cli/issues/1814

Releasing of sub packages should solve this, I think @evilebottnawi/@evenstensberg is already on this

[2020-09-21 19:54] Johannestegner commented on #1469
Aah, i see! That's good to hear, just built the latest serve version to test (from the next branch). Other than having to install `webpack-dev-server` (which I'm guessing is bundled in the 'real' installation) and comment out some of the configuration, it seems to run fine!

So I eagerly await the release of next serve version :)

[2020-09-23 06:08] billyjanitsch commented on #1222
Please, please reconsider having `webpack-cli` depend directly on `@webpack-cli/init` (https://github.com/webpack/webpack-cli/pull/1609). The latter is an enormous module with so many dependencies (particularly jscodeshift, which is huge and very outdated). This doesn't affect bundle size, of course, but it does affect install time and npm's ability to dedupe modules. Plus, the init functionality

[2020-09-23 06:19] billyjanitsch commented on #717
Hi, I just wanted to cross-link this comment https://github.com/webpack/webpack-cli/issues/1222#issuecomment-697154223 because this might be the more appropriate issue:

[2020-09-23 10:40] evilebottnawi commented on #717
@billyjanitsch yes, we will do it

[2020-09-23 21:43] ylemkimon commented on #1469
I can confirm that this issue is fixed with `webpack@5.0.0-rc.0` and `webpack-cli@4.0.0-rc.0`.

[2020-09-24 09:00] snitin315 commented on #1127
Yes,
here https://github.com/webpack/webpack-cli/tree/next/test/init and https://github.com/webpack/webpack-cli/blob/next/packages/webpack-cli/__tests__/init.test.js

[2020-09-24 10:40] evilebottnawi commented on #1127
Let's close, I think the problem fixed, feel free to open a new issue if you faced with issue again

[2020-09-24 10:40] #1127 closed

[2020-09-24 10:46] evilebottnawi commented on #1469
Let's close, feel free to open a new issue if you faced with the issue again

[2020-09-24 10:46] #1469 closed

[2020-09-24 11:15] loadingwyn opened #1828 "webpack output is served from undefined"
**Describe the bug**

The output of webpack doesn't get served.

**What is the current behavior?**

![image](https://user-images.githubusercontent.com/17921180/94137890-c3674d80-fe99-11ea-951d-771549320035.png)

My config:

[code]
Command:

`webpack serve --config webpack.dev.js`

**To Reproduce**

Steps to reproduce the behavior:

1. Define a devServer config in your webpack config file
2. Run we

[2020-09-24 15:28] evilebottnawi commented on #1222
@billyjanitsch Are you sure about `82mb`? https://arve0.github.io/npm-download-size/#webpack-cli@next

[2020-09-24 15:33] billyjanitsch commented on #1222
@evilebottnawi that website is only tracking the size of direct dependencies. For example, it shows `12.11 MiB` but if you click on `@webpack-cli/init @ 1.0.1-rc.0 -- 11.3 MiB (606 deps)` it shows `19.44 MiB`, and so on, recursively.

Try this:
[code]

You get:
[code]

[2020-09-24 16:09] evilebottnawi commented on #1222
@billyjanitsch can you run `npm ls`? and put it here?

[2020-09-24 16:13] billyjanitsch commented on #1222
@evilebottnawi yes, no problem:

<details>
  <summary>Expand</summary>

[code]
</details>

[2020-09-24 20:16] kevinvalk opened #1836 "Performance.hints: "warning" emits non zero exit code"
# Bug report

`Performance.hints` defaults to `"warning"`. It is my understanding that a warning is not an error (hence we also have the "error" option). However, even with hints set explicitly to `"warning"`, webpack returns a non zero exit code.
[code]
**What is the current behavior?**
Webpack returns a non zero exit code when building with `performance.hints` set to `"warning"`.
[code]

**If th

[2020-09-25 09:19] sokra commented on #1836
Yep, warnings should not result in a non-zero exit code. Only errors.

[2020-09-25 09:20] anshumanv commented on #1836
will check this

[2020-09-25 14:13] #1383 closed

[2020-09-25 17:21] anshumanv opened #1838 "feat: support webpack-bundle-analyzer with CLI"
**Is your feature request related to a problem? Please describe.**
We can have an `analyze` flag which invokes webpack-bundle-analyzer as bundle information is crucial limiting size and determining potential bloats

**Describe the solution you'd like**
we can list it in peer dep and use the analyzer which the user has installed instead of shipping out of the box to keep package size low.

**Descri

[2020-09-25 17:30] evilebottnawi commented on #1838
Yes:
- Put in `peerDependenciesMeta` with `options`
- for the `--analyze` flag adding `webpack-bundle-analyzer` as a plugin
- need implement schema for `webpack-bundle-analyzer` and read options from schema (can be done late)

[2020-09-26 09:38] anshumanv opened #1841 "test: add test for cache-location flag from webpack@5"
**Describe the bug**

supply location to cache path

**What is the current behavior?**
no tests present

**Expected behavior**
- tests present

**Screenshots**

**Please paste the results of `webpack-cli info` here, and mention other relevant information**

**Additional context**
/cc @evilebottnawi
https://github.com/webpack/webpack-cli/pull/1832#discussion_r495111318

[2020-09-26 09:40] anshumanv commented on #1841
It seems we already have test
[code]

@evilebottnawi can you clarify the expectation you had?

[2020-09-26 20:32] MarcelGerber opened #1842 "Project with `webpack-cli@4.0.0-rc.0` doesn't use cache"
**Describe the bug**

I seem to have found a regression in webpack-cli 4 with regards to Webpack 5 caching.

Pretty minimal demo project: https://github.com/MarcelGerber/webpack-demo

With `webpack-cli@4.0.0-rc.0` and `webpack@5.0.0-rc.0`, the cache is not used even though it is specified in `webpack.config.js`. On [branch `old-cli`](https://github.com/MarcelGerber/webpack-demo/tree/old-cli) the c

[2020-09-26 20:36] MarcelGerber commented on #1842
Another interesting thing I observed is that `yarn webpack serve` correctly uses the cache, but `yarn webpack` doesn't.

[2020-09-28 10:04] evilebottnawi commented on #1842
/cc @webpack/cli-team high priority

[2020-09-28 10:25] evilebottnawi commented on #1841
@anshumanv we should check what cache is was used, run two compilation

[2020-09-28 10:26] evilebottnawi commented on #1841
Ref: https://github.com/webpack/webpack-cli/issues/1842

[2020-09-28 16:28] bahtou opened #1843 "[BUG]: ERROR in main: Can't resolve `./src`"
**Describe the bug**
I have the following project folder structure:

[code]

When I use `.webpack/index.js` to import a specific environment configuration I get the following error:

[code]

**To Reproduce**

*package.json*

[code]

*.webpack/index.js*

[code]

*.webpack/development.js*

[code]

[code]

**Expected behavior**

Expected the `src` directory to be resolved. If instead `.webpack/index.

[2020-09-28 16:42] snitin315 commented on #1843
can you once try with follwing ? -

`​>​ webpack serve --config .webpack/index.js --mode development --entry src/index.tsx`

[2020-09-28 16:45] snitin315 commented on #1843
Thanks for reporting I'm looking into it.

[2020-09-28 16:51] bahtou commented on #1843
[code]

[2020-09-28 17:11] bahtou commented on #1843
Have a look at this to reproduce the issue: https://github.com/bahtou/webpack-server-issue/tree/master

[2020-09-28 17:16] anshumanv opened #1844 "Bug: Output flag should only set path"
**Describe the bug**

@evilebottnawi : It is invalid because we will specify HTML and CSS as entry points in the near future + dependOn, if you have HTML entrypoint and use --output=/path/to/file.js it was wrong, Ideally we should remove --output in favor --output-path, also this one will be consistent with webpack@5 cli args

**What is the current behavior?**

Passing a file in output flag sets f

[2020-09-28 17:17] evilebottnawi commented on #1844
I think better to remove `--output` in favor `--output-path`

[2020-09-28 17:18] anshumanv commented on #1844
Yep will do that in PR 👍

[2020-09-29 10:37] snitin315 commented on #1843
I found the bug, CLI was adding `.js` extension for non-js files. Hence making the entry point as `src/index.tsx.js` which is incorrect. I'm sending a fix.
https://github.com/webpack/webpack-cli/blob/0f13ab5ddd9e28e5e7095721d086a58aebaf98a5/packages/webpack-cli/lib/utils/GroupHelper.js#L19-L21

[2020-09-29 10:40] evilebottnawi commented on #1843
@snitin315 Feel free to send a PR, I think we should remove whole logic, because it is invalid

[2020-09-29 10:41] anshumanv commented on #1843
https://github.com/webpack/webpack-cli/pull/1832 should fix this, @snitin315 can you check?

[2020-09-29 10:45] snitin315 commented on #1843
Sure 👍🏻

[2020-09-30 07:08] MisterSemaan opened #1847 "'Webpack not installed' error"
# Bug report
**What is the current behavior?**
I am creating a Webpack configuration from scratch, when I try to use my npm scripts build or start my project (development & production mode) I get the error 'Webpack is not installed'.

It recommends installing Webpack...
Install webpack to start bundling: $ npm install --save-dev webpack

Which I have done, already prior to this error message. Howe

[2020-10-02 12:07] anshumanv opened #1852 "[Bug]: delegate default entry assigning to core"
**Describe the bug**

Presently we assign our own default entry which is invalid since it can be `ts/mjs` etc so delegate this to core, we only need to assign entry when user passes

**What is the current behavior?**

Entry assigned to `index.js` or `src/index.js`

**To Reproduce**
Add some non js index file then it won't work

**Expected behavior**
It should work

**Screenshots**

**Please paste

[2020-10-02 12:42] evilebottnawi commented on #1852
@anshumanv Can you send a PR, it is very important

[2020-10-02 12:45] anshumanv commented on #1852
yep on it 👍

[2020-10-02 21:19] gairTanm commented on #1843
I might be totally out of depth here, but something I found worth noting is that in the following, the `defaultEntry` paths all end with a `.js` with `index` at the start or just `index`.
https://github.com/webpack/webpack-cli/blob/55d0bd876d014b75c39607fcd08b9bd57e436d92/packages/webpack-cli/lib/webpack-cli.js#L20-L29
Also, the following
https://github.com/webpack/webpack-cli/blob/55d0bd876d014b7

[2020-10-03 12:59] #1844 closed

[2020-10-03 13:50] #1852 closed

[2020-10-03 13:51] evilebottnawi commented on #1841
/cc @webpack/cli-team We need to look at this, and test `cache` is more better:
- run compilation twice with and without changes
- changing something in webpack.config.js should invalid cache
- we should put config(s) in https://github.com/webpack/webpack/blob/master/lib/config/defaults.js#L282 to achieve cache invalidation

Somebody can take care before stable release?

[2020-10-03 13:52] evilebottnawi commented on #1843
@gairTanm I think it is fixed https://github.com/webpack/webpack-cli/pull/1856, can you try?

[2020-10-03 13:57] evilebottnawi commented on #282
Let's close in favor https://github.com/webpack/webpack-cli/issues/1622, temporary workaround https://github.com/webpack/webpack-cli/issues/1622#issuecomment-677740453

[2020-10-03 13:57] #282 closed

[2020-10-03 13:58] evilebottnawi commented on #1634
/cc @rishabh3112 Can we close it?

[2020-10-03 13:59] evilebottnawi commented on #1113
Tests added for webpack@5

[2020-10-03 13:59] #1113 closed

[2020-10-03 13:59] rishabh3112 commented on #1634
Yes, we can.

[2020-10-03 14:01] evilebottnawi commented on #1634
Thanks for helping

[2020-10-03 14:01] #1634 closed

[2020-10-03 14:03] evilebottnawi commented on #1475
I want to close issue, because it is out of scope webpack-cli, verbose is verbose (not `all`), but you can achieve this using https://github.com/webpack/webpack/blob/master/schemas/WebpackOptions.json#L3147

[2020-10-03 14:03] #1475 closed

[2020-10-03 14:04] evilebottnawi commented on #1125
I think it is fixed on webpack side (webpack@5), and we don't change `stats` output from webpack

[2020-10-03 14:04] #1125 closed

[2020-10-03 14:05] evilebottnawi commented on #1340
Done https://github.com/webpack/webpack-cli/pull/1364

[2020-10-03 14:05] #1340 closed

[2020-10-03 14:09] gairTanm commented on #1843
On it :+1:

[2020-10-03 14:12] evilebottnawi commented on #1843
Fixed, let's close, but if somebody faced with the issue again, feel free to open a new issue

[2020-10-03 14:12] #1843 closed

[2020-10-03 14:20] bahtou commented on #1843
@evilebottnawi what will I need to do get this working (from above)? https://github.com/bahtou/webpack-server-issue/tree/master

I have updated the package
"webpack": "^5.0.0-rc.3",
"webpack-cli": "^4.0.0-rc.0",
"@webpack-cli/serve": "^1.0.1-rc.0",
"webpack-dev-server": "^3.11.0",

[2020-10-03 14:20] snitin315 commented on #1841
Looking into it.

[2020-10-03 14:27] evilebottnawi commented on #1843
@bahtou we will do new rc release in Monday, so you will need just update :smile:

[2020-10-03 14:30] gairTanm commented on #1843
@bahtou I'm not a 100 percent sure, but the following might work before Monday :):
https://webpack.js.org/guides/installation/#bleeding-edge

[2020-10-03 14:37] evilebottnawi commented on #868
I think it is fixed in latest rc, let's close, anyway if somebody faced with the issue, feel free to open a new issue

[2020-10-03 14:37] #868 closed

[2020-10-03 14:40] clshortfuse commented on #1622
So, it's been a while, but my `"type": "module"` project works with fine if I rename the `.js` file to `cjs` and force `--config` as the flag without build errors.

Previous:

* `webpack --env.target=docs`

New:

* `webpack --config webpack.config.cjs --env.target=docs`

Not exactly the same thing as supporting a `.mjs` configuration for Webpack, but at least I don't have to stop using module pack

[2020-10-03 14:54] bahtou commented on #1843
@gairTanm bleeding-edge is ` "webpack": "^5.0.0-rc.3", correct? From the above repo: https://github.com/bahtou/webpack-server-issue/tree/master, I'm still getting an error. Could be something else?

[2020-10-03 14:57] anshumanv commented on #1843
@gairTanm no

@bahtou it's webpack core, the issue was in CLI (this repo). Hence once CLI RC is released this should be fixed.

[2020-10-03 14:57] gairTanm commented on #1843
@bahtou I think you'll have to install the `webpack-cli` bleeding edge. The issue, if I understand it correctly, was with `webpack-cli`. Nevertheless, I think it will be better to wait for the rc release on Monday.

[2020-10-04 00:20] quechi199900 opened #1859 "Report"
**Describe the bug**

**What is the current behavior?**

**To Reproduce**

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Please paste the results of `webpack-cli info` here, and mention other relevant information**

**Additional context**

[2020-10-04 00:36] #1859 closed

[2020-10-04 00:36] quechi199900 opened #1860 "*"
**Describe the bug**

**What is the current behavior?**

**To Reproduce**

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Screenshots**

**Please paste the results of `webpack-cli info` here, and mention other relevant information**

**Additional context**

[2020-10-04 05:13] #1860 closed

[2020-10-05 09:44] #1841 closed

[2020-10-05 09:44] #1842 closed

[2020-10-05 15:49] #1836 closed

[2020-10-06 09:52] evilebottnawi commented on #1838
to respect built-in options

[2020-10-06 09:52] evilebottnawi commented on #1838
to respect built-in options

[2020-10-06 10:19] anshumanv opened #1877 "refactor: Post group-design cleanup"
**Describe the bug**
We've migrated from group design, all that's left is to cleanup `GroupHelper` and unnecessary computation in `webpack-cli.js` eg we don't need to compute group map etc.

This issue is to list down potential cleanups which can be done

**What is the current behavior?**
Extra methods in class doing unnecessary computation

**To Reproduce**

**Expected behavior**
Only keeping rel

[2020-10-06 11:52] snitin315 opened #1878 "fix watch tests for windows"
**Describe the bug**

Need to fix `--watch` tests for windows.

**What is the current behavior?**
Flaky

**To Reproduce**

**Expected behavior**
Tests should pass for windows.

**Screenshots**
NA

**Please paste the results of `webpack-cli info` here, and mention other relevant information**

**Additional context**

Probably need to refactor `runWatch` test util.

https://github.com/webpack/webpac

[2020-10-07 03:51] Deepak-du commented on #1264
Hi. Can I take up this issue?

[2020-10-07 04:01] anshumanv commented on #1264
I don't think we need this.

[2020-10-07 04:12] snitin315 commented on #1264
+1

[2020-10-07 04:29] anshumanv commented on #1264
Closing, feel free to open a new issue if anyone faces any problem in testing.

[2020-10-07 04:29] #1264 closed

[2020-10-07 14:22] snitin315 commented on #1878
fixed in https://github.com/webpack/webpack-cli/pull/1890

[2020-10-07 14:22] #1878 closed

[2020-10-07 14:26] snitin315 commented on #1743
Looking into it.

[2020-10-09 00:24] Cronus1007 commented on #866
@snitin Please assign this issue to me.

[2020-10-09 00:33] snitin315 commented on #866
Feel free to send a PR.

[2020-10-09 18:10] SampsonCrowley commented on #1230
@anshumanv this is still happening with 3.3.12

[2020-10-09 18:11] anshumanv commented on #1230
Can you try with `4.0.0-rc.1`?

[2020-10-09 19:08] jamesgeorge007 opened #1901 "cli executer fails to invoke runCLI()"
**Describe the bug**
#1255 brought a better way to handle unknown flags by showing up the available options and asking the user to pick what they required. Everything works well except that it fails to supply the chosen args further up.

**What is the current behavior?**
`cli-executer` won't supply the chosen args since it fails to recognize `runCLI()` as a function.

<img width="363" alt="Screens

[2020-10-09 19:13] evilebottnawi commented on #1901
Yep, feel free to send a fix :+1:

[2020-10-09 19:27] SampsonCrowley commented on #1230
Doesn't that only support webpack 5?

On Fri, Oct 9, 2020, 12:11 Anshuman Verma <notifications@github.com> wrote:

[2020-10-09 19:52] anshumanv commented on #1230
Supports 4 as well

[2020-10-09 19:54] lopopolo commented on #717
@evilebottnawi is there a ticket to track the removal of `@webpack-cli/init` as a required dependency of `webpack-cli`?

[2020-10-10 00:19] jakebailey opened #1902 "v4 does not print when the compilation starts and ends in watch mode"
**Is your feature request related to a problem? Please describe.**

webpack-cli 3 printed "Compilation  starting..." and "Compilation  finished" in watch mode. This is critical for editor support, as the editor needs to know when it's safe to perform tasks once the code has changed by tracking when the build is running. E.g. I have a launch task in VS Code that starts webpack, and VS Code will kno

[2020-10-10 04:25] anshumanv commented on #1902
Usecase seems valid, will PR in a while.

/cc @webpack/cli-team should we make this default behaviour when using watch mode?

[2020-10-10 05:18] rishabh3112 commented on #1902
Yes, we should do this in my opinion.

[2020-10-10 12:06] evilebottnawi commented on #717
@lopopolo We search way to not remove it, but reduce size

[2020-10-10 12:31] evilebottnawi commented on #1902
This is a very bad idea.

Why do you use it?

We return this behavior because it's convenient, but I would not recommend relying on this

[2020-10-10 12:43] #1902 closed

[2020-10-10 13:38] evilebottnawi commented on #1743
We have more windows problems, so I think here not only serve :+1:

[2020-10-10 14:30] #1901 closed

[2020-10-10 14:32] evilebottnawi commented on #1726
Fixed

[2020-10-10 14:32] #1726 closed

[2020-10-10 14:34] evilebottnawi commented on #1752
package-utils was removed, I think we need move `utils` package inside webpack-cli, but need think how we can reduce size

[2020-10-10 14:39] jakebailey commented on #1902
Thanks for the fix.

I'm surprised this would be regarded as a bad idea. It was my impression that this was not uncommon. This is one of the main ways VS Code extensions (and others) are developed:

- https://code.visualstudio.com/api/working-with-extensions/bundling-extension#run-webpack (webpack-dev task)
- https://code.visualstudio.com/docs/editor/tasks#_background-watching-tasks (similar thing

[2020-10-10 14:45] evilebottnawi commented on #1902
@jakebailey Can you open new issue and we will continue discussion for better approach?

[2020-10-10 14:45] snitin315 commented on #1902
WIP for docs https://github.com/webpack/webpack.js.org/pull/4051

[2020-10-10 14:49] jakebailey commented on #1902
I can open a new issue if you'd like, but I'm not certain which part of my comment is the one needing a better approach. Are you referring to the inconsistency with the docs, the new printing needing a flag, or the overall scheme of using the printed lines at all?

[2020-10-10 14:57] jakebailey opened #1908 "v4 watch mode logging may differ from v3, docs"
Split from https://github.com/webpack/webpack-cli/issues/1902#issuecomment-706560444.

The docs for webpack 5 list that the `info-verbosity` flag controls lifecycle logging (used by external tools to track webpack process). The critical one "verbose" to log incremental build start/ends. #1902 was fixed by adding these lifecycle logs back in #1903.

https://webpack.js.org/configuration/watch/#info-

[2020-10-10 14:57] evilebottnawi commented on #1902
@jakebailey Yep, rely on our output is not safe, we can change our output - using other words/colors/etc

[2020-10-10 14:58] jakebailey commented on #1902
I opened #1908; if it's not what you meant to discuss, let me know. Hopefully you didn't mean the latter, since the logging definitely needs to be there for other tools to use. 🙂

[2020-10-10 15:01] jakebailey commented on #1908
https://github.com/webpack/webpack-cli/issues/1902#issuecomment-706562209

This language has been stable for years, and is used pretty frequently.

- https://github.com/TypeStrong/ts-loader/issues/660#issuecomment-413664871
- https://marketplace.visualstudio.com/items?itemName=eamodio.tsl-problem-matcher

Colors aren't a problem; the way those work is by setting an escape sequence to tell the term

[2020-10-10 15:13] jakebailey commented on #1908
If you want an example use, https://github.com/microsoft/pyright is the public repo that does this. It includes a watch task in VS Code to run the pyright VS Code extension, which builds the LS, waits for startup, and responds to edits. My intention is to update it to webpack-cli 4 once there's a release with the logging; it works alright with webpack-cli 3 for now (but clearly mixing versions isn

[2020-10-10 15:19] jakebailey commented on #1908
I used the bug template, which was likely a mistake as it added the label; feel free to remove it.

[2020-10-10 20:10] llooz opened #1915 "v4: stats colors not enabled by default"
**Describe the bug**

I have just upgraded from v3.3.12 to v4.0.0 and I don't see a colored output on the terminal as before.

**What is the current behavior?**

Webpack works fine but I don't have colored output.

**To Reproduce**

Upgrade to v4.0.0.

**Expected behavior**

Colored output as on v3.3.12.

[code]

**Additional context**

I have tried to:
- downgrade to `v3.3.12` -> WORKS
- downgrad

[2020-10-10 20:35] jakebailey commented on #1908
Now that everything is released, I've tested and confirmed that in the current state (with #1903), the watch mode works as expected. It's always printed in watch mode (versus being controlled by a flag), but is functional, so I'm able to bump to webpack-cli v4 safely. Thanks for sneaking that in before the release.

[2020-10-10 22:15] wtchnm commented on #1843
Hello!

The issue persists for me in the production build.

To reproduce:
- Clone https://github.com/wtchnm/Hotter/.
- `yarn install`
- `yarn build`

Package versions:
[code]

[2020-10-11 00:23] AviVahl opened #1916 "webpack-cli@4 installs 4x number of deps compared to v3 (including entire babel toolchain)"
**Describe the bug**

Not really a bug, but an observation.
I have a typescript-based project that uses `webpack@4` and `webpack@3`. When upgrading to `webpack-cli@4` (alongside `webpack@5`), I've noticed a TON of new dependencies. More than v3. More than webpack itself.

Most of those come from cli-related packages installing `jscodeshift` to every consumer.

**What is the current behavior?**

`w

[2020-10-11 00:28] lopopolo commented on #1916
This was previously brought to the webpack team's attention in the v4 beta feedback: https://github.com/webpack/webpack-cli/issues/1222#issuecomment-697154223

[2020-10-11 02:47] snitin315 opened #1917 "Inconsistent behavior of webpack --flag --help"
**Describe the bug**

`webpack --flag --help`  shows inconsistent behavior, sometimes it prints help sometimes it considers `--help` as value for `--flag`.

**What is the current behavior?**

**To Reproduce**

Steps to reproduce the behavior:

Try running -

`webpack --stats --help`
`webpack --mode --help`
`webpack -hot --help`
`webpack --entry --help`

See inconsistency.

**Expected behavior**
Th

[2020-10-11 07:07] anshumanv commented on #1843
Hey @wtchnm 👋

Thanks for the report, so I cloned your repo and it seems to be some issue with configs in `.webpack` folder, I moved the prod config to the project root and changed first line of `index.tsx` to

[code]

![image](https://user-images.githubusercontent.com/21009455/95672444-7e902600-0bbe-11eb-9ead-d86146a8684c.png)

And it compiled fine, you can use this as a workaround for now, will

[2020-10-11 08:36] sanex3339 opened #1918 "[DEP_WEBPACK_WATCH_WITHOUT_CALLBACK] error when using `--watch` flag"
**Describe the bug**

PR with the configuration
https://github.com/javascript-obfuscator/javascript-obfuscator/pull/776

After upgrade from webpack@4 to webpack@5 and webpack-cli@3 to webpack-cli@4.0.0 I got the following error:
[code]

This error happens only when using `--watch` flag:
[code]

Full error trace:
[code]

**Expected behavior**

No error.

[2020-10-11 08:41] llooz commented on #1915
It seems that's just a different default configuration of the `stats` portion passed down to webpack.

On v3.x.x I see that if there isn't a a chosen preference then it's automatically enabled if the terminal supports a colored output.
https://github.com/webpack/webpack-cli/blob/33574ec82e1f6d8b71e872db086bbfaaf77707ba/bin/cli.js#L169
https://github.com/webpack/webpack-cli/blob/33574ec82e1f6d8b71e

[2020-10-11 09:10] Cronus1007 commented on #866
@snitin @EugeneHlushko  @ematipico  Sir in my opinion rather than moving to @types/jscodeshift we can apply the cohesion principle.

[2020-10-11 10:34] wtchnm commented on #1843
Hello @anshumanv!

Thanks for investigating. I followed your directions and webpack compiled fine.
The real problem is the `.webpack` folder, if I rename it to` .config`, the compilation is successful.

[2020-10-11 11:31] wtchnm commented on #1843
If I convert my webpack production config from a function to a plain object, webpack also compiles file.

The bug appears to be on this line: https://github.com/webpack/webpack-cli/blob/d32aedadff112fdde7e3dd5e257bfc903b1c0286/packages/webpack-cli/lib/groups/ConfigGroup.js#L190
The configuration resolved on https://github.com/webpack/webpack-cli/blob/d32aedadff112fdde7e3dd5e257bfc903b1c0286/packag

[2020-10-11 13:17] anshumanv commented on #1843
Thanks for the insights, will fix it in near future.

[2020-10-11 13:26] wtchnm commented on #1843
@anshumanv, I can make a PR to check if `newOptionsObject['options']` is already defined in line 190, would this be enough?

[2020-10-11 13:42] anshumanv commented on #1843
Sure, feel free to PR. I don't think that will be enough since we're just adding another property on the object before assigning it again. You can start with creating a test which will fail now and debug and fix it.

[2020-10-11 15:08] kubijo opened #1919 "RangeError: Invalid string length"
**Describe the bug**

I've started the migration to webpack@5 and from what
I can summise it seems that the compilation is able to
pretty much finish, but than it fails with following error.

By what the linked sources are about I've tried
to set `stats: false`, however nothing changed.

**What is the current behavior?**

[code]

**To Reproduce**

Hard to say really, but **I'll gladly collect and

[2020-10-11 15:24] evilebottnawi commented on #1919
Without reproducible steps hard to fix it

[2020-10-11 15:29] evilebottnawi commented on #1917
Existing help in flags should always output help information, feel free to send a fix

[2020-10-11 15:30] kubijo commented on #1919
I'm well aware that this not a good bug report and I'm ready to collect as much traces as needed, but I need something to get going.

These are the last two trace locations:

[code]

[code]

[2020-10-11 15:31] evilebottnawi commented on #1915
We should fix it, because wepack don’t know noting about env, it can be cli and node or browser, or something else

[2020-10-11 15:38] evilebottnawi commented on #1918
@webpack/cli-team high priority

[2020-10-11 15:42] evilebottnawi commented on #1916
Yes, it is on top issues for webpack-cli@4.0.1

[2020-10-11 15:42] evilebottnawi commented on #1916
@webpack/cli-team what about if we will install some packages inside generator package? It reduces side very well

[2020-10-11 15:44] evilebottnawi commented on #1919
Can you try to use it without PnP?

[2020-10-11 15:47] bahtou commented on #1843
Confirming the bug still persists on my current setup. Changing the filename `.webpack' to `.config` fixes it.

[2020-10-11 15:50] evilebottnawi commented on #1843
@anshumanv can you open a new issue in webpack-cli repo and describe workaround and we will fix the issue in near future

[2020-10-11 15:53] billyjanitsch commented on #1916
From https://github.com/webpack/webpack-cli/issues/717#issuecomment-706538959:

@evilebottnawi I appreciate your effort but it's less about the install size and more about the _number_ of installed deps, and the effects on the rest of the dependency tree. For example, jscodeshift includes almost all Babel 7 packages. When Babel 8 is released, this will cause an explosion of deps duplication in any

[2020-10-11 16:15] evilebottnawi commented on #1916
@billyjanitsch Thanks for feedback

We want to avoid this.

I think we should move out init/generator packages from webpack-cli, and install necessary deps on first run (first command run, so if you never run `webpack init` you will never have extra deps), so we keep DX for developers and reduce size of deps (and size of webpack-cli) after install. What do you think?

[2020-10-11 16:30] kubijo commented on #1919
I'm trying to… id doesn't seem to fail on the reported error, but fails differently (some errors are related to my migration to new dependencies versions, some by disabling PnP), so bare with me on this....

[2020-10-11 16:32] evilebottnawi commented on #1919
I think it is bug on our side, so I want to get better error reporting to search the problem

[2020-10-11 16:35] kubijo commented on #1919
I think so as well, but the project is pretty big, everything takes a long time & I want to first remove our bugs … so yeah, give me some time and I'll get there ;-)

[2020-10-11 16:37] kubijo commented on #1919
The compilation is VERY slow now ... but that may be related to the fact now I'm running the `production` build instead of `development` `watch` one (you already have a bug in that reported elsewhere)

[2020-10-11 16:58] evilebottnawi commented on #1915
/cc @webpack/cli-team because it is regression we should fix it asap

[2020-10-11 17:04] robertlevy commented on #1216
I'm seeing this issue in the 4.0.0 release

[2020-10-11 17:06] anshumanv commented on #1216
Hi, @robertlevy we've changed the env flag format in v4 because we changed the arg parser, new docs will be released on official site soon. Meanwhile, you can use CLI docs from this deployment - https://vercel.com/webpack-docs/webpack-js-org/e6mjiydwu

[2020-10-11 17:13] robertlevy commented on #1216
@anshumanv thanks but that link is not working for me.  could you paste a summary or working example?

[2020-10-11 17:16] anshumanv commented on #1216
@robertlevy ofcourse! You should get a good idea from this test - https://github.com/webpack/webpack-cli/blob/master/test/config/type/function-with-env/function-with-env.test.js

Let us know if you have any problems 😄

[2020-10-11 17:16] kubijo commented on #1919
Ok… so it seems the only trailing issues I have now with disabled PnP are
- the CLI output is not colored anymore
- `Module build failed (from ./node_modules/mini-css-extract-plugin/dist/loader.js): Error: Didn't get a result from child compiler`

Neither of which seem to really be related to this… so I guess that what's to do now is to wait for your linked PR to land & build again with PnP enable

[2020-10-11 17:49] evilebottnawi commented on #1919
Already in tracker

Do you use latest `mini-css-extract-plugin` version?

[2020-10-11 17:50] kubijo commented on #1919
[code]

[2020-10-11 18:03] evilebottnawi commented on #1919
@kubijo Maybe you can create reproducible test repo? `Error: Didn't get a result from child compiler` is not related to webpack-cli, I think something wrong in `mini-css-extract-plugin` configs

[2020-10-11 19:31] martinoppitz opened #1921 "Webpack CLI Package Size Explotion"
Hello, is there a reason for this mega size increasing?

![image](https://user-images.githubusercontent.com/6279703/95688246-161a6680-0c09-11eb-985d-0e7aa983aad8.png)

[2020-10-11 19:32] Romalei opened #1922 "Cannot find module 'webpack-cli/bin/config-yargs'"
**Describe the bug**

An error occurs after running the following command: `webpack-dev-server --open --config webpack.dev.js`.
[code]

**To Reproduce**

Steps to reproduce the behavior:

1. `git clone https://github.com/Romalei/snoweb`
2. `npm i`
3. `npm start`

**Expected behavior**

Dev server is up and running

**Output of `webpack-cli info`**
[code]

**Additional context**

**webpack.dev.js**

[2020-10-11 19:34] evilebottnawi commented on #1921
Duplicate https://github.com/webpack/webpack-cli/issues/1916

[2020-10-11 19:34] #1921 closed

[2020-10-11 19:35] evilebottnawi commented on #1922
https://github.com/webpack/webpack-dev-server/issues/2759

[2020-10-11 19:35] #1922 closed

[2020-10-11 19:35] evilebottnawi commented on #1922
Please use `webpack serve`

[2020-10-11 19:57] evilebottnawi commented on #1919
I think it is fixed in master, but I want more information about `mini-css-extract-plugin`

[2020-10-11 20:28] budarin commented on #1922
bu package is archived https://github.com/webpack-contrib/webpack-serve

[2020-10-11 20:31] kubijo commented on #1919
And I'll try to whip-up something in the morning... It's just that that the
project is a complex tangle and it's pretty late here...

On Sun, 11 Oct 2020, 21:57 Alexander Krasnoyarov, <notifications@github.com>
wrote:

[2020-10-11 20:39] evilebottnawi commented on #1922
`webpack serve` and `webpack-serve` is different things.
- `webpack serve` is command to run `webpack-dev-server`, you need install the latest `webpack-cli` package and put `"server": "webpack serve"` in you `package.json`
- https://github.com/webpack-contrib/webpack-serve is deprecated package, and has nothing to do with the command `webpack serve`

[2020-10-11 20:45] budarin commented on #1922
`webpack-dev-serve` cannot be replace with `webpack-serve` due to has not options for
- publicPath
- writeToDisk

:(

[2020-10-11 20:48] evilebottnawi commented on #1922
@budarin do you read my answer? Please try again, `webpack serve` is built-in sub command in webpack-cli to run `webpack-dev-server`, not `webpack-serve`

[2020-10-11 20:48] evilebottnawi commented on #1922
Follow my instruction above and try to run

[2020-10-11 20:53] budarin commented on #1922
@evilebottnawi
I dont understand:  I've used `devServer` option in `webpack.config.json` - what should I replace this option with now?

[2020-10-11 20:57] evilebottnawi commented on #1922
https://github.com/webpack/webpack-dev-server/issues/2424

No, just update `webpack-cli` to v4 and change `webpack-dev-server` on `webpack serve` in your `package.json`

[2020-10-11 21:08] Romalei commented on #1922
@evilebottnawi thanks for you answer, it works!

[2020-10-11 23:56] zatloeri opened #1923 "[Watch mode issue] Webpack watch not working with webpack-cli@4"
**Describe the bug**

When using watch mode as given in the following `webpack.config.js`:

[code]

with these dependencies for webpack:
[code]

**Webpack will not run with watch mode on.**
**But with the following deps it will run as expected:**

[code]

Also should mention that I am using:
[code]
**What is the current behavior?**

The compilation starts and finishes without any error, but it doe

[2020-10-12 04:02] rishabh3112 commented on #1923
Hi @zatloeri 👋🏻
Thanks for reporting.
Yes, I confirm this on my side as well.
Will look into the issue.

[2020-10-12 04:24] mustafawm commented on #1222
Can we have the default folder name as `webpack` instead of `.webpack`?

Webpack config is an important part of any app that uses it, so we should (IMHO) use a not-dotted folder them so they're not hidden by the OS.

[2020-10-12 04:35] rishabh3112 commented on #1916
Simple solution is to let the `init` package to not be integrated by default, that way when user runs `webpack init` first time, they will be prompted to install `init` package. That is same as what you said, installing it (and its dependencies) on first run.

[2020-10-12 04:37] anshumanv commented on #1916
Yes let's remove `init` as required dep, @rishabh3112 since you integrated it can you take care of removing it?

[2020-10-12 04:47] rishabh3112 commented on #1916
@anshumanv
I am busy for this week with university work. In meanwhile, if you want, you can go ahead. After this week, I will do it anyway.

P.S.
Just to be clear. It was not solely mine decision to integrate it by default (as prompted by your comment), was decided at roadmap by cli-team as whole. Avoid pointing fingers on individuals when working as team.

[2020-10-12 04:49] anshumanv commented on #1916
No problem, no pointing fingers, the reason to ask you is you have more context on it than me 😄

[2020-10-12 08:25] photonstorm commented on #1918
I get the same error, but I think it's worth mentioning that the watch mode does actually work. Yes, it throws that warning at the start, but it still bundles and still watches for changes correctly.

[2020-10-12 08:41] raduchiriac commented on #1918
Indeed, webpack v5 does not watch anymore if I remove `--watch` to go with `webpack --config webpack.config.js`
I use this:
[code]

With my config above the only way to go, is by adding `--watch` which I prefer not to

[2020-10-12 10:05] kubijo commented on #1919
So…
- the good one is that I've somehow managed to make a very minimal setup
- the bad one is that the error is not there :facepalm:

On with the archeology then…

[2020-10-12 10:41] evilebottnawi opened #1924 "Problems with config resolving"
I believe I have found the issue. The path needs to be relative.

This does not work: ```webpack --config webpack.config.js```

This works: ```webpack --config ./webpack.config.js```

The reason for the confusion is that it was not needed in webpack 4.

_Originally posted by @SoerenSilkjaer in https://github.com/webpack/webpack/issues/11643#issuecomment-706902767_

[2020-10-12 10:43] dillonkrug opened #1925 "config file with function doesn't work if path contains `.webpack`"
webpack config file where `module.exports`  is a function doesn't work depending on the file path.

If the config file path contains `.webpack`, the result of calling the config function is ignored.

Steps to reproduce the behavior:

[code]

[code]

This produces an error saying "`./src` cannot be resolved" because the actual config is ignored, and webpack falls back to default configuration.

**

[2020-10-12 10:48] #1222 closed

[2020-10-12 10:52] evilebottnawi commented on #1925
Please do not ignore the issue template, in future it will be closed without reply

[2020-10-12 11:22] snitin315 commented on #1918
I will fix it 👍

[2020-10-12 11:24] evilebottnawi commented on #1918
We have two problems here:
- watch without callback
- we don't respect the `watch` option from config

[2020-10-12 11:36] thealjey-eib commented on #1216
@anshumanv so, we have only two options now, either the env variable will be a boolean `true` or a value configured with `DefinePlugin`, but we cannot pass an arbitrary string from the command line?

[2020-10-12 11:39] snitin315 commented on #1216
@thealjey-eib  You can pass any arbitrary string from the command line.

[2020-10-12 11:39] thealjey-eib commented on #1216
how?

[2020-10-12 11:41] thealjey-eib commented on #1216
it used to be as simple as
`webpack --env.app=foobar --env.title=qwerty`
but now, this throws "Unknown argument" errors

[2020-10-12 11:53] #1924 closed

[2020-10-12 11:59] kubijo commented on #1919
So I've tried a watch mode to se if there will be a difference and… not sure what is the correct place, so I'll drop it here

[code]

not an improvement to say the least (I know that the watch error is aleady being fixed, but I've included it for completness)

[2020-10-12 12:00] kubijo commented on #1919
also one nitcpick… it seems that the `Compilation  finished` should have a name as well, but there are just two spaces

[2020-10-12 12:02] evilebottnawi commented on #1919
Already reported, WIP

[2020-10-12 12:12] evilebottnawi commented on #1923
WIP

[2020-10-12 12:20] Khauri opened #1928 "Unknown argument --node-args"
**Describe the bug**

Seems as if `node-args` is no longer a supported argument. If `node-args` was removed on purpose, I can't seem to find any documentation on an alternative syntax. [The docs](https://webpack.js.org/api/cli/#pass-cli-arguments-to-nodejs) seem to still mention this arg as well.

**What is the current behavior?**

Current behavior is to throw an unknown argument error whereas pre

[2020-10-12 12:22] evilebottnawi commented on #1928
Do not use `--node-args`, docs will be updated in near future

[2020-10-12 12:22] #1928 closed

[2020-10-12 12:23] evilebottnawi commented on #1928
https://nodejs.org/api/cli.html#cli_node_options_options

[2020-10-12 12:23] evilebottnawi commented on #1928
It works always

[2020-10-12 12:39] kubijo commented on #1919
@evilebottnawi … it seems to me that the problem with css must be either in `sass-loader` (last one)…

[code]

…or `css-loader` (one before `sass-loader`; normally I have a `postcss-loader` between them, but when I comment it out, the error persists)

[code]

Would you be able to assist me with this somehow?

[2020-10-12 12:41] evilebottnawi commented on #1919
@kubijo sorry, no, without full reproducible test repo I can't help

[2020-10-12 12:43] sokra commented on #1924
From the original issue it sounds like the problem only occurs with persistent caching as config filename is passed to buildDependencies. Pass the absolute filename otherwise webpack will try to resolve it relative to `context` which might not be identical to cwd.

[2020-10-12 12:45] seahindeniz opened #1929 "Unknown argument: --config-register"
**Describe the bug**

I can't register @babel/register with the following command
`webpack --config-register @babel/register`

**What is the current behavior?**

It returns following output
[code]
**To Reproduce**

Steps to reproduce the behavior:

1. Go to 'package.json' file
2. Add a new script with `"webpack --config-register @babel/register"`
3. Open the terminal and run the script
4. See the

[2020-10-12 13:00] anshumanv commented on #1216
@thealjey-eib for now yes, this is how the behaviour was restored when it was removed.

[code]
And use these variables to write conditional logic in your config, does it not cover your use case? If not, please give an example.

[2020-10-12 13:06] snitin315 commented on #1929
@seahindeniz  `webpack-cli` doesn't support `--config-register`, you can see available options & commands here https://github.com/webpack/webpack-cli/tree/master/packages/webpack-cli#supported-arguments-and-commands

[2020-10-12 13:30] fabianmarcus commented on #1216
I am used to do it this way:

[code]

Now I get `[webpack-cli] Unknown argument: --env.service=staging`.

What's the working equivalent in Webpack CLI 4.x?

When I change the syntax to your example, the properties in `env` are just booleans:

[code]

But that's not what I need.

[2020-10-12 13:43] anshumanv opened #1932 "Enhance env flag support"
**Is your feature request related to a problem? Please describe.**
`env` flag presently supports only booleans, which is not the most verbose thing to work with plus has high migration overhead as everyone is pretty much used to the old format. So we need to support at least custom string value for properties which are passed to env, something like -

`webpack --env app="test" --env title="start"`

[2020-10-12 13:46] anshumanv commented on #1216
Thanks for the examples, migration of both config and scripts to use booleans will add a considerable overhead and current format seems not the most verbose thing to work with. I've opened https://github.com/webpack/webpack-cli/issues/1932 to track it, will PR soon

Since we've migrated our arg parser to commander so `--env.name="staging" --env.service="login"` won't be possible but we can do `--e

[2020-10-12 13:56] Cronus1007 commented on #866
#1933 @anshumanv   Sir I think the linked PR would close this issue for the particular Info package.

[2020-10-12 14:02] fabianmarcus commented on #1216
Yeah, of course. Thanks!

[2020-10-12 16:08] mizchi commented on #1919
I have same problem with webpack 5.

[code]

that code is here.

[code]

I have huge size project (total size of chunks have <100MB on prod).

I doubt something wrong on `stats.toJson()` in this case.

[2020-10-12 16:11] thealjey-eib commented on #1216
@anshumanv my example is a multi-application project
I have an "applications" folder and I want to build any one one of them by name.
Maybe `env` is not ideal, I do not know, but I have not been able to find a better way to pass custom variables into `webpack.config.js`
I cannot hardcode the names of every app in `webpack.config.js`, and even if I did a boolean value is just not suitable for getti

[2020-10-12 16:13] anshumanv commented on #1216
If you have a config per application, you can use flag `--config-name` to run webpack for just that config with that name, maybe it suits your use case better, can you try using that?

[2020-10-12 16:14] thealjey-eib commented on #1216
I don't want a config per application either, because they would all be the same.
It would only complicate things.

[2020-10-12 16:14] anshumanv commented on #1216
Ah okay so you have a single config for all applications, then `env` is the way to go 👍

[2020-10-12 16:18] evilebottnawi commented on #1919
Fixed in master, hope release will be today, WIP on other issues

[2020-10-12 16:56] #1925 closed

[2020-10-12 17:08] kubijo commented on #1919
I've already burnt two days on this and I'm just not able to create a minimal repro, so I'm droping this for now as need to do something usefull for the company…

Thanks for the other fix though and I'll possibly revisit this at some point…

[2020-10-12 17:27] aleksandrlat opened #1934 "Unknown argument: -p in v4"
**Describe the bug**

Looks like argument `-p` is not supported in v4. What can be used instead?

[2020-10-12 17:30] evilebottnawi commented on #1934
`--progress`

[2020-10-12 17:30] #1934 closed

[2020-10-12 17:37] aleksandrlat commented on #1934
@evilebottnawi no `-p` was before
[code]
https://v4.webpack.js.org/api/cli/#shortcuts

Not progress for sure

[2020-10-12 17:40] evilebottnawi commented on #1934
`--mode production`

[2020-10-12 23:02] seahindeniz commented on #1929
Hmm, thank you @snitin315

[2020-10-13 10:47] LBRDan commented on #1932
Any chance of viewing this issue resolved anytime soon?

I think that should be reported on your docs (as a temporary fault on this version) as it can easily drive people nuts. It is also a huge regression (not enhancement as it's marked ATM) and it is against your own docs ( https://webpack.js.org/api/cli/#environment-options )

Please consider switch this issue type both for labels and work prio

[2020-10-13 10:50] evilebottnawi commented on #1932
No, it is OSS

You can help and send a PR

[2020-10-13 10:56] LBRDan commented on #1932
I could for sure, but i cannot change the labels nor webpack team priority neither i have the right skills to do a PR about it (i would happy to do it if i could!)

Anyway, as you avoid to reply to my comment section about it, I will then consider my thoughts accepted because hey... that's OSS spirt too :D

[2020-10-13 11:05] evilebottnawi commented on #1932
@LBRDan Because we have many issues, if you want this ASAP - send a PR

[2020-10-13 12:57] #1923 closed

[2020-10-13 14:07] snitin315 commented on #1918
@evilebottnawi fixed with #1931 ?

[2020-10-13 14:10] evilebottnawi commented on #1918
@snitin315 No, will be fixed in the near future

[2020-10-13 14:58] danoc opened #1935 "Build fails if webpack config exports an array of functions"
**Describe the bug**

`webpack-cli@4.0.0` is not able to handle a webpack config that exports an array of functions.

Take this config, for example:

[code]

It worked in `webpack-cli@^3.0.0` but fails in `4.0.0` with this error:

[code]

`webpack-cli@4.0.0` doesn't recognize the `entry` value and errors saying that it can't find `./src`, the webpack default.

**What is the current behavior?**

Fa

[2020-10-13 15:16] evilebottnawi commented on #1915
WIP

[2020-10-13 15:27] anshumanv opened #1937 "Bug: Error while resolving entry from config in .webpack folder"
**Describe the bug**

Not able to find entry file when a config present in .webpack folder is used.

**What is the current behavior?**

Not able to resolve entry properly

**To Reproduce**

https://github.com/webpack/webpack-cli/issues/1843#issuecomment-706618761

**Expected behavior**

Configs in project root or `.webpack` folder should work the same.

**Screenshots**

**Please paste the results

[2020-10-13 15:29] evilebottnawi commented on #1937
@anshumanv I think it is fixed in master

[2020-10-13 15:44] anshumanv commented on #1937
tried a while ago on master, still exists 😞
![image](https://user-images.githubusercontent.com/21009455/95883835-ffa31500-0d98-11eb-93e0-17f873459243.png)

[2020-10-13 16:08] maximmasterr opened #1938 "Output is not colored when build with not one target"
**Describe the bug**
When have more than one target like here
https://webpack.js.org/configuration/configuration-types/#exporting-multiple-configurations
Output is not colored

Reproduce gist:
https://gist.github.com/maximmasterr/796a6a9f0d86fd2b9f88efba9e0ea9ca

**What is the current behavior?**

In version 3 output of multiple target build was colored, now not

**To Reproduce**

1. Use multiple

[2020-10-13 16:19] evilebottnawi commented on #1938
Already reported, please use search before posting the issue

[2020-10-13 16:36] captainCoolMJ commented on #1932
If you're looking for a quick snippet to get some env parsing back, you should be able to do something like:

[code]

That should help to bring some of the key/value parsing back

[code]

Hope that helps!

[2020-10-13 17:44] anshumanv commented on #1932
Thanks for all the input everyone, https://github.com/webpack/webpack-cli/pull/1939 should fix it and should land in the next release, hopefully soon :)

[2020-10-13 20:23] Bhavik-Ardeshna commented on #1917
@snitin315 Hey I need to work on this issu

[2020-10-13 20:24] Bhavik-Ardeshna commented on #1917
And also can I join webpack community in telegram or discord , link?

[2020-10-13 22:53] snitin315 commented on #1917
@Bhavik-Ardeshna feel free to send a PR.

[2020-10-13 23:54] doberkofler opened #1942 "[webpack-cli 4.0.0] Unknown argument: --env.source=src/examples/*"
# Bug report

After migrating to webpack cli 4.0.0 i get the following error:
[code]

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

`npx webpack --progress --env.source="src/examples/*"`

**What is the expected behavior?**

**Other relevant information:**
webpack version:  5.0.0
Node.js version: 14.13.0
Operating System: macOS 10.1

[2020-10-14 06:06] Bhavik-Ardeshna commented on #1917
I want to join the community server if possible to learn new things ...

On Wed, Oct 14, 2020, 4:24 AM Nitin Kumar <notifications@github.com> wrote:

[2020-10-14 06:25] snitin315 commented on #1917
https://gitter.im/webpack/webpack

[2020-10-14 06:34] Bhavik-Ardeshna commented on #1917
thnx

On Wed, Oct 14, 2020, 11:55 AM Nitin Kumar <notifications@github.com> wrote:

[2020-10-14 09:03] anshumanv commented on #1942
This format is no longer supported in v4, we're working to enhance it here - https://github.com/webpack/webpack-cli/pull/1939

Duplicate of https://github.com/webpack/webpack-cli/issues/1932

[2020-10-14 10:46] #1942 closed

[2020-10-14 10:53] ym-project opened #1943 "nodejs 13.0-13.6 and colorette dependency"
**Describe the bug**

nodejs 13.0-13.6 has a bug. If any package has ESM support (exports key in package.json) nodejs catches an error
[code]
webpack-cli has a dependency [colorette](https://github.com/jorgebucaran/colorette). This dependency break a building because of it has an esm support ([issue](https://github.com/jorgebucaran/colorette/issues/48#issuecomment-654669713)).

**To Reproduce**

I

[2020-10-14 10:56] evilebottnawi commented on #1943
Do not use `node@13.0-13.6`, because it is broken and it is not lts version

[2020-10-14 10:56] #1943 closed

[2020-10-14 13:44] #1815 closed

[2020-10-14 14:17] #1915 closed

[2020-10-14 15:50] evilebottnawi commented on #1935
WIP

[2020-10-14 19:49] ryanclark commented on #1937
I've just cloned the example repo locally and regardless of the folder being named `.webpack` or `.config`, I don't get the error seen with the latest `webpack-cli@master` (albeit not released on NPM yet)

I do however see a different error now that seems to be related to `mini-css-extract-plugin`. Will take a look.

![image](https://user-images.githubusercontent.com/7922109/96038277-ccc35480-0e5e

[2020-10-14 19:59] evilebottnawi commented on #1937
@ryanclark Can you send tests to ensure we will not have regressions in future

[2020-10-14 20:05] ryanclark commented on #1937
Sure thing @evilebottnawi I'm just trying to figure out what the original issue was, and what the current issue they currently have with `mini-css-extract-plugin`

I'm not sure if the error is down to the plugin because if I remove the `.css` import, I get the same error with `html-webpack-plugin`. Both are on their latest versions.

![image](https://user-images.githubusercontent.com/7922109/96039

[2020-10-14 20:06] evilebottnawi commented on #1937
Two version of webpack

[2020-10-14 20:09] ryanclark commented on #1937
I only see

[code]

and multiple versions of the `@types/webpack`

`yarn why webpack` also only shows one version

![image](https://user-images.githubusercontent.com/7922109/96040012-80c5df00-0e61-11eb-9522-f777639a5b92.png)

[2020-10-14 20:14] evilebottnawi commented on #1937
Please look at lock file, this problem appears only when you have two webpack versions

[2020-10-14 20:34] ryanclark commented on #1937
Can confirm, the issue laid with my setup.

Updating to `webpack@5.1.0` and using the latest `webpack-cli@master` make the example repo compile fine for me.

[2020-10-14 21:46] #1935 closed

[2020-10-15 03:12] codeGun123 opened #1948 "Error: Cannot find module 'webpack-cli/bin/config-yargs'"
If you upgrade webpack to 5. *, and webpack cli to 4. *, an error will be reported:

`Error: Cannot find module 'webpack-cli/bin/config-yargs'
`

Temporary solution:
Back off webpack cli to version 3. * for example:

` "webpack-cli": "^ 3.3.12"`

[2020-10-15 06:22] cat2koban commented on #1948
Is it an event similar to this?
https://github.com/webpack/webpack-dev-server/issues/2759

[2020-10-15 06:50] codeGun123 commented on #1948
Yes, thank you. It has been solved. My configuration is as follows:

[code]

[2020-10-15 11:17] #1948 closed

[2020-10-15 11:17] evilebottnawi commented on #1948
Please use search before creating issues

[2020-10-15 11:17] evilebottnawi commented on #1948
Pinned

[2020-10-15 11:44] evilebottnawi commented on #887
Bump, I think fixed, need tests

[2020-10-15 12:01] francescocaveglia commented on #1919
Thanks for the fix @evilebottnawi ! Will be released soon?

[2020-10-15 12:04] evilebottnawi commented on #1919
@francescocaveglia yes, today/tomorrow

[2020-10-15 13:14] predaking commented on #1948
I want to say, that webpack-cli removed yargs package from version4.0.0 but existed in version3.3.12, so if someone want to use webpack-dev-server and its hot refresh, he can revert  to v3.3.12, I'm sure it will be ok, not related to  versions of webpack or webpack-dev-server.But I don't know why the author removed yargs package.

[2020-10-15 15:32] evilebottnawi commented on #1463
bump

[2020-10-15 17:36] #1916 closed

[2020-10-15 17:37] evilebottnawi commented on #1916
init is no installed by default, some deps were removed, we will continue to reduce our deps

[2020-10-16 03:54] LP1994 opened #1954 "Error: No such label 'emitAssets' for WebpackLogger.timeEnd()"
**Describe the bug**
[webpack-cli] Uncaught exception: Error: No such label 'emitAssets' for WebpackLogger.timeEnd()
[webpack-cli] Error: No such label 'emitAssets' for WebpackLogger.timeEnd()

**What is the current behavior?**
[webpack-cli] Uncaught exception: Error: No such label 'emitAssets' for WebpackLogger.timeEnd()
[webpack-cli] Error: No such label 'emitAssets' for WebpackLogger.timeEnd()

[2020-10-16 06:09] Jack-Works opened #1955 "Multiple config + devServer + different HMR options don't work"
**Describe the bug**

I try to use 2 configs that one uses HMR and the other one doesn't. It doesn't work.

**To Reproduce**

[code]

[code]

Run `webpack serve`

**Expected**: The dist/b.js don't have HMR related code

**Actual**: It has

[2020-10-16 09:32] Cronus1007 opened #1957 "Enhancement of the Code Structure"
**Describe the Bug**
The main workspace of the packages folder consist of the interfaces and stand alone functions i.e they lack the cohesion principle.
This issue is to list down the enhancement of the Code Structure.
**What is the Current Behaviour ?**
Wrapping down the interconnected interfaces and functions in a Class and explicitly exporting the function.

**Additional Context**
I have some i

[2020-10-16 11:06] evilebottnawi commented on #1957
@Cronus1007 please describe your problem

[2020-10-16 12:27] Cronus1007 commented on #1957
Sir actually the Code Structure is lacking the cohesion principle of the Classes i.e. The functions generated in the packages folder
which are explicitly exported are stand alone functions but they also have dependencies on the Interfaces. So it would be better to wrap them up in a class and then exporting the functions. In this way,our code will be much more manageable.

[2020-10-16 12:28] Cronus1007 commented on #1957
Sir let me send a PR realted to this issue.

[2020-10-16 12:31] anshumanv commented on #1957
I don't think wrapping in a class is a good idea, need to keep code minimal. Also, I don't get how this will help in managing the code.

Please discuss your approach before PR so nobody uses up their time unnecessarily.

[2020-10-16 12:41] Cronus1007 commented on #1957
Okk sir.

[2020-10-16 12:46] Cronus1007 commented on #1957
@anshumanv  Sir have a look #1933

[2020-10-16 14:07] #1932 closed

[2020-10-16 15:38] evilebottnawi commented on #1937
Fixed in master, tests added in previously PR

[2020-10-16 15:38] #1937 closed

[2020-10-16 16:33] evilebottnawi commented on #1918
Some problems on webpack side with new API, we are working on it, so I will do release with other fixes, but it will be fixed tomorrow with patch release

[2020-10-16 16:46] topocount commented on #1955
I've also found this to be true with the `inline: false` config. before upgrading to v4, webpack wouldn't attempt to inject the client (HMR/ auto-refresh) code into files and now it's attempting to do so. The upshot of this is that SSR files don't have the ability handle this code.

[2020-10-16 16:53] evilebottnawi commented on #1955
`inline` was removed in the next version, don't use it, **never**

[2020-10-16 17:00] topocount commented on #1955
@evilebottnawi Thanks, good to know. I don't see this reflected in the docs (v4 or v5) yet, though

[2020-10-17 15:10] lorenzodallavecchia opened #1965 "Unknown argument: --plugin"
**Describe the bug**

The `--plugin` option is no longer recognized. I suspect that it has been renamed/moved, but I cannot find migration information anywhere.
I'm trying to migrate one of our tools to webpack 5 and therefore supporting the new CLI. The tool needs to dynamicallyl inject a plugin in a webpack execution: I cannot just add it to the configuration file.

**What is the current behavio

[2020-10-17 15:19] evilebottnawi commented on #1965
No `--plugin` support anymore, it was removed

[2020-10-17 18:20] vkings1 opened #1966 "webpack 5.1.3 [DEP_WEBPACK_WATCH_WITHOUT_CALLBACK] DeprecationWarning"
![Screenshot from 2020-10-18 02-16-06](https://user-images.githubusercontent.com/22137536/96350435-68b3c100-10e8-11eb-99bf-7e59e0e4e8c2.png)

(node:31189) [DEP_WEBPACK_WATCH_WITHOUT_CALLBACK] DeprecationWarning: A 'callback' argument need to be provided to the 'webpack(options, callback)' function when the 'watch' option is set. There is no way to handle the 'watch' option without a callback.
(nod

[2020-10-18 06:47] gimmi commented on #1918
Same problem for me when trying to upgrade to `webpack@5.1.3` and `webpack-cli@4.0.0`

[2020-10-18 07:39] evolopment commented on #1216
The documentation still has the old format, I've just had the same problem for following the docs:
https://webpack.js.org/guides/environment-variables/

[2020-10-18 07:54] oreporan commented on #737
is there any update on this release? still happens in the latest webpack-cli

[2020-10-18 08:00] chenxsan commented on #1216
@evolopment Maybe you can help fixing it :) Here's the source page https://github.com/webpack/webpack.js.org/blob/master/src/content/guides/environment-variables.md to edit.

[2020-10-18 08:37] evolopment commented on #1216
PR sent. Thanks.

[2020-10-18 17:00] bradtgmurray commented on #1966
Dupe of #1918 ?

[2020-10-19 02:53] SevenOutman opened #1967 "[v4] --color flag not working well with webpack 4"
**Describe the bug**

I'm using `webpack-cli@4.0.0` with `webpack@4.44.2`. Running `webpack --progress --color` command does not output colorful log but plain text with no colors.

However, `webpack serve` outputs with color normally.

**Screenshots**

![image](https://user-images.githubusercontent.com/8225666/96396102-eebf2d00-11f8-11eb-972b-d8f0ef215882.png)

**Please paste the results of `webpa

[2020-10-19 03:10] anshumanv commented on #1967
Hi, it was a bug in CLI which is fixed here - https://github.com/webpack/webpack-cli/pull/1944

Should be out in the next release :)

[2020-10-19 05:24] coderaiser opened #1968 "Webpack 5 migration codemods"
Errors provided by `webpack v5` is very useful, but would be much better to process `webpack.config.js` using codemods, for this purpose I started working on plugin [@putout/plugin-webpack](https://github.com/coderaiser/putout/tree/master/packages/plugin-webpack) for code transformer [putout](https://github.com/coderaiser/putout).

Right now it handles two kinds of errors:
- Exclamation mark separ

[2020-10-19 06:49] lorenzodallavecchia commented on #1965
I see... IMO these breakages should have been reported more clearly in a changelog.
Anyway, I have found another way to hack a plugin into the process, so it's fine for me.
Thank you.

[2020-10-19 06:49] #1965 closed

[2020-10-19 11:50] #1967 closed

[2020-10-19 11:50] evilebottnawi commented on #1967
Fixed in master, release will be today

[2020-10-19 11:56] evilebottnawi commented on #1966
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2020-10-19 11:56] #1966 closed

[2020-10-19 12:07] evilebottnawi commented on #1918
@gimmi why need to spam it? I've always tried to figure it out, but I can't, can you explain it to me?

[2020-10-19 12:07] evilebottnawi commented on #737
Ешвфн

[2020-10-19 12:39] evilebottnawi commented on #1918
Just note, this is unnecessary using `--watch` and `watch: true` together, just remove `watch: true` from the config

[2020-10-19 12:40] evilebottnawi commented on #1955
Expected, you have `hot: false` and `injectHot: false` for the second config, so no HMR for this

[2020-10-19 12:46] wintercounter opened #1969 "webpack-cli cannot see @webpack-cli/serve from global install"
**Describe the bug**

We are using a global tool that is able to share development environments across hundreds of projects/repositories to avoid spamming the developers machine and to make sure the environments are always synchronized. I tried an update to Webpack 5 and trying to move to `webpack serve` and running the command will try to search for `@webpack-cli/serve` in local node_modules only

[2020-10-19 12:49] evilebottnawi commented on #1969
Thanks for the issue

[2020-10-19 12:49] evilebottnawi commented on #1919
I want to close this issue, because original problem was solved, anyway @kubijo Can you provide more information to help your migration?

[2020-10-19 12:49] #1919 closed

[2020-10-19 13:43] Glinkis opened #1970 "Updating from 3.3.12 to 4.0.0 breaks our production deployment"
After upgrading from `3.3.12` to `4.0.0`, we get **404** for our index.html page.
We're using [serve](https://www.npmjs.com/package/serve) inside a docker container to serve our app in production.
If I do a local build, and run `serve`, everything works as expected.

Our dockerfile looks like this:
[code]

The `"serve"` script is `"serve": "serve -l 8080 -c ../serve.json",`

And the serve config l

[2020-10-19 13:50] Jack-Works commented on #1955
@evilebottnawi hi please read again. my expectation is that has no HMR for the second config, but it _has_

[2020-10-19 13:51] evilebottnawi commented on #1970
Sorry don't know, I don't know what your configuration mean, for running serve you need write `webpack serve`, we never support `json` config in this format

[2020-10-19 13:51] evilebottnawi commented on #1955
My mistake

[2020-10-19 14:17] #1969 closed

[2020-10-19 15:17] Glinkis commented on #1970
I wrote that we're using the `serve` package, not webpack serve. If you're going to answer, please read the full description.

[2020-10-19 15:28] evilebottnawi commented on #1970
Sorry, `serve` is not related to webpack-cli, so I don't know why it does not work, if you want to help, please use the issue template and describe your problems,  `Updating from 3.3.12 to 4.0.0 breaks our production deployment` is not help to solve your problem

[2020-10-19 15:40] Glinkis commented on #1970
I thought I described my problem quite thoroughly. I'm not sure what else to add?

[2020-10-19 15:44] evilebottnawi commented on #1970
@Glinkis please create minimum reproducible test repo, I don't know what your Docker file do

[2020-10-20 04:14] #1957 closed

[2020-10-20 09:58] Glinkis commented on #1970
It seems my issue was that the `--env` flag was changed in version 4. So I fixed it by following the advice in #1216

[2020-10-20 10:04] #1970 closed

[2020-10-20 14:08] #1929 closed

[2020-10-20 14:35] evilebottnawi commented on #1261
Need focus on this after refactoring

[2020-10-20 23:01] bahtou commented on #1843
confirming that this is working for my configuration as expected
[code]

[2020-10-21 07:09] cranphin commented on #1216
Can there be some easy to find simple fix for this? A lot of people are going to be running into this now, I read the comments and I'm still not sure what the exact fix is

[2020-10-21 08:40] JulianMar commented on #1154
Does anyone actually know all the breaking changes, as far as I can tell there are alot.

I just tried to migrate to v4 but my setup isn't working anymore. My command is now outputing the name always as `main.js` instead of `output.js`.
[code]

This is huge change and should be documented somewhere :)

[2020-10-21 09:17] snitin315 commented on #1216
@cranphin see https://github.com/webpack/webpack-cli/pull/1939 for new `--env` format.

[2020-10-21 09:26] snitin315 commented on #1154
@JulianMar now `-o` is an alias for `--output-path` and `--module-bind` is not supported anymore. As per my understanding, your command should be updated as -

`webpack /assets/js/integration.js --output-path /static/js --output-filename output.js --mode development`

[2020-10-21 09:47] JulianMar commented on #1154
Thanks for the quick reply, if I do it like you suggested. I get the following error

[code]

[2020-10-21 10:48] evilebottnawi commented on #1843
@bahtou you don't need `@webpack-cli/serve`

[2020-10-21 11:13] #1917 closed

[2020-10-21 12:54] bensampaio opened #1973 "The WEBPACK_DEV_SERVER environment variable is not set when running "webpack serve""
**Describe the bug**

Running webpack via `webpack-dev-server` used to expose an environment variable that allowed you to determine if the application is being served by the dev server. This was quite useful on a React app since you could use this variable to determine when to hydrate the first rendering (SSR) or when to render the full application on first render.

Unfortunately this behaviour is

[2020-10-21 19:00] jakebailey commented on #1918
I hit this with the latest versions of everything and I don't have `watch: true` set, so I don't think this config option being duplicated is the whole story.

[2020-10-21 19:04] evilebottnawi commented on #1918
@jakebailey Can you provide link on example of problem, removing `watch: true` should help

[2020-10-21 19:07] jakebailey commented on #1918
I haven't yet pushed the changes to my project to grab 4.1.0 quite yet (holding back dep updates for a release, but will likely do it soon), but the config that it'd be is here: https://github.com/microsoft/pyright/blob/master/packages/vscode-pyright/webpack.config.js

Where the task just runs `webpack --mode development --watch --progress`.

[2020-10-21 19:09] evilebottnawi commented on #1918
@jakebailey Very strange, should be no problems

[2020-10-21 20:01] jasonwilliams commented on #1918
I agree with @jakebailey i don’t have watch: true in my config and I still get this, if I can put together a reproducible build I will. But it’s happening here https://github.com/styled-components/vscode-styled-components

[2020-10-21 20:05] jasonwilliams commented on #1918
I have this with this project https://github.com/styled-components/vscode-styled-components/blob/master/package.json and we don’t have `watch: true` set

[2020-10-21 20:30] lewisharveydeveloper opened #1974 "Serve command not passing webpack `devServer` config to webpack-dev-server"
reopening https://github.com/webpack/webpack-cli/issues/1469

here are my dev dependencies:
[code]

my dev server details:

`  devServer: {
    contentBase: path.join(__dirname, 'dist'),
    compress: true,
    port: 9000
  }`

Command:
`"start": "webpack serve --config ./webpack.config.js --mode development",`

**What is the current behavior?**

[code]
The first change i make reloads, any after t

[2020-10-21 20:32] evilebottnawi commented on #1974
Closing https://github.com/webpack/webpack-cli/issues/1469#issuecomment-698267343

[2020-10-21 20:33] evilebottnawi commented on #1974
No need open an issue without additional information, I can't fix something somewhere

[2020-10-21 20:36] lewisharveydeveloper commented on #1974
@evilebottnawi Sorry i accidentally submitted. Please reopen and see details

[2020-10-21 20:38] evilebottnawi commented on #1974
@lewisharveydeveloper Please create reproducible test repo, can't reproduce locally

[2020-10-21 20:39] lewisharveydeveloper commented on #1974
@evilebottnawi https://github.com/lewisharveydeveloper/scaling-todo-app

[2020-10-21 20:45] evilebottnawi commented on #1974
@lewisharveydeveloper you need to set `target: 'web'`, we are working on fixes

[2020-10-21 20:45] tkurki commented on #1918
I just created https://gist.github.com/tkurki/5627039d52ca0248648ed383294f57f6 and with that I get the DeprecationWarning running `npx --watch`. Install gave me 4.1.0.

[2020-10-21 20:47] chadleong commented on #1918
I am running webpack 5.1.3 and webpack-cli 4.1.0 with

`"dev": "webpack --mode development --watch ./src/frontend/src/index.js -o ./src/frontend/static/frontend/"`

Still get the same [DEP_WEBPACK_WATCH_WITHOUT_CALLBACK]  error

[2020-10-21 20:48] lewisharveydeveloper commented on #1974
@evilebottnawi set target to web and pushed changes to my shared repo. no change

[2020-10-21 20:50] evilebottnawi commented on #1974
You need `hot: true` also

[2020-10-21 20:52] lewisharveydeveloper commented on #1974
Thanks for quick responses,
set hot to true but no change unfortunately.

[2020-10-21 20:53] evilebottnawi commented on #1974
I will look at the problem tmorrow

[2020-10-21 20:53] lewisharveydeveloper commented on #1974
@evilebottnawi Thank you :)

[2020-10-22 07:25] piecyk commented on #1918
Had a quick look and removing `watch: true`  from config will not help as `--watch ` is still propagated to options

https://github.com/webpack/webpack/blob/master/lib/webpack.js#L140

Looks like we would need to refactor how the webpack-cli handles complier ( have some wip already but would require https://github.com/webpack/webpack/pull/11784 )

[2020-10-22 10:13] evilebottnawi commented on #1918
@piecyk Can you clarify?

[2020-10-22 10:29] piecyk commented on #1918
@evilebottnawi on which part ?

webpack-cli creates compiler via https://github.com/webpack/webpack-cli/blob/master/packages/webpack-cli/lib/webpack-cli.js#L219

Using `--watch` will set {watch: true} on `this.compilerConfiguration` that we pass as `option` to webpack. On webpack side we create compiler without callback that's why it logs a warning at https://github.com/webpack/webpack/blob/master

[2020-10-22 10:46] evilebottnawi commented on #1918
We should fix it

Also we can remove `watch: true` from config when you run `webpack --watch` with warnings message

[2020-10-22 11:09] piecyk commented on #1918
Yes i agree. But should the fix be to remove `watch` from options what are passed to webpack? Maybe `options.watch` used in some internal logic. Imho we should fix it without patching options.

Don't follow this, but having `watch: true` in config and running with `--watch` should not change anything.

[2020-10-22 11:11] evilebottnawi commented on #1918
No, having `watch: true` in config means to start watching at once, but we need more logic here, `compiler.watch()` === `{ watch: true }`

[2020-10-22 14:18] piecyk commented on #1918
@evilebottnawi I was thinking about something like this https://github.com/webpack/webpack-cli/compare/master...piecyk:fix-watch

Almost all test pass, only still need to check analyze-flag.test.js, and one in cache-flags.test.js.

Also there is error code change, as webpack is wrapping with try catch and not propagating errors https://github.com/webpack/webpack/blob/master/lib/webpack.js#L135 the

[2020-10-22 14:26] evilebottnawi commented on #1918
@piecyk bad fix, with breaking changes

[2020-10-22 14:27] evilebottnawi commented on #1918
But idea is good, I will look at this in near future

[2020-10-22 15:09] evilebottnawi commented on #1918
@piecyk Yes, can you send a PR (don't use fork) and I will finish your work

[2020-10-22 18:01] tcrossland opened #1976 "webpack serve does not respect configuration for supplied mode"
According to the documentation [here](https://webpack.js.org/api/cli/#default-configurations), when `--mode development`is specified, the config file `webpack.config.dev.js` should take precedence over `webpack.config.prod.js`. However, configuration is actually loaded from both files, with production configuration overriding development configuration.

**What is the current behavior?**

configura

[2020-10-22 18:03] evilebottnawi commented on #1976
How `serve` related to the problem?

[2020-10-22 18:04] evilebottnawi commented on #1976
And I can't reproduce, please provide more steps

[2020-10-22 20:02] tcrossland commented on #1976
Sorry for the delay, I've put together a fairly simple example:

https://github.com/tcrossland/webpack-serve-issue

Maybe the issue is actually with webpack-dev-server?

[2020-10-22 20:05] evilebottnawi commented on #1976
I will look at this in near future

[2020-10-22 21:44] slightlyfaulty opened #1978 "HMR not working with multiple entries"
- Operating System: Linux
- Node Version: 14.14.0
- NPM Version: 6.14.7
- webpack Version: 5.2.0
- webpack-dev-server Version: 3.11.0
- Browser: Google Chrome

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

https://github.com/slightlyfaulty/webpack-hmr-multi-entry-repro

### Expected Behavior

After starting the dev server, hot module replacement should work for all JS

[2020-10-22 21:46] evilebottnawi commented on #900
Fixed, but with a lot of bugs :disappointed:

[2020-10-22 21:46] #900 closed

[2020-10-22 22:03] slightlyfaulty commented on #1978
Upon further testing, it seems that HMR only works for the last loaded JS bundle on the page. HMR will not work for any JS bundle loaded before it. The order of the entries in `webpack.config.js` does not matter.

[2020-10-23 01:21] fregante opened #1980 "webpack-cli@4 exits with 0 even when failing"
# Bug report

`$ webpack` should exit with a non-0 code when it finds an error in `webpack.config.js`

**What is the current behavior?**

`$ webpack` exits with `0` even if it throws a fatal error:

<img width="237" alt="" src="https://user-images.githubusercontent.com/1402241/96945484-834cb800-14a3-11eb-8eb1-0605f5eb9d4d.png">

**If the current behavior is a bug, please provide the steps to repro

[2020-10-23 07:23] tcrossland commented on #1976
This might be a documentation issue. The following works:

`webpack serve --config webpack.config.dev.js`

But this does not:

`webpack --mode development serve`

[2020-10-23 09:09] snitin315 commented on #1976
Does this work `webpack serve --mode development` ?

[2020-10-23 10:04] hpachy commented on #1602
Hello,

I would like to know is a solution is currently available... I started webpack yesterday to improve and have more control on my application. This bug make me puzzled about it's because in the webpack tutorial a lot of manipulation use webpack-dev-server.

Hopefully it's a good place to ask my question.

Regards

[2020-10-23 10:57] evilebottnawi commented on #1602
@hpachy Can you provide links?

[2020-10-23 11:07] hpachy commented on #1602
for example this one :

-https://webpack.js.org/guides/development/
-https://webpack.js.org/guides/build-performance/ (compile memory)
-https://webpack.js.org/guides/development-vagrant/
-https://webpack.js.org/guides/hot-module-replacement/ (webpack-dev-server --hotOnly)

for now I stoped here but I'm still following the tutorial, it's maybe my bad but I tried it and it's not working / not fixed

[2020-10-23 11:23] evilebottnawi commented on #1980
@fregante Can you create reproducible test repo, i think fixed in master

[2020-10-23 11:25] evilebottnawi commented on #1602
Big thanks, WIP on docs

[2020-10-23 11:49] fregante commented on #1980
@evilebottnawi it's https://github.com/fregante/webpack-issue-11789

The repro is in GitHub Action

[2020-10-23 11:54] Roang-zero1 opened #1982 "Regression: socket option for serve is ignored"
**Describe the bug**

If using the socket option while using the webpack serve command, it is ignored and default parameters (localhost:8000) are used.

This is a regression of https://github.com/webpack/webpack-cli/commit/4668ea78e125a698e0988ead30c82bec0f9bb8e3 caused by https://github.com/webpack/webpack-cli/commit/2cdf5ce159f63ac65b33f4aca4c82fa1e959fef5

**What is the current behavior?**

web

[2020-10-23 12:15] evilebottnawi commented on #1602
@hpachy PR was sent

[2020-10-23 12:16] evilebottnawi commented on #1982
https://github.com/webpack/webpack-dev-server/issues/2787#issuecomment-715305922

[2020-10-23 12:16] #1982 closed

[2020-10-23 12:17] evilebottnawi commented on #1982
https://github.com/webpack/webpack.js.org/pull/4091

[2020-10-23 13:18] hpachy commented on #1602
your welcome it's been a pleasure!

[2020-10-23 16:18] dmurvihill commented on #1222
`--dev` and `--prod` are nice, but since `--env` has been removed what do you suggest for projects that have more than two configurations (for instance, I need `--staging`)

[2020-10-23 16:20] anshumanv commented on #1222
Hi @dmurvihill, we added `env` back since it was requested by quite a lot of folks.

You can do `--env environment=staging` and read it in your config

`const { environment } = env`

[2020-10-24 15:55] #1980 closed

[2020-10-24 17:58] keyrox commented on #1967
Was it released? Still having the same issue.

[2020-10-24 18:20] evilebottnawi commented on #1967
You should not use `color` option, it was removed

[2020-10-24 18:47] keyrox commented on #1967
I am using:
[code]

And even without the `color` flag, it still doesn't show any colour.
When downgrading to "webpack-cli":"3.3.12" everything shows up with colours as usual.

[2020-10-24 18:50] evilebottnawi commented on #1967
please create reproducible test repo, it was fixed in 4.1.0

[2020-10-25 07:12] tcrossland commented on #1976
No, the mode is ignored too.

[2020-10-25 08:49] vaxiobbxx opened #1983 "npm issues"
when running 'webpack' and i install webpack cli from 'npm install -D' it errors with:
[code]

To reproduce:
Install webpack using:
npm i webpack --save-dev
then run 'webpack'
try to install webpack-cli on the command 'webpack'
errors on npm install

[2020-10-25 19:48] Zeesy commented on #1185
Also in the Udemy course, MacOS 10.14. With @ danlafreniere's suggestion to update, I'm still unable to run `npm run dev` and am receiving new error messages. Specifically:

[code]
Log attached here 🤷‍♂️

[2020-10-25T19_40_31_636Z-debug.log](https://github.com/webpack/webpack-cli/files/5435817/2020-10-25T19_40_31_636Z-debug.log)

[2020-10-26 02:18] FishOrBear commented on #1948
[code]

Error:
[code]

[2020-10-26 03:06] anshumanv commented on #1948
@FishOrBear command is `webpack serve`

[2020-10-26 04:53] Jack-Works commented on #1955
I have workaround this problem by providing a function to `injectHot` and `injectClient`. But still hope this can be resolved.

[2020-10-26 10:41] JonWallsten opened #1985 "Uncaught exception: TypeError: callbacks is not iterable"
**Describe the bug**

I've just upgraded from v4 to v5 and have stumbled upon this error:
[code]
According to the source code it assumes that it can only be and `array` or `undefined` even though `false` is set in the code itself.
It might be a another bug causing the `false`, but it should be handled, right?

![image](https://user-images.githubusercontent.com/5993909/97162175-1d9c4c80-177f-11eb-9

[2020-10-26 10:46] evilebottnawi commented on #1985
Something wrong with loader, it is not problem with webpack-cli, please provide reproducible test repo

[2020-10-26 10:54] evilebottnawi commented on #1983
Please open an issue in npm repo

[2020-10-26 10:54] #1983 closed

[2020-10-26 11:12] JonWallsten commented on #1985
@evilebottnawi : I see, then it's probably something wrong with Angular's tooling I use `@ngtools/webpack` and I saw some references to an Angular module while debugging. Not sure where to begin though. Care to explain why it's set to false and why false should not be handled by the code? So I can explain in the bug report to Angular? Thanks!

[2020-10-26 11:20] evilebottnawi commented on #1985
Because `false` means nothing was found, and other plugins can do additional search

Yes

If you provide reproducible test repo I can search where it happens

[2020-10-26 11:50] JonWallsten commented on #1985
Sure. Give me a few hours to set it up.

[2020-10-26 18:42] JonWallsten commented on #1985
@evilebottnawi: I've created a repo now by removing most of our code but leaving the structure. One thing that differ though is that in my repro the web-lib-core library is completely missing `__webpack_require__` for some reason. That is not happening in our app right now. So to get to the real problem I need help with understandning why this is happening.
Close this repo:
https://github.com/JonW

[2020-10-26 19:00] evilebottnawi commented on #1985
Thanks, I will look at this in near future, sorry a lot of issue after webpack@5, we are working on it

[2020-10-26 19:06] JonWallsten commented on #1985
No stress! I'm just trying to stay ahead. We don't have to upgrade any time soon.

[2020-10-27 13:55] superheri opened #1986 "historyApiFallback not doing rewrites in webpack 5"
- Operating System: Windows 10
- Node Version: 12.18.4
- NPM Version: 6.14.6
- webpack Version: 5.2.0
- webpack-dev-server Version: 3.11.0
- Browser: Google Chrome 86.0.4240.111

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

### Expected Behavior

I expect this to actually return me to `a/index.html` when I do whatever url starting with `a/`.
I expect the same

[2020-10-27 14:22] thisVioletHydra commented on #1918
[code]

[2020-10-27 16:27] evilebottnawi commented on #1986
/cc @piecyk Maybe you have time to help me, a lot of issue and very few time :disappointed:

[2020-10-27 19:29] piecyk commented on #1986
@eavichay yes, will check it.

[2020-10-28 05:32] andersk opened #1990 "--config-name fails for a function returning an array of configurations"
When `webpack.config.js` exports a function returning an array of named configurations, `webpack --config-name=NAME` can’t find them. It incorrectly complains `[webpack-cli] Configuration with name "NAME" was not found.`

[code]

It works for a function returning a single configuration:

[code]

or for an array that’s not wrapped in a function:

[code]

[2020-10-28 07:09] snitin315 commented on #1990
@andersk thanks for reporting. I'm looking into it.

[2020-10-28 08:54] GP4cK opened #1991 "--optimization-node-env has no effect"
I'm trying to have 2 commands to build my project, one for dev and one for prod

In my `webpack.config.js`, I'm using process.env.NODE_ENV to add some options related to the dev server if in dev mode:

[code]

In my `package.json`:
[code]

**What is the current behavior?**

When I run `npm run build:dev`, the process.env.NODE_ENV is undefined

**Expected behavior**

I was expecting to have NODE_EN

[2020-10-28 09:04] hpachy opened #1992 "[webpack-cli] TypeError: Cannot read property 'javascript' of undefined"
**Describe the bug**

I'm facing annoying bug I finished to setup a basic webpack config, I would like to minify the ts code so I used terser to do it but webpack-cli throw

I'm a bit confused should I use uglify or an other plugin to minify the ts code or is that possible to do it with terser ?
Look it terser can't read ts code maybe possible to translate the ts code to js to be minify after :/

[2020-10-28 09:39] piecyk commented on #1986
Problem here is that the `publicPath: '/'` is not pass in options to dev server. If publicPath is included in v4 then the rewrites works as in v3.

having this configuration in v3 we pass dev server as options

[code]

but in v4 we pass

[code]

Wondering how to resolve this as there are more difference like missing stats, plus liveReload, serveIndex, inline true by default

[2020-10-28 09:53] evilebottnawi commented on #1992
Because terser-webpack-plugin has compatibility with only webpack@5, please read changelog before updating

[2020-10-28 09:53] #1992 closed

[2020-10-28 10:23] evilebottnawi commented on #1986
yes `publicPath` will be works for v4 as for v3

[2020-10-28 11:23] snitin315 commented on #1489
bump

[2020-10-28 12:35] piecyk commented on #1986
@superheri if you add `publicPath` to devServer in config then it will work as in v3

[code]

[2020-10-28 12:37] evilebottnawi commented on #1985
@JonWallsten How I can reproduce it? I have only warnings and deprecation messages

[2020-10-28 12:43] evilebottnawi commented on #1986
@piecyk Oh, yes, I see, thanks

@superheri webpack@5 have `publicPah: 'auto'` by default, it was breaking change

[2020-10-28 12:44] JonWallsten commented on #1985
@evilebottnawi I'm unable to reproduce it in the stripped repo. Can only do it in our real repo. Will try do add some more stuff to the repro so we can reproduce it.

[2020-10-28 12:50] superheri commented on #1986
Just to be sure all I need to do is add the publicPath to '/'? If yes, I think the documentation should at least be updated to reflect the new default value since it is still shown as '/' by default on the documentation website https://webpack.js.org/configuration/dev-server/#devserverpublicpath-
![image](https://user-images.githubusercontent.com/30275781/97437863-747a6100-18fa-11eb-83cd-3589f599b

[2020-10-28 12:52] evilebottnawi commented on #1986
Found a bugs:
- docs are invalid, it should be `auto`
- webpack-dev-middleware@3 doesn't respect `publicPath: 'auto'`, but it is fixed for `v4` release will be today (we need couple days for updating it in webpack-dev-server)

[2020-10-28 13:39] piecyk commented on #1991
I think you should use `mode` like `webpack --mode=development`

https://webpack.js.org/configuration/mode/

[2020-10-28 14:32] snitin315 commented on #1991
As per https://github.com/webpack/webpack/blob/68ffb153badc08efc50ddf43d904e2868fc442f3/test/__snapshots__/Cli.test.js.snap#L1513-L1523

`--optimization-node-env` should do the job. Sounds like a bug, I will look into it in near future.

[2020-10-28 15:04] Stanzilla opened #1993 "Error: Unable to use specified module loaders for ".ts"."
**Describe the bug**

Hey there, just updated to wp-cli 4.1 an webpack 5.3 and getting the following error

**What is the current behavior?**

[code]

**To Reproduce**

My config:

[code]

Steps to reproduce the behavior:

1. webpack --mode development

**Expected behavior**

functioning build

**Screenshots**

**Please paste the results of `webpack-cli info` here, and mention other relevant infor

[2020-10-28 15:08] evilebottnawi commented on #1993
You need to install something from:
[code]

[2020-10-28 15:10] evilebottnawi commented on #1993
But I think we should improve the error message

[2020-10-28 16:02] Stanzilla commented on #1993
It was ts-node indeed, but yeah, error message needs improvements :)

[2020-10-28 16:11] anshumanv commented on #1993
will do, this err is coming from interpreting so maybe we can throw our own err if required packages are missing

[2020-10-28 16:18] Stanzilla commented on #1993
Thank you!

[2020-10-28 18:41] dclowd9901 opened #1995 "Dedicated section to "breaking changes" in 4.0.0 release notes"
**Is your feature request related to a problem? Please describe.**

The real problem is I unfortunately don't have enough time to comb in great detail through release docs to figure out what will stop working with a module update (one of dozens that our application has).

**Describe the solution you'd like**

For major updates, it would be helpful if there was a section in the release notes dedica

[2020-10-29 11:17] evilebottnawi commented on #1995
PR welcome

[2020-10-29 12:24] anshumanv commented on #1089
bump

[2020-10-29 15:00] evilebottnawi commented on #1974
No problems, works fine

[2020-10-29 15:01] evilebottnawi commented on #1974
![Screenshot from 2020-10-29 18-00-59](https://user-images.githubusercontent.com/4567934/97591514-beee0180-1a10-11eb-9b8c-149faa6bc7c7.png)

[2020-10-29 15:35] chenxsan opened #2001 "error: option '--open <value>' argument missing"
As per the request here https://github.com/webpack/webpack.js.org/pull/4099#issuecomment-718825131.

**Describe the bug**

`webpack serve --open` throws an error:

[code]

**What is the current behavior?**

**To Reproduce**

Steps to reproduce the behavior:

1. `git clone https://github.com/chenxsan/webpack-demo`
2. `git checkout 8ffd9d229ce344fb4b595e4045aee7b074be16cc`
3.  `npm install`
4. `npm

[2020-10-29 15:49] snitin315 commented on #2001
Thanks for the report. I will look into it in near future.

[2020-10-29 17:18] dclowd9901 commented on #1995
Is that supposed to be sarcasm or a joke? How am I supposed to know better than the contributors what constitutes a breaking change? If I _could_ have done this, I would have, believe me.

[2020-10-29 17:22] evilebottnawi commented on #1995
The main problem - some contributions made a lot of wrong releases and rewrite everything so much that now it's hard for me to say what has changed, unfortunately I would have done it too if I could

[2020-10-29 18:03] dclowd9901 commented on #1995
I appreciate the honesty. Best wishes.

[2020-10-29 18:03] #1995 closed

[2020-10-29 18:34] sacummings91 commented on #1948
@evilebottnawi I've looked through a few of these issues and am a bit confused. Is using `webpack serve` instead of `webpack-dev-server` a temporary workaround or is this going to be the new way to start webpack dev server?

[2020-10-29 19:40] tx-steven commented on #1974
@evilebottnawi is `target: 'web'` a temporary solution? I'm seeing that this problem might be fixed in #1469 but it doesn't look like those changes are published in a new version yet.

[2020-10-29 20:00] lewisharveydeveloper commented on #1974
@evilebottnawi i made a new folder and pulled my repo.
I ran` npm install`, and then `npm run.`
I still have the same problem, the first refresh works but no subsequent ones.

[2020-10-30 01:46] soulofmischief commented on #1993
I am getting this exact issue for `.babel.js` files, it says I'm missing `@babel/register` but it's present in my `node_modules`.

[code]

Any idea what could be causing this? It just started happening out of nowhere and none of my package versions have changed. I've reverted the project to its last known good state and still get this error.

[2020-10-30 07:45] anshumanv commented on #839
bump

[2020-10-30 10:03] anshumanv commented on #803
Core already does the schema validation of the config passed, do we need this?
/cc @evilebottnawi

[2020-10-30 10:08] evilebottnawi commented on #803
I think test command will be great, it is very easy to implement

[2020-10-30 10:10] snitin315 commented on #803
something like `webpack --test-config webpack.config.js` ?

[2020-10-30 10:28] evilebottnawi commented on #803
no, it should be command

[2020-10-30 10:28] evilebottnawi commented on #803
webpack test ./webpack.config.js

[2020-10-30 10:40] evilebottnawi commented on #758
I think we can close it, because we have tests for webpack@4 and webpack@5

[2020-10-30 10:40] #758 closed

[2020-10-30 10:50] evilebottnawi commented on #1993
You don't have `@babel/register` in node_modules no magic here

[2020-10-30 13:50] webharry commented on #2001
I have the same problem.

My version information is：
[code]

[2020-10-30 14:18] evilebottnawi commented on #1974
@tx-steven Yes, ` target: 'web'` is a temporary solution

@lewisharveydeveloper still can't reproduce, all works fine

[2020-10-30 14:20] evilebottnawi commented on #1974
I want to close because I can't reproduce, there is not magic with new `webpack serve`, feel free to feedback

[2020-10-30 14:20] #1974 closed

[2020-10-30 14:22] evilebottnawi commented on #1974
In original repo it doesn't work, because you have resolving problems, so webpack can't init HMR, problems with code === problems with HMR, nothing to do here