[2021-07-21 20:28] #2771 closed

[2021-07-21 20:28] alexander-akait commented on #2408
We need:
-  add supports for multiple dev server
- supports `devServer: false` to disable dev server

[2021-07-22 07:25] sandeshsoni opened #2846 "[webpack-cli] Error: Prevent writing to file that only differs in casing or query string from already written file. This will lead to a race-condition and corrupted files on case-insensitive file systems."
**Describe the bug**

I get an error message saying app.js file is twice but I do not see it.

 node -v v16.5.0

**What is the current behavior?**
It gives this error message.
I had upgraded packages and also upgaded webpack as I was getting some messages.

**To Reproduce**

npm run deploy

Steps to reproduce the behavior:

**Expected behavior**
npm run deploy must be successful.

**Screenshots**

[2021-07-22 07:26] sandeshsoni commented on #2846
webpack config

[code]

[2021-07-22 11:13] alexander-akait commented on #2846
Please read the error message:

This will lead to a race-condition and corrupted files on case-insensitive file systems.

You have the same assets with different content, i.e. twi `app.js`, one from `copy-webpack-plugin` due `'../priv/static/'` and second from webpack itself, you copy old js using `copy-webpack-plugin` file and generate the new using webpack, sorry we can't fix it here.

[2021-07-22 11:13] #2846 closed

[2021-07-23 00:31] schema0708 opened #2850 "Webpack Dev Server not reloading on Save"
**Describe the bug**
Webpack dev server is not reloading on save.

**What is the current behavior?**
When saving my changes nothing happens on save.

**To Reproduce**
Nothing happens when saving
Steps to reproduce the behavior:

**Expected behavior**
Should reload when saving changes

**Screenshots**
<img width="1792" alt="Screen Shot 2021-07-22 at 5 27 17 PM" src="https://user-images.githubuserco

[2021-07-23 01:59] #2850 closed

[2021-07-24 18:04] jamesgeorge007 commented on #2832
Hi @rishabh3112, I'd love to join forces. Can I take up Svelte?

[2021-07-27 13:16] alexander-akait commented on #2832
Yes, feel free to send any PR

[2021-07-28 06:32] rishabh3112 commented on #2832
@jamesgeorge007 sure, thank you for helping out! Sorry for late reply, was busy with other stuffs and I missed this issue some how.

[2021-07-31 08:01] olizilla opened #2864 "TypeError loading webpack.config.js in ESM project with node v16.6"
I think this change https://github.com/nodejs/node/pull/39175 in node 16.6 means the webpack.config.js is loading is broken for ESM projects.

Our CI started failing once node 16.6 got rolled out with:

[code]

Setting `WEBPACK_CLI_FORCE_LOAD_ESM_CONFIG=true` fixed it, but it seems like a workaround.

see: https://github.com/webpack/webpack-cli/blob/a660ffcbeb2807bce1554f787297e697464abd59/package

[2021-07-31 08:02] olizilla commented on #2864
reported in: https://github.com/nodejs/node/commit/e2a6399be742f53103474d9fc1e56fadf7f90ccc#r54198959

add your +1 on this comment to vote to fast track the fix https://github.com/nodejs/node/pull/39593#issuecomment-890049715

[2021-07-31 08:03] olizilla commented on #2864
it's already landed! Noice!

[2021-08-01 15:03] keenwon opened #2873 "parallelism not work"
# Bug report

**What is the current behavior?**

https://webpack.docschina.org/configuration/configuration-types/#parallelism

parallelism does not work

**If the current behavior is a bug, please provide the steps to reproduce.**

index.js

[code]

webpack.config.js

[code]

output:

[code]

**What is the expected behavior?**

**Other relevant information:**
webpack version:  5.47.1
Node.js versi

[2021-08-02 13:02] alexander-akait commented on #2864
Fixed in Node.js

[2021-08-02 13:02] #2864 closed

[2021-08-03 13:38] alexander-akait commented on #2873
WIP on fix

[2021-08-05 16:57] #2873 closed

[2021-08-05 17:01] alexander-akait commented on #2803
Let's close, please create custom plugin for this, we already print `compiled success` or compiled with errors/compiler with warning, it is enough for 99% cases, I don't see good reasons add it by default

[2021-08-05 17:01] #2803 closed

[2021-08-13 10:51] kaysonwu commented on #2737
I also have this need. When my `webpack` configure the export function, I want to pass parameters through cli.

[2021-08-13 10:56] kaysonwu commented on #2737
@alexander-akait  I don't think the unknown custom options will cause trouble for the new options of `webpack`, because the person who provides the unknown definition options has the obligation to deal with it.

[2021-08-13 11:46] anshumanv commented on #2737
You can use `env` flag to achieve this

[2021-08-13 11:47] anshumanv commented on #2737
https://webpack.js.org/api/cli/#env

[2021-08-16 10:45] vanbasten17 opened #2894 "serve command suddenly stopped working (due to recent version bump?)"
**Describe the bug**

I assume that after bumping @webpack-cli/serve to 1.5.2 something has been broken, as after adding the following in my package.json, webpack serves correctly as expected.
[code]
**What is the current behavior?**

Webpack fails to build on serve.
[code]
**To Reproduce**

Steps to reproduce the behavior:

I have just done a clean install of one of my projects using the serve co

[2021-08-16 10:58] alexander-akait commented on #2894
Remove `@webpack-cli/serve`, you should not use this directly

[2021-08-16 10:59] alexander-akait commented on #2894
The problem can be due invalid usage of API, we have a lot of integration test, example https://github.com/webpack/webpack-dev-server/pull/3649 and no problems with webpack v4 and webpack v5

[2021-08-16 11:01] alexander-akait commented on #2894
And please always clarify steps:

Which projects? How you run dev server? What is versions?

[2021-08-16 11:18] vanbasten17 commented on #2894
The project I'm trying to run is a monorepo project, that has all the webpack configuration in one of their dependencies `node_modules/@botonic/dx/botonic-app-config/` (as you can see here, in the root's package json of this we don't have @webpack-cli/serve specified, so we are not using it directly. To try it, run the following command:
`yarn create botonic-app test` (after installation, cd into

[2021-08-16 11:21] alexander-akait commented on #2894
Please update `4.0.0-beta.3` to `4.0.0-rc.0`, it is expected, because `4.0.0-beta.3` is not stable

[2021-08-16 11:50] vanbasten17 commented on #2894
Thanks a lot @alexander-akait ! It worked 😊

[2021-08-16 11:50] #2894 closed

[2021-08-16 12:33] timoaudi opened #2895 "Error: Cannot find module '@webpack-cli/serve/lib/startDevServer'"
**Describe the bug**

Since the release of webpack-cli 4.8.0 we get the error below.

**What is the current behavior?**

When running the CLI we get:
[code]

**Reason**

When `@webpack-cli/serve@1.5.2` was upgraded from 1.5.1 `startDevServer.ts` was deleted which is why the file is not found: https://github.com/webpack/webpack-cli/compare/@webpack-cli/serve@1.5.1...@webpack-cli/serve@1.5.2

[2021-08-16 12:35] alexander-akait commented on #2895
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please fill out all fields, I can't help you, I will reopen when you do it.

Also check `@webpack-cli/serve` should not be installed directly

[2021-08-16 12:35] #2895 closed

[2021-08-17 13:38] jaipresto commented on #2895
Hey @alexander-akait . You've introduced a breaking change in a fix. Is it documented somewhere that @webpack-cli/serve should not be installed directly?

[2021-08-17 14:29] jaipresto commented on #2895
There is not multiple versions installed. We were using `@webpack-cli/serve/lib/startDevServer` directly.

[2021-08-17 14:32] alexander-akait commented on #2895
You should not use `@webpack-cli/serve/lib/startDevServer` directly, it is internal

[2021-08-17 14:43] jaipresto commented on #2895
I think what you are saying is that I should not install `@webpack-cli/serve` directly but I can install `@webpack-cli/serve ` directly but I should not use `@webpack-cli/serve/lib/startDevServer ` directly.

[2021-08-17 14:50] alexander-akait commented on #2895
We don't have public API for usage, so using something from `@webpack-cli/serve/path/to/file` is not safe and never was safe

[2021-08-17 15:22] pgonzaleznetwork opened #2899 "Documentation for cli serve command options is missing"
# Bug report

**What is the current behavior?**

The webpack docs for the cli `serve` command options are missing. Here's the link to the main page

https://webpack.js.org/configuration/dev-server/#usage-via-cli

Which reads

_A list of CLI options for serve is available here_

When you click on "here", it redirects to this page https://github.com/webpack/webpack-cli/blob/master/SERVE-OPTIONS.md

[2021-08-17 16:40] chillyistkult commented on #2894
Does not work for me, even older previously working builds from today and yesterday are not working anymore which is very weird.

[2021-08-17 16:47] alexander-akait commented on #2894
Sorry information is not enough to help you

[2021-08-18 07:12] LechLee opened #2902 "configuration has an unknown property '_assetEmittingPreviousFiles'"
**Describe the bug**

Hi, im hitting 'configuration has an unknown property '_assetEmittingPreviousFiles' when running webpack serve

**What is the current behavior?**

I suspect the issue is with **@webpack-cli/serve** version 1.5.2
as i have reverted to version 1.5.1 at package-lock.json and is working fine

**To Reproduce**
package.json:
`
{
  "name": "webpack",
  "version": "1.0.0",
  "descrip

[2021-08-18 07:29] snitin315 commented on #2902
Please try with `webpack-dev-server@4.0.0-rc.1` and webpack-cli 4.8.0

[2021-08-18 08:00] LechLee commented on #2902
This is working

[2021-08-18 08:00] #2902 closed

[2021-08-19 10:45] echarles commented on #2902
This is working also for me. Thx!

[2021-08-21 21:29] maksimr opened #2909 "Option --allowed-hosts all incorrectly parsed that lead to ignoring it by Server"
STR:
- `node@v14.15.3`
-  Install webpack-dev-server`npm install --save-dev webpack webpack-dev-server webpack-cli @webpack-cli/serve`
- Run `webpack serve --mode development --allowed-hosts all`

ER:  `allowedHosts: 'all'`
AR: `allowedHosts: ['all']`

This lead to [ignoring this option by Server](https://github.com/webpack/webpack-dev-server/blob/master/lib/Server.js#L1516-L1518)

And visual erro

[2021-08-22 06:13] anshumanv commented on #2909
You don't need `@webpack-cli/serve` in your deps can you try removing that and try? we normalize the option [https://github.com/webpack/webpack-dev-server/blob/f563d1d13eed75744cca2911878352581afa6a03/lib/Server.js#L198](https://github.com/webpack/webpack-dev-server/blob/f563d1d13eed75744cca2911878352581afa6a03/lib/Server.js#L198) so it shouldn't have been \`\['all'\]\`

[2021-08-22 06:55] maksimr commented on #2909
@anshumanv result the same without serve as dep.  normalize in Server.js normalize string to array but here we have a case when `allowedHosts` passed as array with string  only one string`all` and server expect that `all` would not be in the array.

This option converted to array here - https://github.com/webpack/webpack-cli/blob/master/packages/webpack-cli/lib/webpack-cli.js#L317
And set to passe

[2021-08-22 07:02] anshumanv commented on #2909
Thanks for the investigation, yep it's an issue

I'll fix it :crossed\_fingers:

[2021-08-22 07:09] anshumanv commented on #2909
I've done a potential fix [here](https://github.com/webpack/webpack-dev-server/pull/3720), I'll wait for feedback from @alexander-akait to validate the fix and then get it merged :+1:

[2021-08-23 16:59] #2909 closed

[2021-08-24 08:18] fregante opened #2916 "TypeError [ERR_UNKNOWN_FILE_EXTENSION]: Unknown file extension ".ts" for ./webpack.config.ts"
**Describe the bug**

Webpack is unable to read Webpack’s config file in TypeScript **if `type` is `module`.**  This is basically a duplicate of

- https://github.com/webpack/webpack-cli/issues/2458

which reportedly has been fixed by

- https://github.com/webpack/webpack-cli/pull/2584

but it fails with the exact test config included in that PR.

**What is the current behavior?**

[code]

**To Re

[2021-08-24 08:22] fregante commented on #2916
Repro and output (`webpack.log`) is also available at: https://github.com/fregante/webpack-sandbox/tree/main/ts-node-esm

[2021-08-24 10:10] alexander-akait commented on #2916
It was anwered here https://github.com/webpack/webpack-cli/issues/2458#issuecomment-811448600, we can't fix it on our side

[2021-08-24 10:28] fregante commented on #2916
Can you catch the error and display a possible solution?

https://twitter.com/fregante/status/1407043890562179075

[2021-08-24 10:30] alexander-akait commented on #2916
Maybe wrong link?

[2021-08-24 10:32] fregante commented on #2916
Correct link, I was showing what a good error looks like, which this isn't:

[code]

[2021-08-24 10:37] fregante commented on #2916
As ESM packages become more popular, it's only time before more people encounter issues related to them. Google brought me to a StackOverflow answer that was "remove `type:module`" and the Webpack-specific search showed a mind-boggling _three_ results.

<img width="741" alt="Screen Shot" src="https://user-images.githubusercontent.com/1402241/130602390-57c98e1d-8a5e-4d70-bb3e-aea6f55208ac.png">

[2021-08-24 10:46] alexander-akait commented on #2916
But we should the real error and why it happens, nothing to say more here, it should be fixed on `ts-node`

[2021-08-24 10:48] alexander-akait commented on #2916
Here right solution:
[code]

[2021-08-24 10:51] alexander-akait commented on #2916
Only one thing valid here, we can add this to docs

[2021-08-24 10:55] alexander-akait commented on #2916
/cc @snitin315 @anshumanv We should improve our docs for ECMA modules and typescript ECMA modules output:
1. node --loader ts-node/esm node_modules/.bin/webpack-cli --entry ./index.js --mode production
2. NODE_OPTIONS="--loader ts-node/esm" npx webpack-cli --entry ./index.js --mode production (simplify)

[2021-08-24 10:58] snitin315 commented on #2916
I will document it 👍🏻

[2021-08-24 10:58] fregante commented on #2916
I like the second one, without `npx`

[2021-08-24 22:51] AprilArcus opened #2918 "filesystem cache corruption on SIGINT"
If webpack-cli is terminated by SIGINT while writing to the filesystem cache (e.g. in watch mode during an incremental rebuild of a project with large external source maps), the filesystem cache will be corrupted and must be erased before webpack will build again.

webpack-cli should [hook `SIGINT`](https://nodejs.org/api/process.html#process_signal_events) and await a clean exit from [compiler.cl

[2021-08-25 10:05] alexander-akait commented on #2918
/cc @webpack/cli-team should be easy, we should add listener before running webpack and run `close` when `SIGINT` happens

[2021-08-25 10:10] snitin315 commented on #2918
I will fix it.

[2021-08-25 10:35] snitin315 commented on #2918
It should be added here, right?

https://github.com/webpack/webpack-cli/blob/master/packages/webpack-cli/lib/webpack-cli.js#L2057

[code]

[2021-08-25 10:36] alexander-akait commented on #2918
Here https://github.com/webpack/webpack-cli/blob/master/packages/webpack-cli/lib/webpack-cli.js#L2029

[2021-08-25 10:37] alexander-akait commented on #2918
Here https://github.com/webpack/webpack-cli/blob/master/packages/webpack-cli/lib/webpack-cli.js#L2122 and also here https://github.com/webpack/webpack-cli/blob/master/packages/webpack-cli/lib/webpack-cli.js#L2135

[2021-08-26 11:59] chenxsan opened #2920 "Show `--no-devtool` tip for `--devtool false`"
**Is your feature request related to a problem? Please describe.**

So it's my first time using the `--devtool` from the command line, I just want to disable it with a `false` value which is valid according to webpack's schema, so I just pass a `false` to `--devtool`:

[code]
Now I got this error:

[code]
Which is sort of misleading since `devtool` option can accept a `false` value. The problem he

[2021-08-27 17:47] codyebberson opened #2922 "Cannot find sibling packages when using npm workspaces"
_(Probably low priority, but documenting for anyone else who encounters it)_

When using [npm workspaces](https://docs.npmjs.com/cli/v7/using-npm/workspaces), `webpack-cli` does not recognize when sibling projects are not equally hoisted.

For example:
[code]

Current behavior: The output of `webpack serve` is:

[code]

Expected behavior:  `webpack serve` recognizes the folder structure and is abl

[2021-08-30 11:59] alexander-akait commented on #2920
Make sense to output this for all boolean values when `false` is provided

[2021-08-30 12:00] alexander-akait commented on #2922
Please open an issue in `npm`, we use `require`/`import()`, no magic here

[2021-08-30 12:00] alexander-akait commented on #2922
oh, my mistake, I see the problem

[2021-09-06 04:45] rishabh3112 commented on #2922
`process.cwd()` seems to be a valid assumption on first glance. Will work on to fix this.

[2021-09-06 22:37] mices opened #2934 "Is this included in webpack?"
When I run yarn add webpack does this automatically get installed

[2021-09-07 00:56] snitin315 commented on #2934
No you need to install both seperately.
`yarn add webpack webpack-cli`

[2021-09-07 00:56] #2934 closed

[2021-09-08 04:55] chenxsan commented on #2920
I'm closing this feature request now as it's much complex than I expected.

Generally I think we can coerce `'false'` to `false` for use cases like `--devtool false`, e.g.,

![](https://user-images.githubusercontent.com/1091472/132440641-398b1a47-50ee-49a3-a465-131a26ac4001.png)

However, if we are going to accept a pattern like `--devtool false`, then `--amd false` or `--bail false` should work a

[2021-09-08 07:21] snitin315 commented on #2920
Let's keep it open in case someone wants to tackle it in the future. Also, I think for now we can show the tip alongside the error.

[2021-09-08 10:36] alexander-akait commented on #2920
To be honesty I think it is standard for CLI using `--foo` and `--no-foo` for `true`/`false` values, yes `--foo false` is string, so I think it can be closed, better to docs if somebody has problems with understanding, let's close

[2021-09-10 13:29] volkanunsal commented on #191
I'm also running into this issue.

[2021-09-10 13:37] alexander-akait commented on #191
What is the error?

[2021-09-10 13:39] volkanunsal commented on #191
This happens when I use `npx webpack init`. I worked around it by doing `./node_modules/bin/webpack init`.

[2021-09-10 13:45] alexander-akait opened #2944 "This happens when I use `npx webpack init`. I worked around it by doing `./node_modules/bin/webpack init`."
This happens when I use `npx webpack init`. I worked around it by doing `./node_modules/bin/webpack init`.

_Originally posted by @volkanunsal in https://github.com/webpack/webpack-cli/issues/191#issuecomment-916912387_

[2021-09-10 13:45] alexander-akait commented on #2944
Just run `npx webpack init` on new package

[2021-09-13 07:28] Mint-6263 commented on #617
Ok:blush:

[2021-09-13 07:28] Mint-6263 commented on #617
@evenstensberg

[2021-09-14 19:28] Download commented on #1069
Please re-open. My [beta 19 of `ulog`](https://github.com/Download/ulog/releases/tag/2.0.0-beta.19) exhibits this issue and AFAICT it started with my upgrade to latest of Webpack and Webpack CLI.

Please check https://ulog.js.org/tutorial in IE11.

[2021-09-14 19:29] Download commented on #1069
Not using Babel BTW if that helps.

[2021-09-15 14:08] wernert opened #2952 "webpack-cli init does not find webpack"
**Describe the bug**

webpack-cli does not find installed webpack

**What is the current behavior?**

**To Reproduce**

Steps to reproduce the behavior:
make a new folder
_npm init_ + accept defaults
_npx webpack-cli init_

![image](https://user-images.githubusercontent.com/4059844/133448072-14ff9111-89fd-4a09-a112-9004c49182b2.png)

Also after multiple runs where webpack is clearly installed from

[2021-09-15 14:10] alexander-akait commented on #2952
Duplicate https://github.com/webpack/webpack-cli/issues/2944

[2021-09-15 14:10] #2952 closed

[2021-09-15 17:25] alexander-akait commented on #2922
@codyebberson What is place where you run `webpack serve`?

[2021-09-15 19:05] codyebberson commented on #2922
@alexander-akait In the example above, it would be in `packages/project2`.

Using `process.cwd()` should fix that case, but might break the opposite case (i.e., from the root directory, running `npm run dev --workspace packages/project2`).

[2021-09-15 19:19] alexander-akait commented on #2922
@codyebberson

expected, even `require`/`import` will not work with this, you need move all deps on top level and install each webpack-dev-server/webpack-cli/webpack in each package

Example:

**node_modules/package/index.js**

[code]

`another-package` should be in `node_modules`, not in `packages/project2/node_modules/another-package`

[2021-09-15 19:29] codyebberson commented on #2922
Yes, as mentioned, that is what I did, and it solved the problem.  The "fix" to this might simply be documentation.

My reason for filing the bug was that I received the error message "For using 'serve' command you need to install: 'webpack-dev-server' package", even though I already had `webpack-dev-server` installed in that project.  That's confusing.

This option is more tricky.  In my specific

[2021-09-16 11:00] alexander-akait commented on #2922
@codyebberson

But this logic emulate `require`/`import`, I want to say it works as expected

[2021-09-18 19:48] kibertoad opened #2955 "Migrate to new API in Colorette 2.0.x"
Currently webpack-cli relies on modifying global state, which potentially results in affecting other parts of the code that might rely on Colorette as well.

**Describe the solution you'd like**

https://github.com/jorgebucaran/colorette/issues/70

**Additional context**

You can see how we migrated pino-pretty to a new API here: https://github.com/pinojs/pino-pretty/pull/230

[2021-09-18 19:51] alexander-akait commented on #2955
PR welcome, should not be hard to migrate

[2021-09-18 19:53] kibertoad commented on #2955
On it.

[2021-09-20 13:10] alexander-akait commented on #2922
Tested right now:
- `npm run serve --workspace packages/project2` works fine (`"serve": "webpack server"` on `package.json`)
- go to `packages/project2` and run `npm run serve` works fine (`"serve": "webpack server"` on `package.json`)
- go to `packages/project2` and run `webpack serve` works fine (`"serve": "webpack server"` on `package.json`)

npm doesn't install deps on package level, they are

[2021-09-20 13:10] #2922 closed

[2021-09-20 15:40] alexander-akait commented on #2944
@webpack/cli-team we need to rename `@webpack-cli/init` to `create-webpack-app` package, also it should work without `webpack-cli` itself, i.e. we should move `commander` and other API inside `create-webpack-app` package also fix docs everywhere, because `npx webpack init` and `npx webpack-cli` doesn't work

[2021-09-20 15:43] anshumanv commented on #2944
On it

[2021-09-21 13:00] ai commented on #2955
If you do not want to add `createColors` call (`colorette` new API requires this call, exports like `red` do not have color auto-detection anymore) you can use [`nanocolors`](https://github.com/ai/nanocolors).

The same 0 dependencies, same `colorette 1.x` API, better loading time ([benchmark](https://github.com/ai/nanocolors#benchmarks)). `nanocolors` will be used in PostCSS, Autoprefixer, and Br

[2021-09-21 13:10] alexander-akait commented on #2955
Yep, sounds good too

[2021-09-21 13:11] ai commented on #2955
I can prepare PR tomorrow to compare code changes

[2021-09-25 10:48] Pranay365 opened #2967 "devServerFlags missing in webpack-dev-server."
**Describe the bug**

 I have a build script in my package.json file to server my front-end with webpack-dev-server.
"scripts": {  "build": "webpack serve --open" }
  When I run the npm run build command it throws the error devServerFlags is not iterable in the file webpack-cli/bin/serve. Actually the "devServerFlags" is not present in webpack-dev-server/bin/cli-flags. So the require('webpack-dev-

[2021-09-25 10:49] #2967 closed

[2021-09-26 00:51] Beyarz commented on #2272
Tried this, got the following error:
`TypeError: Class constructor ServeCommand cannot be invoked without 'new'`

[2021-09-26 21:00] eng-dibo commented on #1622
I got this error with `webpack -c weback.config.ts`

[code]

[2021-09-28 08:03] snitin315 commented on #986
Bump

[2021-09-28 21:44] Slava96 opened #2973 "Unknown --env option on Webpack 5 and Webpack-cli 4"
I am using webpack from Gradle build on my Kotlin multiplatform project. When I try to run it as part of my build, my webpack task failed with error.
Before I am using Webpack version 4.44.1, Node version 12.16.1, webpack-cli 3.3.12

`
[webpack-cli] Error: Unknown option '--env ENV=LOCAL '
[webpack-cli] Run 'webpack --help' to see available commands and options
`
I found webpack command that perfo

[2021-09-28 23:39] snitin315 commented on #2973
--env works for me. Please provide a repo to reproduce the error. Also try installing tge latest version of webpack-cli and webpack-dev-server.

[2021-09-29 15:10] Slava96 commented on #2973
https://github.com/Slava96/kmm-test
I have this repository

[2021-09-30 13:58] alexander-akait commented on #2973
Invalid usage https://github.com/Slava96/kmm-test/blob/master/build.gradle.kts#L114, separate it

[2021-09-30 13:58] #2973 closed

[2021-09-30 14:29] jasperkuperus commented on #2967
If you happen to walk into this error like I did, you've probably updated your `webpack-dev-server` dependency and forgot to update your `webpack-cli` dependency. Updating `webpack-cli` as well solved this for me.

[2021-10-01 08:32] Slava96 commented on #2973
Don't understand. Separate it?

[2021-10-01 09:33] alexander-akait commented on #2973
Yes, each argument should be separately, error message - `--env ENV=LOCAL ` say about it

[2021-10-01 16:39] #2955 closed

[2021-10-03 10:54] joetidee opened #2981 "Invalid options object. Dev Server has been initialized using an options object that does not match the API schema."
**Describe the bug**
I am running this command:
`webpack-dev-server --hot --config webpack.dev.config.js --color`

and getting this error:

[code]

webpack.dev.config.js:
[code]

Packages used:
"webpack": "^4.41.2",
"webpack-cli": "^4.8.0",
"webpack-dev-server": "^4.3.0",

`watchOptions` is defined in the webpack v4 spec, so why is this error being thrown?

[2021-10-03 23:36] snitin315 commented on #2981
Please read the migration guide at https://github.com/webpack/webpack-dev-server/blob/master/migration-v4.md

[2021-10-03 23:36] #2981 closed

[2021-10-05 15:01] rushikeshadhav commented on #2778
Hey, Can I contribute. I would really love to contribute. This will be my first contribution to this project.
I need some beginner friendly issues to contribute to. It would be really great if I can.
Thank you.

[2021-10-06 07:14] snitin315 commented on #1838
Bump

[2021-10-06 21:23] alexander-akait commented on #2944
Still valid

[2021-10-07 03:42] beaucollins commented on #2922
In fact, `webpack info` finds the `webpack-dev-server` just fine.

[code]

`webpack-cli` shouldn't try to implement it's own special algorithm for resolving packages.

[2021-10-07 04:15] jtoar opened #2990 "Unable to load '@webpack-cli/serve' command"
**Describe the bug**

RedwoodJS's dev server uses `webpack-dev-server` under the hood. It broke as soon as `@webpack-cli/serve` `v1.6` was released.

Redwood users start the dev server with `yarn rw dev`. It runs this command:

[code]

Which resolves to something like:

[code]

Our webpack development config can be found here; it's merged with our `webpack.common.js`, so I've included it as well:

[2021-10-07 08:37] clandsky commented on #2990
Hi, i get a similar issue when i run browserDevelopmentRun target via gradle, which calls @webpack-cli/serve. I was tinkering around with KotlinJs.
Seems, that 1.6.0 broke the build. Until then, everything worked fine for me.

`[webpack-cli] Unable to load '@webpack-cli/serve' command
[webpack-cli] TypeError: options.forEach is not a function
[webpack-cli] TypeError: options.forEach is not a funct

[2021-10-07 10:34] alexander-akait commented on #2990
Anyway feel free to feedback

[2021-10-07 11:23] Artur- commented on #2990
Surely you cannot be saying that it is OK that 4.8.0 stops working because 4.9.0 is available?

[2021-10-08 11:28] sexta13 opened #2993 "cli/serve stopped working after update from 1.5.2 to 1.6.0"
**Describe the bug**

After last update of cli/serve to 1.6.0, I get this error when running `yarn start` command:

[code]

If I revert in yarn.lock to version 1.5.2 I don't get this error.

**To Reproduce**

Steps to reproduce the behavior:
This is what I have in package.json:
[code]
yarn.lock for cli/serve looks like this:
[code]

**Expected behavior**

The expected behavior is that the webpack

[2021-10-08 11:29] alexander-akait commented on #2993
Duplicate https://github.com/webpack/webpack-cli/issues/2990

[2021-10-08 11:29] #2993 closed

[2021-10-08 11:30] sexta13 commented on #2993
ups, sorry. I did a search but somehow that one missed me. Thanks

[2021-10-09 19:44] alexander-akait commented on #2990
Sorry for delay, will have time tomorrow, top on my TODO

[2021-10-11 11:30] Alexstoppel commented on #2990
Any update on this, especially for V.5.58?

[2021-10-14 20:27] damdeez commented on #2990
☝️ same here

[2021-10-17 13:51] keenwon opened #3005 "Error while loading config - Invalid host defined options"
# Bug report

**What is the current behavior?**

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

https://github.com/keenwon/test

[code]

**What is the expected behavior?**

**Other relevant information:**
webpack version:  5.58.2
Node.js version: 14.18.1
Operating System: Linux keenwon-pc 5.4.72-microsoft-standard-WSL2 webpack/webpack#1 SMP Wed Oct 28 23:40:4

[2021-10-17 13:53] alexander-akait commented on #3005
@webpack/cli-team we need remove `v8-compile-cache`, because `import()` is broken, it decrease perf on initial start for some projects, but unfortunately we have no choice - or we supports ESM and `import()` and decrease perf on initial start or we don't supports ESM

[2021-10-17 14:18] anshumanv commented on #3005
I'll remove it :+1:

[2021-10-17 14:22] anshumanv commented on #3005
Or we can use `DISABLE_V8_COMPILE_CACHE=1`to disable it when ESM is used?

[2021-10-20 08:47] MaxGraey opened #3012 "Node 17: Some unsupported OpenSSL3 error during internal crypto hashing"
**On latest node.js I got some internal unsupported OpenSSL3 error during hashing**
full description:
[code]

[2021-11-02 07:23] rishabh3112 commented on #586
bump

[2021-11-02 17:14] alexander-akait commented on #2685
We still need ts, as minimum as JSDocs

[2021-11-04 20:33] jmckenney commented on #479
I wish this was stackoverflow and we could vote this to the top.

[2021-11-17 03:42] hackpros commented on #2990
update  your package.json
    "webpack-cli": "4.9.0",
    "webpack-dev-server": "^4.4.0",

[2021-11-17 04:03] jiyosub commented on #2990
No production canister_ids.json found. Continuing with local
[webpack-cli] Invalid options object. Dev Server has been initialized using an options object that does not match the API schema.
 - options has an unknown property 'watchContentBase'. These properties are valid:
   object { allowedHosts?, bonjour?, client?, compress?, devMiddleware?, headers?, historyApiFallback?, host?, hot?, http2?, h

[2021-11-17 04:15] jiyosub commented on #2990
My fix:

**package.json**
[code]

**webpack.config.js** - modify devServer settings to:
[code]

[2021-11-17 19:58] darmentrout opened #3029 "HookWebpackError: Not supported"
**Describe the bug**

Attempting the build process results in an error that is vague: `[webpack-cli] HookWebpackError: Not supported`

**What is the current behavior?**

[code]

**To Reproduce**

Steps to reproduce the behavior:

run the yarn build script (`webpack --env env=production`)

**Expected behavior**

An error-free build or more descriptive errors

**Please paste the results of `npx webp

[2021-11-17 20:00] alexander-akait commented on #3029
Only `Node.js` v12.20 supported https://github.com/webpack-contrib/copy-webpack-plugin/blob/master/package.json#L16

[2021-11-17 20:00] #3029 closed

[2021-11-18 13:02] dollar22 commented on #2778
going for it assigned it to me

[2021-11-18 13:20] dollar22 commented on #2778
@snitin315 How i will able to know I'm doing changes is right or wrong like in website i can clearly see what i'm doing but how i will know in cli

[2021-11-18 13:26] snitin315 commented on #2778
You can run existing tests and add mkre test cases as per your changes to check if everything is working as expected. Read CONTRIBUTING.md for moreinformation.

[2021-11-18 13:35] dollar22 commented on #2778
@snitin315 ok thanks bro

[2021-11-18 13:39] dollar22 commented on #2778
@snitin315 where i have to add doc about smoketests is it in webpack.js.org

[2021-11-18 13:41] snitin315 commented on #2778
I don't think if we need docs for it. Simply, these are just tests.

/cc @webpack/cli-team

[2021-11-19 12:55] rishabh3112 commented on #2778
Yup, not needed. We can close this one.

[2021-11-19 12:56] #2778 closed

[2021-11-29 08:32] rishabh3112 commented on #2944
It's been two months now, so I am taking this up.

[2021-11-29 10:01] rishabh3112 commented on #2944
WIP: https://github.com/webpack/webpack-cli/pull/3036

[2021-12-05 18:57] pauldraper opened #3044 "Web fails if it doesn't recognize my package manager"
**Describe the bug**

**What is the current behavior?**

If I don't have an executable on by PATH that is npm, yarn, or pnpm with a suitable `--version` flag, webpack cli complete fails.

**To Reproduce**

Install webpack.

Remove npm, yarn, and pnpm from PATH if necessary.

Run `webpack --config webpack.config.js`.

**Expected behavior**

I expected webpack to not fail.

**Screenshots**

[code]

[2021-12-05 19:07] alexander-akait commented on #3044
It needs for other commands, why you don't have package manager? You need more complex setup for webpack to avoid problems

[2021-12-05 20:16] pauldraper commented on #3044
I have a package manager, it's just not npm, yarn, or pnpm.

This world has many, many package managers.

[2021-12-05 20:19] alexander-akait commented on #3044
Make sense, I will look at the problem

[2021-12-05 22:20] alexander-akait commented on #3044
@pauldraper Can you provide version of `webpack-cli`, it looks like it was fixed in https://github.com/webpack/webpack-cli/releases/tag/webpack-cli%404.9.0, I can't reproduce thje problem locally

[2021-12-05 22:39] pauldraper commented on #3044
Thanks for fast response. I am using 4.9.0.

I have discovered there are some other conditions necessary. Namely, the baby-module-resolution in `checkPackageExists` has to fail:

[code]

Looks like someone even added an exception for those PnP weirdos.

There are a couple of ways this can fail. One is anybody mucking with Node.js internals, like PnP does. Another is for modules found in NODE_PATH

[2021-12-06 11:22] alexander-akait commented on #3044
Sorry, it is impossible, due bug in Node.js

Please provide reproducible test repo, we even run this code when you run webpack command

[2021-12-08 03:23] JiakaiYang opened #3054 "TypeError: options.forEach is not a function"
**Describe the bug**

TypeError: options.forEach is not a function
    at WebpackCLI.makeCommand (E:\webpackTest\node_modules\webpack-cli\lib\webpack-cli.js:108:21)
    at ServeCommand.apply (E:\webpackTest\node_modules\@webpack-cli\serve\lib\index.js:41:19)
    at loadCommandByName (E:\webpackTest\node_modules\webpack-cli\lib\webpack-cli.js:626:35)
    at Command.<anonymous> (E:\webpackTest\node_

[2021-12-08 04:09] snitin315 commented on #3054
Please update `webpack-cli` to the latest version `4.9.1` and follow the issue template.

[2021-12-08 04:09] #3054 closed

[2021-12-10 23:46] xeroxstar commented on #1918
"webpack": "^5.61.0" getting same warning

[2021-12-13 16:59] willtrking commented on #3044
I'm running into this problem as well. In our case we're using a pretty custom setup in a Bazel monorepo.

I'm currently hacking around this with a post-install patch to webpack-cli. It would be nice if there was an environment variable or something we could use to set this to the proper path.

[2021-12-13 17:01] alexander-akait commented on #3044
@willtrking Please read my message above, we don't run nothing special for package managers when you run `webpack`/`webpack build`/`webpack serve`/etc so you should not get this problem, check your version

[2021-12-13 18:25] pauldraper commented on #3044
Any command with dependencies runs `checkPackageExists`, including `webpack build`.

https://github.com/webpack/webpack-cli/blob/6a9aac99665f0d2f2f0c58c757c6befbc7734c8f/packages/webpack-cli/lib/webpack-cli.js#L929

---

I ran into this because I am mucking with require.resolve/Module._resolveFilename, and this check accesses the file system directly.

My workaround is to fake the existence of PnP

[2021-12-13 18:25] willtrking commented on #3044
Hey @alexander-akait thanks for the info! You're correct, in my case the error was being thrown because webpack-cli wasn't able to resolve webpack, which was an issue specific to our setup. Fixed that + removed the postinstall patch and all is well

[2021-12-13 18:33] alexander-akait commented on #3044
@pauldraper

But we don't run `checkPackageExists` for `webpack build`, all commands are lazy loaded and executed only when you specify them and run.

I am really can't reproduce your problem, I tried - docker without any package managers and it still work without any problems. Can you provide steps to reproduce?

[2021-12-14 22:59] pauldraper commented on #3044
While I think I could repro it, I think this is uncommon, and I now understand how this works better.

[2021-12-14 22:59] #3044 closed

[2021-12-27 12:21] DrThouraya commented on #2990
Hi! any help please?

I have two package.json under my web app repository [https://github.com/DrThouraya/regards-frontend/tree/master/webapp](url).
The first one is under the "webapp" directory and the second one is under the web pack-config-front..
so, which one to change?
FYI: I have installed npm -v=5.7.1 and node -v=8.10.0
and I got an error message when  trying to run this command:

`npm run

[2021-12-27 12:27] alexander-akait commented on #2990
Run `npm ls webpack-cli` and `npm ls webpack-dev-server`

[2021-12-27 12:31] DrThouraya commented on #2990
Hi @alexander-akait , I got
for `npm ls webpack-cli`, I got  --> ERR! invalid: webpack-cli@4.6.0
and for `npm ls webpack-dev-server `, no error message --> webpack-dev-server@3.11.3

[2021-12-27 12:47] alexander-akait commented on #2990
Update webpack-cli to the latest stable version

[2021-12-27 12:55] DrThouraya commented on #2990
done! but I still getting the same error message when typing `npm run start:withpreprod..
![runstart](https://user-images.githubusercontent.com/21196992/147473761-6c9ebadc-31a3-439e-bb74-b53a2db9795d.png)
`

[2021-12-27 12:57] DrThouraya commented on #2990
done! but I still getting the same error  when typing `npm run start:withpreprod ` ..

![runstart](https://user-images.githubusercontent.com/21196992/147473865-f1ebe668-305b-4f24-a79d-02f49d1c6e91.png)

[2021-12-27 12:59] alexander-akait commented on #2990
What is `Node.js` version?  Looks your version is not supported that https://github.com/webpack/webpack/blob/main/lib/cli.js#L67

[2021-12-27 13:02] DrThouraya commented on #2990
my node version is 8.10.0
The manual that I am using asked me to install nodejs 8.10 and npm 5.7.1 to can test the frontend repository locally..

[2021-12-27 13:05] alexander-akait commented on #2990
I am afraid your manual is outdated, minimum supported `Node.js` version is `10.13` https://github.com/webpack/webpack/blob/main/package.json#L113, but I strongly recommend to use the latest LTS, i.e. `16.13.1`

[2021-12-27 13:26] DrThouraya commented on #2990
if you look in their file "package.json", they indicate [https://github.com/DrThouraya/regards-frontend/blob/master/webapp/package.json](url)

`"engines": {
    "node": ">=6.11.2",
    "npm": ">=3.10.10"`

[2021-12-27 13:36] alexander-akait commented on #2990
Versions are wrong, you can't use `6.11.2` node with webpack v5

[2021-12-31 10:13] Efrony commented on #2990
it helped me
"webpack-cli": "^4.9.1",

[2021-12-31 10:31] DrThouraya commented on #2990
Hi and thank you for your answer,  and what about node and npm versions  and webpack-dev-server? Thank you!

[2021-12-31 11:06] Efrony commented on #2990
"webpack": "5.28.0",
    "webpack-cli": "^4.9.1",
    "webpack-dev-server": "3.11.2"

npm --version
6.14.13

node --version
v14.17.3

[2022-01-06 16:45] akash-joshi commented on #2685
Is this issue still up for grabs? If yes, can the Typescript conversion be carried out incrementally?

There's discussions to be had around the various settings in `tsconfig.json` as well, but I guess that can be done when there's a PR introducing one to the codebase.

[2022-01-08 01:12] #2752 closed

[2022-01-10 19:13] fires3as0n opened #3083 "Documentation shows incorrect options for webpack serve"
**Describe the bug**
Documentation here https://github.com/webpack/webpack-cli/blob/master/SERVE-OPTIONS-v4.md says that to disable live reload you should use --no-live-reload flag but webpack server refuses to accept it.

**What is the current behavior?**
Error: Unknown option '--no-live-reload'

**To Reproduce**
Execute the command
`webpack serve --no-live-reload`

**Expected behavior**
Webpack

[2022-01-11 00:13] snitin315 commented on #3083
What is your webpack-dev-server version?

[2022-01-13 14:23] fires3as0n commented on #3083
[code]
I have checked documentation for v3 at:  https://github.com/webpack/webpack-cli/blob/master/SERVE-OPTIONS-v3.md
And it says that for v3 flag should be --liveReload instead
It does not crash when using this flag but still with or without it it still auto realods, thus not working as well.

[2022-01-17 02:00] #3083 closed

[2022-01-21 12:41] alexander-akait commented on #2408
bump

[2022-01-26 02:42] hparadiz commented on #2737
This shouldn't even be something we need to request. Thanks for breaking my workflow @alexander-akait

Webpack 4 works fine with custom CLI switches.

What's the point of having a config written in JavaScript if you're gonna block basic features of the language.

![image](https://user-images.githubusercontent.com/195216/151094860-b2dbbc78-b91a-4a85-8c7b-765e72dd903e.png)

It's not up to you.

Grea

[2022-01-26 10:35] alexander-akait commented on #2737
I don't support toxic behavior

webpack v5 too

We didn't break anything, you have `--env` use them

[2022-01-28 05:20] rishabh3112 commented on #2832
bump

[2022-02-01 11:58] alexander-akait commented on #2748
bump

[2022-02-02 00:33] jayzalowitz commented on #2272
This is showing for me with webpack "^4.46.0"

[2022-02-02 04:59] waweber opened #3117 "Cannot disable --watch mode"
### Bug report

### Actual Behavior

It doesn't seem to be possible to disable --watch mode when running `webpack serve`:

- setting `watch: false` in webpack config does not disable --watch behavior
- setting `devServer.watchFiles` config to `{}` or `[]` does not stop recompilation
- setting `devServer.watchFiles.paths` to `[]` or `["asdf"]` does not stop recompilation
- running `webpack serve --

[2022-02-02 05:14] snitin315 commented on #3117
Issue in `webpack-cli`

[2022-02-02 05:17] snitin315 commented on #3117
It seems this is intentional because webpack-dev-server will always watch for files.

https://github.com/webpack/webpack-cli/blob/2ca104ffa42e7feed833d285a7372a70eb032739/packages/serve/src/index.ts#L73-L77

[2022-02-02 10:31] alexander-akait commented on #3117
Yes, `--watch` and `--no-watch` is not supported for dev server, dev server always watches files

[2022-02-02 10:31] #3117 closed

[2022-02-08 03:15] SetTrend opened #3537 "Add CLI command to output current in-memory configuration in full"
## Feature request

I propose to add a new command to Webpack CLI that outputs a project's current configuration in full detail – including default values.

The output should be a full-fledged JS file, with actual values used for each single configuration property. If no configuration value is provided, the actual and the computed default value should be added in a comment next to the value (which

[2022-02-17 10:29] yang-mengyue opened #3138 "SyntaxError: Cannot use import statement outside a module"
node: 14.15.4
webpack-cli: 4.9.2

Execute a js file that imports other modules with import, package it and report an error
![@Q9~C{}U A~IV_DD%992ABY](https://user-images.githubusercontent.com/78328465/154457061-d9982354-2778-44a0-9e57-03386f4c2432.png)

When webpack is 4.2.0 can be packed normally。

[2022-02-17 10:30] yang-mengyue commented on #3138
How to use the latest webpack-cli normally？Thank you！

[2022-02-17 10:32] alexander-akait commented on #3138
You can't use `import` in commonjs files, there are not problems with webpack, use `.mjs` extension or set `type: "module"` in `package.json`

[2022-02-17 10:32] #3138 closed

[2022-02-24 07:02] AprilArcus commented on #2918
Don't lock

[2022-03-01 09:19] snitin315 opened #3152 "Smoketests are flaky on CI"
**Describe the bug**

Flaky smoke tests.

**What is the current behavior?**

Sometimes pass sometimes fail on CI.

**To Reproduce**

Steps to reproduce the behavior:

- [Fail](https://github.com/webpack/webpack-cli/runs/5354308786?check_suite_focus=true)
- [Pass](https://github.com/webpack/webpack-cli/runs/5369390976?check_suite_focus=true)
- [Pass](https://github.com/webpack/webpack-cli/actions/r

[2022-03-01 12:38] alexander-akait commented on #3152
Feel free to send a PR

[2022-03-15 08:30] taranek commented on #2685
@alexander-akait  Is this still relevant? Is there anything else we want to add types to? 🤔

[2022-03-15 10:12] alexander-akait commented on #2685
We can move our tests to ts, but I don't think it makes much sense like I said before.

[2022-03-15 10:16] snitin315 commented on #2685
I think tests are fine in JS. We can close this issue.

[2022-03-15 10:23] #2685 closed

[2022-03-18 12:39] TheRealSyler opened #3171 "Generated typescript project with sass throws error."
**What is the current behavior?**

crashes on `yarn serve`, the reason is in the generated webpack config file there is an undefined variable called `stylesHandler`.

**To Reproduce**

Steps to reproduce the behavior:

1. In an empty folder run `yarn add -D @webpack-cli/generators && npx webpack-cli init`

2. Choose these options:
[code]

3. run `yarn serve`

**Expected behavior**

Not crash when

[2022-03-18 12:40] TheRealSyler commented on #3171
ill take a look at it myself so i might create a pr later.

[2022-03-18 13:15] TheRealSyler commented on #3171
the service worker file also doesn't seem to be created.

[2022-03-18 14:00] iamgabrielsoft commented on #3029
I had the same isuse running npm run build in a Nextjs project

[2022-03-25 03:10] ederzz opened #3182 "how to add webpack-dev-server cors header via cli?"
As title, help!

[2022-03-25 11:33] alexander-akait commented on #3182
Impossible, but we can add them @webpack/cli-team sounds like a easy improvement, let's add flag to webpack-dev-server, so webpack-cli will support it

[2022-03-25 17:29] ma-foyez commented on #436
I also faced this problem & I solved this by following the steps

At first, open Windows PowerShell with Run as administrator mood then copy & paste the below commands..

`npm rm -g webpack-cli`
`npm i -g webpack-cli`

[
![Screenshot_6](https://user-images.githubusercontent.com/67279274/160171044-7786990e-7d97-4382-9115-83866fa5f08f.png)
](url)

[2022-03-26 11:45] ederzz commented on #3182
Ok, a little sad...

[2022-03-26 11:45] ederzz commented on #3182
Ok，a little sad...

[2022-03-26 11:55] snitin315 commented on #3182
Yep. We can add it to webpack-dev-server. We may need custom type like `--env` or you want to pass json from CLI directly?

[2022-03-28 02:18] ederzz commented on #3182
I just thought the config in json could be set in cli options, and then found it not work.

[2022-03-28 16:31] nyngwang commented on #1622
I don't know what these "solutions" are talking about.

I'm using `webpack.config.js`(i.e. I don't change the file ext. to `.cjs` or `.mjs`), with ES6 modules `import`-`export` syntax. Here is a snapshot:

<img src="https://user-images.githubusercontent.com/24765272/160443153-adde4e7c-e5ee-4740-865e-adc1815d6912.png" width="400">

I only did one thing to make it work with `webpack-cli`: I added `"

[2022-03-28 18:18] CraigSau opened #3185 "Error when starting webpack serve: [webpack-cli] Error: Cannot find module './compiler/[object Object].js'"
When trying to run my site locally, using the script `yarn hot`, the following error gets thrown at me. It was working as intended until I upgraded all of my dependencies trying to fix a problem with deploying my site.

`craigsau@Craigs-MacBook-Pro PersonalSite % yarn hot
yarn run v1.22.17
$ webpack serve --open --hot --profile --progress --config=webpack.config.babel.js --env=hot
[webpack-cli] Er

[2022-03-28 19:01] alexander-akait commented on #3185
Please provide link on configuration

[2022-03-28 21:58] clshortfuse commented on #1622
@nyngwang You're replying in a issue from mid-2020. It was fixed in `webpack-cli` 4.5.0 in February 2021 last year. That's why this is closed.

https://github.com/webpack/webpack-cli/pull/2381

[2022-04-06 14:09] snitin315 commented on #1838
Let's start working on next first before adding more fetures.

[2022-04-07 23:40] hedgepigdaniel opened #3195 "no way to prevent interpret from transpiling the config, even if another tool has been configured"
It's nice that [interpret](https://github.com/gulpjs/interpret) is used to allow configuration to be written in ES/TS/etc without configuration. However, it is not always desired that a loader hook is automatically registered, and sometimes it can cause a bug.

I think it should be configurable, just as `--config-register` can be used to register additional hooks, it should be possible to turn off

[2022-04-08 00:43] alexander-akait commented on #3195
PR welcome, should not be hard

[2022-04-08 14:06] ryanwilsonperkin opened #3197 "Timestamp in verbose logs is incorrect by a factor of 1000x"
**Describe the bug**

When running `webpack build --watch` with an infrastructure log level of `debug`, any time a file is changed a log line will be emitted that specifies which file changed and what the time was of the change. This time is incorrect because of a calculation on the initial timestamp, causing the real datetime `Changed time is Fri Apr 8 2022 09:56:00 EST-0400 (Eastern Daylight Tim

[2022-04-11 04:26] rishabh3112 commented on #3197
HI @ryanwilsonperkin,
Yeah, those dates are crazy 😄 .
Thanks for the Issue and Pull request.

[2022-04-11 05:54] #3197 closed

[2022-04-15 18:14] poli-vorobeva opened #3204 "Webpack init error"
I have installed  "@webpack-cli/generators" - 2.4.2, and I had an error . When I change version on 2.2.0 it began woking correctly

node:internal/child_process:413
    throw errnoException(err, 'spawn');
    ^

Error: spawn UNKNOWN
←[90m    at ChildProcess.spawn (node:internal/child_process:413:11)←[39m
←[90m    at Object.spawn (node:child_process:700:9)←[39m
    at Object.<anonymous> (C:\Users\po

[2022-04-16 11:22] alexander-akait commented on #3204
What is package manager? It is happens only on install?

[2022-04-29 16:02] evenstensberg opened #3227 "Feature Request: Swap from Lerna to another monorepo tool"
**Is your feature request related to a problem? Please describe.**

Lerna is depreciated, so maybe we should swap to another monorepo tool.

- https://github.com/lerna/lerna

**Describe the solution you'd like**

Something like [Nx](https://nx.dev/), pnpm workspaces

**Describe alternatives you've considered**

N/A

**Additional context**

N/A

[2022-04-29 18:48] alexander-akait commented on #3227
We can use built-in workspace feature in npm/yarn and avoid extra packages

[2022-05-12 04:05] harish-sethuraman commented on #586
bump

[2022-05-13 22:07] c100k opened #3242 "Give examples of syntax for complex command options"
**Is your feature request related to a problem? Please describe.**

It's very hard to translate a `webpack.config.js` into a single CLI command. For simple options like `--mode=production` it's pretty straightforward.

But it gets more complicated for options representing a complex object or an array. Let's take `resolve.extensions` as an example. In `webpack.config.js`, it's easy : `extensions: [

[2022-05-14 08:02] alexander-akait commented on #3242
We use standard CLI syntax, it will be very large output if we put examples for an each option... Also we get supported CLI options from webpack.

Actually `<value...>` means multiple string values, i.e. `--resolve-extensions=.ts --resolve-extensions=.tsx` is valid

[2022-05-14 09:28] c100k commented on #3242
Indeed I can understand that. What would be the syntax for key/value entries like `resolve.alias`, `module.rules` then ?

[2022-06-08 04:14] benjaminblack opened #3284 "Variables passed to `--env` with an empty value are incorrectly parsed"
**Describe the bug**

When passing env vars to webpack cli using `--env`, if the value of the variable passed is empty, then the resulting variable name and value is parsed incorrectly. As an example, `webpack --env TEST=""` results in the following `env`:

[code]

**What is the current behavior?**

Empty variables passed to `--env` like `--env VAR=""` or `--env VAR=$NOT_DEFINED` result in the `en

[2022-06-08 14:58] alexander-akait commented on #3284
PR welcome

[2022-06-09 13:30] snitin315 commented on #3284
But yes I feel if it ends with `=` we should set it to undefined instead of setting `foo=: true`. I'll raise a patch for this.

[2022-06-09 17:09] benjaminblack commented on #3284
I'm not invoking Webpack through the terminal, I'm doing it through package.json.

With this script:
[code]

The result is a property of `TEST=` with a value of `true`.

With this:

[code]

The result is a property of `TEST`, but the value is `'""'` -- which is not an empty string, which would be falsy, but a string containing `""`, which is truthy.

No matter which variation I try, I can't get a

[2022-06-09 18:17] alexander-akait commented on #3284
Expected, because you have `""` string, it is truthy

But `webpack --env TEST=""` should be falsy, it is bug on our side

[2022-06-09 19:37] benjaminblack commented on #3284
Right, I was just trying to replicate, within a package.json script, the same behavior seen in a command-line shell running `webpack --env TEST=\"\"`, and noting that I couldn't, with either `\"\"` or with `\\\"\\\"`.

[2022-06-13 04:17] 779102260 opened #3294 "cli.isMultipleCompiler is not a function"
**Describe the bug**

@webpack-cli/serve 1.7.0： cli.isMultipleCompiler is not a function

isMultipleCompiler is add in 1.7.0

![image](https://user-images.githubusercontent.com/16102900/173278504-30c84149-2e3f-4d4f-9503-a293928b44d0.png)

code in v1.6.1

[code]
should be `cli.isMultipleCompiler?.(compiler)` ?

[2022-06-13 04:39] snitin315 commented on #3294
Are you using webpack-cli v4.10.0?

[2022-06-13 04:50] 779102260 commented on #3294
no, using 4.9.0，so i need to update to 4.10.0 ?
![image](https://user-images.githubusercontent.com/16102900/173281734-a22ec9ed-46bc-4043-9f1e-fe7770cd603c.png)

[2022-06-13 04:57] snitin315 commented on #3294
@779102260 yes, please update webpack-cli and related packages to the latest version.

[2022-06-13 08:31] 779102260 commented on #3294
it work, thx

[2022-06-13 08:53] snitin315 commented on #3294
@alexander-akait should we keep it compatible with older @webpack-cli/serve v1.6?

[2022-06-13 08:56] 779102260 commented on #3294
yes, if not too much work to do

---Original---
From: "Nitin ***@***.***&gt;
Date: Mon, Jun 13, 2022 16:53 PM
To: ***@***.***&gt;;
Cc: ***@***.***&gt;;"State ***@***.***&gt;;
Subject: Re: [webpack/webpack-cli]  cli.isMultipleCompiler is not a function(Issue #3294)

@alexander-akait should we keep it compatible with older @webpack-cli/serve v1.6?

—
Reply to this email directly, view it on GitHub,

[2022-06-13 12:02] simasch commented on #3294
Please don't use version ranges in transitive dependencies!

[2022-06-14 05:25] TatuLund commented on #3294
I agree. Nowadays supply chain safety and quality is a major concern. Organizations who use these tools professionally need to apply quality gates in CI and processes. Hence they need to use pinned versions instead open ended versions. I.e. they can't allow maven or npm to load what ever newer version automatically. The new versions need to be tested and verified for compatibility and safety. Henc

[2022-06-14 07:25] snitin315 commented on #3242
For that we have `--resolve-alias-name <value> --resolve-alias-alias <value>` You can see all the [available options here](https://github.com/webpack/webpack-cli/blob/master/OPTIONS.md)

[2022-06-15 15:17] DeepakJyoti878 commented on #1216
![Screenshot_2022_0615_204718](https://user-images.githubusercontent.com/71035974/173863817-90fd50fd-464c-46b5-a8e1-f710def7de17.jpg)

[2022-06-15 18:16] alexander-akait commented on #1216
Please open an issue in angular-cli repo

[2022-06-16 18:09] MikkCZ commented on #2458
FYI as of today for me to be able to import an ESM module (webpack plugin) from `webpack.config.ts`, I needed to add the following to the `tsconfig.json`
[code]

It's based on your responses above. `"ts-node"` itself works instead of `TS_NODE_COMPILER_OPTIONS` as already mentioned here, plus `"esm": true` replaces the need for passing `--loader ts-node/esm` to Node (see https://typestrong.org/ts-n

[2022-06-24 10:57] rishabh3112 commented on #617
bump

[2022-06-28 09:41] vankop opened #3315 "new option to terminate with non-zero code if builded with warnings"
**Is your feature request related to a problem? Please describe.**

related to https://github.com/webpack/webpack/issues/15960#issuecomment-1168468320

**Describe the solution you'd like**

One possible solution could be - add an option to terminate process with non-zero code if any warning exist. e.g. `--strict` option ( `false` by default )

**Describe alternatives you've considered**

**Additio

[2022-06-28 09:51] vankop commented on #3315
@alexander-akait any other "naming" ideas?

[2022-06-28 10:18] sokra commented on #3315
`--disallow-warnings` `--strict-warnings` `--fail-on-warnings`?

[2022-06-28 10:49] snitin315 commented on #3315
I like --fail-on-warnings

[2022-06-28 16:13] alexander-akait commented on #3315
`--fail-on-warnings` :+1:

[2022-06-29 02:30] rishabh3112 commented on #3315
Yeah, `--fail-on-warnings` is sounds good.

[2022-06-30 01:20] #3315 closed

[2022-06-30 20:52] dtle82 opened #3319 "eslint not found"
**Describe the bug**

When trying to install webpack-cli i'm getting this error for eslint not found because someone published a bad package.  How can we force it to download the older version?

**What is the current behavior?**

**To Reproduce**

Steps to reproduce the behavior:

npm i webpack-cli

**Expected behavior**

RUN npm install -g webpack-cli webpack:
#29 3.215 npm ERR! code E404
#29 3.2

[2022-06-30 21:11] alexander-akait commented on #3319
Just regenerate lock file and send a PR

[2022-06-30 21:12] #3319 closed

[2022-07-18 21:16] Carles11 commented on #1216
(with versions "webpack": "^5.73.0" and "webpack-cli": "^4.10.0")

This solved the issue for me:

/package.json -->
"scripts": {
    "start": "webpack --mode=development && nodemon server",
    "build": "webpack --mode=production && NODE_ENV=production",
     ...
}

Hope it helps.

[2022-07-30 01:22] robert3005 opened #3355 "Should respect NODE_PATH when checking for existence of a package"
**Describe the bug**

If you run webpack-cli with NODE_PATH (and not with node_modules in local directory) you end up with request to install dependencies even though everything is properly configured, i.e.
`NODE_PATH=<includes all webpack and webpack-cli dependencies> webpack-cli -config <config> build`

**What is the current behavior?**

You get prompted for
[code]

**To Reproduce**

Steps to re

[2022-07-31 09:50] alexander-akait commented on #3355
This PR is workaround for limitation when you use npm/yarn and a package doesn't exits in an installation time, anyway feel free to fix code and respect `NODE_PATH`

[2022-08-09 09:44] harmeet-kr opened #3368 "Error: Unknown option '--profile'"
I recently upgraded the webpack cli version from 3.3.11 to 4.10.0
When I run webpack with profiling option,
`webpack --profile --json > stats.json`

I get the below error:
[code]

but from what I can see in https://github.com/webpack/webpack-cli/blob/master/OPTIONS.md, --profile is a valid flag.
Has this flag been removed in v4?

[2022-08-09 10:40] snitin315 commented on #3368
`--profile` was removed in favor of `--progress=profile`.

Also you dont need to paas it with json anymore. You should update ypur command as `webpack --json=stats.json`

[2022-08-10 11:30] alexander-akait commented on #3368
Answered, feel free to feedback

[2022-08-10 11:30] #3368 closed

[2022-08-22 08:56] kulkarnipradnyas opened #3381 "[webpack-cli] SyntaxError: missing ) after argument list"
**Describe the bug**
  Script:  "start:local": "webpack serve --config ./webpack.config.js --env env=local",
  "webpack": "^5.51.1",
   "webpack-cli": "^4.8.0",
   "webpack-dev-server": "^4.10.0",

**What is the current behavior?**

**To Reproduce**

Steps to reproduce the behavior:

**Expected behavior**

**Screenshots**

**Please paste the results of `npx webpack-cli info` here, and mention othe

[2022-08-22 09:19] snitin315 commented on #3381
Please provide steps to reproduce.

[2022-08-22 09:19] #3381 closed

[2022-08-22 09:59] Coachonko opened #3382 "init abandoned?"
Hi, is the init script abandoned? I have initialized a project with it but the generated configuration does not even match the website's documentation at all. Is the init script generating configurations that are compatible with webpack 5 but written in an older-version way?

Further, when generating a commonJS config, the syntax uses the ES include syntax which breaks the initialized project

[2022-08-22 10:45] snitin315 commented on #3382
@Coachonko Can you provide steps to reproduce?

[2022-08-26 16:09] Christian24 opened #3390 "serve with multi-server doesn't work with Module Federation"
**Describe the bug**

Hello,

I don't know if this is the correct, project and a few problems that all seem to be related to either `webpack-cli` or `webpack-dev-server`, so please excuse if this is not the correct place.

General overview:

We are building multiple SPAs and we use multi-server for our development environment. This works, but now we want to introduce module federation. I added con

[2022-08-30 11:28] evenstensberg opened #3395 "Output configuration through option/flags"
**Is your feature request related to a problem? Please describe.**

As webpack configurations grow, and abstractions on top of `webpack.config.js` increases, it would be nice to output how the config looks, and what the end configuration will be, possibly through a CLI flag.

**Describe the solution you'd like**

A flag that outputs the configuration file.

**Describe alternatives you've considere

[2022-08-30 11:42] snitin315 commented on #3395
Jest and typescript provides a `--showConfig` flag.

[2022-08-31 13:51] bes opened #3398 "--env argument in quotes isn't parsed - Error: Unknown option"
**Describe the bug**

I have a script that generates a command line for `webpack-cli` and some of the `--env` options are quoted, e.g: `"--env favicons"`. `webpack-cli` seems to be able to handle quoting of other arguments, e.g: `webpack-cli "--help"` works just fine.

**What is the current behavior?**

My current version of `webpack-cli` is `4.10.0`, which doesn't work, but my previous version `3

[2022-09-02 16:48] alexander-akait commented on #3398
Sorry, we can't fix/improve it in webpack-cli, if you want to implement this feature, please open an issue in `commander` repo https://github.com/tj/commander.js/, we use this package to parse arguments.

But to be honest, I'm against it. It's pretty ambiguous. When you write `--bail '--env favicons'`, what does it mean?
1. `--bail` flag with `'--env favicons'` value (string value)
2. `--bail` fla

[2022-09-03 08:43] bes commented on #3398
Thank you for your response.

Normally unescaped quotes are just handled by the shell, and it should have been the case here too, but for some reason it isn't. I've worked around it by removing our gradle build script and replacing it so I no longer have this issue.

I just found it surprising because every other shell command "just works", the shell interprets the quotes and removes them accordin

[2022-09-03 08:43] #3398 closed

[2022-09-07 19:56] alexander-akait commented on #3204
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2022-09-07 19:56] #3204 closed

[2022-09-07 19:57] alexander-akait commented on #3185
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2022-09-07 19:57] #3185 closed

[2022-09-07 19:59] alexander-akait commented on #3182
Closing due to inactivity. We have the `--env` variables, so you can setup it inside configuration, CORS can be different so it is hard to implement all possible cases, so better to do it in configuration

[2022-09-07 19:59] #3182 closed

[2022-09-07 20:00] alexander-akait commented on #3195
Done https://github.com/webpack/webpack-cli/pull/3329

[2022-09-07 20:00] #3195 closed

[2022-09-07 20:04] alexander-akait commented on #2408
@webpack/cli-team I think we can implement it in better way - `--no-dev-server [config-name]`, should solve most of problems

[2022-09-11 03:45] adriancuadrado commented on #2944
Any progress on this?

[2022-09-22 16:43] #3171 closed

[2022-09-22 16:43] TheRealSyler commented on #3171
fixed with  #3412

[2022-09-27 02:53] alexander-akait commented on #3390
Sorry for delay, I will look at this problem soon, do you found any solutions?

[2022-09-28 02:46] snitin315 commented on #3355
Fixed in https://github.com/webpack/webpack-cli/pull/3411

[2022-09-28 02:46] #3355 closed

[2022-09-28 18:51] Christian24 commented on #3390
Thanks. Nothing more than I already described sadly.

[2022-09-30 01:48] robert3005 commented on #3355
Thanks a lot!

[2022-09-30 13:52] Christian24 commented on #3390
We are also experiencing an issue with `shared`: When using `shared` the url with which webpack tries to resolve the remote entry suddenly contains `undefined`. So I get a path like `/app1/undefined/app2/remoteEntry.js` which obviously doesn't work.

[2022-09-30 13:57] Christian24 commented on #3390
I would love to help get this fixed @alexander-akait, but I have no idea where to even start looking.

[2022-10-05 17:51] evenstensberg opened #3436 "Refactor(cli): Migrate from CJS to ESM"
**Is your feature request related to a problem? Please describe.**
As node evolves, we need to change from CJS to ESM for webpack-cli.

**Describe the solution you'd like**

N/A

**Describe alternatives you've considered**

N/A
**Additional context**

This issue originates from @alexander-akait 's feedback.

[2022-10-06 19:53] alexander-akait commented on #3390
Sounds like the problem with invalid publicPath or URLs

[2022-10-06 20:01] Christian24 commented on #3390
The URLs are correct. The publicPaths are set up exactly the way they are for all our applications. Interestingly, I get the correct file when I rename it - as mentioned above. However, the chunks generated by module federation plugin I cannot rename (plus it is error prone), so this should be fixed.

[2022-10-06 20:39] alexander-akait commented on #3390
Please double check this, you can ahndle the same URL for one server, I will look at this soon, but the problem is somewhere here

[2022-10-06 21:18] Christian24 commented on #3390
Just simplified the example a bit:

The relevant configs:
App2:
[code]
App3:
[code]

Notice that names of the federated module and the the *publicPath*s are different. I can also access the related URLs: Both `http://localhost:3001/app2/remoteEntry.js` and `http://localhost:3001/app3/remoteEntry.js` work.

However, both files seem to be identical which is wrong. It seems the file served at `http:/

[2022-10-06 21:30] alexander-akait commented on #3390
What is your URL for testing?

[2022-10-07 05:46] Christian24 commented on #3390
https://stackblitz.com/edit/github-f36ynq?file=app1/webpack.config.js

`yarn install` and `yarn start` (both should run automatically)
Then in the browser on the right you can open: `https://github-f36ynq--3001.local.webcontainer.io/app2/remoteEntry.js`and `https://github-f36ynq--3001.local.webcontainer.io/app3/remoteEntry.js`. Contents will be identical even though they shouldn't be.

If you want

[2022-10-07 20:31] alexander-akait commented on #3390
Oh, hard to undestand what do you want, let's start:
- Do you want to run dev server for each compilation? (if yes you need to add `devServer` to each configuration and setup valid URLs, also you can setup proxy if you need), it is first solution, so you can multiple dev server
- Use multi compiler mode as in your case, you get this strange behaviour because you have the same `output.path`, and yo

[2022-10-08 14:03] Christian24 commented on #3390
Exactly this.

I just tried this in my demo and it works. Thank you so much. What confuses me though, is the fact that we have this setup quite often, setting public path is always enough and I thought compilation would happen in memory anyway. So, it is odd that we only have this problem with module federation.

Interesting. I didn't know about this. I will have to play around with that a bit.

T

[2022-10-08 15:19] alexander-akait commented on #3390
Yeah, feel free to feedback

[2022-10-16 15:06] robo6633 commented on #1612
You shouldn't stress with people like him, he's clearly "too smart" to answer your question.

[2022-10-16 15:58] evenstensberg opened #3444 "Documentation: Flesh out, improve and rearrange documentation"
**Is your feature request related to a problem? Please describe.**

In our package documentation, we need to improve the documentation by:

1) Remove or refurbish old documentation of things like the generators. For instance, the update generator is unneeded.

**Describe the solution you'd like**

A PR that goes through all the markdown files and removes obsolete and redundant documentation.

**De

[2022-10-17 04:15] angelhdzmultimedia commented on #1612
**Thanks mate. Many stuff have happened along the way after this heated thread.** ⏰

Of course, I've grown as a person. 📈 ✅

I learned not to engage in arguments with people, instead I smartly choose my battles. 🛡⚔🧠💡

Also, I switched to **Vite** and it has been heaven, not only the speed difference and configuration ease is dramatically superior, but the community is very helpful and very emphati

[2022-11-17 08:58] codelegant opened #3494 "[webpack-cli] Error: Unknown option '--node-env'"
**Describe the bug**

[code]
run `npm start` in bash then error.

**What is the current behavior?**

[code]

**To Reproduce**

Steps to reproduce the behavior:

**Expected behavior**
Work without error

**Screenshots**

![image](https://user-images.githubusercontent.com/12785928/202400207-8b6360fc-d62e-4f6b-a1ea-9febccbee0a5.png)

**Please paste the results of `npx webpack-cli info` here, and ment

[2022-11-17 09:29] snitin315 commented on #3494
@codelegant We have renamed it to `--define-process-env-node-env`. You can find it in [the changelog ](https://github.com/webpack/webpack-cli/blob/master/CHANGELOG.md#500-2022-11-17). Please update your script as:

[code]

[2022-11-17 09:29] #3494 closed

[2022-11-17 09:35] codelegant commented on #3494
Thanks, but the webpack doc not update https://webpack.js.org/api/cli#node-env

[2022-11-17 09:36] codelegant commented on #3494
Thanks, but the webpack doc not update https://webpack.js.org/api/cli#node-env

[2022-11-17 09:59] snitin315 commented on #3494
@codelegant Thanks for the heads up,  I'll update the docs by today/tomorrow.

[2022-11-23 08:02] Christian24 commented on #3390
Fixed. Thanks @alexander-akait

[2022-11-23 08:02] #3390 closed

[2022-11-23 13:52] #617 closed

[2022-11-23 19:49] andriihuchko commented on #2990
npm install --save-dev webpack-cli working for me

[2022-11-27 06:32] CreativeTechGuy opened #3503 "`--define-process-env-node-env` doesn't do as advertised"
**Describe the bug**

This is a follow up from [this comment thread](https://github.com/webpack/webpack-cli/pull/3456#issuecomment-1328176668). `--node-env` was renamed in `webpack-cli` v5 with [this comment](https://github.com/webpack/webpack-cli/pull/3279#issuecomment-1280763714) linked as the reasoning.

This is not true, not in the previous version and not in the new version. See "To Reproduce

[2022-11-27 23:04] alexander-akait commented on #3503
Why don't use `NODE_ENV=production`?

We don't change `NODE_ENV` in `webpack.config.js` when you use `--node-env`

[2022-11-27 23:08] alexander-akait commented on #3503
Oh, our mistake https://github.com/webpack/webpack-cli/blob/master/packages/webpack-cli/src/webpack-cli.ts#L2179

@snitin315 I think we need to decide better strategy here, make sense to have ability set `NODE_ENV` in runtime code and set `NODE_ENV` in `webpack.config.js` to avoid using `cross-env`

[2022-11-27 23:47] CreativeTechGuy commented on #3503
The current (and previous) behavior (of setting `NODE_ENV` in both runtime and config) seems to make sense. It's really easy to reason about and and does what you'd expect. The name `--node-env` previously described this behavior pretty succinctly. I wish we could have kept that.

[2022-11-28 12:51] alexander-akait commented on #3503
@snitin315 I think yes, it was my mistake (I forgot about we set `NODE_ENV`), so let's return `--node-env`, but keep `--define-process-env-node-env` (without setting `NODE_ENV`, it can be useful for stagging or another modes)

[2022-11-28 20:03] CreativeTechGuy commented on #3503
Thank you all! Much appreciate your work. 😃