[2018-03-04 09:15] dhruvdutt commented on #307
@billyjanitsch You can check comments on this PR #290.

[2018-03-04 12:56] ematipico commented on #296
Babel 7 is still in beta! Shouldn't we wait a RC in order to start addressing issues?

Once RC will be released there won't be any API changes and disruptions apart bug fixes. I'd suggest to lower the priority on this task.

[2018-03-04 18:16] ev1stensberg commented on #307
Thanks for submitting an issue! We (with good purpose) didn't upgrade Yargs, as there was a security compromisation reported from the most recent version!

[2018-03-04 18:16] #307 closed

[2018-03-04 18:17] ev1stensberg commented on #261
Yes, that's the plan

[2018-03-04 18:18] ev1stensberg commented on #261
And while it is a burden, it allows us to be flexible around composition and we also allow people to use the AST transforms directly

[2018-03-04 22:04] erikdesjardins commented on #288
This is fixed by #305, but it seems it hasn't been released

[2018-03-04 22:15] billyjanitsch commented on #307
This issue isn't about upgrading, though. It's about unpinning.

The security compromisation is for 11.x, right? I'm suggesting that webpack-cli should depend on yargs@^9.0.1 and log-symbols@^2.2.0. This would not cause yargs 11.x to be installed.

[2018-03-04 23:16] montogeek commented on #307
What is wrong with have those dependencies pinned?

[2018-03-05 08:11] andersk opened #310 "Git repository missing v2.0.5 through v2.0.10 tags"
The latest Git tag here is v2.0.4. I believe the following tags belong at

* v2.0.5 94ac6dbbc50027184c6b32aa496b8ba3157ff0dc
* v2.0.6 4333088e5f224a5987263ad0d01580c045327696
* v2.0.7 81a9f1ee0ac3c42931e20cd51470fe1f4c17c9be or a1652699a418a4ca2b69b263842d3ba045ac535b
* v2.0.8 94069128585d49241857dbf7353523be0acec266
* v2.0.9 4cf5e172d65eed39acc5da6b9bfd6dd3db8923f9
* v2.0.10 7dedf2e40e6c9a3f084a0

[2018-03-05 09:55] ematipico commented on #310
Will take care of it by the end of the day!

[2018-03-05 10:33] ev1stensberg commented on #296
Maybe @hzoo has some input?

[2018-03-05 10:33] #288 closed

[2018-03-05 10:35] ev1stensberg commented on #310
awesome, thank you so much @ematipico :heart:

[2018-03-05 10:49] imjar commented on #299
use
$ webpack-cli init

[2018-03-05 11:04] ev1stensberg commented on #299
@ashclarke that might be cause our prefer to global is wrong ( I think ), will investigate.

[2018-03-05 11:12] hzoo commented on #296
So via https://github.com/babel/babel-upgrade

[code]

the solution is to add a new dep on `"babel-core": "7.0.0-bridge.0",` which interally uses `@babel/core`. This is what is done for jest. It might still not work if the module itself isn't compatible with v7 though so would need some patches to jscodeshift.

[2018-03-05 13:17] JonWallsten opened #311 "Sub depencency probably removed. Install fails."
I'm trying to update webpack-cli from 2.0.9 -> 2.0.10.
PS C:\Users\me\repo\web-app-angular> npm install webpack webpack-cli
npm ERR! code E404
npm ERR! 404 Not Found: @sindresorhus/is@^0.7.0

npm i @sindresorhus/is
npm ERR! code E404
npm ERR! 404 Not Found: @sindresorhus/is@latest

Can someone else check if it's actually missing or if "it doesn't work on my machine"

[2018-03-05 13:18] ev1stensberg commented on #311
Can you print the entire stack trace which is not (if) confidential?

[2018-03-05 13:19] dhruvdutt commented on #311
Can you print full error log or maybe link the repo? It is unclear from this what is happening.

[2018-03-05 13:19] JonWallsten commented on #311
Sure, hang on!

[2018-03-05 13:22] montogeek commented on #311
Post your package.json as well please

[2018-03-05 13:23] ev1stensberg commented on #311
Not needed, stack trace is enough

[2018-03-05 13:30] montogeek commented on #311
2.0.9 does not exists, neither 2.0.10.
But they will later today https://github.com/webpack/webpack-cli/issues/310

[2018-03-05 13:31] JonWallsten commented on #311
It's just the git tags missing, not the packages I assume?

[2018-03-05 13:32] dhruvdutt commented on #311
GitHub tags don't matter. The library is published on [npm registry](https://www.npmjs.com/package/webpack-cli).

[2018-03-05 13:32] JonWallsten commented on #311
I am however stuck on this now:
[code]
Something is fishy

[2018-03-05 13:34] dhruvdutt commented on #311
It would be very convenient to debug if you can make a small zip with minimal things or list steps to reproduce this issue.

[2018-03-05 13:50] JonWallsten commented on #311
It doesn't work for my colleague either. So I guess it's our network and/or artifactory. I've tried against both registry.npmjs.org with proxy and our internal artifactory without proxy. I have installed a lot of other modules. Might be a coincident that it was this package that fails. I'll let you guys now as soon as I get home so I can try it outside of the company network.

[2018-03-05 13:56] dhruvdutt commented on #311
You can try switching to [mirrors of npm registry](https://docs.npmjs.com/misc/registry#description) and see which works for you.
You can ping the mirrors to check and switch to it inside your npm config.

[2018-03-05 14:07] JonWallsten commented on #311
It's just getting worse and worse. Tried the mirror:
[code]

[2018-03-05 14:14] dhruvdutt commented on #311
Make sure you're using **public** mirrors. Use the ones listed in the official [npm docs](https://docs.npmjs.com/misc/registry#description) and not any other private ones which might need authorization.

Double check which is currently active `npm config get registry`.

You can always do `ping registry.npmjs.org` or `ping skimdb.npmjs.com` to check which responds for your network.

If all of this

[2018-03-05 14:15] JonWallsten commented on #311
It's seems rather random. I'll go ahead and close this. It's obviusly our network. Probably a coincidence that it pointed to webpack-cli.

[2018-03-05 15:42] julmot opened #312 ""webpack -p" removes banner created with webpack.BannerPlugin"
**Do you want to request a *feature* or report a *bug*?** bug

**What is the current behavior?**

A configuration like: https://github.com/julmot/form-components/blob/v0.13.0/build/webpack.config.js#L85 removes the banner in production when called with `webpack -p`. It only works in development.

**If the current behavior is a bug, please provide the steps to reproduce.**

Install [these requireme

[2018-03-05 16:31] montogeek commented on #312
Already reported on https://github.com/webpack/webpack/issues/6630

[2018-03-05 17:13] julmot commented on #312
https://github.com/webpack-contrib/uglifyjs-webpack-plugin/issues/222

[2018-03-05 19:48] olore commented on #306
Relatedly (?) the inclusion of the following is erroring on my build servers because of proxy issues and what not.

[code]

Is there a plan to get this into a published npm package soon? Can I help? /ping @ev1stensberg

[2018-03-05 22:26] kim-10e commented on #161
We just ran into this issue too:

[code]

The workaround to get around this was to manually delete the yeoman-generator entry in our `yarn.lock` file and run yarn again.

Dependencies like these outside of the npm/yarn registries make me super uneasy for a couple of reasons. For one, npm learned the hard way to never allow publicly published packages to be deleted because it breaks dependents, and

[2018-03-06 07:25] JonWallsten commented on #311
@ev1stensberg
FYI: after removing package-lock.json I got stuck on a different package. And after a while I finally got an error message:
[code]

[2018-03-06 07:57] JonWallsten commented on #311
So I guess the upgrade to 2.0.10 was the issue after all:
https://github.com/webpack/webpack-cli/commit/514a695be2fcd0b5502f48ab7694293de3c148c5
Is it possible to add the this without messing up for us behind corp firewalls?
`"yeoman-generator": "github:ev1stensberg/generator#Feature-getArgument"´

[2018-03-06 08:24] HJava commented on #296
I try to install `babel-core`, but the problem isn't solved. It has the same logs.

[2018-03-06 10:05] clairepham91 opened #313 "Cannot install webpack-cli"
I am getting
`An unexpected error occurred: "https://github.com/ev1stensberg/generator.git: getaddrinfo ENOTFOUND github.com github.com:443"`
when running ` yarn add webpack-cli -D`

[2018-03-06 10:36] montogeek commented on #313
Please try again, it was an temporary network error

[2018-03-06 10:38] dhruvdutt commented on #313
@clairepham91 Are you behind a proxy?

[2018-03-06 10:42] dhruvdutt commented on #311
@JonWallsten I'm not sure if this would help but can you add `--verbose` flag while installing `webpack-cli` and show the output?

Seems like this issue is happening only when behind a proxy, and we might need to publish the fork on npm seperately or remove the fork entirely. Related issue #161

[2018-03-06 10:48] JonWallsten commented on #311
I actually solved it a few moments ago.
The proxy I added in the _global git config_ didn't help. Not the proxy in the _.npmrc_ file either.
What did work however was to add _http_proxy_ and _https_proxy_ as system variables on my local machine. I guess running _git_ through _npm_ happens to slip in between proxy settings.

[2018-03-06 10:51] dhruvdutt commented on #311
Interesting. What values did you set for `http_proxy` and `https_proxy` system variables?

Also, can you please close this issue for now? We're already discussing the proxy and fork issue at #161

[2018-03-06 10:54] bponomarenko opened #314 "Cannot install webpack-cli"
I have special setup where I don't have git installed in the same environment, where I have npm. In this setup `webpack-cli` installation fails with the following error:
[code]

Why git is needed for cli installation?

[2018-03-06 10:54] andrewpmontgomery commented on #313
Similar error with `npm install webpack-cli`

[code]

Most corporate networks don't allow ssh, so this will never work. I'll revert to webpack-cli 2.0.9 until this is fixed.

[2018-03-06 10:58] andrewpmontgomery commented on #161
#313

[2018-03-06 11:01] dhruvdutt commented on #314
I think it's because of a fork we're using.

@bponomarenko Can you please close this issue and discuss at #161?

[2018-03-06 11:07] ematipico commented on #161
We can't at the moment because it exposes the `cli` to some vulnerabilities

[2018-03-06 11:08] ematipico commented on #314
Closing, duplicate of #161

[2018-03-06 11:08] #314 closed

[2018-03-06 11:09] clairepham91 commented on #313
@dhruvdutt yes I am

[2018-03-06 11:10] dhruvdutt commented on #313
@clairepham91 This is duplicate of #161. Can you please close this and discuss over there?

[2018-03-06 11:11] ematipico commented on #313
Duplicate of #161

[2018-03-06 11:11] #313 closed

[2018-03-06 11:13] #311 closed

[2018-03-06 11:16] JonWallsten commented on #311
Our corporate proxy servers. I'm just baffled it didn't work with both .npmrc and git config already using them. They are also set under my LAN settings. Still I had to set as system variables. Seems a bit redundant!

[2018-03-06 11:20] ematipico commented on #306
About the local fork, we have an open issue here #161

About the dependencies, it would be nice to have a PR. It shouldn't be too difficult. Help is appreciated!

[2018-03-06 11:23] bponomarenko commented on #314
@dhruvdutt @ematipico Thanks!

[2018-03-06 11:25] bponomarenko commented on #161
I have special setup where I don't have git installed in the same environment, where I have npm. Not having git prevents me from installing webpack-cli at all.

[2018-03-06 11:32] dhruvdutt commented on #161
@ematipico Which vulnerabilities?
I think we were having facing issues like #291 when using the published fork so we reverted to using the fork in #291 which introduces proxy bugs.

[2018-03-06 11:38] olore commented on #306
Thanks @ematipico. Not sure how I missed that one.

Looks like there is already a PR for the dependencies from @billyjanitsch https://github.com/webpack/webpack-cli/issues/309

[2018-03-06 11:43] TomFoyster commented on #182
I'm still unable to `npm install webpack-cli`? Is this meant to have been fixed?

[2018-03-06 11:48] dhruvdutt commented on #182
@TomFoyster Most likely it could be because of #161. There's currently an issue with installation when we're behind a proxy.

[2018-03-06 12:57] LittleJellycat commented on #182
Same issue or my fault?
[code]

[2018-03-06 21:23] ematipico commented on #310
This is now done!

[2018-03-06 21:23] #310 closed

[2018-03-06 21:23] ev1stensberg commented on #310
Awesome work @ematipico ❤️

[2018-03-07 09:07] TomFoyster commented on #182
@dhruvdutt Correct, I found that weirdly if I connected to our VPN I was able to download it without issue!

[2018-03-07 15:47] dhruvdutt opened #315 "init command validations"
**Type**: Feature/bug

**What is the current behavior?**

- When using `init` command, we ask for an entry path file as an input for scaffolding but we don't check if any file actually exists at that path.
- Also, we allow values like `"src/index"` instead of `"./src/index"` which passes silently while scaffolding but causes errors at a later stage when webpack is executed.

**What is the expected

[2018-03-07 17:15] Symphoria commented on #315
Hi! I am new here and would like to contribute. Can I take a crack at this?

[2018-03-07 17:19] dhruvdutt commented on #315
@Symphoria I already starting refactoring a bit locally. We can surely do it together. :v: I'll ping you on Gitter.

[2018-03-07 18:27] Symphoria commented on #315
Got it.

[2018-03-07 20:25] #159 closed

[2018-03-07 23:29] sam-s4s opened #318 "Required git?"
I'm very confused right now.

Firstly - all I need to do is provide a path to webpack... `webpack --config demo/webpack.config.js`. So it seems very silly that in order to do that I need to install a whole other package for webpack.

Secondly - I can't even install webpack-cli, because it requires git to be installed on my machine (and all of my company's other dev boxed and build boxes, which is

[2018-03-07 23:57] kingdaro commented on #318
[It looks like one of the dependencies is a local fork from git.](https://github.com/webpack/webpack-cli/blob/44517fd28041c671dc2486d062386b7d1f6bbaf1/package.json#L111) If we can, would we be able to resolve the issue after removing this, @ev1stensberg ?

[2018-03-08 07:12] #306 closed

[2018-03-08 08:19] ematipico commented on #318
Yeah exactly, you need `webpack-cli` package installed

[2018-03-08 12:31] chrispickford opened #320 "Webpack init trying to use unsupported extract-text-webpack-plugin"
**Type:** Bug

**What is the current behavior?**

Repro steps here: https://stackoverflow.com/questions/49172495/webpack-init-trying-to-use-unsupported-extract-text-webpack-plugin

 1. `dotnew new web`
 2. `yarn init`
 3. `yarn add --dev webpack webpack-cli`
 4. `webpack init`
 5. `webpack`

*Displays the following error message:*

**What is the expected behavior?**

A freshly initialised project

[2018-03-08 12:36] jamsoft commented on #320
I can confirm that I've reproduced this issue.

[2018-03-08 14:03] montogeek commented on #320
We need to use the new version, I could pick this one

[2018-03-08 14:07] ev1stensberg commented on #320
yes

[2018-03-08 15:55] montogeek opened #321 "init command shoult use `src/index.js` as entry module by default"
Feature

**What is the current behavior?**
`init` command does not provide a default value for entry module.
[code]

**What is the expected behavior?**

`init` command should provide a default value `src/index.js` as entry module following webpack itself approach to zero configuration

[2018-03-08 15:55] #262 closed

[2018-03-08 15:57] dhruvdutt commented on #321
Can we discuss this over #315 as it's quite related?

[2018-03-08 16:28] montogeek commented on #315
Completely agree:
1. In the case of entry module it should also specify that your input should be a relative path.
2. We also are not setting `mode` by default, it should setted to `Are you going to use this in production?` answer.
3. It would be great to support a `-y` flag similar to `yarn init -y` flag that provides sensible defaults to all options, making it more compatible with zero configura

[2018-03-08 18:17] ev1stensberg commented on #321
Actually we can leave it blank by default, as 0CJS can handle it

[2018-03-08 18:17] ev1stensberg commented on #320
Fixed in #323

[2018-03-08 18:17] #320 closed

[2018-03-08 18:18] ev1stensberg commented on #318
#323

[2018-03-08 18:18] #318 closed

[2018-03-08 20:42] ematipico commented on #315
Actually, I would propose to prompt to the user if it's ok to override the file. It's just for usability reasons, instead of having an error, delete the file and running the command again, we could do it for them! What do you think?

[2018-03-08 20:56] dhruvdutt commented on #315
@ematipico

Overriding the file with what value? Don't we just need a file to exist at the entry path specified? Why would we need to delete a file?
Are you referring to the entry file or webpack config file?

[2018-03-08 23:26] ev1stensberg commented on #315
Scenario is that people add the file later, so I don't know if we should support it. Makes sense to do `npm init && webpack init`, then add files accordingly.

[2018-03-08 23:28] ev1stensberg commented on #321
Just want to add that prompting that default is `src/index` is good to make sure users understand we're actually setting defaults.

[2018-03-09 06:53] sendilkumarn commented on #315
I have mixed feeling about this. Usability wise it is nice to have. But if we do it, technically it will be a little bit cumbersome and will have one or two edge cases.

I would also like to have this approach in general and let the `addon-authors` to deal with this. And we can very well add it to the readme or show a message when generating (when the files are not there)

[2018-03-09 09:31] mu88 opened #326 "Cannot install webpack-cli via npm"
I'm learning JavaScript and would like to use webpack, so I've installed it via `npm install --save-dev webpack` without any problems.
When executing `node_modules\.bin\webpack webpack.config.js`, it says that I have to install `webpack-cli`, so I ran `npm install webpack-cli -D`. This command takes extremely long for fetching the metadata and fails after approximately one minute with the followin

[2018-03-09 09:38] andrewpmontgomery commented on #326
Same as bugs #311 #313 #314 #318 etc. All tracked under bug #161 . Hopefully will be fixed with PR #323

[2018-03-09 09:40] mu88 commented on #326
Thanks for your quick reply! So is there any way for me to use webpack via CLI right now? Do I have to install a previous version of webpack which does not rely on webpack-cli?

[2018-03-09 10:02] andrewpmontgomery commented on #326
Just install webpack-cli 2.0.9 for now.

[2018-03-09 13:17] dhruvdutt commented on #326
@mu88 You can use `2.0.9` for now but beware of some other issues which were fixed in `2.0.10`. Check the [changelog](https://github.com/webpack/webpack-cli/blob/master/CHANGELOG.md#2010-2018-03-02) to know more.

Also, you can close this issue since we're already tracking it in #161.

[2018-03-09 14:17] ematipico commented on #326
Duplicate of #161

[2018-03-09 14:17] #326 closed

[2018-03-09 15:09] mihir478 commented on #161
I'm getting the following. I believe this is due to a corporate firewall issue but could also be a proxy issue. Anyone else run into this?

λ  yarn add webpack-cli -D
yarn add v1.5.1
[1/4] Resolving packages...
warning webpack-cli > jscodeshift > babel-preset-es2015@6.24.1: �  Thanks for using Babel: we recommend using babel-preset-env now: please read babeljs.io/env to update!
warning webpack-cli

[2018-03-09 15:12] dhruvdutt commented on #161
@mihir478 We've identified this error and the fix should out soon. You can track it at #323.
Thanks for reporting.

[2018-03-09 15:27] ev1stensberg commented on #315
+1

[2018-03-09 15:31] ev1stensberg opened #327 "Documentation: Revise README"
**What is the current behavior?**
The `README.md` says:

The old CLI is removed in webpack, so that's inconsistent.

**What is the expected behavior?**
You can either revise the comment to say that the old CLI arguments is kept, or remove the line (preferable).

## Important

**This ticket is limited to first-time contributors only**

[2018-03-09 15:42] dhruvdutt commented on #327
I would have qualified a couple of weeks ago. :smile:
@Symphoria you wanna crack this up?

[2018-03-09 16:03] bitpshr commented on #327
Happened to be looking at the <kbd>[Good First Contribution](https://github.com/webpack/webpack-cli/labels/Good%20First%20Contribution)</kbd> label a few minutes after this issue was created, so I grabbed it.

[2018-03-09 16:52] EvHaus commented on #287
Why not simply move `jscodeshift` to `devDependencies` instead. Is it really needed for production use?

[2018-03-09 17:07] ematipico commented on #287
Yeah we use to manipulate the AST! It's at the core of the migration feature :)

[2018-03-09 20:03] stevenleija opened #329 "yeoman-generator"
It looks like in 2.0.9 and 2.0.10 that the yeoman-generator has a specific github repo.  We are behind a proxy and connect to a private nexus server.  So this fails when trying to install the latest version of webpack-cli.

"yeoman-generator": "github:ev1stensberg/generator#Feature-getArgument"

[2018-03-09 20:43] ev1stensberg commented on #329
#323 , please use the issue template

[2018-03-09 20:43] #329 closed

[2018-03-10 00:25] #327 closed

[2018-03-10 00:41] #266 closed

[2018-03-10 00:42] #161 closed

[2018-03-10 00:42] ev1stensberg commented on #161
`webpack-cli@2.0.11`

[2018-03-10 00:46] ev1stensberg commented on #236
Linked to #299 , fixing this in next minor version

[2018-03-10 06:14] ankurk91 opened #330 "webpack-cli is 78 mb large package with transitive dependencies"
Hi,

Just upgraded to webpack v4.x and came to know that also need to install `webpack-cli`.
Then i see a big increment on `node_modules` size on hard disk.

See screenshot -
![screenshot from 2018-03-10 11 38 48](https://user-images.githubusercontent.com/6111524/37238973-f12d182c-2457-11e8-8105-79dd3b18f277.png)

Combining webpack 4 + cli takes around 100 mb compared to 33 mb in webpack 3.x

###

[2018-03-10 07:27] jevan0307 opened #331 "init command creates invalid config with multiple bundles"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
When "webpack-cli init" creates config with multiple bundles, the location you input for the entry files are not outputted as string literals in the config and causes error.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

There is a warning indicates that the cre

[2018-03-10 07:29] ev1stensberg commented on #331
You can pass it whatever you'd like, look at the example provided.

[2018-03-10 07:29] #331 closed

[2018-03-10 07:30] ev1stensberg commented on #330
See #261 for work on this. Discussion over there 👍

[2018-03-10 07:30] #330 closed

[2018-03-10 07:38] dhruvdutt commented on #331
You'll need to use quotes in the answer explicitly.

As an enhancement, we could also do it if the quotes are not present.
@ev1stensberg, should we add this to #315?

[2018-03-10 07:40] ev1stensberg commented on #331
With quotes = string, without = function or whatever, so we can't change that.

[2018-03-10 07:49] jevan0307 commented on #331
Yes, but only single quote is valid and it is not what the example hint us.
I am wondering why to make it different from how we create with single entry.

[2018-03-10 07:52] ev1stensberg commented on #331
It does. "example" is a quote, yes? It's how the ast transform is built up, we can't parse functions if we parse them as functions. See: https://github.com/ev1stensberg/webpack-addons-demo#important-with-string-values-you-need-to-wrap-your-strings-once-again-this-is-because-we-can-declare-some-other-functionality-using-only---while--mystring--resolves-to-a-string

[2018-03-10 18:30] dhruvdutt commented on #279
https://github.com/webpack/webpack-cli/blob/2c2e968941ef722d4d6ba0034a4d9811274d8d62/bin/webpack.js#L26

@ev1stensberg Can you please list all bugs with `add` command?

[2018-03-11 15:58] tabrindle opened #334 "Discussion: adding envinfo to webpack-cli and ISSUE_TEMPLATE"
Currently the issue template has the following:

**Please mention other relevant information such as the browser version, Node.js version, Operating System and programming language.**

And yet many issues ignore this or format it differently, because it takes time and effort to get all those versions. Making issues easy to write up and resolve is very important in a high traffic repo like webpack.

[2018-03-11 16:05] vijaykrishnavanshi commented on #321
Made a PR with this change.

[2018-03-11 16:20] vijaykrishnavanshi commented on #321
Doing same for multiple bundle case also would be a good idea.
Thoughts?

[2018-03-11 19:16] dhruvdutt commented on #299
@jesperlandmer @ashclarke Can you output `npm root -g`?

Related PR #332.

[2018-03-11 19:30] dhruvdutt commented on #247
@ev1stensberg Please add "help wanted", "Good First Contribution" tags.

[2018-03-11 19:41] ev1stensberg commented on #247
This is an maintainer issue, cause we need to make sure that the structure and documentation reflects how we want people to contribute. Discussed this in a meeting, @fokusferit can give you the link

[2018-03-11 20:10] grgur commented on #236
Thanks @ev1stensberg

[2018-03-11 20:10] #236 closed

[2018-03-11 21:08] ev1stensberg commented on #334
Agree

[2018-03-12 16:18] d0as8 commented on #299
What is the decision of issue?
(use webpack-cli 2.0.9 and webpack 4.1.1 global)

[2018-03-12 16:32] ashclarke commented on #299
@dhruvdutt - `C:\Users\<user>\AppData\Roaming\npm\node_modules`

[2018-03-12 19:24] ev1stensberg commented on #299
Can you try updating?

[2018-03-13 14:19] Daiz commented on #312
Just ran into this issue myself trying to append a block of text to the top of my bundle with BannerPlugin using `raw: true`. I can't really wrap my raw banner in `/*! */` either because what I'm trying to inject is a [UserScript Metadata Block](https://wiki.greasespot.net/Metadata_Block).

It would really be ideal if BannerPlugin was invoked *after* UglifyJSPlugin, not before.

[2018-03-13 19:08] Pavel-Durov opened #343 "webpack-cli init command - wrong babel configuration generation"
**Reproduction Steps:**
1. Install webpack + webpack-cli
[code]
2. Run webpack-cli init
`webpack-cli init
`
3. Enter the following configurations:

4. Run webpack:
`$ webpack
`

5. Observe cli error:

**Reason:**
Invalid babel configuration:

**Solution:**
change `test: {} ` to `test: /\.js$/`
as stated in babel-loader documentation.

**What is the expected behavior?**
Webpack bundle runs without

[2018-03-13 20:39] ev1stensberg commented on #343
Yes, saw that myself, I'll have a look at it!

[2018-03-14 00:27] #120 closed

[2018-03-14 00:28] #192 closed

[2018-03-14 00:39] #343 closed

[2018-03-14 00:42] ev1stensberg commented on #343
`webpack-cli@2.0.12`

[2018-03-14 02:02] fengyuanchen opened #345 "The `useLocalIp` option is not work as expected."
**Do you want to request a *feature* or report a *bug*?**

- A **bug** if I understand right.

**What is the current behavior?**

When set the `useLocalIp` option, it can open the local ip in browser, but got error: `This site can’t be reached`.

**If the current behavior is a bug, please provide the steps to reproduce.**

1. The local IP is `192.168.0.101` (example).
2. Set the `useLocalIp` optio

[2018-03-14 03:15] ev1stensberg commented on #345
@shellscape

[2018-03-14 03:16] ev1stensberg opened #346 "Google Summer of Code Issue Tracker"
TBD

[2018-03-14 03:23] shellscape commented on #345
@ev1stensberg sorry man, I haven't maintained WDS in 4 months now.

[2018-03-14 08:54] fengyuanchen commented on #345
Sorry, I will close this and open a new one on `webpack-dev-server` project.

[2018-03-14 08:54] #345 closed

[2018-03-14 16:19] jevan0307 commented on #223
@ev1stensberg, are `loaders` and `module` the only major issues with `add` command at the moment? I would like to see if I can contribute something to it.

[2018-03-15 17:43] ev1stensberg commented on #223
Think theres too much lesser flaws with the add command right now to grab single issues. The architecture needs to be simplified in order to benefit from the contribution.

[2018-03-16 15:56] PlayMa256 commented on #289
I'm down to grab this, but i'm not really sure where do i add the flags.
Is this similar to [this](https://github.com/webpack/webpack-cli/blob/master/bin/convert-argv.js#L29)?

[2018-03-16 18:23] montogeek commented on #289
@PlayMa256 No, it is part of the process args, not process environment variables

[2018-03-16 18:25] montogeek commented on #289
You could do something like `argv["max_old_space_size"] = 4096` somewhere.
I believe this shouldn't be part of webpack, it should be handled by the user.

[2018-03-16 18:31] PlayMa256 commented on #289
I expressed myself in a wrong way, sorry for that.
I understand it's not a process args, but i meant to do this the same way that the production mode is handled.
Anyways. You answered my question!
Thank you @montogeek

[2018-03-16 19:51] bitpshr commented on #245
Huge +1 for TypeScript when it comes to building and maintaining a widely-used tool, we wrote Dojo 2 entirely with it. The simple ability to modify a function signature, breaking it's previous API, and to then have all uses of that function immediately fail to compile until fixed, is powerful. I can't think of any reason not to use it other then not introducing additional learning curve for those

[2018-03-16 20:01] bitpshr commented on #155
Working on a PR for this one. Feel free to assign this issue to me.

[2018-03-17 03:45] Legends commented on #245
When doing `webpack-cli init`, it would be nice if one could choos between babe and typescript...

[2018-03-17 03:49] Legends opened #350 "`webpack-cli init` - Support for webpack version 4"
**Do you want to request a *feature* or report a *bug*?**

 - Feature
**What is the current behavior?**
Creates an old starter template for webpack.config.js
**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
CommonsChunkPlugin is deprecated and would not expect it in the template.
Add a question which version of webpack the user wants

[2018-03-18 11:38] EugeneHlushko commented on #350
Not sure it should differentiate version via user input and add an extra level of complexity into the generator, imo just link previous version as you would for installing older webpack in package.json. Whilst i am with you on fixing the writing of webpack4 ready config file including `mode`. If you want i can up a PR @Legends

[2018-03-18 20:07] bitpshr commented on #155
The example usage printed by the CLI is a bit misleading:

[code]

The current implementation always tries to find a configuration file, using either a list of default names (e.g. `webpack.config.js`) or using the path specified for the `--config` CLI option. Regardless of whether a configuration file is actually specified or found, new `entry` points can always be dynamically added using the `web

[2018-03-19 00:51] Legends commented on #350
@EugeneHlushko
I just recently started to get my hands on stuff like node, webpack, different packages I apologize for if I sometimes ask dumb questions :-)...

So when I do `webpack-cli init` how can `webpack-cli` know which version of webpack I will be using?
You mean `npm link` a specific version of webpack in the current project and the `webpack-cli` will know what to generate?

Sure, provide

[2018-03-19 08:26] vladshcherbin commented on #287
This warning are really scary, especially the last ones:

![screen shot 2018-03-19 at 11 24 46](https://user-images.githubusercontent.com/6711845/37584905-43c87056-2b68-11e8-9932-ee3addc56b75.png)

Would be really great to get read of them 🙏

[2018-03-19 09:07] EugeneHlushko commented on #350
@Legends
Latest `webpack-cli` should work by default against current version of webpack (4+). If there is a case where you are using older webpack version lets say `3.10`, you could just specify the older `webpack-cli` version in `package.json` which does support that older `webpack`. Starting to add support for older versions via prompts might just get too messy later on if we keep it in one file

[2018-03-20 01:41] ev1stensberg commented on #155
Send a PR

[2018-03-20 03:40] wood1986 opened #355 "Feature Request: Avoid `const DEBUG = argv.mode || "development" === "development"` in the webpack.config.js"
**Do you want to request a *feature* or report a *bug*?**

feature: Avoid `const DEBUG = argv.mode || "development" === "development"` in the `webpack.config.js`.

**What is the current behavior?**
In my case, debug and release version are sharing the same `webpack.config.js` because most configurations are identical. The only differences are the `devtool` and `output`. I believe other people will

[2018-03-20 10:33] EugeneHlushko commented on #350
@ev1stensberg im on it, pls assign

[2018-03-20 12:19] Legends commented on #350
I use TypeScript and not `Babel`, but when I create a new configuration I get:

[code]

[2018-03-20 13:01] ematipico commented on #350
@EugeneHlushko issue assigned to you :)

[2018-03-20 15:01] arunkumar741 opened #357 "Cannot able to install webpack-cli"
Cannot able to install webpack-cli for react js
this is the snippet I am using to install

npm install webpack-cli -D
or
npm install -g webpack-cli

I am getting these errors
--------------------------------------
$ npm start

The CLI moved into a separate package: webpack-cli.
Please install 'webpack-cli' in addition to webpack itself to use the CLI.
-> When using npm: npm install webpack-cli -D

[2018-03-20 15:31] montogeek commented on #357
Try running `npm install webpack-cli` again

[2018-03-20 15:33] dhruvdutt commented on #357
Can you share a minimum reproducible demo code? or mention steps for it.

[2018-03-20 15:42] arunkumar741 commented on #357
Tried again, got these some errors
--------------------
$ npm install webpack-cli

npm WARN deprecated nomnom@1.8.1: Package no longer supported. Contact support@npmjs.com for more info.
npm WARN saveError EPERM: operation not permitted, rename 'D:\new\Reactdemo\tutpoint\package.json.2870624262' -> 'D:\new\Reactdemo\tutpoint\package.json'
npm WARN tutpoint@1.0.0 No description
npm WARN tutpoint@1.

[2018-03-20 15:47] montogeek commented on #357
`Module not found: Error: Can't resolve './src' in 'D:\new\Reactdemo\tutpoint'`

[2018-03-20 18:39] bitpshr commented on #155
@ev1stensberg see #358.

[2018-03-20 19:12] ev1stensberg commented on #357
Looks like this is a configuration issue. You managed to install it?

[2018-03-20 19:55] QuantumInformation commented on #299
Not sure if this is realted, but if you run `npm i` here https://github.com/quantumjs/solar-popup/tree/master/demo

Then run `webpack-cli` I get
/Users/nikos/.nvm/versions/node/v9.2.0/lib/node_modules/webpack-cli/bin/webpack.js:242
                                throw err;
                                ^

Error: Cannot find module 'webpack'

[2018-03-20 20:15] dhruvdutt commented on #299
@QuantumInformation You missed installing `webpack-cli`. Just do `npm i -D webpack-cli` inside your demo dir and you're set. :100:

[2018-03-20 20:51] QuantumInformation commented on #299
Thx, I now get errors I haven't seen before

WARNING in configuration
The 'mode' option has not been set. Set 'mode' option to 'development' or 'production' to enable defaults for this environment.

ERROR in ../src/SolarPopup.ts
Module not found: Error: Can't resolve 'postcss-loader' in '/Users/nikos/WebstormProjects/solar-popup/demo'
 @ ../src/SolarPopup.ts 3:0-27
 @ ./index.ts

ERROR in ../src/M

[2018-03-20 20:53] QuantumInformation commented on #299
Many thanks for this!

[2018-03-20 21:01] r-wells opened #359 "$ npm install webpack returns "not supported" error"
I'm installing (or attempting to). Using node v8.10.0

I run `$ npm install --save-dev webpack`

and I get back:

[code]

I then run `$ webpack`

and get

[code]

okay so then I run `$ npm install webpack-cli -D`

and get
[code]

and then run `$ webpack` just to see what happens. I get back

[code]

I constructed my webpack.config.js file, it has:

[code]

When I run `$ gulp watch` in chrome and w

[2018-03-20 21:30] dhruvdutt commented on #359
@r-wells I just made a [PR #1](https://github.com/r-wells/travel-agency/pull/1) on your repo fixing all the webpack 4 upgrade issues. There were some breaking changes which I've fixed as well. :100:

Looks like your output file size dropped to 104 KB from 307 KB which is great. :fire:

[2018-03-20 22:04] ematipico commented on #299
Is this still valid?

[2018-03-20 22:07] ematipico commented on #359
Looks like we can close it?

[2018-03-20 22:16] dhruvdutt commented on #299
@ematipico The PR has already merged and issue is resolved.

[2018-03-20 22:17] #359 closed

[2018-03-20 22:17] r-wells commented on #359
Closed - thanks!

[2018-03-21 00:34] PlayMa256 commented on #289
I was having a look how to implement those flags, and i've reached a fork road. I'm not able to override node flag options when a process already started, so i was thinking... spawning a child process passing down v8 flags would be a cumbersome idea or is there a way (i actually dont know any...) to update v8 flags when a process already started?

What do you all think?

[2018-03-21 02:07] Legends opened #361 "`webpack` without config fails"
**Do you want to request a *feature* or report a *bug*?**

Bug in API or Docs [(referenced SO issue)](https://stackoverflow.com/questions/49377170/module-not-found-error-cant-resolve-hello-bundle-js-in-d-webpackdemo)

**What is the current behavior?**

The [documentation](https://webpack.js.org/api/cli/#usage-without-config-file) says:

We do: `webpack ./hello.js   hello.bundle.js`

**But we get:*

[2018-03-21 07:34] montogeek commented on #361
What if you remove `./` from the entry?

[2018-03-21 07:38] ev1stensberg commented on #350
@Legends can't you just use file read at the location `package.json`?

[2018-03-21 07:39] ev1stensberg commented on #155
Closed via #358

[2018-03-21 07:39] #155 closed

[2018-03-21 07:39] ev1stensberg commented on #299
Friendly ping @jesperlandmer

[2018-03-21 07:54] ev1stensberg commented on #289
Getting back to you on this. This might not be possible without invoking `node ./path/to/webpack`

[2018-03-21 08:17] jesperlandmer commented on #299
Don’t know! I think the main issue has to do with Vagrant and how Vagrant handles global values. I had several problems with other dependencies as well (e.g. Firebase). Staying with docker from now on

[2018-03-21 12:01] Legends commented on #361
It's not a resolution error. The result is the same if I remove `./`. It's a small and simple gist. Try it out..

[2018-03-21 12:07] Legends commented on #361
When downloading/cloning the gist, you have to try it this way, after installing deps:

1. `webpack ./hello.js hello.bundle.js` <-- fails
2. `webpack hello.js -o hello.bundle.js` <-- succeeds and generates hello.bundle.js
3. `webpack ./hello.js hello.bundle.js` <-- succeeds
4. Now delete `hello.bundle.js` created in step 2 and repeat step 3
    `webpack ./hello.js hello.bundle.js`  <-- fails, it e

[2018-03-21 12:11] montogeek commented on #361
Yes, looks like it is not longer supported to pass entry separated by a space, it is clearly a documentation dsync, because CLI clearly says you have to pass `-o`: https://github.com/webpack/webpack-cli/blob/master/bin/webpack.js#L55

I will update webpack docs

[2018-03-21 12:13] montogeek commented on #361
Relevant PR https://github.com/webpack/webpack-cli/pull/227

[2018-03-21 13:08] Legends commented on #350
@EugeneHlushko  Thanks for the clarification

[2018-03-21 13:08] #350 closed

[2018-03-21 13:10] Legends commented on #350
@ev1stensberg Sorry, what do you mean?

[2018-03-21 15:41] PlayMa256 commented on #355
The same time it makes sense, reducing boilerplate, it's more like an improvement over development experience, this should be discussed a little further by the community but I'm going to input my arguments here.

Usually to differentiate `development` and `production` config files developers usually relies on `process.env.NODE_ENV` to manage which config should be applied and this should be declar

[2018-03-21 16:40] ev1stensberg commented on #350
nvm

[2018-03-21 17:40] arunkumar741 commented on #357
No, not yet, still the same issue.

I tried to install webpack from this link
[https://www.tutorialspoint.com/reactjs/reactjs_environment_setup.htm](url)

This is my webpack.config file

var config = {
   entry: './main.js',
   output: {
      path:'/',
      filename: 'index.js',
   },
   devServer: {
      inline: true,
      port: 8080
   },
   module: {
      loaders: [
         {

[2018-03-21 17:56] PlayMa256 commented on #357
From your last message: `Module not found: Error: Can't resolve './src' in 'D:\new\Reactdemo\tutpoint`

Webpack by default, without a configuration file, defaults to `./src`, but as your config showed, it's `./main.js`.

Following `webpack-dev-server` docs, you can pass the config file to it. `webpack-dev-server --config /path/to/your/webpack.config.js`. You might also neeed to [configure ](https:

[2018-03-21 18:03] dhruvdutt commented on #357
Other than what is mentioned^, you'll need to change ~module.loaders~ to module.rules and install `webpack-cli` as well

[2018-03-22 14:01] guahanweb commented on #299
@ev1stensberg and @jesperlandmer, I'm having the same error when I try to run webpack-cli within a docker container. Oddly enough, the error is:
[code]

In my case, I am actually installing `webpack` and `webpack-cli` globally within the container as a precaution (issue started when referencing the locally installed `./node_modules/.bin/webpack` binary). I have both installed globally on my machin

[2018-03-23 02:15] ev1stensberg commented on #245
@cspotcode thanks. Think this sways majorly in favor for TypeScript, so we're going to implement that.

[2018-03-23 08:59] ematipico commented on #245
We started a draft about a graceful implementation of TypeScript together with @dhruvdutt
We can takeover what was done with Flow, especially the interfaces, adapt it to TypeScript and from there beginning a transition

[2018-03-23 19:06] EugeneHlushko commented on #321
I am not sure you want to add something that is already default, i actually omited it in one of my PR earlier: https://github.com/webpack/webpack-cli/pull/356/files#diff-1b2b84fcd9935ef62f04b2ffd905d2c6R86

[2018-03-24 07:29] dhruvdutt commented on #357
@arunkumar741 Could you make it work? If yes, please close the issue.

[2018-03-24 09:16] ev1stensberg opened #367 "Tests: Use NPM CI for Tests"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

In our tests ( `appveyor` and `travis` ), we're using npm and not npm ci.

**If the current behavior is a bug, please provide the steps to reproduce.**

[NPM CI](https://docs.npmjs.com/cli/ci) is a version of npm that runs on the CI ( faster ), which will increase feedback loop.

## These are the

[2018-03-24 09:17] ev1stensberg commented on #357
Please submit this issue at Stack Overflow, and point us to the link if you need help. 👍

[2018-03-24 09:17] #357 closed

[2018-03-24 15:37] #334 closed

[2018-03-24 18:01] FadySamirSadek commented on #367
I would love to pick this one up

[2018-03-25 13:25] ematipico commented on #367
Can be closed

[2018-03-25 13:25] #367 closed

[2018-03-27 01:53] Legends commented on #361
Merged...

[2018-03-27 01:53] #361 closed

[2018-03-28 10:29] okonet commented on #299
Same issue with the global install.

`npm install -g webpack-cli` and running `webpack-cli` throws:

[code]

[2018-03-28 10:36] okonet commented on #299
Actually happens with the local setup as well:

`npm install --dev webpack-cli` and `webpack-cli` throws

[code]

I think it's related to the webpack version. I'm installing CLI to migrate the project from 1.x to 4.x and I see this

`warning " > webpack-cli@2.0.13" has incorrect peer dependency "webpack@^4.0.0".`

I'm not sure why it is even installing it in this case...

[2018-03-28 10:39] okonet commented on #299
Downgrading to `1.x` doesn't help either:

`npm install --dev webpack-cli@1.x && webpack-cli` throws:

[code]

[2018-03-28 10:41] dhruvdutt commented on #299
What environment is it? I can't reproduce it locally. :thinking:

Also, make sure when you do `webpack-cli --dev`, you run it with `npx webpack-cli` else it might get resolved from your global node_modules.

[2018-03-28 10:48] okonet commented on #299
@dhruvdutt the problem goes away after upgrading webpack to 4 (I guess anything greater than 1).

[2018-03-28 10:50] okonet commented on #299
@dhruvdutt I just tried with `npm` and webpack@4 installed:

[code]

[2018-03-28 10:55] dhruvdutt commented on #299
Can you make a reproducible demo(zip) along with steps?
I think there's something wrong with the installation or running of commands.

[2018-03-28 15:23] FadySamirSadek commented on #206
I would like to help work on this , will check closed PRs and follow up from there

[2018-03-28 21:09] jkanczler opened #370 "Question: --jsonForString flag to get json that can be used in jsonToString without ignoring --display options"
**Do you want to request a *feature* or report a *bug*?**
I would like to request a new feature.

**What is the current behavior?**
In case of `--json` and `--display "none"` flags, the modules are written out into the JSON.

**What is the expected behavior?**
Add a `--jsonForString` flag, that won't ignore any display options.

**If this is a feature request, what is motivation or use case for ch

[2018-03-28 23:15] FadySamirSadek commented on #206
@ev1stensberg since there has been changes in the master branch and no new commits have been added to the V2 branch should I still base my branch on v2 or use master instead ?

[2018-03-29 02:57] ev1stensberg commented on #206
Use master

[2018-03-29 04:06] JonathanZWhite commented on #299
@okonet @dhruvdutt I'm running into this issue as well.

[code]

It seems this issue is caused by `webpack.development.js` not being able to find my local `npm_modules` version of `webpack`. I think this is the case because when I run `webpack` without `--config` it runs, although it does throw an unrelated compile error. However, when I look in `node_modules` `webpack` is missing, despite running

[2018-03-29 07:18] ev1stensberg commented on #299
Maybe something fishy with how the cli resolves, I'll check it out

[2018-03-29 17:45] Thommas commented on #299
Same problem here on Ubuntu 17. Should we install locally instead of globally ? Might be the temporary fix...

[2018-03-31 02:57] FadySamirSadek commented on #206
@ev1stensberg I think this issue was solved at #218 and should be closed , please tell me if there is anything more to be done 😉

[2018-04-01 04:03] ev1stensberg commented on #206
It wasn't. Webpack and its 0CJS and that PR collided, so we reverted it

[2018-04-05 01:25] ev1stensberg commented on #299
Could you try to install `webpack-cli@2.0.14`? Does the error persist?

[2018-04-05 02:25] ev1stensberg commented on #299
`npx webpack` or CLI doesn't work, maybe @zkat has some tips regarding using IIFE & prefering locally installed packages?  The error is from here: https://github.com/webpack/webpack-cli/blob/master/bin/webpack.js#L11-L15

[2018-04-05 12:26] ematipico commented on #370
Is the feature still valid? Noticed that the linked issue has been closed

[2018-04-05 12:31] ematipico commented on #355
Assuming that we use one single file to support development and production, I usually tend to use `NODE_ENV` to separate the two environments.

The idea is nice but I wonder how we should get the information about the environment?

[2018-04-05 12:33] ematipico commented on #312
Hi @julmot, it looks like the issue is resolved. Can we close it?

[2018-04-05 12:35] jkanczler commented on #370
Maybe or maybe not. In case of the `--json --display "none"` arguments, the modules are included into the JSON output. But in case of the `--json --display "minimal"` arguments, just the count of the modules. What's the intention behind it? For me, in case of the webpack-vsts-extension (it's a Visual Studio Team Services extension that can execute the webpack-cli and log useful things in the build

[2018-04-05 12:43] PlayMa256 commented on #355
From the `--mode`? We must assume a lot of things, but this is something we cannot assume at first. The developer has to give us some clue of what he is doing. It is expected to have `--mode production` if one is building for prod.

[2018-04-05 12:45] julmot commented on #312
@ematipico yes

[2018-04-05 12:45] #312 closed

[2018-04-05 13:34] ematipico commented on #355
Yes, this means that we have to ask to the user how he wants to keep track of the environment:
* `NODE_ENV`
* `--mode` (assuming that `webpack` exposes it)
* another way that is custom

[2018-04-05 13:44] ematipico opened #373 "Migrate and init should move to mini-css-extract-plugin"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
At the moment, when migrating or initiating a new configuration `ExtractTextPlugin` it still  uses `ExtractTextPlugin`. `ExtractTextPlugin` should become `MiniCssExtractPlugin`

**What is the expected behavior?**
The `cli` should ask it the user wants to migrate to v3 or v4 of webpack. If v4, it sh

[2018-04-05 14:05] PlayMa256 commented on #355
I do agree. In the PR opened related to this #351 wood1986 was able to use the mode exposed by the user. Although that can fail since the user cannot pass a mode to CLI but can put that into the config file.

And yea, you right. We could ask the user on that...

[2018-04-05 14:42] ematipico commented on #355
@wood1986 what do you think? Asking to the user how to track the environment would allow to us make the two logic (`NODE_ENV` and `--mode`) to coexist

[2018-04-05 17:00] jevan0307 opened #374 "init command should create config with mini-css-extract-plugin"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
The init command creates config with `extract-text-webpack-plugin` to extract CSS into separate files when used in production. However, it should use `mini-css-extract-plugin` since ETWP no longer supports `webpack@4`.

**What is the expected behavior?**
Use `mini-css-extract-plugin` instead of  `e

[2018-04-05 17:17] PlayMa256 commented on #289
is there a way to run a single test only? A single binary test?

[2018-04-05 18:06] PlayMa256 commented on #373
Do we want to keep v1->v2 migration or deprecate them and have just v3->v4?

[2018-04-05 21:01] ematipico commented on #373
Honestly I'd propose a breaking change and going straight from v3 to v4

[2018-04-05 21:03] ematipico commented on #289
Not at the moment :(

[2018-04-06 00:01] bitpshr commented on #373
I can work on this feature if no one else has started it.

[2018-04-06 07:36] wood1986 commented on #355
@ematipico I know `--mode` scenario but I do not know the `NODE_ENV`. Are you talking about some people run two separate commands like this?
[code]
Or some people add `process.env.NODE_ENV = 'production';` in the `webpack.config.js`

I assume all `"webpack": "^4.0.0`  users would use this single line command `webpack --mode` to build the app. Additionally, there is a warning message for users who

[2018-04-06 08:03] ematipico commented on #355
Yes something like this, or a command such as
[code]

But yeah the result is the same.

Looking better and the documentation of `--mode`, I can see that webpack **already does set the environment variable`, so at this point I make up my mind and I think should stick with just `--mode`.

We are basically doing the same thing twice.

Although if we want to implement this feature, we will have to imp

[2018-04-06 09:27] bitpshr commented on #355
It seems like this issue and the [original PR](https://github.com/webpack/webpack-cli/pull/351) were intended to ease the burden of having to conditionally configure many different rules based on an environment variable, e.g. `'stats': process.NODE_ENV.development ? 'verbose' : 'minimal'`.

While I'm in favor of this change, adding CLI support for `--mode` doesn't directly solve this issue. For ex

[2018-04-06 09:52] darrenparkinson commented on #299
I was having the same issue in Docker, but only on Mac and Linux.  Windows was fine.

As a temporary fix, I have had to add webpack and webpack-cli to the "dependencies" section in package.json (rather than just the devDependencies section).

I tried many different combinations in the dockerfile to install webpack during the build, but none of them worked except for this.

[2018-04-06 18:26] webpack-bot opened #375 "Add support for webpack.config.mjs"
**Do you want to request a *feature* or report a *bug*?**
Feature.

**What is the current behavior?**
Fails with the following exception.  I didn't get a chance to debug into it.  Does this live here or webpack-cli?
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Create `webpack.config.mjs` to learn about the new node experimental modules.
2. Run `node --exp

[2018-04-06 18:28] montogeek commented on #375
@joshunger I don't know if it is possible to change between `require` and `import` by checking that flag.

Mean while you can use https://github.com/standard-things/esm

[2018-04-06 18:35] nadiasvertex opened #376 "Dependency on broken babylon-7.0.0-beta package"
We recently tried to upgrade to webpack 4.5.0. That requires webpack-cli, and all version of webpack-cli that we tried have some eventual dependency on babylon-7.0.0, which we can't get. Below is the log (note that the address is our internal NPM cache, but we get the same problem without it.)

[code]

[2018-04-06 18:39] montogeek commented on #376
@nadiasvertex Are you using a custom npm registry or something?

[2018-04-06 18:51] nadiasvertex commented on #376
As I mentioned, we had an internal proxy. But I tried it without the proxy and got the same error.

[2018-04-06 19:05] montogeek commented on #376
Run `yarn why babylon` and post the output

[2018-04-07 05:01] ev1stensberg commented on #374
#373

[2018-04-07 05:01] #374 closed

[2018-04-07 05:02] ev1stensberg commented on #375
#282

[2018-04-07 05:02] #375 closed

[2018-04-07 05:05] ev1stensberg commented on #355
Using `NODE.ENV` is the best way, as the ecosystem in general relies on that variable to split dev and production builds/code.

[2018-04-07 05:05] #355 closed

[2018-04-07 07:47] Legends opened #378 "Webpack examples"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**

- missing module: uri-js
- Argument: mode, Given: "none", Choices: "development", "production"

**If the current behavior is a bug, please provide the steps to reproduce.**

In order to run the webpack examples I need to link webpack-cli.
[code]

[code]

**webpack-cli repo**^
Have to install `uri-js`

[2018-04-07 08:08] wood1986 commented on #355
Did @bitpshr really understand real difference?

```webpack.mode === 'development' ? 'verbose' : 'minimal'``` vs
```webpack.mode.DEVELOPMENT ? 'verbose' : 'minimal'```

I have been saying so many time we should not have the predicate statement and we just need a `boolean` flag.

I assume @ev1stensberg are talking about the `cross-env`. `"webpack": "^4.0.0` has introduced `--mode`. According to the

[2018-04-07 08:13] wood1986 commented on #355
I assume @ev1stensberg are talking about the `cross-env`. `"webpack": "^4.0.0` has introduced `--mode`. According to the [release log](https://github.com/webpack/webpack/releases/tag/v4.0.0),

and the warning message of without specifying `--mode`. You should use `--mode`. Thus, you do not need `cross-env`.

[2018-04-07 11:14] cnelson9000 commented on #355
These two examples are almost identical. I think they understand the difference but it’s just not a big issue. A boolean check instead of a string check saves 5 characters...just use `—mode` and `NODE_ENV` like @ev1stensberg and @bitpshr are saying with 4.x.

[2018-04-07 15:26] wood1986 commented on #355
It is about not only the characters but also the warning message if you use NODE_ENV only.

[2018-04-08 07:44] ematipico commented on #373
@bitpshr Thanks! You can pick it up! Consider that half of the job is already done here #363
You'd just need to work on the migrate part

[2018-04-08 08:09] pmaher commented on #299
I was getting the same error described in the initial comment.  (I'm using a mac with webpack version ^4.5.0 and webpack-cli version ^2.0.14)

I tried a few things all of which didn't work for me:
1) Used the global version of webpack + webpack-cli (uninstalling the local copies)
2) Adding webpack + webpack-cli  to the "devDependencies" section of my package.json and uninstalling the global versio

[2018-04-08 15:38] tony commented on #299
I had this happen, similar to the experience here: https://github.com/webpack/webpack-cli/issues/299#issuecomment-376839242

I use yarn. And yarn workspaces.

But the gist of it is I made sure webpack and webpack-cli were both in package.json. 4.5.0 and 2.0.14 worked for me. Locally installed (not ``npm i -g``)

I invoke webpack via ./node_modules/.bin/webpack (normal for me, since 3.x)

And, when

[2018-04-08 17:39] Legends commented on #378
@ematipico @sokra
This [PR](https://github.com/webpack/webpack-cli/pull/278) from sokra was merged, but is not part of master anymore?

Is it possible to remerge it?

[2018-04-08 17:56] Legends commented on #378
Btw. `code-splitted-css-bundle` example is empty, means only a readme.md exists...

[2018-04-08 20:32] ematipico commented on #378
We must have had some problems with other PR. You can make I PR to restore it if you can

[2018-04-08 20:35] Legends commented on #378
It's a little effort to merge it back again, but it would be good to know why it was deleted... any open issue?

[2018-04-09 00:13] PlayMa256 commented on #373
@bitpshr yes, we are creating a break change here. V3->V4. Yes again, Change `extract-text` to `mini-css`

[2018-04-09 08:39] ematipico commented on #378
Looking at the history of the file, it looks like we lost that commit. I am going to restore it and make a PR from that branch

[2018-04-09 12:41] bitpshr commented on #373
Thanks @ematipico and @PlayMa256. I've completed an [initial upgrade](https://github.com/webpack/webpack-cli/compare/master...bitpshr:feature/v3-v4-extract-migrate?expand=1) of the `ExtractTextPlugin` transformation on my branch. It now transforms v3 configuration to v4 instead of v1 to v2.

Was the intention to use this issue / PR to track all other transformation upgrades as well, or should I su

[2018-04-09 12:46] PlayMa256 commented on #373
Just open a pr for this. Since this issue just refeers to `miniCss` lets stick with that. If any other transformations are required, we can open more.

[2018-04-09 12:54] ematipico commented on #373
After an internal discussion about the `migrate`, where the intention is to _migrate the configuration always the most up to date version_, so in this case `webpack 4`, I think that a breaking change is not necessary and we should move straight to `MinCssExtractPlugin`. What do you guys think?

[2018-04-09 12:58] PlayMa256 commented on #373
Well, this is sort of a "breaking change" anyways, since we are removing the option to migrate to older versions. And yes, i started touching onto some files, but bitshr already said he would like to work, so i let him do that. My initial idea was to remove the `extractTextPlugin` folder and have just a `miniCssExtractPlugin` folder and in there all these transformations. In this way it would be m

[2018-04-09 13:02] bitpshr commented on #373
@ematipico @PlayMa256  I agree that we should always migrate to v4, but do we support migrating from v1 -> v4, v2 -> v4, and v3 -> v4, or just v3 - v4? If we decide to make our transformations be able to upgrade _any_ previous version to the latest version, the AST logic will get incredibly complex.

I vote that we move to actively support upgrading the previous version to the latest version, so v

[2018-04-09 13:04] PlayMa256 commented on #373
I made the same question, when i first read this issue. @ematipico answer was:

You comment resonates with what he said, and i do agree too. Let's just support newest versions of the `webpack` config, otherwise the whole migration folder would be such a mess.

[2018-04-09 13:57] #378 closed

[2018-04-09 14:29] bitpshr opened #382 "Update transformation: bannerPlugin"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
The current transformation supports migrating a webpack configuration from `v1` to `v2`.

**What is the expected behavior?**
The transformation should support migrating a webpack configuration from `v3` to `v4`.

**If this is a feature request, what is motivation or use case for changing the behavi

[2018-04-09 14:30] bitpshr opened #383 "Update transformation: loaderOptionsPlugin"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
The current transformation supports migrating a webpack configuration from `v1` to `v2`.

**What is the expected behavior?**
The transformation should support migrating a webpack configuration from `v3` to `v4`.

**If this is a feature request, what is motivation or use case for changing the behavi

[2018-04-09 14:30] bitpshr opened #384 "Update transformation: loaders"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
The current transformation supports migrating a webpack configuration from `v1` to `v2`.

**What is the expected behavior?**
The transformation should support migrating a webpack configuration from `v3` to `v4`.

**If this is a feature request, what is motivation or use case for changing the behavi

[2018-04-09 14:30] bitpshr opened #385 "Update transformation: outputPath"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
The current transformation supports migrating a webpack configuration from `v1` to `v2`.

**What is the expected behavior?**
The transformation should support migrating a webpack configuration from `v3` to `v4`.

**If this is a feature request, what is motivation or use case for changing the behavi

[2018-04-09 14:30] bitpshr opened #386 "Update transformation: removeDeprecatedPlugins"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
The current transformation supports migrating a webpack configuration from `v1` to `v2`.

**What is the expected behavior?**
The transformation should support migrating a webpack configuration from `v3` to `v4`.

**If this is a feature request, what is motivation or use case for changing the behavi

[2018-04-09 14:31] bitpshr opened #387 "Update transformation: removeJsonLoader"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
The current transformation supports migrating a webpack configuration from `v1` to `v2`.

**What is the expected behavior?**
The transformation should support migrating a webpack configuration from `v3` to `v4`.

**If this is a feature request, what is motivation or use case for changing the behavi

[2018-04-09 14:31] bitpshr opened #388 "Update transformation: resolve"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
The current transformation supports migrating a webpack configuration from `v1` to `v2`.

**What is the expected behavior?**
The transformation should support migrating a webpack configuration from `v3` to `v4`.

**If this is a feature request, what is motivation or use case for changing the behavi

[2018-04-09 14:31] bitpshr opened #389 "Update transformation: uglifyJsPlugin"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
The current transformation supports migrating a webpack configuration from `v1` to `v2`.

**What is the expected behavior?**
The transformation should support migrating a webpack configuration from `v3` to `v4`.

**If this is a feature request, what is motivation or use case for changing the behavi

[2018-04-09 14:33] bitpshr commented on #373
Sounds good to me. PR submitted for the `ExtractTextPlugin` transform. Issues opened for remaining transforms as well.

[2018-04-09 16:57] ematipico opened #391 "[Feature] Read the types of mode available from webpack"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
At the moment the available type of `--mode` are hardcoded

**What is the desired behavior?**
The `cli` should retrieve/read the available type of `--mode` from `webpack`

**If this is a feature request, what is motivation or use case for changing the behavior?**
To make the `cli` less hardcoded an

[2018-04-09 17:11] PlayMa256 commented on #391
I can do that. They are found at the schemas file, right? I found them there, just want to make sure it is the right place.

[2018-04-09 17:24] PlayMa256 commented on #391
I'm just restesting another pr, i will do that!

[2018-04-10 12:14] ematipico opened #393 "Feature: Migrate should move CommonsChunkPlugin to SplitChunksPlugin"
**Do you want to request a *feature* or report a *bug*?**
Feature.

**What is the current behavior?**
At the moment migrate does nothing when it encounters `CommonsChunkPlugin`

**What is the expected behavior?**
It should migrate to `SplitChunksPlugin`

**If this is a feature request, what is motivation or use case for changing the behavior?**
`CommonsChunkPlugin` is now deprecated in `webpack` v

[2018-04-10 12:25] dhruvdutt commented on #393
I can pick this up. :hand:

[2018-04-10 12:32] ematipico commented on #393
Great! That was quick

[2018-04-10 12:39] ematipico opened #394 "[Feature] Migrate should move NamedModulesPlugin to optimizations.namedModules"
**Do you want to request a *feature* or report a *bug*?**
Feature.

**What is the current behavior?**
At the moment migrate does nothing when it encounters `NamedModulesPlugin `

**What is the expected behavior?**
It should migrate to optimizations.namedModules

**If this is a feature request, what is motivation or use case for changing the behavior?**
`NamedModulesPlugin` is now changed in `webpa

[2018-04-10 12:43] PlayMa256 commented on #387
Tested and the current migration process already does that.

[2018-04-10 12:45] PlayMa256 commented on #384
To be more clear, is this issue referring to [this](https://webpack.js.org/guides/migrating/#module-loaders-is-now-module-rules)? If so, it already does that too.

[2018-04-10 12:51] ematipico opened #395 "[Feature] Migrate should move NoEmitOnErrorsPlugin to optimizations.noEmitOnErrors"
**Do you want to request a *feature* or report a *bug*?**
Feature.

**What is the current behavior?**
At the moment migrate does nothing when it encounters `NoEmitOnErrorsPlugin `

**What is the expected behavior?**
It should migrate to optimizations.noEmitOnErrors

**If this is a feature request, what is motivation or use case for changing the behavior?**
`NoEmitOnErrorsPlugin ` is now changed in

[2018-04-10 12:52] ematipico commented on #393
No, just changing the name is not enough. It's a complete different section of the configuration

https://webpack.js.org/plugins/split-chunks-plugin/#optimization-splitchunks

[2018-04-10 12:55] montogeek commented on #393
@dhruvdutt First change is its name, second step is play a lot with all its options until it fits CCP behaviour, if you discover something new share it on webpack.js.org docs!

[2018-04-10 12:55] ematipico opened #396 "[Feature] Migrate should move ModuleConcatenationPlugin to optimizations.concatenateModules"
**Do you want to request a *feature* or report a *bug*?**
Feature.

**What is the current behavior?**
At the moment migrate does nothing when it encounters `ModuleConcatenationPlugin `

**What is the expected behavior?**
It should migrate to optimizations.concatenateModules

**If this is a feature request, what is motivation or use case for changing the behavior?**
`ModuleConcatenationPlugin ` is

[2018-04-10 12:59] ematipico commented on #382
Is this changed from webpack 3 to 4? I don't think so

[2018-04-10 16:00] bitpshr commented on #396
I can take this since I've been working on the migrate code for #390.

[2018-04-10 16:01] bitpshr commented on #395
I can take this since I've been working on the migrate code for #390.

[2018-04-10 16:14] PlayMa256 commented on #389
i'm working on this!

[2018-04-10 16:30] ematipico commented on #389
Thanks!

[2018-04-10 16:58] PlayMa256 commented on #389
Quick question though, i could not find in the docs.

If i want to customize how the minification should work (add parameters, etc), i should use `optimization.minimizer: [new Uglify({...opts}]`?

[2018-04-10 20:08] montogeek commented on #389
@PlayMa256 Yes

[2018-04-11 14:00] PlayMa256 commented on #389
@montogeek thanks, good to know where i can find things! now i can go straight there.

[2018-04-11 17:23] ev1stensberg opened #397 "[BUG] Single entry should support adding path, process and non-string options"
**What is the current behavior?**
`Which module will be the first to enter the application? [example: './src/index']` should allow us to write `path.join` and similar, like we can do with [multiple entries](https://github.com/webpack/webpack-cli/blob/master/lib/generators/utils/entry.js#L35-L46).

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Run `webpack-cli init

[2018-04-11 23:48] bitpshr commented on #394
I'll take this one.

[2018-04-12 12:03] ematipico commented on #387
Thanks @PlayMa256 for your help! Will close so, as this property didn't change

[2018-04-12 12:03] #387 closed

[2018-04-12 12:56] PlayMa256 commented on #382
@ematipico Nop, it is not from v3 to v4.
[This](https://github.com/webpack/webpack/blob/fde018300aa52262c384e937c408d5dd97d62951/test/configCases/plugins/banner-plugin/webpack.config.js#L15) example was updated a long time ago. Seems that this is from v1->v2.

[2018-04-12 13:06] PlayMa256 commented on #388
This is for v2->v3, which is also present in [here](https://webpack.js.org/migrate/3/#resolve-root-resolve-fallback-resolve-modulesdirectories). Issue can be closed. Also, folder can be deleted (?)

[2018-04-12 13:33] PlayMa256 commented on #386
Plugins to be removed:
- [ ] webpack.optimize.CommonsChunkPlugin
- [ ] webpack.optimize.UglifyJsPlugin (which is done by #401 )

[2018-04-12 17:31] #382 closed

[2018-04-13 08:41] ev1stensberg commented on #287
@vladshcherbin this is on jscodeshift, they're delaying, hopefully it will be gone soon.

[2018-04-13 10:35] #385 closed

[2018-04-13 10:39] ematipico commented on #386
* `CommonsChunkPlugin` is not deprecated but it's been changed in favor of `splitChunks`, which is covered already in another PR
* not deprecated but changed

I don't think we have plugins have been totally removed.

[2018-04-13 12:07] PlayMa256 commented on #386
Yep, if forgot we have a PR open for split chunks too. I just updated my comment. We can close this i guess

[2018-04-13 13:11] #386 closed

[2018-04-13 20:00] dmbfm commented on #296
Adding `babel-core` bridge does not solve this. The problem is still present.

[2018-04-13 22:43] bitpshr commented on #383
I will triage this one to see if we need any changes.

[2018-04-14 08:46] ematipico commented on #296
Thing is that `cli` doesn't have any dependency from Babel. It's a dep of a dep, `jscodeshift` if we want to be more specific. Now I wonder if this is an issue related to that library

[2018-04-14 17:26] EugeneHlushko opened #404 "[Feature]: Init command's splitChunks caching group generation per provided entry"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**
it doesnt output caching group per entry provided

**If the current behavior is a bug, please provide the steps to reproduce.**
after #356 is merged
use `webpack-cli init` and provide multiple entries
Observe splitChunks plugin declaration doesnt add caching group per entry

**What is the expected

[2018-04-15 02:52] bitpshr commented on #388
PR submitted for the removal of this transformation.

[2018-04-15 02:52] bitpshr commented on #384
PR submitted for the removal of this transformation.

[2018-04-15 02:52] bitpshr commented on #383
PR submitted for the removal of this transformation.

[2018-04-15 12:25] #394 closed

[2018-04-15 12:25] #395 closed

[2018-04-15 12:25] #396 closed

[2018-04-15 13:04] cloakedninjas commented on #299
Ran into this myself just now, none of the comments above have helped... Looking for clarification...

- Is `-g` not recommended ?

[code]

[2018-04-15 13:31] ev1stensberg commented on #299
Webpack-cli will try to default to your local installation, which makes the error appear. I'll try to push a fix to this as soon as possible.

[2018-04-15 14:46] ematipico commented on #404
We've ready to proceed with this one now

[2018-04-16 12:10] ajmald commented on #299
I just did npm install and it worked for me
I previously did updated my node and npm, here’s my configuration

Ajmals-MacBook-Pro:React ajmal$ node -v
v9.11.1
Ajmals-MacBook-Pro:React ajmal$ npm -v
5.8.0
Ajmals-MacBook-Pro:React ajmal$ webpack -v
4.5.0
Ajmals-MacBook-Pro:React ajmal$ webpack-cli -v
2.0.14

Ajmals-MacBook-Pro:React ajmal$ **npm install**

[fsevents] Success: "/Users/ajmal/Desktop/D

[2018-04-17 12:07] ev1stensberg commented on #299
@ajmald Works when you don't sandbox the cli or webpack. Problems are when combined with other tools that rely on symlinks. As mentioned previously, we have an IIFEE for the entire bin file in order to use return inside it without exiting the process.

I'll try to find out what we need to change in order to fix the issue, might take a couple of days though.

[2018-04-17 12:37] PlayMa256 commented on #152
The idea here is not to create an "usual" `MAKEFile` (which perform different tasks, almost like a `npm` replacement), but a `MAKEFile` which only builds again if the files had changed? (here we have to deal with files changing content, but no more files being added). If you could make the requirements a little bit more clear, i can totally work on this!

[2018-04-17 12:58] ev1stensberg commented on #152
Yep i think you described it right. No rebuild if no files have changed. Similar to how the makefile works in GCC/ for C projects. Have a look at the specification there.

[2018-04-17 17:34] evilebottnawi commented on #245
Flow :+1:

[2018-04-17 22:27] rossipedia opened #407 "Warning message says --mode=none is supported, but using --mode=none produces error"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Running without `--mode` results in a warning that includes a message about using `--mode=none`:

[code]

Yet running with `--mode=none` produces the `--help` text, followed by this message:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the e

[2018-04-18 06:10] ev1stensberg commented on #299
Anyone here having a confident reproduction of this error? Could you give me a repository?

[2018-04-18 06:24] anlaakso commented on #296
It seems that `yarn add babel-register@7.0.0-beta.3` or `npm install babel-register@7.0.0-beta.3` may help. At least it works for me.

[2018-04-18 09:05] #397 closed

[2018-04-18 10:13] okonet opened #2362 "NODE_ENV not set on process.env"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Currently, `mode` only sets the value for `NODE_ENV` in the `DefinePlugin` but not changes the `process.env.NODE_ENV`.

For example, Babel depends on this env variable and when used with `webpack --mode=production` it will still run in `development` mode.

**If the current behavior is a bug, please p

[2018-04-18 13:11] #373 closed

[2018-04-18 15:36] #383 closed

[2018-04-18 15:36] #384 closed

[2018-04-18 15:36] #388 closed

[2018-04-18 15:41] #391 closed

[2018-04-19 14:29] waxlamp commented on #296
I just ran into this problem, but I solved it by also installing `@babel/register` as a dependency.

[2018-04-20 13:49] HJava commented on #296
I install `@babel/register` and solve the problem~~

[2018-04-20 15:50] ematipico commented on #296
@esakkikrishnan could you try to install `@babel/register` ?

[2018-04-21 16:09] PlayMa256 commented on #407
Fixed on df2a92f0c415d2bacd1193113d72872f6d3d8375
Now all the supported modes come from `webpack` schema

[2018-04-21 17:04] ematipico opened #411 "webpack-cli should remove yeoman file at the end of the installation"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
`cli` doesn't remove the yeomen file

**If the current behavior is a bug, please provide the steps to reproduce.**

* `webpack-cli init`
* answer all the questions
* wait for yarn/npm to install
* notice the yeomen file

**What is the expected behavior?**
It should remove it

[2018-04-21 20:38] rossipedia opened #413 "--help output showing subcommands with `--` prefix"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Webpack's `--help` flag shows the following options:

[code]

The bug is that they're prefixed with `--`, which is not how they're intended to be invoked:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

See previous

**What is the expected behavior?**

Help outp

[2018-04-21 20:41] rossipedia commented on #413
I believe this is an issue with yargs, actually. I ran into it recently on a non-webpack project. I'll see about getting a minimal repro and file an issue over on their repo.

[2018-04-21 21:49] ematipico commented on #413
Have you also tried with migrate? To me, it looks like the script is working

[2018-04-22 10:13] ev1stensberg commented on #411
I don't think that **we need to remove it**. Imagine if user wants to do the init command again, then it would save us time to save the `.yo-rc` config

[2018-04-22 16:48] ematipico commented on #411
@dhruvdutt because some people (like myself) would like to have a config for development and config for production. Shouldn't we notify the user somehow about what's that file about, at least?

[2018-04-22 20:01] rossipedia commented on #413
The bug isn't with the scripts _themeselves_, it's a problem with the `--help` output being incorrect. (Running with `webpack --migrate` doesn't work, but with `webpack migrate` does).

[2018-04-23 04:50] bitpshr commented on #413
I'm taking a look into this one if @ematipico isn't already.

[2018-04-23 05:44] ematipico commented on #413
@bitpshr yes sure, go ahead!

[2018-04-23 12:14] PlayMa256 commented on #413
I could not execute `--init` either, it goes straight to the compilation process. This is actually a "docs" problem since user will try to do that and won't be able to. This can be fixed using the `command` api from `yargs`, [this](https://prnt.sc/j8ysn9) is the result i was able to get.

if @bitpshr could not find a better solution, i guess i could open a pr with this one.

[2018-04-23 12:17] PlayMa256 commented on #393
@ematipico this was already merged #399 , we can close

[2018-04-23 14:29] ev1stensberg commented on #413
https://medium.com/webpack/announcing-the-new-webpack-cli-75ce1d9b8663 @PlayMa256 intentional

[2018-04-23 14:29] ev1stensberg commented on #413
We should strip the dashes

[2018-04-23 14:37] PlayMa256 commented on #413
Interesting @ev1stensberg, by using the `command` api, would'nt that be much clear to the end user since the first thing someone always do is `--help` on a cli? Or do we prefer "flags" only?

[2018-04-23 16:01] rossipedia commented on #413
I think that's going to be difficult to do, as the help output is generated by `yargs`.

IMO [these](https://github.com/webpack/webpack-cli/blob/master/bin/config-yargs.js#L18-L36) should be implemented using `yargs.command()`, instead of `yargs.option()`, as they _are_ commands, logically.

[2018-04-23 16:02] PlayMa256 commented on #413
I agree with @rossipedia , other than that we are just doing "workarounds", aren't we?

[2018-04-23 16:10] ematipico commented on #413
It totally makes sense!

[2018-04-27 12:56] monjer opened #417 "Question: postcss-loader ctx problem"
In the webpack[ postcss doc](https://webpack.js.org/loaders/postcss-loader/#context-ctx-) ,it says we can pass `ctx.env` to `postcss.config.js`, but actually it not work, below is my config:

**webpack.config.js**
[code]

**postcss.config.js**

[code]

when you `console.log(ctx)` , there is a `options` property which is from `webpack.config.js`

[code]

There are someone submit the same problem ,

[2018-04-27 13:33] ematipico commented on #417
As far as I understood the issue is when running
[code]
Environment doesn't get set correctly?

[2018-04-27 14:59] bitpshr commented on #404
Is this still a relevant feature? If so, I'd be happy to take it on with a bit of clarification. Is the intention to define a `cacheGroups` entry for each configured `entry` point? Should this behavior be opt-in, or should it be the default when initializing a new project?

[2018-04-27 18:54] brunoosilva opened #418 "Warning of size with Babel and Lodash"
**Do you want to request a *feature* or report a *bug*?**

improvement

**What is the current behavior?**

It works normally

**What is the expected behavior?**

Use a mined version of lodash because the file it uses is 527KB and for this reason Babel generates an alert about size.

Notice:
[code]

**Please paste the results of `webpack-cli info` here, and mention other relevant information such a

[2018-04-28 07:32] monjer commented on #417
@ematipico , I mean the below code is not work as it should be in the [doc](https://webpack.js.org/loaders/postcss-loader/#context-ctx-)

[code]
The document is confused.

[2018-04-28 12:51] ev1stensberg commented on #418
What are you trying to do?

[2018-04-28 12:52] ev1stensberg commented on #417
@montogeek

[2018-04-28 12:52] ev1stensberg commented on #404
yes, @EugeneHlushko could you elaborate some more? 📦

[2018-04-28 12:54] #315 closed

[2018-04-28 12:54] #321 closed

[2018-04-28 12:54] ev1stensberg commented on #269
#261

[2018-04-28 12:54] #269 closed

[2018-04-28 12:55] ev1stensberg commented on #226
Hi @sompylasar , we're closing this. We're adding a monorepo later, which will make this a bit better for you, as you can hook up this functionality yourself!

[2018-04-28 12:55] #226 closed

[2018-04-28 12:56] #346 closed

[2018-04-28 12:57] ev1stensberg commented on #247
@fokusferit any update? 💯

[2018-04-28 12:57] #181 closed

[2018-04-28 13:00] #180 closed

[2018-04-28 13:01] ev1stensberg commented on #137
@sendilkumarn any update on the PWA you're making?

[2018-04-28 20:38] sendilkumarn commented on #137
Not at the moment, still few pending things to complete.

But I think we can close this Issue and redirect users to that addon would be a better option.

Also, the name is pending 😉

[2018-04-30 03:29] bitpshr commented on #404
Cool, thanks. I'll take this one.

[2018-04-30 06:41] #413 closed

[2018-04-30 09:00] ev1stensberg commented on #413
:tada: This issue has been resolved in version 2.1.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/webpack-cli)
- [GitHub release](https://github.com/webpack/webpack-cli/releases/tag/v2.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-04-30 10:44] brunoscopelliti opened #419 "Possible regression webpack-cli@2.1.0"
**Do you want to request a *feature* or report a *bug*?** BUG

**What is the current behavior?**

Webpack just does nothing.
It just doesn't execute the config file.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**

See the log in console, and assets in the dist folder.

**Please paste the results of `webpack-cli info` here,

[2018-04-30 10:48] ev1stensberg commented on #419
Maybe related to #413 PR, I've rebased, give it some minutes and a new version will be published. All tests were green, a bit strange. Let's see in some minutes

[2018-04-30 11:06] brunoscopelliti commented on #419
Take the time you need.

[2018-04-30 11:33] iernie commented on #419
2.1.1 still doesn't work for me. Multiple node-instances are spun up every second until process is killed.

I forgot to add I'm running Windows 10 with node 10 and npm 6

[2018-04-30 11:42] andreujuanc commented on #419
Same here.

**2.0.15:** OK
**2.1.0:** Stuck
**2.1.1:** Stuck

Win10, npm 5.3, node 8.3

[2018-04-30 11:46] ev1stensberg commented on #419
Alright, let's try `2.1.2`

[2018-04-30 11:48] iernie commented on #419
`2.1.2` works for me! 👍

[2018-04-30 11:50] ev1stensberg commented on #419
Sweet :100: , sorry for the inconvenience!

[2018-04-30 11:50] #419 closed

[2018-04-30 11:52] andreujuanc commented on #419
Works!   🏹  😛

[2018-04-30 13:06] buoyantair commented on #411
I'm willing to take this issue :D , from what I just read, it looks like the goal is a bit unsure.. like should we fix or should we warn the user? :3

[2018-04-30 14:48] sendilkumarn commented on #411
I also don't want to remove it. It is extremely helpful in many ways. Let us have it

[2018-04-30 15:22] melloc01 opened #420 "Question: Test for TTY Context before printing progress"
**Do you want to request a *feature* or report a *bug*?**
Improvement

**What is the current behavior?**
Outputs progress on non-TTY contexts, generating loads of ouput

**If the current behavior is a bug, please provide the steps to reproduce.**
1. `webpack --progress` in a non-TTY context

**What is the expected behavior?**
To not print progress. There's a node api for TTY: https://nodejs.org/ap

[2018-04-30 17:46] ematipico commented on #411
We should update the documentation so

[2018-04-30 21:47] enobrev commented on #299
As per @tony 's comment, moving to [yarn workspaces](https://yarnpkg.com/lang/en/docs/workspaces/) fixed this issue for me.

Unfortunately the project I was seeing this issue with is not public, so I have no way of sharing, but I can describe it somewhat.  My project has the following structure:

[code]

`www` and `manage` are both separate javascript (react) projects with their own `webpack.confi

[2018-04-30 22:28] ev1stensberg commented on #299
Thanks for the info @enobrev , I'll check it out to see if we can fix the issue! Gonna look into it tomorrow

[2018-05-01 14:30] ev1stensberg commented on #299
Could anyone try to run this branch locally in their project? #423 Also, it would be nice if you'd post a path to webpack by adding a `console.log` here https://github.com/webpack/webpack-cli/blob/836bfae8a0a3a5033576eb47d846509a3cea4e2c/bin/webpack.js#L427

[2018-05-02 07:34] DanielRuf opened #426 "Feature: create normal package.json"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**
Currently there is just a lock file generated but not a normal package.json.
It would be helpful to create one if none exists.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
A package.json should be generated if needed.

**If this

[2018-05-02 07:36] DanielRuf opened #427 "Bug: css bundle file not used / applied"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
The supplied bundle file for CSS is not used.

**If the current behavior is a bug, please provide the steps to reproduce.**

Create a project with PostCSS and provide a value to `If you want to bundle your CSS files, what will you name the bundle? (press enter to skip`

**What is the expected behavior

[2018-05-02 08:17] ev1stensberg commented on #426
I don't think that's our intention, webpack-cli init is supposed to be an extension of other tools. You should run `npm init` then the init command from the cli.

[2018-05-02 08:17] #426 closed

[2018-05-02 08:27] ev1stensberg commented on #426
Maybe, submit a PR, it's a good first contribution!

[2018-05-02 21:37] DanielRuf opened #428 "Bug: semantic-release script tries to push old tag"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
The `semantic-release` npm script seems to push an old tag which could be caused by the loaded Travis cache.

**If the current behavior is a bug, please provide the steps to reproduce.**

Take a look at the CI builds and see that the `semantic-release` script pushed old tags.
https://travis-ci.org/web

[2018-05-03 06:39] ZSkycat commented on #417
[code]

[code]

run `webpack --env.NODE_ENV=production --config webpack.production.js`
or run `webpack --config webpack.production.js`
[code]

[2018-05-03 06:59] ZSkycat commented on #417
[code]

[code]

[code]

Add this line of code to fix the bug temporarily:
`process.env.NODE_ENV = 'production';`

[2018-05-03 10:26] heyalbert opened #429 "Deprecated warning for webpack-cli"
[code]

using npm 6.0.0 and node 10.0.0

[2018-05-03 20:10] alistair-hmh opened #430 "Webpack wants to install webpack-cli"
## Versions

- Webpack@4.6.0
- Node@v10.0.0
- NPM@5.6.0

## Request Type

BUG! 🐞

## Bhavior

`Webpack` asks me to install `webpack-cli`; but `webpack-cli` already exists in the project

## Steps to Reproduce

[code]

Create the following `package.json`:

[code]

Install things...

[code]

Try running webpack:

[code]

Even if I choose "yes", and install `webpack-cli` (again), the following happen

[2018-05-04 07:28] ematipico commented on #429
Yes, it's a duplicate.

[2018-05-04 07:29] ematipico commented on #429
Duplicate of #287

[2018-05-04 07:29] #429 closed

[2018-05-04 07:32] ematipico commented on #430
It seems that your environment is picking up the webpack installed globally. Could you try to NOT install globally webpack and try again please?

[2018-05-04 07:37] ematipico commented on #428
This is due to the actual process that we set up in our CI. We are going to change it in the next few days in order to achieve an agreement and set on stone how the release process will work.

The gist is, we want to release through CI in order to automate the shipping of the code. Although we have to make sure that the PRs don't get merged into master. Probably we will switch to a real git flow:

[2018-05-04 07:48] ematipico opened #431 "[Init] the command should add the chosen libs into devDep"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
The init command add the chosen libraries inside the dependencies section of the package.json

**If the current behavior is a bug, please provide the steps to reproduce.**

* Run the init command
* Answer few questions, make sure to choose something like sass loader, for instance
* Check the package.j

[2018-05-04 08:15] ev1stensberg commented on #428
We have two scenarios, one is to only use matrices, the other one being build steps. Build steps and matrices doesn't work well together.

[2018-05-04 08:15] DanielRuf commented on #428
Hm, what is the better option? I guess build steps.

[2018-05-04 14:46] alistair-hmh commented on #430
Is Webpack not intended to be used globally any more?

(All the examples I've been looking at online are using Webpack globally.)

[2018-05-04 16:16] ev1stensberg commented on #430
Both global and local, we're gonna go for only global soon

[2018-05-04 19:35] ematipico commented on #430
Only global? What if some user wanted/needed/forced to have it local? We have to remember that there are also closed environment where it's not possible to install global packages.

[2018-05-06 13:08] ev1stensberg commented on #431
it's already happening though? https://github.com/webpack/webpack-cli/blob/master/lib/generators/init-generator.js#L413

[2018-05-06 13:14] ematipico commented on #431
I tried the package on a project and I saw that the dependencies were installed in the wrong section

[2018-05-06 14:17] webpack-bot opened #435 "jsonForToString flag into the webpack cli"
**Do you want to request a *feature* or report a *bug*?**
***feature***

**What is the current behavior?**
Currently when using webpack cli with the json flag, the cli is using the stats.toJson method without passing forToString parameter, so it'll be false. There's no option to get a json for to string by the cli.

**If the current behavior is a bug, please provide the steps to reproduce.**

**Wh

[2018-05-06 15:06] ev1stensberg commented on #435
no worries

[2018-05-06 15:17] ahmedfarag2010 opened #436 "Error: Cannot find module 'webpack-cli'"
![we](https://user-images.githubusercontent.com/17453891/39674769-d9a5ff5e-5105-11e8-8d6f-e039533b8c0b.png)

[2018-05-06 15:28] ev1stensberg commented on #427
This is skipped if you're not in production

[2018-05-06 15:29] ev1stensberg opened #437 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-05-06 16:06] DanielRuf commented on #427
Not sure if I understand correctly. We use prod using webpack-cli (webpack-cli init) and the config for the extract text plugin and so on is not correct. No css file is generated.

[2018-05-06 23:28] ematipico commented on #431
I ran it through the cli itself.

[2018-05-07 16:13] lgallindo commented on #311
I'm getting a similar error today (error that wasn't there last week), how can I check the availability of a package@version in a mirror by hand (without npm) to check if the error is in my end somehow?

[2018-05-07 16:17] ev1stensberg commented on #311
Could you link the stack trace you're getting?

[2018-05-07 18:47] lgallindo commented on #311
Ok, I'm on Windows 8.1, just reinstalled the latest nodejs from the official site.

[code]

This happens for any package, and also for the "install" command. At first I was trying to install webpack-cli.

[2018-05-07 20:42] ev1stensberg commented on #311
I don't think this is related to webpack-cli. We don't have a dependency named `connect`, how does your package.json look?

[2018-05-07 20:52] ev1stensberg opened #440 "Feature: Check for package-lock or yarn.lock at process.cwd() on scaffolds"
**Is your feature request related to a problem? Please describe.**
No
**Describe the solution you'd like**
When running the init command we default to yarn, let's rather check if package lock or yarn.lock is present and base the packager on that. This way, people doesn't need to remove the lockfiles w.r.t their alternatives.

**Describe alternatives you've considered**
Common sense

**Additional c

[2018-05-07 20:55] ev1stensberg commented on #431
I'm able to reproduce this, so yeah, let's fix it

[2018-05-07 21:39] DanielRuf commented on #427
I just ran `webpack-cli init` and nothing more =)

If it is helpful I will do it again and add the generated files to a new repo.

[2018-05-07 22:10] ev1stensberg commented on #427
That would be nice 💯

[2018-05-07 23:28] #440 closed

[2018-05-07 23:28] #431 closed

[2018-05-07 23:47] ev1stensberg opened #442 "Enhancement: Better defaults"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Yes, setting good defaults.

**Describe the solution you'd like**
From @sokra :

I tried `webpack-cli init` and noticed a few things:
* env preset should be used with `{modules: false}`
* `entry: 0` is generated
* `output.filename` `output.

[2018-05-08 00:38] ev1stensberg commented on #38
@aight8  I recommend you to try out this awesome tool by @shellscape
 https://medium.com/webpack/webpacks-new-cli-hotness-d6a2063168a8

[2018-05-08 00:38] #38 closed

[2018-05-08 00:49] ev1stensberg opened #445 "Migrate: Update README to reflect v3 -> v4"
Migrate documentation should be based on old versions to current one, not v1 to v2.

[2018-05-08 00:51] shellscape commented on #38
@aight8 our colleague @ev1stensberg is correct, `webpack-command` implements nearly all of your requests

[2018-05-08 00:54] ev1stensberg opened #446 "Feature: rename webpack-addons to webpack-scaffold"
**Is your feature request related to a problem? Please describe.**
Webpack-addons isn't really intuitive, we should rename it to webpack-scaffold.

**Describe the solution you'd like**
As mentioned

**Describe alternatives you've considered**
Using my brain 🤔

[2018-05-08 14:17] ahmedfarag2010 commented on #436
Yeah it worked .. thank you ..

[2018-05-09 09:26] ev1stensberg commented on #445
It should have. Submit a PR and I'll review

[2018-05-10 09:48] EugeneHlushko commented on #404
Yeah its pretty much relevant. As @ev1stensberg we think that it should be default for multiple entries. The catch here is described in the issue description, if entries are .js files in one dir, everything will fall under the same caching group, needs a thought.

[2018-05-11 23:41] ev1stensberg commented on #299
Thanks for proividing @klick-barakgall !

[2018-05-13 07:43] trammel commented on #299
Thanks @klick-barakgall I was getting the same error, and your explanation solved it for me also.

[2018-05-13 11:01] #437 closed

[2018-05-13 11:01] ev1stensberg commented on #418
@brunoosilva friendly ping :)

[2018-05-13 23:54] brunoosilva commented on #418
Sorry ... =/

I am trying to search for an answer because the dist from lodash.js is not understood as Uglify, inside the folder is generated a lodash.min.js file, but the main in package.json, the file is reported without Uglify.

I think I'll create an issue for them, what do you think?

[2018-05-13 23:58] brunoosilva commented on #418
Issue opened https://github.com/lodash/lodash/issues/3790

[2018-05-14 05:11] ev1stensberg commented on #418
I think maybe this question is for stack overflow! 🦄

[2018-05-14 05:11] #418 closed

[2018-05-14 17:20] klick-barakgall commented on #299
@ev1stensberg Sorry, but I feel that based on my findings that something is still wrong with webpack-cli. Is this a known issue? Is it being tracked elsewhere? Will you consider reopening this issue?

[2018-05-15 11:12] ev1stensberg commented on #299
@klick-barakgall yep, it's this one

[2018-05-15 14:02] klick-barakgall commented on #299
@ev1stensberg, apologies I see now this issue is in fact still open. My bad :S.

[2018-05-15 14:39] ev1stensberg opened #449 "Feature: Show page results of webpack-scaffolds"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when there's no place I can find scaffolds.

**Describe the solution you'd like**
It would be nice with a page at `webpack.js.org` that shows us all the `webpack-addons`.

**Additional context**
Note that `webpack-addons` is soon to be renamed to `webpack-scaffold`.

[2018-05-15 18:11] sendilkumarn commented on #449
There is already a `webpack-scaffold` available.

[2018-05-15 18:11] sendilkumarn commented on #449
Btn I like this idea and yes it is frustrating.

[2018-05-16 16:26] scoobster17 commented on #245
On a side note, could in the same way we get options whilst running `init` of Sass/Less etc for CSS, could we also get options to use TypeScript instead of Babel? And I've never used it, but perhaps Flow as it has been mentioned here before.

I assume this will feed into the decision as to whether to switch or not?

[2018-05-16 16:50] evilebottnawi commented on #245
I believe that rewriting the project on typescript is overhead. Why? Because we have a lot of bugs/feature requests in all webpack ecosystem, also we have `webpack-command` (https://github.com/webpack-contrib/webpack-command) (official second CLI), he is faster, plugable and modular and IMHO has better structure and easier to maintain. What will the rewriting on typescript for `webpack-cli`? I do

[2018-05-16 19:03] thanhdungfb commented on #299
I have the same problem
And this command works with me:
      npm uninstall -g webpack webpack-cli
      npm install -g webpack webpack-cli

[2018-05-18 06:38] ev1stensberg opened #450 "Docs: Update contribution guide to reflect new changes"
**Do you want to request a *feature* or report a *bug*?**
Don't know, probably a bug.

**What is the current behavior?**
We're not in sync with how PR's should be submitted. PR's are sent to master, but we should have a `develop` / `next` branch.

**What is the expected behavior?**
See above

[2018-05-18 19:43] ev1stensberg commented on #442
Fixed at #451

[2018-05-18 19:43] #442 closed

[2018-05-18 19:44] ev1stensberg commented on #449
Moved to https://github.com/webpack/webpack.js.org/issues/2168

[2018-05-18 19:44] #449 closed

[2018-05-18 19:45] ev1stensberg commented on #261
This is resolved and included in a newer version of the webpack-cli.

[2018-05-18 19:45] #261 closed

[2018-05-18 19:46] ev1stensberg commented on #260
Resolved.

[2018-05-18 19:46] #260 closed

[2018-05-18 19:47] #223 closed

[2018-05-18 19:51] ev1stensberg commented on #420
Have you tried setting env variables for `supports-color`? https://github.com/chalk/supports-color/blob/master/test.js#L156-L160

[2018-05-18 19:51] #411 closed

[2018-05-18 19:55] #296 closed

[2018-05-18 19:56] ev1stensberg commented on #287
Nothing more we can do. We're removing some redundancies when new version is published, but ultimately this is on jscodeshift.

[2018-05-18 19:56] #287 closed

[2018-05-18 19:57] ev1stensberg commented on #247
Moving #450 here

[2018-05-18 19:57] #450 closed

[2018-05-18 20:08] ev1stensberg commented on #445
Moving this to #247

[2018-05-18 20:08] #445 closed

[2018-05-18 20:11] akolliy1 commented on #299
I have run webpack several times on my project but suddenly throw this Error I tried to install babel-preset-react but throw Error.
Then, i run webpack in project it throws this Error below

module.js:540
    throw err;
    ^

Error: Cannot find module 'webpack'
    at Function.Module._resolveFilename (module.js:538:15)
    at Function.Module._load (module.js:468:25)
    at Module.require (module.

[2018-05-19 16:09] ev1stensberg commented on #147
In a newer version, we're omitting asking for the name and we set defaults more intuitively!

[2018-05-19 16:09] #147 closed

[2018-05-19 16:10] ev1stensberg commented on #417
@kentcdodds saw your egghead tut once, maybe you got some tips here?

[2018-05-19 17:10] michael-ciniawsky commented on #417
This isn't a bug... `process.env.NODE_ENV` is set inside of `postcss-load-config`itself, since the config works with more runners then just `webpack` (`postcss-cli`, `gulp`, etc...) and defaults to `'development'` if `undefined`. It is unrelated to webpack's `mode`. Use

**package.json**
[code]

and

**webpack.confog.js**
[code]

This issue can be closed :)

[2018-05-19 17:27] ev1stensberg commented on #417
Glad it got sorted out, sorry for long response time!

[2018-05-19 17:27] #417 closed

[2018-05-19 17:28] ev1stensberg commented on #289
This impl can be used with #15 . We keep track of pId and restart a process once it's done ( I think )

[2018-05-19 17:31] ev1stensberg commented on #370
@jkanczler As far as I've understood this is about the precedence of args, so if you provide a flag, the flag is responsible for its task, not any other. Could you give me a repro?

[2018-05-19 17:56] ev1stensberg commented on #420
Fixed at #452

[2018-05-19 17:56] #420 closed

[2018-05-19 20:10] ev1stensberg commented on #299
This is probably fixed in #453, thanks for the patience guys ❤️ Closing for now. We're releasing a new version of webpack-cli in a bit, so keep tight, the bug is soon gone 😃

[2018-05-20 06:08] nveenjain opened #454 "Add yarn.lock to .gitignore or add yarn's lock file in project"
**Is your feature request related to a problem? Please describe.**
Since we are using yarn in webpack for most of parts (everywhere we setup using simple `yarn` command). When anyone run `yarn`, additional lock file is added to project, which shouldn't be done everytime anyone run 'yarn'.. We can either ignore 'package-lock' as it is generated by npm and keep only yarn.lock in our project director

[2018-05-20 16:41] ev1stensberg commented on #454
Closed per #455

[2018-05-20 16:41] #454 closed

[2018-05-21 08:03] buoyantair commented on #427
I'd love to take this! 🗡 👊 🍰

[2018-05-21 11:32] PlayMa256 commented on #427
@buoyantair go for it. I noticed that when you ask to insert a post-css loader, when we are inserting the plugins array, at the root of modules.exports, it finds by mistake the plugins from postcss-loader.

Somewhere around here: https://github.com/webpack/webpack-cli/blob/master/lib/ast/index.js#L5-L9

[2018-05-21 11:46] ev1stensberg commented on #427
No, that's wrong. Only the generator will make sure that everything passed to the AST is correct

[2018-05-21 11:53] PlayMa256 commented on #427
Generators are generating correctly, something is happening in between.
[code]
The plugins array is there, the config object is being built correctly.

[2018-05-21 11:57] ev1stensberg commented on #427
I think the issue is about the css not being used in `entry` or the CSS plugin not being used.

[2018-05-21 13:18] yekver commented on #296
I fixed this problem with: `"babel-loader": "^8.0.0-beta"`

[2018-05-22 12:48] nikwen opened #457 "`npm audit` yields 163 vulnerabilities"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

`npm audit` yields 163 vulnerabilities.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**

0 vulnerabilities.

**Please paste the results of `webpack-cli info` here, and mention other relevant information such as programming lang

[2018-05-22 13:33] jkanczler commented on #370
https://github.com/jkanczler/webpack-cli-display-options.git

[code]

Basically:
[code]

and with minimal:
[code]

As you can see, with --json and --display minimal you'll get less information as with --json --display none arguments.

[2018-05-22 15:27] ev1stensberg commented on #370
Thanks!

[2018-05-23 14:47] domehead100 opened #459 "--info-verbosity causes error/failure"
**Describe the bug**

Launched webpack-cli --info-verbosity verbose.  Got an error/exit at:
[code]

due to the beforeCompile hook being undefined.

**What is the current behavior?**

Errors if --info-verbosity is used.

**To Reproduce**
1. Launch webpack-cli with flag --info-verbosity verbose.
2. See webpack exit with error at:
[code]
**Expected behavior**
Expect info-verbosity switch with verbose

[2018-05-23 16:18] ev1stensberg commented on #457
:tada: This issue has been resolved in version 2.1.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/webpack-cli)
- [GitHub release](https://github.com/webpack/webpack-cli/releases/tag/v2.1.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-05-23 16:18] ev1stensberg commented on #440
:tada: This issue has been resolved in version 2.1.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/webpack-cli)
- [GitHub release](https://github.com/webpack/webpack-cli/releases/tag/v2.1.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-05-23 16:22] nikwen commented on #457
Thank you guys so much for fixing it that fast!

[2018-05-23 16:57] ev1stensberg commented on #459
Yields fine here:

<img width="563" alt="skjermbilde 2018-05-23 kl 18 56 26" src="https://user-images.githubusercontent.com/16735925/40439366-05a45ac0-5ebb-11e8-8568-f0a7881b03ef.png">

Could you give me a repro, i.e access to your source code? Might be hard to debug.

[2018-05-24 02:31] sfger opened #463 "Bug: `--display-entrypoints=false` does not hide entries"
**Describe the bug**

 `webpack --watch --progress --display-error-details --hide-modules=true --display-chunks=false --display-entrypoints=false` is not work as expected

**What is the current behavior?**

No matter true or false when I give a value of --display-entrypoints, the entrypoints in  the stdout output always shows!

**To Reproduce**
Steps to reproduce the behavior:
1. find a project us

[2018-05-24 05:57] ev1stensberg commented on #463
Could you submit a PR?

[2018-05-25 10:10] fokusferit commented on #247
I'm updating the initial comment, and create a checklist, so that I it's easier to reference to PR's for each task.

[2018-05-26 13:52] romenigld commented on #191
I'm having this error when I try to run foreman:
[code]

[2018-05-27 18:48] jotaoncode commented on #191
I am having the following error:

internal/modules/cjs/loader.js:596
    throw err;
    ^

Error: Cannot find module 'webpack/schemas/WebpackOptions.json'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:594:15)
    at Function.Module._load (internal/modules/cjs/loader.js:520:25)
    at Module.require (internal/modules/cjs/loader.js:650:17)
    at require (/Users/juangarcia/

[2018-05-28 00:51] romenigld commented on #191
I update and reinstall for a new version of webpack(3.5.2) and solve.

[2018-05-28 13:10] ev1stensberg commented on #191
`webpack-cli migrate ./webpack.config.js`

[2018-05-28 14:36] senyaak opened #468 "Bug: Init command creates invalid config, the entry field is wrong"
**Describe the bug**

The init command create incorrect js file. The property 'entry' contains plain string.

**What is the current behavior?**

the entry filed is like this `entry: ./foo/bar`
instead to be like this `entry: './foo/bar'`

**To Reproduce**
Steps to reproduce the behavior:
```webpack init```
`n`
`[default]`
`[default]`
`Y`
`Y`
`[any]`
`[skip]`
`[default]`
we get `WARNING: Could not

[2018-05-28 14:44] senyaak commented on #468
UDP: if you use default entry point - `Which module will be the first to enter the application? [default: ./src/index] `  - entry will become `entry: 0`

[2018-05-28 15:27] ematipico commented on #468
Hi @senyaak , could you please tell us which version of `webpack-cli` you use?

[2018-05-28 15:56] senyaak commented on #468
I use last available in npm - 2.1.4

[2018-05-28 20:46] ematipico commented on #468
Just investigated and followed how you answered to the questions. Since you chose the defaults, webpack-cli doesn't add the `entry` inside the configuration because it uses the webpack defaults. Maybe the answers that you gave were different?

[2018-05-28 20:48] senyaak commented on #468
I tried to use default(then I got `entry: 0`) and I tried to use some path(f.e. `./foo` - then I got `entry: ./foo`)

[2018-05-29 03:18] evilebottnawi commented on #245
/cc @ev1stensberg friendly ping, what do you think about my post above?

[2018-05-29 09:29] buoyantair commented on #427
I went through it and I feel like something is going wrong with how the AST is parsed. I mean like the output in the yo-rc.json file seems perfect, so I guess its just how the AST is parsed? I need help with this :/

[2018-05-29 09:56] dhruvdutt commented on #427
@buoyantair Can you try adding test cases to [recursive-parser](https://github.com/webpack/webpack-cli/blob/next/packages/utils/recursive-parser.test.js) and see the output snapshot?

I would also recommend going through `addProperty()` function [here](https://github.com/webpack/webpack-cli/blob/master/lib/utils/ast-utils.js#L388). This function does the job of generating AST tree for the webpack

[2018-05-29 11:17] buoyantair commented on #427
Just noticed there are no tests for addProperty :3 d

[2018-05-29 11:48] dhruvdutt commented on #427
@buoyantair Use tests for [recursive-parser](https://github.com/webpack/webpack-cli/blob/next/packages/utils/recursive-parser.test.js) with `init` as last arg inside `defineTest()` function. Add your own fixtures if you want. This is essentially testing `addProperty()`.

[2018-05-29 12:49] ev1stensberg commented on #245
It makes sense, and I agree. Maybe the reason why I'd favor TypeScript is that modules are easier to work with and to make sense of. We can have it partially as we've got mono-repos now. Webpack-cli itself wouldn't have typescript, but `init`, `migrate` et al would.

[2018-05-29 12:51] ev1stensberg commented on #468
This is fixed in "webpack-cli@next"

[2018-05-29 12:51] #468 closed

[2018-05-29 12:52] evilebottnawi commented on #245
@ev1stensberg and what do you think about `webpack-cli` and `webpack-command`? Perhaps we should unite efforts over one CLI (`webpack-command` is plugable). `init` and `migrate` just additional package instead hardcode in code base.

[2018-05-29 12:57] ev1stensberg commented on #245
Trying to work on that this summer. Been working on the plugable part and it's near end. One point I mentioned to Andrew was that we can detect if the user uses webpack for the first time and gradually make the CLI for them more complex over time. I.e usage of more advanced features are available as they use the tool.

Regardless, doing that later this summer.

[2018-05-29 14:25] buoyantair commented on #427
All this time I was reading code in master branch!

[2018-05-29 18:33] webpack-bot opened #469 "Discussion: process.env.NODE_ENV is set to production on mode=dev"
# Bug report

**What is the current behavior?**

Webpack automate set `process.env.NODE_ENV` to `'production'` when start with `--mode development`

**If the current behavior is a bug, please provide the steps to reproduce.**

Just start:
[code]
EVEN SET mode: development in config
that still got process.env.NODE_ENV is production

**What is the expected behavior?**

Expect `process.env.NODE_ENV`

[2018-05-29 18:34] evilebottnawi commented on #469
Just move from `webpack`. Feel free to close if it is expected behavior.

[2018-05-29 23:54] ev1stensberg commented on #469
Hi @gsmlg I'm not sure if we want to do that, as we might interfere with other tools. Let's keep this open for discussion.

[2018-05-30 00:04] ev1stensberg commented on #469
Could you give me some more information about your webpack config? Reproduced this and there's nothing wrong indicating that's happening on my machine. It might be `cross-env` that is setting those for you

[2018-05-30 02:12] gsmlg commented on #469
My config file is:
[code]

[2018-05-30 02:43] gsmlg commented on #469
I'v found out the reason.
In webpack v3, `-p` flag will not overide `process.env.NODE_ENV`.
In webpack v4, the `-p` flag will set `process.env.NODE_ENV` to production.

[2018-05-30 06:47] sendilkumarn commented on #245
I was planning to raise an issue on `webpack-command` on this.  I think we should discuss on this together on a meeting.

I am all in favor of this but since we are also doing `webpack-command` it is good that we have to unite our efforts.

[2018-05-30 12:36] fokusferit commented on #245
Well, I think in such case it is the best to come together as @sendilkumarn mentions and really have a meeting around the "purpose" what we as developers expect from webpac-cli/webpack-command . Based on an agreed purpose, this would create a goal we could break down into a lot of smaller topics and work on together.

[2018-05-30 14:30] ev1stensberg commented on #427
Signature shouldn't change. Change the function invocation if you need to fix the bug.

[2018-05-30 16:25] buoyantair commented on #427
@ev1stensberg Im on next branch :/

[2018-05-30 16:39] buoyantair commented on #427
Hmm not sure what you mean by "Signature shouldn't change", because I literally recloned the whole repo and then reinstalled the packages and tried again and I get the same error 🤔 I think I was working just yesterday when I tried to test some changes.

[2018-05-30 17:09] dhruvdutt commented on #427
@buoyantair I think you can try the changes done in #470. That should fix the error.

[2018-05-30 22:59] ev1stensberg opened #471 "Feature: Use semantic release presets on github version and changelog"
**Is your feature request related to a problem? Please describe.**
We should have a way to update changelogs and the version at github when semantic release publishes a new version.

**Describe the solution you'd like**

https://github.com/semantic-release/semantic-release/blob/caribou/docs/usage/plugins.md

[2018-05-31 15:07] ev1stensberg commented on #469
Okay, glad it got sorted out! Available at other platforms if you need specific questions about your build!

[2018-05-31 15:07] #469 closed

[2018-05-31 15:07] #463 closed

[2018-05-31 15:08] #428 closed

[2018-05-31 16:01] DanielRuf commented on #428
Do we still need build steps?

[2018-05-31 17:18] ev1stensberg commented on #428
I don't think so, we've set one up now. If you wanna help out, please have a go at https://github.com/webpack/webpack-cli/issues/471. I'll be here if you need help :+1:  Also, that should be submitted to the next branch, not master

[2018-05-31 17:43] DanielRuf commented on #428
Understood, thanks so far.

[2018-06-01 08:56] edmorley commented on #287
To save others looking for it too - the relevant PR is:
facebook/jscodeshift/pull/247

[2018-06-01 17:20] ev1stensberg commented on #471
Started some work on this at #475 .

[2018-06-01 17:20] ev1stensberg commented on #428
Started some work on this at #475 .

[2018-06-02 00:05] #471 closed

[2018-06-02 00:41] #206 closed

[2018-06-02 01:39] ev1stensberg commented on #427
I think this is fixed in `webpack-cli@3`, please reopen or message me to do that if you think it's still an issue! 😄

[2018-06-02 01:39] #427 closed

[2018-06-02 06:14] rydash opened #477 ""Cannot read property 'validateSchema' of undefined" with webpack-cli@3.0.0 and webpack-dev-server@3.1.4"
**Describe the bug**

Webpack consistently fails to compile when using webpack-cli@3.0.0 with webpack-dev-server@3.1.4 (the current latest). I am uncertain whether this is a new issue in this major or if webpack-dev-server needs to get with the times.

**What is the current behavior?**

When running `webpack-dev-server` from an npm script, compilation fails with the following error:

[code]

This

[2018-06-02 08:38] djlxiaoshi commented on #477
i've met the same problem

[2018-06-02 09:00] ErEllison commented on #477
for any one who wants to check on stackoverflow on this issue , i asked a question over there
https://stackoverflow.com/questions/50654594/webpack-v-3-0-0-validateschema-error-in-dev-mode

[2018-06-02 09:02] ErEllison commented on #477
i downgraded to `"webpack-cli": "^2.1.4"` and it works well as hell , but i wanna know that is the problem with version 3????

[2018-06-02 09:44] dhanushuUzumaki commented on #477
I am having the same problem and downgrading is also not working.. On downgrading I am facing this Error: Cannot find module 'webpack/bin/config-yargs' as this has been now moved to webpack-cli..

[2018-06-02 11:01] DanielRuf commented on #427
Ok, will test then =)

[2018-06-02 11:54] juliantellez commented on #477
I have created a pull request to solve this issue pls have a look https://github.com/webpack/webpack-cli/pull/478

[2018-06-02 12:43] AviVahl opened #479 "[v3.0.0] Wrong workspace setup causing a yarn installation warning on user-end"
**Describe the bug**

When installing `webpack-cli@v3.0.0` using `yarn`, one sees the following warning:
`warning Workspaces can only be enabled in private projects.`

The warning only occurs if `webpack-cli` is being resolved for the first time (meaning it is not yet in the `yarn.lock` file).

**To Reproduce**
Steps to reproduce the behavior:
[code]
See warning.

**Expected behavior**
No such war

[2018-06-02 15:08] ev1stensberg commented on #479
Could you do a PR?

[2018-06-02 15:31] Johnsavadkuhi commented on #477
i have the same problem but  i used webpack-dev-middleware instead of webpack-dev-server

[2018-06-02 15:34] ev1stensberg commented on #477
publishing a fix in a sec

[2018-06-02 15:53] ev1stensberg commented on #477
Pushed to master now, give it 20 minutes at it should be fine. Sorry for the inconvenience, webpack & webpack-cli doesn't play ball on path lookups.. 👍

[2018-06-02 16:08] AviVahl commented on #479
Changing the entire project setup and moving stuff around requires better level of familiarity with the current setup/scripts/lifecycle/ci/tooling.

Instead, I made a PR to just remove the `"workspaces"` key, as it is not really used. It should fix the warning on user end.

[2018-06-02 16:12] ev1stensberg commented on #477
Patch out now, could you guys confirm it's not an issue anymore?

[2018-06-02 16:15] dhanushuUzumaki commented on #477
Its working.. Thanks a lot 🙏 👏 🎉

[2018-06-02 16:15] ev1stensberg commented on #477
This is actually on me 🐒

[2018-06-02 16:15] #477 closed

[2018-06-02 16:17] ev1stensberg commented on #479
okay great. That's what I was hoping for as well. CLI shouldn't be a private package. Thanks for having a look!

[2018-06-02 16:53] AviVahl commented on #479
Just to clarify, the broader intention was to move the webpack-cli to a `cli` folder inside packages, with its own (non-private) package.json.

In a `yarn` workspace project, the root package.json is just a common, private, one.

This is just not a yarn workspace. Its a `lerna bootstrap`ed one.

[2018-06-02 18:39] ev1stensberg commented on #479
CC-ing @sendilkumarn , he knows more about this than me. And yes, if the package remains `webpack-cli`, I'm in favor.

[2018-06-03 01:09] iMobs commented on #479
Alternatively, `"npmClient": "yarn"` and `"useWorkspaces": true` could be set in `lerna.json` and `"private": true` set in `package.json` to leverage yarn workspaces hoisting node modules.

[2018-06-03 01:35] #479 closed

[2018-06-03 01:59] yssource opened #488 "Question: --provide "$=jquery" under CLI"
**Is your feature request related to a problem? Please describe.**
I would like using webpack cli, and wanna inject ProvidePlugin for jquery.
It gets along well with webpack.config.js, but it fails to do under CLI.
For instance.
`webpack src/app.js --provide "$=jquery" -o dist/bundle.js`

**Describe the solution you'd like**
Question, How to do, if wanna provide $ for jquery?

**Describe alternati

[2018-06-03 03:45] buoyantair commented on #427
@ev1stensberg Is there any specific commit I can look into? :O

[2018-06-03 04:03] yssource commented on #488
I followed the docs,
# src/app.js
[code]

# --provide $=jquery does not work
browser can not refer $

# BUT, webpack.config.js works for me.
[code]

[2018-06-03 05:51] sahilsk commented on #477
same issue here. had to downgrade to make it work.

[code]

[2018-06-03 06:03] ev1stensberg commented on #477
Try v3.0.1

[2018-06-03 06:04] ev1stensberg commented on #488
You'll need to use `expose-loader` as well. https://github.com/webpack-contrib/expose-loader

[2018-06-03 06:05] ev1stensberg commented on #427
Check out the `addProperty` function history on master

[2018-06-03 07:31] and-why commented on #477
Had to update webpack-cli to v3.0.1 and it now works again. Thanks

[2018-06-03 15:23] robcresswell opened #489 "Missing release notes / changelog for 3.x"
There are no entries in the Releases tab or `CHANGELOG` for version `3.x`. Any chance of some details in there so we can figure out what the breaking change was?

[2018-06-03 16:14] ev1stensberg commented on #488
Try using this with expose loader https://webpack.js.org/api/cli/#module-options, you'll need expose loader any way if you're going to have jquery defined in window object

[2018-06-03 16:16] ev1stensberg commented on #489
HI, have a look at my comment here: https://github.com/webpack/webpack-cli/pull/448#issuecomment-394172842

[2018-06-03 16:16] #489 closed

[2018-06-03 16:33] robcresswell commented on #489
[code]

Sorry for my stupidity, but this seems a little vague; if you are using `init` or `migrate`, what has changed? This isn't documented anywhere. It might be worth adding something to the Releases page too, so you don't have others constantly opening issues asking for changelogs.

[2018-06-03 19:09] ev1stensberg commented on #489
If you read the blog post, there's a more elaborating writing there

[2018-06-03 20:05] robcresswell commented on #489
I appreciate that, but can we not just stick to the usual formats like release notes and changelogs? Parsing those is one thing, hunting for "some blog post" every time a JS lib posts a breaking change is kinda excessive, IMO. In the current state, it's just not explained in the repo unless you try and understand the code.

[2018-06-03 20:17] ev1stensberg commented on #489
Yep, will do that. Thanks for the explaination and elaboration @robcresswell

[2018-06-03 20:19] robcresswell commented on #489
Thanks @ev1stensberg, I really appreciate that

[2018-06-04 09:39] DanielRuf commented on #427
So far looks good but it does not seem to work with webpack 4 (generated webpack.prod.js is not used).

[2018-06-04 09:45] yfr opened #491 "Changelog missing for current version"
There seems to be no information on what changed in version 3 up. Or i'm just unable to find.

Are there any breaking changes (major semver version bump)?

[2018-06-04 09:46] yfr commented on #491
Ah, shoot. Just saw #489.

nevermind!

[2018-06-04 09:46] #491 closed

[2018-06-04 10:06] DanielRuf opened #492 "false in terminal at output generation"
**Describe the bug**

[code]

**What is the current behavior?**

Some `false` is output after `? Which folder will your generated bundles be in? [default: dist]`

**Expected behavior**
There should not be some extraneous `false`.

**Please paste the results of `webpack-cli info` here, and mention other relevant information*
[code]

[2018-06-04 10:06] DanielRuf opened #493 "webpack-cli info does not work anymore (pending promise)"
**Describe the bug**

`webpack-cli info` does not resolve the promise

**What is the current behavior?**

[code]

[2018-06-04 10:43] yssource commented on #488
`--module-bind 'js=imports-loader?$=jquery'` solve my problem about "index.js?41f5:2 Uncaught ReferenceError: $ is not defined".

But, I would like to know why `--provide` is unable to make `$` globally, just as what ProvidePlugin does?

[2018-06-04 10:49] sebastianhaeni opened #495 "CHANGELOG out of sync with release"
**CHANGELOG out of sync with release**

The [CHANGELOG](https://github.com/webpack/webpack-cli/blob/master/CHANGELOG.md) is out of sync with the released version.

* Please update the changelog.
* Or if you wish to not update the changelog, delete it and instead add change logs to the release on GitHub.

As of now, I have no clue what changed in version 3.0.0 without looking at the commits. Or am

[2018-06-04 18:41] mohammad-tanzeel commented on #191
I was also having same problem, I fixed it by running the below command.
npm install webpack-cli@2.1.3 --save

[2018-06-04 19:50] ev1stensberg commented on #492
Fixed at #490

[2018-06-04 19:50] #492 closed

[2018-06-04 19:50] #493 closed

[2018-06-04 19:53] ev1stensberg commented on #488
Could you give me a test repo to run against?

[2018-06-04 19:54] ev1stensberg commented on #427
Could you elaborate on that?

[2018-06-04 19:56] ev1stensberg commented on #191
Run webpack-cli v.3.0.1 and above to fix this

[2018-06-04 20:04] jotaoncode commented on #191
@ev1stensberg The two solutions you presented ```webpack-cli migrate ./webpack.config.js``` and getting the version v.3.0.1 and above works like a charm

[2018-06-04 20:42] DanielRuf commented on #427
I guess I will do some more testing with my colleague as this seems to be a bit more complicated (several issues combined).

[2018-06-05 06:07] ematipico commented on #495
Will do

[2018-06-06 04:06] gkiely commented on #13
Sorry I never got back on this, this is awesome though @ev1stensberg, did this end up getting fixed?

[2018-06-06 13:33] ev1stensberg commented on #13
#24 Was merged, but I think it got removed. Maybe nodemon is a better option for you

[2018-06-10 12:13] yssource commented on #488
Please, test repo [webpack-cli-issues-488](https://github.com/yssource/webpack-cli-issues-488).
- master branch for command line
- webpack.config.js branch for webpack configuration.

[2018-06-11 18:03] ev1stensberg commented on #488
Will check it out during the week, thanks for the patience @yssource !

[2018-06-12 11:29] ev1stensberg commented on #488
If `$` is not defined it means that you will need to install and import it correctly, and webpack might not be able to resolve the dependency correctly without using imports loader. It might be better to ask on Stack Overflow because people have had similar issues.

[2018-06-12 11:29] #488 closed

[2018-06-12 11:41] ev1stensberg commented on #279
:tada: This issue has been resolved in version 3.0.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/webpack-cli)
- [GitHub release](https://github.com/webpack/webpack-cli/releases/tag/v3.0.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-14 15:53] ev1stensberg opened #509 "Bug: Greenkeeper should update package.lock"
Currently, greenkeeper does not push a generated package.lock when submitting a PR. It would be nice if it did so we don't have to worry about that.

[2018-06-15 07:03] #509 closed

[2018-06-15 07:12] ev1stensberg commented on #495
Any update on this?

[2018-06-15 07:33] ev1stensberg commented on #509
:tada: This issue has been resolved in version 3.0.7 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/webpack-cli)
- [GitHub release](https://github.com/webpack/webpack-cli/releases/tag/v3.0.7)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-06-15 07:55] ematipico commented on #495
The changelog command doesn't work as expected so I don't know how to proceed

[2018-06-15 08:08] ev1stensberg commented on #495
Okay let me have a look later today

[2018-06-15 12:08] ev1stensberg commented on #495
Fixed in #512 . Keep in mind that version numbers are from the next branch so they are not accurate. Nonetheless, the commits are there. Sorry for the inconvenience!

[2018-06-15 12:08] #495 closed

[2018-06-15 12:08] ev1stensberg commented on #459
Friendly ping :)

[2018-06-15 21:58] SavageCore commented on #312
@Daiz did you find a solution to keeping metadata block?

[2018-06-15 22:31] MaxLeiter opened #515 "Limit/stop automated releases"
Please stop automating releases every commit. Using greenkeeper or renovate (or other npm package bots) causes lots of spam.

[2018-06-16 16:09] #515 closed

[2018-06-19 21:07] ev1stensberg opened #524 "Merging CLI logic of webpack command"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
Currently the `bin` folder is quite outdated, but @shellscape has done a great job on webpack-command.

**If the current behavior is a bug, please provide the steps to reproduce.**
N/a
**What is the expected behavior?**
We should merge logic from webpack-command to be the new `bin` folder logic, as this is

[2018-06-24 21:14] #524 closed

[2018-06-27 06:20] rifler commented on #299
Any news? Still fails in 3.0.8

[2018-06-27 06:51] ematipico commented on #299
Do you have a repository where we can check why it's falling? It might be better to open a new issue. This has been closed for a month so we assumed everything was patched. Maybe the issue is caused by something else. If you could open a new issue and provide a valid repro, it will be awesome. Thanks!

[2018-06-27 07:16] rifler commented on #299
It is private, but this changes fixed this issue for me
[code]

[2018-06-27 10:54] ematipico opened #530 "[CI] Travis doesn't kick any build"
**Describe the bug**
Travis is not kicking any build

**What is the current behavior?**
PRs are not checked though CI

**To Reproduce**
Just open a PR

**Expected behavior**
It should run and show it inside the checks

**Screenshots**
N/A

**Please paste the results of `webpack-cli info` here, and mention other relevant information**
N/A

**Additional context**
N/A

[2018-06-28 15:20] ev1stensberg commented on #299
Strange. Do you have webpack installed already? try to only have a local installation

[2018-06-28 15:21] ev1stensberg commented on #530
I'll enable it again.

[2018-06-28 15:21] #530 closed

[2018-07-01 13:03] jpoppe commented on #459
This one gave me a headache, took me a while to find issue but for me this happens when there are multiple targets exported, also when _module.exports_ is an array with one target.

This works with _--info-verbosity:_
[code]

This does not work with _--info-verbosity_:
[code]

[2018-07-01 13:07] ev1stensberg commented on #459
I don't think exporting an array of modules is encouraged, one file with a config is considered better

[2018-07-01 13:11] jpoppe commented on #459
@ev1stensberg When you are building an Electron application with 2 targets then this is a pretty useful supported feature ;)

[2018-07-02 03:39] diegocl02 commented on #459
I got the same problem here, @jpoppe did you use any workaround for it? I want to use the --info-verbosity flag and at the same time I want to have multiple targets exported in my conf file.

[2018-07-02 08:05] jpoppe commented on #459
@diegocl02, no I did not find a work around, I found this issue when I tried to debug another issue I had with Webpack, so I just enabled only one target for debugging so I could use the _--info-verbosity_ flag. But it did not show more then the --verbose flag in the end so I did not spent more time on it.

[2018-07-02 14:49] ev1stensberg commented on #459
Could you formulate the error precisely? i.e: `info-verbosity` doesn't work when exporting multiple configurations.

[2018-07-03 09:18] jpoppe commented on #459
@ev1stensberg: exactly that, I must add that I have only tested with exporting multiple configurations with different targets, **electron-main** and  **electron-renderer** in my case.

[2018-07-03 14:12] ev1stensberg commented on #459
By chance, do you merge configurations at any point?

[2018-07-03 15:31] astephenb opened #536 "when using a preset like -d, do not override options in config file"
**Do you want to request a *feature* or report a *bug*?**

I'm not sure how this is perceived in by the maintainers, but I found it confusing why my `devtool` option in my config was being ignored when using the `-d` preset. So the purpose of this issue is to start a discussion or gain clarity about config precedence.

**What is the current behavior?**
If `-d` is set on the command line, then `dev

[2018-07-03 16:00] astephenb commented on #536
After some discussion in the gitter community, I understand that this is consistent behavior with other cli tools.

[2018-07-03 16:00] #536 closed

[2018-07-06 13:17] somil-northout commented on #230
I am getting same issue with webpack-cli@3.0.8.

[2018-07-06 17:15] DBosley opened #1657 "Support setting the config name for multiple configs"
Operating System: Ubuntu 18.04
Node Version: 8.11.1
NPM Version: 6.0.0
webpack Version: 4.12.0
webpack-hot-client Version: 4.0.3

- [x] This is a **feature** request
- [ ] This is a **bug**

### What is the motivation and/or use-case for the feature?
Webpack supports multiple configurations in a single file by exporting an array.
[Info Here](https://webpack.js.org/configuration/configuration-types

[2018-07-09 11:17] private-ryan23 opened #541 "webpack-cli migrate webpack.config.js ERROR"
I'm updating a **webpack.config.js** using and this command `webpack-cli migrate weebpack.config.js`

I'm starting a new project with webpack mini test sample so
I create a directory and run `npm init` then run `npm i webpack --save-dev`
I install webpack-cli `npm i webpack-cli` then i run `webpack init`  automatically install a new **webpack.dev.js**
I run `webpack-cli migrate webpack.config.js`

[2018-07-09 14:16] ematipico commented on #541
Hi! Thanks for filling the issue, please next time don't delete the template! Couple of questions:

1. You didn't mention the file webpack.config.js in your problem, where does it come from?
2. Why do you use migrate? Looks like you're creating a new project

[2018-07-09 19:52] IzaGz commented on #477
i got
 webpack-cli migrate webpack.config.js
`/Users/z/project//node_modules/@webpack-cli/migrate/index.js:11
const { validate } = process.webpackModule;`

[2018-07-09 20:00] IzaGz opened #542 "Cannot read property 'length' of null"
[code]

[2018-07-09 20:03] IzaGz commented on #541
same problem

[2018-07-09 20:10] IzaGz commented on #541
i have tried to switch to version 2- but go the
`TypeError: Cannot read property 'length' of null`
https://github.com/webpack/webpack-cli/issues/542

[2018-07-10 03:44] ev1stensberg commented on #477
@IzaGz upgrade to the version @and-why mentioned 👍

[2018-07-10 03:45] ev1stensberg commented on #542
Hi @IzaGz , could you use the issue template that is provided next time? Which version are you on?

[2018-07-10 03:46] ev1stensberg commented on #542
Moved to #541

[2018-07-10 03:46] #542 closed

[2018-07-10 03:46] ev1stensberg commented on #541
Which version are you lads at? We need more information 👍

[2018-07-10 05:32] rishabh3112 commented on #87
I was researching for E2E (as labeled for beginners) part of this issue, where i explored end to end tests that yarn do [here](https://github.com/yarnpkg/yarn/tree/master/end_to_end_tests).
There I found that they use docker container to run tests, I understood what a container is but facing problems for it's setup can anybody help?
and also what sort of tests to run?

[2018-07-10 07:02] rishabh3112 commented on #87
@ev1stensberg ?

[2018-07-10 07:37] ev1stensberg commented on #87
Hi @rishabh3112 . Run tests that make webpack configurations that are valid. ( Smoketests ). Have a look at `test/testBinCases` on how to setup that. Did I answer your question?

[2018-07-10 07:39] ev1stensberg commented on #542
Could you move to the latest version? It should be no problem for you

[2018-07-10 08:45] rishabh3112 commented on #87
Yes, and can I also know which all cases are left to be implemented @ev1stensberg

[2018-07-10 11:16] IzaGz commented on #542
@ev1stensberg  i use webpack 2 i am migrating from webpack 1 to 2
i see this library for migrationg from 1 to 2 only. But why i see this error?
`webpack-cli@2.1.5 requires a peer of webpack@^4.0.0 but none was installed.`

[2018-07-10 15:15] ev1stensberg commented on #87
Awesome. Do you have to get started?

[2018-07-10 15:16] ev1stensberg commented on #542
What happens if you run the newest version? Any errors? Ignore those warnings for now

[2018-07-10 15:24] rishabh3112 commented on #87
I have cloned repo and installed packages and packages of individual packages in packages folder.
Have run tests present currently which all passed.
Learning jest and the structure of binCases present.
Want to know next step

[2018-07-10 15:25] rishabh3112 commented on #87
@ev1stensberg ?

[2018-07-10 16:15] ev1stensberg commented on #87
Hi! Do you want to start with an easier issue ? This might be a hard one for complete beginners. I can give you a better one 🤗

[2018-07-10 16:19] rishabh3112 commented on #87
Yes you can give an easier one too but i also want my hands on this.😃

[2018-07-10 16:33] ev1stensberg commented on #87
The first step would be to create an image or container of the latest version and then adding the tests

[2018-07-10 16:38] rishabh3112 commented on #87
Is it okay to ask doubts in future as i am a beginner in all these things. 😅

[2018-07-11 05:10] ev1stensberg commented on #87
No worries @rishabh3112 , available to answer questions!

[2018-07-11 05:46] rishabh3112 commented on #87
@ev1stensberg will I have to setup docker on my computer or there is any option available to setup at any remote server ? my computer doesn't have enough resourses

[2018-07-11 06:13] ev1stensberg commented on #87
I think you'll need to install it locally

[2018-07-11 09:33] IzaGz commented on #541
this issue error happens on webpack-cli 308

[2018-07-11 15:20] ev1stensberg commented on #436
Try upgrading to `webpack-cli v.3.0.2` and above

[2018-07-11 15:20] ev1stensberg commented on #542
Try `v.3.2` and up. Just upgrade to the latest, that's the easiest way to get the error gone.

[2018-07-11 15:21] ev1stensberg commented on #541
Upgrade to version `3.1.2` and up, an update to the latest version would be the best for you! :)

[2018-07-11 16:09] IzaGz commented on #542
@ev1stensberg  but where can i found the list of versions? in the  https://github.com/webpack/webpack-cli/releases page only  3.0.8 last
i tried npm i -S webpack-cli@latest - I thought this will install the latest version...
How could i now the real latest version?

[2018-07-12 05:19] kaushalyap commented on #299
I do still get the following the following:
`/node_modules/webpack-cli/bin/cli.js:244
				throw err;
				^
`
in **"webpack-cli": "^3.0.8"**. I tried @rifler solution it also does not work for me.

[2018-07-12 05:40] ev1stensberg commented on #459
Hi @domehead100 wow, that's quite extensive, you're smart!

My hypothesis is that `webpack-merge` doesn't merge the two configurations correctly. If you can console log the exported configurations before exporting them, filter out confidencial content and log them here, that would be great.

[2018-07-12 05:42] ev1stensberg commented on #299
Install webpack and webpack-cli in pkg json and your scripts should call webpack on `webpack-cli@latest` and `webpack v4+`

[2018-07-12 05:47] ev1stensberg commented on #542
`npm uninstall webpack-cli && npm install --save-dev webpack-cli@latest`

[2018-07-12 07:06] IzaGz commented on #542
@ev1stensberg it installs 3.0.8 version

[2018-07-12 13:54] rishabh3112 commented on #87
I am facing this issue when i run `docker run hello-world` (hello-world is sample container for checking installation)
`docker: Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?.`
using Ubuntu 16.04.2 LTS
and docker version 18.03.1-ce
Needed Help @ev1stensberg

[2018-07-12 14:32] ev1stensberg commented on #542
Could you check with version is the latest one in Npm? Try to install rhat. There's no breaking things CLI wise for you to be stuck at updating the dependency

[2018-07-12 14:45] ev1stensberg commented on #87
I think Google would be your best friend on these kinds of issues

[2018-07-12 14:59] rishabh3112 commented on #87
Nothing helped, i post here because i thought someone know here maybe.
Struck on for a day

[2018-07-12 15:45] ev1stensberg commented on #87
No worries, take your time :) Google docker for beginners and read up on articles and such!

[2018-07-14 12:04] rishabh3112 commented on #87
Can't install docker on my system as I use Ubuntu using WSL. Installing docker on it linux doesn't work as docker's daemon can't run it's background tasks .Docker can be easily setup on WSL using docker for windows too but that requires Windows 10 Pro edition but I have Windows 10 Home. I tried using `rkt` but that too was of no help. So, I may not be able to help in this issue so can I have any o

[2018-07-15 05:56] rishabh3112 commented on #87
Yes, I can work on documentations.
Should we move to #247 or open a new issue @ev1stensberg

[2018-07-15 07:33] ev1stensberg commented on #87
Move to 247. Comment what you would like to work on :)

[2018-07-15 13:31] rishabh3112 commented on #247
@ev1stensberg I would like to work on Init documentation first.

[2018-07-15 14:32] webpack-bot opened #546 "Webpack get error when build it"
D:\express\test-app\node_modules\webpack-cli\bin\cli.js:244
                                throw err;
                                ^

Error: Cannot find module 'json-parse-better-errors'
    at Function.Module._resolveFilename (module.js:536:15)
    at Function.Module._load (module.js:466:25)
    at Module.require (module.js:579:17)
    at require (D:\express\test-app\node_modules\v8-compile-c

[2018-07-15 14:45] Thilinam93 commented on #546
Please help me to slove this

[2018-07-15 17:00] ematipico commented on #546
Could you please give us more information and/or a repo to reproduce the issue?

[2018-07-15 17:01] ev1stensberg commented on #247
Go for it!

[2018-07-16 05:01] Thilinam93 commented on #546
this is my webpack.config.js

var webpack = require('webpack')
var path= require('path')

module.exports = {

    entry:{
        app:'./src/app.js'

    },
    output:{
        filename:'public/build/bundle.js',
        sourceMapFilname:'public/build/bundle.map'

    },
    devtool:'#source-map',
    module:{
        loaders: [{
            test: /\.jsx?$/,
            exclude: /(node_modules)/,

[2018-07-16 05:10] domehead100 commented on #459
Ha.  If I was smart, our setup would be simple :).  "Any fool can make something complicated.”  Thanks though, even if you were ribbing me.

Anyway, here's culled output from our dev build without --info-verbosity in the command line (so that the build will actually run).  Search for "step1", "step2", "step3" to see the console.log() output of the configs.  In reality, these came out in reverse in

[2018-07-16 05:20] domehead100 commented on #459
I have to get some sleep, early meeting in the morning, but I'll try tomorrow or tomorrow night not using merge at all and see how that plays out.  If it still throws the error in question, I'll try not exporting multiple configs from the first step and see how that works out.

I'll try to let you know the results in the next 24 hours or so.

[2018-07-16 05:46] Thilinam93 commented on #546
Issue is fixed, I just uninstall webpack using npm 'uninstall webpack --save-dev' and reinstall webpack using npm install webpack@2.1.0-beta.22 --save-dev

Thanks for all

[2018-07-16 06:15] #546 closed

[2018-07-16 07:17] rishabh3112 commented on #247
@ev1stensberg check #547 for init documentation

[2018-07-16 15:22] ev1stensberg commented on #459
@domehead100 Gotcha, nizenize. I use webpack merge at work, and when using nested objects then not all props would get exported. Hmu when you're ready 👍

[2018-07-17 05:47] domehead100 commented on #459
Turns out that taking out webpack-merge doesn't fix the issue.  Still get the error shown down at the bottom of this post if exporting multiple configs from the root webpack.config.js with or without webpack-merge.  If I leave webpack-merge in and export only a single config, I don't get the error.  So, it seems that exporting multiple configs is what causes the error.

What's really a bummer is t

[2018-07-17 05:54] ev1stensberg commented on #459
Do you mind if I get back to you this weekend? Got full time job to prioritize and this seems like it needs investigation 🙃

[2018-07-17 15:23] domehead100 commented on #459
No worries.  Actually I've determined that I don't need the --info-verbosity setting at all (since it doesn't do quite what I thought it did).

[2018-07-18 02:12] ev1stensberg commented on #541
Yep. I'll submit a fix shortly

[2018-07-18 02:17] ev1stensberg commented on #459
Alright.

[2018-07-18 02:42] ev1stensberg opened #551 "Docs: Add tsdoc"
see https://github.com/TypeStrong/typedoc/issues/818

[2018-07-18 02:46] ev1stensberg commented on #541
Fixed on master now. Will publish a new release once @dhruvdutt has fixed the breaking tests in bintestcases.

[2018-07-18 02:46] #541 closed

[2018-07-18 08:05] xtx1130 commented on #541
The same issue and I use:
[code]

[2018-07-18 15:00] ev1stensberg commented on #245
Closed 🎉 Our main cli folder will remain in js as it would be easier for beginners to make sense of and then move on to understand each package. Cheers & thanks to our GSOC student @dhruvdutt !

[2018-07-18 15:00] #245 closed

[2018-07-20 06:29] rishabh3112 commented on #137
@sendilkumarn @dhruvdutt  is work is still in progress [here](https://github.com/sendilkumarn/webpack-addons-pwa) ?
I have submitted a PR [sendlikumarn/webpack-addons-pwa#19](https://github.com/sendilkumarn/webpack-addons-pwa/pull/19).
Also package on npm needs to be updated to `webpack-scaffold-pwa`

[2018-07-20 09:48] sendilkumarn commented on #137
@rishabh3112 Yeah sure we can do this 👍

[2018-07-21 15:40] giandalpont commented on #299
Install webpack-cli and  yarn add
npm install webpack-cli -D
yarn add webpack-cli  -D

[2018-07-23 15:31] Tryliom commented on #436
Same issue with v3.1.0 :/

![screen shot 2018-07-23 at 17 29 45](https://user-images.githubusercontent.com/23244518/43086653-30d206ee-8e9e-11e8-829c-5bf18701bd25.png)

[2018-07-23 22:14] preston206 commented on #299
probably covered already, but just in case... I'm a new webpack user and I installed webpack globally via npm and I installed webpack-cli within my local project's package.json dependencies. That is when the error was occurring. I uninstalled the local cli and then installed the cli globally. No more error. I think they both need to be in the same environment. This thread helped me figure it out.

[2018-07-24 05:17] ev1stensberg commented on #299
@preston206 Thanks for sharing. It's quite unfortunate for us that users hit this error though, we use `import-local` which should resolve this, but it doesn't as webpack and webpack-cli is in two different locations

[2018-07-25 09:33] cvaliere commented on #436
installing webpack-cli globally solved it for me
`npm i -g webpack-cli`

[2018-07-26 10:11] leechao commented on #299
I have the same problem.
I have uninstalled globally webpack and webpack-cli
Here are the versions I use in my project package.json
`   "webpack": "^4.16.2",
    "webpack-cli": "^3.1.0",
`

And I still encounter the error whenever i run "npx webpack" or "npx webpack-cli"

`Error: Cannot find module 'webpack'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:581:15)
    at Fun

[2018-07-27 04:43] ev1stensberg commented on #299
Doing a refactor of the bin folder and that will solve it. Ready in august/september!

[2018-07-28 11:41] AjayPoshak commented on #87
Is anything left here up for grabs?
I would like to contribute.

[2018-07-28 11:43] rishabh3112 commented on #87
Yes @AjayPoshak, You can get started with E2E tests.

[2018-07-28 15:43] OPARA-PROSPER commented on #87
I'm a windows pro user. Though I'm a newbie to open source contribution but i'm willing to help, can i also help with the E2E test?

[2018-07-30 22:07] SimonAlling commented on #312
@Daiz @SavageCore

I found a solution.

[code]

And a sample `webpack.config.ts`:

[code]

With such a configuration, UglifyJS removes the metadata block prepended by BannerPlugin from production builds, then inserts it again as a preamble.

[2018-07-31 02:16] Hoten opened #557 "--output-library does not accept arrays"
**Describe the bug**

Unable to pass an array-value to `--output-library`.

[code]

At least one of these formats should pass `["key1", "key2"]` to the `output.library` option. However, only one value can be passed.

**What is the current behavior?**

output is currently something like
[code]

**Expected behavior**

should be
[code]

[2018-07-31 02:18] Hoten commented on #557
By the way, yargs does support this: https://github.com/yargs/yargs/pull/164

[2018-07-31 11:15] ev1stensberg commented on #557
Seems like a easy fix. Do you mind sending a PR?

[2018-08-01 03:43] Hoten commented on #557
I've forked and gave it a shot. It's not really clear how to even build the project. I'm afraid I'll just be using a workaround (which is to just define this value in the config file directly).

[2018-08-03 17:13] jktravis opened #563 "When in watch mode, pressing Enter should force a rebuild"
**Is your feature request related to a problem? Please describe.**
Sometimes, webpack either rebuilds too fast, or I'm generally unsure if it has finished rebuilding (maybe I missed a notification from webpack-notifier). And I just want to force a rebuild. Now, I presume the only thing I can do is stop and restart the watch.

**Describe the solution you'd like**
Something similar to Jest's watch m

[2018-08-03 21:31] ematipico commented on #563
I usually re save a file a new build runs. Same thing with Jest

[2018-08-06 14:46] AjayPoshak opened #564 "@webpack-cli/init needs to be installed a local dependency"
**Is your feature request related to a problem? Please describe.**
While doing `webpack-cli init webpack-scaffold-pwa`, I am asked to install `@webpack-cli/init` as a separate package, even though I have it installed globally.  So cli installs it locally, then it sits in my dependencies even though I need it only once.  It would take me extra efforts going to my package.json and remove it from the

[2018-08-09 14:25] jktravis commented on #563
With Jest, I can press enter to trigger a new test run. I mean, it's fine without it I guess.

[2018-08-10 09:16] ev1stensberg commented on #563
Working on a similar feature @jktravis , probably in early beta within 3 weeks.

[2018-08-10 15:00] webpack-bot opened #567 "bug: No Entry found & argument error"
# Bug report

**What is the current behavior?**
It fails to build and shows this:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
It should build the application successfully like how it was done [here](https://www.youtube.com/watch?v=pwHdFPEX4NA) which worked until the warnings messages which got me to update the plugins and

[2018-08-13 08:39] ev1stensberg commented on #567
Hi @berkmann18 . You'll need to do `--entry=foo.bar`

[2018-08-13 12:18] Berkmann18 commented on #567
@ev1stensberg Okay, so the entry property was removed. Thanks for letting me know.

[2018-08-13 13:01] Berkmann18 commented on #567
I'm now getting this error:
[code]
With the following `webpack.config.js`:
[code]
I tried looking at how the VueLoaderPlugin was supposed to be used after getting an error related to webpack not finding that loader and I think I did that bit right but webpack seems to not like that.

[2018-08-13 17:29] ev1stensberg commented on #567
Could you post a repro in a seperate repository?

[2018-08-13 17:59] Berkmann18 commented on #567
Would that be better than committing what I have now without the old configuration?

[2018-08-14 14:30] Berkmann18 commented on #567
Okay, I'll do that then.

[2018-08-14 15:18] ev1stensberg commented on #567
Thanks! Will check it out during the week! Ping me friday if I haven't given you a response!

[2018-08-14 15:26] Berkmann18 commented on #567
Okay, I'll do.

[2018-08-16 15:39] ematipico opened #569 "[Feature] Extend from a base config"
**Is your feature request related to a problem? Please describe.**
Not a problem, but a nice to have.
Lot of time people have different configuration file based on different environment or situation and sometimes they like to put the 'shared' configuration inside a specific file (`webpack.base.js`, something like this). It would nice if the `webpack-cli` would provide an automatic way to extend fr

[2018-08-17 08:29] EugeneHlushko commented on #569
Do you mean like this? https://github.com/survivejs/webpack-merge

[2018-08-17 14:59] Berkmann18 commented on #567
@ev1stensberg

[2018-08-18 16:08] ev1stensberg commented on #567
Grabbing this next week, sorry for the hold up, but got a (very needed) vacation until monday

[2018-08-18 20:05] dhruvdutt commented on #567
Can we keep this issue open until it's fully resolved so it's easier to track?

[2018-08-20 06:36] sumit-gupta91 commented on #569
I would like to work on this feature, if no one has taken this up already.

[2018-08-20 06:40] ev1stensberg commented on #569
Feel free to 🤘🏽

[2018-08-20 08:05] webpack-bot opened #570 "webpack --watch --info-verbosity verbose fails when config is an array of configs"
# Bug report

**What is the current behavior?**

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Export multiple configs. See example: https://github.com/eamodio/vscode-gitlens/blob/develop/webpack.config.js

And run with
[code]

**What is the expected behavior?**

It should work and add `Compilation starting…` and `Compilation finished` message around the who

[2018-08-21 05:42] #393 closed

[2018-08-22 05:26] ematipico commented on #551
Related issue is closed so it's a problem related to something else. But I'm going to remove the bug label because we don't have it yet. We can't bug something we don't have lol

[2018-08-22 05:33] ematipico commented on #564
I think user have the choice to install it globally or locally. People have always different needs. What do you think?

[2018-08-22 05:37] ematipico commented on #282
`.mjs` is experimental and node is team are still discussing the implementation concerns. So it could be dropped o change in the feature. Honestly I wouldn't put effort on something that could change in the future.

[2018-08-22 06:15] dhruvdutt commented on #564
I agree people might have different needs, IMHO most people would run this command once when there's setting up a new project so it makes sense to give more precedence to the global package list.

[2018-08-22 07:00] dhruvdutt commented on #551
I had resolved this locally since a while but forgot to commit/push. 😅

[2018-08-22 11:31] ev1stensberg commented on #564
Yep. Agree. Will try to resolve this in a newer version of webpack-cli coming soon.

[2018-08-22 13:16] #551 closed

[2018-08-24 16:50] huixisheng opened #572 "bug: require(...).default is not a function"
**Describe the bug**

`package.json` with content

[code]

**What is the current behavior?**

[code]

**To Reproduce**

1. npx webpack-cli generate-plugin
2. vi remote default
[code]

**Expected behavior**

only  my-webpack-plugin create.

**Screenshots**

![image](https://user-images.githubusercontent.com/1518967/44596785-19232480-a800-11e8-8867-a71c99a09b8c.png)

[code]

**Additional context**
A

[2018-08-24 16:50] ev1stensberg commented on #572
@dhruvdutt do you mind fixing this?

[2018-08-24 19:41] dhruvdutt commented on #572
This is happening because you have older version of `"@webpack-cli/generate-plugin": "0.0.8"` which is incompatible with the current version of `webpack-cli`.

Can you please upgrade to latest version `0.1.0` of `@webpack-cli/generate-plugin`?

[2018-08-25 09:32] huixisheng commented on #572
I try to install  `@webpack-cli/generate-plugin@0.1.0`. but Can't find package `@webpack-cli/generate-plugin@^0.1.0`.

![image](https://user-images.githubusercontent.com/1518967/44616926-2128a600-a88c-11e8-8eaf-5ee15eee0ae0.png)

![image](https://user-images.githubusercontent.com/1518967/44616929-4c12fa00-a88c-11e8-98ac-7a3b62f90758.png)

I will do with `npm cache verify`,  `yarn cache clean ` in

[2018-08-25 09:55] ematipico commented on #572
https://www.npmjs.com/package/@webpack-cli/generate-loader

It looks like it's there. Are you hitting the correct registry?

[2018-08-25 10:46] ev1stensberg commented on #572
Seems like we might need to support China ( Tabao ) as well. Makes sense?

[2018-08-25 11:38] ematipico commented on #572
Yes

[2018-08-25 19:33] dhruvdutt commented on #572
@huixisheng We're identified and resolved the issue. We'll soon release a new version with the fix.

[2018-08-29 09:59] sendilkumarn commented on #137
Lets close this 👍

[2018-08-29 10:00] #137 closed

[2018-08-29 13:10] huixisheng commented on #572
👍

but will do scripts webpack-defaults, it's default config ?

[code]

[2018-08-29 13:28] nebrelbug commented on #299
@ev1stensberg any progress? Installing webpack and webpack-cli locally doesn't work for me, and neither does `npx webpack` or running `webpack-cli`, and I tried `rm -rf node_modules` and then reinstall.

[2018-08-29 13:49] nebrelbug commented on #299
I uninstalled globally `webpack` and `webpack-cli` and then reinstalled, and it seems to be working so far...

[2018-08-29 14:16] alexander-akait opened #575 "[Feature]: Implement api for reporters and implement `stylish` reporter"
**Is your feature request related to a problem? Please describe.**

Implement api for `reporter` to allow people choose webpack output.

**Describe the solution you'd like**

Just add option `--reporter [name]`/`--reporter path/to/reporter.js`.

Also have built-in reporters, example `standard` (maybe best name) and `stylish`.

**Describe alternatives you've considered**

Now we have only https://g

[2018-08-29 17:02] ev1stensberg commented on #572
Could you elaborate @huixisheng ?

[2018-08-29 17:03] ev1stensberg commented on #299
Working on fixing this but haven’t had a lot of spare time lately. Sorry for the inconviniences.. 👨🏼‍🔧

[2018-08-29 17:04] ev1stensberg commented on #575
Setting this as a high priority. Doing this after new CLI is out. Plan is to use webpack stylish as a default reporter.

[2018-08-29 17:50] nebrelbug commented on #299
@ev1stensberg in the meantime, what should I do to follow best practices with my projects?

[2018-08-29 18:15] ev1stensberg commented on #299
Anything that runs webpack is viable. Ideal case is to run it through node modules by installing them both locally as devDeps. If that doesn’t work, then look in the issue thread 🤗

[2018-08-31 05:58] Fandekasp commented on #296
Having the issue
[code]
with all `@babel` packages at `^7.0.0` and `babel-loader@^8.0.0`

The traceback points to v8-compile-cache
[code]

and sure enough, it uses [babel 6.26.3](https://github.com/zertosh/v8-compile-cache/blob/master/package.json#L18).

[2018-08-31 06:29] ev1stensberg commented on #296
@Fandekasp most likely one of your dependencies are lower than 7

[2018-08-31 07:00] Fandekasp commented on #296
@ev1stensberg the traceback tells us that webpack-cli calls v8-compile-cache which requires babel 6, but you believe I have another unrelated package which, although not mentioned in the traceback is the cause for this issue.
This certainly makes debugging more difficult.

I used babel-upgrade to update my package.json, then went on to update some other packages as I fixed errors thrown out by web

[2018-08-31 08:51] ematipico commented on #296
If you believe to have issues between Babel versions, try to install this package

[code]

[2018-09-02 10:14] ev1stensberg commented on #247
Any update here lads?

[2018-09-02 10:16] ev1stensberg commented on #101
I'm closing this now 🎉 by CC-ing @developit . Feel free to reach out to us if you want to customize preact cli to eject configurations or to add additional functionality to preact-cli!

[2018-09-02 10:16] #101 closed

[2018-09-02 10:27] ev1stensberg commented on #87
Sure. Have you written any before @OPARA-PROSPER ?

[2018-09-02 12:39] Berkmann18 commented on #567
@ev1stensberg It's `new VueLoaderPlugin()`.

[2018-09-02 12:42] ev1stensberg commented on #567
I think the issue is that you either are using an outdated plugin or dependency. Most likely a plugin

[2018-09-02 14:40] Berkmann18 commented on #567
@ev1stensberg It still happens with up-to-date dependencies tho.
[code]

[2018-09-02 14:44] ev1stensberg commented on #567
Alright, could you try to run without cross env?

[2018-09-02 15:33] Berkmann18 commented on #567
I get the same error without using cross env.

[2018-09-02 20:32] ev1stensberg commented on #567
Okay. Could you open a repository for me to debug in?

[2018-09-02 20:34] ev1stensberg commented on #567
At first glance it looks like your config doesnt get validated correctly, could you try with the —config flag?

[2018-09-03 07:05] Fandekasp commented on #296
Unfortunately, I keep having this `The 'polyfill' option has been removed.` error.

[2018-09-03 11:19] rishabh3112 opened #577 "Bug: No types declarations of packages"
**Describe the bug**
Couldn't import packages in typescript file

**What is the current behavior?**
After importing `webpack-scaffold` in a typescript file.
I cant use any of its prompt functions like `Confirm` , `Input`, etc. as it doesn't have any types declaration

**Expected behavior**
Being able to import packages and use its functions and other methods

**Screenshots**
![untitled](https://us

[2018-09-03 17:57] Berkmann18 commented on #567
@ev1stensberg Adding `--config webpack.config.js` doesn't change anything to the output above.
I updated the [repo](https://github.com/Berkmann18/vue-static-re) with the new changes.

[2018-09-04 02:40] huixisheng commented on #572
The generated files are all redundant except `my-webpack-plugin` folder ?

![image](https://user-images.githubusercontent.com/1518967/45007141-faf2cb00-b02e-11e8-90c1-0c7042298de7.png)

[2018-09-04 18:57] dhruvdutt commented on #575
@ev1stensberg Can you please update #87 if this has been moved?

[2018-09-04 18:57] dhruvdutt commented on #404
Sure! Would try to finish over the weekend.

[2018-09-04 21:34] ematipico commented on #575
We risk to lose track of what we need to address.

Let's close this is only if completed or the umbrella issue has been updated.

Thanks.

[2018-09-06 08:11] fokusferit commented on #247
THis weekend I have planned to focus! It's scheduled!

[2018-09-06 13:22] alexander-schranz opened #579 "Add possibility for configurations without a config file"
**Is your feature request related to a problem? Please describe.**

We are searching for a solution to use webpack without a config file, where we can configure a comments false over cli in our case it comments: false which we want to set over the cli.

**Describe the solution you'd like**

Maybe add a `--disable-comments`

**Describe alternatives you've considered**

or maybe add a more global so

[2018-09-06 15:29] alexander-schranz commented on #579
@ematipico sorry I mean the remove all JS comments also the one of the headers currently it still outputs jquery headers, ...

[2018-09-06 15:52] michael-ciniawsky commented on #579
This is a `uglify(-webpack-plugin)` specific option with would be quite misplaced as a flag to `webpack-cli` directly imho. Please use a config file instead or maybe the CLI supports passing options when specifying a plugin via the CLI (`--plugin` (?)) in a more generic way, but I don't think so tbh

[2018-09-06 16:02] ematipico commented on #579
Although, when running in production mode, it should remove the comments.

[2018-09-06 16:13] michael-ciniawsky commented on #579
The defaults for `mode: 'production'` use the included version of `uglifyjs-webpack-plugin` for minifaction and as long as the CLI is not messing around with these defaults, it's an core 'issue' to modify the defaults here imho .:)

[2018-09-08 15:00] JamesTheHacker commented on #296
The most common reason for this issue is having the wrong `babel-core` installed. For version 7 you need to use [@babel/core](https://www.npmjs.com/package/@babel/core) as opposed to [babe/core](https://www.npmjs.com/package/babel-core).

    npm uninstall babe-core
    npm install @babel/core

[2018-09-08 22:13] vascofernandes commented on #299
got the same issue.

[2018-09-09 05:10] ev1stensberg commented on #567
try moving vue plugin to the top of plugin array. the error is from vue

[2018-09-09 05:14] ev1stensberg commented on #572
I don't think I understand your question. Are you trying to run webpack-defaults and you are wondering if it is ok to run it through webpack-cli?

[2018-09-09 05:17] ev1stensberg commented on #575
ok

[2018-09-09 05:17] ev1stensberg commented on #247
Hmu if you need help @fokusferit

[2018-09-10 19:02] greenkeeper[bot] opened #580 "An in-range update of webpack is breaking the build 🚨"
## Version **4.17.3** of **webpack** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/webpack/webpack-cli/compare/master...webpack:greenkeeper%2Fwebpack-4.17.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/webpack/webpack>we

[2018-09-11 22:53] xavierfoucrier commented on #569
As seen in webpack-command: https://github.com/webpack-contrib/webpack-command#extendable-webpack-configurations :+1:

[2018-09-12 18:39] piciuok commented on #567
Hey!

Try change:
`var VueLoaderPlugin = require('vue-loader')`
to
`const VueLoaderPlugin = require('vue-loader/lib/plugin');`

I had same problem - after that, works nice!

( https://vue-loader.vuejs.org/migrating.html#loader-inference )

[2018-09-12 21:56] Berkmann18 commented on #567
@ev1stensberg I still get that error :s.

@piciuok After doing that, I get this error:
[code]

No idea why I get this when the `.vue` files' location is specified in the config and the command.

[2018-09-13 03:35] greenkeeper[bot] opened #582 "An in-range update of lerna is breaking the build 🚨"
## The devDependency [lerna](https://github.com/lerna/lerna) was updated from `3.3.1` to `3.3.2`.

🚨 [View failing branch](https://github.com/webpack/webpack-cli/compare/master...webpack:greenkeeper%2Flerna-3.3.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

lerna is a devDependency of this project. It **might not brea

[2018-09-13 13:42] #582 closed

[2018-09-13 13:44] ev1stensberg commented on #567
if you are in prod mode, then you have no `module.rules` array to load `.vue` extensions.

[2018-09-13 13:44] #567 closed

[2018-09-13 13:45] ev1stensberg commented on #580
#581

[2018-09-13 13:45] #580 closed

[2018-09-13 13:46] ev1stensberg commented on #569
This is possible. Gonna do this in the new cli version

[2018-09-14 22:18] Berkmann18 commented on #567
How come? Was that deprecated?

[2018-09-15 08:06] ev1stensberg commented on #567
no, it's how vue works if you read the docs and your own code 👍  https://medium.freecodecamp.org/getting-started-with-vue-single-file-components-using-webpack-2ae078058688

[2018-09-15 08:21] evenstensberg opened #586 "[Feature]: webpack interactive command"
**Is your feature request related to a problem? Please describe.**
As apart of the new CLI, one thing that would be nice to have is a `webpack interactive` command. This way, users that are in the middle of a git rebase or want to pause compilation by any means, can do that. In addition, it would be nice to have a interactive terminal where you can specify watch mode, what files to compile and suc

[2018-09-15 08:28] evenstensberg opened #587 "Feature: End to End Tests"
**Is your feature request related to a problem? Please describe.**
We do not have a good test setup written yet. It would be nice to have a end2end test setup for webpack-cli.

**Describe the solution you'd like**
1. Consuming a docker container
2. Run a lot of tests that produce output
3. Check validity of those

**Describe alternatives you've considered**
N/A

**Additional context**
You could lo

[2018-09-15 08:31] evenstensberg opened #588 "Feature: Smoketests"
**Is your feature request related to a problem? Please describe.**
It would be nice to have smoketests to ensure that configurations we produce are valid. These smoketests should be designed to stress the library, to make sure that we are producing valid configurations with various of configuration options.

**Describe the solution you'd like**
A smoketest implementation that produces a webpack co

[2018-09-15 09:39] duzy commented on #572
I came across the same issue, this is properly a fix:

[code]

which replaced the original (`prompt-command.js`):

[code]

[2018-09-15 10:03] ev1stensberg commented on #572
Maybe you can do a PR to fix this? That would be great 🤗😍

[2018-09-15 11:29] duzy commented on #572
https://github.com/webpack/webpack-cli/compare/master...duzy:patch-1

https://github.com/webpack/webpack-cli/pull/589

[2018-09-15 11:55] evenstensberg opened #590 "Ench: Consider removing either appveyor or travis over Azure"
**What is the current behavior?**
Right now we have 3 CI's. Awesome thing to have, but is it really needed?

**If the current behavior is a bug, please provide the steps to reproduce.**
Look at PR and see all the CI's running.

**What is the expected behavior?**
1 less CI service

**If this is a feature request, what is motivation or use case for changing the behavior?**
Maintenance

**Please past

[2018-09-15 12:29] ematipico commented on #590
Appveyor is not needed, we can remove it from my point of view.
Do travis supports CI on Windows OS?

[2018-09-15 13:46] ev1stensberg commented on #590
It should

[2018-09-16 10:39] EvsChen opened #591 "Fail building the project: Cannot find multiple modules"
I'm new to webpack-cli and clone this project to build locally.

**Describe the bug**

I follow the instruction in CONTIBUTING.md and run the following.

[code]
Everything works well and no errors.

Then I run `yarn test` to make sure everything is installed well. Then the `TS2307 error: Cannot find module` comes out.

**What is the current behavior?**

I just paste some of the first missing modul

[2018-09-16 13:59] ematipico commented on #591
Hi!

In order to build the project you have to run the bootstrap command as well. We use lerna to orchestrate the packages

[2018-09-16 14:43] ematipico opened #593 "Move cli inside its own package [core]"
**Is your feature request related to a problem? Please describe.**
Now that the project uses lerna, the core cli should be moved inside its own package, maybe called `@webpack-cli/core`

This is will help us also during committing messages like. We have a plugin that will force us to have the string inside the parenthesis as  the name of the packages handled by lerna

[code]

**Describe the soluti

[2018-09-16 14:45] ematipico opened #594 "feat: Move CLI core logic to Typescript"
**Is your feature request related to a problem? Please describe.**
As part the Typescript transition, I think the entire cli should be moved to Typescript. Maybe during the refactoring or straight after.

**Describe the solution you'd like**
As said, it can be done after the refactoring

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2018-09-16 14:51] EvsChen commented on #591
Thanks a lot @ematipico ! That's the missing piece I'm looking for. Would it be better to mention it in the CONTRIBUTING.md?  Otherwise it seems misleading for newcomers.

[2018-09-16 15:17] ematipico commented on #591
Totally legit! Feel free to send a PR if you want :)

[2018-09-16 17:10] ev1stensberg commented on #593
I don't think that we should, but leaving it up for discussion

[2018-09-16 17:12] ev1stensberg commented on #594
I don't think that we should, makes it harder for FT contributors to look at code. As apart of #245

[2018-09-16 17:13] ev1stensberg commented on #591
CC @fokusferit https://github.com/webpack/webpack-cli/issues/591#issuecomment-421777568

[2018-09-16 17:28] ev1stensberg commented on #593
Read the typescript issue and what concerns are raised there

[2018-09-16 17:37] ematipico commented on #594
So why we started doing this at the first place?

The community has decided and we decided to move to typescript, hence we have to do it fully, no half ways. The "thing" of the code it's how we write the code, no matter the language.

If the code is commented, organized, well written, etc. The first contribution will come easily. Doesn't matter the language. Typescript has types and helps with err

[2018-09-16 17:46] ematipico commented on #593
I'd like to keep typescript outside of the scope of this proposal. I'd like to understand your concerns about this proposal and the reasons

[2018-09-16 18:01] ev1stensberg commented on #593
Path lookup with webpack and local imports, the need of having to install the main logic as a dependency before using it are my highest ones.

[2018-09-17 02:30] EvsChen commented on #591
Sure. I'll send a PR for this.

[2018-09-17 04:05] EvsChen commented on #591
I used the wrong email to commit so I reopen another one. The cla bot informs me that I have to sign the CLA first. But the link it gives doesn't work.
https://cla.js.foundation/webpack/webpack-cli?pullRequest=597

[2018-09-17 06:34] ematipico commented on #591
It does work for me

[2018-09-17 07:00] EvsChen commented on #591
Don't know why it fails. I use some proxy and it finally works. Could you please help to review my PR? @ematipico

[2018-09-17 09:18] Rohanhacker commented on #586
can I work on this ? This will be my first contribution to webpack cli

[2018-09-17 10:04] ev1stensberg commented on #586
Gladly!

[2018-09-17 10:41] Rohanhacker commented on #586
@ev1stensberg thanks

[2018-09-17 14:27] ematipico commented on #593
In my proposal I said that this package will be a direct dependency of the main webpack-cli project. So in our main `package.json` will have

[code]

Local import will be kept inside `cli.js`

How is it handled now that it cannot be done by another file inside another folder?

[2018-09-18 10:27] dhruvdutt commented on #594
Makes sense. I would love to pick this up if we all are positive for it. ✋

[2018-09-18 15:31] greenkeeper[bot] opened #598 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.19.0` to `4.19.1`.

🚨 [View failing branch](https://github.com/webpack/webpack-cli/compare/master...webpack:greenkeeper%2Fwebpack-4.19.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It **m

[2018-09-18 15:50] ev1stensberg commented on #598
@sokra is this something we'll need to update or is it trivial?

[2018-09-18 18:37] #591 closed

[2018-09-18 18:43] dhruvdutt commented on #598
@ev1stensberg I think merging #581 should fix this. There isn't any greenkeeper branch active right now so let's merge that PR for now. I've also upgraded major versions of some other dependencies like `jest` as well.

[2018-09-19 19:32] ematipico commented on #598
Closing as change has been merged

[2018-09-19 19:32] #598 closed

[2018-09-21 09:06] dhruvdutt commented on #590
@ematipico Can we close this? Also, can you please check my above comment?

[2018-09-21 09:09] ematipico commented on #590
Well, we still have two CIs. We should narrow down to only one.
I read that Azure doesn't support caching and they are still working on that. On the other hand Azure supports Windows while Travis doesn't. Thoughts?

I think Windows is needed on a CLI environment

[2018-09-21 13:05] ematipico commented on #577
Fixed in #578

[2018-09-21 13:05] #577 closed

[2018-09-21 14:16] rishabh3112 commented on #577
When will this ship to npm @ematipico?

[2018-09-21 14:41] ev1stensberg commented on #577
If emanuelle has write access to npm he can do it now

[2018-09-21 22:07] greenkeeper[bot] opened #602 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `10.10.1` to `10.10.2`.

🚨 [View failing branch](https://github.com/webpack/webpack-cli/compare/master...webpack:greenkeeper%2F%40types%2Fnode-10.10.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a de

[2018-09-22 09:09] ev1stensberg commented on #602
@dhruvdutt can you fix this?

[2018-09-23 12:18] ematipico commented on #602
We can close it, the error is fired by the commitlint travis job.

[2018-09-23 12:18] #602 closed

[2018-09-23 19:40] dhruvdutt commented on #602
Should be fixed post with #584. cc @ematipico

[2018-09-25 15:04] seanlarge opened #607 "Webpack-cli ^2.1.1 config-yargs.js looks for optionsSchema.definitions.output vs optionsSchema.definitions.outputOptions"
**Describe the bug**

  - Config-yargs seems to be looking for `optionsSchema.definitions.output` instead of `optionsSchema.definitions.outputOptions` and my server won't start. Which path should webpack-cli be looking for? [here is a gist](https://gist.github.com/seanlarge/c8dd01c3159ce0703b76fb64877d0bec) with the contents of optionsSchema.definitions

env
`node 6.9.4`
`npm 4.1.2`

`"webpack": "

[2018-09-25 15:15] vjnathe-webonise commented on #607
+1
Same error with me, using LTS for node 8.12.0.
Dependencies with version:
"webpack": "^4.11.0",
"webpack-cli": "^2.1.5",
"webpack-dev-server": "^3.1.4"

[2018-09-25 15:27] vjnathe-webonise commented on #607
migrating to latest version solved the error for me: webpack-cli@3.1.1

[2018-09-25 15:30] seanlarge commented on #607
same here

[2018-09-25 15:30] seanlarge commented on #607
I will close this issue

[2018-09-25 15:33] #607 closed

[2018-09-25 15:53] vjnathe-webonise commented on #607
Love to hear root cause though

[2018-09-25 16:09] ev1stensberg commented on #607
Tried to fix local/global paths by attaching the webpack object to a process variable. It didn’t work, so it got reverted in webpack-cli 3+

[2018-09-25 17:35] oluwie commented on #607
Looks like this commit broke it

https://github.com/webpack/webpack-cli/pull/605

[2018-09-25 17:45] ev1stensberg commented on #607
Yup

[2018-09-26 07:41] wheresrhys opened #608 "Error when compiling with only cli options in webpack-cli 2"
**Describe the bug**

This is now erroring despite no code changes related to the build. As far as I can see it started happening in the last 2 days. There is no config file; only cli options are used.
[code]

**What is the current behavior?**

Throws the error as above.

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone https://github.com/wheresrhys/fetch-mock.git`
2. `g checkout b1

[2018-09-26 08:13] ev1stensberg commented on #608
update to the newest version

[2018-09-26 08:13] #608 closed

[2018-09-26 08:32] ematipico commented on #608
Duplicate of #607

[2018-09-26 10:40] wedog opened #609 "Missing configuration files"
**Describe the bug**
missing option: “/node_modules/webpack-cli/bin/config-yargs.js:89
				describe: optionsSchema.definitions.output.properties.path.description,”
from the webpack@4.20.0 ,the "schemas/WebpackOptions.json" file dose not exist  “optionsSchema.definitions.output.properties.path.description”

**What is the current behavior?**

/home/gitlab-runner/builds/a0472af4/0/ne-fe/ne-oa-dashboa

[2018-09-26 10:44] ev1stensberg commented on #609
Which webpack-cli version are you running?

[2018-09-26 10:45] ev1stensberg commented on #609
Update to `webpack-cli v.3.1.1`

[2018-09-26 10:45] #609 closed

[2018-09-26 20:11] ev1stensberg commented on #586
Yes, but you should be able to do the commands as mentioned in the issue. No, these options are new, so you'll have to experiment a bit yourself!

[2018-09-27 07:05] ematipico commented on #590
I've tried to re run a build on Azure and it didn't work. Not good atm

[2018-09-27 09:52] ev1stensberg commented on #590
Okay. Can you take a look at it Emanuelle? That would be really 👏🏽

[2018-09-27 11:14] wilkinsonjack1993 commented on #569
I really like the way this is done by the now deprecated config-loader: https://webpack.js.org/loaders/config-loader/#extending-configuration-files

Its really clean and obvious which files are extending what. If webpack-cli could do this in a similar way that would be awesome.

[2018-09-27 13:14] wheresrhys commented on #608
Shouldn't you put some notice in the readme/install logs saying webpack-cli 2 is unsupported?

[2018-09-27 13:59] ev1stensberg commented on #608
Normal behavior would be to upgrade, no?

[2018-09-27 14:00] ev1stensberg commented on #569
Send a PR and it could be added pretty fast 🤙🏽

[2018-09-27 14:36] ematipico commented on #608
It's written in the `webpack` changelog

https://github.com/webpack/webpack/releases/tag/v4.20.0

[2018-09-27 15:01] wheresrhys commented on #608
IMHO introducing an incompatibility problem between two tools that are so closely coupled could do with a more easily discoverable notice than a changelog, such as a more informative error. I'd be happy to submit a PR inserting such a notice if you think it's worth it

[2018-09-27 15:17] ematipico commented on #608
Totally true. We are already planning on how to show this kind of information. Feel free to open an issue or a PR if you want!

[2018-09-28 12:42] rishabh3112 commented on #247
@ev1stensberg having a documentation website is much better as it will serve the cause quicker.
If you agree to same I am happy to build a solution for this :D

[2018-09-28 12:43] fokusferit commented on #247
Docs page is webpack.js.org so stuff needs to go there 😅

[2018-09-28 12:45] rishabh3112 commented on #247
Yeah but I couldn't find the docs for `webpack-cli` there.

[2018-09-28 12:47] fokusferit commented on #247
Exactly. This is something this task should tackle.
We can collaborate on this, as I start with that topic and we could share tasks. Are you

[2018-09-28 12:48] rishabh3112 commented on #247
https://cli.angular.io
Angular CLI has its own too ;)

[2018-09-28 13:11] rishabh3112 commented on #247
@fokusferit we will be doing this at https://webpack.js.org or a standalone?

[2018-09-28 13:46] fokusferit commented on #247
@rishabh3112 they have it but in our case I think the CLI is an integral part so having them all in one place makes more sense & referencing to the CLI in that doc's will increase visibility :)

[2018-09-29 13:59] AjayPoshak commented on #587
@ev1stensberg Do you have any idea on how to test prompts?  I have started with `init`, but facing difficulty to find a way to test prompts.

[2018-09-29 14:31] ev1stensberg commented on #587
I think inquirer has an issue open if you google it

[2018-09-29 14:32] rishabh3112 opened #617 "Feature: GUI for webpack-cli"
**Is your feature request related to a problem? Please describe.**
A GUI for `webpack-cli` which can be used to
- [ ] Add `loaders`, `plugins` from npm directly
- [ ] Remove configurations
- [ ] Edit configurations
- [ ] Visualize stats in graphs
- [ ] Create new configurations
- [ ] Watch for changes in watch mode
- [ ] Support `webpack serve`
- [ ] Visualize diff between modules when added or re

[2018-09-29 14:33] ev1stensberg commented on #617
I think a gui for webpack in general would do

[2018-09-29 14:38] rishabh3112 commented on #617
Yeah @ev1stensberg that would be way more awesome,
We can also reuse the packages in `webpack-cli` like `add`, `remove`, etc to have that implemented I think 🤔

[2018-09-29 14:42] ev1stensberg commented on #617
Yup

[2018-09-29 15:40] eamodio commented on #570
If you export multiple configs (an array) as seen [here](https://github.com/eamodio/vscode-gitlens/blob/develop/webpack.config.js#L25) and use the `--info-verbosity verbose` command line option webpack crashes.

[2018-09-29 15:43] ev1stensberg commented on #570
Working on a fix, out tomorrow

[2018-09-29 15:51] ev1stensberg commented on #570
Closeed via #618 . Added a bit of info to each watch instance so you can get an overview of which compilation it is compiling.

[2018-09-29 15:51] #570 closed

[2018-09-29 15:58] eamodio commented on #570
@ev1stensberg Thank you -- can't wait to test it out! 😄 Will hopefully resolve some of my typescript problem matchers for vscode

[2018-09-29 16:06] ev1stensberg commented on #570
Tested it on your repo, you got some errors :D

[2018-09-29 16:47] ev1stensberg commented on #590
Azure seems to be running windows though? What's the bug?

[2018-09-29 17:49] manu-chroma commented on #564
Hey, I came across this on twitter from a Hacktoberfest tweet. I will like to work on this one.

Should I wait for the new release or start looking on how to implement it?

[2018-09-29 17:50] ev1stensberg commented on #564
You could start to implement it!

[2018-09-29 18:40] eamodio commented on #570
Works! Thanks!

[2018-09-29 18:41] ev1stensberg commented on #570
Cool beans ♥️

[2018-09-29 20:41] manu-chroma opened #619 "DOCS: contributing setup: rimraf dep needed before running npm bootstrap"
**Describe the bug**
**What is the current behavior?**

If the user does not have ``rimraf`` installed before running ``npm bootstrap``,
``sh: 1: rimraf: not found`` error is thrown.

This dependency should be specified in https://github.com/webpack/webpack-cli/blob/master/CONTRIBUTING.md.

[2018-09-29 20:43] ev1stensberg commented on #619
You will need to do npm install first of all. Docs points that out. Hmu if you need help setting yourself up 🙏💙

[2018-09-29 20:43] #619 closed

[2018-09-29 20:51] manu-chroma commented on #619
@ev1stensberg it is not clearly mentioned in: https://github.com/webpack/webpack-cli/blob/master/CONTRIBUTING.md#setup. That is why the confusion.

[2018-09-30 08:05] #557 closed

[2018-10-01 09:37] mayanksingh0821 commented on #542
Issue is still present with webpack-cli 3.1.2, why is this issue closed?

[2018-10-01 10:06] ematipico commented on #542
File a new issue please. The source of the problem could be different

[2018-10-01 15:32] edmorley opened #624 "Deprecate --optimize-minimize in favour of --mode production"
**Is your feature request related to a problem? Please describe.**
I've seen end users continue to use `--optimize-minimize` with webpack 4, since they weren't aware of the newer/superior `--mode production`, and then get confused why they are seeing "`mode` is not set" warnings.

**Describe the solution you'd like**
Start by showing a deprecation warning for `--optimize-minimize`, then at some po

[2018-10-02 07:43] memolog commented on #607
Webpack has chaged their definition from `output` to `outputOptions` in https://github.com/webpack/webpack/pull/7232, https://github.com/webpack/webpack/commit/3a896c96b64abb993b83f15dec460faf8d9bf2b3#diff-03af1a9344cf93838ad925ff61de02aaL328

I think the quick workround about this issue is keeping webpack version 4.19.1 earlier.

[2018-10-02 10:39] artola commented on #569
I wrongly reported this issue into `webpack` repo ([issue](https://github.com/webpack/webpack/issues/8119#issuecomment-426213075)).

Most of the tools in the stack support "extends", even it was available on "webpack-command", and today shown in webpack documentation as possible (but it is not).

Examples: `tslint, `jest`, `eslint`, `babel`.

[2018-10-02 16:40] ematipico commented on #569
It is possible via `config-loader`. What's need to be done in here and to use via cli and also being able to use `config-loader` inside our code. Like webpack command does

[2018-10-03 19:44] greenkeeper[bot] opened #625 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `10.11.3` to `10.11.4`.

🚨 [View failing branch](https://github.com/webpack/webpack-cli/compare/master...webpack:greenkeeper%2F%40types%2Fnode-10.11.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a de

[2018-10-03 20:18] ematipico commented on #625
Random fail on the CI

[2018-10-03 20:18] #625 closed

[2018-10-04 07:46] dhruvdutt commented on #625
A restart in build fixed it. Seems like greenkeeper can't pick it up and do a PR to update the version. Should we do it manually?

[2018-10-04 10:41] ematipico commented on #625
Even though we did it manually, would greenkeeper be able to close the issue automatically? That's the real point I think

[2018-10-05 11:15] greenkeeper[bot] opened #626 "An in-range update of husky is breaking the build 🚨"
## The devDependency [husky](https://github.com/typicode/husky) was updated from `1.1.0` to `1.1.1`.

🚨 [View failing branch](https://github.com/webpack/webpack-cli/compare/master...webpack:greenkeeper%2Fhusky-1.1.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

husky is a devDependency of this project. It **might not b

[2018-10-05 11:32] ev1stensberg commented on #626
Random CI fail? Can disable greenkeeper on issues if it helps

[2018-10-05 11:40] ematipico commented on #626
I think the problem is Node 7. We should not support it into the matrix, as I suggested time ago.

npm WARN npm You should probably upgrade to a newer version of node as we
npm WARN npm can't make any promises that npm will work with this version.
npm WARN npm Supported releases of Node.js are the latest release of 6, 8, 9, 10, 11

[2018-10-05 11:42] ev1stensberg commented on #626
Can you remove it?

[2018-10-05 12:17] #626 closed

[2018-10-05 12:17] ematipico commented on #626
Will do

[2018-10-05 12:27] greenkeeper[bot] opened #627 "An in-range update of @commitlint/prompt-cli is breaking the build 🚨"
## The devDependency [@commitlint/prompt-cli](https://github.com/marionebl/commitlint) was updated from `7.1.2` to `7.2.0`.

🚨 [View failing branch](https://github.com/webpack/webpack-cli/compare/master...webpack:greenkeeper%2F%40commitlint%2Fprompt-cli-7.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@commitlint/pr

[2018-10-05 15:35] #627 closed

[2018-10-05 17:55] gwylim opened #629 "Bug: Installing fails with "lerna: command not found""
**Describe the bug**

Running `npm install` in a project depending on webpack-cli fails with `lerna: command not found`.

**To Reproduce**
[code]

**What is the current behavior?**

[code]

**Additional context**
This seems to be related to https://github.com/webpack/webpack-cli/commit/415084913204d206579a5fc7d5dbc2f88555da31, since `npm install` is no longer run before `lerna bootstrap`. It works

[2018-10-05 18:49] ev1stensberg commented on #629
Can you try to do npm install without the prod flag?

[2018-10-05 19:05] gwylim commented on #629
Yes, that works when running `npm install` in webpack-cli, but the main bug here is that adding webpack-cli as a dependency of another package doesn't work. When you run `npm add webpack/webpack-cli` in another package, it doesn't install the dev dependencies of webpack-cli.

[2018-10-05 19:08] ev1stensberg commented on #629
that's intended. When adding the CLI it should be used to compile webpack, not developing it locally

[2018-10-05 19:19] gwylim commented on #629
Sorry, maybe I haven't explained it well or I've misunderstood something. If I create a minimal npm package with the following package.json, it results in the above error when running `npm install`. Is it a bug or expected behavior? If it's expected, then what's wrong with my package.json?:

[code]

[2018-10-05 19:27] gwylim commented on #629
Ok, I've edited the description to hopefully be more clear about the actual issue.

[2018-10-05 20:53] ematipico commented on #629
I see that you are linking the cli internally. But if you don't run the npm install, it won't find any package. In fact lerna is not installed hence you get that error.

We could improve the documentation

[2018-10-06 11:33] ev1stensberg commented on #629
@gwylim did it solve your issue?

[2018-10-08 17:13] ev1stensberg commented on #629
Closing as inactive until there’s any objections

[2018-10-08 17:13] #629 closed

[2018-10-09 18:58] greenkeeper[bot] opened #633 "An in-range update of @types/jest is breaking the build 🚨"
## The devDependency [@types/jest](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `23.3.4` to `23.3.5`.

🚨 [View failing branch](https://github.com/webpack/webpack-cli/compare/master...webpack:greenkeeper%2F%40types%2Fjest-23.3.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/jest is a devDe

[2018-10-09 20:07] greenkeeper[bot] opened #634 "An in-range update of lerna is breaking the build 🚨"
## The devDependency [lerna](https://github.com/lerna/lerna) was updated from `3.4.1` to `3.4.2`.

🚨 [View failing branch](https://github.com/webpack/webpack-cli/compare/master...webpack:greenkeeper%2Flerna-3.4.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

lerna is a devDependency of this project. It **might not brea

[2018-10-09 21:27] renatoagds commented on #617
@ev1stensberg Looks good! I'll start working on this.

[2018-10-09 21:30] ev1stensberg commented on #617
Awesome, thank you so much! 💙 start working on a fork and link me where you are working from and I'll give you feedback along the way ⚜️

[2018-10-09 21:36] renatoagds commented on #617
@ev1stensberg perfect!! I'll do a v1 and reach you for feedback.

[2018-10-09 21:47] ev1stensberg commented on #617
Sounds good 👏🏽

[2018-10-10 21:10] greenkeeper[bot] opened #637 "An in-range update of @types/jest is breaking the build 🚨"
## The devDependency [@types/jest](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `23.3.5` to `23.3.6`.

🚨 [View failing branch](https://github.com/webpack/webpack-cli/compare/master...webpack:greenkeeper%2F%40types%2Fjest-23.3.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/jest is a devDe

[2018-10-11 09:41] twentytwokhz commented on #299
Many thanks, it worked!

[2018-10-11 12:01] #637 closed

[2018-10-11 21:19] greenkeeper[bot] opened #638 "An in-range update of @commitlint/travis-cli is breaking the build 🚨"
## The devDependency [@commitlint/travis-cli](https://github.com/marionebl/commitlint) was updated from `7.2.0` to `7.2.1`.

🚨 [View failing branch](https://github.com/webpack/webpack-cli/compare/master...webpack:greenkeeper%2F%40commitlint%2Ftravis-cli-7.2.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@commitlint/tr

[2018-10-11 22:29] TENsaga commented on #299
OP appears to be using Unix, but I had the same error after multiple project restarts/npm installs. For those using WSL / Bash for Windows I noticed sometimes `npm install` fails to install some of the binaries. Webpack and webpack-dev-server were missing in my case.

[code]

Spent half a day trying to figure this out, hopefully it helps someone.

[2018-10-12 16:34] ev1stensberg commented on #638
Anyone in favor for fixing greenkeeper or deleting it?

[2018-10-14 05:38] dhruvdutt commented on #638
Let's remove it. 😅

[2018-10-14 05:47] #638 closed

[2018-10-14 11:52] LakshSingla commented on #617
I would also like to contribute to this issue, how should I go about it. Also which portion of UI should I take up?

[2018-10-14 17:29] LakshSingla commented on #617
@rishabh3112 Thanks for swift response. I propose creating an Express based server which will run locally, and serve the frontend to the localhost and use a library like shelljs on the backend part of it to run the commands in the webpack directory. Have I interpreted the meaning of creating those endpoints correctly? @renatoagds How do you propose of doing this? I will be happy to adopt to that t

[2018-10-15 02:57] LakshSingla commented on #586
@ev1stensberg Is this issue closed or is there any way I can contribute towards it ?

[2018-10-15 04:55] LakshSingla commented on #617
@rishabh3112 @ev1stensberg For the `webpack init` command, I suggest as the user enters his/her choice regarding different options (entry, output, module.rules etc), which are asked in `weback init` interactive mode, we create a dummy webpack config file and pass it to the `webpack init --config`. In case user fails to provide one we provide some defaults. I am unable to find a workaround for prov