[2016-12-16 20:14] DanielaValero opened #4 "Webpack CLI - Define features and tasks of the package"
We are at the moment setting up most of the groundwork of the project. In order to move forward we need to define the set of features and tasks that the project needs.

In the slack channel we have agreed that we would like to work with a TDD approach. Therefore setting up the TDD would be the first step.

Also, most of the conversation about the features, is being held at the webpack repo in this

[2016-12-17 04:38] hulkish commented on #4
Definitely some things I think where this could be super useful.:

1. Lightweight / Shallow scaffolding (similar npm init/git init):
[code]

2. Shorthand help shortcuts to specific configuration docs:
[code]

* Example values:
  * resolve:modules
  * module:rules
  * output

* Example usage:
[code]

...I have a lot more I'm kind of excited to add to this list lol.. but these are first that come to

[2016-12-18 16:31] ev1stensberg commented on #4
- https://www.npmjs.com/package/inquirer-test
- https://github.com/facebook/jest/blob/master/examples/manual_mocks/__tests__/FileSummarizer-test.js
- https://dmitriiabramov.github.io/jest-cheatsheet/index.html
- https://github.com/SBoudrias/Inquirer.js/tree/master/test
- https://glebbahmutov.com/blog/unit-testing-cli-programs/

[2016-12-19 20:31] DanielaValero commented on #4
Here a sumarized list of the on going discussion about the feaures of this package.

## List of suggested features

* Transform a webpack configuration v.1.x to v.2.x
* Create boilerplate setup with customizable implementation
* Add loaders and similar "high-level" features such as entry points / loaders - test loaders configuration (i.e. from an entry point, list files being tested by loader X)
*

[2016-12-20 14:11] pksjce opened #6 "Feature [--migrate]: Migrate from webpack 1 to 2 through webpack-cli"
### TODOS
#### Migrations
- [x] loaders -> rules
- [x] pre/postLoaders -> rules with `enforce: 'pre/post'`
- [X] solve for `-loaders` suffix.
- [x] resolve.root -> resolve.modules
- [ ] remove `json-loader`
- [x] add `sourceMap: true` to `UglifyJsPlugin`
- [x] change `ExtractTextPlugin` syntax
- [x] remove `OccurendeOrderPlugin`
- [ ] add `LoaderOptionsPlugin` with `minimize:true` ,`context` and `

[2016-12-21 03:23] TheLarkInn commented on #6
Maybe we could create a schema diff map. (At least for future builds) v3, 4, etc. Then we could literally map values and pieces to v3 schema etc.

Obvs a down the road feature but still relevant.

[2016-12-23 06:20] pksjce commented on #6
Yes, I'm really not sure what webpack1 schema was and so I'm pretty sure I will miss many cases while doing this.

[2016-12-24 06:49] bebraw opened #12 "Feature: Improve watch functionality"
**Do you want to request a *feature* or report a *bug*?**

Feature.

**What is the current behavior?**

`webpack --watch` works, but it's not ideal in all cases. Perhaps something else than Chokidar would work better esp. with newly added files. See https://github.com/webpack/webpack/issues/1863 for reference.

**What is the expected behavior?**

`webpack --watch` should be more robust (works with

[2016-12-24 06:55] bebraw opened #13 "Watch mode --save: rebuild on save regardless of changes"
I would like the option to be able to rebuild on save when using watch without webpack looking at the last modified date of files.

I understand rebuild can be resource intensive, but sometimes it is useful to the dev to be able to build as a sanity check or just to refresh the project.

**Moved from https://github.com/webpack/webpack/issues/1992**

[2016-12-24 06:58] bebraw opened #14 "Watch Mode stops functioning if emitted file is busy or locked"
**Do you want to request a *feature* or report a *bug*?**
A bug

**What is the current behavior?**
When in watch mode, if a file is busy when attempting to emit to it, watch stops functioning. The following error is appropriately logged:
[code]
**If the current behavior is a bug, please provide the steps to reproduce.**
run webpack --watch
save a watched file
output to a file which is currently be

[2016-12-24 07:01] bebraw opened #15 "Feature: Watch for webpack config changes in watch mode"
**I'm submitting a feature request**

**Webpack version:**
2.x

**Please tell us about your environment:**
OSX 10.x

**Current behavior:**
I'm not sure if this was discussed before, but it's one of the pain point for me in webpack workflow.

When config / config's dep is updated — hot reloadable server (or watch mode) must be restarted manually. Usually this hot reloadable server is not stand-alon

[2016-12-24 07:02] bebraw opened #16 "Watch mode doesn't work in specific folder"
**I'm submitting a bug report**

**Webpack version:**
1.13.2

**Please tell us about your environment:**
Windows 7

**Current behavior:**

Minimal test case.

Consider the following JS file `index.js` (the only file in a folder):

[code]

I'm trying to start webpack in watch mode:

[code]

When my work folder is `c:\dev\`, everything works as expected. But if I work in folder `c:\Program Files (x8

[2016-12-24 07:03] bebraw opened #17 "webpack watch mode not working...."
General Information:
webpack version: 1.13.2
OS: Windows 10 Anniversary Update and webpack is running in Windows Subsystem for Linux(The new bash on Ubuntu)

I"m trying to run webpack in watch mode by using:

[code]

and by also setting watch mode in config:

[code]

All webpack does is run the transpiler and exit.
Example of output when running watch mode:

[code]

I'm not sure what i'm doing inc

[2016-12-24 07:05] bebraw opened #18 "webpack --watch doesn't work with parenthesis in the project path"
I would never in my right mind add parenthesis to a path name (i.e. "(" or ")").  Unfortunately Dropbox does this when you have a personal account and company account on the same machine.  I store my personal projects in "~/Dropbox (Personal)".  I've been trying for a while to figure out why I couldn't get react hot reloading to work and the parenthesis in the project path seem to cause watch to n

[2016-12-24 07:06] bebraw opened #19 "Webpack new watcher + git adding / removing files"
**I'm submitting a bug report!**

**Webpack version:**
1.13.x

**Please tell us about your environment:**
OSX 10.11.6

**Current behavior:**
Webpack watcher isn't triggered by files added or removed by git.  Scenario:
1. Run `webpack --watch` within a git directory
2. Add new file, `lol.js` in directory (webpack discovers it just fine)
3. Run `git clean -f` (which actually moves `lol.js` into `./.

[2016-12-24 07:07] bebraw opened #20 "webpack --watch is not working on windows if root folder contains '(' or ')' in its name"
Hi,

I'm doing one of the tutorials that involves using webpack in watch mode, I noticed that whenever my 'root' (or rather current folder) contains '(' or ')' symbols in its paths, watching is not happening.

Am I missing anything? Can I tweak it in some way to get correct watching behaviour?

**Moved from https://github.com/webpack/webpack/issues/2258**

[2016-12-24 07:09] bebraw opened #21 "--watch needs timestamp"
This isn't really a bug, but more a feature request. I'm not sure if this is the right forum for it?

Please can you add a timestamp to --watch so we can visually inspect if a build took place?

For example, sometimes --watch silently hangs, sometimes I save the wrong file etc. If the code editor and the terminal windows are not always visible at once, being able to glance at the timestamp of the

[2016-12-24 07:10] bebraw commented on #21
This is literally

[code]

as discussed in the comments.

[2016-12-24 07:30] bebraw opened #22 "Feature: Support --quiet on the command-line"
Currently, `webpack --quiet` ignores the files passed, while still outputting to the console:

[code]

It would be nice to have the `--quiet` option work as expected, i.e. silence all non-error messages.

**Moved from https://github.com/webpack/webpack/issues/490**

[2016-12-24 09:16] SpaceK33z commented on #12
See https://github.com/webpack/watchpack/pull/41 for a proof of concept for moving from `chokidar` to `sane`.

[2016-12-24 09:20] SpaceK33z commented on #19
Note that this was fixed in https://github.com/webpack/watchpack/pull/37, but hasn't been released yet.

[2016-12-24 09:20] #19 closed

[2016-12-24 12:57] SpaceK33z commented on #18
Moving again since this was the wrong project :smile:. Moved to https://github.com/webpack/watchpack/issues/42.

[2016-12-24 12:57] #18 closed

[2016-12-24 12:57] SpaceK33z commented on #20
Moving again since this was the wrong project :smile:. Moved to https://github.com/webpack/watchpack/issues/42.

[2016-12-24 12:57] #20 closed

[2016-12-24 13:07] SpaceK33z commented on #17
Moving again since this was the wrong project :smile:. Moved to https://github.com/webpack/watchpack/issues/43.

[2016-12-24 13:07] #17 closed

[2016-12-24 13:09] SpaceK33z commented on #16
Moving again since this was the wrong project :smile:. Moved to https://github.com/webpack/watchpack/issues/42.

[2016-12-24 13:09] #16 closed

[2016-12-24 13:10] SpaceK33z commented on #14
Moving again since this was the wrong project :smile:. Moved to https://github.com/webpack/watchpack/issues/44.

[2016-12-24 13:10] #14 closed

[2016-12-24 13:12] SpaceK33z commented on #12
Dupe of https://github.com/webpack/watchpack/issues/36 / https://github.com/webpack/watchpack/issues/26.

[2016-12-24 13:12] #12 closed

[2016-12-24 14:04] ev1stensberg commented on #13
If I were to understand this correctly, it's just a rebuild after save regardless if it's a change or not?

[2016-12-24 14:05] bebraw commented on #13
@gkiely Can you expand on the idea?

[2016-12-24 14:10] ev1stensberg commented on #13
If there's a change, you'll get an update. If there isn't, you'll get an update too.

[2016-12-24 22:33] ev1stensberg commented on #4
For the init solution we can prompt this from [Mink](https://github.com/ev1stensberg/mink). Install it, use `npm link` and run `mink -u` or other flags to see example output and interface.

[2016-12-25 11:14] carlos- commented on #4
@DanielaValero, the list lgtm. I would prioritize them as you suggested.

I understand `webpack` and `webpack-cli` are in different repositories / npm packages. But in your example command `webpack-cli` is executed as `webpack --init`. How can this be? will `webpack` package require `webpack-cli`? or is it a typo?

I agree documentation will be also very important, so people do not get confused.

[2016-12-25 12:52] ev1stensberg commented on #4
@carlos- It's going to be `webpack <options>` , executing with `webpack-cli` is just development.

[2016-12-25 18:20] hulkish commented on #4
@ev1stensberg tbh, I think mink kind of takes it a little further than what makes sense for `webpack-cli`, specifically the parts where it involves exterior library support as part of the generator routine (`react-redux`, for ex).

I think there's value in keeping the idea of `webpack-cli init` just a simple straight forward config initializer.

[2016-12-25 18:35] ev1stensberg commented on #4
@hulkish Oh, yeah that's going to be included, but old naming is preserved. We're adding `init` and  `migrate`. If you run `webpack --init react` you should get a webpack config with react support!

[2016-12-25 18:49] #13 closed

[2016-12-25 18:49] #21 closed

[2016-12-25 19:49] ev1stensberg commented on #4
What I meant with Mink is that we could reuse some of the interface implementation. It's too broad trying to support all libraries in 1 project, that's why it's best to have an implementation similar to yeoman, but we can look at Mink for implementation insight.

[2016-12-25 20:05] ev1stensberg opened #25 "Seperate options object logic from argv && Transformation Parser"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

[Process-Options](https://github.com/webpack/webpack-cli/blob/master/bin/process-options.js) is currently making sure webpack gets options applied to the compiler. We're doing some checks here and there before and after the init of the compiler.

We should split or refactor the logic from the `op

[2016-12-25 20:06] ev1stensberg commented on #25
- https://github.com/webpack/webpack-cli/blob/master/bin/process-options.js#L147
- https://github.com/webpack/webpack-cli/blob/master/bin/process-options.js#L178
- https://github.com/webpack/webpack-cli/blob/master/bin/process-options.js#L138

[2016-12-26 22:20] hulkish commented on #4
@ev1stensberg agreed, I think maybe allowing for an options like `--post-processor react-webpack-config-processor` (for example) would be great.

[2016-12-26 23:40] ev1stensberg commented on #4
We've discussed inline options, could be better to have that as a question in inquirer instead. Else, there should/is going to be an opportunity to create an own package where you'd get that added.

[2016-12-26 23:49] hulkish commented on #4
I don't really know where I can fit in on this... but I'd love to help - point me in the direciton! @ev1stensberg @DanielaValero

[2016-12-28 16:25] ev1stensberg commented on #4
Send a message to @pksjce , maybe she has some acorn stuff she needs help with!

[2016-12-29 00:33] ev1stensberg commented on #25
1. Remove inquirer types  as we don't need several, we only use one.

[2016-12-31 14:00] pksjce commented on #25
We might use list or checkbox types also right?

[2016-12-31 14:55] ev1stensberg commented on #25
We'll see how the parser and transformation package turns out. We should export inquirer and all needed resources as a utility suite to develop an addon. Reserved this from npm: https://www.npmjs.com/package/webpack-addon

[2016-12-31 15:48] ev1stensberg commented on #25
![technical scheme](https://cloud.githubusercontent.com/assets/16735925/21578242/f92db75a-cf78-11e6-8b78-f97bb9964ca8.png)

[2016-12-31 15:49] ev1stensberg commented on #25
@kenwheeler @DanielaValero @pksjce  Seems approachable?

[2017-01-02 19:15] pksjce opened #29 "Feature: Init transformations"
**Do you want to request a *feature* or report a *bug*?**
Feature - `webpack --init` should kickstart a volley of inquirer questions. Each of the questions will be backed by a transformer. Each transformer will be transforming a single AST. When the end of questions is reached, the AST will be pretty printed to source code of the webpack config.

**What is the current behavior?**
Does not exist

*

[2017-01-03 10:08] DanielaValero opened #30 "Feature: Migrate current webpack cli from webpack to webpack-cli"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
The cli options from webpack exist in our repo, but have not been yet adapted to our new code design.

**What is the expected behavior?**
* All the webpack cli options are functional and tested in webpack-cli
* The code is adapted to the webpack-cli code design

**If this is a feature request, what

[2017-01-03 10:12] DanielaValero commented on #6
I think we should add explicitly the task that we should validate the current webpack 1 config, and the generated webpack 2 config. This way we would avoid problems during the migration and ensure that the result is working fine

[2017-01-03 10:13] DanielaValero commented on #29
We should also add here an explicit task to run a validation of the generated config, so we ensure that everything is going to work fine for the user.

Also, would be nice when we could optionally generate webpack 1 and/or webpack 2 configs

[2017-01-03 11:07] DanielaValero commented on #22
There was a PR some time ago in webpack, see webpack/webpack#517

[2017-01-03 22:06] georgiosd commented on #22
The `stats` property doesn't seem to get picked up when returning multiple configuration objects.

[2017-01-04 07:50] pksjce commented on #6
### Plan of action

[code]

This would then work as follows.

[code]
### Migration logic

`cliEngine.js`

[code]

### Transformations

Each transformation is an independent mutation of code. It should tackle a bare minimum of mutation and must work under all possible circumstances. The out of the box testing of jscodeshift should help with this.

---transformations
     |
     | ---transform1

[2017-01-04 08:58] DanielaValero commented on #4
Hello @hulkish

We are at the moment setting some ground work, and organizing the features, roadmap, etc. Once we've nailed it, and have the groundwork in place, there will be more clear tasks that you or anyone can pick up to help out.

Greetings

[2017-01-04 09:00] DanielaValero commented on #4
Will close now as we have already a github issue per feature. We will add in the first stage apart from the options to the compiler, an `init` and a `migrate` tasks.

All the rest: `add <setup-name>`, `generate  <plugin|loader|setup> <options>` and `help <option>`, will be discussed and added after the first version is in place.

[2017-01-04 09:00] #4 closed

[2017-01-04 09:03] DanielaValero commented on #22
@ev1stensberg, @pksjce what you guys think, should this be part of our roadmap to v1 ?

[2017-01-04 09:04] DanielaValero commented on #15
@ev1stensberg, @pksjce what you guys think, should this be part of our roadmap to v1 ?

[2017-01-04 09:06] DanielaValero commented on #6
Hello @pksjce thanks a lot for the detailed explanation! Now is clearer what you intend to do. I will dig soon deeper into this, so I can be more useful with the code reviews and picking up any task.

At a point, would be good when we migrated some of the documentation you added in your comment into some relevant place in the code, so the explanations don't get lost, and others can consume them af

[2017-01-04 09:11] bebraw commented on #15
Minimum - document how to achieve it outside of the cli. I guess it depends on the overall goals and priority. I expect v1 would be more or less what it is right now and you can build more features in v1.1 and so on.

[2017-01-04 09:13] DanielaValero commented on #25
Hi @ev1stensberg it looks like the diagram is referring to the `init` and that this issue is about the refactoring and migration of the options we pass to the compiler via the cli, which are currently available in `webpack`.

I'd think about the structure of `webpack-cli`, more like in two big areas:

1. `init` && `migrate`: which are consuming the validation and transformations of code
2. `<optio

[2017-01-04 09:34] pksjce commented on #6
Yes, I will try to adequately transfer this knowledge to the code. You also be on the lookout during reviews.

[2017-01-04 09:51] pksjce commented on #22
Yes, the `--quiet` option can be implemented. In the compiler callback, we just need to suppress all ouput.
But fixing `stats` bugs might be harder. Might require changes in webpack core.

[2017-01-04 11:46] DanielaValero commented on #15
I'd expect the same. So far, did not have time to look deeper into the already available options, but if this is in there, for sure will be part of v1. Otherwise, I'd agree with you by adding this to a v1.1 milestone

[2017-01-04 11:48] DanielaValero commented on #22
is somehow the `stats` bug related to the `--quiet` option? The relationship I see is that the `--quiet` silence the `stats`. If this is the only relationship, then I'd say that the `stats` bug should be raised as a separate github issue, so we don't mix two different things

[2017-01-19 15:24] kenwheeler opened #32 "Scoping: init feature"
Lets use this ticket to discuss the scope of the `init` command

TODO:

- [ ]  Agreed upon high level scope points go here

[2017-01-19 15:25] kenwheeler opened #33 "Scoping: migrate feature"
Lets use this ticket to discuss the scope of the `migrate` command

TODO:

- [ ]  Agreed upon high level scope points go here

[2017-01-19 15:25] kenwheeler opened #34 "Scoping: current Webpack CLI migration"
Lets use this ticket to discuss the scope of migrating existing Webpack CLI migration

TODO:

- [ ]  Agreed upon high level scope points go here

[2017-01-19 15:42] kenwheeler opened #35 "Discussion: Testing"
Lets use this ticket to discuss:

- [ ] Which test lib to use
- [ ] Spec naming/location convention

[2017-01-21 19:21] hillscottc opened #36 "webpack -p spams with Uglify warning noise"
I understand that the `-p` options has no way of suppressing underlying warnings. That's a pain. I'm seeing hundreds of lines of noise as Uglify generates warnings for every line of every third-party dependency in the project. This makes `webpack -p` not a good option for me, when otherwise its working well and saving me some work. I hope this gets looked at.

https://github.com/webpack/webpack/is

[2017-01-22 17:00] ev1stensberg commented on #32
The init command should initiate two basic questions, input and output(The most general variables that we can make for all common webpack configurations ). You can extend the scaffolding by supplying a second argument`<Array>` to the init command that will make the inquirer add extra questions to the prompt and generate a webpack config accordingly.

Example:

`webpack --init webpack-addons-react`

[2017-01-22 17:04] ev1stensberg commented on #36
This is relative to #22 , we are discussing this internally, I'll keep you posted on that issue thread. Thanks for submitting, but remember to use the template given! If you want help on fixing this in `webpack.config.js`, I can help you with that, but seems like that has been sorted out in where the issue originated from.

[2017-01-22 17:04] #36 closed

[2017-01-22 17:08] ev1stensberg commented on #33
`migrate` should transform from `v1` to `v2`, that's it.

[2017-01-22 17:09] ev1stensberg commented on #30
Elaborate some more please.

[2017-01-22 17:10] ev1stensberg commented on #34
Could you elaborate a bit more in the ticket @kenwheeler ?

[2017-01-22 17:12] ev1stensberg commented on #35
I'd find it appropriate to be under the specific files they originate from.

`lib/prompt/prompt.js` - together with `lib/prompt/prompt.spec|test.js`

[2017-01-22 17:24] ev1stensberg opened #37 "Fix: Make the Parser more Functional"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

Current behaviour is that the Parser is having an imperative approach to the first `--init` command.

**What is the expected behavior?**

The expected behaviour is that we should make `lib/parser` more functional to be reused together with the inquirer prompt. This allows us to reuse code, save s

[2017-01-23 11:57] DanielaValero commented on #35
**About the lib:**

For what we spoke in the last meeting, my impression was that most of us had more experience with Mocha, plus that webpack is also using it. Both might be a big plus when it comes to deciding for a testing tool.

In general I'd tend to say that we should better go for Mocha, as would be easier for most of us to write the tests, and also would be better when it comes to getting

[2017-01-23 12:01] DanielaValero commented on #33
Hi, I'd say that in order to be able to split this into smaller tasks, would be good to have a more detailed plan of the implementation of this.

@pksjce: You've been doing some work here, and mentioned in our call that the ground work you've been setting is quite in place and would be ready to get some extra hands in.

Would you share with us here the code design ideas that you've got? Perhaps ma

[2017-01-23 12:15] DanielaValero commented on #32
Hi,
About the main idea of the init, this is what we have spoken so far:

The init should have as a minimum the next functionality:
- Create a config for different environments (prod, dev, testing)

Other functionalities / nice to haves:
- Generate settings for frameworks

we could design it in a way that allow developers of frameworks, to write plugins, that would help to generate on top of that,

[2017-01-23 12:19] DanielaValero commented on #34
As I see it here, the next steps would be:

1. Make a list of the currently available cli features
2. Check what the current code design is, what libraries are being used, and which functionalities lack of tests.
3. Integrate it into the cli `lib/`
4. Decide if we want/need to refactor the code.

[2017-01-23 12:20] DanielaValero commented on #37
Hi @ev1stensberg, do you mean here 'functional' as of Functional Programming ?

[2017-01-23 14:48] ev1stensberg commented on #37
@DanielaValero Yes, that was the intent.

[2017-01-23 18:14] ev1stensberg commented on #32
I'll put up a set of things left on the init sometime during this week.

[2017-01-24 03:01] aight8 opened #38 "Feedback and ideas to CLI"
I want to leave my thoughts about webpack's CLI especially.
It's well known that webpack's config can be difficult to master because there are a lot of options and gears. (The most are somehow CLI relevant, but I wrote down everything otherwise I forget it)

1. The current webpack integrated CLI have now an integrated config validator which is worth so much, but because webpack configs are often g

[2017-01-24 10:53] ev1stensberg commented on #6
`/example` should be removed in the future @pksjce

[2017-01-24 14:59] DanielaValero commented on #38
Hi @aight8 thanks for sharing! We'll have a look at your ideas and integrate them where possible/makes sense to our roadmap

[2017-01-25 08:33] carlos- commented on #25
@DanielaValero, it makes total sense to me. I like the idea of organizing the architecture that way. did you finish the graph?

[2017-01-26 11:47] okonet commented on #6
I've started some work in https://github.com/webpack/webpack-cli/pull/40

Let's coordinate the effort. I'm just going the list of open items for now.

[2017-01-27 14:05] ev1stensberg opened #41 "Parser: Make Parser Reusable on validation"
**What is the current behavior?**

If you run `webpack-cli --init webpack-addons-ylvis` from the parser branch, it should download and require the package from npm.

If you run the init command with another flag, the parser will run directly after validating packages.

**What is the expected behavior?**

We should allow the `lib/initialize.js` module be reusable so we can build up a config with le

[2017-01-27 14:12] ev1stensberg opened #42 "Scoping: A typical webpack-addon-[name] package"
#### 1. Discuss how we want to generate needed rules in a webpack-addon package

</hr>

#### 2.  Discuss what to expected returned from an addons package for our transformer to run

</hr>

#### 3. Discuss on if we should allow `.babelrc` and such, to also be generated

</hr>

#### 4. Come up with an example of an webpack-addon

[2017-01-27 14:31] ev1stensberg opened #43 "Scoping: What properties to include when running --init"
#### Agenda:

Discuss what to transform and scaffold for all use cases. With other words: discuss what goes to the parser via `webpackOptions` or to the transform we have. This is so we can better know what to expect from an inquirer prompt, relative to #42

[2017-01-27 18:48] ev1stensberg opened #44 "Fix: Improve tests at tests/__tests__/parser/validate.test.js at feature/parser"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

We're performing the actual function call that will throw an error and we simplify the testing of it. You should mock this function instead.

**If the current behavior is a bug, please provide the steps to reproduce.**
replace `expect(object.toString()).toContain('TypeError:')` with what is under.

!

[2017-01-27 20:48] joshuacolvin commented on #44
I can work on this

[2017-01-27 20:51] ev1stensberg commented on #44
Great! The tests aren't well written, so any work on this are greatly appreciated. Keep in mind that the PR is towards the branch `feature/parser`

[2017-01-28 13:19] ev1stensberg opened #45 "Fix: Move logic from lib/parser/resolve-packages.js to lib/utils/validate-addons.js"
Move logic to allow the parser to be reusable.

[2017-01-28 13:21] ev1stensberg commented on #15
Fixed #23

[2017-01-28 13:32] ev1stensberg commented on #44
@joshuacolvin Doing some breaking changes on the branch, you should wait until monday to avoid getting conflicts and failed tests!

[2017-01-28 13:39] #45 closed

[2017-01-28 16:13] alistairjcbrown commented on #35
__About the lib:__

I’ve only really used Jest for react testing and that does seem to be a focus of their docs - it’s probably more than this, but to me it’s essentially Jasmine with react testing (in memory DOM, tree snapshotting) built in. So I'd `s/jest/jasmine/g` for this discussion.

For Jasmine vs Mocha, Mocha’s just the test framework - you bring in your assertion library, spys, test sandb

[2017-01-28 17:17] joshuacolvin commented on #44
@ev1stensberg Thanks! I will wait until monday.

[2017-01-28 17:37] okonet commented on #35
Jest is much more than Jasmine. Actually they completely removed the Jasmine dependency recently so right now it's basically the same as mocha + built-in assertions. You still can use other assertion libraries like chai, but would you when you have a really good built-ins? Also Jest will switch to expect assertions soon.

The pros of Jest is no-config setup, coverage out of the box, speed, support

[2017-01-29 01:51] TheLarkInn commented on #43
I think we should provide some sort of sane ENV separation for Dev and Prod environments. At the least separate composable configurations that enforce best practices like using production versions of vue angular and react.

[2017-01-30 06:58] ev1stensberg commented on #44
Okay, looks like this is stable until friday. Is there any knowledge/input you need from me before you start @joshuacolvin ?

[2017-01-30 08:00] carlos- commented on #35
I'm also +1 for putting test files along with source files. No need for that extra directory.

Following the same example as @alistairjcbrown suggested, directories would look like:

[code]

[2017-01-30 19:39] joshuacolvin commented on #44
@ev1stensberg I plan to dig into this tonight so I will let you know. Thanks!

[2017-01-31 06:47] ev1stensberg commented on #44
@joshuacolvin Keep me posted!

[2017-01-31 10:57] joshuacolvin commented on #44
Sorry I misread what needed to be done here. I am still willing to help with some guidance.

Just to clarify: the `validateAddons` function needs to be mocked? What is the preferred way to mock functions with jest? Also, should `expect()` be updated to match the error message instead of using `.contains()`?

Any guidance would be appreciated! Feeling a little in over my head.

[2017-01-31 11:46] ev1stensberg commented on #44
I'll push a commit for what needs to be done later today. If you see a flag with `TODO`, there's a brief section about what needs to be done. Remove this once done ( this is under ´tests` )

[2017-01-31 11:59] joshuacolvin commented on #44
Thanks!

[2017-01-31 18:44] pksjce commented on #33
@okonet - We need to collate all thats done in #40 and #6. After that we can come up with some concrete tasks that can be easily split.

[2017-02-01 14:50] okonet commented on #35
One more argument in favor of Jest: after a discussion about how to approach testing for transformations with @pksjce we'd like to use snapshotting to generate output fixtures automatically since current approach (manually update output files) is error-prone and time-consuming.

[2017-02-01 14:55] ev1stensberg commented on #35
@okonet +1, was thinking about using it for the same

[2017-02-01 23:11] ev1stensberg commented on #44
@joshuacolvin Sorry, been running out of time lately. We're having a meeting tomorrow, I'll put it up by then 💯

Thanks for the help by the way! 👍

[2017-02-02 00:36] joshuacolvin commented on #44
No worries! Thanks for the update!

[2017-02-02 07:19] ev1stensberg commented on #44
https://github.com/webpack/webpack-cli/tree/feature/parser PR goes to this branch, lemme know if you need anything from me. You have dozens of room for play/experiment 👍

[2017-02-02 08:52] DanielaValero commented on #35
I find quite valid the argumentation towards Jest. So far, the discussion is pointing towards the next decisions:

* Keep Jest
* Place the tests next to the source code.

What I still find open would be:
* Directory name for tests: So far we've got: `__test__` and `__fixtures__`
* Sufix for files: `.test.js` or `.spec.js`. In the project we've got already `.test.js`

[2017-02-02 10:14] ev1stensberg commented on #35
I'm in favor for `spec` and  also removing directories with __test__, replacing them with inline-files. Easy to do with jest configuration in `package.json` as well as perhaps an own mock directory somewhere.

[2017-02-02 10:54] okonet commented on #35
I think it will work without the config for this case as well.

[2017-02-02 10:57] ev1stensberg commented on #44
Handing this over to @alistairjcbrown . Evidently the entire folder should be moved as from #35

[2017-02-02 13:51] joshuacolvin commented on #44
Thanks for the update!

[2017-02-02 15:55] DanielaValero commented on #35
Cool, so to summarize, our decisions are:

I find quite valid the argumentation towards Jest. So far, the discussion is pointing towards the next decisions:

* Keep Jest
* Place the tests next to the source code, without any sub folder for test.
* We just use `.spec.js`

When everyone is ok with this, by doing a +1 reaction in my comment, then we can close this discussion as completed.

[2017-02-03 22:48] ev1stensberg commented on #41
Current work left to be done here is to allow reusability for multiple packages as well as remove an unnecessary inq prompt in `inquirer.prompt` or `initialize`.

TODO:

- [ ] Validation for webpackOptios

- [ ]  Remove a inq prompt

- [ ] Allow multiple packages

[2017-02-04 20:33] pksjce opened #47 "Integration testing : Obtain webpack 1 fixtures from the community to test 1->2 migrate command."
**Do you want to request a *feature* or report a *bug*?**
This is a requirement for integration testing.

**If this is a feature request, what is motivation or use case for changing the behavior?**
The idea is that once all the 1->2 migrate transformations are ready, we will do some integration testing on our side by asking the community for some webpack 1 fixture configs.

[2017-02-04 20:36] pksjce opened #48 "Feature [--migrate]: Validate the generated webpack 2 configuration."
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
The generated webpack 2 config needs to be validated with the webpack schema.

**If this is a feature request, what is motivation or use case for changing the behavior?**
This feature needs to be present for basic hygeine

[2017-02-04 20:38] pksjce opened #49 "Feature [--migrate]: Enhance the diff output after migrate command is run"
**Do you want to request a *feature* or report a *bug*?**
Feature enhancement

**What is the current behavior?**
Currently we are showing some basic diffs between the original config and the new webpack2 config created for the approval of user.

**What is the expected behavior?**
We would like to enhance this to state the reason for each of the change. This could guide the user to nuances of the c

[2017-02-04 20:41] pksjce opened #50 "Feature [--migrate]: Change migrate script tests to have jest snapshots"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Currently we have a custom testing workflow where we compare hardcoded output config to the transformed output. This is tedious as we have manually update output conifgs.

**What is the expected behavior?**
It would much easier and nicer to have verified jest snapshots and not have to hardcode outp

[2017-02-05 12:32] ev1stensberg commented on #48
@pksjce Working with webpack schema at parser now, could give you feedback on what I'm thinking of it once I'm done.

[2017-02-05 12:33] bebraw commented on #22
Btw, if you are open to changing naming, consider `--silent`/`-s` to follow npm convention.

[2017-02-05 12:35] ev1stensberg commented on #22
We've got `-s --save`, I think. That would need to be changed, dunno if people would like that. I'm open to it though

[2017-02-05 12:45] bebraw commented on #22
Ah, yeah. Namespace collisions are tough.

[2017-02-05 13:15] DanielaValero opened #51 "Chore: Fix lintin errors in parser"
**What is the current behavior?**
The parser has some lintin errors.

**If the current behavior is a bug, please provide the steps to reproduce.**
Run `npm run lint` and see the output.

**What is the expected behavior?**
There are no lintin errors in the parser.

[code]

[2017-02-05 13:18] ev1stensberg commented on #51
The mock should be refactored anyway. It's implemention has changed and we are polluting to the console on tests. Everything in the parser should be left alone for now until I've pushed a PR once I'm done #41

[2017-02-05 13:46] DanielaValero opened #52 "Discussion: Define Folder structure"
**If this is a feature request, what is motivation or use case for changing the behavior?**

**Motivation**: To have a folder structure that easily shows what the different parts of the project are, and that helps developers to find their way through the code.

Example:
[code]

So, basically the idea here is that the folder structure, would be like the tree view of a feature diagram.

I've set up

[2017-02-05 13:53] DanielaValero opened #53 "Discussion: How to depend from webpack and publish the cli to be used in webpack"
**Motivation:**
Make a plan to be able to use code from `webpack`, such as the validation or the schema, and at the same time publish the `webpack-cli` to`npm` so the project can be imported in `webpack`, so is a built in functionality.

**Problem:**
When we add `webpack` in our dependencies, and later on, `webpack` adds us as a dependency, we would get to the circular dependency problem.

How cou

[2017-02-05 14:04] DanielaValero commented on #51
Sounds like a plan.

[2017-02-05 16:01] DanielaValero commented on #25
Hello @carlos-

I've just added an asciidoc diagram in the features wiki page: https://github.com/webpack/webpack-cli/wiki/Features-definition---v1

The same structure, would be at a point expressed in the folder structure, which we are defining in #52

[2017-02-05 17:01] TheLarkInn commented on #38
This seems like a `webpack-describe` or a feature which describes what each process is doing in an understandable fashion. I think for this to be possible however requires a lot of core infra (that I'm frankly okay with). We'd want to have some sort of meta information that can describe each process that is occuring and then feed these events to the cli in some fashion.

[2017-02-05 18:29] okonet commented on #53
I think webpack-cli will have webpack as a dependency or am I wrong?

[2017-02-05 18:51] ev1stensberg opened #55 "Parser: Refactor Execution Context"
**Do you want to request a *feature* or report a *bug*?**

Feature/Bug

**What is the current behavior?**

Execution context is bad and reducing performance. We should distance ourselves from the `inquirer.prompt` context when possible.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
`throw new WebpackOptionsValidationError(webpackO

[2017-02-06 12:01] DanielaValero commented on #53
Yes, this way we can consume the validation and schema from webpack.

But after we are finished, the core team wants to have webpack-cli as a dependency, to run all the cli features built-in.

[2017-02-06 12:11] ev1stensberg commented on #53
That's not true. We need to make tweaks to the schema and validation in the future. Would be better of to depend on it from our own file.

[2017-02-06 13:02] okonet commented on #53
I think schemas should be shared across repos and be under SemVer. In this case we can always pin a proper dependency in case of such tweaks. We can use webpack as monorepo and still have multiple packages published from it. See how Jest does it. Or we could extract them to a separate repo (which might make more sense TBH if we want to promote these for IDE and text editor creators).

[2017-02-06 15:21] DanielaValero commented on #53
I'd tend to agree on the separate repos idea.

Also we need to consume the validation

[2017-02-07 10:36] ev1stensberg opened #56 "Scope: Refactoring Parser"
**Agenda**

Refactor the parser so we can benefit from it more with classes instead of a lot of smaller modules if needed.

[2017-02-11 18:27] ev1stensberg commented on #55
Fixed, might need change later on to make it more generalistic.

[2017-02-11 18:27] #55 closed

[2017-02-11 18:28] ev1stensberg commented on #56
Classes would be a non-related issue. We may do this with smaller submodules to benefit from something similar to this: https://www.npmjs.com/package/webpack-chain

[2017-02-11 18:28] #56 closed

[2017-02-12 17:46] ev1stensberg opened #57 "Transformation: Add transformation rules for inquirer questions"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

When we run `webpack-cli --init webpack-addons-ylvis` we get an validation error. We need to add some transformation rules to transform our answers to a valid webpack configuration before running the validation check.

![skjermbilde 2017-02-12 kl 18 42 44](https://cloud.githubusercontent.com/asse

[2017-02-12 17:47] ev1stensberg commented on #57
@DanielaValero I suggest I clean up the parser branch and commit to master and start on this on a new PR to avoid conflicts in `transform` and too big PR's, though this is quite a big one.

[2017-02-19 21:03] ev1stensberg commented on #51
#59

[2017-02-19 21:03] #51 closed

[2017-02-19 21:03] ev1stensberg commented on #44
#59

[2017-02-19 21:03] #44 closed

[2017-02-19 21:03] ev1stensberg commented on #41
#59

[2017-02-19 21:03] #41 closed

[2017-02-19 21:04] ev1stensberg commented on #37
#59

[2017-02-19 21:04] #37 closed

[2017-02-20 15:46] ev1stensberg opened #60 "parser: merge packages before sending it to the parser"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**
Right now, the parser is pretty slow if run multiple times. We need to skip some steps, such as re-validating each package and then run the prompt. I suggest that we merge the packages first and send it to the parser.

We could also run some functions in parallel?

**What is the expected behavior?

[2017-02-20 15:49] ev1stensberg opened #61 "parser: transformation rules after inquirer prompt"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

An error is thrown because we don't know the structure of options passed by inquirer.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

That we won't get an error when running the CLI init command, and that it first tries to create

[2017-02-20 15:49] ev1stensberg commented on #61
dupe.

[2017-02-20 15:49] #61 closed

[2017-02-21 07:24] pksjce commented on #50
I think this was fixed by #40

[2017-02-21 07:24] #50 closed

[2017-02-21 07:25] pksjce commented on #6
Closing this issue.

[2017-02-21 08:10] okonet commented on #6
I don't think it should be closed. It is still only works with the hard coded example.

[2017-02-21 13:19] ev1stensberg opened #63 "Tests: Try not using mocks on utility functions"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

Right not we are testing our tests in many of the test files. This is due that the entire module is circular ( might be hard to isolate the tests ). However we can drag out some of the utility functions from the build instead of mocking those, such as `validateAddons`.

**What is the expected beh

[2017-02-21 14:13] ev1stensberg opened #64 "parser: improve inquirer-prompt module"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
Subscribe has unexpected side-effects and also it isn't working correctly in the parser module because of that. Errors are not being clear and in general it doesn't work as expected.

**If the current behavior is a bug, please provide the steps to reproduce.**

N/A

**What is the expected behavior?**

E

[2017-02-21 20:28] TheLarkInn commented on #42
I'm going to ping @developit and @addyosmani so they can help mold the user (addon author) and consumer (addon user) api and functionality.

Below I'll list what I think feels like a great "user" surface api, and describe maybe a workflow.

## Hypothetical "Addon Author Dream Workflow"
@developit is the maintainer of Preact and using webpack makes it trivial for his users to transition from react.

[2017-02-21 20:31] TheLarkInn commented on #42
This is just one idea, and maybe we can take pieces, start with a few items and go from there.

[2017-02-21 20:53] eliperelman commented on #42
For the project and file generation, this should be easily doable from a Yeoman generator. This does raise some questions:

1. Is a webpack config going to be generated at init-time? Does this mean that the precedence of addons is set in stone at init?
2. Does this config just contain a merge of all the addon packages?
3. If the user wants to override the config, does this mean they miss out on fu

[2017-02-22 10:54] ev1stensberg opened #66 "Enhancements: Run package installations in parallel processes"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**

Parser downloads packages one by one, making the CLI slower than expected.

**If the current behavior is a bug, please provide the steps to reproduce.**

Install a package, i.e `webpack-cli webpack-addons-ylvis`

**What is the expected behavior?**

The parser runs faster with provided addons

**I

[2017-02-22 11:45] ev1stensberg commented on #42
@TheLarkInn This is pretty rad. From engineer perspective we could do with `webpack-addons` ( the overhead for creating an addon) :

1. Link a walkthrough of package creation through `./bin`
2. Have the functionality/utility for package creation in the same package

This would allow the user to both get a walkthrough of the addon creation as well as the actual functions/utils to use.

This would b

[2017-02-22 13:18] eliperelman commented on #42
@ev1stensberg my comment about Yeoman was more about using it internally, as it has a nice mapping of Inquirer prompts to file generation flow. You can use it programmatically without requiring the user to install yeoman, yo, or anything else. Pure webpack-cli.

For overrides, I think the default should be that local configuration always overrides addon configuration. By passing a parameter that s

[2017-02-22 13:55] ev1stensberg commented on #42
@eliperelman I'll have a look at it, was discussed when starting to work on this tool.

First in wins for childDep packages and first one in for initing with multiple addons. `...-init webpack-addons-1 webpack-addons-2` means number 1 gets first prio if it has override rules, could add a flag to specify that number 2 should be first prio in userland too, like `--init webpack-addons-1 webpack-addon

[2017-02-22 14:25] eliperelman commented on #42
@ev1stensberg yep! I'm in there.

[2017-02-22 15:41] lcxfs1991 commented on #43
has the project started? Any thing I can help here?

[2017-02-22 16:05] ev1stensberg commented on #43
We generally need feedback from prospective users in #42 , and if you wanna contribute there's an open issue at #63 👍

[2017-02-22 21:16] TheLarkInn commented on #6
Alright nice work everyone, I'm going to take this for a ride. I'll report back!

[2017-02-22 21:35] TheLarkInn opened #68 "Migrate: Comment next to migration diff?"
I tried out the sweet --migration flag, and it freaking worked!! One thing that was unexpected (until I figured it out), was this diff:

[code]

This is correct but it still caught me off guard so I questioned what I was seeing.

Would be nice for each transformation would make describe what the transform does and why:

[code]

[2017-02-22 21:36] TheLarkInn commented on #68
Whether that information be below or above the list is up to you all!

[2017-02-22 23:14] jouni-kantola opened #69 "Migrate: Plugins defined in variable results in TypeError"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
I've declared plugins in a variable to be able to add extra plugins for production build (like `UglifyJsPlugin`), this results in:
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Webpack config:
[code]

**What is the expected behavior?**
Be able to define a separa

[2017-02-23 09:17] okonet commented on #68
I agree we could do a better job at explaining what's gonna happen and why did it happen but I wouldn't add any comments to user's code.

[2017-02-23 14:51] ev1stensberg commented on #69
Could you post a screenshot of stacktrace in console?

[2017-02-23 18:40] jouni-kantola commented on #69
@ev1stensberg, full output below:
[code]

[2017-02-23 18:46] TheLarkInn opened #70 "Migrate: Format output config to use prettier"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
Poorly formatted configs, or new ast nodes that are generated appear inline and hard to read after `--migrate`.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
Be _prettier_ (put intended) than what is output now.

**If this is a fea

[2017-02-23 18:52] TheLarkInn commented on #70
Could technically be some low hanging fruit for someone to tackle also!!! Given we all agree we should format the ast before its printed to string.

[2017-02-23 19:08] okonet commented on #70
I agree we should do that. My only concern is that it still not be a fit for many devs and keeping in mind prettier has almost zero configuration options we won't be able to please everyone. Which is okay for me :)

[2017-02-23 20:19] jouni-kantola opened #73 "Migrate: Relative output path -> absolute output path"
**Do you want to request a *feature* or report a *bug*?**

Feature (nitty gritty suggestion, so close it if you don't think it's worth it)

**What is the current behavior?**
In the test config I'm using to test the webpack-cli's migration I use a relative output path `dist`. This is not migrated to an absolute path, which is required according to docs (in practice it isn't really required) and _is

[2017-02-23 21:27] TheLarkInn commented on #70
Yes, that was one of my concerns as well. I would assume that the most suspect ones though would be spaces and tabs which I think we could in the future accept args and then pass to prettier as args/opts

[2017-02-24 17:20] ev1stensberg opened #74 "CLI: remember to rebase against webpack/bin at integration"
Remember to update our bin files with those from webpack to include the latest fixed from that build. ( At first release/integration to the webpack repo)

[2017-02-27 10:37] pksjce commented on #73
I think this a great suggestion. Will add a transform for this.

[2017-02-27 10:40] pksjce commented on #70
We are anyway working around this [issue](https://github.com/benjamn/recast/issues/242). It would remove the need for https://github.com/webpack/webpack-cli/blob/master/package.json#L42 and thus enable us to use `yarn` on our cli :)

[2017-02-27 10:41] pksjce commented on #69
Hi fixed this with #75

[2017-02-27 10:43] pksjce commented on #68
I vote we show diff and reasons for each of the change in the diff  after --migrate has been run. Should get taken up under #49

[2017-02-27 20:50] arosenthal-r7 opened #76 "--migrate :: TypeError: Cannot read property 'name' of undefined"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

^^^ do that with this config:
[code]

**What is the expected behavior?**
it transforms the config in to an wp2 compatible one.

**Please mention other relevant information such as the browser version, Node.js version

[2017-02-28 15:16] okonet commented on #76
Duplicate of #69

[2017-02-28 15:16] #76 closed

[2017-02-28 15:24] okonet opened #78 "Feature: Verify that transformed JS code is valid"
**Do you want to request a *feature* or report a *bug*?**

feature

**If this is a feature request, what is motivation or use case for changing the behavior?**

Even after a successful transform there is no way to say that the produced code is a valid JS. We could implement a separate step that will validate the produced code for syntax errors and if there are any, we could throw a more helpful er

[2017-03-04 23:18] addyosmani commented on #42
Fwiw, https://github.com/yeoman/generator can help quite a lot with building out scaffolding support for community templates and has some nice helpers on top of inquirer as @eliperelman notes.

We use this type of setup internally at Google for a few projects and externally in projects like the [polymer-cli](https://github.com/Polymer/polymer-cli), where you get to enable the add-on workflows desc

[2017-03-05 18:52] abhiaiyer91 commented on #63
Hi! I'd like to help on this issue! could you give me some more detail of what you'd like done?

[2017-03-06 07:02] ev1stensberg commented on #63
Hey @abhiaiyer91 ! Thank you so much for reaching out! We want to use the real functions for most of the time, so perhaps some sort of E-E test or using `jest.fn` would be great. If you want to know how to do this, I recommend looking at the tests in the Yarn source code. I can put up a list of which modules that needs a refresh, if you want me to?

[2017-03-06 09:58] #73 closed

[2017-03-06 15:01] abhiaiyer91 commented on #63
@ev1nstensberg thanks for getting back to me! If you could kinda guide me through this first contribution that would be great!!

[2017-03-06 18:55] ev1stensberg commented on #63
@abhiaiyer91 I'll put up a branch for you and everything you need on the github side, with comments on where you should get involved. I'll put up a small google docs for you with some useful sources for your PR and what it should include. This is a great opportunity for you to get to know the internals FWIW :) Have you read our wiki on the parser? This PR is majorly related to that

[2017-03-06 18:59] abhiaiyer91 commented on #63
@ev1stensberg Awesome! Im super excited! I will read the parser wiki today!

[2017-03-06 19:05] ev1stensberg commented on #63
Sweet! Here's the [link](https://github.com/webpack/webpack-cli/wiki/Init-Feature-Design-Overview)! If you need anything from me while you're doing the PR, feel free to reach out at Twitter or here! I'm a bit busy right now, but I'll put up the branch and get you started by tomorrow morning (GMT + 1 here) :)

[2017-03-07 07:14] ev1stensberg commented on #63
Here's the [document](https://docs.google.com/document/d/1Cz1iLt89Of0n_79e8aj8tOrx9ghS4O_G6AF4jsRXySA/edit?usp=sharing), good luck & thanks!

[2017-03-07 14:29] ev1stensberg commented on #42
@addyosmani Could you get someone from Polymer involved in this thread? These features are relative to our CLI. Would be great to suck out information from one of them guys, so we can build ours as great as possible!

[2017-03-07 20:47] taylorRohrer opened #83 "webpack --migrate error"
**Do you want to request a *feature* or report a *bug*?**
Bug v1=>v2

**Command Ran**
`set NODE_ENV 'development' && node ../webpack-cli/bin/webpack.js --migrate webpack.config.js
`

**v1 config**
[code]

**Output**
[code]

[2017-03-08 20:10] jouni-kantola commented on #69
@pksjce: I retested with #https://github.com/webpack/webpack-cli/commit/37a594d0346f51c5d62779f835e2293602359a5f. No errors now. I guess this can be closed.

[2017-03-08 20:17] jouni-kantola commented on #73
@pksjce: When I retested https://github.com/webpack/webpack-cli/issues/69 using https://github.com/webpack/webpack-cli.git#37a594d0346f51c5d62779f835e2293602359a5f, I still get after `--migrate`:
[code]

[2017-03-09 06:52] ev1stensberg commented on #69
@jouni-kantola Ping us if you got any other issues, we're happy to help 🎉  Closed.

[2017-03-09 06:52] #69 closed

[2017-03-09 23:27] bigfanjs opened #84 "Feature - using stats presets from CLI"
**Do you want to request a *feature* or report a *bug*?**
*feature* Webpack CLI

**What is the current behavior?**
You have to create a config file to use stats presets like errors-only

**What is the expected behavior?**
Webpack CLI should display information using a preset just like what happens in configFiles

       [0] ./entry1.js 0 bytes {0} [built]

**Please mention other relevant informati

[2017-03-10 08:18] ev1stensberg commented on #84
Could you elaborate more on expected behaviour and replace current behaviour with the actual behaviour?

[2017-03-10 10:39] AdelJS commented on #84
I think the idea is pretty obvious; The stats shortcuts(errors-only, none, minimal, normal, verbose) that you've probably been using in your config files (see below) simply have to be available in the command line as well.

[code]
Which outputs this:

In case of this *errors-only* preset, if you want to achieve it through the cli, even if you could hide modules(using --hide-modules command) there

[2017-03-10 11:17] AdelJS commented on #84
I think I'll clone Webpack and add this feature myself!

[2017-03-10 12:47] ev1stensberg commented on #84
We'll see what we can do :) This is not prio nr.1, so if you wanna implement this yourself, feel free! We'll be here if you want some help on where to put it.

[2017-03-10 12:48] ev1stensberg commented on #84
FWIW- You should send the PR to webpack directly, as this is under `bin`. Planning to merge that into our bin folder later.

[2017-03-10 16:45] AdelJS commented on #84
Oh thank you, I appreciate it. OK, I've never actually contributed to an open source project before but I would love to, and especially for Webpack. I am very good at JavaScript but I am sucks at open source contribution.

Would you please help me with the commit format and testing my work.

[2017-03-10 16:58] ev1stensberg commented on #84
No problems! I recommend you to read a bit about stats to start of with. You can find places where webpack use stats object by globally searching the option in the webpack repo from your text editor.

I'm CCing @TheLarkInn , he can assist you with some intel on stats. If you wanna do the PR here, that's great!

We're merging this with webpack once it is done, so where you choose to make the PR is

[2017-03-11 22:12] AdelJS commented on #84
Thank so much for your time. That was extra info huh!  I just cloned webpack-cli and everything seemed to be working just as expected! My changes are restricted to the bin folder. And I didn't know how to test it!

For the Google Doc Paper and the branch, no thank you. I appreciate the offer ^_____^.

Thank you again!

[2017-03-11 22:22] ev1stensberg commented on #84
Just saw, great job @AdelJS ! I'll review the PR tomorrow. And likewise, your time is highly appreciated! For the bin folder, there's really no way to test it without E2E, which we need to implement later :) If you want to help out more, there's various of possibilities open!

[2017-03-11 22:52] AdelJS commented on #84
Oh thank you! I would love to help out more because I love webpack! Next time I hope I'll come up with something more serious and advanced! <3

[2017-03-12 18:01] ev1stensberg commented on #84
Sweet! Just look for the "Good First Contribution Tags" and we'll do our best to help you!

[2017-03-12 18:40] ev1stensberg commented on #22
@georgiosd Could you come up with a test repro on the stats and comment it at #84 ?

[2017-03-17 20:31] ev1stensberg opened #87 "Feature: Generalistic improvements after first release"
Lately been looking at the Polymer CLI and it looks really neat. Not only is it really well written, but it's elegantly looking.

This is a sum of things I think we should fix once we got the time:

- Improve the visuals of the CLI
- Improve yargs and how we process arguments on our own
- Make a logger module for webpack instead of manually configuring this. ( Useful for both the CLI and webpack i

[2017-03-18 09:12] jouni-kantola opened #88 "Migrate: Remove OccurenceOrderPlugin"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
`new webpack.optimize.OccurenceOrderPlugin(true)` doesn't get removed from `webpack.config.js` when migrating the config from webpack 1 to 2. This results in an error after migrated config is used for build.

**If the current behavior is a bug, please provide the steps to reproduce.**

webpack.config.

[2017-03-18 09:17] jouni-kantola commented on #73
@pksjce: I reported another bug for `--migrate`, with a before/after `webpack.config.js`.
See issue: https://github.com/webpack/webpack-cli/issues/88

There you can see that `path: 'dist'` is left untouched. `const path = require('path');` is added as expected, but the actual output path isn't updated.

[2017-03-18 12:47] okonet commented on #88
It's called `OccurrenceOrderPlugin` with 2 `r`: https://webpack.github.io/docs/list-of-plugins.html#occurrenceorderplugin

[2017-03-18 12:47] #88 closed

[2017-03-18 12:53] okonet opened #89 "Rename flag `--migrate` to a command (`migrate`)"
To make it more consistent with other CLI tools I'd propose renaming `webpack --migrate` to `webpack migrate`. Historically, `--` are for options but migrate is a command. So, the usage would look like

[code]

This would also allow us passing some arbitrary options to this command (like, code style for prettier etc.) in the future.

[2017-03-18 17:37] ev1stensberg commented on #89
I agree, same goes for `init`

[2017-03-18 19:42] jouni-kantola opened #90 "Migrate: Missing `loader` property for migrated loader config with options"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
For a loader config with options, the config below gets migrated to the configuration `use: 'loader-name'`. This results in an error when the config is used at build time.

The following config:
[code]
...is migrated to:
[code]

When the loader config above is used when building, it results in build e

[2017-03-21 10:10] #83 closed

[2017-03-27 19:39] ev1stensberg opened #95 "Enhancements: Improve CommonChunksPlugin with Initial Scaffold"
**Mentioned on Twitter by Addy Osmani & "necolas" **

**Do you want to request a *feature* or report a *bug*?**

https://twitter.com/addyosmani/status/845317139959443456

**What is the current behavior?**

On rebuilds, a module changes hashes which means its being rebuilt, even though it hasn't changed.

**What is the expected behavior?**

We should make hashes not changed if the module hasn't eit

[2017-03-28 09:16] okonet commented on #95
This is deprecated in Webpack 2 AFAIK

[2017-04-01 19:40] ev1stensberg opened #96 "Enhancements: Check Filepaths, naming conventions & windows support"
This is a heads-up while we're getting a first release. Make sure we support windows on utilities like path lookups and that we're checking a FP and throwing errors where intended.

[2017-04-05 16:06] ev1stensberg opened #98 "Enhancements: Refactor logic in `lib/creator`"
The parser previously known parser module, now named `creator` is circular still. Previously we didn't use Yeoman for scaffolding, so we relied on some sort of generator functionality. As Yeoman is integrated, we no longer need the module to be circular, we can create separate modules and import them after our generator has been run, respectively.

[2017-04-05 16:07] ev1stensberg commented on #60
Integrated Yeoman in #97 where we get all FPs, not intended anymore.

[2017-04-05 16:07] #60 closed

[2017-04-05 16:08] ev1stensberg commented on #52
Good folder structure in the CLI right now, closing. Reopen if needed.

[2017-04-05 16:08] #52 closed

[2017-04-05 16:09] ev1stensberg commented on #35
Closing, resolved.

[2017-04-05 16:09] #35 closed

[2017-04-05 16:09] ev1stensberg commented on #66
Comment: See if we can do `yarn` / `npm` installs in parallel instead, if ever possible.

[2017-04-05 16:10] ev1stensberg commented on #63
Old, resolved and probably going to be brought up again in another context.

[2017-04-05 16:10] #63 closed

[2017-04-05 16:10] ev1stensberg commented on #64
Removed, closing.

[2017-04-05 16:10] #64 closed

[2017-04-05 16:11] ev1stensberg commented on #34
Closed, I think we're even on what we're doing and that we should refactor `bin` with some better user experience later.

[2017-04-05 16:11] #34 closed

[2017-04-05 16:12] ev1stensberg commented on #25
Closing this for now, going to do a write up on a Higher Order ticket.

[2017-04-05 16:12] #25 closed

[2017-04-05 16:13] ev1stensberg commented on #32
Old, new discussion about the packaging system is on #42 .

[2017-04-05 16:13] #32 closed

[2017-04-05 16:15] ev1stensberg commented on #57
Old, moving to a new ticket.

[2017-04-05 16:15] #57 closed

[2017-04-05 16:15] ev1stensberg commented on #6
Status on this @okonet @pksjce ?

[2017-04-05 17:36] ev1stensberg commented on #98
Closed in #99

[2017-04-05 17:36] #98 closed

[2017-04-05 17:36] ev1stensberg commented on #48
Resolved in #99

[2017-04-05 17:36] #48 closed

[2017-04-05 17:43] ev1stensberg commented on #43
Closed, #42 is now active.

[2017-04-05 17:43] #43 closed

[2017-04-05 17:54] addyosmani opened #101 "Feature: Enabling better extensibility & framework tooling integration"
_Working with @ev1stensberg @TheLarkInn & @developit on this one_

Webpack CLI aims to offer users the ability to scaffold a fine-grained Webpack configuration with flexible support for custom templates. This will enable a number of powerful workflows, including the ability for other framework tooling to build on top of it to create SPAs and [PWAs](https://developers.google.com/web/progressive-web

[2017-04-06 08:50] #33 closed

[2017-04-06 08:51] okonet commented on #6
Closing. See #40

[2017-04-06 08:51] #6 closed

[2017-04-06 19:41] benwiley4000 opened #103 "Add --no-config arg option to ignore webpack.config.js"
**What is the current behavior?**
The only way to run `webpack` with **no config file** is to not have a config file in the working directory

**What is the expected behavior?**
I should have a `--no-config` (or similar) option that can tell webpack to ignore the config file that's sitting in our directory.

**If this is a feature request, what is motivation or use case for changing the behavior?*

[2017-04-06 22:45] nmschulte commented on #15
@ev1stensberg, does this apply to hot-module-reloading / webpack-dev-server?  I'm looking for a solution to reset Webpack so it'll pick up the new configuration, and have HMR communicate this change appropriately (likely, a "you must manually refresh to pick up latest changes" type message).

How do we enable this in that scenario; is it as simple as watching the files that modify Webpack configur

[2017-04-07 09:27] ev1stensberg commented on #15
The resave flag applies to HMR, indeed. Let me get back to you about your issues later this week :)

[2017-04-07 14:23] ev1stensberg commented on #103
Can't you just supply with `webpack ../../i.js ../../o.js`?

[2017-04-07 14:33] benwiley4000 commented on #103
Actually no - if a config exists it is used automatically when none is specified. https://github.com/webpack/webpack-cli/blob/master/bin/convert-argv.js#L62

[2017-04-07 14:48] ev1stensberg commented on #103
Hm, troublesome. I'll ask around to see if there's a workaround for this. I'll notify you if we can accept a PR. Thanks for the heads-up @benwiley4000 !

[2017-04-07 18:24] ev1stensberg commented on #103
There's a workaround for this. You can rename your configuration, and require it through `--config`.

[2017-04-07 18:40] benwiley4000 commented on #103
Certainly true, though I think I shouldn't be required to rename the config file in order to achieve this behavior. If a number of npm scripts implicitly use the default config, and I want to add only one which uses no configuration, it's a simpler change to be able to override default behavior in that one case.

[2017-04-07 19:26] ev1stensberg commented on #103
Yeah I can see that. Open a PR, I'll bring it up for discussion, it's not 100% it's gonna be merged though.

[2017-04-07 19:52] michael-ciniawsky commented on #103
Could you not just move the `webpack.config.js` into a e.g `.config/config` folder and set it explicitly ?

[2017-04-07 19:52] michael-ciniawsky commented on #103
So basically the other way around

[2017-04-08 12:51] ev1stensberg opened #106 "Enhancements: Use TypeScript"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**

We have a clutty codebase with no real type support, which makes it hard to make approximations and to get involved in what enters the parameters etc..

**What is the expected behavior?**

TypeScript integration

**If this is a feature request, what is motivation or use case for changing the behav

[2017-04-08 14:01] okonet commented on #106
Please don't. If you want to use types, let use flow which is much easier to introduce to the existing project but this will also require pre-processing the code. I'd say for project like CLI the benefit is too low. Having unit tests should solve most of the problems IMO.

[2017-04-09 15:37] ev1stensberg opened #107 "Enhancements: Consider AST for devServer"
## Agenda

Discuss if we want to provide an AST intended for devServer in v2.

[2017-04-09 20:01] ev1stensberg commented on #42
Update: `childDependencies` is up to the authors, using `this.ComposeWith`. Injections may be a trick for some use cases, but in the end, we gotta resolve through AST's in init, so we might as well try to use it there as well.

[2017-04-10 21:53] ev1stensberg opened #108 "Community: Webpack v2 templates"
#### Agenda
 Submit your `webpack.config` files. We're currently testing the `init` scaffold, so we need your feedback, mainly on the `module` property.

Please indent your files..

[2017-04-11 21:55] ev1stensberg opened #109 "Bug: Install file at path or global instead of inside CLI repo"
Moving to prod, needs fix 📦

[2017-04-14 11:58] pksjce commented on #90
Will pick this up first thing after the weekend!

[2017-04-14 12:48] okonet commented on #90
@pksjce I've been looking into it but could not find enough time to finalize.

[2017-04-14 14:32] ev1stensberg opened #111 "Enhancements: Picky work on init"
## Agenda

- #109 & #96 - Double check for windows support & bugs

[2017-04-15 00:42] ev1stensberg commented on #109
Also need to move to tempdir, to avoid bad `EACESS` errors, it's no good.

[2017-04-15 11:03] webpack-bot opened #113 "Can we have a 'webpack init'?"
**Do you want to request a *feature* or report a *bug*?**

feature.

**Content:**

I'm requesting a webpack init command, just like npm init, that generates a webpack.config.js file with couple of questions.
I'm using React.js, and setting up a webpack.config.js for the first time is painful to say the least. I understand we let the webpack be as unopinionated as possible, but we could also introd

[2017-04-21 18:59] addyosmani commented on #101
To give the thread a quick update on where we are here. We've prototyped an add-on using the output of https://github.com/vuejs/pwa as a POC. I need to put together or figure out what the ideal Webpack output for this step would be. We've got a few options:

* Just the module bundling/serving parts that a PWA would need (we could say code-splitting, precaching, preloading (maybe), long-term cachin

[2017-04-24 09:39] DanielaValero commented on #108
Hi,

Here the settings we've got in our project: https://gist.github.com/DanielaValero/b57b48d942adb30cae470170e9c4ba85

[2017-04-30 17:08] ev1stensberg opened #118 "Enhancements: Offline Support for installation"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
We do not support downloading packages from cache
**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
We should support an offline installation of an addon
**If this is a feature request, what is motivation or use case for changing the be

[2017-04-30 18:35] addyosmani opened #119 "webpack --init default output"
@ev1stensberg and I were just chatting about the default output of `--init`. We think it needs to be simple and general enough that most users get value out of using it. Ideally, maintaining a decent performance baseline too.

There are a lot of different configs used by CLIs these days.

* [vue-cli webpack template](https://github.com/vuejs-templates/webpack/tree/master/template/build) is very co

[2017-04-30 18:36] #111 closed

[2017-04-30 18:38] ev1stensberg commented on #113
#105

[2017-04-30 18:38] #113 closed

[2017-04-30 18:39] ev1stensberg commented on #109
#105

[2017-04-30 18:39] #109 closed

[2017-05-01 02:56] FateRiddle commented on #119
1. One point for 'init' is that you don't have to write the boilerplate of a complete section. Like we can generate things like:

[code]
instead of just leave it blank and let user write the whole section.

To me the preferred way is to generate me a 'form', and letting me fill in the blank with some hints.

2. I prefer one file. So in package.json, people don't need to specify which to use by `--

[2017-05-01 18:28] eloytoro commented on #119
I very much think that webpack configs should be factories instead of objects, most people never realize this, but webpack natively supports functions as configs.

In many of my projects I chain up configs so I can separate shared logic among them.

[code]
[code]

[2017-05-01 18:30] rossipedia commented on #119
Does it need to be `--init`? Many options can be specified on the command line, so what about having a `--save[=path-to-config.js]` option that generates the config file based on the command line parameters?

[2017-05-01 18:49] opyh commented on #119
- Generally I'd be a fan of a structure that resembles an ejected create-react-app (just without the react parts). It's a very sensible start setup for a lot of use cases.
- How about an interactive command line tool where you can check the recipes that you want? Then I'd take all of the things you mentioned, each as an option ;)
- Missing: Flowtype support out of the box
- Also missing: A setup f

[2017-05-01 19:56] rhmoller commented on #119
Please keep it simple and framework/language agnostic.

It should just write the boilerplate for a webpack config file. It should not change package.json or start installing dependencies.

Optionally it can contain commented out sections with often used fragments along with a brief description.

I like how Typescript have started doing it, though I know a webpack config is much more complicated.

[2017-05-01 21:58] ev1stensberg commented on #119
Just pushed the initial generator to #105 . Add a shebang to `bin/webpack` and test it doing `webpack-cli --init` at that branch. 💯

[2017-05-02 01:06] ragingwind commented on #119
It should be supported like `yarn/npm init` because there are some of boilerplates we have to to in most of time as we create a project using webpack. But I hope that it keeps simple. I think the best usecase is `yarn init`. For rest of boilerplates or configs, it can be provided by supporting as a template, it also could be made from other developers on npms. For example,

[code]

[2017-05-02 04:33] RamYadlapalli commented on #119
It would be great if it creates a Webpack configuration file with webpackdev server configuration and Prod configuration

[2017-05-02 05:09] pramodsvidyarthi commented on #119
An Interactive terminal like Yeoman, which can prompt the users to what loader would they need and configure a webpack.config.json which can serve the development and production configuration.

[2017-05-02 05:56] ev1stensberg commented on #95
I think this was solved as apart of the initial generator at #105

[2017-05-02 05:56] #95 closed

[2017-05-02 05:56] #96 closed

[2017-05-02 05:57] ev1stensberg commented on #74
#105

[2017-05-02 05:57] #74 closed

[2017-05-02 05:58] ev1stensberg commented on #66
A note to add: This is possible using workers

[2017-05-02 13:29] bigp commented on #119
:+1: @RamYadlapalli and @pramodsvidyarthi's suggestions.

Was basically going to suggest the same:

It could make the config file a-la "NPM init" style (ie: prompts for the most common settings, entry files, paths, output, loaders + test patterns).

It's true that for frequent VueJS devs though, a preset of somekind would be great. Not sure if Webpack should go in the same direction "Brunch" took

[2017-05-02 18:18] ericclemmons commented on #119
I was just thinking about this today as I started a demo project. I'd find the following useful:

- webpack.config.js has basic named entry, output, and plugins (Define, Uglify).

- The rest is would be the complete object defaults, but commented out with the docs URL above each section (e.g. devTools).

In a nutshell, I mostly just need to manipulate or uncomment options to successfully get start

[2017-05-02 20:12] ev1stensberg commented on #107
Seems like the feedback generally is motivated towards a `devServer` property as well. Moving to `v1` tag, and will be implemented later this month/early next month.

[2017-05-03 02:08] addyosmani commented on #119
@ericclemmons Perhaps you (and commenters above) could comment on https://github.com/webpack/webpack-cli/pull/105#pullrequestreview-35929410 with thoughts on the initial questions Even pitched for the default scaffold? I think it's going to take a few rounds of iterating but open to input :)

[2017-05-04 19:20] ev1stensberg opened #120 "Bug: Debug in migrate doesn't remove the property as expected"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Running `migrate` on a config that has `debug` doesn't remove `debug` after adding it to commonsChunk if there is any.

**If the current behavior is a bug, please provide the steps to reproduce.**
**What is the expected behavior?**

Migrate this https://gist.github.com/ev1stensberg/28bb27feda110e57c079

[2017-05-06 16:42] ev1stensberg commented on #29
I think this is resolved of #105 , reopen if needed.

[2017-05-06 16:42] #29 closed

[2017-05-06 16:43] ev1stensberg commented on #30
Fixed in #40 I assume, bugfixes left.

[2017-05-06 16:43] #30 closed

[2017-05-06 16:44] ev1stensberg commented on #66
Not relevant anymore, closing.

[2017-05-06 16:44] #66 closed

[2017-05-06 16:45] ev1stensberg commented on #84
Let's take this up on #85 , we will integrate E2E then proceed to look at the PR.

[2017-05-06 16:45] #84 closed

[2017-05-06 16:46] ev1stensberg commented on #89
Ongoing in #121 , merging to #105 later, closing for now.

[2017-05-06 16:46] #89 closed

[2017-05-06 16:47] ev1stensberg commented on #106
Moved to #87

[2017-05-06 16:47] #106 closed

[2017-05-06 16:49] ev1stensberg commented on #118
Moved to #87

[2017-05-06 16:49] #118 closed

[2017-05-06 16:50] ev1stensberg commented on #53
Used as dependency for now, core team considering to be used as peerDep.

[2017-05-06 16:50] #53 closed

[2017-05-06 16:51] ev1stensberg commented on #42
Resolved for now in #105, closing.

[2017-05-06 16:51] #42 closed

[2017-05-06 16:54] ev1stensberg commented on #103
Closing for now due inactivity, @benwiley4000 if you're unhappy with this I can reopen or @michael-ciniawsky could elaborate on the issue your facing. Assuming this is resolved.

[2017-05-06 16:54] #103 closed

[2017-05-06 16:59] benwiley4000 commented on #103
Sorry for being stagnant. I'll try a PR soon if I can find the time.

[2017-05-06 17:03] ev1stensberg commented on #103
Awesome! We're releasing the new CLI today or tomorrow, might be good to wait until then to start with that. Furthermore, we can't guarantee this being merged. If you can provide some insight with more context around why this is **good to the average user** , there's more chances to this being merged.

If you need help with the PR, lemme know!

Cheers!

[2017-05-08 20:04] rossipedia opened #123 "auto-detect and use yarn if available"
I know `create-react-app` does this, it would be nice if `webpack-cli init` detected yarn and used it if available for faster install times.

[2017-05-08 20:11] montogeek opened #124 "Error message when no options are passed"
Hi!

Congrats for the release!

I am getting a duplicate message when no options are passed to the CLI, I know it needs at least one option.

It would be nice to have `-h` printed, or a little more user friendly error printed.

![image](https://cloud.githubusercontent.com/assets/1002461/25823097/914a1952-3400-11e7-9384-7bded95981a3.png)

[2017-05-08 20:31] ev1stensberg commented on #123
We are planning to do so, but there's a bug in `jscodeshift` -> `recast` preventing us to do so. Also, we're running a local fork of `yeoman-generator`, as we're soon transitioning to a full yeoman support for the CLI.

[2017-05-08 20:32] ev1stensberg commented on #124
I can see why this is important! @okonet is doing some stuff to revamp the CLI #121 , and we're planning to make the old CLI better visually too :)

[2017-05-09 02:27] JackPu opened #127 "Migrate error"
I try to use `webpack-cli migrate webpack.config.js` 。 But I met the error:
[code]

My webpack-cli verson:  1.3.1 .

Anyone knows hot to solve it?

[2017-05-09 08:05] okonet commented on #127
@JackPu can you paste your webpack config herer?

[2017-05-09 08:15] ev1stensberg commented on #127
Try using relevant paths, I see you're doing `webpack-cli migrate webpack.config.js`, try out `webpack-cli migrate ./webpack.config.js`.

[2017-05-09 08:16] ev1stensberg commented on #119
Closing for now, #105 .

[2017-05-09 08:16] #119 closed

[2017-05-09 13:59] JackPu commented on #127
webpack.config.js : https://github.com/Vanthink-UED/react-core-image-upload/blob/master/webpack.config.js

[2017-05-09 18:29] ev1stensberg opened #130 "Enhancements: Add changelog"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
No `CHANGELOG.md`
**If the current behavior is a bug, please provide the steps to reproduce.**
N/A

**What is the expected behavior?**
Changelog implemented. `CHANGELOG.md`
**If this is a feature request, what is motivation or use case for changing the behavior?**
Feature, makes people up to date.

[2017-05-09 20:46] davekiss opened #131 "Bug: specifying location of multi-entry app entrypoint fails"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Generating a multi-entry app via `webpack-cli init` errors out on step three, when prompted to enter the location of the first entry point.

**If the current behavior is a bug, please provide the steps to reproduce.**

`webpack-cli init`

**What is the expected behavior?**

Input is accepted as valid

[2017-05-09 22:31] brownieboy opened #132 "Install fails behind corporate proxy (SSH block?)"
**Do you want to request a *feature* or report a *bug*?**
Feature request.

**What is the current behavior?**
Global install `npm install -g webpack-cli` fails behind a corporate proxy.  Error is:

I suspect that this is because our corporate proxy blocks SSH access to the internet (as many of them do).

**What is the expected behavior?**
Install should not crash like this simply because SSH is un

[2017-05-09 22:43] ev1stensberg commented on #132
If you're cloning this instead of downloading directly, you can use `https`. Other than that, you can also download the source and run `npm link` within your shell to get the same behaviour as `npm install -g webpack-cli`. Did this help? :) Happy to elaborate!

[2017-05-09 22:57] brownieboy commented on #132
Thanks for that very quick response, @ev1stensberg .

I've not used `npm link` before, but when I tried it I got the same error.  My exact command steps were:
`npm remove webpack-cli -g
git clone https://github.com/webpack/webpack-cli.git
cd webpack-cli
npm link`

That seemed to kick the install process off again, eventually resulting in the same error.

Actually, the repository that seems to be t

[2017-05-09 23:02] ev1stensberg commented on #131
This is actually due that the `.js` extension is being parsed as an object property. Weird. Furthermore, I do not know if supplying an entry to your bundle name is a valid use case, as webpack prepends this to your bundle anyways.

Here's a screenshot of what I've got after running your code. Normally, this would be:

[code]

Do you know if there's many people appending `.js` to their entries? Sou

[2017-05-09 23:06] ev1stensberg commented on #132
It may be. You can change the `package.json` in the forked version to `https`, and it should in theory work for your case. Note that `recast` isn't the only forked repo, but also `Yeoman-Generator`.

https://coderwall.com/p/q_gh-w/fork-and-patch-npm-moduels-hosted-on-github

Also, I think you should use `npm uninstall webpack-cli -g` instead, remove isn't a valid command, is it?

`npm link` is a [

[2017-05-09 23:09] ev1stensberg commented on #132
Also a note to add is that we're removing these forks soon. For your SSH problems ->
http://stackoverflow.com/questions/17509669/how-to-install-an-npm-package-from-github-directly

[2017-05-09 23:18] brownieboy commented on #132
Thanks again, @ev1stensberg.

I think I'll wait until you've removed the forks from the installer.

FYI, `remove` is a valid alias to `uninstall`, see https://docs.npmjs.com/cli/uninstall.  I should probably use the proper command though!

[2017-05-09 23:20] ev1stensberg commented on #132
Oooh, nitty! No need to wait, I think this is doable. Either do as in below picture and do `npm link`, or you could try out the SO link I've commented.

![skjermbilde 2017-05-10 kl 01 19 41](https://cloud.githubusercontent.com/assets/16735925/25876628/c2d016b0-351e-11e7-95fe-1e2b39f4719e.png)

[2017-05-10 02:10] brownieboy commented on #132
Thanks again.  That got be a bit further, but I've hit further problems.

I was able to install webpack-cli using the `npm link` method.  But trying to execute like so:
[code]
Throws the error

No indication as to which package this is.

Also, the installation of webpack-cli caused all of my other global packages to throw the error:

when I try to list them with an `npm list -g --depth=0`.  This e

[2017-05-10 10:12] dkfiresky commented on #132
Possibly setting this option could help:

[code]

~/.gitconfig
[code]

[2017-05-11 15:56] svenvandescheur opened #134 "Webpack CLI seems to create invalid webpack.config.js:"
There seems to be an issue when running webpack on the configuration created by webpack-cli. Apparently, webpack-cli does not create an absolute path for dist where webpack expects it.

**What is the current behavior?**

$ webpack-cli
[code]

$ webpack
[code]

$ webpack -v

$ webpack-cli -v

$ node -v

- os X 10.11.6

$ cat webpack.config.js
[code]

[2017-05-11 17:43] dkfiresky commented on #134
https://webpack.js.org/configuration/#options

Relative paths should be wrapped into `path.resolve(__dirname, "./relative/path")`

[2017-05-11 19:24] ev1stensberg commented on #134
This is fixed in #125 .

[2017-05-11 19:24] #134 closed

[2017-05-12 09:06] nilliams opened #135 "webpack-cli init doesn't install webpack, uglifyjs-webpack-plugin, babel-preset-es2015"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
[code]

Then:
[code]

If install webpack (`npm i -S webpack`), next error is:
[code]

If install that, we get (after fixing `"./dist" is not an absolute path` which is I see is fixed now):

[code]

**What is the expected behavior?**

`webpack-cli init` to install all needed deps

**Version**
[code]

[2017-05-12 11:52] ev1stensberg commented on #135
Hi! The `dist` output is fixed in #125 . It should install your dependencies, what's your repository structure, and where do you run the command from?

[2017-05-12 14:31] nilliams commented on #135
Hmm, it does seem odd no-one else has hit this!

Thought it might be an env thing, so now tried in 2 envs, (empty dir each time):

- 2 x in MacOS
- 2 x in Ubuntu (via Vagrant)

... and get the same.

Dir structure is a new, empty dir. I am running command from a global install (`npm i -g webpack-cli`).

MacOS:
[code]
Ubuntu:
[code]

[Here's a more complete dump from the Vagrant attempt](https://gi

[2017-05-12 14:54] nilliams commented on #135
Hmm ... is this not (partly) the bug, it overrwrites, rather than appends-to `this.npmInstalls`, which clobbers the line from the constructor (`this.npmInstalls = ['webpack', 'uglifyjs-webpack-plugin']`):

https://github.com/webpack/webpack-cli/blob/master/lib/creator/yeoman/webpack-generator.js#L96

[2017-05-12 16:26] ev1stensberg commented on #135
Hi! Thanks for the PR, saw the typo! Closing #136

[2017-05-12 16:26] #135 closed

[2017-05-12 19:31] ev1stensberg commented on #131
Closing this for now. You should not use `app.js` or `admin.js` for entry point properties, those are antipatterns. Use `app` or `admin`. Happy to help you to elaborate on future issues! Cheers!

[2017-05-12 19:31] #131 closed

[2017-05-12 20:05] addyosmani opened #137 "Feature: Webpack PWA add-on/scaffold"
As part of #101, we'd like to create a minimal, but useful, Webpack add-on for those getting started with Progressive Web Apps. This would build on the work that was done for the default `--init` starting point in https://github.com/webpack/webpack-cli/issues/119.

* Handle favicons and Web App Manifest. Either via a static include of some defaults (just the files) that get wired up using HTML Web

[2017-05-13 05:20] TheLarkInn commented on #132
@brownieboy Let me know if @dkfiresky 's suggestion was helpful or if we need to assist any further.

[2017-05-13 05:21] TheLarkInn commented on #137
@ev1stensberg Is this already started?

[2017-05-13 10:17] ev1stensberg commented on #137
@TheLarkInn  Going to SF right now, will continue on this tomorrow.

[2017-05-14 11:32] larkintuckerllc opened #139 "CSS Option Does Not Include style.loader in Rule"
webpack: 2.5.1
webpack-cli: 1.3.1

**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Choosing `CSS` option gives unexpected *webpack.config.js*; uses *css-loader* without *style-loader*.

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]

**What is the expected behavior?**

Similar rule to the `SASS` option:

[code

[2017-05-14 14:51] pavkout opened #140 "Type Error: argv._.includes('init') in Node 4.4"
In Windows 10, node 4.4 i get this error.
TypeError: argv._.includes is not a function.

The problem is solved after upgrading to node 6 but since in the package.json it says it is compatible with node >= 4 i thought i should create this issue.

[2017-05-14 15:04] ev1stensberg commented on #140
Mind posting a screenshot of your output w/ stacktrace?

[2017-05-14 15:06] ev1stensberg commented on #139
Hey! Thank you so much for filing this! Fixed in #141 . Please, do tell if there's more of these! Cheers 👍

[2017-05-14 15:06] #139 closed

[2017-05-15 05:14] NN--- opened #144 "configuration misses the property 'entry'."
I have a webpack configuration which is merged with other:

[code]

When I run webpack-cli --migrate I get:

[code]

Can you support this scenario too?

[2017-05-15 10:31] zowers commented on #140
upgrade to nodejs-6 fixes the issue

[2017-05-15 10:51] zowers opened #145 "migrate fails with j.literal is not a function"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
migrate fails with
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
run `webpack-cli migrate ./webpack.config.js` on the file:
[code]

**What is the expected behavior?**
should migrate the file

**Please mention other relevant information such as the browser version,

[2017-05-15 13:28] ev1stensberg commented on #144
Hi! Sending this over to @okonet & @pksjce to consideration! Thanks for submitting!

[2017-05-15 13:34] ev1stensberg commented on #140
We support v4 too @zowers , this should work 👍

[2017-05-15 13:39] pksjce commented on #145
@zowers  - Thanks for trying our migrate tool! I'm sorry you faced this issue. I will look into it ASAP.

[2017-05-15 14:32] pksjce commented on #145
It seems our test case is not working well to cover this scenario. @zowers - Your webpack config provides us with a great e2e test. I'm planning to give a try to convert this reliably to webpack 2. But would require lot of feedback from you. Will open a PR soon.

[2017-05-15 15:43] zowers commented on #145
btw: the config is a product of `react-redux-starter-kit`, also used by the project itself, see https://github.com/davezuko/react-redux-starter-kit/blob/master/config/webpack.config.js

[2017-05-15 23:21] ev1stensberg opened #146 ""Migrating" to Yeoman Generators"
Moving the init generator to a separate part, along with AST's and our other methods. This will go under `webpack-addons` as apart of the utility suite.

[2017-05-15 23:22] #130 closed

[2017-05-16 10:29] larkintuckerllc opened #147 "Discussion: "Used in Production" Odd Question and Provides Sub-Optimal Guidance"
webpack: 2.5.1
webpack-cli: 1.3.2

**Do you want to request a *feature* or report a *bug*?**

bug; hesitated at first to call this a bug as nothing fails, but it provides (in my opinion) an sub-optimal webpack configuration (so in this case is a bug).

**What is the current behavior?**

When running `webpack-cli init` one of the questions is:

_? Are you going to use this in production?_

And when

[2017-05-16 15:11] ev1stensberg commented on #147
Hi! Yep, you can read about why we ask for prod here:

https://github.com/webpack/webpack-cli/blob/master/INIT.md

I don'tthink that it is an odd question at all, let's keep this open for some weeks to see what people has to say!

I agree about the env flags, they should be used in some cases.

[2017-05-16 15:29] larkintuckerllc commented on #147
First, I am all onboard with creating tools / resources that allow folks take control of their own webpack configuration; so I applaud this effort.  I have a number of friends of mine who outsource their webpack configuration to some third-party tool, e.g., [redux-cli](https://github.com/SpencerCDixon/redux-cli), and ending up spinning their wheels when they have problems with their build process

[2017-05-17 16:40] yacinehmito commented on #15
@ev1stensberg How does #24 solves this issue? It seems like it's not related.

[2017-05-17 17:28] yacinehmito commented on #15
IMHO we should either reopen this issue or https://github.com/webpack/webpack/issues/3153

[2017-05-17 17:32] ev1stensberg commented on #15
Pinging @bebraw for advice

[2017-05-17 17:46] bebraw commented on #15
It's about restarting the entire process, yeah. Currently you can sort of pull that off with nodemon or similar.

Maybe it's better to re-open this for now.

[2017-05-17 21:33] okonet opened #151 "TypeError: Ajv is not a constructor"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
1. Check out master
1. Run `npm install`
1. Run `node bin/webpack.js migrate ./lib/transformations/loaders/__testfixtures__/loaders-7.input.js`

**What is the expected behavior?**

It should run the migration

**If th

[2017-05-17 23:25] ev1stensberg commented on #151
Try `rm -rf node_modules && npm install` ?

[2017-05-18 04:24] webpack-bot opened #152 "Enhancement: Makefile dependency generation"
**Do you want to request a *feature* or report a *bug*?**

Feature request: automatic Makefile generation like `gcc -MM`

**What is the current behavior?**

I use this hacky script:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use case for changing the behavior?**

If

[2017-05-18 07:08] okonet commented on #151
I did try this already. Still happening...

[2017-05-18 07:18] okonet opened #153 "[Migrate] Bug when transforming array of loaders"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

This config will not be transformed correctly:

[code]

It should, however, be transformed to:

[code]

[2017-05-18 19:58] ev1stensberg commented on #153
On #150 I get this:

![skjermbilde 2017-05-18 kl 12 54 37](https://cloud.githubusercontent.com/assets/16735925/26220936/948b589e-3bc9-11e7-84bb-20e250eb1916.png)

[2017-05-18 20:03] ev1stensberg commented on #151
It's not happening on mine. Do you have any more test cases? Tried running your reproduce, but didn't get the error as expected .

[2017-05-19 06:14] webpack-bot opened #155 "Overwriting config parameters through CLI"
**Do you want to request a *feature* or report a *bug*?**

feature

**What is the current behavior?**

According to my understanding and tests, I can use webpack either in combination with a config file which includes the entry and output paths, or I can pass the entry and output path as CLI arguments. But both alternatives are mutually exclusive, i.e. I cannot overwrite the entry and output paths

[2017-05-19 07:57] okonet commented on #151
One more attempt to remove everything and reinstalling helped. We should probably move to `yarn` to prevent this in future.

[2017-05-19 07:57] #151 closed

[2017-05-19 07:58] okonet commented on #153
Confirming. Will take a look soon.

[2017-05-19 14:23] okonet opened #156 "[Migrate] ES2015 file with import / export couldn't be migrated"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

File with `export` keyword throws an error

**If the current behavior is a bug, please provide the steps to reproduce.**

`node bin/webpack.js migrate ./lib/transformations/loaders/__testfixtures__/loaders-7.input.js`

## Error:

[code]

[2017-05-20 00:50] ev1stensberg commented on #151
Gotcha. Discard my last message from an thread earlier today. Yarn is good to go after yeoman migration hopefully.

[2017-05-20 00:52] ev1stensberg commented on #156
Yeah, but export default isn't valid in node explicitly, is it? We're using babel, but might be something there.

[2017-05-20 06:07] okonet commented on #156
Okay If we decide not to support it we can close it then.

[2017-05-20 06:36] ev1stensberg commented on #156
We are supposed to support it, I just dont understand how export default could work :)

[2017-05-20 06:59] okonet commented on #156
What do you mean how it could work. The problem is that the syntax isn't recognized

[2017-05-20 07:08] ev1stensberg commented on #156
Yeah and that part is what I dont understand, couøf you give me a link to some blog post? Ive always done module.exports

[2017-05-20 07:17] okonet commented on #156
http://2ality.com/2014/09/es6-modules-final.html

[2017-05-20 07:19] ev1stensberg commented on #156
Ok gotcha. My guess is that in defineTest we do something that is reliant on the standard defininition. I can check it out next week

[2017-05-21 15:43] okonet commented on #144
@ev1stensberg @sokra does `WebpackOptionsValidation` accepts non-objects? I don't think so but wanted to ping you to see how hard it can be to support such cases?

[2017-05-21 15:45] okonet commented on #140
AFAIK `includes` isn't in Node v4. See http://node.green/#ES2015-built-ins-well-known-symbols-Symbol-match--String-prototype-includes

So we either should polyfill it or rewrite it with ES5.

[2017-05-21 15:49] ev1stensberg commented on #140
Rewrite would be appropriate in this situation :)

[2017-05-21 20:05] #90 closed

[2017-05-22 03:19] ev1stensberg commented on #144
Well it's just looking at the source code. It's at our repo. Should be doable.

[2017-05-22 14:30] okonet commented on #153
This should be fixed in #150

[2017-05-22 14:30] #153 closed

[2017-05-23 03:34] timoxley opened #157 "migrate: removeJsonLoaderTransform undefined does not match field "value""
Trying to migrate a mildly edited, ejected, create-react-app config, complains on `removeJsonLoaderTransform`. I have no json loader, also still fails when I add one.

webpack-cli 1.3.2

### Config

https://gist.github.com/timoxley/bd2abb362b3ead91012581729fb9c108

### Error

[code]

[2017-05-23 06:43] ev1stensberg commented on #157
May be fixed in a new version push. CC-ing @okonet to conclude it.

[2017-05-23 08:09] okonet commented on #157
Thanks for reporting! I'll check against master.

[2017-05-23 08:24] anyulled opened #158 "Installation error"
**What is the current behavior?**
Whenever I try to instal webpack cli I receive the following error:

**If the current behavior is a bug, please provide the steps to reproduce.**
npm i webpack-cli -g

**What is the expected behavior?**
successful installation

**Node version:** 6.3.1
**npm version:** 4.5.0
**operating system:** Windows 10
**programming language:** Javascript
**webpack version:**

[2017-05-23 08:34] anyulled commented on #132
@dkfiresky I'm having the same error nad tried your suggestion and still didn't work.

[2017-05-23 08:36] ev1stensberg commented on #132
Can you send me your `.gitconfig` per mail @anyulled ? See patterns of this issue on windows, need some context around npm. Should work at our end.

[2017-05-23 08:36] anyulled commented on #158
Hi, I was checking the issues list and got it working by doing
`git config --global url."https://".insteadOf git://` as suggested in #132 .

[2017-05-23 08:38] ev1stensberg commented on #158
Yep, just saw. Commented there, need some more info to reproduce.

[2017-05-23 08:47] anyulled commented on #132
@ev1stensberg my .gitconfig only has this now:

[user]
	name = alrs
	email = myusername@somedomain.com
[url "https://"]
	insteadOf = git://

[2017-05-23 08:55] ev1stensberg commented on #132
Can I get yours as well @brownieboy ?

[2017-05-23 09:25] okonet opened #159 "[Migrate] loaders transform: should options be always grouped with the loader"
**Do you want to request a *feature* or report a *bug*?**
Bug/Question?

**What is the current behavior?**

This:

[code]

will be converted to this:

[code]

Question is: is this correct result or should options be grouped with the `loader`?

cc @sokra

[2017-05-23 09:26] okonet commented on #157
I didn't get this error on master so I guess it was fixed in #150

[2017-05-27 10:21] ev1stensberg opened #161 "Remove local fork of yeoman"
Need an update from @pksjce on the bug she was complaining about recast. Moving to yeoman generators, so this needs to be resolved.

For the yeoman fork, this is removed and replaced in #148

[2017-05-29 14:18] nilliams opened #162 "webpack-cli init creates invalid path for `entry` unless you specify leading `./` or an abs. path"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
```webpack-cli init```

Answer `index.js` to the question `'Which module will be the first to enter the application?'`.

Then if you run `webpack`, fails with error:
[code]

**What is the expected behavior?**

1. Should create a webpack config in which the entry name has been transformed similar to the

[2017-05-29 15:01] ev1stensberg commented on #162
I'll leave this for the community to decide. Letting users supply path themselves is the most secure, as we dunno where either folder/location is.

[2017-05-29 16:40] nilliams commented on #162
Okay I can see that, however, it seems to be a problem regardless that if I type `index.js` I end up with an invalid config?

What is the user expected to do here, enter `./index.js` instead? Or edit the generated config manually?

[2017-05-29 17:58] dkfiresky commented on #162
@nilliams I think it's better for you to specify the entry with a relative/absolute path.

https://webpack.js.org/configuration/entry-context:

So basically entry is a file(s) path, not a module name or anything else.

[2017-05-29 21:28] ev1stensberg commented on #159
Any status update on this?

[2017-05-30 11:03] nilliams commented on #162
Thanks, wasn't aware of `context`, though the generated config isn't using it. Perhaps it should be because:

 Currently entering the leading `./` is the only way you can end up with a working config.

Sidenote on that: Typing a leading `./` does not seem the kind of thing you typically do at a prompt that is designed to make an `init` easy, (and probably would not be intuitive for Windows users).

[2017-05-30 11:24] ev1stensberg commented on #162
Actually you just have to type `./index`. Context is not ideal, as it's better to default to pwd. An example, would be good though. `[example: './index']`.

Let's just stick with adding an example.

[2017-05-31 12:06] nilliams commented on #162
Sounds good to me, thanks!

[2017-06-08 03:36] wormen opened #163 "exclude functions in OccurrenceOrderPlugin"
What parameters do I need to write so that certain function names remain unchanged after optimization?

In the documentation I did not see it

[2017-06-09 12:18] alejandronanez commented on #87
I think I can grab something from this list, is all listed there still a thing? Any good beginner steps that I can follow?
Thanks!

[2017-06-09 13:32] ev1stensberg commented on #87
I think the best thing to start on is E2E tests! You can look at yarn: https://github.com/yarnpkg/yarn/tree/master/end_to_end_tests on how they do that!

To start dev:

1. Clone repo
2. npm link and remove the global webpack-cli installation if you have any
3. Happy hacking :)

[2017-06-09 13:35] ev1stensberg commented on #163
https://webpack.js.org/guides/migrating/#occurrenceorderplugin-is-now-on-by-default its by default in webpack 2. What you could do, is writing your own plugin!

[2017-06-09 13:37] alejandronanez commented on #87
Sounds good, will work on E2E then!
On Fri, Jun 9, 2017 at 8:32 AM Even Stensberg <notifications@github.com>
wrote:

[2017-06-09 13:39] ev1stensberg commented on #87
Hit me up if you need help, available anytime 👍

[2017-06-10 14:49] alejandronanez commented on #87
Hey @ev1stensberg, can you give me a quick overview about what is the purpose of e2e for `webpack-cli` it should be similar to E2E for an app but I'm still kinda lost tbh :/
Thanks for your help!

[2017-06-10 17:51] ev1stensberg commented on #87
E2E is to test the CLI, similar to smoketests

[2017-06-13 13:42] zowers commented on #145
seems to be fixed, works now in `webpack-cli` version 1.3.3

[2017-06-13 13:42] #145 closed

[2017-06-20 03:20] ev1stensberg commented on #137
Leaving this for grabs within 30 days, or I'll make one myself.

[2017-06-20 05:42] krnaveen14 opened #165 "Cannot install webpack-cli using npm"
I cannot install `webpack-cli` using npm. I tried using different node versions too.

<details>
<summary>Debug Log</summary>

</details>

### Also tried to install using yarn

[2017-06-20 05:43] ev1stensberg commented on #165
This may be because I've deleted my fork, so sorry. We're working on a migration this week, which will discard the use of the local fork

[2017-06-20 05:45] ev1stensberg commented on #165
Nevermind, the fork is still up, removed it locally so you should be cool. Try using `npm`, yarn is disabled while we are migrating :)

[2017-06-21 09:32] pksjce commented on #159
@okonet - Can options be bound to multiple loaders? Isn't it more clearer to group them with the loaders?

[2017-06-21 13:24] okonet commented on #159
I don't know! That's why I've created this issue.

[2017-06-24 17:19] conor909 commented on #144
I'm testing out dev / prod config files using the method from the docs here https://webpack.js.org/guides/production/#simple-approach

But when I switch my base config to a function I get the following error
[code]

Im using `webpack 3.0.0`

Original `webpack.config.js`

    const path = require('path');
    const webpack = require('webpack');

        module.exports = {
          entry: [

[2017-06-25 06:34] ev1stensberg commented on #144
Hmm, weird, this should definitely work. Try not using a return, what do you get? A stack tracke would be fine, do `node your/path/node_modules/webpack/bin/webpack.js --stack-trace-limit 9000`

[2017-06-25 06:35] ev1stensberg commented on #144
Oh wait, @conor909 are you trying to run `webpack migrate` ? From `webpack` itself?

[2017-06-25 07:24] schmuli commented on #159
According to the webpack TypeScript definition files, a UseRule (i.e. a rule with a `use` property) can not have an `options` property.

So you either need to continue using a LoaderRule (i.e. `loader` and `options` properties, or you need to specify the options in the `use` property, either as an object or as an array.

[2017-06-25 16:34] okonet commented on #159
Thanks @schmuli! I'll need to update code to make this happen.

[2017-06-25 17:40] ev1stensberg commented on #87
@alejandronanez Have you started with E2E yet? I think we can simplify this a lot through doing `stdin` mocks with Jest for init and migrate, and watch for a successfully created `webpack.config.js` with init in Docker containers.

[2017-06-25 17:44] conor909 commented on #144
I'm not sure what `webpack migrate` is so no I dont think so

[2017-06-25 17:56] ev1stensberg commented on #144
Ok, gotcha :) Which command are you trying to run? Just `webpack` ? If so, could you try to do the debug as I mentioned earlier?

This is taken from @kentcdodds 's course on `webpack-2`, which should be valid.

![skjermbilde 2016-06-18 kl 15 50 31](https://user-images.githubusercontent.com/16735925/27518432-5817c250-59e0-11e7-8da2-59e55559645a.png)

[2017-06-25 18:04] ev1stensberg commented on #144
Also try to remove the `dev-server` entry: https://github.com/glenjamin/webpack-hot-middleware#200

[2017-06-25 18:29] kentcdodds commented on #144
You might also want to check out http://npm.im/webpack-config-utils which includes those utils and more 👌

[2017-06-25 19:01] avivr commented on #162
I'd like to give it a try

[2017-06-25 19:02] ev1stensberg commented on #162
Sweet! Ping me if you need help @avivr !

[2017-06-25 19:27] ev1stensberg opened #166 "Initial Documentation for MIGRATE.md"
**Do you want to request a *feature* or report a *bug*?**
feature

**What is the current behavior?**
Right now, we don't have any documentation for `MIGRATE.md`. It would be nice to have some information about the migrate feature, how it works and what you may need to manually migrate.

**If the current behavior is a bug, please provide the steps to reproduce.**
N/A

**What is the expected behavio

[2017-06-26 18:51] conor909 commented on #144
The command I'm running is: `node_modules/babel-cli/bin/babel-node.js ./server/server.js`

[2017-06-26 21:14] benwiley4000 commented on #103
Sorry I still haven't had time to work on this. As for why this is useful... I can't at the moment remember what I was trying to do, but I think it was something along the lines of trying to quickly test some settings that weren't in my config. It's annoying to have to manually override every single config file setting with a flag.

[2017-06-27 09:03] ev1stensberg commented on #144
@conor909 I'll try to get a repro up today and try to figure out what's wrong. At first glance this seems like it should work though ✌️

[2017-06-27 09:08] ev1stensberg commented on #103
I think Michael touched on some workarounds, a detailed user story with a repository and such, as I've mentioned earlier would be great if we were to prioritize this. ✌️

[2017-06-27 13:49] okonet commented on #166
I'm wondering what kind of documentation are we looking for?

[2017-06-27 14:09] ev1stensberg commented on #166
Consistency between `INIT.md` and `MIGRATE.md`

[2017-06-29 10:46] anshengme opened #168 "TypeError: Package isn't registered on npm."
[code]

[2017-06-29 10:47] anshengme commented on #168
OS

[code]

[2017-06-29 10:49] ev1stensberg commented on #168
Hi! Did you publish the package on npm?

[2017-06-29 10:55] anshengme commented on #168
no，sorry，is my problem！

Now the project can be properly initialized.

[2017-06-29 10:55] #168 closed

[2017-06-29 10:55] ev1stensberg commented on #168
Glad to help! Let me know if I can be of further assistance!

[2017-06-29 11:17] pksjce commented on #163
@wormen - I don't think this is an issue with the CLI. Would be great to open a relevant stackoverflow issue. Please re-open when you can add more details on the issue.

[2017-06-29 11:17] #163 closed

[2017-06-30 17:18] ev1stensberg commented on #78
This could be a problem, I disabled `WebackOptionsValidator` for `init` because of different usage. Say if a person uses `webpack-merge`, they will get error'd. Would be nice to have a seperation based on config name

[2017-06-30 17:19] #158 closed

[2017-06-30 17:20] ev1stensberg commented on #132
Any update on this?

[2017-06-30 17:21] ev1stensberg commented on #123
@pksjce any update on this? Discussed at the PR, but need feedback on the original issue

[2017-07-03 10:41] DanielaValero commented on #165
Closing as seems to be solved. @krnaveen14 feel free to reopen if you still face issues

[2017-07-03 10:41] #165 closed

[2017-07-03 14:28] DanielaValero commented on #162
Hello guys, now that the example has been merged, I guess that we can close this issue? @ev1stensberg @nilliams

[2017-07-04 09:11] nilliams commented on #162
Hmm, doesn't seem right? Single entry LGTM, but **the examples for multiple entries seem incorrect** (they suggest `dist` rather than src (`./`) dir, and have the `.js` extension which ends up duplicated in the `webpack.config` output).

[code]

Believe this should be:

[code]

Would seem to make sense to use the variable in there too?

[code]

I also noticed that if you choose `vendor` as an entr

[2017-07-04 12:42] ev1stensberg commented on #162
Looks fine to me. Vendor as a entry name is commonly used, this may be an error with your code. Comment your config and let's see :)

[2017-07-04 13:58] nilliams commented on #162
Why the close, it is not resolved. If anything it is now worse, as the examples for multiple entry will create a broken config?

[2017-07-04 14:57] ev1stensberg commented on #162
@nilliams the entry prompts are just an example, you're free to choose whatever name you want. If you think this should be changed, send a PR, happy to help! (Also, it won't create a broken config )

If you're running init and creating a bundle in the dist folder that may be the case of your error. If you want to send in a PR with a fix, that would be 💯

[2017-07-05 11:53] nilliams commented on #147
Agree the question is confusing. I answered 'Yes' to the production question first, thinking like you 'of course I want to use it in production'. (It's also the default answer - capital `Y` in `Y/n`).

But this was a mistake, as I actually wanted a single `webpack.config.js`, and feel that's what most will want.

Think it has a negative impact on the 'first experience' as is.

[2017-07-05 11:59] #162 closed

[2017-07-09 12:16] ematipico commented on #87
As agreed with @ev1stensberg, I will take care of integrating Flow

[2017-07-14 15:08] ematipico opened #171 "[MIGRATION] Error thrown with debug: true"
**Do you want to request a *feature* or report a *bug*?**
**Bug**

**What is the current behavior?**
When trying to **migrate** a configuration file that contains `debug: true`, the output in the new file will be
[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
1. create a webpack configuration file that contains `debug: true`
2. run `webpack-cli migrate webpack

[2017-07-17 13:53] #171 closed

[2017-07-20 13:53] thescientist13 commented on #161
it appears this would address / resolve https://github.com/webpack/webpack-cli/issues/132

[2017-07-24 01:32] thescientist13 commented on #147
Would it make sense for the CLI to generate webpack configuration per the recommendation of webpack's [advanced](https://webpack.js.org/guides/production/#advanced-approach) usage documentation?  I find in general this helps make understanding webpack a little easier by distinguishing what configurations are required for which parts of the build process and in general helps keep things organized.

[2017-07-24 01:43] thescientist13 commented on #87
@ev1stensberg
What did you have in mind for this task?  (if it's still available)

[2017-07-24 02:01] thescientist13 commented on #166
@ev1stensberg
To get started on this, it seems like it would be a matter of taking a webpack v1 based config, running `migrate` on it, and documenting the general experience?

[2017-07-30 13:52] ev1stensberg commented on #166
Yep, that's correct. Align with @okonet  & @pksjce with this, so that you have enough context in the readme 👍

[2017-07-30 13:53] ev1stensberg commented on #87
I think that @bebraw linked to an issue that's open at the core repository. You could align with him to get info!

[2017-07-30 23:24] thescientist13 commented on #87
Thanks @ev1stensberg !

@bebraw
Do you have any thoughts on direction I could review to get started on this?  Thanks in advance!

[2017-07-31 10:09] bebraw commented on #87
@thescientist13 Not really. The logger module is something you should discuss on webpack core. Propose an API for that. The rest seem isolated to the CLI.

[2017-08-01 16:49] ev1stensberg commented on #161
Probably, but not entierly sure

[2017-08-13 17:41] pdehaan opened #177 "`webpack-cli init` creates invalid config w/ Webpack v3.5.4: configuration.output.path: The provided value "public" is not an absolute path!"
[code]

---

**Do you want to request a *feature* or report a *bug*?**
Feels like a bug.

**What is the current behavior?**
Throws an error when running `webpack-cli init` then `webpack --config webpack.prod.js` (see below)

**If the current behavior is a bug, please provide the steps to reproduce.**
Ran `$ npx webpack-cli init` from Terminal and it generates an error when I run `$(npm bin)/webpac

[2017-08-13 18:09] ev1stensberg commented on #177
Hm, weird.. This should have been fixed in #125 . Maybe we've forgotten to publish to npm, though less likely.

[2017-08-13 18:39] pdehaan commented on #177
OK, I think I get it. If I accept the default target directory of `dist`, then the config outputs a `path.join()`. If I give a custom target directory (ie: `dist2`) then it uses that literal value without a `path.join()`.

---

[code]

### Output:

[code]

---

But with a custom output directory:

[code]

### Output:

[code]

[2017-08-13 22:12] ev1stensberg commented on #177
Yep, that's correct. It's a quick change. If you wanna submit a PR, I'd happy to help you! -

[2017-08-14 04:04] pdehaan commented on #177
See PR #178

[2017-08-27 18:52] #177 closed

[2017-08-27 18:57] TheLarkInn opened #179 "Feature: Generate Custom Loaders and Plugins(?)"
**Do you want to request a *feature* or report a *bug*?**
Feature!!! <3

**What is the current behavior?**
Currently it takes a bit of setup to have a "webpack-defaults"/"webpack-contrib" style loader or plugin with some bare tests.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
I think it would be perfect for users to have an appr

[2017-08-31 15:26] fokusferit opened #180 "[Discussion] How can increase outside contributions and reduce entry to the code?"
This Issue is about the following:

- How can we increase first time contributions ?
  - What kind of onboarding strategy can we provide people so it is easier to catch up with the code, the architecture ?
  - I think we need to have a broader strategy here with Action Items, e.g. Cleaner Code blocks, Documentation of some core concepts or Some basic Hand-Ons text like "Where to start if you want

[2017-08-31 15:28] fokusferit opened #181 "[Discussion] Creating a roadmap, milestones , strategy"
This Issue is also related to #180 but is more related to:

- How can we provide some milestones (or roadmap) transparently, so everyone knows what to focus on next ?

I'm sure some of the first contributors and Even have a clear list of next steps and features in mind and now this 'issue' here is more about getting this documented and shared broadly.

[2017-09-01 13:46] trignolo opened #182 "Cannot install webpack-cli using npm"
I'm trying to install webpack-cli with npm, but I'm getting error code 128.

Thanks in advance

[2017-09-01 14:48] ev1stensberg commented on #182
Hi! Could you post a stacktrace for us? I.E print a screenshot of your terminal?

[2017-09-01 14:55] trignolo commented on #182
Sure, here it is:

[2017-09-01 14:59] ev1stensberg commented on #182
- https://stackoverflow.com/questions/35021692/npm-install-error-code-128
- https://docs.npmjs.com/troubleshooting/try-clearing-the-npm-cache

[2017-09-01 15:06] ematipico commented on #182
Are you behind a proxy? It looks like it's related to the cli but to a connection error to github

[2017-09-01 15:16] trignolo commented on #182
I've also realized that is a connection problem looking at the logs, but I've never experienced a problem like this in the recent past with other tools.

My first googlings take on this issue:

https://github.com/webpack/webpack-cli/issues/165

that seems to be the exact problem that I have now.

So I think that it's not very likely that is a proxy problem. But I'm investigating yet with infos fro

[2017-09-01 15:27] trignolo commented on #182
A little update: I attach a clean log of the exceution of the command. What I see is that the connection time out is related to this repo:

/usr/bin/git ls-remote -h -t git://github.com/kalcifer/recast.git

[2017-09-01T15_20_12_242Z-debug.log.txt](https://github.com/webpack/webpack-cli/files/1270712/2017-09-01T15_20_12_242Z-debug.log.txt)

[2017-09-02 22:12] thescientist13 commented on #180
I have a couple modest thoughts.  😊

###  webpack Fundamentals
I think directing contributors to a good overview of the webpack codebase in general would be helpful, something to orient themselves on the general patterns, conventions, and practices of the underlying tool, e.g. webpack itself.  Something along the lines of the webpack [Concepts](https://webpack.js.org/concepts/) documentation. and

[2017-09-02 22:12] thescientist13 commented on #181
Hello!

I just started helping out with the CLI but have had some experience with using GitHub and managing projects on it and had a couple thoughts.

### Projects and Milestones
Could we use the Projects + Milestones features in GitHub for this repo?  I've used them in the following manner (just as a suggestion):
- Milestone: long term release tracking (new version, refactoring plan, etc)
- Proje

[2017-09-03 12:29] ev1stensberg commented on #182
@trignolo Recast & Yeoman are local forks, so that makes sense. Planning to remove those after we've migrated into [`webpack-addons`](https://github.com/webpack-contrib/webpack-addons)

[2017-09-04 20:35] fokusferit commented on #180
Thanks for the feedback / ideas @thescientist13 .
I agree with you, I think one of the first steps would be really to update the Readme and add things like:

- Purpose / Motivation behind it
- Getting started (points to some initial reads around webpack)
- Roadmap (initially this should reflect some of GH issues, so redirecting to issues page with a label "next steps" or "next release".
- How to u

[2017-09-04 20:45] fokusferit commented on #181
I like the idea of using GH projects, but in the past when I used it in different projects the maintenance "cost" was also quite high. And maybe we could start using more labels as a first step towards moving into GH projects, but I'm open for it.

Regarding "Project Manager", maybe "Community (Onboarding) Manager" might be a better fit ? 😄 I think some are already doing this but I think this is a

[2017-09-06 13:01] okonet commented on #181
I just started using Projects for 🚫💩 lint-staged https://github.com/okonet/lint-staged/projects/1 and so far I like it. It's a bit early to say of the outcome but I think it helps everyone to stay focused on important things.

[2017-09-08 19:35] ianjsikes opened #184 "`webpack-cli init` does not work on < Node v6"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
The `webpack-cli init` command does not work on Node v4 or v5. From experimenting with #183, I believe this is because the `yeoman-generator` package is distributed in ES6.

**If the current behavior is a bug, please provide the steps to reproduce.**
[code]

**What is the expected behavior?**
The yeoma

[2017-09-08 19:36] ianjsikes commented on #184
A solution would be to compile the `yeoman-generator` package to ES5, I'm just not sure what the best way to go about it is.

[2017-09-09 13:22] scarlac commented on #15
The current workaround seems to be, as @bebraw suggests, to use nodemon. I'm doing the following which works at the moment: `nodemon --watch webpack.config.js --exec webpack-dev-server --content-base app/`

[2017-09-15 22:04] #107 closed

[2017-09-18 13:10] ematipico commented on #181
Yeah I agree that we should have an area where people can read and understand what are the goals of the library. I know that there are discussions around but those tend to get lost. We can create a Milestone for version 2.0 of the project, so contributors and first time contributors can have a better idea of where we are going.

About the **Project Manager**: the idea is nice but I think there sho

[2017-09-18 13:12] ematipico commented on #180
To add it the list, I think something nice is to understand how to create/modify tests.
Tests are useful because they help developers to understand how a single functionality works (or part of it).

[2017-09-19 09:21] ev1stensberg commented on #180
@ematipico also, we need to add those before we can merge into webpack/core

[2017-09-22 18:57] cachvico commented on #21
OP here. Thanks for implementing this guys!

[2017-09-22 22:33] ev1stensberg commented on #21
💙💙

[2017-09-26 18:04] #166 closed

[2017-10-01 09:20] andrei-zhidkov opened #188 "Adding a build step"
Currently, building & running the project locally unfortunately proves to be quite troublesome.

First of all, there seems to be a missing dependency required from `bin/webpack.js` — `resolve-cwd` is missing from `package.json`.
Then, there are flow typings in the project now, which predictably result in `Unexpected token` error.

I think that it's time to add a proper build step to the project —

[2017-10-02 06:05] ev1stensberg commented on #188
@andrei-zhidkov Thanks for opening an issue! We're addressing this in the upcoming PR's!

[2017-10-05 21:45] ev1stensberg commented on #188
I'm very fond of TypeScript, if we were to transpile the CLI, @okonet what do you think?

[2017-10-06 06:58] okonet commented on #188
I think Flow is better :) but either way we need to transpile. To transpile Flow we only need to introduce Babel.

[2017-10-12 07:09] dphov opened #191 "Cannot run webpack-cli after install"
After trying to run "webpack-cli" for config migrating, I got this error output.
macOS Sierra 10.12.6
npm v5.4.2
node v8.7.0 (installed via nvm)
webpack-cli v1.3.9
[code]

[code]

[2017-10-12 08:21] ematipico commented on #191
Hi @dphov, which version of `webpack-cli` did you install? The latest? (1.3.9)

[2017-10-12 08:40] dphov commented on #191
@ematipico Yep.

[2017-10-19 10:59] mikkelwf commented on #191
Same error here

[2017-10-22 18:50] AndrewRayCode commented on #191
Looks like a bad release?

[code]

[2017-10-22 18:52] AndrewRayCode commented on #191
Also why is the `dist/` folder committed at all? Easy win to remove it, and ignore the source code from the published package with a `.npmignore`

[2017-10-22 18:55] ev1stensberg commented on #191
Yep, bad rebase indeed. We need a solid build step, so if someone want's to fix `prepublish` and creating a dist build that actually works, that would be great. There's a PR for it, but we need to only create the `dist` folder, and `flow-remove-types` doesn't seem to work with `prepublish`. Would be super-humble for a PR to fix this

[2017-10-22 18:59] ev1stensberg commented on #191
FWIW, the 1.9 version should actually work, could you do a deep dive into `node_modules` in global and try to run webpack with something like `node ~/usr/bin/local/node_modules/webpack/webpack.js init` ?

[2017-10-22 18:59] AndrewRayCode commented on #191
Looks like last two versions are hosed too?

[code]

same output for `yarn add -D webpack-cli@1.3.7`

This succeeded: `yarn add -D webpack-cli@1.3.5`, but then...

[code]

Same for `yarn add -D webpack-cli@1.3.4`...

Am I missing something? Have the last 5+ releases not worked?

[2017-10-22 18:59] ev1stensberg commented on #191
correct, was planning to bump to `1.4.0` once this got fixed

[2017-10-22 19:01] ev1stensberg commented on #191
`1.3.4` and `1.3.9` should work, I'm interested in the trace for `1.3.9`

[2017-10-22 19:02] AndrewRayCode commented on #191
Install for `1.3.9` works but error is in the first post

[2017-10-22 19:35] ev1stensberg commented on #191
Do `npm install -g webpack-cli`, it should have `1.4.0` now, reverted some things, as @ematipico did a PR for `flow` that made the build broken, tried to fix it by adding compilation and stuff, so that we could support `v4` of node, will do some more investigating to make sure it works 100%. Sorry for the bug you guys had, having a hard time finding time for open source atm, as I'm working + full

[2017-10-22 19:35] ev1stensberg commented on #191
Closing this per now, feel free to open a new issue if something comes up, I'm available for questions or elaboration anytime ❤️

[2017-10-22 19:35] #191 closed

[2017-10-28 21:21] timomeara commented on #191
still happening:
Error: Cannot find module './utils/webpackOptionsSchema.json'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:25)
    at Module.require (module.js:497:17)
    at require (internal/module.js:20:19)
    at Object.<anonymous> (/usr/local/lib/node_modules/webpack-cli/dist/migrate.js:10:30)
    at Module._compile (module.js:570:32)

[2017-10-29 01:59] ev1stensberg commented on #191
Try reinstalling to the newest version

[2017-11-04 14:47] anisart commented on #191
same on 1.4.4

[2017-11-04 14:58] ev1stensberg commented on #191
Install the latest version @anisart

[2017-11-04 15:01] anisart commented on #191
@ev1stensberg but how? I install it via
[code]

[2017-11-04 17:25] ev1stensberg commented on #191
@anisart `flow-remove-types` doesn't want to copy over json files, sadly :(

Sorry for the errors you were getting, try `npm install -g webpack-cli@1.4.5` or `npm update -g webpack-cli`

[2017-11-22 22:22] #123 closed

[2017-11-23 10:54] webpack-bot opened #192 "Print distinct end line to support better output error parsing in watch mode"
**Do you want to request a *feature* or report a *bug*?**

A feature.

**What is the current behavior?**

The output consists of various information regarding the included bundles, time taken, etc., followed by warnings and errors if there are any, but nothing follows that, indicating that the compilation is fully completed.

**If the current behavior is a bug, please provide the steps to reproduc

[2017-12-04 16:41] timhwang21 opened #193 "`webpack --profile` outputs invalid JSON when ENV not set"
Hi, I am not sure this repository is the correct place to file this issue, if it's not I would appreciate being pointed in the right direction. Thanks!

**Do you want to request a *feature* or report a *bug*?**
Bug / BUX

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**
When running `webpack --profile` and ENV isn't set, the string `WA

[2017-12-06 03:08] ev1stensberg commented on #193
Hey @timhwang21 , let me investigate and get back to you!

[2017-12-10 05:39] #188 closed

[2017-12-10 05:39] ev1stensberg commented on #188
Fixed in 1.4.9 <=

[2017-12-10 06:22] ev1stensberg opened #195 "Add "webpack-cli" bot to the repo"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
Right now, we do not have any bot that will improve contributors experience, it would be nice to add a bot that looks at tests and adds labels etc on demand.
**If the current behavior is a bug, please provide the steps to reproduce.**

N/A
**What is the expected behavior?**
A bot that is added to the repo

[2017-12-11 21:29] kingdaro opened #196 "Use babel-preset-env instead of 2015"
**Do you want to request a *feature* or report a *bug*?**
Feature.

**What is the current behavior?**
The CLI initializes a project with the 2015 preset.

**What is the expected behavior?**
The CLI should use the env preset instead.

**If this is a feature request, what is motivation or use case for changing the behavior?**
It does the same as 2015, with additional fine-grained control for environ

[2017-12-12 02:19] ev1stensberg commented on #196
Yep, totally agree @kingdaro ! A PR would be great! Hit me up if you need help getting to know the codebase. The preset & installation is here:

https://github.com/webpack/webpack-cli/blob/master/lib/creator/yeoman/webpack-generator.js#L111-L119

https://github.com/webpack/webpack-cli/blob/master/lib/creator/yeoman/utils/module.js

[2017-12-12 03:01] ev1stensberg commented on #196
It would be great if you PR this against my PR #194 , as there's a lot of changes in that one to the directory structure, but that's optional!

[2017-12-12 03:35] kingdaro commented on #196
Done, made a pr against the feature/add branch. Hope I did it right 😄

[2017-12-12 06:46] #196 closed

[2017-12-12 06:46] #179 closed

[2017-12-12 08:43] TheLarkInn opened #198 "[Init] Add keyboard functionality for interpretor lists"
**Do you want to request a *feature* or report a *bug*?**

Bug (Usability)
**What is the current behavior?**
Currently when you get a multiple choice list from the init generator, there is no way to key through the options with arrow keys. (Technically with interpreter this is possible [cant remember if we use that])
**If the current behavior is a bug, please provide the steps to reproduce.**

**W

[2017-12-12 08:59] TheLarkInn opened #199 "[Feature]"
**Do you want to request a *feature* or report a *bug*?**
Feature
**What is the current behavior?**
This package is installed using npm
**If the current behavior is a bug, please provide the steps to reproduce.**

**If this is a feature request, what is motivation or use case for changing the behavior?**
Since now this is a dependency of webpack/webpack, we should probably also move this over to y

[2017-12-12 23:16] billyjanitsch commented on #199
@TheLarkInn @ev1stensberg @sokra sorry if this has been discussed elsewhere (I searched and didn't find anything), but why was `webpack-cli` added as a dependency to `webpack`?

The standard for separate CLI packages seems to be the other way around: the CLI depends on the node API. For example, `babel-cli` depends on `babel-core` (but not vice-versa), `postcss-cli` depends on `postcss`, etc.

If

[2017-12-13 07:16] ematipico commented on #195
What the bot should do? The same thing that the bot inside `webpack` does?

[2017-12-13 07:49] ev1stensberg commented on #195
Yep, just adjust it to our labels, and it should looks for our unit tests instead of Appveyor etc

[2017-12-13 07:54] ev1stensberg commented on #199
#202  #203 , @billyjanitsch yep, you're right 👍

[2017-12-13 07:54] #199 closed

[2017-12-13 08:26] billyjanitsch commented on #199
@ev1stensberg I don't think #202 is quite right.

I'm suggesting that `webpack-cli` _should_ depend on `webpack`, but `webpack` should _not_ depend on `webpack-cli`. This is how other separate CLI packages work, e.g. Babel and postcss. If you think about the dependency hierarchy logically, this makes sense: the CLI requires (a specific version range of) the node API to function, but not vice versa

[2017-12-13 08:46] ev1stensberg commented on #199
@billyjanitsch We're gonna make the CLI a peerdep in webpack before releasing

[2017-12-13 09:10] webpack-bot opened #205 "Support ESM import/export in config files."
One of the things I've noticed while writing ESM code is that I reach for it all the time, even when writing `webpack.config.js` files. It would be rad if [webpack 4](https://github.com/webpack/webpack/issues/6064) used something like [`@std/esm`](https://github.com/standard-things/esm) behind the scenes to load its config files. In addition to CJS, this would enable support for ESM `import`, `exp

[2017-12-13 09:44] ev1stensberg commented on #198
fixed in 541ba62f02c4a1fcc807eac62a551fcae3f2d2c3

[2017-12-13 09:44] #198 closed

[2017-12-13 09:45] ev1stensberg commented on #184
@ianjsikes I'm not sure we can do that, as yeoman got some class exports that are wrongly compiled in babel

[2017-12-13 11:17] ev1stensberg opened #206 "Feature: More user friendly startup message"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
`Insecure about some of the questions?` are vaguely written, and it would be better to have a more neutral / empathic message on startup.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
A better introduction to the `init-generator`
**If this

[2017-12-13 12:09] sumit-gupta91 commented on #206
Hi guys,
I would like to contribute in webpack-cli and I would like to take up this issue.

[2017-12-13 12:42] ev1stensberg commented on #206
Awesome @sumit-gupta91 , hit me up if you need help!

[2017-12-14 11:41] ematipico commented on #195
I'd like to take the PR if anybody else wants to

[2017-12-14 11:42] ev1stensberg commented on #195
Go for it @ematipico !

[2017-12-15 12:20] ematipico opened #212 "Repository tags of each version released"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
No release tags on the repository

**What is the expected behavior?**
Having release tags to the navigation and the history between versions is more efficient.

**If this is a feature request, what is motivation or use case for changing the behavior?**
Having tags on the repository is helpful if th

[2017-12-15 14:31] ev1stensberg opened #213 "[BUG] Remove dist folder from being included on github"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
Right now we are committing the `dist` folder on github.
**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
We should remove it from being included, i.e `.gitignore`
**If this is a feature request, what is motivation or use case for changing the

[2017-12-15 14:32] ev1stensberg commented on #212
Totally agree. Intended to be done starting at #207

[2017-12-15 15:51] ev1stensberg commented on #213
@kingdaro interested?

[2017-12-15 15:53] kingdaro commented on #213
No problem, I'll go ahead and knock this one out.

[2017-12-15 15:54] kingdaro commented on #213
Should I just commit this one to master? @ev1stensberg

[2017-12-15 15:55] ev1stensberg commented on #213
Yep, this one could

[2017-12-15 15:58] #157 closed

[2017-12-15 15:58] ev1stensberg commented on #159
@okonet  @pksjce  any of you guys got time to do this?

[2017-12-15 15:59] #213 closed

[2017-12-15 16:02] ev1stensberg commented on #127
Hi @JackPu , did it get resolved?

[2017-12-15 16:04] ev1stensberg commented on #144
@conor909 I think this is due that webpack is validating your config and expects an object to be passed into it, like  we're doing with `migrate`. So this won't work for a config that has a function. Anyways, we're revamping some logic in `v2`, and it should (hopefully) work!

Sorry for getting back to you so late, its been a hectic semester 😭

[2017-12-15 16:04] #144 closed

[2017-12-15 16:06] ev1stensberg commented on #140
Closed À la #183

[2017-12-15 16:06] #140 closed

[2017-12-15 16:07] ev1stensberg commented on #124
@kingdaro This one might be nice too, if no args present, add `-h` to the argv array

[2017-12-15 16:07] #108 closed

[2017-12-15 16:08] ev1stensberg commented on #146
#161 related

[2017-12-15 16:08] #146 closed

[2017-12-15 16:26] kingdaro commented on #124
Sure, I can pick this one up another time.

[2017-12-15 18:17] ev1stensberg opened #216 "Transforms: Add AST for mode property"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
We don't have a mode transform
**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
Transform for mode
**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention other relevant information such as

[2017-12-17 16:40] ev1stensberg commented on #70
Closed per #207

[2017-12-17 16:40] #70 closed

[2017-12-17 16:57] ev1stensberg commented on #216
Closed per #207

[2017-12-17 16:57] #216 closed

[2017-12-17 17:23] #68 closed

[2017-12-17 17:23] ev1stensberg commented on #132
This is probably a dupe of #182, so let's resume discussion over there!

[2017-12-17 17:23] #132 closed

[2017-12-17 17:24] #47 closed

[2017-12-17 17:30] ev1stensberg commented on #161
This is underway at #207 , yeoman might be trickier

[2017-12-18 09:40] sumit-gupta91 commented on #124
Hi, I would like to pick this bug up if no one is working on it.

[2017-12-18 09:51] kingdaro commented on #124
@sumit-gupta91 You can go ahead. I have a solution but I'm not all that happy with it.

[2017-12-18 12:21] ev1stensberg opened #219 "[Migrate]: JSdocs for migrate"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
Right now, we do not have JSdocs for migrate, it would be nice!
**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
JSdoc on migrate
**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please mention oth

[2017-12-19 14:43] ev1stensberg commented on #205
Closed per https://github.com/webpack/webpack-cli/commit/ab9421136887b7e9e10f25a39b59fb32f07b5037

[2017-12-19 14:43] #205 closed

[2017-12-19 20:45] ev1stensberg commented on #152
Relative: https://github.com/mochajs/mocha/blob/92beda983f0cfa98541a816b6a1beaf0b64f260e/Makefile

[2017-12-20 11:21] peter-mouland opened #221 "missing file referenced from webpack v4.0.0-alpha.1"
https://github.com/webpack/webpack-cli/blob/2402117ae70ce709b059c60026267f7707becb22/bin/convert-argv.js#L512

The file required here no longer seems to exist

Have also raised a separate issue: https://github.com/webpack/webpack/issues/6162

[2017-12-20 12:43] #221 closed

[2017-12-21 00:09] ev1stensberg opened #223 "V2 General Improvements"
- Right now, there's some bugs with migrate, as well as some transform utility functions are trying to achieve the same thing. Migrate shouldn't have any errors and the utility functions should be refactored and used respectively
- Scaffolding for `add`, `update` and `remove`

[2017-12-21 15:58] #212 closed

[2017-12-22 00:26] sompylasar opened #226 "[Discussion] webpack-cli as a module"
If `webpack-cli` adds on top of raw `webpack` some value in the shape of self-contained functions like "add" or "serve", not only arg-passing glue, then maybe it makes sense to make these functions available and importable as a library.

Examples:
- `require('webpack-cli').add(otherArgs)  // -> Promise<WebpackCliAddResult>`
- `require('webpack-cli').serve(otherArgs)  // -> Promise<WebpackCliServer

[2017-12-22 17:15] webpack-bot opened #228 "feat: add `--babel` option"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

Using future syntax in webpack configuration files requires the use of a `.babel.js` extension or running webpack with `babel-node`.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**If this is a feature request, what is motivation or use

[2017-12-22 17:20] xtuc commented on #228
I don't know this feature in Webpack.

@AndersDJohnson, could you please provide an example?

[2017-12-22 18:35] ev1stensberg commented on #228
@AndersDJohnson Install `babel-register` or `@std/esm` in your project and do `webpack -r babel-register`

[2017-12-22 18:35] #228 closed

[2017-12-22 19:01] AndersDJohnson commented on #228
@ev1stensberg Is this `-r` flag documented? I don't see it in the `--help` output of `webpack@3.10.0` (`npx webpack --help | grep -- -r`).

[2017-12-22 19:04] ev1stensberg commented on #228
It's getting added in a later version of webpack, we've pushed a `v2` recently of the webpack-cli, which has this capability. https://github.com/webpack/webpack-cli/blob/master/bin/config-yargs.js#L70-L77

[2017-12-31 11:59] RobotnickIsrael commented on #182
Any updates on this issue?
I want to use the cli to migrate my project from webpack 1.X to 2.X (and later 3\4).
When do you thing the migration to webpack-addons will finish?
Will it affect the migration tool?

Thanks

[2018-01-01 11:34] RobotnickIsrael opened #230 "webpack-cli doesn't run on windows"
latest version (2.0.1)

**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**
when I do "webpack-cli migrate ./webpack.config.dev.js" or "webpack-cli -v" I get an error
message not related to the fuction itself:

It's important to add I just did "npm install -g webpack-cli", and it installed version 2.0.1

**If the current behavior is a bug, please provi

[2018-01-03 09:31] ematipico opened #233 "Error thrown when aborting a mirgration"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce.**

1. Install `webpack-cli`
2. Run a command, in this case `webpack-cli migrate webpack.config.js`
3. When the cli asks if you are sure about some change, press **n**
4. When the migration is aborted, the cli throws an error

[

[2018-01-03 09:31] ematipico commented on #230
I tried to run `webpack-cli -v` and it worked

[2018-01-03 09:32] ev1stensberg commented on #233
@ematipico could you fix this? A matter of navigating to the migrate file and do a console log on your repo

[2018-01-03 09:36] ematipico commented on #233
Sure I can fix it

[2018-01-03 09:53] ev1stensberg commented on #233
https://github.com/webpack/webpack-cli/blob/master/lib/commands/migrate.js#L89-L150

[2018-01-03 21:11] webpack-bot opened #234 "error reading webpack.config.ts when node_modules is in parent folder"
**Do you want to request a *feature* or report a *bug*?**
A bug

**What is the current behavior?**
my webpack.config.ts (the extension is ts, not js) starts with:
[code]
Building my project works perfectly when webpack.config.ts is in the same folder than node_modules (which contains ts-node and webpack as devDependencies)

However when the *node_modules* folder is in a parent folder, I get

[code

[2018-01-04 09:04] kumarharsh commented on #230
Not working for me too. Windows 10, Node 8.5.0

[2018-01-04 09:07] ev1stensberg commented on #230
@kumarharsh same error?

[2018-01-04 09:12] kumarharsh commented on #230
Yup.

[code]

[2018-01-04 09:53] ev1stensberg commented on #230
Hi @kumarharsh and @RobotnickIsrael , this is fixed in https://github.com/webpack/webpack-cli/commit/9f195c9620fafd7ed793c61c8af757d519f32d87 , install the patch using `npm install -g webpack-cli@2.0.2`, and if you have any other issues, don't hesitate to put up an issue! Thanks for posting this one!

[2018-01-04 09:53] #230 closed

[2018-01-05 15:00] grgur opened #236 "Global webpack-cli should work without webpack installed"
### Here's what I did:
1. No global npm packages installed (never liked that, really)
2. `npm -g i webpack-cli`
3. Executed `webpack-cli` from an empty directory

### Observed:
* `Cannot find module` error

[code]

### Expected:
* Webpack's usual output such as

[code]

* After I installed webpack globally with `npm -g i webpack`, it worked fine. Even with webpack 3.x.

### Environment
* macOS Hig

[2018-01-05 16:28] ev1stensberg commented on #236
Thanks for the report @grgur ! Suspected this would happen. @sokra any ideas on how to avoid it being circular while still having `webpack` as  a dependency? I've seen the tapable warnings too, perhaps that was fixed in `alpha.4`. If that's the case, I'm bumping the dependencies

[2018-01-05 22:10] sokra commented on #236
I guess it's not unexpected that webpack-cli build doesn't work without webpack installed. I guess `webpack init` should still work and install webpack as local dependency.

An improved error message would be nice. Something like: "webpack was not found. Run 'webpack init' to create a new project."

[2018-01-06 06:25] ev1stensberg commented on #236
@sokra `webpack init` and those features work, but running the build doesn't. Should we ask if the user wants to install webpack first if it's not installed globally/locally when they want to build?

[2018-01-06 09:15] #233 closed

[2018-01-06 09:23] sokra commented on #236
That would be great. I could imagine these options, but feel free to implement it different:

* Initialize a new project in the current folder `webpack init`
* Install webpack locally with yarn `yarn add -D webpack webpack-cli@^${package.version}`
  (when `yarn.lock` present)
* Install webpack locally with npm `npm install --dev webpack webpack-cli@^${package.version}`
  (when `package-lock.json`

[2018-01-06 17:26] grgur commented on #236
I noticed that [bin/webpack.js](https://github.com/webpack/webpack-cli/blob/master/bin/webpack.js#L11) uses `resolve-cwd`.

So, the weird part is that `resolveCwd.silent("webpack")` will detect webpack as one of the installed dependencies (`/usr/local/lib/node_modules/webpack-cli/bin/webpack.js`). Obviously, node doesn't agree as `require` can't find it.

If I replace `resolveCwd.silent` with `req

[2018-01-06 17:44] grgur commented on #236
Here's another thing: [_local CLI replace global one_](https://github.com/webpack/webpack-cli/blob/master/bin/webpack.js#L13) will fail to do that, really. It will do do opposite.

[code]

### Steps to reproduce:
1. Clone this repo
2. install `webpack-cli` globally.
3. Edit `/usr/local/lib/node_modules/webpack-cli/bin/webpack.js` and add a simple console.log such as `console.log("\x1b[34m", "I am

[2018-01-11 17:27] pushred commented on #103
I had a need for this in a library where I wanted to bundle some modules together for node with Webpack, leveraging it's inlining of required modules with a goal of optimizing the package size. I could have used npmignore but creating a bundle index was easier.

My config file does a bunch of other undesirable things for this purpose, and is already shared in other projects, so can't easily rename

[2018-01-12 13:02] ev1stensberg commented on #103
Maybe this could function well with our 0CJS story @sokra.

[2018-01-13 19:01] #195 closed

[2018-01-14 19:35] ev1stensberg opened #244 "Docs: Re-add eslint rules and update docs"
In #243 we've removed babel-eslint from the project, as it has implications on `webpack-dev-server`. We should ( in the contribution guide ) mention this, re-enable the linter, but mention that people need to add `x` dependency locally in order for it to run. We also need to add those globally to the CI's in order for the tests to pass.

This also allows us to test directly against the snapshots i

[2018-01-14 20:52] #244 closed

[2018-01-16 13:42] ev1stensberg commented on #184
Since webpack@next is supporting node 6+, we're not supporting it either. I think we've removed babel, so it might work now 👍

[2018-01-16 13:42] #184 closed

[2018-01-16 13:44] ev1stensberg commented on #78
Implemented in newer versions

[2018-01-16 13:44] #78 closed

[2018-01-16 19:21] dylanonelson commented on #219
@ev1stensberg I'd be happy to help out with this. Will try to submit a PR in the next week.

[2018-01-17 12:11] ev1stensberg commented on #219
Cool beans 🍛

[2018-01-17 13:35] ev1stensberg commented on #234
Hi @Gullfaxi171 , I've made a repro, and it doesn't seem like there's any errors on my repo. Maybe this in the `ts-node` side of things?

Also see: https://github.com/webpack/webpack/issues/5053

[2018-01-17 13:35] #234 closed

[2018-01-19 16:23] fokusferit commented on #181
So regarding this specific **Project Manager** role, in the meeting yesterday, we realized that it is not exactly about managing, but more about organizing, supporting developers when they create issues, organizing meetings, tracking agenda etc.

I'm also a big fan of rotation but for now, I will try to be this kind of "Organizer" (or call it Scrum Master, Producer) who will try to get webpack-cli

[2018-01-20 19:10] ev1stensberg opened #245 "Discussion: Should webpack-cli use TypeScript?"
Webpack-CLI is responsible for other projects within webpack such as [webpack-dev-server](https://github.com/webpack/webpack-dev-server) and [webpack](https://github.com/webpack/webpack) itself. [The Dev Server had some problems using babel in their projects](https://github.com/webpack/webpack-dev-server/issues/1278) if babel was included in the parent folder inside node_modules. We patched this i

[2018-01-20 19:31] iamclaytonray commented on #245
I personally prefer (love) using TypeScript. I also think it's a lot easier to contribute to a TypeScript codebase. I could go on but I'd really just be listing off general benefits from TS.

[2018-01-20 20:22] OrenMe commented on #245
Why can’t flow be used?

[2018-01-20 20:26] ev1stensberg commented on #245
We had an issue that were if we used babel in the CLI, it would be as a parent in node_modules and broke webpack-dev-server. Pinging @shellscape for a more precise explaination

[2018-01-21 17:25] mikehaas763 commented on #245
It would definitely lower the barrier to entry for me if it was TypeScript. Type systems can be intimidating to someone who has had no prior exposure to them, but I think it still actually decreases the barrier to entry for them as well.

Guess the types of the parameters here
[code]
I would have guessed an array for `things` and would have been unsure whether `errorCode` was a number or a string.

[2018-01-21 18:01] #49 closed

[2018-01-21 18:01] #156 closed

[2018-01-21 18:18] ev1stensberg commented on #156
Don't know if we can support this, feel free to submit another issue if you believe it should

[2018-01-21 18:18] ev1stensberg commented on #137
This is still up for grabs and on the agenda

[2018-01-21 18:19] ev1stensberg commented on #120
Still an error, so let's keep this open

[2018-01-21 18:20] ev1stensberg commented on #49
I think diff output has been implemented, reopen if not

[2018-01-21 21:28] fokusferit opened #246 "Create a subcategory on medium for the cli"
As discussed in our last cli meeting @TheLarkInn provided us the opportunity to have a subcategory (?) on medium so we can release future blogposts / series there.

Thanks for supporting it Sean 🤗 !

[2018-01-21 21:47] fokusferit opened #247 "[Docs]: Update README and Contributing guidelines"
Updated list of things I will cover:

- [x] Migrate documentation
- [ ] CLI descriptions at webpack.js.org and in the CLI should be more descriptive
- [x] README in all the package folders for each package
- [ ] InIt documentation at webpack.js.org
- [ ]  Documentation and Contribution guide
- [ ] Explaination about publishing and the `next`/`develop` branch
- [ ] Explain empty params code style

[2018-01-22 00:44] kingdaro commented on #245
If we do move over to TS, I'd be happy to help with the conversion 💯

[2018-01-22 00:59] mikehaas763 commented on #245
Same. I have experience doing full TypeScript conversions, and have done it incrementally in the past. Radical idea: to take advantage of the webpack ecosystem, I now use it for node.js programs as well, let's use webpack to build the webpack-cli! 🙂

[2018-01-22 01:34] kingdaro commented on #245
Using webpack to build it might be overkill 😛 A simple tsc --watch setup would work fine I think

[2018-01-22 02:50] shellscape commented on #245
(I can't wait to see how many downvotes this gets) I'm not in favor introducing any kind of type checking in JavaScript. If I wanted to use a typed language, I'd of stuck with .NET 😄

[2018-01-22 06:43] ev1stensberg commented on #247
For the contribution guides, it should be split into sections like: do you want to make an easy contribution or an advanced one. At the start, we could have a small summary, and maybe split it up into a menu with pointers to different guides. One could be tests, another AST et.at

[2018-01-22 07:18] ematipico commented on #245
I used TypeScript in the past and I started the introduction of Flow inside the repository. A typed language is surely something valuable and brings benefits. Although typings require more typing and sometimes it's difficult to following the streaming of methods and typings inside the different functions. I talk for personal experience on this repo, sometimes it was difficult to understand which t

[2018-01-22 09:15] kingdaro commented on #245
@ematipico TS' transpilation might not be as robust or aggressively spec-compliant as babel's, but it still does the job well.

I'd also like to point out that both of those code examples are erroneous. It should be `of` instead of `in`, and in TS, the left side of a for..of expression can't (and shouldn't) be annotated, so it should just be `for (const [key, value] of theMap) {`. I'll also note t

[2018-01-22 09:25] ematipico commented on #245
Yeah I made a mistake, my intention was to stick the **for...of** loop, which is transplited in a simple for loop with a check of . **This was the reason** why I had to add babel to the transpilation process. But I talk for my personal experience and every project is different. @shellscape is it possible to have more details about the impossibility of having babel as devDep inside the project?

[2018-01-22 09:45] ematipico opened #248 "Remove local fork of Yeoman"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
The `cli` uses a local fork of yeoman generator

**If the current behavior is a bug, please provide the steps to reproduce.**

It works as expected but npm will install the local fork from github, which _**won't work if the user is behind a corporate proxy or they use a package manager like Artifactory*

[2018-01-22 10:15] fokusferit commented on #245
@mikehaas763 @kingdaro but isn't typescript more leveling the barrier up instead lowering it? Even if it looks almost like plain JS there might be some different aspects.
And from understanding code, well, sticking to clear naming, clean code patterns + initial JSDocs comments would already solve a lot of readability/understanding problems.

 I'm pro type system as they reduce bugs/issues especial

[2018-01-22 13:05] ematipico commented on #22
Feature implemented: `--silent`

[2018-01-22 13:05] #22 closed

[2018-01-22 13:58] ev1stensberg commented on #248
I'll need to have a discussion with the yeoman team before we can do anything. It's already an issue on this, so close that one or this.

[2018-01-22 14:04] ematipico commented on #248
What suits you best. We can track the progress of the task on the other issue. Closing as duplicate

[2018-01-22 14:04] #248 closed

[2018-01-23 08:10] EugeneHlushko opened #249 "Add info-verbosity into json schema"
**Do you want to request a *feature* or report a *bug*?**

Feature

**What is the current behavior?**
info-verbosity enum range is set within the code

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
info-verbosity enum is set in the schema, so there is no validation for it outside of validateOptions
**If this is a feature request, w

[2018-01-23 14:55] iamclaytonray commented on #245
@fokusferit - You can still do JSDocs throughout the codebase. In fact, I do within my TypeScript and JavaScript. But documenting APIs and typing them are different. Reading docs vs compile-time errors can drastically improve code that is shipped. Clear naming doesn't verify what arguments a function should receive as well as what type those arguments should be. (Look at the example from @mikehaas

[2018-01-23 15:00] iamclaytonray commented on #245
^ I should add, documenting APIs should happen regardless of using a typed language or not. But we all know this 😄

[2018-01-23 15:01] shellscape commented on #245
I love getting emails, but edit buttons are nifty.

[2018-01-24 17:57] shellscape opened #250 "convert-args signature contains unused parameters"
**Do you want to request a *feature* or report a *bug*?**

Code cleanup, API change

**What is the current behavior?**

n/a

**What is the expected behavior?**

n/a

**Please mention other relevant information such as the browser version, Node.js version, Operating System and programming language.**

https://github.com/webpack/webpack-cli/blob/master/bin/convert-argv.js#L6

contains two unused par

[2018-01-24 22:07] sendilkumarn commented on #137
@addyosmani

Makes sense to add the static default and users to change them whatever they need to. Probably give an option to choose between advanced and simple configuration

I think workbox is mature enough to use it here. WDYT?

[2018-01-25 21:35] sendilkumarn commented on #250
the spread operator is not supported in node4. Guess we have to wait until Apr 30 to change this.

[2018-01-25 22:12] shellscape commented on #250
@sendilkumarn webpack@4 is node6+ as are all new major versions of webpack org modules.

[2018-01-26 07:29] ematipico commented on #250
Yes we can safely use the spread operator now in `webpack-cli`. We already dropped node v4

[2018-01-29 15:29] wojtekmaj commented on #182
I get similar error:

[code]

[2018-01-29 16:08] internetErik commented on #182
I also get the same 'error' as above. I think it may have to do with some kind of local network settings.

If I try running these commands:

git ls-remote -h -t git://github.com/ev1stensberg/generator.git

git ls-remote -h -t https://github.com/ev1stensberg/generator.git

The second command works, while the first doesn't. So the issue (at least for me) seems connected to the use of the git protoco

[2018-01-29 21:19] ev1stensberg commented on #182
It's the fork that won't let you download through a secure network. Planning to fix this soon, promise. Alternative is to download the generator manually and link it to a cloned version of the cli if you really need to use it

[2018-01-29 22:55] erikchristianson commented on #182
@ev1stensberg Thanks

[2018-01-29 23:20] dchhetri commented on #182
:+1: Awaiting for this as well. Thanks.

[2018-01-29 23:22] dchhetri commented on #182
:+1: Waiting on the fix here as well. Best.

[2018-01-29 23:34] dchhetri commented on #158
@anyulled suggestion didn't work for me due to a SSL certification issue.

[code]

[2018-01-30 05:06] abiduzz420 commented on #249
I shall take this up and subscribe to #242 PR, accordingly work on this issue.

[2018-01-30 09:29] Vasikaran opened #257 "Throwing error when installing webpack-cli"
**Do you want to request a *feature* or report a *bug*?**

## I think it's a bug.

**What is the current behavior?**
It's throwing an error when installing.

**If the current behavior is a bug, please provide the steps to reproduce.**

![image](https://user-images.githubusercontent.com/25631481/35558401-f5597862-05cd-11e8-8091-2e96bbaa6e97.png)

**What is the expected behavior?**

I just want to t

[2018-01-30 12:58] ematipico commented on #257
We are working on a fix. Closing as duplicate of #182

[2018-01-30 12:58] #257 closed

[2018-01-30 17:44] ev1stensberg commented on #158
Yeah, that's the fork messing things up. Let's bundle the discussion at the other thread

[2018-01-30 17:46] ev1stensberg commented on #249
Nice!

[2018-01-30 17:46] ev1stensberg commented on #249
Here to help if you need anything :)

[2018-01-30 17:47] #250 closed

[2018-01-30 22:36] kingdaro commented on #193
@timhwang21 I can't reproduce this in v4. Could you open up a repo to illustrate the issue? Also include the webpack version you're using.

[2018-01-31 23:41] jbottigliero opened #258 "configuration validation : strict "Promise" instanceof validation"
**Do you want to request a *feature* or report a *bug*?**
Feature.

**What is the current behavior?**
webpack/webpack-cli#240 introduces validation which causes `Promise` based configurations to pass due to `instanceof Function` being `true`.

**What is the expected behavior?**
At the point the validation runs, the configuration can never be _just_ a `Function`, it's expected to be an object, an a

[2018-02-01 14:27] tgandrews commented on #182
Is the switch to use `https` instead of `git` protocol an option? At the moment we cannot install this as we are behind a proxy. The workaround of cloning and linking seems unnecessary if a protocol fix is quick and works.

[2018-02-01 15:36] ematipico commented on #182
Just made a PR as temporary fix :)

[2018-02-02 06:43] ev1stensberg commented on #182
Awesome sauce 🎉🎉

[2018-02-02 10:50] EugeneHlushko commented on #249
On the other hand, looking again at the code @ev1stensberg
i think that we cannot move this to webpackConfigurationSchema as it is not part of the `options` but actually a part of outputOptions. Having another validation step for output options maybe and a separate json file? but in that case it will duplicate information from these rows: https://github.com/webpack/webpack-cli/blob/a15807bdd1fb2a9

[2018-02-02 23:39] jbottigliero commented on #258
I have a branch ready with this change that I will PR once webpack/webpack#6430 is part of a tagged release.

[2018-02-03 13:16] #182 closed

[2018-02-03 16:41] ev1stensberg commented on #249
Separate configuration file is not good, would prefer it to be compact.

[2018-02-03 16:42] ev1stensberg commented on #258
Sounds good

[2018-02-04 12:41] EugeneHlushko commented on #249
In that case it should be out of outputOptions and go to options which gets validated against the schema. Any thoughts or objections?
cc @sokra @ev1stensberg

[2018-02-04 22:26] ev1stensberg commented on #249
Send a PR, I'll review to see if its a nice thing to have in there 👍

[2018-02-05 15:50] erikchristianson commented on #182
Any chance a new version of webpack-cli, with the recent merge, could be published on npm?

[2018-02-06 00:53] ev1stensberg commented on #182
I'll have a chat with the team this week. We need to merge some long standing PRs like adding test cases from webpack and another minor one

[2018-02-07 18:20] buoyantair commented on #245
Reading through the source code, sometimes I really don't understand what's going on. A type system will really help out a beginner contributor like me to understand what is going on!

[2018-02-07 18:40] iamclaytonray commented on #245
I'd like to add:

For developers who work with statically typed languages, moving over to TS may encourage them to also contribute to webpack-cli. I honestly think statically typed codebases are a lot easier to contribute to. Of course, other people may disagree. I digress. I would hate to see a bunch of comments throughout the source covering types, which I believe would be the only workaround wi

[2018-02-09 12:22] ev1stensberg opened #260 "Improving performance on scaffolds, refactoring efforts and migration strategy"
When we announced webpack-cli may last year we[ wrote a post on medium](https://medium.com/webpack/announcing-the-new-webpack-cli-75ce1d9b8663) where we mentioned what was next. The most important thing was to merge webpack-cli with webpack, which has been done after (finally) some time.

As we want as many people as possible to benefit from the tool, we laid out a strategy for creating webpack se

[2018-02-09 12:28] ev1stensberg opened #261 "Monorepo and Dependency Strategy for the CLI"
The new webpack-cli might be good for some folks but bad for others. When I ( as an FE dev) want to run webpack to compile my architecture I don't want to get more installation time because there's new features like the migration and initialization.

In the next couple of steps of the CLI's lifecycle we're gonna do the following ( like we've already done with webpack )

- Features like init and mi

[2018-02-09 12:31] ev1stensberg opened #262 "Webpack Generators should allow paths instead of NPM/Yarn"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Running `webpack init myPackage` requires it to be published on npm.
**If the current behavior is a bug, please provide the steps to reproduce.**
Run `webpack init someUnPublishedPackage`

**What is the expected behavior?**
We should support relative paths to initalize projects. This makes it easier fo

[2018-02-09 16:47] dylanonelson commented on #262
I'd like to take a crack at this.

[2018-02-09 18:06] EugeneHlushko commented on #262
In that case @ev1stensberg can you assign the issue to @dylanonelson so its transparent for others

[2018-02-12 03:47] dylanonelson opened #266 "`webpack init <npm package>` fails when npm and yarn global directories do not match"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Commands like `webpack init webpack-addons-demo` fail when a custom prefix is configured in `~/.npmrc`.

I believe the root cause is that yarn saves global `lib` packages to `~/.config/yarn/global/node_modules`, even when a separate prefix is configured (at least, that is the behavior on my machine wit

[2018-02-12 14:24] ev1stensberg commented on #266
Submit a PR :)

[2018-02-12 14:45] erikchristianson commented on #182
@ev1stensberg Any word on when a new version can be published to npm? Very inconvenient not being able to run npm install on certain projects while in the office.

[2018-02-13 12:56] ematipico commented on #246
@fokusferit I believe this is now done?

[2018-02-13 12:57] ematipico commented on #193
@timhwang21 are there any updates on this? Unfortunately I can't reproduce the issue

[2018-02-13 14:19] timhwang21 commented on #193
Hi, unfortunately I haven't had time to look into this, and probably won't for the near future. I encountered this when profiling a large application whose build process is a mix of gulp and various webpack versions, so its very likely the problem is on my end.

Thanks!

[2018-02-13 14:19] #193 closed

[2018-02-13 18:28] Symphoria commented on #137
@ev1stensberg Hey, I am a newcomer here. I would like to work on this issue. Can you guide me how to approach?

[2018-02-13 18:59] sendilkumarn commented on #137
@Symphoria You can have a look at how to create an addon over [here](https://github.com/ev1stensberg/webpack-addons-demo)

I have started something on this over [here](https://github.com/sendilkumarn/webpack-addons-pwa/)
(it is just a start)

[2018-02-13 19:05] fokusferit commented on #246
Oh yeah, I think we can close this now.

[2018-02-13 19:05] #246 closed

[2018-02-14 00:12] #249 closed

[2018-02-14 00:17] ev1stensberg commented on #219
closed per #255

[2018-02-14 00:19] #124 closed

[2018-02-14 00:20] #219 closed

[2018-02-14 00:20] ev1stensberg commented on #182
`yarn add webpack-cli 2.0.5` out now

[2018-02-14 06:43] dhruvdutt commented on #137
@Symphoria @sendilkumarn Hey guys! :) I'm also looking to work on this. Maybe we all can do something in collaboration.

[2018-02-14 06:59] sendilkumarn commented on #137
Well that sounds great and my idea is this. Lets have workbox plugin to take care of sw. and use copywebpackplugin for manifest and favicon.
If that sounds good to you lets start working on (this)[ https://github.com/sendilkumarn/webpack-addons-pwa/]

[2018-02-14 07:18] ganapativs opened #267 "ProgressPlugin is not a constructor"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Using webpack 4.0.0-beta.1 and webpack-cli 2.0.5.
webpack-cli is throwing
`ProgressPlugin is not a constructor`
https://github.com/webpack/webpack-cli/blob/94ac6dbbc50027184c6b32aa496b8ba3157ff0dc/bin/webpack.js#L442

**If the current behavior is a bug, please provide the steps to reproduce.**

**What

[2018-02-14 07:28] ev1stensberg commented on #267
Hi, fixed now, sorry.

We had some conflicts with rebasing against the old webpack w.r.t dependencies earlier, but it should be fixed now, just pushed a patch (`v.2.0.6`). Thank you so much for reporting the problem, it would be super awesome if you'd post an issue like you just did, if you find another bug like this or anything that you might think is a bug 👍 Have a nice Wednesday!

[2018-02-14 07:28] #267 closed

[2018-02-14 07:32] ev1stensberg commented on #137
@sendilkumarn create a collab team and get them in a slack / gitter 👍

[2018-02-14 13:16] montogeek commented on #261
What is the current structure of the repo, is there any parts that could be extracted into smaller packages?

[2018-02-15 06:38] ev1stensberg commented on #261
All the separate features like serve, init, migrate and so on. No separate packages yet, with the exception of the add-ons suite

[2018-02-15 07:24] ganapativs commented on #267
@ev1stensberg Sure, Thanks 😀

[2018-02-15 16:14] Symphoria commented on #137
@ev1stensberg  How do I test the addon? On running the command
`webpack-cli init webpack-addons-pwa`, I get `TypeError: Package isn't registered on npm.`

[2018-02-15 16:23] ev1stensberg commented on #137
Right, so it should work, but it's not officially published yet. I've got a alpha version registered on npm, but that is different from @sendilkumarn 's. Are you running `webpack-cli version 2.0.6` ?

[2018-02-15 16:51] Symphoria commented on #137
@ev1stensberg  Yes, I am running `webpack-cli version 2.0.6`

[2018-02-15 16:53] sendilkumarn commented on #137
Have you linked the project?

[2018-02-15 16:55] spion-h4 opened #1794 "bail = true should not kill watch mode on ModuleNotFound error"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

When `bail = true`, a ModuleNotFound error during a change of the files will cause the entire watch process to either abort or get stuck. Subsequent rebuilds will not happen even if the file changes.

**If the current behavior is a bug, please provide the steps to reproduce.**

* run webpack in watch

[2018-02-16 21:00] EugeneHlushko commented on #261
Is there a way to contribute? Who is going to create `webpack-addons-xxx` repos under webpack organization?

[2018-02-17 01:00] rynclark opened #269 "Consider splitting the CLI and transformations"
**What is the current behavior?**

Now that webpack 4 requires the CLI, which in return has a dependency on `jscodeshift`, this means everyone get's a copy of `babel-register` and all the other plugins that it needs.

Ideally this should be split out as not everyone who uses the CLI needs to transform the code.

It also causes issues when trying to use the babel-loader 8.x with babel 7.x, as `jsco

[2018-02-17 14:25] rynclark commented on #269
I think splitting it out into `webpack-cli-yeoman` would be good. That could either then be the command if used with yeoman, or add a `--yeoman` flag (or auto detection) that will check for the separate npm package.

[2018-02-17 16:19] ev1stensberg commented on #261
Gonna take this up with the team later, soon finished with my assignments so that I can actually do something soon. Would be good to discard webpack add-ons and host the packages as a minorepo in webpack-cli

[2018-02-17 16:21] ev1stensberg commented on #269
In for this, this issue would be in relation to the monorepo strategy

[2018-02-20 04:58] wangtoday opened #271 "Empty Module.exports created with webpack-cli init"
Hi Guys,

I was trying to use webpack-cli to generate the webpack.config.js file.  I follwed the stpes blow:

1.  In a empty folder,  run **npm init** first.
2.  run **webpack-cli init**
3.  fill with the below answers.

? Which module will be the first to enter the application? [example: './src/index'] **index.js**
? Which folder will your generated bundles be in? [default: dist]: **dist**
? Are

[2018-02-20 15:00] ev1stensberg commented on #271
Thanks for submitting an issue, will check it out! Which version are you using?

[2018-02-20 17:36] abtExp commented on #271
Faced The Same Issue :
 Webpack-cli : 2.0.4
webpack : 3.11.0

[2018-02-20 19:51] ev1stensberg commented on #271
Could you guys upgrade to `webpack-cli 2.0.6` ?

[2018-02-21 00:01] wangtoday commented on #271
Hi @ev1stensberg ,

Just update the version to 2.0.6.

Still have an empty module.export,

`module.export = {}`

[2018-02-21 06:26] abtExp commented on #271
Yep, 2.0.6 also produces empty exports

[2018-02-21 12:58] ev1stensberg commented on #271
Gotcha, checking out later. Thanks for reporting!

[2018-02-21 15:00] jevan0307 commented on #271
Hi, I have the same problem.
May I send a PR for this issue?

[2018-02-21 17:14] ev1stensberg commented on #271
Go ahead!

[2018-02-22 07:47] dhruvdutt commented on #127
@JackPu Did it work?

[2018-02-22 08:23] dhruvdutt commented on #87
@ev1stensberg Any suggestions which one to start off with as a first time contributor?

[2018-02-22 09:45] ev1stensberg commented on #87
End to End tests would be gold!

[2018-02-22 09:47] ev1stensberg commented on #127
Probably, this has been fixed.

[2018-02-22 09:47] #127 closed

[2018-02-23 13:59] dhruvdutt commented on #206
@ev1stensberg I took a look at the closed PRs related to this issue. Can I continue the same work with the things you suggested in those PRs?
Please suggest what is needed. I would like to take this up. :hand:

[2018-02-23 14:35] ev1stensberg commented on #206
Need to look at the way to avoid #276

[2018-02-24 08:58] dhruvdutt commented on #87
@ev1stensberg Can you please check Gitter? Need some quick help.

[2018-02-24 13:56] jevan0307 opened #279 "Specify config file with webpack-cli add"
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
We may have webpack config files with different base names. However, commands except for `init`, such as `add`, always takes `webpack.config.js` as the processed file. It will be better if we can specify the path to config file for these commands.
Affected commands: `add`(current version), `update`

[2018-02-24 13:59] dhruvdutt commented on #279
@jevan0307 Ah! That's a good use case. Can we do this together?

[2018-02-24 14:23] jevan0307 commented on #279
@dhruvdutt sure, it is nice if you can create a new PR for this.
You may work on `lib/index.js`, `lib/commands/add.js`, and `lib/utils/modify-config-helper.js` to complete this feature.
However, wait for the confirmation from @ev1stensberg first since some of the changes may need clarification in my previous PR.

[2018-02-24 14:27] dhruvdutt commented on #279
@jevan0307 Awesome! Can you also please check your email? I just sent you a message.

[2018-02-24 16:20] shellscape opened #280 "Yarn is a Needless Dependency"
**Do you want to request a *feature* or report a *bug*?**

Neither. An architectural issue.

**What is the current behavior?**

Contribution to this repo _requires_ `yarn` and is an unnecessary blocker. More importantly, installation of `npm` dependencies immediately after cloning to this repo throws an error if the user does not have `yarn` installed globally. This is counter-intuitive behavior.

[2018-02-24 16:25] shellscape commented on #269
Make the package solid first. Worry about constructing a monorepo later. I vote 👍 for this (and suggest the same is needed for many of CLI's feature sets)

[2018-02-25 08:40] webpack-bot opened #282 "[Feature]: Consider supporting webpack.config.mjs alongside webpack.config.js"
**Do you want to request a *feature* or report a *bug*?**
Feature.

**What is the current behavior?**
`webpack.config.mjs` cannot be used in place of `webpack.config.js`.

**What is the expected behavior?**
`webpack.config.mjs` could be used instead of `webpack.config.js`.

**If this is a feature request, what is motivation or use case for changing the behavior?**
Consistency.

---

This issue was

[2018-02-25 09:38] Kovensky commented on #282
@TomasHubelbauer

The problem here is not `import`, which is what is enabled by any node with that option, but `import()`, which is only supported on node 9.6.0. Supporting loading those files would _also_ make webpack-cli itself only run on node >= 9.6.0 with `--experimental-modules` enabled.

This is because webpack has to be able to recover from not being able to import `webpack.config.{mjs,js,

[2018-02-25 11:57] chenxsan opened #283 "Cannot find module '*/node_modules/webpack-dev-server/cli.js"
Moved from https://github.com/webpack/webpack-dev-server/issues/1320

* Operating System: macOS 10.13.3
* Node Version: 8.9.3
* NPM Version: 5.6.0
* webpack Version: 4.0.0
* webpack-dev-server Version: webpack-dev-server 3.0.0

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

Please check my github [repo](https://github.com/chenxsan/webpack-dev-server-demo)

### Expected

[2018-02-25 14:09] ev1stensberg commented on #283
Hi, could you install `webpack-cli@2.0.9` and recheck?

[2018-02-25 14:23] dhruvdutt commented on #283
I just did a quick check with webpack-cli@2.0.9 and it works.
![image](https://user-images.githubusercontent.com/5961873/36642435-6835d302-1a65-11e8-8f30-7fdfbe26442d.png)

[2018-02-25 14:27] chenxsan commented on #283
It works now, thanks.

[2018-02-25 14:27] #283 closed

[2018-02-25 14:28] ev1stensberg commented on #283
Thanks for reporting!

[2018-02-25 15:41] dhruvdutt commented on #258
webpack [4.0.0](https://github.com/webpack/webpack/releases/tag/v4.0.0) is out. :fire:

@jbottigliero Can we make the PR now?

[2018-02-25 18:50] ev1stensberg commented on #282
You could use the --config-register flag?

[2018-02-25 18:50] #271 closed

[2018-02-25 18:57] dhruvdutt commented on #282
@ev1stensberg We're missing docs for that flag.

[2018-02-25 19:14] cvkline commented on #269
jscodeshift also brings in babel-preset-es2015 which is deprecated in favor of babel-preset-env, as well as nomnom, which is also deprecated. I also vote 👍🏻 on this.

[2018-02-25 19:49] dhruvdutt commented on #282
@TomasHubelbauer Till we add it to the docs, you can try doing what @jdalton has mentioned here.

https://github.com/webpack/webpack-cli/commit/ab9421136887b7e9e10f25a39b59fb32f07b5037#r26371308

[2018-02-25 21:04] ematipico opened #287 "Deprecation warning of dep of our deps"
**Do you want to request a *feature* or report a *bug*?**
Deprecation warning

**What is the current behavior?**
`warning webpack-cli > jscodeshift > nomnom@1.8.1: Package no longer supported. Contact support@npmjs.com for more info.`

**If the current behavior is a bug, please provide the steps to reproduce.**
Install the cli

**What is the expected behavior?**
No deprecation notices

Just notice

[2018-02-25 21:32] dhruvdutt commented on #287
I've made a [PR](https://github.com/facebook/jscodeshift/pull/240) to jscodeshift to replace the deprecated package with an [active fork](https://github.com/GerHobbelt/nomnom).

[2018-02-26 00:12] nifgraup opened #288 "Deprecation warning when using --progress"
**Do you want to request a *feature* or report a *bug*?** bug / deprecation warning

**What is the current behavior?**
webpack-cli makes use of a deprecated API in module tapable

**If the current behavior is a bug, please provide the steps to reproduce.**

[code]
**What is the expected behavior?**
no warning

[2018-02-26 07:16] ev1stensberg commented on #269
That's on Facebook, not us. The warning will still be there

[2018-02-26 07:18] ev1stensberg commented on #282
He doesn't really mention the actual command. Jus do 'webpack help' to get the description and expected use.

[2018-02-26 07:20] ev1stensberg commented on #288
@TheLarkInn ?

[2018-02-26 08:59] ematipico commented on #287
Thanks @dhruvdutt ! Let's hope it's going to get merged soon

[2018-02-26 09:36] damianobarbati opened #289 "[Feature]: Increase memory with a flag / Support Node Flags"
Could `webpack-cli` handle the memory limit increase with a flag?

Right now we have to manually use:
```node --max_old_space_size=4096 node_modules/webpack/bin/webpack.js```

A simple flag would be very nice instead:
```webpack --increase-memory 4096```

Or multiple custom node options like:
```webpack --node.increase-memory 4096 --node.trace-deprecation --node.experimental-modules```

[2018-02-26 22:01] dhruvdutt opened #291 "webpack-cli init command error"
**webpack-cli version**

Latest tree. (2.0.9) Using symlink.

**What is the current behavior?**

Using `webpack-cli init` with mostly default recommended options.

![screenshot_20180227_032131](https://user-images.githubusercontent.com/5961873/36697566-7481ea48-1b6d-11e8-992b-407afc920115.png)

After all dependencies are installed, I get this error:

![image](https://user-images.githubusercontent.

[2018-02-27 00:43] SolarLiner commented on #291
Can confirm on Ubuntu 17.10 - webpack-cli fails at the last moment with the same error.

Makes webpack-cli useless to me :man_shrugging:

[2018-02-27 00:44] ev1stensberg commented on #291
I'll have a look at this tomorrow, our fork isn't cooperating :(

[2018-02-27 09:16] kawasako commented on #291
Hi. I also experienced this problem. In my opinion, maybe, this change is the cause. https://github.com/webpack/webpack-cli/commit/0b4269c7eb25c61908cf2aa56b23eb017036dd28#diff-b9cfc7f2cdf78a7f4b91a753d10865a2

Since yoeman-environment refers to youeman-generator, I think that behavior has changed with this change.

[2018-02-27 09:50] dhruvdutt commented on #291
@kawasako `yeoman-environment` [doesn't](https://github.com/yeoman/environment/blob/master/package.json) have any [peerDependency](https://nodejs.org/en/blog/npm/peer-dependencies/) for `yeoman-generator` so there aren't any issues with namespacing.

[2018-02-27 09:58] kawasako commented on #291
@dhruvdutt your right. (I'm sorry) I studied further in detail, The real cause is that `webpack-fork-yeoman-generator` is published from master branch. There is no implementation of `getArgument` here. https://github.com/ev1stensberg/generator/blob/master/package.json#L2

[2018-02-27 10:23] dhruvdutt commented on #291
@kawasako Yeah, I think that could be an issue as well.
Can you try my PR #294 or [branch](https://github.com/dhruvdutt/webpack-cli/tree/fix%2Fyeoman) locally and test if it's working? I don't think we need a separately published fork if this one works.

[2018-02-27 10:36] kawasako commented on #291
@dhruvdutt I tested it. It seems to work well about `webpack-cli init`.

[2018-02-27 10:37] dhruvdutt commented on #291
Awesome. :rocket:

[2018-02-27 14:45] waterfoul opened #295 "webpack is not listed as a peer"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
you can install webpack-cli witghout webpack and get no warning

**If the current behavior is a bug, please provide the steps to reproduce.**
npm install webpack-cli on an empty project

**What is the expected behavior?**
An npm peer requirement warning

**If this is a feature request, what is motivati

[2018-02-27 14:52] dhruvdutt commented on #295
I think fix should be to add webpack to `"peerDependencies"` inside `package.json`.

@ev1stensberg What minimum version of `webpack` we support?

[2018-02-27 20:26] williamnerdy commented on #291
I have the same problem

[2018-02-27 20:42] mischkl commented on #161
The git dependency is causing our build to act up due to our proxy on some systems. :frowning_face: One more reason it would be great to get rid of the local fork dependency of yeoman as soon as possible! :wink:

[2018-02-27 22:45] cvkline commented on #269
I guess I didn't phrase it right… I didn't mean to imply that it was something you could fix. Sorry! I just meant to echo support for the original request that that package doesn't look to have very good deps and that might cause issues for some, hence the suggestion to split out that transformation functionality from the webpack-cli basics.

[2018-02-27 23:17] rynclark commented on #269
Is `webpack-cli migrate` even used much anymore? v1 to v2 transformation, we're on v4 now..

[2018-02-28 08:31] dhruvdutt commented on #279
@ev1stensberg Any thoughts on this issue?

Also, why have we temporarily removed `add` command from cli? https://github.com/webpack/webpack-cli/commit/f663215242b402079a52a950dd06f5c7d57229f5

[2018-02-28 13:22] esakkikrishnan opened #296 "Unable to use webpack-cli with @babel/core and babel-loader "^7.1.3""
Unable to use  `webpack-cli` with `@babel/core` and `babel-loader "^7.1.3"`  and  since `webpack-cli` uses `jscodeshift` which intern uses `babel-register "^6.9.0"` and `babel-core "^6.26.0"` which is causing the following issue when used along with `@babel/core "^7.0.0-beta.40"`

ISSUE: `Module build failed: TypeError: Cannot read property 'loose' of undefined (While processing preset: "/node_mod

[2018-02-28 17:25] ematipico commented on #295
Version 4

[2018-02-28 17:40] justerest commented on #291
I have the same problem

[2018-02-28 17:48] dhruvdutt commented on #295
@ematipico I'm not sure about other commands but as per the [docs](https://github.com/webpack/webpack-cli/blob/master/MIGRATE.md) the `migrate` command only supports migrations from version 1 to 2.
Are the docs stale?

[2018-02-28 18:03] dhruvdutt commented on #291
@ev1stensberg The `init` command is broken on our latest published version. :cry:

Can you please test and review #294 or else we will have to find some other fix.

[2018-02-28 18:23] justerest commented on #291
it fixs the problem but I just use v2.0.7 now

[2018-02-28 20:37] ematipico commented on #295
Webpack supports migration from 1 to 2 as you stated but the whole cli is officially ported since webpack 4.

From webpack 1 to 3 there was no need to have the cli installed. The cli was a plus (migration, creation of the config file)

From v4 the entire cli of webpack has been ported inside this repository, hence we needed to have a double relationship between webpack and the cli itself. So the f

[2018-02-28 20:51] dhruvdutt commented on #295
@ematipico Makes sense. I did a PR to add it. #297

[2018-03-01 02:24] HJava commented on #296
I have the same issue.
[code]

[2018-03-01 03:50] jbottigliero commented on #258
@dhruvdutt – opened #298, cheers!

[2018-03-01 12:02] jesperlandmer opened #299 "[Bug]: Cannot find module 'webpack'"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Whenever I try to run `webpack`, I get this error message:

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**
I'm using Vagrant, and just installed webpack and webpack cli globally.
Using:

node.js: v8.9.4
npm: v5.6.0
webpack: v4.0.1
webpack-cli: v2.0.9

**What is the

[2018-03-01 13:02] andriibyk-apiko commented on #299
I have a similar problem:

**TypeError: Cannot read property 'presetToOptions' of undefined**

Described by someone else on [StackOverflow](https://stackoverflow.com/questions/49035267/typeerror-cannot-read-property-presettooptions-of-undefined-in-webpack-cli-wi)

[2018-03-01 14:19] ev1stensberg commented on #299
@andriibyk-apiko what version are you on?

[2018-03-01 14:19] ev1stensberg commented on #296
This is quite unfortunate 👎 I'll check if there's something we can do

[2018-03-01 14:21] andriibyk-apiko commented on #299
@ev1stensberg

[code]

[2018-03-01 14:22] #295 closed

[2018-03-01 14:35] ev1stensberg commented on #279
It's buggy, need to refactor.

[2018-03-01 14:35] #291 closed

[2018-03-01 14:35] ev1stensberg commented on #291
`webpack-cli v.2.0.10` should fix this. Publishing in a few hours

[2018-03-01 14:36] ev1stensberg commented on #269
https://twitter.com/_kud/status/968481905392914432

[2018-03-01 14:37] ev1stensberg commented on #161
Haha yeah working on it, but need to come up with a good workaround. There's a possibility we'll need to create a temporary `.yo` config file for each scaffold, which shouldn't be be necessary ..

[2018-03-01 14:51] ev1stensberg commented on #299
Mind printing your `prefix` paths?

[2018-03-01 14:51] ev1stensberg commented on #299
Could you do a console log before the error throws on webpack?

[2018-03-01 14:59] ev1stensberg commented on #282
Did someone on the thread answer/fix your issue @TomasHubelbauer ?

[2018-03-01 15:07] TomasHubelbauer commented on #282
This is a feature request, the way I understand it, there are some ideas floating around and maybe the issue will get triaged for feasibility and put on a roadmap?

[2018-03-01 15:24] ev1stensberg commented on #282
Cause I think it's doable, if you run `webpack --config-register babel-register std/esm`

[2018-03-01 15:24] montogeek commented on #282
https://github.com/standard-things/esm can be used for this feature

[2018-03-01 15:25] TomasHubelbauer commented on #282
@ev1stensberg @montogeek Thanks, I'll try that out!

[2018-03-01 15:52] montogeek commented on #282
This is how I am using it to enable import in a webpack file:
npm script
![image](https://user-images.githubusercontent.com/1002461/36854276-e3c851d0-1d70-11e8-8ce9-9a72f47fba6e.png)
webpack.config.js
![image](https://user-images.githubusercontent.com/1002461/36854297-f1f14f00-1d70-11e8-84ae-b2193759f79f.png)

[2018-03-01 16:25] jdalton commented on #282
In webpack 4 you can use its `-r` flag (alias of the longer `--config-register` flag. For the `std/esm` case you'll want to load that first if you're also using other loaders:
[code]
or
[code]

[2018-03-01 16:40] jesperlandmer commented on #299
Also hade the problem with "presetToOptions", but then I reinstalled webpack and then I got this error instead. Installed Webpack v.^2.0.0 instead and now it works

[2018-03-01 17:19] jbottigliero commented on #258
#298 was merged to `master` – closing.

[2018-03-01 17:19] #258 closed

[2018-03-01 19:39] luillyfe opened #301 "TypeError: env.getArgument is not a function"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**
**If the current behavior is a bug, please provide the steps to reproduce.**

Running this command: `webpack-cli init`,  it asks me a few quetions:

**Will your application have multiple bundles? (Y/n)**   n
**? Which module will be the first to enter the application? [example: './src/index']**  './sr

[2018-03-01 19:43] dhruvdutt commented on #301
Duplicate of #291

We've already identified the issue and resolving it. `webpack-cli` version `2.0.10` will be out soon with the fix.

[2018-03-01 20:20] luillyfe commented on #301
Awesome, Should I delete this one ?

[2018-03-01 20:25] ev1stensberg commented on #301
Yep, publishing eta 2h

[2018-03-01 20:25] #301 closed

[2018-03-01 20:27] ev1stensberg commented on #282
Thanks for clearing up @jdalton , closing this now, as the issue/feat has been solved ( ? )

[2018-03-01 20:27] ev1stensberg commented on #299
`npm config get prefix`

[2018-03-01 21:33] TomasHubelbauer commented on #282
It would still be cool if this worked out of the box and was built it to WebPack, but custom config loader is a good option.

[2018-03-02 01:31] ev1stensberg commented on #280
#302

[2018-03-02 01:31] #280 closed

[2018-03-02 01:33] Kovensky commented on #282
That's not a fix, that's a workaround that's done by emulation. It's not loading native modules.

[2018-03-02 01:37] shellscape commented on #280
well done @ev1stensberg 👏

[2018-03-02 01:46] ev1stensberg commented on #282
One thing we could do is to detect .mjs endings and loading std/esm instead?

[2018-03-02 01:53] Kovensky commented on #282
That'd just be blessing the workaround.

The _only_ valid fix that won't _require_ users not using the feature to enable experimental modules is `eval(`import(${JSON.stringify(pathToConfig)})`).

[2018-03-02 01:54] ev1stensberg commented on #282
If the eval turns out false, we can fall back to `std/esm`?

[2018-03-02 01:56] Kovensky commented on #282
Yeah, if the `eval` itself throws a SyntaxError then it's because node either can't or hasn't enabled parsing for `import()`. If the Promise rejects, though, that is because there actually was an error importing the config and that error should be respected.

[2018-03-02 02:02] Kovensky commented on #282
[code]

[2018-03-02 04:36] sendilkumarn commented on #269
one more reason for monorepo 👍 😉

[2018-03-02 07:23] andriibyk-apiko commented on #299
`/usr`

[2018-03-02 07:24] dhruvdutt commented on #291
[`2.0.10`](https://www.npmjs.com/package/webpack-cli) is released with the fix. :fire:

@SolarLiner @kawasako @williamnerdy @justerest
Please test and let us know if you still have any issues. :100:

[2018-03-02 07:25] dhruvdutt commented on #301
[`2.0.10`](https://www.npmjs.com/package/webpack-cli) is out with the fix. :fire:

@luillyfe
Please test and let us know if you still have any issues. :100:

[2018-03-02 08:35] webpack-bot opened #304 "Bug: "DeprecationWarning: Tapable.apply is deprecated. Call apply on the plugin directly instead" for ProgressPlugin"
**Do you want to request a *feature* or report a *bug*?**
I suppose it is a Bug

Asks in https://gitter.im/webpack/webpack, https://gitter.im/webpack/webpack/dev, https://stackoverflow.com/questions/49049432/webpack-deprecationwarning-tapable-apply-is-deprecated-for-internal-webpack-p

**What is the current behavior?**
[code]
**If the current behavior is a bug, please provide the steps to reproduc

[2018-03-02 12:30] ashclarke commented on #299
`C:\Users\<user>\AppData\Roaming\npm`

[2018-03-02 13:13] racse1 commented on #155
Hi,

That's a great idea! I don't know if that would be helpful, but PostCSS CLI handles this in a nice manner. They have a `ctx` object passed into your config that contains all processed CLI options.

https://github.com/postcss/postcss-cli/blob/master/index.js#L126 and then in your config you can:

[code]

It actually would be great if that would be possible with the webpack CLI as well. I often

[2018-03-02 13:36] ev1stensberg commented on #299
This might be hard for me to reproduce, anyone from @webpack/core-team that can?

[2018-03-02 13:42] #304 closed

[2018-03-02 14:46] ashclarke commented on #299
@ev1stensberg - Not sure it helps, but it seems to only affect the global install.

I installed webpack-cli locally and it works, but you get the "prefer global" warning.

[2018-03-02 23:50] sendilkumarn commented on #159
I will take a crack at this, the out put should be something like this right ?
[code]

[2018-03-03 00:10] ev1stensberg commented on #159
https://webpack.js.org/loaders/url-loader/

[2018-03-03 23:54] billyjanitsch opened #306 "Many devDependencies listed as dependencies"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

Many devDependencies of this project are listed as dependencies in package.json such as [prettier](https://github.com/webpack/webpack-cli/blob/3aabdf473b79dcd2238291fee961851df7f6a7cd/package.json#L102) and [codecov](https://github.com/webpack/webpack-cli/blob/3aabdf473b79dcd2238291fee961851df7f6a7cd

[2018-03-03 23:59] billyjanitsch commented on #261
For one-off chores like init and migration, why not make each tool a separate pkg/CLI, and encourage users to run them using `npx`? e.g. `npx webpack-init` or `npx webpack-migrate`. Then users don't incur the cost of including them as dev dependencies.

I don't really see the purpose of a monolithic CLI that doesn't actually includes its features, especially when a great alternative exists via `np

[2018-03-04 00:06] billyjanitsch opened #307 "Unpin dependencies where possible"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

Currently the dependencies on log-symbols and yargs are [pinned to exact versions](https://github.com/webpack/webpack-cli/blob/3aabdf473b79dcd2238291fee961851df7f6a7cd/package.json#L98). Is there any reason for this?

(I realize there are reasons not to upgrade yargs to `11.x` but it's currently pin