[2020-10-30 14:22] evilebottnawi commented on #1974
https://github.com/lewisharveydeveloper/scaling-todo-app/blob/master/src/index.js#L5 - no firebase in mode_modules

[2020-10-30 22:21] juwens commented on #1929
@snitin315 or @seahindeniz  can you please say which parameter replaced `--config-register`.
Because i don't see any equivalent.

[2020-10-30 22:24] hamzahamidi opened #2003 "[webpack-cli] Invalid configuration object."
**Describe the bug**
I get the following error when I try running npm run build:
[code]

**What is the current behavior?**

**To Reproduce**

Steps to reproduce the behavior:

1. npm init
2. npm i -D webpack webpack-cli @webpack-cli/init
3. webpack init
4. npm run build

**Expected behavior**
Building the project

**Please paste the results of `webpack-cli info` here, and mention other relevant in

[2020-10-30 22:27] seahindeniz commented on #1929
Hey @juwens

I use `--config-register` to register babel to be able to use ES6 es6 stuff on the config file. After @snitin315's message, I simply switched from JS config file to TS.

Here, you can check my config from my repo
https://github.com/seahindeniz/BrainlyTools_Extension/blob/master/webpack.config.ts

https://github.com/seahindeniz/BrainlyTools_Extension/blob/master/package.json#L165

[2020-10-31 01:21] snitin315 commented on #1929
@juwens I believe it was removed without replacement.
Though if you find this is something that should be supported feel free to open a new issue about it with your use case.

[2020-10-31 01:36] snitin315 commented on #2003
Because you have provided an invalid value for `optimization.splitChunks.name`

[2020-10-31 01:37] hamzahamidi commented on #2003
Why was the invalid value provided by webpack init then?

[2020-10-31 01:45] snitin315 commented on #2003
Oh! I missed that `webpack init` was used.

Thanks for reporting. I am looking into it.

[2020-10-31 04:44] kkbdv commented on #2001
I have the same probem

[2020-10-31 04:51] snitin315 commented on #2001
Work in progress

[2020-10-31 07:57] snitin315 commented on #2003
@hamzahamidi Can you share your build script?

[2020-10-31 11:12] hamzahamidi commented on #2003
The build script is just: `webpack` . It's the default script after project init

[2020-10-31 11:14] snitin315 opened #2004 "[serve] --hot-only is broken"
**Describe the bug**

`--hot-only` is broken.

**What is the current behavior?**

![Screenshot at 2020-10-31 16-39-01](https://user-images.githubusercontent.com/46647141/97777714-0ce14180-1b98-11eb-948d-1bfe97627678.png)

**To Reproduce**

`webpack serve --hot-only`

**Expected behavior**

Should work properly.

**Screenshots**
pasted above

**Please paste the results of `webpack-cli info` here, a

[2020-10-31 11:20] snitin315 commented on #2003
Thanks 👍🏻. I was able to reproduce the bug. I will push a fix soon.

[2020-10-31 11:40] evilebottnawi commented on #1929
Yes, we support ts/babel/etc files without extra options

[2020-10-31 19:48] nestorvanz commented on #1918
I did update to `"webpack": "^5.3.2"` and the error still appears

[code]

[2020-11-01 00:21] hamzahamidi commented on #2003
I opened a [PR](https://github.com/webpack/webpack/pull/11892) which fixed my issue locally, maybe you can take a look. Thank you

[2020-11-01 02:03] snitin315 commented on #2003
I believe we need to fix the configuration in `init-generator` as per the webpack schema. Instead of directly changing the webpack schema.

[2020-11-01 02:12] hamzahamidi commented on #2003
What about when we want to keep the same name of the chunks when generating bundles for production ?   https://webpack.js.org/plugins/split-chunks-plugin/#splitchunksname

[2020-11-01 02:45] snitin315 commented on #2003
As per my understanding, It's not good for long-term caching hence was changed in `webpack-5`.

See https://github.com/webpack/webpack/commit/82816676681f4668ee3810591ba3e8c1b536ce5e and https://github.com/webpack/webpack/issues/8426#issuecomment-442375207

Docs need an update.

[2020-11-01 04:19] zero41120 commented on #2001
I was following the [tutorial](https://webpack.js.org/guides/development/) from the official website.

This `--open` argument bug happened before and there are some stack overflow questions and GitHub issues of the same bug.

If you just like me, trying to learn Webpack and don't care, providing the url allows you to continue:
`webpack serve --open http://localhost:8080`

[2020-11-01 09:11] soulofmischief commented on #1993
I looked into it more tonight. `@babel/core` somehow got dropped off my dependencies list before the "last known good state" I was reverting to.

`@babel/register` was present, but not `@babel/core`, and this was causing the error claiming `@babel/register` was missing. Idk if `webpack-cli` is able to tell the difference, but in any case yes the error is misleading.

[2020-11-01 09:19] soulofmischief commented on #1993
@evilebottnawi that's quite an assumption. `@babel/register` is in fact present in node_modules, or I wouldn't have posted the above comment.

[2020-11-01 09:19] anshumanv commented on #1993
Thanks for checking @soulofmischief, yes it will be improved today

[2020-11-01 19:48] AlonMiz commented on #1222
my suggestion is not to have staging config at all. the staging config should be prod.
i know that sounds strict but staging should be compiled the same way as prod.
in most of my use cases i've seen, this assumption can work as we can inject the ENV=staging in the runtime of the server (eg. nginx), so that we have ONE SINGLE docker image that holds our service serving those static files, both for

[2020-11-01 23:58] 3bl3gamer opened #2018 "serveIndex is always true"
**Describe the bug**

`devServer.serveIndex` is always `true` regardless of config value.

**What is the current behavior?**

Dev server serves index with `serveIndex: false` in config.

**To Reproduce**

[code]

Empty `src/index.js`.

Run `./node_modules/.bin/webpack-cli serve`.

Project root files get listed on `http://127.0.0.1:8080`.

**Expected behavior**

No files at `http://127.0.0.1:8081`.

[2020-11-02 03:31] BigMeat233 opened #2019 "[Question] How to remove logging in watch mode?"
I find cli always printing message(ex: Compilation finished, watching files for updates) in v4.

But I only need the error message.

So how to close the success message in v4?

[2020-11-02 04:16] anshumanv commented on #2018
Checking this

[2020-11-02 04:35] anshumanv commented on #2018
@evilebottnawi this flag has a default value to `true` in dev-server flags hence it's always seen as a CLI arg after parsing and so config values are not able to override it.

[2020-11-02 04:42] snitin315 commented on #2018
Yes, need to create PR in `webpack-dev-server`.

[2020-11-02 04:46] anshumanv commented on #2018
Yeah, let's remove defaults from flags and apply them in CLI directly.

[2020-11-02 04:46] anshumanv commented on #2018
wip

[2020-11-02 04:53] snitin315 commented on #2004
The webpack-dev-server v4 schema seems to work fine.

[2020-11-02 05:01] snitin315 commented on #2001
This will be fixed with `webpack-dev-server` version 4.
https://github.com/webpack/webpack-dev-server/blob/9f1d02b909e22ece60dde2e57cbfce14feafde69/bin/cli-flags.js#L47

[2020-11-02 09:14] snitin315 commented on #2019
I don't think you can.

[2020-11-02 09:18] snitin315 commented on #1991
@GP4cK Can you provide a reproducible test repo?

[2020-11-02 10:13] JonWallsten commented on #1985
@evilebottnawi: I'm having a hard time creating this repro bacause I can't get past the __webpack_require__ is not defined, and I don't get why it's not. I works fine in Webpack 4, and the code looks fine. But I might net get eval completely. Take a look at this:
![image](https://user-images.githubusercontent.com/5993909/97856210-47fc8580-1cfc-11eb-993b-7121b6e788bf.png)
It passes __webpack_requir

[2020-11-02 10:47] evilebottnawi commented on #2019
Yes, no ability, why do you need this?

[2020-11-02 10:48] arokia-innominds opened #2021 "Could not find a yeoman configuration file."
when i run the webpack-cli init ./ i am getting this error

Could not find a yeoman configuration file.

Please make sure to use 'this.config.set('configuration', this.configuration);' at the end of the generator.

Unexpected Error
please file an issue here https://github.com/webpack/webpack-cli/issues/new?template=Bug_report.md

[TypeError: Cannot read property 'usingDefaults' of undefined]

[2020-11-02 10:55] evilebottnawi commented on #1985
Can't help without reproducible test repo

[2020-11-02 11:05] #2003 closed

[2020-11-02 11:17] anshumanv commented on #2004
wip

[2020-11-02 11:17] anshumanv commented on #2004
There's a problem with config creator for serve package

[2020-11-02 11:25] snitin315 commented on #2004
https://github.com/webpack/webpack-cli/blob/f86ef2d6c0a4cba3b2002baf32b78e06cbaafc4a/packages/serve/src/createConfig.ts#L22-L26

`v3` -> https://github.com/webpack/webpack-dev-server/blob/4ab1f21bc85cc1695255c739160ad00dc14375f1/lib/options.json#L136-L138

`v4` -> https://github.com/webpack/webpack-dev-server/blob/9f1d02b909e22ece60dde2e57cbfce14feafde69/lib/options.json#L133-L148

[2020-11-02 11:27] anshumanv commented on #2004
I think we should check dev server version and apply corresponding options 😞

[2020-11-02 11:28] snitin315 commented on #2004
I believe it's here. This block should be executed for `v4` only.

Yes

[2020-11-02 12:05] #1877 closed

[2020-11-02 18:29] piecyk commented on #2019
This will be possible when webpack-cli would use `InfrastructureLogger` for logging. Similar as webpack-dev-server v4 will.

There are two issues to use it in plugin
1. webpack InfrastructureLogger is logging to stderr, that would be change from current stdout.
2. InfrastructureLogger is created from compiler, how we should log before?

[2020-11-03 01:31] GP4cK commented on #1991
@snitin315 here's a repo to reproduce this https://github.com/GP4cK/webpack-node-env

[2020-11-03 02:51] BigMeat233 commented on #2019
@evilebottnawi Hello, there is my scenarios:

I use webpack-cli watch mode to build project automatically.

And I use a webpack plugin named ```friendly-errors-webpack-plugin``` to hide log message in building progress.

But the console always print '99% done plugins watchInfo[webpack-cli] Compilation finished [webpack-cli] watching files for updates...' when building success.

[2020-11-03 02:57] BigMeat233 commented on #2019
@piecyk Hello, I want a flag to open/close the logger in **Line 288** and **Line 340** of the file ```/webpack-cli.js```.

[2020-11-03 03:53] rishabh3112 opened #2028 "tests: progress profile test is failing on CI"
**Describe the bug**
https://github.com/webpack/webpack-cli/blob/56d32285c96c367669d9bc1317e53d466ad153aa/test/progress/progress-flag.test.js#L15 fails on CI.

**What is the current behavior?**
Described above

**To Reproduce**
https://github.com/webpack/webpack-cli/pull/2024/checks?check_run_id=1343622694
https://github.com/webpack/webpack-cli/pull/2005/checks?check_run_id=1343392331
https://gith

[2020-11-03 03:55] rishabh3112 commented on #2028
Seems to be failing on webpack v4.

[2020-11-03 04:16] rishabh3112 commented on #2021
@arokia-innominds `webpack init` doesn't accept path for scaffolding, instead you run this in folder you may want to scaffold project.
Here is a example assuming a global installation of `webpack-cli` as per your report:
[code]

P.S.
Please don't remove our issue template while filing issues in future. This may lead to closing of issue without response in future.

[2020-11-03 04:28] rishabh3112 commented on #2019
Seems to be a valid use-case to me. Many users may prefer to have a less verbose output in watch-mode.

[2020-11-03 07:32] JonWallsten commented on #1985
@evilebottnawi: In the branch where it fails result is defined as this:
![image](https://user-images.githubusercontent.com/5993909/97958913-7dfa4200-1dae-11eb-9b93-440f57f58012.png)

I have tried to import stuff from Material dialog in the repro-branch to force this, but it never has a result with that file.
I don't have enough knowledge about ResolverCachePlugin to understand what has to happen f

[2020-11-03 07:53] BigMeat233 commented on #2019
bingo！

[2020-11-03 08:16] piecyk commented on #2019
@BigMeat233 output from webpack should be controlled by the level in infrastructureLogging

So you would configure it in webpack config via
[code]

https://webpack.js.org/api/logging

[2020-11-03 09:26] BigMeat233 commented on #2019
@piecyk Thanks for your anwser.

But I still can't hide the cli logging message in watch mode:

[code]

[2020-11-03 09:42] piecyk commented on #2019
@BigMeat233 because it's not implemented yet.

[2020-11-03 11:17] evilebottnawi commented on #2019
In theory we can respect `infrastructureLogging` from config, it should be not hard

[2020-11-03 11:26] evilebottnawi commented on #2028
Yep, let's fix it

[2020-11-03 11:55] evilebottnawi commented on #1985
Sorry I can't help, if you provide more stack trace maybe I can, if you create reproducible test repo we will fix it today, we already lost more time...

[2020-11-03 11:56] evilebottnawi commented on #1985
Do you use boilerplaces? What is versions? Do you try latest version? Which plugin you use, because some of them still have problems with webpack@5

[2020-11-03 12:10] JonWallsten commented on #1985
The only thing I can come up with is that @ngtools/webpack is not supporting Webpack@5.
Let's close this until everything is updated and I'll create a new bug if it's still a problem.
I should not take up any more of your time,

[2020-11-03 12:10] #1985 closed

[2020-11-03 12:17] evilebottnawi commented on #1985
Yep :disappointed: But I saw a similar problem and I saw it was fixed, maybe ngtools have branch with webpack@5 and you can test it?

[2020-11-03 12:32] JonWallsten commented on #1985
I thought that already did support it. That's why I tested. But according to the package. json in master they don't yet. So it will probably be fixed once they decide to update.

[2020-11-03 12:34] evilebottnawi commented on #1985
Feel free to feedback

[2020-11-03 12:54] piecyk commented on #2019
@evilebottnawi yep i think that also, would go into this direction

https://github.com/webpack/webpack-cli/compare/master...piecyk:webpack-cli/infrastructure-logging

[2020-11-03 13:29] #1990 closed

[2020-11-03 19:44] piecyk commented on #2019
@evilebottnawi can you have a quick look at that branch https://github.com/piecyk/webpack-cli/tree/webpack-cli/infrastructure-logging, ping me if that is something we would like to merge, need to fix tests 🙈

[2020-11-04 04:07] anshumanv commented on #2028
Fixed in https://github.com/webpack/webpack-cli/pull/2026

[2020-11-04 04:07] #2028 closed

[2020-11-04 05:43] cannandev commented on #2001
Providing a url like @zero41120 said didn't work for me. But, `webpack serve --open 'Google Chrome'` works. Replace `Google Chrome` with your browser name.

[2020-11-04 05:49] snitin315 commented on #2001
Yes, `string` functionality ( `webpack --open 'browser-name'`) is works fine.

[2020-11-04 06:04] bsarun opened #2033 "WebPack CLI not taking TAB to continue the building process"
**Describe the bug**

Using Webpack, react and react-dom.
Below is my package.json configuration.
[code]
Using Windows 10 and CMD

The Webpack Configuration

[code]

**What is the current behavior?**

Basically I have npm command which runs for build - `npm run build:dll`.
When I run this,  the cli is stuck on showing up `**which flags do you want to use**` . And its unable to select the option us

[2020-11-04 06:08] snitin315 commented on #2033
`--display-chunks` & `--hide-modules` aren't valid arguments in `webpack-cli v4` .

You need to update your `npm run build:dll` script.

[2020-11-04 06:09] snitin315 commented on #2033
See supported arguments and commands here -> https://github.com/webpack/webpack-cli/blob/master/packages/webpack-cli/README.md#supported-arguments-and-commands

[2020-11-04 07:26] zero41120 commented on #2001
@cannandev @snitin315
Yes. Looks like the --open just opens whatever you provide, for example
`webpack serve --open notepad.exe`

I think it worked for me because that I'm on windows environment,
and it knows that http uses my default browser.
I will update my original comment.

[2020-11-04 11:53] evilebottnawi commented on #2033
Answer above, only webpack@5 supports many flags

[2020-11-04 11:53] #2033 closed

[2020-11-04 12:07] evilebottnawi commented on #2019
Looks good, but I am afraid it is not solve the whole problem, we use logger out of plugin too, so I think right way to fix it, just read the `infrastructureLogging` option from config

[2020-11-04 12:08] jdelStrother commented on #1918
I think we're still waiting on a new release ( > 4.0.0 ) for this.  If I test against the master branch (which can be done using `yarn add --dev https://gitpkg.now.sh/webpack/webpack-cli/packages/webpack-cli`) it seems to work fine.

[2020-11-04 12:22] piecyk commented on #2019
Yes we do. Most cases we log errors and exit process so in that case tooling based on webpack will never reach them `friendly-errors-webpack-plugin`

At first started also with replacing `utils/logger` with `require('webpack/lib/logging/runtime')` but this would make bigger breaking change. And configuring it with infrastructureLogging from options, we would need to drop `logger.raw` etc.

So deci

[2020-11-04 12:22] evilebottnawi commented on #1918
Release will be today

[2020-11-04 12:32] evilebottnawi commented on #2019
Yep, anyway feel free to send a PR and we continue improvements in PR, code looks good

[2020-11-04 12:50] piecyk commented on #2019
Ok, pushed a PR. Let's discuss there, i'm proposing there some changes to messages we log.

[2020-11-04 15:40] #2004 closed

[2020-11-04 16:01] #1973 closed

[2020-11-04 16:13] evilebottnawi commented on #1973
After discussion we solve do not add something to process.env, because it is not good, but now you can use `env` to achieve this - function format of `webpack.config.js`

[2020-11-04 17:01] evilebottnawi commented on #1991
`--optimization-node-env=dev` is not set `process.env.NODE_ENV` in the config file, this value only for bundled code

[2020-11-04 17:01] evilebottnawi commented on #1991
`--mode=development` never was related to `NODE_ENV`, because it is bad idea

[2020-11-04 17:03] evilebottnawi commented on #1991
But env should be work

/cc @webpack/cli-team need focus, should be easy

[2020-11-04 18:44] evilebottnawi commented on #1918
Fixed in `webpack-cli@4.2.0`, if somebody faced with the problem again, please open a new issue with reproducible test repo, because we tests most of cases :smile:

[2020-11-04 18:44] #1918 closed

[2020-11-04 20:46] proton-ab opened #2038 "webpack-cli@v4.2.0 breaks color support on CI/CD"
**Describe the bug**

Automated color detection was broken in v4.0.0 and subsequently fixed in v4.1.0. It is now broken again in v4.2.0 but only partially. The removal of `--color` flag also means we can not override this behavior and are left with uncolored output on CI.

**Expected behavior**

Either color support is properly detected or an override flag is provided again.

**Screenshots**

v4.1

[2020-11-05 00:44] snitin315 commented on #2038
Thanks for the report. I'm looking into it.

[2020-11-05 00:46] snitin315 commented on #2038
We still support `--color` flag. You can use it.

https://github.com/webpack/webpack-cli/blob/0caa9184e22ed857e175c8dc0dd1e0a26f216374/packages/webpack-cli/lib/utils/cli-flags.js#L93

[2020-11-05 13:59] evilebottnawi commented on #2021
I want to mark it as feature, allow to generate loader/plugin code in any directory

[2020-11-05 14:00] evilebottnawi commented on #2021
@webpack/cli-team should be easy to implement

[2020-11-05 14:01] #1908 closed

[2020-11-05 14:02] evilebottnawi commented on #1847
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

[2020-11-05 14:02] #1847 closed

[2020-11-05 14:03] evilebottnawi commented on #299
Closing due to inactivity. Please test with latest version and feel free to reopen if still regressions. Thanks!

If somebody faced with the problem again please open the new issue with reproducible example, I think we fixed it (please use `webpack-cli@4`)

[2020-11-05 14:03] #299 closed

[2020-11-05 14:04] evilebottnawi commented on #789
I want to close it, because stdin is CLI option, and should not supported by configuration

[2020-11-05 14:06] evilebottnawi commented on #789
We should support `--stdin` option out of box, close stdin - close process

[2020-11-05 14:08] evilebottnawi commented on #668
webpack-scaffold will be union with `generators` project, so we can close it

[2020-11-05 14:08] #668 closed

[2020-11-05 14:09] evilebottnawi commented on #667
webpack-scaffold will be union with `generators` project, so we can close it

[2020-11-05 14:09] #667 closed

[2020-11-05 14:10] evilebottnawi commented on #887
We have `stats` tests, so we can close it

[2020-11-05 14:10] #887 closed

[2020-11-05 14:12] evilebottnawi commented on #1752
Let's close, `package-utils` unions with `utils`

[2020-11-05 14:12] #1752 closed

[2020-11-05 16:55] proton-ab commented on #2038
Was going by comment https://github.com/webpack/webpack-cli/issues/1967#issuecomment-716034558

[2020-11-05 18:27] jamesgeorge007 commented on #2021
I'll take a look at it.

[2020-11-05 18:29] jamesgeorge007 commented on #2021
For `init`, isn't it better to have a flag for the purpose? (say, `--generate-path`)

[2020-11-05 23:50] worc commented on #1622
just tried the rename and flag workaround and it doesn't work for me, i get `SyntaxError: Cannot use import statement outside a module`

 it might be a version issue? i've got a mix here that i've carried over from older projects:

[code]

moving everything to latest, i get a repeat of an older issue: `Error: Cannot find module 'webpack-cli/bin/config-yargs'`

[code]
https://github.com/webpack/web

[2020-11-06 09:37] mkampmey opened #2051 "Dynamic port selection for webpack-dev-server does not work"
- Operating System: Windows 10
- Node Version: 11.9.0
- NPM Version: 6.5.0
- webpack Version: 5.4.0
- webpack-dev-server Version: 3.11.0
- Browser: Firefox

- [x] This is a **bug**
- [ ] This is a **modification** request

### Code

[code]

[code]

### Expected Behavior
When executing `npm run serve`, the webpack-dev-server should automatically select the next available port starting from 8080.

#

[2020-11-06 10:41] evilebottnawi commented on #1622
Because you can't use `import` inside `cjs`, please read how it works

[2020-11-06 12:17] evilebottnawi commented on #2051
@webpack/cli-team we should move logic from webpack-dev-server to here

[2020-11-06 17:50] mihkeleidast opened #2052 "stats option is not respected in watch mode in 4.2.0"
**Describe the bug**

Specifiying the stats option in webpack config has no impact on cli output with webpack-cli 4.2.0. Everything is always output.
[code]
Using 4.1.0 outputs what I specify in the stats option.

**Expected behavior**

I expect the stats option to be respected.

**Screenshots**

4.2.0 (a lot more but i don't think a large image helps):
![image](https://user-images.githubuserconte

[2020-11-06 17:51] anshumanv commented on #2052
Thanks for the report, checking

[2020-11-06 18:00] anshumanv commented on #2052
Seems to work for me, with both webpack 5 and 4.44.2 -

![image](https://user-images.githubusercontent.com/21009455/98399096-f18aa080-2087-11eb-8395-01198a9b8f94.png)

Here's my simple config -

[code]

@mihkeleidast can you make a minimal reproducible test repo so I can look into it further? Thanks!

[2020-11-06 18:19] mihkeleidast commented on #2052
Oh, looks like `watch: true` needs to be specified also.

[code]

4.1.0:
![image](https://user-images.githubusercontent.com/1892091/98400731-3e14b280-206d-11eb-93dd-43d05423bd91.png)

4.2.0:
![image](https://user-images.githubusercontent.com/1892091/98400774-52f14600-206d-11eb-8331-ac52e0cd38b3.png)

[2020-11-06 18:42] anshumanv commented on #2052
Great, thanks! Yep seems a problem when watch is present, strange though doesn't happen with webpack 5 but only with 4.44.2, will PR a solution for this.

[2020-11-06 18:55] anshumanv commented on #2052
@evilebottnawi do you have any ideas what may be causing this?

[2020-11-06 19:57] mihkeleidast opened #2054 "stats are not colored in v4 when config returns multiple objects"
**Describe the bug**

When a webpack config returns multiple configurations as an array, the output stats are not colored.

[code]

**Expected behavior**

Stats should be colored when there are more than one configurations returned by the config file.

**Screenshots**

4.2.0, multiple configurations (example above):
![image](https://user-images.githubusercontent.com/1892091/98409025-d4030a00-207a-

[2020-11-06 20:51] mihkeleidast opened #2055 "can't run webpack serve when installing webpack-cli@4.1"
**Describe the bug**

I've run into multiple issues with 4.2 so I decided to stay on 4.1. However, when I install 4.1 explicitly, I can't run `webpack serve` anymore.

**To Reproduce**

Steps to reproduce the behavior:
In an empty directory:
1. run `npm init` (default values are fine)
2. run `npm i webpack-cli@4.1 webpack webpack-dev-server`
3. run `npx webpack serve`
4. See error:
![image](https:

[2020-11-07 10:29] snitin315 commented on #789
Like here -

https://github.com/webpack/webpack-dev-server/blob/c9e9178a4882e414a6b9616baa35e8dbf7b2dd75/lib/utils/createConfig.js#L83-L90

[2020-11-07 11:36] evilebottnawi commented on #2055
Fixed, don't know what we can do here

[2020-11-07 11:36] #2055 closed

[2020-11-07 11:42] mihkeleidast commented on #2055
Was there a specific fix or is it simply not possible to install/use an older version? 🙄

[2020-11-07 11:48] evilebottnawi commented on #2055
Do not use old version

[2020-11-07 11:52] mihkeleidast commented on #2055
That does not make any sense at all - noone is going to be able to find out when bugs were introduced when old versions are broken by releasing new ones.

[2020-11-07 11:53] evilebottnawi commented on #2052
@anshumanv Do you reproduce it?

[2020-11-07 11:56] evilebottnawi commented on #2055
What do you suggest I do here? We had a bug, we fixed it and released the new version

[2020-11-07 12:00] evilebottnawi commented on #2054
Duplicate https://github.com/webpack/webpack-cli/issues/2038, title can be misleading, but the problem in one place

[2020-11-07 12:00] #2054 closed

[2020-11-07 12:01] evilebottnawi commented on #2038
Note for myself:
[code]

adding test for multi compiler mode

[2020-11-07 12:03] evilebottnawi commented on #789
Yes, the same logic

[2020-11-07 15:51] mihkeleidast commented on #2055
Yeah that was my question, if this was a known bug and is fixed now. I'm rather curious, what the bug was and what fixed it?

[2020-11-07 16:56] zzw890827 commented on #2001
Remove `--open` option can work if you do not know your `browser name`

[2020-11-08 06:06] martinoppitz opened #2062 "webpack serve --open does not work?!"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-11-08 06:41] snitin315 commented on #2062
please use `webpack serve --open chrome`

[2020-11-08 06:42] snitin315 commented on #2062
`webpack serve --open` will be supported with `webpack-derv-server` version `4`

[2020-11-08 06:43] snitin315 commented on #2062
Duplicate of #2001

[2020-11-08 06:44] #2062 closed

[2020-11-08 17:05] IljaDaderko opened #2081 "within monorepo keep getting [webpack-cli] The command moved into a separate package: @webpack-cli/serve"
I'm not sure if this is a bug or something else, but on every version after 5.2 I keep getting following error when trying to run serve command:
[code]

The command that triggers this is
[code]

CLI asks me if I want to install `@webpack-cli/serve`, I agree to that prompt and install that, but then still get the error. My hunch is that it can be related to monorepos?

My repo structure looks like

[2020-11-08 23:56] martinoppitz commented on #2001
Please use the default browser by default.

`webpack --open` - thats it

[2020-11-09 10:48] evilebottnawi commented on #2081
@IljaDaderko Please use the issue template in future, otherwise we will close your issue with reply, respect time of other developers, thanks

[2020-11-09 10:49] evilebottnawi commented on #2055
@mihkeleidast Do you use monorepos,

[2020-11-09 10:51] IljaDaderko commented on #2081
@evilebottnawi will do, I wasn't sure if this was a legitimate issue or some change I missed while upgrading webpack version, hence used `[Other]` option.

[2020-11-09 10:56] mihkeleidast commented on #2055
Not on the project this happened on - otherwise yes.

[2020-11-09 10:59] evilebottnawi commented on #2055
It was bug with fields in webpack-cli and bug on webpack side on first run, it was fixed in latest versions

[2020-11-09 11:05] evilebottnawi commented on #2081
@IljaDaderko What is version of `npm`? I think you have hoist problem here, and we can't fix it on our side

[2020-11-09 11:05] mihkeleidast commented on #2055
Thanks for the explanation :)

[2020-11-09 11:33] IljaDaderko commented on #2081
@evilebottnawi `npm@7.0.9`, but also happens to me on `yarn@1.22.10`. Are you sure this is an upstream issue? This message only started coming up after `webpack@5.2`, prior to that everything worked as expected.

[2020-11-09 11:40] evilebottnawi commented on #2081
@IljaDaderko Can you run `npm ls webpack-cli` and `npm ls @webpack-cli/serve`?

[2020-11-09 11:45] IljaDaderko commented on #2081
Sure, here are the outputs @evilebottnawi

npm ls webpack-cli
[code]

npm ls @weebpack-cli/seerve
[code]

[2020-11-09 12:19] sibelius commented on #2081
I'm getting this error on yarn 1 as well

which webpack-cli version does not have this problem?

[2020-11-09 12:31] evilebottnawi commented on #2081
@sibelius Do you use monorepos too?

[2020-11-09 12:32] sibelius commented on #2081
I have a working monorepo using webpack 5

and I have a broken monorepo using webpack 4

[2020-11-09 12:33] evilebottnawi commented on #2081
@sibelius Is this problem happens only for webpack@4 or webpack@5?

[2020-11-09 12:34] sibelius commented on #2081
can we make `@webpack-cli/serve` a warning?

so we can migrate when it is done?

for me only on webpack@4

[2020-11-09 12:38] sibelius commented on #2081
@webpack-cli/serve@1.1.0
webpack-cli@4.1.0

should I try 4.2.0?

[2020-11-09 12:44] evilebottnawi commented on #2081
Update `webpack-cli@4.2.0`

[2020-11-09 12:48] sibelius commented on #2081
`webpack-cli@4.2.0` worked for us

tks

[2020-11-09 12:49] IljaDaderko commented on #2081
In my case this doesn't work

[code]

[2020-11-09 12:56] evilebottnawi commented on #2081
Investigating the problem

[2020-11-09 13:15] evilebottnawi commented on #2081
@IljaDaderko updating to `4.2` solve the problem, tests on npm and yarn, please update lock file too

[2020-11-09 13:15] #2081 closed

[2020-11-09 15:03] jamesgeorge007 commented on #2021
Closing.

[2020-11-09 15:03] #2021 closed

[2020-11-09 18:25] yossi-nagar opened #2089 "DEP_WEBPACK_WATCH_WITHOUT_CALLBACK when watch is true"
When  trying to invoke the webpack-dev-server with watch option i get this warning:
`10% building 0/10 entries 0/9 dependencies 0/0 modules(node:42260) [DEP_WEBPACK_WATCH_WITHOUT_CALLBACK] DeprecationWarning: A 'callback' argument need to be provided to the 'webpack(options, callback)' function when the 'watch' opt
ion is set. There is no way to handle the 'watch' option without a callback.
`

I a

[2020-11-09 18:32] evilebottnawi commented on #2089
Please create minimum reproducible test repo, should be fixed in 4.2.0

[2020-11-09 18:53] benmvp commented on #1980
Just ran into this problem. Upgraded to `4.2.0` and verified it worked. Thanks for the fix @snitin315!

[2020-11-09 20:18] #2038 closed

[2020-11-10 05:53] anshumanv commented on #2052
@evilebottnawi yep, but only with webpack 4.

[2020-11-10 12:59] yossi-nagar commented on #2089
@evilebottnawi you can clone this one https://github.com/yossi-nagar/webpack5-test

[2020-11-10 14:48] evilebottnawi commented on #2089
Just remove `watch: true` from `webpack.dev.js`, it doesn't have sense, also fixed in `webpack-dev-middleware`, hope we will do `webpack-dev-server` release in near future, not related to `webpack-cli`

[2020-11-10 14:48] #2089 closed

[2020-11-10 15:02] yossi-nagar commented on #2089
i removef `watch: true`  from `webpack.dev.js` and still i am receiving the same error

[2020-11-10 15:14] yossi-nagar commented on #2089
Sorry my bad. The `watch: true` option was removed and also no `--watch` in the cli command. However i didn't manage to reach a situation where i change something in `index.js` and the browser is refreshed too. @evilebottnawi can you help on that one?

[2020-11-10 15:42] evilebottnawi commented on #2089
@yossi-nagar no deprecations, ` target: "web",` to `webpack.dev.js`

[2020-11-11 14:24] #2052 closed

[2020-11-11 15:03] evilebottnawi commented on #1991
`--optimization-node-env` doesn't set `process.env.NODE_ENV` in `webpack.config.js`, it set `process.env.NODE_ENV` to provided value in source code and it works fine

[2020-11-11 15:03] #1991 closed

[2020-11-11 15:03] evilebottnawi commented on #1991
You can use `--env` flags to pass custom values to the own config fle

[2020-11-12 04:09] joacub opened #2102 "Webpack-cli serve options merge wrong"
this is that the current version do:
[code]
so always override cliOptions into devServerOptions at this time is impossible disable liveReload because comes in cliOptions always true
[code]

[2020-11-12 04:48] Amstrong commented on #2001
this works for me, thanks you.

[2020-11-12 11:29] evilebottnawi commented on #2102
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2020-11-12 11:29] #2102 closed

[2020-11-12 11:29] evilebottnawi commented on #2102
cli options should be prefered

[2020-11-12 12:58] loebi-ch commented on #1985
I'm working with `@ngtools/webpack`'s `AngularCompilerPlugin`, Webpack 5 and facing the same exception when using `webpack-dev-server`.

If I replace

`if (callbacks === undefined)`

through

`if (!callbacks)`

in `node_modules\webpack\lib\cache\ResolverCachePlugin.js` (on line 213) everything works like a charm.

So, for me the question is why the variable `callbacks` can be `false` and why it's

[2020-11-12 12:59] evilebottnawi commented on #1985
@loebi-ch the problem in `AngularCompilerPlugin`, it should be fixed in next/alpha/beta versions

[2020-11-12 13:08] JonWallsten commented on #1985
I'm still trying to recreate it so the Angular team can fix it. But I still haven't been able to. Since I don't know what's causing the value to be `false` and can't force the issue in my repro.

[2020-11-12 13:24] JonWallsten commented on #1985
In my not working repo it looks like this:
<details>
  <summary>
    Log for failing install
  </summary>

[2020-11-12 13:17:16] Building web-app-edit
FILE IS CACHED:  ./__ivy_ngcc__/fesm2015/platform-browser.js
FILE IS CACHED:  ./__ivy_ngcc__/fesm2015/core.js
FILE IS CACHED:  ./__ivy_ngcc__/fesm2015/core.js
FILE IS CACHED:  ./__ivy_ngcc__/fesm2015/core.js
FILE IS CACHED:  ./__ivy_ngcc__/fesm2015/

[2020-11-12 13:42] jantimon opened #2104 "webpack serve doesn't detect @webpack-cli/serve on codesandbox anymore"
**Describe the bug**

webpack-cli used to work in codesandox but lately it doesn't detect @webpack-cli/serve and is stuck in this prompt:

![html-webpack-plugin_5_x_alpha_html-loader_-_CodeSandbox](https://user-images.githubusercontent.com/4113649/98947085-0edec500-24f5-11eb-873d-9be2890a7118.png)

**What is the current behavior?**

**To Reproduce**

Steps to reproduce the behavior:

1. go to http

[2020-11-12 13:52] JonWallsten commented on #1985
Seems to be the same issuer trying to cache the file:
[code]

[2020-11-12 13:57] JonWallsten commented on #1985
@evilebottnawi: Do you have any idea that the loader is doing wrong? Not waiting for the file to be cached? Not retrieving the cached file?

[2020-11-12 14:10] evilebottnawi commented on #2104
Fixed in 4.2

[2020-11-12 14:10] #2104 closed

[2020-11-12 14:10] evilebottnawi commented on #2104
Please always check dependencies

[2020-11-12 14:11] evilebottnawi commented on #1985
@JonWallsten I don't sure it is webpack cache

[2020-11-12 14:17] JonWallsten commented on #1985
But the issue is that something is calling done multiple times for the same file, yes?

[2020-11-12 14:38] evilebottnawi commented on #1985
I say, it was bug on AngularCompilerPlugin, it was fixed a long time ago, if you need help and investigation - please create reproducible test repo, I can't work with text, too little context, too little understanding, and too much code, it's really hard and not effective

[2020-11-12 14:41] JonWallsten commented on #1985
The issue is that I can't create a repro. I've been trying for a week. It only seems to happen when you import stuff is a specific way. I've really been trying to force it. I'm using the latest release from Angular, released yesterday. So I don't think it's fixed.

[2020-11-12 14:49] loebi-ch commented on #1985
@evilebottnawi If this is a bug in `AngularCompilerPlugin`, it was not fixed a long time ago. I use the latest releases of Angular (11.0.0) and `@ngtools/webpack` (11.0.0) both released yesterday evening and this bug still occurs.

And even if this is a bug in `AngularCompilerPlugin`, the error is thrown in in `ResolverCachePlugin` and could be easily solved by checking `callbacks` before iteratin

[2020-11-12 14:56] JonWallsten commented on #1985
@loebi-ch: I think his point is that the source of the issue is not fixed by patching up ResolveCachePlugin. However it would still be nice to at least throw and error if `callbacks` is `false` with a description of the error, and why it occurs. Since you can end up there with the value `false` is hould at least be handled and not throw an uncaught error. I still don't know that the actual issue i

[2020-11-12 15:05] loebi-ch commented on #1985
@JonWallsten Thank you for your efforts. I've already seen your answers in https://github.com/angular/angular-cli/issues/19351.

I know that it needs some deeper investigations to find the root cause of the problem, but as you just have written, it would be nice to handle the uncaught error.

[2020-11-12 15:13] jantimon commented on #2104
Thank you so much for all your work @evilebottnawi - it works with 4.2.0

[2020-11-12 15:20] JonWallsten commented on #1985
@loebi-ch: Yeah, whatever's the issue it should not just be unhandled if it can happen this frequently.

[2020-11-12 15:34] evilebottnawi commented on #1985
It is invalid fix

[2020-11-12 15:35] joacub commented on #2102
I know but i never put that option, there is no way for disabled defaulted options which comes in clientoptions var

[2020-11-12 15:35] evilebottnawi commented on #1985
Fixed https://github.com/angular/angular-cli/pull/19062/files

[2020-11-12 15:36] anshumanv commented on #2102
@evilebottnawi this is due to the default flag values in dev server v3 which are removed in v4

[2020-11-12 15:36] evilebottnawi commented on #1985
https://github.com/angular/angular-cli/pull/19062/files#diff-e9d36622aeef33c4f2716908fef66473046e62691dcaf22ae0b7966eff25a128R934

[2020-11-12 15:37] evilebottnawi commented on #1985
If you need fast fix, **please try to create reproducible test repo**, I can't fix something somewhere, sorry

[2020-11-12 15:37] joacub commented on #2102
🤔 i have dev server v4 i dont know why the default still there

[2020-11-12 15:39] joacub commented on #2102
Btw, webpack docs still saying that the default option for liveReload is true

[2020-11-12 15:39] JonWallsten commented on #1985
We don't need a quick fix. We're just trying to get to the bottom of this. If it was fixed 29 days ago it would definitely be in the release yesterday. And since it's still an issue obviously it's not fixed. The Angular team is also trying to investigate this:
https://github.com/angular/angular-cli/issues/19351

I'll let you know if I find anything else. And like a said many times over, I've am tr

[2020-11-12 15:40] anshumanv commented on #2102
Seems removed in v4 - https://github.com/webpack/webpack-dev-server/blob/v4/bin/cli-flags.js

Can you verify if you're actually using `webpack-dev-server` v4?

[2020-11-12 15:43] joacub commented on #2102
I tested always is true in clientOptions

[2020-11-12 15:45] evilebottnawi commented on #2102
What is webpack-dev-server version?

[2020-11-12 15:51] joacub commented on #2102
yes you guys are right, Webpack-dev-server is version 3, version 4 is not released yet ?

[2020-11-12 15:58] evilebottnawi commented on #2102
No, is not released yep, hope, I will do it soon, many issues

[2020-11-12 15:58] evilebottnawi commented on #1985
@JonWallsten Maybe you can provide private access to your repo and steps to reproduce, I can sign NDA if you need this

[2020-11-12 16:00] joacub commented on #2102
hahaha i imagine, not worries thanks for your work.

i dont know if this is related but react-refresh and hot seems likes is working but never happens the refresh in the browser I have to reload completely, maybe is related idk.

thanks again

[2020-11-12 16:03] JonWallsten commented on #1985
@evilebottnawi: They thing is we host or own Github-server and you need access to our internal network to access server's needed to start the application. Maybe sharing screen or something would work worst case.

[2020-11-12 16:15] evilebottnawi commented on #1985
I am afraid that screenshots will not be enough, I need to look on context/request/etc in resolver

[2020-11-12 17:04] JonWallsten commented on #1985
I meant sharing my screen live, not just screeshots!

[2020-11-12 19:56] jouni-kantola opened #2106 "Initialized project w/o source file config results in TypeScript compilation error"
**Describe the bug**

After using `webpack-cli@4.2.0`'s init with TypeScript, cannot build boilerplated project directly, as it's missing files to include in TypeScript's `tsconfig.json`.

**What is the current behavior?**

`npx webpack-cli` results in following error(s):
[code]

**To Reproduce**

Steps to reproduce the behavior:
1. `npm install webpack-cli @webpack-cli/init webpack --save-dev &&

[2020-11-13 03:05] nigelellis opened #2107 "[BUG]: 🐞webpack 4.2.x does not appear to honor `stats` settings in watch mode"
**Describe the bug**
After bumping from webpack-cli 4.2.0 to 4.2.0, our webpack *watch* build has started to output statistics output despite being disabled via. options.

**What is the current behavior?**
Our [stats configuration](https://webpack.js.org/configuration/stats/#stats-options) is set up as follows and we purposely disable modules, children, and cached output:
[code]

Webpack-cli is in

[2020-11-13 07:43] snitin315 commented on #2051
@evilebottnawi Can you share a link for the logic in`webpack-dev-server`.

[2020-11-13 08:18] snitin315 commented on #2106
Thanks for the report. I was able to reproduce it.
I will push a fix in the near future.

[2020-11-13 09:27] JonWallsten commented on #1985
It's a classic race condition! The same issuer is trying to resolve the file twice in a very short time and since the resolver is async the second one is triggered before the first one in done, but after the first one is triggered, so the cache is not ready, hence `callbacks` is `false`.
I've stepped through the code with a delay for each file and the problem goes away,
The issuer, `app.module.ts`

[2020-11-13 09:45] JonWallsten commented on #1985
Is it possible to get more information about the source then this?
[code]

LIke a said in my previous posts the file mentioned `app.module.ts` does NOT import `@angular/material/dialog`, directly, so Angular probably parses the file somehow and does this. But I can't find any details about this. So it's hard to fine the source of the issue.

[2020-11-13 10:52] evilebottnawi commented on #2107
Fixed in master, not released yet

[2020-11-13 10:52] #2107 closed

[2020-11-13 10:53] evilebottnawi commented on #2107
Release will be in near future

[2020-11-13 10:57] evilebottnawi commented on #2051
@snitin315 https://github.com/webpack/webpack-dev-server/blob/master/lib/utils/processOptions.js for v3 and I think for v4 we have the same logic (but need to look), we should move logic for `findPort` here

[2020-11-13 11:03] #2106 closed

[2020-11-13 11:34] vijayprasanna13 commented on #2001
I had the same issue, but adding the `open: true` in the `devServer` block of `webpack.config.js`, seems to work for me.
[code]

[2020-11-13 11:39] evilebottnawi commented on #1985
I don't know how I can help you here...

Sounds like the bug on angular side.

Maybe you can remove pieces of code by reproducing the problem every time and show it (example of repo). There can be many places with problems here, I still can't say anything, sorry

[2020-11-13 11:47] JonWallsten commented on #1985
Yeah, I'll wait and see what they say! I'll get back to you as soon as I have any other info. Thanks!

[2020-11-13 15:14] mterczynski commented on #1948
I have the same issue when running `npx webpack init`

[code]

[2020-11-13 15:26] mterczynski opened #2110 "npx webpack init doesn't work - Could not find a yeoman configuration file (.yo-rc.json). error"
**Describe the bug**

`npx webpack init` doesn't work - `Could not find a yeoman configuration file (.yo-rc.json).` error

**What is the current behavior?**

I see output

[code]

webpack.config.js file is created, but it has only this line as its content

[code]

**To Reproduce**

Steps to reproduce the behavior:

`npx webpack init`, then choose these options:

[code]

**Expected behavior**

No e

[2020-11-13 15:32] evilebottnawi commented on #2110
Answer should be Y/N

[2020-11-13 15:34] evilebottnawi commented on #1948
@sacummings91

It is new way to run webpack-dev-server

[2020-11-13 15:34] evilebottnawi commented on #1948
Sorry for delay

[2020-11-13 15:39] mterczynski commented on #2110
Yes, sorry, my bad. For `Will your application have multiple bundles?` questions there is `y/N` - I've chosen "N" for this one.
Others are "choose one from a list" type of questions.

[2020-11-13 15:41] evilebottnawi commented on #2110
Anyway we should log error on invalid answer and re ask it again

[2020-11-13 15:42] mterczynski commented on #2110
My answers weren't invalid, I think. What do you mean?

[2020-11-13 16:19] evilebottnawi commented on #840
We should do some improvement after refactor

[2020-11-15 08:36] gimmi opened #2111 "webpack.config.js: first parameter changed from v4 to v5"
Take this `webpack.config.js`

[code]

With webpack@4

[code]

The result is this

[code]

Instead, with webpack@5

[code]

The result is this

[code]

Seems that this is not mentioned in [To v5 from v4](https://webpack.js.org/migrate/5/), it should really be there!

[2020-11-16 02:07] martinoppitz commented on #2111
Cant reproduce that:

![image](https://user-images.githubusercontent.com/6279703/99205401-bb040280-27b8-11eb-8146-e5eb2fd3ca8a.png)

![image](https://user-images.githubusercontent.com/6279703/99205454-e555c000-27b8-11eb-8da5-cbeb97ea5614.png)

[2020-11-16 11:55] evilebottnawi commented on #2111
@gimmi Please provide command how you run webpack

[2020-11-17 07:27] shameleo opened #2113 "Pass user (custom) flags to webpack config"
**Is your feature request related to a problem? Please describe.**

With **v3** I was able to pass my custom flags to webpack config like this:

**package.json**
[code]
or:
[code]
and then get it in config using `argv`
[code]
I don't know, was it feature or flaw, but it was usefull. Now it causes `Unknown argument: ...` error.

**Describe the solution you'd like**

Maybe some prefix for custom fla

[2020-11-17 07:29] anshumanv commented on #2113
You should use `--env`

https://webpack.js.org/api/cli/#environment-options

[2020-11-17 07:49] shameleo commented on #2113
Thank you, it works

[2020-11-17 07:50] anshumanv commented on #2113
Great, closing

[2020-11-17 07:50] #2113 closed

[2020-11-17 09:57] JonWallsten commented on #1985
I've successfully made a repro now!
Use this branche. I have stripped away almost the full monorepo and only kept one app, that I placed in the root level.
I removed most of the Angular stuff as well. It's just two components now.
https://github.com/JonWallsten/monorepo-new/tree/webpack-5-issue
Simple instructions in the Readme in that branch.
Let me know if you need anything.

[2020-11-17 12:54] evilebottnawi commented on #1985
@JonWallsten hm, I don't have `callback is not iterable` here, only: `ERROR Error: Uncaught (in promise): RangeError: Maximum call stack size exceeded`

[2020-11-17 13:05] evilebottnawi commented on #1985
Tried many times

[2020-11-17 13:05] JonWallsten commented on #1985
That's weird. I did not get that. Let me try to install everything from the beginning and clean up and see if I can get that.

[2020-11-17 13:13] JonWallsten commented on #1985
@evilebottnawi: Works fine for me! Node version issue?
[code]

[2020-11-17 13:36] evilebottnawi commented on #1985
@JonWallsten What is node/npm/yarn version?

[2020-11-17 13:40] evilebottnawi commented on #1985
Maybe my computer is so fast

[2020-11-17 13:42] JonWallsten commented on #1985
![image](https://user-images.githubusercontent.com/5993909/99397265-1cc08b80-28e3-11eb-8ca4-c19592f78175.png)

[2020-11-17 13:49] evilebottnawi commented on #1985
Still no problems :smile:

[2020-11-17 13:49] evilebottnawi commented on #1985
What is os?

[2020-11-17 13:51] JonWallsten commented on #1985
Windows 10 1809

[2020-11-17 13:52] JonWallsten commented on #1985
What is the source of the Maximum callstack error? Maybe I can help.

[2020-11-17 13:54] evilebottnawi commented on #1985
[code]

[2020-11-17 13:56] JonWallsten commented on #1985
I've started logging out stuff to get a better picture of whats happening when.
I added a filter for the first file that fails to see what's happening for a specific file.

[code]

It's a common theme for most of the Angular related stuff to resolve everyting twice. Eventually when the cache is processed it fails as you can see above.
[code]

[2020-11-17 13:57] evilebottnawi commented on #1985
Can you try to comment:
[code]

[2020-11-17 13:57] JonWallsten commented on #1985
And that when you are running "npm run dev"?

[2020-11-17 13:57] evilebottnawi commented on #1985
Yep

[2020-11-17 13:58] JonWallsten commented on #1985
Sure

[2020-11-17 13:58] JonWallsten commented on #1985
I don' understand how we can get different results with the same codebase.

[2020-11-17 13:58] evilebottnawi commented on #1985
I am too :smile:

[2020-11-17 14:00] evilebottnawi commented on #1985
Anyway I think it is problem with `mainFields`, because only this field `angular` change

[2020-11-17 14:02] JonWallsten commented on #1985
I need those because of reasons: https://github.com/angular/angular/issues/37903
But it still didn't help:
[code]

[2020-11-17 14:03] JonWallsten commented on #1985
The issue has to be that they are resolving everything twice in row as you can see in the logs I posted a few posts above?

[2020-11-17 14:06] evilebottnawi commented on #1985
I don't know :disappointed: I even reproduce it, it think you need angular team here

[2020-11-17 14:07] JonWallsten commented on #1985
Let me try on another computer. Maybe something is cached or so in my work computer.

[2020-11-17 14:23] JonWallsten commented on #1985
Can I guess you're running on Mac? Because I don't get the callbacks issue on my Mac. But I do get the runtime issue you ran into.

[2020-11-17 14:24] evilebottnawi commented on #1985
Linux/ubuntu

[2020-11-17 14:24] JonWallsten commented on #1985
Then it only seems to be a problem on Windows.

[2020-11-17 14:26] evilebottnawi commented on #1985
Based on
[code]

Something wrong with file system snapshot, let's do other

[2020-11-17 14:26] evilebottnawi commented on #1985
https://webpack.js.org/configuration/other-options/#infrastructurelogging

[2020-11-17 14:28] evilebottnawi commented on #1985
[code]

[2020-11-17 14:28] evilebottnawi commented on #1985
And upload files with logs here

[2020-11-17 14:35] JonWallsten commented on #1985
I don't get any logging at all. Do I have to add any CLI flags when running?
[code]

[2020-11-17 14:36] JonWallsten commented on #1985
Or did I put it in the wrong place?
![image](https://user-images.githubusercontent.com/5993909/99403381-b17ab780-28ea-11eb-9447-9591798ee687.png)

[2020-11-17 14:37] evilebottnawi commented on #1985
yep, all fine, strange you should have the logs

[2020-11-17 14:38] JonWallsten commented on #1985
External or in the console?

[2020-11-17 14:38] evilebottnawi commented on #1985
in console

[2020-11-17 14:39] JonWallsten commented on #1985
[code]

[2020-11-17 14:41] evilebottnawi commented on #1985
Can you try run it simple build (not serve)?

[2020-11-17 14:43] JonWallsten commented on #1985
Same result! :(

[2020-11-17 14:44] evilebottnawi commented on #1985
I reproduced the problem

[2020-11-17 14:44] evilebottnawi commented on #1985
Great

[2020-11-17 14:45] evilebottnawi commented on #1985
Yep, only windows related

[2020-11-17 14:46] evilebottnawi commented on #1985
a lot of time has been spent, we should solve it :smile: WIP

[2020-11-17 14:46] JonWallsten commented on #1985
Woho! Finally! Please let me know if you need anything more.
https://github.com/angular/angular-cli/issues/19351 exists if you need to ask Angular team to do anything.

[2020-11-17 14:47] JonWallsten commented on #1985
Yep! It was not easy to figure out I had to create a circular dep issue in Angular do reproduce it!
Thanks for your time and patience!

[2020-11-17 15:51] evilebottnawi commented on #1985
hm, if you comment all imports and `exports` in `material-design.module.ts`, all works fine

[2020-11-17 15:58] JonWallsten commented on #1985
Yeah, I figured that was the case. All external modules seems to be resolved by app.module.ts. But we need that module since components from it can be used in templates and hence not imported explicitly. So the same imports from the material modules is also added by angular due to their way of supporting nested components. So they are resolving the same file twice, even though in the source code y

[2020-11-17 16:02] evilebottnawi commented on #1985
I think something wrong with regexp, if it didn't work then we would have the same problem on linux/macos

[2020-11-17 16:04] evilebottnawi commented on #1985
@JonWallsten Can you invite @sokra to repo too?

[2020-11-17 16:08] JonWallsten commented on #1985
True! Sokra is now also invited.

[2020-11-17 20:30] gimmi commented on #2111
This is the relevant part of my `pacjage.json`

[code]

[2020-11-18 11:10] evilebottnawi commented on #2111
env is always object in webpack@5, it is breaking change, so in this case `production` is boolean argument

[2020-11-18 11:13] gimmi commented on #2111
Yes my point is that, given that this is a breaking change, maybe it is a good idea to put it somewhere in [To v5 from v4](https://webpack.js.org/migrate/5/)

[2020-11-18 11:29] evilebottnawi commented on #2111
There are a lot of breaking changes, previously developers do not adding notes about what they changed so I can't collect all breaking changes :disappointed:

[2020-11-18 15:42] sppatel opened #2121 "caching failures with webpack serve when pointing to a specific config file"
# Bug report

**What is the current behavior?**

If you change the name of your webpack configuration file and specify it with `webpack serve --config [filename]` you get caching errors in the console..

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

Setup a webpack dev configuration where configuration X in extends from another configuration and merged thoug

[2020-11-19 08:31] 578691200 commented on #2001
I have the same probem

[2020-11-19 11:51] chrishaack422 commented on #1993
you are right

[2020-11-19 14:18] evilebottnawi commented on #2121
@anshumanv It is related to `default` cache with the `filesystem` type and adding `buildDependencies`, we should always add absolute path

[2020-11-19 14:18] evilebottnawi commented on #2121
/cc @webpack/cli-team high priority

[2020-11-19 14:21] anshumanv commented on #2121
Will take a look

[2020-11-19 18:12] JonWallsten commented on #1985
@evilebottnawi: https://github.com/angular/angular-cli/issues/19351#issuecomment-730541534

[2020-11-19 18:24] karinathomasbbc opened #2122 "Infinite loop / build timing out when running NODE_ENV=production webpack"
**Describe the bug**

We are seeing an infinite loop when running `NODE_ENV=production webpack`

**What is the current behavior?**

**To Reproduce**

Steps to reproduce the behavior:

- Checkout the following repo: https://github.com/bbc/simorgh
- `git clone https://github.com/bbc/simorgh.git && cd simorgh`
- `git checkout dependabot/npm_and_yarn/webpack-cli-4.2.0`
- `npm install`
- `npm run build

[2020-11-19 18:48] sokra commented on #1985
The diff is interesting. The code was written in previous way to avoid allocating an array when resolve result can be provided synchronous from cache. Maybe something tries to resolve within the resolver so it's kind of nested. Maybe delaying the real resolve call with process.nextTick can also fix it without the additional allocation in the cached case.

[2020-11-19 19:20] JonWallsten commented on #1985
@sokra: But is the resolver really fully synchronous? The issue seems to be happen when the same issuer tries to resolve the same file twice in a row. And with a slight delay I managed to get it to work. Still not sure why it works on Unix but not Windows though?

[2020-11-20 06:47] mihailthebuilder commented on #2001
Had the same problem, fixed it by just using `webpack serve` without `--open` or a browser value.

[2020-11-20 07:19] Amstrong commented on #2001
Yes, and you can use --open 'nameOfYourBrowser' in my case

--open 'google Chrome'

[2020-11-20 07:55] Hyuk commented on #2001
`webpack serve --open chrome` will fix the issue

[2020-11-20 08:52] JonWallsten commented on #1985
@evilebottnawi/@sokra: I have a question. I was debugging the code again to try to understand what's going on. But there's one thing I still don't understand. I added some logging to the code and choose one single file to track. The result is shown below.
As you can see all the requests after the first one for the same identifier is pushed to the stack and then we return.
So why is `done` called t

[2020-11-20 08:54] mihailthebuilder commented on #2001
@Amstrong @Hyuk both your suggestions throw the following error for me:
`ℹ ｢wds｣: Project is running at http://localhost:8080/
ℹ ｢wds｣: webpack output is served from undefined
ℹ ｢wds｣: Content not from webpack is served from ./dist
node:events:304
      throw er; // Unhandled 'error' event
      ^

Error: spawn chrome ENOENT
    at Process.ChildProcess._handle.onexit (node:internal/child_process:2

[2020-11-20 09:23] ziven27 opened #2125 "webpack 5 env is an array not a object"
# Bug report
![image](https://user-images.githubusercontent.com/7261176/99783066-e4c07f00-2b54-11eb-8dd0-d50d12a8be9d.png)

[code]

**What is the current behavior?**

the `evn` turn out to be an array but object is expect

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

object is expect

**Other relevant information:**
webpack versi

[2020-11-20 11:03] evilebottnawi commented on #1985
Still on my roadmap, sorry for delay, I think somebody call callback twicy

[2020-11-20 11:14] evilebottnawi commented on #2001
@martinoppitz you don't have chrome or your browser have another name, we should improve error reporting

[2020-11-20 11:15] anshumanv commented on #2125
Can you provide webpack-cli version?

[2020-11-20 12:17] JonWallsten commented on #1985
No worries, we're not in a hurry. I'm just curious about this.
If we know that the callback for the second and third request is already resolved when the first request enters `done`, why is it so bad just returning and not do anything when `callbacks === false`?

[2020-11-20 12:34] sokra commented on #1985
yes the log clearly looks like `done` is called twice. So something in the resolver is calling the callback twice...

[2020-11-20 13:05] evilebottnawi commented on #1985
@JonWallsten Good questions, we can do it, but after this plugins can't catch this situation and it will be lead to unexpected result

[2020-11-20 14:04] JonWallsten commented on #1985
![image](https://user-images.githubusercontent.com/5993909/99808619-6c03f780-2b41-11eb-8b97-117f4910e460.png)

Like @evilebottnawi realized a bit further up is that the issue occur when two different modules is trying to resolve the same file at the same time.
Resolve TapAsync: ~\src\app\app.module.ts requesting @angular/material/dialog
Resolve TapAsync: ~\src\app\material-design.module.ts request

[2020-11-20 15:19] evilebottnawi commented on #2122
Looks at warnings:
[code]

It is very bad, you need to fix it, maybe even add tests to catch this ploblems, ideally you should not have warhings/errors in your build, it is very easy to tests and catch problems with updating.

There is no infinity loop, you write files inside directories which you watch (no magic :mage: ), so webpack starts compilation again.

This file every time changed `node_mo

[2020-11-20 15:34] JonWallsten commented on #1985
![image](https://user-images.githubusercontent.com/5993909/99818008-f4889500-2b4d-11eb-966e-c6b6492b1d8a.png)
[code]
So it tries to create a snapshot for the same file twice. The callback when the the snapshot is created is `done`, hence it's called twice.
The stacktrace up untill that point is really tough to follow.
[code]

[2020-11-20 15:36] JonWallsten commented on #1985
What I don't understand is, since the caching is async, where are we supposed to handle the second call right after the first one? Should we check before creating a snapshop if one is already in progress?

[2020-11-20 15:44] evilebottnawi commented on #2122
Also my recommendation to add the `name` for configuration, you will see:
[code]

it is more readable

[2020-11-20 15:52] evilebottnawi commented on #2122
But here the interesting problem, webpack@4 has bug, when some of configuration have `watch: true` it run watch for both compilations, fixed for v5, workaround (in `webpack.config.client.js`):
[code]

[2020-11-20 15:52] evilebottnawi commented on #2122
Feel free to feedback

[2020-11-20 15:55] sokra commented on #1985
I found the bug. I'll send a bugfix...

[2020-11-20 15:56] sokra commented on #1985
I found the bug. I'll send a bugfix...

[2020-11-20 16:11] JonWallsten commented on #1985
Yeah, I would have never ever found that one! Thanks!
Have a nice weekend!

[2020-11-20 16:14] sokra commented on #1985
fixed in https://github.com/webpack/enhanced-resolve/releases/tag/v5.3.2

[2020-11-20 16:40] sokra commented on #1985
Bug is triggered when a sync fs access is done while an async fs access is in progress.

[2020-11-20 16:42] sokra commented on #1985
btw. @ngtools/webpack has a pinned dependency on enhanced-resolve 5.3.1...

[2020-11-20 16:43] JonWallsten commented on #1985
@sokra I'll make sure they fix that!

[2020-11-20 16:51] evilebottnawi commented on #2121
WIP

[2020-11-21 01:45] ziven27 commented on #2125
"webpack-cli": "3.3.12"

[2020-11-21 01:45] ziven27 commented on #2125
it's string for a single value

[2020-11-21 14:40] anshumanv commented on #2125
Can you try upgrading to latest CLI?

The format you're using now is only supported in old CLI, for v3 you need to do `--env.production --env.NODE_ENV=local`

[2020-11-22 00:16] Amstrong commented on #2001
@mihailthebuilder Can you share the running script in package.json?. I clone your repository to fix the error, and the `npm run start` works and modify the script by `webpack serve --open chrome` and works too.

[2020-11-22 07:26] rajivbandaru97 commented on #1602
npm run build

internal/modules/cjs/loader.js:883
  throw err;
  ^

Error: Cannot find module 'v8-compile-cache'
Require stack:
- C:\Users\lenovo\AppData\Roaming\npm\node_modules\webpack-cli\bin\cli.js
- G:\shareip\vuedj\node_modules\webpack\bin\webpack.js
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:880:15)
    at Function.Module._load (internal/modules/cjs/loader.js:72

[2020-11-22 07:34] mihailthebuilder commented on #2001
The running script in package.json is `"start": "webpack serve"`. It works as it is indeed, but I just modified it to `"start": "webpack serve --open chrome"` and I'm still getting the error when I then do `npm run start` in the CLI.

[2020-11-23 13:53] karinathomasbbc commented on #2122
Hi @evilebottnawi, thanks for your comments. We have resolved it by setting `watch: false` in `webpack.config.client.js`

[2020-11-23 13:53] #2122 closed

[2020-11-23 13:55] evilebottnawi commented on #2122
@karinathomasbbc Anyway changing something in `node_modules` is very bad, PnP will be broken, cache will be ineffective + it is unsafe, because webpack@5 will load always old version of file

[2020-11-24 08:49] g8up commented on #312
I defined a simple webpack `Banner Plugin`:
[code]

[2020-11-24 19:13] jordan-brookman opened #2134 "Error: Cannot read property 'length' of undefined when running command npm install webpack-dev-server --save-dev"
**Describe the bug**

When I run the command `npm install webpack-dev-server --save-dev` the following error is thrown: `Cannot read property 'length' of undefined`

**What is the current behavior?**

![Screen Shot 2020-11-24 at 14 13 02](https://user-images.githubusercontent.com/62706808/100140634-3a4fa100-2e5f-11eb-889a-bd22f118d693.png)

**To Reproduce**

Steps to reproduce the behavior:

See a

[2020-11-25 11:44] evilebottnawi commented on #2134
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Please provide reproducible test repo or full stack of error

[2020-11-25 11:44] #2134 closed

[2020-11-25 11:45] evilebottnawi commented on #2134
And it is npm bug, please report them about it

[2020-11-26 16:03] dragonDScript opened #2138 "Webpack --json flag fails when doing --watch"
# Bug report

**What is the current behavior?**
If the --json flag specified together with the --watch flag, and you save the output to a file by doing > file.json,
[code]
The old file.json will not be overwritten by the new build. Instead, it will be placed below, so there are JSON Syntax errors.

**What is the expected behavior?**
1. The file.json file is overwritten with the webpack build infor

[2020-11-26 16:05] alexander-akait commented on #2138
No problems with webpack itself herem why you need json in watch?

[2020-11-26 16:05] dragonDScript commented on #2138
I need to get the hash. Btw, this is webpack stuff because this is a builtin feature.

[2020-11-26 16:11] alexander-akait commented on #2138
this is webpack-cli stuff, webpack don't have CLI

[2020-11-26 16:12] dragonDScript commented on #2138
Oh! I thought that webpack had its own CLI. Sorry, I will reopen this in the webpack-cli repository. Thank you for being so fast.

[2020-11-26 16:13] dragonDScript commented on #2138
Uhm It's in webpack-cli already uhmm....

[2020-11-27 10:17] tdammers opened #2140 "Output from `webpack --help` is mangled"
# Bug report

**What is the current behavior?**

Terminal output from `webpack --help` looks mangled:

- Excessive newlines
- Strange column sizing / layout
- Terminal escape codes retained when piping into something that is not a TTY (e.g. `| less`; `| more` works, but presumably due to a happy accident, as terminal escapes are also retained, it just so happens that `more` doesn't break the termi

[2020-11-27 11:43] alexander-akait commented on #2140
We already do it only when TTY enabled

And we already do it

[2020-11-27 11:46] alexander-akait commented on #2140
Please say what you want to see, you have a very thin columns, which is why you get this look

[2020-11-27 14:04] tdammers commented on #2140
Please take a look at those screenshots.

The `|less` one illustrates how output consumed by something that is not a TTY contains terminal escapes. The same escapes are also present when piping output to `xclip` and then pasting from the clipboard into, say, `leafpad`. So if webpack already checks for TTY output, then that check isn't working.

The others illustrate the "excessive newlines" proble

[2020-11-27 14:13] snitin315 commented on #2140
I think we can do -

 `webpack --help` show basic options help

`webpack --help=advance` show advance help will all 250+ options

[2020-11-27 14:16] alexander-akait commented on #2140
@snitin315 yep, I think we need improve this:
- `webpack --help` show basic + top level core flags (like `target`/etc - i.e. only one word)
- `webpack --help=advance` should all flags

[2020-11-27 14:17] alexander-akait commented on #2140
How I can reproducible it?

[2020-11-27 14:17] alexander-akait commented on #2140
I found it is terminal problem

[2020-11-27 14:18] alexander-akait commented on #2140
we rely on `process.stdout.isTTY`, so we can't do something here, if it is try it is TTY

[2020-11-27 14:21] tdammers commented on #2140
Run `webpack --help | less` on one of the terminals I mentioned, sized to approx. 80 columns wide.

[2020-11-27 14:22] alexander-akait commented on #2140
@tdammers thanks, I think we will improve this in future

[2020-11-27 14:22] tdammers commented on #2140
That seems unlikely.

None of the other programs I tried have this problem, while webpack does, and consistently so on 4 (!) different terminal emulators (urxvt, xterm, gnome-terminal, konsole).

[2020-11-27 14:23] alexander-akait commented on #2140
@tdammers maybe you can also provide small example of command where I can see the problem?

[2020-11-27 14:25] tdammers commented on #2140
Something is clearly wrong though, because even if I send the output into a file (which is not a TTY by any logic), the escapes are still there:

[webpack-help.txt](https://github.com/webpack/webpack-cli/files/5608234/webpack-help.txt)

So either the code doesn't actually use `process.stdout.isTTY`, or the implementation of `process.stdout.isTTY` is incorrect.

[2020-11-27 14:27] alexander-akait commented on #2140
Implementation of this from `Node.js`, so we can't do something here, anyway if you provide steps to reproduce I will investigate it deeply and say why it is happens

[2020-11-27 15:17] #2121 closed

[2020-11-27 17:14] tdammers commented on #2140
Bit of evidence here:

![istty](https://user-images.githubusercontent.com/1434567/100472155-fc12e580-30db-11eb-87e3-d193b0a1e16d.png)

In other news, `process.stdout.isTTY` is `true` when the script is run directly from a shell, `undefined` when piped through `more` or `head`. I've also tried `less` and `xclip`; in both cases, I get `undefined`. `isTTY` is pretty much working as intended (though I

[2020-11-29 03:48] trusktr commented on #1622
The manual, just in case:

[2020-11-29 03:48] trusktr commented on #1622
https://nodejs.org/docs/latest/api/esm.html

[2020-11-29 04:48] trusktr commented on #1622
@clshortfuse You suggestion isn't working with the latest Webpack (I think).

This is my config:

[code]

[code]

All fine, the config looks good. Now when I run webpack I get an error:

[code]

looks like the latest webpack is running the config file through a custom VM, and not providing the needed ESM callback.

[2020-11-29 12:08] snitin315 commented on #2140
WIP

[2020-11-30 12:05] gauravkrp commented on #2001
`"dev-server": "webpack serve --open chrome"`

This works for me, on a windows 10 machine with NodeJs 15 and webpack 5

[2020-11-30 12:08] snitin315 commented on #2001
@gauravkrp can you try with webpack-dev-server@next

[2020-11-30 15:11] onesmusmuna commented on #2001
I have removed  `--open` and then opened my browser manually and when to `http://localhost:8080/` Now it works just fine.

[2020-11-30 17:03] snitin315 commented on #2138
Can you try -

`webpack --json=file.json --watch`

[2020-12-01 04:40] anshumanv commented on #2125
Closing, feel free to reopen if the problem persists.

[2020-12-01 04:40] #2125 closed

[2020-12-01 14:49] #2019 closed

[2020-12-01 16:33] djflex68 commented on #1622
Having the same issue.
All closed issues relative to this problem reference the workaround quoted here.
But that workaround throws error `[ERR_VM_DYNAMIC_IMPORT_CALLBACK_MISSING]: A dynamic import callback was not specified.` as stated by @trusktr
For now we just cannot use mjs modules in our app, although they are officially supported by node since version 13.

[2020-12-02 08:18] buglessir commented on #2001
remove `--open` from `"start": "webpack serve --open"` and add that into your `webpack.config.js`:
[code]
in this case, that opens your default browser

[2020-12-02 15:31] xiaojingzhao opened #2164 "Unnecessary params of `await cli.run(parsedArgsOpts, flags);` in "/lib/bootstrap.js""
**Describe the bug**

Hi, I was reading code recently. I found in ["lib/bootstrap.js" row 68](https://github.com/webpack/webpack-cli/blob/1398295cd8f3d952fb23cd2584459b01f6ba581b/packages/webpack-cli/lib/bootstrap.js#L68)

[code]

It seems that `flags` is unnecessary here? Because in ["webpack-cli.js" row 584,](https://github.com/webpack/webpack-cli/blob/0339a101be852ab6e020c8b814f382b2b06ab18e/pa

[2020-12-02 15:34] anshumanv commented on #2164
yep, will remove it, thanks for the issue!

[2020-12-03 05:36] #2164 closed

[2020-12-03 15:48] alexander-akait commented on #2051
Fixed for webpack-dev-server@4-beta.0

[2020-12-03 15:48] #2051 closed

[2020-12-04 00:15] snoack opened #2175 "--no-devtool doesn't work"
**Describe the bug**

According to the [documentation](https://webpack.js.org/api/cli/#negated-flags) there is a `--no-devtool` flag. However, if povided on the command line `webpack` fails with an unknown argument error.

**What is the current behavior?** / **To Reproduce**

[code]

**Expected behavior**

`webpack --no-devtool` should complete successfully, while not generating any source maps.

[2020-12-04 04:11] jamesgeorge007 commented on #2175
It will be available in the next release #2132.
cc @alexander-akait

[2020-12-04 11:23] alexander-akait commented on #2175
Yes, it will be available in the next release

[2020-12-04 11:23] #2175 closed

[2020-12-04 22:11] wilmer11 commented on #2001
Según lo nuevo de webpack en su documentación, a la hora de configurar el webpack-dev-server hay que usar así la estructura del objeto

devServer:{
        contentBase: './dist',
        compress: true, // este es el importante, puesto que al compilar, resulta con warning ya que le pide comprimir el archivo
        open: true,
    	port: 5000
    },

[2020-12-05 12:32] dragonDScript commented on #2138
OK, I'm back with this. Setting --json to =file.json didn't work.

[2020-12-05 12:48] alexander-akait commented on #2138
@dragonDScript Can you clarify about `OK, I'm back with this. Setting --json to =file.json didn't work. Any file called file.json was created.`?

[2020-12-05 12:48] dragonDScript commented on #2138
@snitin315 mentioned that I should try to execute `webpack --json=file.json --watch`

[2020-12-05 13:03] alexander-akait commented on #2138
Yep, doesn't work?

[2020-12-05 13:11] dragonDScript commented on #2138
Nope.

[2020-12-05 13:14] alexander-akait commented on #2138
What is problem?

[2020-12-05 13:25] dragonDScript commented on #2138
--json=file.json flag is not emitting a file called file.json

[2020-12-05 13:26] alexander-akait commented on #2138
/cc @snitin315

[2020-12-05 13:29] snitin315 commented on #2138
I will check once locally.

[2020-12-06 10:23] dragonDScript commented on #2138
@snitin315 Does this work? I will make a sample project asap

[2020-12-06 10:27] dragonDScript commented on #2138
In my sample project (https://github.com/dragonDScript/webpack-json-flag-error) it's working correctly. Hmmm, this is weird

[2020-12-06 12:24] snitin315 opened #2196 "args are not correctly applied when the webpack.config.js exports an array of configs"
When having something like

[code]

in webpack config, the command line arguments have no effect. E. G. `--output-pathinfo` should switch on pathinfo for both configs.

_Originally posted by @sokra in https://github.com/webpack/webpack/issues/12125#issuecomment-739491939_

[2020-12-07 02:41] snitin315 commented on #2196
It seems already fixed in master. I'm adding some tests for the same.

[2020-12-07 10:35] #2196 closed

[2020-12-07 11:07] alexander-akait commented on #2138
@dragonDScript yep, it should work, maybe you can provide more infomation

[2020-12-07 14:01] dragonDScript commented on #2138
I will research myself. Thank you.

[2020-12-07 14:01] #2138 closed

[2020-12-08 04:31] Amstrong commented on #2001
En realidad si, lo puedes lograr así. Solo que cambio la forma explicita como estaba definida la sintaxis.

[2020-12-08 10:09] alexander-akait commented on #2140
@snitin315 not resolved,

need solve

[2020-12-08 13:12] gauravdas014 opened #2216 ".gitignore contains package-lock.json , but it does not exist"
## Issue:
.gitignore contains package-lock.json, but it does not exist in the repo. As yarn is being used so there should not be package-lock.json isn't it?

[2020-12-08 13:22] alexander-akait commented on #2216
No, we don't need package-lock.json because we use yarn.lock

[2020-12-08 13:22] #2216 closed

[2020-12-08 13:27] gauravdas014 commented on #2216
@alexander-akait sir, that's what I am saying, we don't need package-lock.json, so this should not be there in .gitignore also, right?

[2020-12-08 13:29] snitin315 commented on #2216
We ignore it to prevent new contributors from accidentally committing it.

[2020-12-08 13:31] gauravdas014 commented on #2216
@snitin315 okay, got it!

[2020-12-08 13:43] alexander-akait commented on #2111
Sorry, let's close

[2020-12-08 13:43] #2111 closed

[2020-12-08 13:45] alexander-akait commented on #1986
Fixed in `webpack-dev-server@4-beta.0` (we are working on the next beta, eta is current month)

[2020-12-08 13:45] #1986 closed

[2020-12-08 13:45] alexander-akait commented on #1986
Feel free to feedback

[2020-12-09 14:28] gauravdas014 opened #2221 "Typo in webpack-cli/packages/webpack-cli/bin/cli.js"
`sucessfully` is written instead of `successfully`.
<br/>
<br/>
![ss](https://user-images.githubusercontent.com/51530678/101642023-805c5580-3a58-11eb-916b-f9dc05ff6872.jpg)

[2020-12-09 15:43] snitin315 commented on #2221
@gauravdas014 do you wanna send a PR fixing it?

[2020-12-09 15:55] gauravdas014 commented on #2221
yes. I would like to send a PR fixing it.

[2020-12-10 05:23] snitin315 commented on #2221
Yep `master`

[2020-12-11 13:57] rendall commented on #2110
Can confirm this for both Windows 10 and Ubuntu 14.04

[2020-12-11 14:04] rendall commented on #2110
Interestingly, there is this output. Not sure if it's related, but it mentions `yeoman`:
[code]

[2020-12-11 14:25] rendall commented on #2110
If you select `No` to the question `Will you use one of the below JS solutions?` then an `.yo-rc.json` file is created, but `webpack.config.js` remains `module.exports = {};`

The content of the `.yo-rc.json` file is:
[code]

[2020-12-11 17:12] gauravdas014 opened #2233 "Error in exiting from the options which appears on `npx webpack init`"
**Describe the bug**
When I tried exiting from `npx webpack init` it showed some error. I was expecting a smooth exit, but it wasn't

**What is the current behavior?**
On exiting from the options on `npx webpack init` error is thrown

**To Reproduce**
`npx webpack init`
`ctrl + c` to exit

**Expected behavior**
The exit should be smooth with no error

**Screenshots**
![Screenshot (570)](https://us

[2020-12-15 01:42] ZebraFlesh commented on #1216
This is a breaking change that really needs to be called out as such. In addition, I don't think webpack-cli 4.x can claim compatibility with webpack v4 with this change -- the `--env.prod=foo` form is explicitly called out [in the webpack v4 docs](https://v4.webpack.js.org/api/cli/#environment-options). If there is no desire to undo this change, then the `peerDependencies` should change.

[2020-12-15 13:36] beckerei opened #2242 "outputPath is not respected with 4.2.0"
**Describe the bug**

We can server our repostiory against our production build with this config. I did cut some (hopefully useless) information, to make it easier to get.

[code]

Using HtmlWebpackPlugin with some pretty boring index.ejs file

**What is the current behavior?**

Before 4.2.0 everything work as expected:

Scripts were loaded from the `/app`, index was served from /

Now the html co

[2020-12-15 13:44] alexander-akait commented on #2242
How you run server?

[2020-12-15 14:29] beckerei commented on #2242
[code]

`corss-env` should not matter

[2020-12-15 14:35] alexander-akait commented on #2242
Can you try `--public-path /`?

[2020-12-15 14:51] beckerei commented on #2242
I get `[webpack-cli] Unknown argument: --public-path` regardless of how I pass the `/`

[2020-12-15 14:55] alexander-akait commented on #2242
Yep, bug, need to fix, as workaround you can set `output.publicPath: '/'` for `serve` command:
[code]

and use `process.env.WEBPACK_MODE` in `webpack.config.js`

[2020-12-15 14:56] snitin315 commented on #2242
Maybe it's `--output-public-path /`

[2020-12-15 15:13] alexander-akait commented on #2242
Anyway I think it is fixed in master, I will add tests in near future

[2020-12-15 15:25] beckerei commented on #2242
`output-public-path` doesn't work either.

But wow, I was not expecting this 🚀
Let me know if I can help you out, testing a beta release or so.

[2020-12-16 10:30] xccjk commented on #1918
I still have this problem!

"webpack": "^5.10.3",
"webpack-cli": "^4.2.0",
"webpack-dev-server": "^3.11.0"

node: v14.15.0
npm: 6.14.8
mac: 10.14.6

[github](https://github.com/xccjk/webpack-demo1)

[2020-12-16 11:00] pedro-w commented on #1918
@xccjk  I did a fresh checkout of your https://github.com/xccjk/webpack-demo1 and didn't see this problem.

I did see a "DEP_WEBPACK_COMPILATION_ASSETS" but this comes from `html-webpack-plugin`

* node v14.15.1
* npm 6.14.8
* Windows 10 x64

[2020-12-16 11:34] xccjk commented on #1918
Thank you very much for your reply, but after removing `html-webpack-plugin`, I still have the same problem. I updated the github address after removing redundant packages

- node v14.15.0
- npm 6.14.8
- mac 10.14.6

[2020-12-17 14:12] sppatel commented on #2121
@alexander-akait has this fix been released yet?  If so which version?  I am running the latest and still experiencing the issue.

[2020-12-17 14:29] alexander-akait commented on #2121
@sppatel not released yet, ETA is today/tomorrow

[2020-12-17 19:28] shwetaarshad commented on #1932
nps is executing `default` : nps webpack
nps is executing `webpack` : nps webpack.server
nps is executing `webpack.server` : webpack-dev-server -d --devtool '#source-map' --inline --env.server
[webpack-cli] Unknown argument: #source-map
[webpack-cli] Unknown argument: --inline
[webpack-cli] Unknown argument: --env.server
The script called "webpack.server" which runs "webpack-dev-server -d --devtoo

[2020-12-17 19:29] shwetaarshad commented on #1932
How can I resolve above with below webpack packages:

"webpack": "^5.11.0",
"webpack-cli": "^4.2.0",
"webpack-dev-server": "^4.0.0-beta.0",

[2020-12-18 15:38] iuryfranky opened #2247 "webpack-cli init scaffold does not work"
I am using yeoman-generator and @webpack-cli/init to scaffold a project , then I got webpack.config.js and .yo-rc.json files , the content of .yo-rc.json is ok, but  webpack.config.js  has only one line
[code]
I found in @webpack-cli\utils\lib\modify-config-helper.js
[code]
I think the issue is caused by the scaffold project name != name of the project which use that scaffold project , so I change

[2020-12-18 15:42] alexander-akait commented on #2247
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Please format your issue, it is not readable, respect time of other developers

[2020-12-20 09:36] MejanH commented on #2001
**Two Ways Worked for me**

Thanks to previous answers

1. `webpack serve --open msedge`
2. `webpack serve`

First Option will open the link on the browser. So why not?

[2020-12-20 20:37] Bilge commented on #2247
I have the same problem. Generated file just contains `module.exports = {}`. What even is the point of this command if that's all you get at the end of it? Moreover, the `(Use arrow keys)` prompt just moves the flashing cursor around the console on Windows under mintty. It is not possible to know which menu item is selected.

[2020-12-22 08:29] belmab commented on #1212
What was the solution?

[2020-12-22 08:57] AsebWebDev commented on #1216
So, setting up the enviroment variables like this is the way to go: `--env prod=foo` - no dot notation.

[2020-12-22 10:08] snitin315 commented on #1216
@AsebWebDev yep exactly!

[2020-12-23 14:40] gmarcos87 opened #2253 "webpack init - Offer to install Prettier"
**Is your feature request related to a problem? Please describe.**

I have noticed that if one creates a project from scratch and does `webpack init` the message always ends with `"File is not properly formatted because you don't have prettier installed, you can either install it or format it manually"`.

**Describe the solution you'd like**

Maybe instead of ending that way there could be a previ

[2020-12-23 22:19] Creatoon opened #2256 "Articles mistake in the documentation."
**Describe the bug**
If you look at the second line of the screenshot , you can see "the" used before word "issue"

**To Reproduce**

Steps to reproduce the behavior:

1- Visit https://github.com/webpack/webpack-cli/blob/master/.github/CONTRIBUTING.md#your-first-contribution
2- In the 2nd paragraph you can see the wrong article used before the word "issue"

**Current behavior**

"After you've crea

[2020-12-24 12:14] alexander-akait commented on #2256
Avoid creating docs issues, please send a fix

[2020-12-24 12:49] scinos opened #2258 "Syntax `webpack <name>=<file>` no longer supported"
**Describe the bug**

webpack-cli@4.2.0 doesn't seem to support to pass a pair `<name>=<file>`, despite https://webpack.js.org/api/cli/#without-configuration-file saying it is supported.

**What is the current behavior?**

After upgrading to `4.2.0`, that syntax doesn't work anymore.  `webpack editor=./src/editor.js viewer=./src/viewer.js` will fail with:

[code]

In previous versions (tested with

[2020-12-24 12:53] alexander-akait commented on #2258
It was fixed, you got cached copy of docs (press ctrl + f5), this behavior was removed

[code]

/cc @chenxsan Why changes files don't invalidate page?

[2020-12-24 13:28] chenxsan commented on #2258
@alexander-akait Unfortunately It's how the Cache-First service worker works, the new service worker is still waiting for activation until all opened pages from the webpack.js.org are closed. We have introduced a refresh button in this pull request https://github.com/webpack/webpack.js.org/pull/4287 to work around it. But I guess it could still be annoying. Anyway we can remove the service worker

[2020-12-24 13:46] alexander-akait commented on #2258
@chenxsan Why do not change strategy? For example `stale-while-revalidate`? https://developers.google.com/web/tools/workbox/modules/workbox-strategies

[2020-12-24 14:12] chenxsan commented on #2258
[Precaching](https://github.com/webpack/webpack.js.org/blob/master/src/sw.js#L10) doesn't support specifying other strategies but Cache First, see https://github.com/GoogleChrome/workbox/issues/1767, otherwise I would obviously prefer Network first strategy when I was migrating offline plugin to workbox. But yes, Cache-first is bad for a documentation site, and that refresh button is just an escap

[2020-12-24 14:58] alexander-akait commented on #2258
Thanks for help

[2020-12-24 15:09] scinos commented on #2258
FWIW, after doing a hard refresh, clearing the cache, trying incognito and even a new browser, I still see `If you pass a pair in the form <name>=<request>, you can create an additional entry point.` in the docs.

It is actually in the source, in https://github.com/webpack/webpack.js.org/edit/master/src/content/api/cli.md

[2020-12-24 15:13] alexander-akait commented on #2258
Please create issue in docs site

[2020-12-24 15:13] alexander-akait commented on #2258
we can't fix it on our side, it is bug in docs

[2020-12-24 18:14] Creatoon commented on #2256
@alexander-akait Ok sir , sending a fix.

[2020-12-25 04:06] chenxsan commented on #2258
@scinos You are right, seems like syntax like `webpack editor=./src/editor.js viewer=./src/viewer.js` to create two bundles respectively is no longer supported in `webpack-cli` 4.

@alexander-akait do we have alternative way to do it under webpack-cli 4? Otherwise we need to remove those texts from the [source file](https://github.com/webpack/webpack.js.org/blob/master/src/content/api/cli.md#:~:te

[2020-12-25 12:02] alexander-akait commented on #2258
hm, let's reopen it will be usefull

[2020-12-25 12:03] #2256 closed

[2020-12-25 14:41] alexander-akait commented on #1489
Fixed in master:
[code]

Description should be improved on webpack-dev-server side

[2020-12-25 14:41] #1489 closed

[2020-12-25 14:43] alexander-akait commented on #885
Fixed in master, please use `--watch-options-stdin`, fixed for `serve` too

[2020-12-25 14:43] #885 closed

[2020-12-25 14:45] alexander-akait commented on #789
Fixed in master (https://github.com/webpack/webpack-cli/pull/2259/), please use `--watch-options-stdin` instead of `--stdin` or `--watch-stdin`, `serve` still supported `--stdin`, but it is deprecated and will be removed in `webpack-dev-server@4` in favor `--watch-options-stdin`, i.e. all commands for running webpack support `--watch-options-stdin`

[2020-12-25 14:45] #789 closed

[2020-12-25 14:47] alexander-akait commented on #839
Fixed in master, for ES modules supporting we have separate issue (we are supporting es modules syntax, but here bug on `v8-compile-cache`, hope I will fix it in near future), docs will be improved in near future

[2020-12-25 14:47] #839 closed

[2020-12-25 14:51] alexander-akait commented on #575
Fixed for `webpack@5`, you can use hooks to customize stats output, example of default plugin https://github.com/webpack/webpack/blob/master/lib/stats/DefaultStatsPrinterPlugin.js, also stats was refactored for webpack@5 and looks good, anyway if you have ideas how we can improve it better, please open an issue in webpack repo

[2020-12-25 14:51] #575 closed

[2020-12-25 14:54] alexander-akait commented on #1188
I think we can close it. Supported:
- webpack help <command> and webpack <command> --help
- webpack version <command> and webpack <command> --version
- webpack help and webpack --help (global output)
- webpack version and webpack --version (global output)

[2020-12-25 14:54] #1188 closed

[2020-12-25 15:27] alexander-akait commented on #1976
Fixed in master, we remove this behavior, because it was broken and never work as expected (we have to remove this before, but forgot about it, we are very sorry), you need provide `--config` right now

[2020-12-25 15:27] #1976 closed

[2020-12-25 15:29] alexander-akait commented on #2221
Fixed in master

[2020-12-25 15:29] #2221 closed

[2020-12-25 20:04] AviVahl opened #2262 "[v4.3.0] can no longer use --progress"
**Describe the bug**

Starting with v4.3.0, when passing --progress to either `webpack serve` or `webpack-dev-server`, execution fails.

**What is the current behavior?**
[code]

**To Reproduce**

Steps to reproduce the behavior:

Run the cli with `--progress`.

**Expected behavior**

Work like previous versions, showing progress of compilation when `--progress` is provided.

**Please paste the re

[2020-12-25 20:14] AviVahl opened #2263 "[v4.3.0] auto-detected local server url is broken (and breaks --open)"
**Describe the bug**

Starting with v4.3.0, when launching `webpack serve --open`, the detected server address is `http://[::]:8080/`.
I'm guessing this has something to do with ipv6 or similar.

**What is the current behavior?**

CLI output says `Project is running at http://[::]:8080/`, and --open launches browser with client failing with:
[code]

**To Reproduce**

Steps to reproduce the behavio

[2020-12-25 20:24] AviVahl commented on #2262
I just realized that while the previous version did accept `--progress`, it no longer printed the actual progress in console. Not sure if this was the expected behavior.

[2020-12-26 14:53] alexander-akait commented on #2263
This is very strange, because from half of the developers I hear that they want behavior as in Node.js, i.e. IPv6, others want the opposite, but this should not appears:
[code]

[2020-12-26 15:00] alexander-akait commented on #2263
To be honestly there is no bugs on webpack-cli side, here two things:
- default host in IPv6 (need dicussion)
- code for clients is not working on with IPv6 (easy to fix)

Let's move it in webpack-dev-server repo and fix it and do beta release

[2020-12-26 15:07] alexander-akait commented on #2262
Yep, it was bug, let's fix and do patch release

[2020-12-26 15:07] alexander-akait commented on #2262
It should work and should output progress

[2020-12-26 16:02] alexander-akait commented on #2233
Can't reproduce, can you provide more info?

[2020-12-26 16:04] alexander-akait commented on #2253
I don't think provide extra step for installation of prettier is good idea, we should reduce questions

[2020-12-26 16:23] alexander-akait commented on #2262
Found other problem with `--hot` and twice applied HotModuleReplacement plugin, let's do patch release tomorrow, I want to fix this too

[2020-12-26 16:27] #2262 closed

[2020-12-27 12:16] chenxsan commented on #2001
I believe this was already fixed in the latest `webpack-cli` 4.3.0.

[2020-12-27 12:35] chenxsan opened #2266 "npx webpack --help should not ask user to install webpack-dev-server"
**Describe the bug**

`npx webpack --help` should not ask user to install `webpack-dev-server`.

**What is the current behavior?**

When I run `npx webpack --help`, it prompts with:

✖ Would you like to install 'webpack-dev-server' package? (That will run 'yarn add -D webpack-dev-server') (Y/n)

**To Reproduce**

Steps to reproduce the behavior:

1. `git clone https://github.com/chenxsan/webpack-c

[2020-12-27 13:44] alexander-akait commented on #2266
Yep, let's fix

[2020-12-27 15:09] alexander-akait commented on #2001
Still valid, will be fixed in `4.3.1`

[2020-12-27 15:09] alexander-akait commented on #2001
We have big refactor, so I don't have time to fix some bugs, focus on serve and bugs

[2020-12-28 11:48] gmarcos87 commented on #2253
But the message is strange then, because it does not contribute anything, I could say the same about any other package that is not installed.
It's a simple detail that seems strange to me. I'm happy to continue using webpack :)
Thank you for your work!

[2020-12-28 13:01] alexander-akait commented on #2253
We can fix message like, webpack.config.js is not formatted due prettier is not installed (maybe better)

[2020-12-28 16:42] beckerei commented on #2242
I checked out the latest release (4.3.0). Our setup works again without any changes.

Thank you.

Despite these tiring times I wish you all the best for next year 🎉

[2020-12-28 16:46] alexander-akait commented on #2242
Let's keep open, I want to add tests for this case to avoid regressions

[2020-12-28 17:00] #2266 closed

[2020-12-29 01:36] lamqson opened #2272 "Error when run npm start: Class constructor ServeCommand cannot be invoked without 'new'"
(node:50249) UnhandledPromiseRejectionWarning: TypeError: Class constructor ServeCommand cannot be invoked without 'new'
    at run (/Users/sonlam/workspaces/octupi/raindrop/node_modules/webpack-cli/lib/utils/resolve-command.js:33:12)
    at Command.<anonymous> (/Users/sonlam/workspaces/octupi/raindrop/node_modules/webpack-cli/lib/utils/arg-parser.js:34:58)
    at Command.listener [as _actionHandl

[2020-12-29 11:48] alexander-akait commented on #2272
Please update all deps (check global too), we don't have `webpack-cli/lib/utils/resolve-command.js`

[2020-12-29 11:49] alexander-akait commented on #2272
You should update `webpack-cli` to the `4.3.0`

[2020-12-29 12:57] fgarcia commented on #1535
@snitin315 I am not sure if there is a regression regarding this feature or I did miss a detail about this feature.

In the latest release I see this message:

[code]

So the first part of the issue is OK but now all the nice reports/warnings from webpack are gone too

My original intention was being able to preserve the useful bits printed to stdout/stderr printed by a normal `webpack --progress`

[2020-12-29 12:59] alexander-akait commented on #1535
`--progress` write output in stderr

[2020-12-29 15:08] fgarcia commented on #1535
Not anymore, I've just tested the pipe method:

`NODE_ENV=production webpack --progress --json > /tmp/foo.json`

Before I could see the stderr from `--progress` printed to screen and the json report redirected. However that sacrificed the user-friendly report with the assets/sizes summary

Now with that line the progress does not show in screen (stderr) or the redirected file (stdout)

The end goa

[2020-12-29 15:19] alexander-akait commented on #1535
hm, yep, `webpack --progress=profile --json > stdout 2> stderr` should work, but stderr is empty, need to fix

[2020-12-29 15:22] shadowfoxish opened #2274 "CLI init not interactive"
**Describe the bug**
The cli init function is not interactive and immediately exits.

[code]
[code]

**What is the current behavior?**

When I run npx webpack-cli init, it prints some messages and immediately exits. It is not waiting for my input.

**Please paste the results of `webpack-cli info` here, and mention other relevant information**
Can't run `webpack-cli info` directly, `npx webpack-cli

[2020-12-29 15:25] alexander-akait commented on #2274
It means you terminal doesn't support interactive

[2020-12-29 15:34] shadowfoxish commented on #2274
Well that certainly would explain it. Maybe something VSCode didnt take into account.

Works in a standalone powershell. Integrated VS Code terminal didnt. Sorry to bother.

[2020-12-29 15:34] #2274 closed

[2020-12-29 17:42] alexander-akait commented on #2001
Fixed, please update `webpack-dev-server` to `3.11.1`

[2020-12-29 17:42] #2001 closed

[2020-12-29 19:55] lamqson commented on #2272
Thanks @alexander-akait. When I tried 4.3.0 I got this issue:
[code]

Please, advice.

Thanks.

[2020-12-30 05:45] chenxsan opened #2277 "`npx webpack server` asks me to install `server` package"
**Describe the bug**

I've made a typo when running `npx webpack serve` and it become `npx webpack server`,

[code]

This is sort of unexpected in my opinion since `server` is not a command supported by `webpack-cli`, I would expect it to throw an error telling me that `server` command is not supported. Otherwise I might install something else if I don't pay attention to it.

**What is the current

[2020-12-30 08:03] snitin315 commented on #2277
Yes need to improve the error reporting here.

WIP

[2020-12-30 08:48] snitin315 commented on #2277
So, we don't support the `webpack entry.js` syntax anymore.

/cc @alexander-akait

[2020-12-30 12:29] alexander-akait commented on #2272
Change:
[code]

Syntax - `webpack [command] [options]`

[2020-12-30 13:38] #1535 closed

[2020-12-30 13:43] alexander-akait commented on #2140
Fixed in v4.3.0, if you still have problems - feel free to feedback

[2020-12-30 13:43] #2140 closed

[2020-12-30 13:45] alexander-akait commented on #916
I think we don't need this, anyway feel free to feedback

[2020-12-30 13:45] #916 closed

[2020-12-30 13:47] alexander-akait commented on #717
We have separate issue and PR for this

Already supports, but not documented, we need do some improvements (I will do it in near future)

 We have separate issue for this

 Todo for tests also have own issues

 So let's close

[2020-12-30 13:47] #717 closed

[2020-12-30 13:48] alexander-akait commented on #1154
Docs was updated, anyway feel free to feedback

[2020-12-30 13:48] #1154 closed

[2020-12-30 14:16] alexander-akait commented on #2272
But, yes we need fix it

[2020-12-30 14:28] #2242 closed

[2020-12-30 19:05] codymikol opened #2278 "Cannot run --help"
**Describe the bug**

I am unable to run the command `webpack --help`

**What is the current behavior?**

When I run the command I get the following error

[code]

**To Reproduce**

Steps to reproduce the behavior:

I am just running `webpack --help`

**Expected behavior**

I will see the help menu

**Screenshots**

![image](https://user-images.githubusercontent.com/13606342/103375490-5e2e8400-4aa

[2020-12-30 19:31] codymikol commented on #2278
I can confirm this is not an issue in the previous version 4.2.0, only in 4.3.0

[2020-12-30 19:34] codymikol commented on #2278
going to bisect and see if I can find the problem commit

[2020-12-30 19:45] codymikol commented on #2278
When I build / run 4.3.0 locally it works fine, but when I pull from npm, I get the above error, does anyone else experience this as well?

[2020-12-30 20:33] solmstead25 commented on #2278
@codymikol

It is related to how the commands are being parsed before the options.

Running the sub-command (`externalBuiltInCommandsInfo` in the source) first results in the expected behavior. ie. `webpack b --help`

There is a default help option, but it isn't behaving as expected, I am assuming.

The change in the behavior of how options are being parsed resulted in behavior that I did not expe

[2020-12-30 20:51] snitin315 commented on #2278
I will look into it.

[2020-12-31 04:27] benpaodewoniu commented on #2278
I have same problem!

[2020-12-31 11:33] alexander-akait commented on #2278
Fixed in master

[2020-12-31 11:33] #2278 closed

[2020-12-31 11:37] alexander-akait commented on #986
bump

[2020-12-31 11:38] alexander-akait commented on #2278
Release will be today

[2020-12-31 15:12] alexander-akait commented on #1622
Solved on our side, but we have bug in `v8-compile-cache`, anyway you can use `DISABLE_V8_COMPILE_CACHE webpack --config ./webpack.config.mjs` and all will work fine

[2020-12-31 15:15] alexander-akait commented on #1622
https://github.com/zertosh/v8-compile-cache/issues/30

[2020-12-31 15:32] alexander-akait commented on #2277
Yes, syntax was removed due misleading

[2020-12-31 16:17] alexander-akait commented on #1261
I think we done https://github.com/webpack/webpack-cli/issues/1261#issuecomment-676096772, I think ask developers on invalid flags is not good idea, because most of developers use `scripts` and other runners, so it requires fix command/option in these files, it will be hard to implement (impossible)

If somebody want to more colors - PR welcome

[2020-12-31 16:17] #1261 closed

[2020-12-31 16:19] alexander-akait commented on #1089
I think we can close this, because migrate is deprecated and will be removed in the next major release (also it is not part of the default installation), so no need to focus on it, instead we should focused on `init`, also many migrations are impossible due complex changes

[2020-12-31 16:19] #1089 closed

[2020-12-31 16:47] #2277 closed

[2020-12-31 17:22] #1993 closed

[2020-12-31 17:36] alexander-akait commented on #2018
I will fix it in near future

[2021-01-01 10:56] snitin315 opened #2290 "Help output showing loader and plugin command twice"
**Describe the bug**
Help output is showing loader and plugin command twice.

**What is the current behavior?**
![Screenshot at 2021-01-01 16-23-25](https://user-images.githubusercontent.com/46647141/103437447-e39f6900-4c4d-11eb-91fc-e6bed3aedbed.png)

**To Reproduce**

Steps to reproduce the behavior:

- run `webpack --help`

**Expected behavior**
Should print all command once only.

**Screenshot

[2021-01-02 05:08] snitin315 commented on #2272
What are the steps to reproduce this behavior?

[2021-01-03 13:59] alexander-akait commented on #2272
Original issue should be fixed by updating webpack-cli to latest version, https://github.com/webpack/webpack-cli/issues/2272#issuecomment-752521198 require more complex logic for parsing args

[2021-01-03 18:24] #2290 closed

[2021-01-04 06:22] lamqson commented on #2272
Thanks a lot, @alexander-akait . It works with 4.3.1 with corrected command line.

[2021-01-05 10:10] jamesgeorge007 opened #2308 "Build fails if opted for mini-css-extract-plugin with webpack init"
**Describe the bug**
It is advised not to use `style-loader` and `mini-css-extract-plugin` together in the loaders chain. However, opting for `mini-css-extract-plugin` with `webpack init` keeps `style-loader` in the loaders chain. which results in the build to fail.

**What is the current behavior?**
<img width="830" alt="Screenshot 2021-01-05 at 3 41 14 PM" src="https://user-images.githubusercont

[2021-01-05 12:11] #2308 closed

[2021-01-05 16:13] #404 closed

[2021-01-05 23:12] starpit opened #2314 "@webpack-cli/serve version 1.2.1 seems to have removed all command line options supported by 1.2.0?"
**Describe the bug**

With 1.2.0, I can run `webpack serve --progress` or `webpack serve --config my/webpack.config.js`. Neither of these options work in 1.2.1.

**What is the current behavior?**
[code]

**To Reproduce**

Steps to reproduce the behavior:

1) install 1.2.0, type `npx webpack serve --help`, and see lots of options
2) install 1.2.1, type the same, and see none of those options

**Exp

[2021-01-06 05:29] goldhand commented on #2110
I've been experiencing several issues with webpack-scaffold. Not just this one (though I do get this).

When [specifying scaffold packages](https://www.npmjs.com/package/webpack-scaffold-demo), I consistently get the error:

`TypeError: self.prompt is not a function`

Node: 12.16.1
OSX: 10.14.6
webpack-cli@4.3.1

Also the instructions in the [tutorial](https://webpack.js.org/contribute/writing-a-s

[2021-01-06 11:39] snitin315 commented on #2314
Works for me. Make sure you have `webpack-dev-server` installed.

[2021-01-06 11:54] starpit commented on #2314
Below I am showing 1.2.1 (first section) versus 1.2.0 (second section). Observe how the output of `webpack serve -h` for 1.2.1 lacks any of the options shown in `webpack serve -h` for 1.2.0.

# With @webpack/serve@1.2.1

[code]

# With @webpack-cli/serve@1.2.0
$ npm init -y && npm install webpack@5.11.1 webpack-dev-server@3.11.0 webpack-cli@4.3.0 @webpack-cli/serve@1.2.0
...
$ npm list @webpack-cl

[2021-01-06 12:24] snitin315 commented on #2314
...
$ npm list @webpack-cli/serve
yo1@1.0.0 /Users/starpit/tmp/yo1
└─┬ webpack-cli@4.3.0
  └── @webpack-cli/serve@1.2.1

webpack-dev-server wasn't installed here. as can be seen in the dependencies graph. Check the output of `webpack version`.
try installing `webpack-dev-server` separately. -> `npm install webpack-dev-server`

[2021-01-06 12:28] alexander-akait commented on #2314
Reinstall deps, double check global packages, avoid `@webpack-cli/serve@1.2.0` installation directly, you don't need this

[2021-01-06 13:31] starpit commented on #2314
Howdy! Thanks for the help.

### webpack version

[code]

### Global packages

I just checked, and there is nothing webpack related in /usr/local/lib/node_modules

### re: avoiding direct installation

I would love to, and, up until the release of 1.2.1, we did not directly install it. You can see from my first example that I did not directly install `@webpack-cli/serve`. I only did so in the seco

[2021-01-06 13:33] alexander-akait commented on #2314
Still not work? Update `webpack-dev-server` to `3.11.1`

[2021-01-06 13:41] starpit commented on #2314
Aha! By using webpack-dev-server 3.11.1 and webpack-cli 4.3.1, the problem seems to be resolved. The problem we had was we didn't want to bump anything, we simply re-ran `npm install`, and some floating dependence on your side picked up `@webpack-cli/serve@1.2.1`, without a corresponding update to either `webpack-dev-server` or `webpack-cli`.

[2021-01-06 13:50] alexander-akait commented on #2314
Only fixes was in `https://github.com/webpack/webpack-dev-server/commits/v3.11.1`, you still had something old in your dependencies, packages are compatibility

No, it was big problem for future updates

[2021-01-06 13:56] starpit commented on #2314
I did not, I simply re-ran `npm install` and what used to work no longer worked. This is presumably because some floating dependence on your side forces `@webpack-cli/serve@1.2.1` despite our package-lock's request to install `webpack-dev-server@3.11.0`. The command lines above I think made this pretty clear. You can try it yourself, and I have done so on multiple systems, all to the same effect (

[2021-01-06 13:57] #2314 closed

[2021-01-06 16:54] #803 closed

[2021-01-07 04:54] gyjcode opened #2322 "webpack ./src/main.js -o ./dist/bundle.js 报错"
E:\MyCode\webpack-study>webpack ./src/main.js -o ./dist/bundle.js
[webpack-cli] Unknown command './src/main.js'
[webpack-cli] Run 'webpack --help' to see available commands and options

[2021-01-07 05:17] snitin315 commented on #2322
Use - `webpack --entry ./src/main.js -o ./dist/bundle.js`

[2021-01-07 11:31] gyjcode commented on #2322
Thanks

[2021-01-07 11:31] #2322 closed

[2021-01-07 12:48] rishabh3112 commented on #2110
@goldhand that particular error should be fixed if you create your custom scaffolder using [`webpack-scafold-pwa`](https://github.com/rishabh3112/webpack-scaffold-starter)

[2021-01-11 10:56] s0rin opened #2342 "[webpack-cli] TypeError: Cannot read property 'plugins' of undefined"
My Rails+Webpack app contanizered with Docker worked fine in 6.0.3.4 and with
[code]
After upgrade to 6.1.0 webpack-cli cannot read property 'plugins' (or 'config' or 'loaders') in the _environment.js_ during `assets:precompile`.

[code]

**config/webpack/production.js**

[code]

**config/webpack/environment.js**

[code]

**package.json**

[code]

[2021-01-11 11:41] alexander-akait commented on #2342
No bugs on our side, the error from `/var/www/<RoR-app>/config/webpack/environment.js:7:13` we don't have this file

[2021-01-11 11:41] #2342 closed

[2021-01-11 11:41] alexander-akait commented on #2342
So I can't help because I don't have full stricture of project

[2021-01-11 11:52] s0rin commented on #2342
Even if I simplify the _environment.js_ I still get an error

[code]

**config/webpack/environment.js**

[code]

**/config/webpack/production.js**

[code]

There were recently reported similar errors (see https://github.com/rails/webpacker/issues/2817) but I already use @rails/webpacker 6.0.

[2021-01-11 12:07] alexander-akait commented on #2342
We don't have `toWebpackConfig` method, please open an issue in `webpacker`

[2021-01-12 11:55] cbdeveloper opened #2344 "[FEATURE REQUEST]: A way to know if the webpack CLI call has failed or succeeded"
**Is your feature request related to a problem? Please describe.**

I have a `deploy.sh` script file where one of the steps is to call `webpack --config webpack.prod.js`

The next step is to actually deploy the build. But I'd like to stop the deploy process if the `webpack` build call has failed.

**Describe the solution you'd like**

Is there any possibility of returning something from the CLI to

[2021-01-12 11:58] anshumanv commented on #2344
I think you can rely on the exit code of the CLI process and figure out it failed or succeeded - https://github.com/webpack/webpack-cli#exit-codes-and-their-meanings

[2021-01-12 12:23] alexander-akait commented on #2344
Please use exit codes:
- 0 - fine
- 1 - errors
- 2 - errors from CLI

But don't forget you can get warnings, my recommendation here to use `stats` from webpack, you can use `--json` flag to save this in file and check `errors` and `warnings` properties on empty

[2021-01-12 12:23] #2344 closed

[2021-01-12 15:01] cbdeveloper commented on #2344
Thank you. How can I use these `exit codes`?

This is what I got logged from the following code:

[code]

[code]

Should the `exit code` be in there?

Also, how could I use `stats` to solve this? Maybe adding `--stats-errors` and `--stats-warnings` to log specifically those properties? Does the `default` setting for the `stats` include those properties?

[2021-01-12 15:11] alexander-akait commented on #2344
`echo $?` returns exit code from previously process

No new options, it is unnecessary, please read my answer you can use the `webpack --json stats.json` options and parse a JSON file using `JSON.parse` and check `errors` and `warnings`

[2021-01-13 15:29] alexander-akait commented on #2018
Should be fixed https://github.com/webpack/webpack-dev-server/releases/tag/v3.11.2 I want to test it

[2021-01-13 15:39] alexander-akait commented on #2018
Yes, fixed

[2021-01-13 15:39] #2018 closed

[2021-01-13 17:38] alexander-akait commented on #2272
After long attempts to allow `webpack [options] server [options]`, I found it is impossible, there are few reasons:
- `webpack --env foo --env bar serve --hot` means `three` variable `env` variables and `-hot` flag, i.e. `{ env: { foo: true, bar: true, serve: true }, hot: true}`, because `commander` parse them https://github.com/tj/commander.js/#variadic-option
- `webpack --hot server --env foo`,

[2021-01-13 17:38] #2272 closed

[2021-01-13 18:16] alexander-akait commented on #1968
We decide to deprecate `webpack migrate` due complex breaking changes and many of them impossible/very hard to solve using tools, sorry

[2021-01-13 18:16] #1968 closed

[2021-01-15 09:14] fregante commented on #2322
Why was this changed? `webpack index.js` has worked since the beginning and now my builds are breaking with an error that can't be found anywhere online.

Could you at least provide some meaningful errors when you introduce breaking changes in the most simple of usages?

[code]

[2021-01-15 09:21] fregante opened #2356 "Add "Did you mean '--entry index.js'?""
**Is your feature request related to a problem? Please describe.**

The simplest usage stopped working in v4 and the error is meaningless

[code]

**Describe the solution you'd like**

Tell me how to fix it rather than having to Google my way out of cryptic error messages.

[code]

**Additional context**

People having issues:
- https://github.com/webpack/webpack-cli/issues/2322
- https://stackove

[2021-01-15 09:23] snitin315 commented on #2322
It was difficult to differentiate if the user was providing an entry or a command.

For example `webpack server` , since the actual command is `serve` cli would have considered it as an entry point.

[2021-01-15 09:40] snitin315 commented on #2356
As I mentioned in https://github.com/webpack/webpack-cli/issues/2322#issuecomment-760776701 , It is difficult to differentiate between an invalid command and an entry point.
Earlier the logic was very hacky.

[2021-01-15 09:44] snitin315 commented on #2356
But I think we can do something like follow -

for
`webpack index.js`

[code]

[2021-01-15 11:44] alexander-akait commented on #2356
hm, maybe we can do, I will think about it

[2021-01-15 13:03] #1463 closed

[2021-01-15 15:25] alexander-akait commented on #15
bump

[2021-01-16 05:10] snoack commented on #1622
If I understand correctly `v8-compile-cache` is a package that `webpack` explicitly uses. Couldn't you just not use it if an ESM configuration is used?

[2021-01-17 11:33] ztamizzen opened #2361 "webpack init is asking strange things: "Would you like to install 'webpack -W' package?""
**Describe the bug**
I ran `npx webpack init` today, I found the command on the [Webpack Configuration page](https://webpack.js.org/configuration/).

I created a new folder, changed to it, ran `yarn init` inside it and tried to run `npx webpack init`.
It complained that I hadn't installed `webpack`. So I did, and dependencies, and then ran the command again. This time it asked me if I wanted to in

[2021-01-17 11:41] ztamizzen commented on #2361
And btw, this is wrong: `expect(runCommand.mock.calls[0][0]).toEqual('yarn add -D test-package');`.
Line 66 in `webpack-cli/packages/webpack-cli/lib/utils/__tests__/prompt-installation.test.js`.

[2021-01-18 11:05] alexander-akait commented on #2361
Fixed in master, release will be in near future, also please remove `@webpack-cli/utils` from utils, you should not install this directly

[2021-01-18 11:05] #2361 closed

[2021-01-18 11:33] alexander-akait commented on #1622
@snoack Unfortunately not, no API to disable it

[2021-01-18 11:55] ztamizzen commented on #2361
Thank u (Y)

Den mån 18 jan. 2021 kl 12:06 skrev Alexander Akait <
notifications@github.com>:

--
Mvh Mats Lindblad - Webbutvecklare
Tfn: 070 - 249 11 24
E-post: mats.lindblad@gmail.com

www.mats-lindblad.se

[2021-01-18 13:25] alexander-akait commented on #2362
I think we should look how other tools do it, maybe we just need improve our docs

[2021-01-18 21:52] snoack commented on #1622
Would `process.env.DISABLE_V8_COMPILE_CACHE = '1'` work?

[2021-01-19 10:35] alexander-akait commented on #1622
@snoack it work only before `require('v8-compile-cache')`, so it works only for whole process

[2021-01-20 14:01] alexander-akait commented on #2258
Let's close in favor https://github.com/webpack/webpack-cli/issues/2356, we want to return supporting `webpack ./entry.js` and `webpack entry=./entry.js`

[2021-01-20 14:01] #2258 closed

[2021-01-20 14:01] alexander-akait commented on #2356
I am WIP on old syntax (will be in the next patch release) -
- `webpack ./entry.js`
- `webpack entry=./entry.js`

[2021-01-21 08:25] benediktarnold opened #2370 "[DEP_WEBPACK_WATCH_WITHOUT_CALLBACK] error when using webpack serve with --watch flag"
**Describe the bug**

When running `webpack serve` with `--watch` the deprecation warning `DEP_WEBPACK_WATCH_WITHOUT_CALLBACK` shows up. Initially I thought it's just the same as #1918 but it's a different code path.

**What is the current behavior?**

When running node with `--trace-deprecation` this is the full deprecation stack:

    10% building(node:54129) [DEP_WEBPACK_WATCH_WITHOUT_CALLBACK]

[2021-01-21 10:30] alexander-akait commented on #2370
You should not use `--watch` and `serve` together, it doesn't have sense, message is some misleading, but just remove it from your command

[2021-01-21 10:54] benediktarnold commented on #2370
That is indeed misleading since `webpack serve --help` mentions `--watch` as a possible option:

    % webpack serve --help
    Usage: webpack serve|s [options]

    Run the webpack dev server.

    Options:
      -c, --config <value...>     Provide path to a webpack configuration file e.g. ./webpack.config.js.
      --config-name <value...>    Name of the configuration to use.
      -m, --merge

[2021-01-21 11:10] snitin315 commented on #2370
`serve` already watches for changes.

[2021-01-21 11:14] snitin315 commented on #2370
Maybe be we can add a warning here -

`Do not use serve with --watch. serve already watches for changes.`

[2021-01-21 11:20] alexander-akait commented on #2370
It just has no effect.

Yes, warning will be great, and let's hide `watch` and `--no-watch` from help for `serve` and `watch` command

[2021-01-21 11:25] snitin315 commented on #2370
I will send a PR

[2021-01-23 23:24] eamodio opened #2374 "Support VS Code problem matchers without custom configuration (i.e. out of the box)"
Refs: https://github.com/webpack/webpack-cli/pull/2206 & https://github.com/webpack/webpack/issues/5895

Without any additional configuration, we would like to be able to support VS Code problem matchers for webpack builds (especially watch).

### What They Are
VS Code problem matchers scrape terminal output to detect and surface compile/lint/etc issues in VS Code. These problem matchers allow VS

[2021-01-25 13:27] alexander-akait commented on #2374
Do you have ability to modify `process.env`? We need to find a communication channel

[2021-01-25 20:44] eamodio commented on #2374
Yeah, we could probably set an env variable.

[2021-01-25 20:53] alexander-akait commented on #2374
@eamodio I can implement `FORCE_LOG` and always output log when you set it

[2021-01-25 20:59] eamodio commented on #2374
Do we really want to opt users into all logs? Could we do something more specific to just the types of messages required?

[2021-01-25 23:03] justsml commented on #1622
I know this isn't a solution for everyone, but my workaround was to change my `package.json`'s `"type"` from `"module"` to `"commonjs"`.

I'm transforming it into ESM as a post-build hack. 🤷  👀

[2021-01-26 10:45] alexander-akait commented on #2374
@eamodio yep, what about `FORCE_LIFE_CYCLE_LOG` (i.e. show only `Compilation starting...` and `Compilation finished`), something needed more? Maybe better name, because it is long, any ides?

[2021-01-26 18:31] sumitchd opened #2377 "[webpack-cli] Error: Cannot find module 'C:\Users\s\d\app\package.json'"
[webpack-cli] Error: Cannot find module 'C:\Users\s\d\app\package.json'
Require stack:
- C:\Users\s\d\app\webpack5-stucture\config\paths.js
- C:\Users\s\d\app\webpack5-stucture\webpack.prod.js
- C:\Users\s\d\app\webpack.config.js
- C:\Users\s\d\app\node_modules\webpack-cli\lib\groups\ConfigGroup.js
- C:\Users\s\d\app\node_modules\webpack-cli\lib\webpack-cli.js
- C:\Users\s\d\app\node_modules\webpa

[2021-01-27 07:22] Itsaadarsh commented on #2377
If you're using webpack-cli 4, try to change from webpack-dev-server --open to webpack serve.

Example:

`"serve": "webpack serve --config config/webpack.dev.js --progress --profile --watch --content-base src/"`
You might want also check this [comment ](https://github.com/webpack/webpack-dev-server/issues/2029#issuecomment-707196728)on GitHub:

NPM package.json scripts are a convenient and useful

[2021-01-27 10:31] alexander-akait commented on #2377
Bug in your `C:\Users\s\d\app\webpack5-stucture\config\paths.js` file, we can't help here

[2021-01-27 10:31] #2377 closed

[2021-01-27 10:46] benediktarnold commented on #2370
Thanks for your help and your immediate PR! 👍

[2021-01-27 11:45] #2356 closed

[2021-01-27 11:46] alexander-akait commented on #2356
We return: `webpack ./entry.js`, `webpack entry=./entry.js` will be in future, need some improvements

[2021-01-28 14:20] alexander-akait commented on #1622
Found solution, some hacky, but works fine, but no v8 cache for config files, but v8 already cache ES modules, so nothing bad

[2021-01-28 16:36] shreyan-invalid commented on #866
Hey, I am new to open source contribution, I would like to work with this issue, can you guide me through it?

[2021-01-29 12:31] AllanOricil commented on #2272
I have the latest version with webpack 4 and i have the same error. What am I missing?

![image](https://user-images.githubusercontent.com/55927613/106275508-e2059880-622d-11eb-9a7e-bfbe353c610d.png)

[code]

[2021-01-29 12:34] alexander-akait commented on #2272
Update your deps

[2021-01-29 17:53] eamodio commented on #2374
Yeah, something like that sounds good... maybe `WEBPACK_LOG_LIFE_CYCLE` (adding some sort of prefix I think is important -- maybe even `WEBPACK_CLI_*`)?

[2021-01-29 18:03] alexander-akait commented on #2374
What about `WEBPACK_CLI_LOG_LIFE_CYCLE`?

[2021-01-29 18:19] eamodio commented on #2374
Sounds great!

[2021-01-29 18:22] alexander-akait commented on #2374
I will try to implement this tomorrow (need finish ES modules config support) and will do release. Want to clarify:
- Do you want to use `stderr` or `stdout`?
- Do you need this https://github.com/webpack/webpack-cli/blob/master/packages/webpack-cli/lib/plugins/CLIPlugin.js#L45, https://github.com/webpack/webpack-cli/blob/master/packages/webpack-cli/lib/plugins/CLIPlugin.js#L55 and https://github.

[2021-01-30 16:51] eamodio commented on #2374
I think it needs to be `stdout`.

I'm not sure what the difference between L45 & L55 are, but it looks like those are what I need. Is there a pair that would encapsulate the full watch run, if there were multiple configs?

[2021-01-30 17:54] clyfe opened #2385 "Add back --output-filename param"
Older versions had the `--output-filename` param.
Current one doesn't, and that breaks [downstream tools that were using it](https://github.com/bhauman/figwheel-main/issues/278).

Can this be added back?

[2021-01-31 14:06] alexander-akait commented on #2385
No, it can't be returned, you have `--output-path` and `--output-filename`, it is breaking change

[2021-01-31 14:06] #2385 closed

[2021-01-31 14:15] alexander-akait commented on #2374
Why? It breaks stats output, logging is diagnostic information so it should use stderr

Can you clarify?

[2021-01-31 14:29] anshumanv commented on #2253
will improve it

[2021-01-31 14:34] #2370 closed

[2021-01-31 14:56] clyfe commented on #2385
I have `--output-filename`? Is not in the docs [here](https://webpack.js.org/api/cli/).

[2021-01-31 15:16] snitin315 commented on #2385
Check help output - `webpack --help=verbose`

https://github.com/webpack/webpack-cli/blob/master/OPTIONS.md

[2021-01-31 21:47] eamodio commented on #2374
Nm, I think stderr is fine.

So for a setup like this:
https://github.com/eamodio/vscode-gitlens/blob/395c61e8678a0a08fa1328de695c56e69a1eba9b/webpack.config.js#L68-L84

Where there are 2 (or more) webpack configs exported. It would be great to be able to classify each via its own start/end pair as well as the entire run that would encapsulate both of them.

[2021-02-01 10:03] alexander-akait commented on #2374
If developer have `name` in configuration we print `name` in logs, but we can improve this too, so if name was not provide we can print `unknown[0]`, `unknown[1]` and etc

[2021-02-01 19:10] #1622 closed

[2021-02-02 15:29] #2362 closed

[2021-02-02 17:08] chadleong opened #2400 "Running multiple commands at the same time is not possible"
**Describe the bug**

Using npm run dev with the latest webpack-cli@4.4.0 results in an error not found in @4.2.0

**What is the current behavior?**

**To Reproduce**

Steps to reproduce the behavior:

package.json

**Expected behavior**

**Screenshots**

**Additional context**

Webpack-cli@4.2.0 is working perfectly.

[2021-02-02 17:15] alexander-akait commented on #2400
Update `webpack-cli` to `4.5` and please us this syntax:
[code]

[code]

Why? Because some options can be array, so `--target node ./file.js` means `target: ['node', './file.js']`

[2021-02-02 17:15] #2400 closed

[2021-02-02 19:02] chadleong commented on #2400
Thanks! It is working now after updating to 4.5.0

[2021-02-02 23:12] sporto opened #2401 "Unknown option '--watch' in 4.5.0"
**Describe the bug**

In version 4.4.0 this works fine

[code]

After upgrading to 4.5.0 we get:

[code]

**What is the current behavior?**

CLI shows error `[webpack-cli] Error: Unknown option '--watch'`
And dev server fails to run.

**To Reproduce**

Run `webpack serve --watch`

**Expected behavior**

Run the dev server without error

[2021-02-02 23:41] snitin315 commented on #2401
Don't use `--watch` with `serve` it doesn't make any sense.

[2021-02-02 23:51] sporto commented on #2401
@snitin315 What should I use instead?
With `serve --watch` the bundle rebuilds on changes. Without it doesn't.

[2021-02-02 23:58] snitin315 commented on #2401
`webpack serve` is sufficient it should rebuild after changes.

[2021-02-03 00:00] sporto commented on #2401
@snitin315 it doesn't without `--watch` as least in 4.4.0. Is this changed in 4.5.0?

[2021-02-03 01:43] sporto commented on #2401
Ok, this is a problem with the loader we are using https://github.com/elm-community/elm-webpack-loader
It expects that flag to watch files.
I can confirm that other files like CSS and Typescript work fine without that flag.

[2021-02-03 01:43] #2401 closed

[2021-02-03 03:44] sporto commented on #2401
I have been trying to fix this loader. But I'm not familiar on how to build webpack loaders.

I can see that this loader uses `compiler.options.watch`, to watch files.
https://github.com/elm-community/elm-webpack-loader/blob/master/index.js#L103

I have tried using the `webpack serve` and printing the `compiler.options`. `watch` is always false when using the dev server.
The doc says that watch is

[2021-02-03 05:46] eamodio commented on #2374
Yeah, I believe the `name` is already used in those life-cycle logs, which is great. I was say that it would be beneficial to have start/end pair that would capture the entire compilation -- for example:

[code]

That way I can tell when each config starts/finishes, as well as when all of them start/finish.

[2021-02-03 10:38] alexander-akait commented on #2401
you can use `compiler.watching` do detect `watch`

[2021-02-03 10:51] alexander-akait commented on #2374
[code]

We can't do it, because each compilation is async, and we can't wait and slow down build

[2021-02-03 18:00] eamodio commented on #2374
Do you have to wait? Couldn't you just have a counter of the number of compilations, and then at the end of each decrement the counter, and then do basically what is done here:
https://github.com/webpack/webpack-cli/blob/1adc5aae08a561b97cff84f14fb4421409bfd4b6/packages/webpack-cli/lib/plugins/CLIPlugin.js#L68-L72

But instead of checking for the `watchMode` check if the counter is 0, and if so th

[2021-02-03 18:06] alexander-akait commented on #2374
We don't know when compilation(s) finished so order can be any

We can't use number, because it can be very big after long usage

[2021-02-03 18:07] alexander-akait commented on #2374
Keeping order is impossible

[2021-02-03 18:38] eamodio commented on #2374
How can the number get very big? Isn't it always just the number of compilations triggered?

As for order, yeah that is definitely expected and not an issue at all. The only ordering that matters is that the start of any compilation is first, and the final compilation line comes at the end.

[2021-02-03 18:43] eamodio commented on #2374
Basically I'm saying something like at the start of a compilation run, set a counter to the number of individual webpack configs that would each output a `Compilation [name0] starting...` `Compilation [name0] finished` pair. Then at the end of each one of those compilations, decrement the counter.

The same could probably work if you can't/don't know the count up front and just have each compliati

[2021-02-03 21:46] ZebraFlesh commented on #1973
This one really cost me some time: it is a significant change, but not well documented. It's a good candidate for documentation on migrating (but I don't see that anywhere -- am I blind?).

[2021-02-04 08:21] Christian24 opened #2408 "serve does not work with multi-server"
**Describe the bug**

We're having issues updating to webpack 5 and `webpack serve`. Our project is divided into multiple webpack configurations. Say for example we have one configuration for a SPA `/login/` , `/portal/`, our application for end users and `/admin/` for our administrators. We do this, so that every SPA when hosted belongs into its own folder and we can easily make sure that critica

[2021-02-04 10:08] alexander-akait commented on #2374
Sorry, but I'm completely confused what you want

[2021-02-04 12:15] alexander-akait commented on #2408
yep, because it is impossible, each compiler should have unique port, it is limitation, you can use multi entry syntax:
[code]

Even more - I don't think it is real can be solved, we don't know your files after compilation, and `filename` and `publicPath` and other can be functions so we even predict it.

[2021-02-04 19:18] eamodio commented on #2374
Ideally I want 2 sets of start & end pairs.

Pair 1:
[code]

This covers the start & end of a single compilation.

Pair 2:
[code]

Pair 1, already exists today, while Pair 2 doesn't AFAIK.

I don't really have any preference on what the actual messages of Pair 2 are, I just need to be able to tell the difference between them and Pair 1 (via regex)

[2021-02-05 08:48] Christian24 commented on #2408
Well, multiple entries wouldn't work in our case, since that wouldn't allow us to specify the correct `publicPath` per entry, right?

I am a bit confused why this no longer works, since this worked just fine in webpack@4 and I am honestly a bit uncertain as to what our upgrade path can be.

[2021-02-05 10:29] alexander-akait commented on #2408
@Christian24 Can you provide example with webpack@4, I want to look at this

[2021-02-05 10:41] alexander-akait commented on #2374
What about `Starting unknown[0] compilations... and `Compilations unknown[0] finished`? It means `compiler` by index `0` started

[2021-02-05 13:56] Christian24 commented on #2408
@alexander-akait sure. https://github.com/Christian24/webpack-dev-server-multi-config/tree/main This should give you a very basic example of what we are doing with webpack4 at the moment, but I am unable to recreate using webpack5. If you need additional details, please let me know.

[2021-02-06 13:46] anshumanv commented on #2233
Can't repro, closing, feel free to reopen and provide more info.

[2021-02-06 14:14] alexander-akait commented on #2233
I think we need improve here, if you run `npm init` and press `ctrl + c` exit code will be 0, we should have the same behavior

[2021-02-06 14:17] anshumanv commented on #2233
will look into it

[2021-02-06 15:54] alexander-akait commented on #2408
@Christian24 hm, works fine with webpack v5 and webpack-cli v4, my command is `webpack serve --config ./webpack.config.js`, when you set two `devServe` options, it means you need two dev servers, but in you case you don't need it

[2021-02-06 15:57] alexander-akait commented on #2408
Here some architecture limitations, because `webpack-dev-server` should be plugin, and you can apply it for all configurations and for the each configuration, it is on roadmap for webpack-dev-server v4, right now if you need to set port please use `webpack serve --config ./path/to/webpack.config.js --port 8081`

[2021-02-06 16:55] Christian24 commented on #2408
First of all thank you, @alexander-akait! You are very right that my example works fine with webpack5, I just checked. However, you were also correct that the multiple `devServer`  configurations cause my issue. I always thought they would apply per configuration and not globally.

To everyone running into the same issue I have adapted my initial example into a
* broken: https://github.com/Christi

[2021-02-06 16:59] Christian24 commented on #2408
I do not want to reinvent the wheel, but wouldn't a syntax like
[code]
be nicer since it would make make more explicit what part of the configuration is shared globally?

[2021-02-06 17:03] alexander-akait commented on #2408
@Christian24 Yep, I think it should be like this, but changing syntax in config files will be a big problem, I need think about it

[2021-02-06 17:04] alexander-akait commented on #2408
Let's keep open, I want to search right way for this or update docs with the limitation (official)

[2021-02-06 17:15] Christian24 commented on #2408
Sure, maybe here: https://webpack.js.org/configuration/configuration-types/#exporting-multiple-configurations? I wouldn't know if I would find it there though. I think the whole topic might need more documentation or is there more? Would it be a good idea to open an issue at https://github.com/webpack/webpack.js.org?

[2021-02-08 07:00] cemalettin-simsoft opened #2422 "'webpack serve' command fails after dependency updates"
**Describe the bug**

After recent dependency updates, webpack cli gives me this error.

[code]

which points me to the this code snippet

[code]

**What is the current behavior?**
Cannot find the reference for the `isValidationError` function
`**TypeError: cli.isValidationError is not a function**`

**To Reproduce**
Start the dev-server after recent updates

**Expected behavior**

Webpack dev-ser

[2021-02-08 07:08] anshumanv commented on #2422
Checking

[2021-02-08 07:15] anshumanv commented on #2422
You need to upgrade your webpack-cli too

[2021-02-08 07:28] cemalettin-simsoft commented on #2422
will try thanks

[2021-02-08 07:38] cemalettin-simsoft commented on #2422
Yes, after webpack-cli@4.5.0, it works :tada:

[2021-02-08 07:39] anshumanv commented on #2422
Great, closing

[2021-02-08 07:39] #2422 closed

[2021-02-08 10:15] alexander-akait commented on #2408
I will open an issue in docs repo don't worry, I need time to think how we can make it better

[2021-02-08 14:19] lonix1 commented on #575
I arrived here from the [`webpack-stylish` repo](https://github.com/webpack-contrib/webpack-stylish), which was deprecated as the reporter was added to the cli.

But I can't find how to enable it :smile:

How do I get the same as the stylish plugin:

<img src="https://raw.githubusercontent.com/webpack-contrib/webpack-stylish/master/assets/screenshot.png"/>

[2021-02-08 17:40] #2253 closed

[2021-02-08 21:56] yowainwright commented on #2408
@Christian24 @Christian24 thanks for your work on this issue!!!!

This same problem just came up for me this week.

[2021-02-09 01:00] eamodio commented on #2374
@alexander-akait Is your suggestion for _Pair 2_? If so, what is the `unknown`? If you mean for _Pair 1_ (assuming the case where a name doesn't exist), then `unknown[index]` sounds good to me as a fallback.

[2021-02-10 06:16] rishabh3112 opened #2430 "feature: new init generator"
**Is your feature request related to a problem? Please describe.**
Currently, the init generation is a bad DX with support for custom scaffolds completely broken.

**Describe the solution you'd like**
Generate pre-defined configurations instead of creating one using AST transforms. The implementation will be done in steps:

- [x] Simplify the generation flow for init (#2429)
- [x] Add default temp

[2021-02-11 00:34] isaldarriaga commented on #299
i was able to solve this problem in fedora 33 this way:

1. install [nvm](https://github.com/nvm-sh/nvm)
2. `nvm install 10.23.3 # node version!`
3. `cd <your node path>`
2. `rm -Rf node_modules/`
3. `gedit package.json`
4. Add `"webpack": "^4.39.3"` to `"devDependencies"`
5. `npm install`
6. `npm start`

[2021-02-11 13:32] likerRr commented on #1154
@alexander-akait can you add a link to upgrade guide? Can't find any breaking changes in a [changelog](https://github.com/webpack/webpack-cli/blob/master/CHANGELOG.md#400-2020-10-10)

[2021-02-12 01:42] amery commented on #152
@jamie-pate have you publish this as an installable module?

[2021-02-13 18:02] jamie-pate commented on #152
No, the actual plugin is internal and probably very specific to my use case. the example code here is just a valid POC

[2021-02-14 14:41] alexander-akait commented on #2408
I think we will do the same https://github.com/webpack/webpack/pull/12671, but for devServe

[2021-02-15 17:08] alexander-akait commented on #2374
No `name` for compiler

[2021-02-15 17:11] alexander-akait commented on #866
Close in favor https://github.com/webpack/webpack-cli/issues/2430

[2021-02-15 17:11] #866 closed

[2021-02-15 17:11] alexander-akait commented on #2430
After this we should not have `jscodeshift` in our deps

[2021-02-15 17:13] alexander-akait commented on #2430
Also we should always generate `webpack.config.js`

[2021-02-15 17:13] alexander-akait commented on #2110
Close in favor https://github.com/webpack/webpack-cli/issues/2430

[2021-02-15 17:13] #2110 closed

[2021-02-15 17:15] alexander-akait commented on #840
`Migrate` was deprecated and removed, updating `Scaffolding` will be after https://github.com/webpack/webpack-cli/issues/2430

[2021-02-15 17:15] #840 closed

[2021-02-15 17:17] alexander-akait commented on #2430
And we should not exist with `-1` code when somebody press `CRTL + C`  on init (try it using `npm init`)

[2021-02-15 17:17] alexander-akait commented on #2233
Close in favor https://github.com/webpack/webpack-cli/issues/2430

[2021-02-15 17:17] #2233 closed

[2021-02-16 03:36] eamodio commented on #2374
@alexander-akait what would the `name` be? _Pair 2_ is to "wrap" all compilations

[2021-02-16 10:32] alexander-akait commented on #2374
Sorry, I don't understand your, can you clarify?

[2021-02-16 15:24] saivan commented on #2356
I had code that depended on `webpack entry=./entry.js`, is there an alternative way to achieve this now (without having to write a webpack config file)?

[2021-02-16 15:49] anshumanv commented on #2356
Tried it and it seems to work for me, does it not work for you?

![image](https://user-images.githubusercontent.com/21009455/108086420-5b114680-709c-11eb-9636-1a8c3f5879f5.png)

[2021-02-16 22:16] saivan commented on #2356
Sorry to be clear, i'd want to set a different name like: `webpack hello=./hello.js second=./second.js`. I have no way to set the name of the package by the looks of things

[2021-02-17 00:43] saivan commented on #2356
Another strange thing, is that providing multiple entry points always sets the `name` field to `main` (I don't think I set that anywhere). Is that expected behaviour?

[2021-02-17 11:11] alexander-akait commented on #2356
`webpack hello=./hello.js second=./second.js` is not supported, you need configuration for it, or we should improve it on webpack side

[2021-02-17 11:47] marcofugaro commented on #575
@alexander-akait there is no documentation at all on how to use the `DefaultStatsPrinterPlugin`.

The webpack output is nowhere near the webpack-stylish one, and there is no documentation on how to achieve what users like @lonix1 want.

[2021-02-17 11:51] alexander-akait commented on #575
@marcofugaro default webpack v5 output is like `stylish`, why do you need modify output

[2021-02-17 12:26] alexander-akait commented on #2430
@rishabh3112 What is status? I want to finish it for the next release

[2021-02-17 12:39] saivan commented on #2356
Well in the meantime, if anybody runs into this issue, you can try something along the lines of:

[code]

Then in your config:

[code]

You can even add in some environment variables if you want to make this more elaborate 😄

[2021-02-17 12:40] saivan commented on #2258
I commented this elsewhere, but in the meantime, if anybody runs into this issue, you can try something along the lines of:

[code]

Then in your config:

[code]

You can even add in some environment variables if you want to make this more elaborate 😄

[2021-02-17 12:41] alexander-akait commented on #2356
If you need `webpack --name=./foo.js --other=./bar.js` we can implement this, but we need improve it on webpack side

[2021-02-17 12:41] rishabh3112 commented on #2430
It works as we need. I have added tests as well. Will rebase and then we can merge it.

[2021-02-17 12:43] alexander-akait commented on #2430
@rishabh3112 Do we drop `jscodeshift` from our deps?

[2021-02-17 12:44] rishabh3112 commented on #2430
Yup its not needed now for init. Will remove it from deps as well.

[2021-02-17 13:22] marcofugaro commented on #575
This does not look anything like the `stylish` screenshot a couple of comments above.

![image](https://user-images.githubusercontent.com/7217420/108201254-df58dd80-711f-11eb-8cf3-65cf643acb12.png)

Please provide a way for users to get that kind of output as it was in `webpack-stylish`.

[2021-02-17 13:26] alexander-akait commented on #575
It is improve stylish - assets with size + flags + entry points + version and time

[2021-02-17 15:57] lebadapetru commented on #1918
`"webpack": "^5.12",` and this still occurs

[2021-02-17 15:58] alexander-akait commented on #1918
You need update `webpack-cli` to the latest stable version

[2021-02-17 16:54] lebadapetru commented on #1918
i'm not actually using pure webpack but webpack encore which uses webpack-cli 4, i see that 4.5 is the latest version but i guess i'll have to wait for webpack encore to upgrade it

[2021-02-17 17:43] chadleong commented on #1918
Running latest webpack 5.22 and webpack-cli 4.5 - No errors !

[2021-02-18 12:28] lonix1 commented on #575
I fail to see how the new report is better than the old report, but maybe it's just me! :smile:

@marcofugaro or anyone else: Do you know how to get a pretty report like before?

[2021-02-20 20:43] fregante opened #2458 "ESM in webpack.config.ts isn't supported if ts-node outputs ESM"
**Describe the bug**

If you use:

- webpack.config.ts with ts-node
- `export default` inside it
- `"module": "esnext"` in your tsconfig.json, or any ES
- regardless of your `type` config in package.json

ts-node will transpile the configuration into JavaScript, preserving `export default`, but the file is still being executed as CJS.

ESM config files have just recently been supported (https://gi

[2021-02-20 20:52] fregante commented on #2458
Temporary solution:

[code]

[2021-02-22 09:22] marcofugaro commented on #575
It's not just you.

You have to disable the default webpack output with `stats: false` and then you have to do your custom logging relying on the hooks exposed by the [event-hooks-webpack-plugin](https://github.com/cascornelissen/event-hooks-webpack-plugin).

[2021-02-22 09:35] lonix1 commented on #575
So basically: reinvent the wheel or use the new report ;-)

[2021-02-22 22:54] smketterer commented on #2272
https://github.com/webpack/webpack/issues/8656

Is there a way to fix this when you have Webpack pinned at `4.28.*` as a workaround for the issue above?

[2021-02-23 06:21] web-chenke commented on #436
我查了半天，按照你这个解决了

[2021-02-23 14:13] lk77 opened #2462 "Custom args passed to webpack does not work anymore with webpack 5"
Hello,

i have an issue when updating to webpack 5,
it seems that custom args does not work anymore

[code]

**What is the current behavior?**

When i run :
[code]
i got
[code]

**To Reproduce**

Add custom args to webpack command

**Expected behavior**

Webpack ignores unknown commands and proceeds as normal. With webpack 4 i used to pass a lot of args via the command line, and i could see those

[2021-02-23 14:22] lk77 commented on #2462
I find out  than i can do :

[code]

and it works, it's a little bit longer, since i'm using npm run i'm force to type
[code]
everytime, it's less straightforward that it used to be

[2021-02-23 14:22] #2462 closed

[2021-02-23 14:30] snitin315 commented on #2462
With the latest `webpack-cli` version we have [`--node-env`](https://webpack.js.org/api/cli/#node_env), So you don't need to use `cross-env` anymore.

So you can change your script to:

`webpack --config webpack.config.js  --node-env production --env --custom=test`

Since `webpack.config.js` is default config you can also omit `--config webpack.config.js`

[2021-02-23 14:42] lk77 commented on #2462
ok, thanks !

i will change that it will be shorter

[2021-02-24 17:50] alexander-akait commented on #2458
Interesting, somebody wrap code from `ts` to
[code]

[2021-02-24 17:53] alexander-akait commented on #2458
I related https://github.com/TypeStrong/ts-node/issues/1007, we need allow to pass `register`, so you can use `ts-node/esm`

[2021-02-24 18:25] alexander-akait commented on #2458
I'll investigate  it in detail tomorrow, but to be honest look like `ts-node` is not ready for using `import()`

[2021-03-01 13:38] sumukhah opened #2472 "yarn bootstrap command is not found."
**Describe the bug**
running `yarn bootstrap` resulting in `error Command "bootstrap" not found.`.

**What is the current behavior?**
resulting in error `error Command "bootstrap" not found.`

**To Reproduce**
Steps to reproduce the behavior:
* clone the repo
* run yarn install
* run `yarn bootstrap`

**Expected behavior**
Bootstrap all the submodules before building for the first time

**Screensh

[2021-03-01 13:46] snitin315 commented on #2472
I see the `bootstrap` script is not present in `package.json` anymore. I am looking into it.

[2021-03-01 13:47] alexander-akait commented on #2472
You can run lerna bootstrap, no need command for this

[2021-03-01 13:52] snitin315 commented on #2472
Yes, run `yarn lerna bootstrap` or `lerna bootstrap` (if `lerna` is available globally)

[2021-03-02 10:17] #2472 closed

[2021-03-03 17:01] sumukhah opened #2479 "Help on certain commands is not available"
**Describe the bug**

Documentation on certain commands (init, loader, migrate, plugin) are not available using the help command.

**What is the current behavior?**

Help on certain commands are not available

**To Reproduce**

Steps to reproduce the behavior:
* create a new project, add webpack, webpack-cli.
* check the help command (notice missing of some commands)
* check the detailed documenta

[2021-03-03 17:02] sumukhah commented on #2479
I want to give it a try in fixing this bug.

[2021-03-03 17:11] alexander-akait commented on #2479
Expected, you need to install `@webpack-cli/generators` to working with this, we can improve error message

[2021-03-03 17:30] sumukhah commented on #2479
Yes thank you @alexander-akait,
I needed to install @webpack-cli/generators to access `plugin` and `loader` command, @webpack-cli/init to access `init` and @webpack-cli/migrate to access `migrate` command.
I had followed [this doc](https://github.com/webpack/webpack-cli/blob/master/packages/webpack-cli/README.md) should we at least update this info?

[2021-03-03 17:39] alexander-akait commented on #2479
Late, `@webpack-cli/migrate` are deprecated, we need to remove it from help, `@webpack-cli/init` and `@webpack-cli/generators` were union in `@webpack-cli/generators`, but not finished fully, I think we need improve error message here, no need to update deps

[2021-03-04 08:57] snitin315 commented on #2479
I will improve the error message for this case 👍🏻.

[2021-03-05 04:56] rishabh3112 commented on #2430
# Status
1. Simplification of code structure done
2. Created default template
2. Testing is done as well

# Nice to dos
1. Add questioning for webpack configuration. (Trying on #2429 it self)

[2021-03-05 12:43] UsamaHameed opened #2484 "Webpack cli cannot import webpack config as esm"
**Describe the bug**

Hey @alexander-akait I am updating some code to webpack v5 and updated my webpack config to esm and I came across a similar issue as reported in #1622. I get the following error:

[code]

I have `type: module` set in my package.json and I have the latest version of webpack-cli.

You can check the package.json here: https://github.com/LiskHQ/lisk-desktop/blob/3415-update-webpa

[2021-03-05 12:49] alexander-akait commented on #2484
This error from Node.js, it means path is invalid

Please read how ES modules works, you can't use `import baseConfig from './webpack.config';` (https://github.com/LiskHQ/lisk-desktop/blob/3415-update-webpack-v5/config/webpack.config.dev.js#L6), ES modules **requires** extension at the end, just change `import baseConfig from './webpack.config.js';`

[2021-03-05 12:49] #2484 closed

[2021-03-05 12:49] alexander-akait commented on #2484
Same for other `import`s

[2021-03-05 12:49] alexander-akait commented on #2484
Run it without webpack just `node ./path/to/webpack.config.dev.js`

[2021-03-05 13:00] UsamaHameed commented on #2484
Thank you, that was indeed the problem.

Thank you for all your hardwork 🙌

[2021-03-07 09:58] 1950195 commented on #2408
I get this same problem now when I try to upgrade `webpack` from v4 to v5.

As @Christian24's detail, I have also use the multiple configs: https://webpack.js.org/configuration/configuration-types/#exporting-multiple-configurations, and works well on `webpack@4`, but get error on v5:

[code]

Thanks all of you!

[2021-03-08 20:27] Christian24 commented on #2408
@1950195  that is because you have multiple `devServer` options. One will work across all configurations

[2021-03-09 00:09] 1950195 commented on #2408
Yes, agree. I’m trying to separate the different projects from one webpack config file now. Then may easy to merge some in one...

And also we have performance problems on running the build script, about 50 configs in one config. So it’s the time to separate them.😂

[2021-03-09 10:17] rishabh3112 opened #2493 "test: add smoketests for missing subpackages"
**Is your feature request related to a problem? Please describe.**
Currently we are not testing behaviour when sub packages are missing. I added one in #2482 and I think should be added for other packages.

**Describe the solution you'd like**
Same as mentioned above.

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-03-09 10:30] rishabh3112 commented on #2430
All done ✨
Will be adding more templates for `react`, `vue`, `node-packages` etc in further PRs 😎

[2021-03-09 12:44] alexander-akait commented on #2493
Yes, PR welcome

[2021-03-16 15:45] alexander-akait commented on #2458
Sorry for delay, I think nothing to fix on our side, I am using:
[code]

We need loader for `ts` files, otherwise it will not work.

From ts-node docs:

[2021-03-16 15:55] alexander-akait commented on #2458
Here interesting case, we can `require` files with ES module syntax, very weird, but it is behavior from `ts-node`

[2021-03-16 16:01] alexander-akait commented on #2247
Close in favor https://github.com/webpack/webpack-cli/issues/2430, we do big refactor out `init` command and now it support `template` syntax, it is easy and simple, we will update docs when it will be ready

[2021-03-16 16:01] #2247 closed

[2021-03-17 19:48] AnthumChris opened #2518 "Upgrade ini@ dependency"
Would it be possible to upgrade the implicit dependency `ini` that `webpack-cli` uses?
https://www.npmjs.com/advisories/1589

[2021-03-17 20:01] AnthumChris commented on #2518
my mistake, latest `ini` is installed with latest webpack-cli

[2021-03-17 20:01] #2518 closed

[2021-03-19 13:04] rishabh3112 commented on #2430
Documentation will be tracked on https://github.com/webpack/webpack.js.org/issues/4741

[2021-03-20 08:05] twinh commented on #2408
Thanks for your works, this is my script to remove the **same** devServers configs.

[code]

[2021-03-20 10:34] snitin315 commented on #2493
I'm writing one for missing `webpack-bundle-analyzer`.

[2021-03-20 11:31] snitin315 opened #2529 "`webpack serve --help` output showing all negative flags"
**Describe the bug**

`webpack serve --help` output showing all negative flags

**What is the current behavior?**
all negative flags are being printed.

**To Reproduce**

`webpack serve --help`

**Expected behavior**
should print these flags in verbose mode only.

**Screenshots**
<img width="1266" alt="Screenshot 2021-03-20 at 4 54 13 PM" src="https://user-images.githubusercontent.com/46647141/111

[2021-03-20 13:14] karankumarshreds opened #2531 "Error: unknown option '--config'"
<h1>Issue</h1>

I am getting an error message when I try to serve project using command: <br /> `start": "webpack serve --config config/webpack.dev.js`

[code]

# Dependencies

[code]

# Tried Resolution

When I upgrade the webpack-cli to **webpack-cli@4.3.0** I get :

[code]

# Versions

**NPM** == 6.14.8

**NODE** == v14.15.0

[2021-03-20 13:16] anshumanv commented on #2531
Strange. Try upgrading cli to v4.5 and see if it stays

[2021-03-22 12:18] alexander-akait commented on #2531
Please remove `node_modules` and install deps again or just update your packages, you have the old version of `@webpack-cli/serve`

[2021-03-22 12:18] #2531 closed

[2021-03-22 12:38] alexander-akait commented on #2529
WIP

[2021-03-22 14:23] alexander-akait commented on #2493
@rishabh3112 What tests do we need more?

[2021-03-22 14:24] alexander-akait commented on #2458
@fregante friendly ping

[2021-03-22 14:26] rishabh3112 commented on #2493
We are done, all optional deps are covered now.

[2021-03-22 14:26] #2493 closed

[2021-03-22 14:44] fregante commented on #2458
Ping for what? Are you suggesting that using `node --loader ts-node/esm node_modules/.bin/webpack --config webpack.config.ts` instead of `webpack` is the right solution here?

[2021-03-22 14:50] alexander-akait commented on #2458
For using `ts-node` and ECMA modules you need pass to Node.js `loader` (i.e. `--loader ts-node/esm`) otherwise it will not work, I just don't know what we can do here, we can't add loader in runtime, no API from Node.js here

[2021-03-22 20:22] karankumarshreds commented on #2531
Okay, after alot of google-ing, this worked for me:

I installed this cli serve package:

[code]

Then I updated to **webpack-cli** to `"webpack-cli": "^4.5.0"` && **html-webpack-plugin** to `"html-webpack-plugin": "^5.1.0"`

I wonder why this was closed before it was even resolved.

[2021-03-23 11:04] #2529 closed

[2021-03-23 11:09] alexander-akait commented on #2531
@karankumarshreds because nothing to fix on our side, how we should resolve this problem on our side, I give you advice how to solve it.

[2021-03-23 12:53] alexander-akait commented on #2543
@webpack/cli-team here simple fix, we need add `WEBPACK_CLI_SKIP_IMPORT_LOCAL` here https://github.com/webpack/webpack-cli/blob/master/packages/webpack-cli/bin/cli.js#L16 (if defined we don't use `import-local` package)

[2021-03-23 12:53] anshumanv commented on #2543
wip

[2021-03-24 05:10] #2543 closed

[2021-03-25 06:51] cdrini opened #2551 "[FEATURE]: Option to switch between versions of webpack"
I'm working on a Vue 2 project, which needs webpack v4 deep in its internals. It seems unlikely I'll be able to update any time soon. However for a new entry point, I'd like to use v5. I was able to install both v4 and v5 using package.json npm aliases:

[code]

It would be wonderful if I could somehow configure `webpack-cli` to use `webpack5` some of the time.

**Describe the solution you'd like*

[2021-03-25 07:27] anshumanv commented on #2551
The approach looks good but ideally, it would be best if tools migrate to webpack 5 instead

/cc @alexander-akait what do you think?

[2021-03-25 11:54] elliotdavies commented on #2543
Thanks @anshumanv!

[2021-03-25 13:01] alexander-akait commented on #2551
Make sense, PR welcome

[2021-03-25 13:03] snitin315 commented on #2551
i will send a PR

[2021-03-25 18:12] JakeThurman opened #2560 "Empty package-lock.json in test folder is flagged by node_modules scanner."
**Describe the bug**

My org uses Sonatype Nexus to scan our builds. Part of this is scanning node_modules for vulnerable packages.

It prints errors saying `Not a JSON Object: null` when it encounters `node_modules/webpack-cli/lib/utils/__tests__/test-all-lock/package-lock.json`

There are two issues I see from that:
1. The package-lock.json file in this test case is empty, and not a valid json o

[2021-03-26 02:13] cdrini commented on #2551
Awesome! Thank you @snitin315 @alexander-akait @anshumanv ! That was some lightning fast turn around :)

[2021-03-26 11:53] #2551 closed

[2021-03-26 18:36] Elmar101 commented on #1948
"start": "webpack serve --open",

[2021-03-27 06:05] #2560 closed

[2021-03-28 08:16] rishabh3112 commented on #2430
Now available in latest release ✅

TODO: Adding templates for common usecases (https://github.com/webpack/webpack-cli/issues/2430#issuecomment-793683956) - WIP

[2021-03-29 03:34] logo749 opened #2575 "Redundant \ in webpack.config.js generated by webpack init"
**Describe the bug**

Redundant \ in webpack.config.js generated by webpack init which make the test condition never match.
`{
    test: /\\.(js|jsx)$/,
    loader: 'babel-loader',
},`

**What is the current behavior?**

babel-loader would't not be matched.

**To Reproduce**

1. npm install --save webpack
2. npx webpack init
3. check the generated webpack.config.js

**Expected behavior**

Redundan

[2021-03-29 03:40] snitin315 commented on #2575
Looking into it.

[2021-03-29 10:40] alexander-akait commented on #2575
Thanks

[2021-03-29 10:46] alexander-akait commented on #2374
Fixed https://github.com/webpack/webpack-cli/pull/2566, will be part of the next release, you can use `WEBPACK_CLI_START_FINISH_FORCE_LOG` env var to enable this

[2021-03-29 10:46] #2374 closed

[2021-03-29 11:00] snitin315 commented on #2575
Looking into it.

[2021-03-29 13:27] #2575 closed

[2021-03-30 21:12] cdrini commented on #2551
And it's released and usable in under a week! Y'all are awesome!

[2021-03-31 14:33] SiriusNick opened #2582 "Installing the webpack-cli results in a RangeError: Maximum call stack size exceeded"
**Describe the bug**

I am trying to webpack my typescript library.
With only webpack installed the command runs just fine.
As soon as I install webpack-cli the same command results in an error.

**What is the current behavior?**

I get an error: `RangeError: Maximum call stack size exceeded`

**To Reproduce**

Steps to reproduce the behavior:

1. I assume you might need a projet with a large amou

[2021-03-31 14:59] alexander-akait commented on #2582
Sorry, not related to webpack-cli, please open an issue in webpack repo and **provide reproducible test repo** (otherwise an issue will be closed). Something wrong between `ts` and `webpack`, maybe you use new experimental syntax in ts and ts generate broken code

[2021-03-31 18:49] alexander-akait commented on #2458
@fregante what about:
[code]

[2021-03-31 19:59] fregante commented on #2458
I already have a way to execute it and it’s in my second comment. Unless my answer determines a future PR, I don’t see the need to try anything else. Ideally one should only call `$ webpack` without further inline settings

[2021-03-31 20:14] alexander-akait commented on #2458
Here problem on `ts-node` side, they can't handle `require()`/`import()` for `ts` files with ES modules output, they need inject loader (it allows to adding own logic, described in the issue).

It generates commonjs format, in my example above `ts` generates ES modules format (it is different, in future some packages can drop commonjs format so you can't load these packages using `require`, maybe

[2021-03-31 20:17] fregante commented on #2458
Indeed, with so many moving parts I can understand that this is not strictly something that can be fixed locally.

Yes, but it generates commonjs format of the webpack config file, not webpack’s output, which is not transpiled  by ts-node. In my (only) test, the webpack output is identical byte for byte.

[2021-03-31 20:37] alexander-akait commented on #2458
Yes, it is not related to `webpack` output, it is related to output `ts-node`, i.e.

`webpack.config.ts` -> `ts-node` -> `webpack.config.ts` with ES modules format in memory -> `webpack-cli` -> `import('path/to/webpack.config.ts')` in our code -> `ts-node` returns ES modules format -> run `webpack` with your options

We support commonjs and ES format, so firstly we try to loader using `require`, i

[2021-04-01 13:15] rishabh3112 commented on #2430
### Todo
- [ ] Add support add varied options as per `mode` (eg. `css-minimizer-webpack-plugin` only in production)
- [ ] Update Mini-CSS-extract-plugin configuration after above change. For example:
[code]

[2021-04-02 14:31] alexander-akait commented on #1743
Fixed https://github.com/webpack/webpack-cli/pull/2587

[2021-04-02 14:31] #1743 closed

[2021-04-02 18:24] evenstensberg commented on #2430
PWA support too?

[2021-04-02 19:08] alexander-akait commented on #2430
Do you need plugin for service workers?

[2021-04-04 16:44] evenstensberg commented on #2430
https://developers.google.com/web/tools/workbox/modules/workbox-webpack-plugin

[2021-04-05 12:09] #2458 closed

[2021-04-05 17:24] alexander-akait commented on #1955
Duplicate https://github.com/webpack/webpack-cli/issues/2408, we need improve multiple dev servers support

[2021-04-05 17:24] #1955 closed

[2021-04-06 00:07] evenstensberg opened #2598 "[BUG]: TypeError: this.program.configureOutput is not a function"
**Describe the bug**

When I install webpack-cli I get  `TypeError: this.program.configureOutput is not a function`.
**What is the current behavior?**
See above

**To Reproduce**

1. Install webpack-cli `npm install -g webpack-cli`
2. Run `webpack-cli`
Steps to reproduce the behavior:

**Expected behavior**

A compilation or the help command is shown.

**Screenshots**
<img width="562" alt="Screen

[2021-04-06 00:09] evenstensberg opened #2599 "[Feature]: Rename init to create"
**Is your feature request related to a problem? Please describe.**

Init isn't a very good name for creating/scaffolding new configurations.

**Describe the solution you'd like**

Rename `webpack-cli` init to `webpack-cli create`

**Describe alternatives you've considered**

Nothing

**Additional context**

N/A

[2021-04-06 00:24] evenstensberg commented on #2598
We should output an error if webpack isn't installed.

[2021-04-06 00:28] snitin315 commented on #2598
We already do that https://github.com/webpack/webpack-cli/blob/31d0aba5518cc9cca57513fc3c1147cfb7eaf703/packages/webpack-cli/bin/cli.js#L24

[2021-04-06 00:31] rishabh3112 commented on #2598
We also have smoketests in place for missing webpack. Can you share reproducible repo for the same?

[2021-04-06 07:48] evenstensberg commented on #2598
I just showed you the steps to reproduce

[2021-04-06 11:19] alexander-akait commented on #2599
It is breaking change, we can apply alias

[2021-04-06 11:26] alexander-akait commented on #2598
Not related to webpack-cli, you have global installed old version of commander.js, we can't fix it on our side, this is how it works `require`

[2021-04-06 11:26] #2598 closed

[2021-04-06 11:27] alexander-akait commented on #2598
You can look at our code and see it

[2021-04-06 11:28] snitin315 commented on #2599
Yes alias will be good. I can send a PR for same.

[2021-04-06 22:24] evenstensberg commented on #2598
forgot to build actually

[2021-04-07 01:03] snitin315 commented on #1838
Bump

[2021-04-07 02:59] real-shigurepoi opened #2606 "Error: Unknown option '--info'"
**Describe the bug**

get error  `Error: Unknown option '--info'`  when try to start dev server with script
`webpack serve --config webpack.config.js --mode development --progress --info false`

**Dependences**
[code]
**Versions**
node 14.16.0
yarn 1.22.5

[2021-04-07 03:07] snitin315 commented on #2606
We don't have any `--info` flag with the latest version. You need to change your script to -

`webpack serve --config webpack.config.js --mode development --progress`

To see a list of available commands and options run `webpack --help`.

[2021-04-07 03:10] real-shigurepoi commented on #2606
ok , but this option can be found in webpack doc, this may be an enhancement.

[2021-04-07 03:10] #2606 closed

[2021-04-07 03:20] snitin315 commented on #2606
Need update docs, can you share the link where you find it?

[2021-04-08 11:56] alexander-akait commented on #2599
Also let's add `new` alias, to be honestly, `webpack new` and `webpack new --template react` is the best name for this

[2021-04-08 11:58] snitin315 commented on #2599
Yeah `new` suits better.

[2021-04-09 00:34] angelhdz commented on #1612
Uuugh I'm having this issue too. I started learning Electron with TypeScript and Vue 3, and everthing works, except for this issue trying to uses the fs module with the promises module to have the async readFile... I've been reading a looot of pages about webpack, trying different things, and nothing solves it!!!

[2021-04-09 10:23] alexander-akait commented on #1612
You feedback is not help, please provide example how we can reproduce it

[2021-04-09 19:18] zackees commented on #191
Got this issue today. Running windows 10 and

"webpack-cli": "^4.6.0"

I can fix by installing globally and linking locally.

[2021-04-10 09:10] sky-coding commented on #2575
Running `webpack-cli init` in a fresh project this week introduces this redundant slash, which results in the following error when attempting to import some affected files:
[code]
Removing the slash resolves this error. It took me a long time to track down (it's 2am now!) because I never expected the CLI to generate a faulty `webpack.config.js`. Can this fix be escalated into a release? This serio

[2021-04-10 12:56] alexander-akait commented on #2575
Yep, release will be in near future

[2021-04-12 01:47] angelhdz commented on #1612
Are you a bot, or an arrogant person? My feedback is important because I'm a user of this technology, and it did not work.

Or do you want me to open a new Issue and then hit me with the **"this is a duplicate of..."???**

_If you don't have anything good to say, better don't say anything because what you just said is not help either._

[2021-04-12 01:54] angelhdz commented on #1612
I solved this.

1. If you are using Electron and you want to use fs module in the renderer, add this object to the BrowserWindow instance settings:

[code]

  2. If your issue is not related to frontend, then use the current way of importing fs module:
[code]

[2021-04-12 10:54] alexander-akait commented on #1612
Don't be toxic, we ask you to create an example problem for a reason

It was fixed in webpack v5 (promises) without `as`, if you provide more information I can look

[2021-04-13 10:56] #2599 closed

[2021-04-13 20:13] angelhdz commented on #1612
**I AM THE ONE BEING TOXIC!?!?** Ha ha haha! Arrogant people always reflect on others and they love the word toxic only when they say it to others, but they never stop to think "wait, what If I am being toxic?"

Bah. I rarely have to deal with people like you. Fortunately, there are more kind people in these places, so I will ignore you.

And thanks to other kind people (not like you), I found the

[2021-04-14 10:29] alexander-akait commented on #1612
@angelhdz

I haven't told you a single harsh word, only ask about example of problem.

You have the right to do what you want.

Even more, you did not open this problem, did not provide any information, only shame me. How can I know your environment?

We ask developers to use the issue template to avoid unnecessary questions and help as quickly as possible. I apologize if I cannot help you.

[2021-04-16 00:48] NatoBoram commented on #312
I'm trying to use `uglifyjs-webpack-plugin`, but it doesn't seem maintained anymore.

[code]

[2021-04-17 20:47] denis-migdal opened #2642 "--env foo="" is true instead of being ""."
**Describe the bug**

--env foo="" is true instead of being "".

**To Reproduce**

1. Call webpack with the option `--env foo=""`
2. In webpack.config.js foo is equal to true instead of "".

**Expected behavior**

Foo should be equal to "" instead of true.

[2021-04-18 00:03] snitin315 commented on #2642
Looking into it 👍

[2021-04-18 00:41] snitin315 commented on #2642
I was able to reproduce, I am working on a fix.

[2021-04-18 09:37] snitin315 commented on #2642
I think you will have to escape the character on the terminal with `\` -

Can you try - `webpack --env foo=\"\"`

[2021-04-18 10:09] denis-migdal commented on #2642
But then the value of foo would be "\"\"". i.e. a string "" instead of an empty string.

With one of the old version of webpack-cli, in my package.json I had something like :
[code]

That I could call : `DIR_PREFIX="/"; npm run build target1,target2,target2".

With the new version it is written :
[code]

However, I have 2 issues :

- if DIR_PREFIX is not specified instead of having the environment

[2021-04-19 09:47] alexander-akait commented on #2642
Yep bug

[2021-04-19 14:49] #2642 closed

[2021-04-24 18:18] evenstensberg commented on #15
https://thisdavej.com/how-to-watch-for-files-changes-in-node-js/ and update the webpack options object, do this at a highest level in the architecture as possible. Should be doable

[2021-04-25 04:42] evenstensberg opened #2663 "[BUG]: Remove mention of webpack-scaffold in README.md"
**Describe the bug**

Right now, we are moving away from the webpack-scaffold package and AST transformations and creating these this way. The documentation is wrong

**What is the current behavior?**

Current documentation includes mention of webpack-scaffold package.

**To Reproduce**

Steps to reproduce the behavior:

1. Open up README.md
2.
**Expected behavior**

No mention of the webpack scaf

[2021-04-25 04:42] evenstensberg commented on #2663
This bug is for first time contributors only

[2021-04-25 07:57] Juniad9421 opened #2664 "webpack-cli/bin/config-yargs' not found"
**Describe the bug**

**What is the current behavior?**

**To Reproduce**

Steps to reproduce the behavior:

**Expected behavior**

**Screenshots**

**Please paste the results of `webpack-cli info` here, and mention other relevant information**

**Additional context**

[2021-04-25 08:00] anshumanv commented on #2664
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

Please use latest webpack-cli

[2021-04-25 08:00] #2664 closed

[2021-04-25 08:10] Juniad9421 commented on #2664
My Project Specification are
    "babel-cli": "^6.26.0",
    "babel-preset-env": "^1.7.0",
    "live-server": "^1.2.1",
    "webpack-cli": "^4.6.0"
    "@babel/core": "^7.13.16",
    "@babel/preset-env": "^7.13.15",
    "babel-loader": "^8.2.2",
    "webpack": "^5.35.1",
    "webpack-dev-server": "^3.11.2"

/****************************************/

             ERROR BELOW
/*********************

[2021-04-25 08:12] anshumanv commented on #2664
Follow https://github.com/webpack/webpack-cli/issues/1948

what command do you use to run dev-server? use `webpack serve`

[2021-04-25 08:15] Juniad9421 commented on #2664
I used this command for webpack
dev-server : 'webpack-dev-server'

[2021-04-25 08:16] anshumanv commented on #2664
use `webpack serve`

[2021-04-25 08:16] anshumanv commented on #2664
As mentioned in docs

[2021-04-25 08:16] Juniad9421 commented on #2664
But
dev-server : 'webpack serve'
rsolve the broblem thanks

[2021-04-26 05:37] h4kim-dyze commented on #2272
For me it worked by deleting the node modules and reinstall it

[2021-04-26 12:57] alexander-akait commented on #2663
/cc @webpack/cli-team Let's fix it

[2021-04-26 13:05] alexander-akait commented on #15
No, it is wrong solution, we need watch any `require`/`import` and nested `require`/`import`

[2021-04-28 07:46] anshumanv commented on #1402
bump

[2021-04-29 19:39] #2663 closed

[2021-05-02 10:51] khushal87 opened #2685 "Convert the codebase to Typescript"
**Is your feature request related to a problem? Please describe.**
A major part of the codebase is in Javascript currently. If we migrate it to Typescript this will enable new possibilities and make the codebase more clear with stricter type checking and readable code.

**Describe the solution you'd like**
I would like to convert the codebase to typescript.

**Describe alternatives you've consider

[2021-05-02 11:01] khushal87 commented on #2685
I would like to start with the `scripts` directory.

[2021-05-04 05:19] anshumanv commented on #586
bump

[2021-05-04 12:54] alexander-akait commented on #2685
PR welcome

[2021-05-04 13:05] khushal87 commented on #2685
@alexander-akait I am working on it and soon will raise a PR. Just one doubt, you want all at once or I can proceed directory-wise?

[2021-05-04 13:11] anshumanv commented on #2685
You can also help in https://github.com/webpack/webpack-cli/pull/2686

[2021-05-04 13:16] anshumanv commented on #2685
Also, I feel there's no real benefit of changing `scripts` to TS as they are mostly used by us or on CI

[2021-05-04 13:29] khushal87 commented on #2685
Okay @anshumanv Which directory can I start with, so that there isn't any conflict? I see you have already done a good amount of migration.

[2021-05-04 16:45] evenstensberg commented on #2685
This will make it harder for new contribitors to start contributing FYI

[2021-05-07 02:05] imWildCat opened #2694 "npx webpack-cli init: [webpack-cli] No commands found to run"
**Describe the bug**

I'm trying to use webpack init in a new project but it doesn't work.

**What is the current behavior?**

[code]

**To Reproduce**

Steps to reproduce the behavior:

[code]

**Expected behavior**

**Screenshots**

**Please paste the results of `webpack-cli info` here, and mention other relevant information**

**Additional context**

[code]

[2021-05-07 13:16] alexander-akait commented on #2694
Run `npm ls webpack-cli`/`yarn why webpack-cli`

[2021-05-07 13:51] imWildCat commented on #2694
Hi @alexander-akait,

[code]

I can also reproduce this on a linux machine with node@16

[code]

[2021-05-07 14:22] alexander-akait commented on #2694
Do you have globally installed `webpack-cli`? Run `npm ls -g`

[2021-05-07 22:55] joeldenning opened #2696 "Regression: web socket connection fails after 1.4.0 when using findPort"
**Describe the bug**

When the port is left unspecified (both in CLI args and in webpack config), webpack-dev-server finds a port, defaulting to 8080 when possible. However, the webpack-dev-server client code is not aware of which port was chosen, and the resource query for setting up the web socket is unaware of that port. This causes the webpack-dev-server client code to attempt to connect to th

[2021-05-08 00:03] imWildCat commented on #2694
Oh, I didn't have it installed.

[code]

After the global installation, it fixed.

Thanks! I thought webpack-cli could be installed locally rather than globally.

[2021-05-08 00:03] #2694 closed

[2021-05-08 03:53] anshumanv commented on #2696
Actually, I'm unable to repro this in a blank config in your old repo with updated packages @joeldenning, could you possibly create a branch in the repo for this bug? Thanks!

[2021-05-13 21:50] joeldenning commented on #2696
Thanks @anshumanv for looking into this. I've pushed to https://github.com/joeldenning/wds-port-bug/tree/webpack-cli-issue-2696 (the `webpack-cli-issue-2696` branch) and have confirmed that the issue persists. The instructions in the Readme still apply for repro.

[2021-05-13 22:21] alexander-akait commented on #2696
oh, we endlessly rush between attempts to solve problems with proxied server and non proxied, after fixing bug for non proxied we get a new bug for proxied and versa vice. Honestly if I write this server from scratch I say: always set port when you proxy port (same for host).

The problem - we trying to convert dev server to plugin, so we need inject entry with options before listen, but we don't

[2021-05-13 22:25] alexander-akait commented on #2696
Let's keep open before stable release, maybe I found way... if not I will document it and mask as breaking change.

For me using `client.host`/`client.port`/`client.path` when you proxy is most good solution, we don't need complex logic for client.

[2021-05-13 22:27] alexander-akait commented on #2696
Also it will allow us to remove the `public` option (I found it very dirty and unclean) in favor `client.host`/`client.port`/`client.path`. And also you can do any complex proxy.

[2021-05-13 22:32] joeldenning commented on #2696
👍🏿  that option seems sensible to me

[2021-05-15 14:42] alexander-akait commented on #2696
Found the way how we will fix it without breaking a plugin support, I will try to fix this in near future to the next release

[2021-05-16 08:09] jamesgeorge007 commented on #2430
WIP

[2021-05-23 22:41] cspotcode commented on #2458
Came across this issue and wanted to mention a couple helpful things:

Alternative to setting `TS_NODE_COMPILER_OPTIONS='{"module": "commonjs"}'`, you can add this override to your `tsconfig.json` file:
[code]

Unfortunately the typescript compiler insists on converting dynamic `import()` into `require()` when using "commonjs" and we can't override that.  However, I've explained a couple workaroun

[2021-05-24 03:12] fregante commented on #2458
1. The whole point using that inline setting instead of tsconfig is to avoid those errors in the real code
2. Using `eval`/`Function` is a really poor runtime workaround. I suggest using the ENV as suggested here instead and use proper code in production

[2021-05-24 03:56] cspotcode commented on #2458
The tsconfig tweak I proposed is equivalent to the environment variable in that it only affects `ts-node`.  But I see what you're saying: in refined-github, you are also using `ts-node` elsewhere, so you need `ts-node` to emit commonjs for webpack and esnext for ava.  Could be done with `TS_NODE_PROJECT` in the ava config if you really wanted to drop the `cross-env` dependency, but I can't say if

[2021-05-25 15:46] PeterBowater commented on #1918
Once I had updated webpack-cli it was all good :)

[2021-05-26 11:05] nevcos commented on #1942
@anshumanv This breaking change is not referred on https://webpack.js.org/migrate/5/ or CHANGELOG, it's worth adding it.

This change is highly inconvenient because it affects CI scripts, which in our case need to work both with webpack 4 and 5.
Is there any syntax that works on both webpack-cli v3 and v4?

Thanks!

[2021-05-26 11:11] alexander-akait commented on #1942
@nevcos `--env platform=staging --env production --env foo.bar=baz`

[2021-05-26 11:27] nevcos commented on #1942
@alexander-akait It doesn't work the same way:
[code]

[2021-05-26 11:42] alexander-akait commented on #1942
If you need boolean value, you need just use `--env myFlag` (without any values)

[2021-05-26 11:50] nevcos commented on #1942
@alexander-akait It was just an example, in my case I need to send a string URL for source maps location.
I'll fix the CI script with an ugly `if [[ ${WEBPACK_VERSION} == 4* ]]`, hopefully I'll be able to remove it soon 😅.

[2021-05-26 17:08] alexander-akait commented on #1622
What is `webpack-cli` version?

[2021-05-26 18:39] thernstig commented on #1622
I was using these versions of all Webpack related packages:

[code]

[2021-05-26 18:51] alexander-akait commented on #1622
I see, put it in todo, we should fix compatibility with ES in near future, problem in `v8-compile-cache` :disappointed:

[2021-05-27 05:57] Paitum opened #2737 "Improve Unknown options support"
**Is your feature request related to a problem? Please describe.**

We require webpack to build artifacts with a fine level of build control for various purposes. To achieve this we created a set of webpack.config.js files that use Node & CommonJS to imperatively construct the appropriate config(s). They rely on `process.argv.includes('--optionName')` to pick up options.

We are looking to make th

[2021-05-27 10:06] alexander-akait commented on #2737
Sorry, we already discussed about it, only `--env` options are supported, if this does not suit you, then it is better to create own CLI. You can use `--env app.name="demo"`. Even more if we implement unknown custom options it will create problems for new options in future, because if you use `--app` and we implement the `--app` options if will faced with breaking change. Also there are a lot of p

[2021-05-27 10:06] #2737 closed

[2021-06-01 09:48] jhanikhilnath opened #2748 "Shareable Configs"
## Feature request

**What is the expected behavior?**
Having shareable configs

**What is motivation or use case for adding/changing the behavior?**
We have to write webpack configs every time we start a new big project. Which is usually twice or thrice a year. So, having shareable configs would be very useful.

**How should this be implemented in your opinion?**
Just like in eslint

[code]

**Ar

[2021-06-02 11:53] alexander-akait commented on #2748
@webpack/cli-team what do you think?

[2021-06-02 12:21] snitin315 commented on #2748
I think the same behavior can be achieved through [`--merge`](https://webpack.js.org/api/cli/#merge). But if we want it to be an option in config we will need to update webpack schema.

[2021-06-02 12:26] alexander-akait commented on #2748
Yep, right direction, In theory we can `require`/`import` from `extends` and apply `webpack-merge`, we don't need update `schema`, because we remove `extends` from `webpack.config.js` internally, we need update only types, but it is not hard

[2021-06-02 12:35] snitin315 commented on #2748
Sounds good 👍🏻 , I will send a PR.

[2021-06-02 12:37] alexander-akait commented on #2748
@snitin315 Don't forget extended configuration can have `extends` too, so we need do it in loop until we have `extends`

[2021-06-02 12:40] snitin315 commented on #2748
Thanks for the point. I will keep that in mind 👍🏻

[2021-06-02 15:36] jhanikhilnath commented on #2748
I am very confused as to what is happening as this is my first issue in github
Can someone summarise everything

[2021-06-03 03:07] towry opened #2751 "[migrate 4-5] ModuleNotFoundError: Module not found: Error: No parser registered for use"
**Describe the bug**

[code]

**What is the current behavior?**

**To Reproduce**

Steps to reproduce the behavior:

**Expected behavior**

**Screenshots**

**Please paste the results of `webpack-cli info` here, and mention other relevant information**

**Additional context**

Current migrating webpack 4 project to webpack 5. All plugin upgrade to @latest.

What is the possible reason of this erro

[2021-06-03 03:31] towry commented on #2751
Invalid config in `module.rules`.

[2021-06-03 03:31] #2751 closed

[2021-06-03 04:05] snitin315 commented on #2748
We will implement this feature request in the near future 😄

[2021-06-03 10:26] jhanikhilnath commented on #2748
Seriously I can’t believe that my first feature request on github is being
implemented

On Thu, 3 Jun 2021 at 9:36 AM, Nitin Kumar ***@***.***> wrote:

--
Nikhil jha

[2021-06-03 12:04] findoff opened #2752 "Config option to listen unix-socket instead of port for dev-server"
**Is your feature request related to a problem? Please describe.**

At first i was create this issue at https://github.com/webpack/webpack-dev-server/issues/3308
As described at https://webpack-v3.jsx.app/configuration/dev-server/#devserver-socket unix socket can be listen unix-sockets with `devServer: {socket}`, but with webpack-dev-server@4 it's does't work.

As i can find socket option belongs

[2021-06-03 12:09] alexander-akait commented on #2752
:+1:

hmm, I looked at the code that we have before, I think we will return it in the next few days, it's not difficult

[2021-06-04 19:44] angulardev123 opened #2762 "UnhandledPromiseRejectionWarning: RangeError: Invalid string length"
**Describe the bug**

I have a large enterprise level Angular 12 application with hundreds of components.  I'm getting the following error during the production build.  The output below is from Webpack 5 but this is happening in Webpack 4 as well.

**What is the current behavior?**

[code]

The issue seems to be in line 791 of DefaultStatsPrinterPlugin.js during the join call.

![webpackerror](htt

[2021-06-05 13:11] alexander-akait commented on #2762
Sorry in this case we can't help you, nobody can help

[2021-06-07 13:20] jamesgeorge007 opened #2768 "Add the ability to pick a package manager of choice while scaffolding"
**Is your feature request related to a problem? Please describe.**
Currently, there isn't any way to specify a package manager of choice while generating the boilerplate (`init` | `loader` | `plugin`).

https://github.com/webpack/webpack-cli/blob/060268b770c9623e457afc849e3933364914951d/packages/generators/src/init-generator.ts#L103

https://github.com/webpack/webpack-cli/blob/060268b770c9623e457a

[2021-06-07 13:22] alexander-akait commented on #2768
Yep, PR welcome

[2021-06-07 15:07] alexander-akait commented on #2771
@webpack/cli-team we need to allow set `devServer: false`, so we should fix it firstly here https://github.com/webpack/webpack/blob/master/schemas/WebpackOptions.json#L346, i.e. `enum: [false]`

[2021-06-07 15:12] snitin315 commented on #2771
On it 👍

[2021-06-07 22:32] angulardev123 commented on #2762
I fixed the deprecation warning and added code to log the size of each string in the Items array in line 791.  I tried to output the contents of each string but some were extremely large.  Below is the length of each item:

[code]

[2021-06-07 22:54] angulardev123 commented on #2762
I figured out what the problem was.  As I was testing different webpack configurations, I renamed some the dist output folders of some of the configurations and left them inside the application folder (i.e. dist - webpack test 1, etc.).  Since they were left in the application folder they were being processed by webpack in subsequent builds.  I noticed this by analyzing the output of each item in

[2021-06-07 22:54] #2762 closed

[2021-06-09 10:33] politsin commented on #2752
subscribe

[2021-06-09 13:01] evenstensberg commented on #617
Re-opening this in CLI until there's an official repo for webpack UI

[2021-06-09 13:05] alexander-akait commented on #617
Please create repo `webpack UI` and open an issue there, all we can create here is a command `webpack ui` and run your package, when it will be great feel free to open an issue and I will help, no need to keep it here, sorry

[2021-06-09 13:06] alexander-akait commented on #617
webpack-cli !== webpac-ui, it is different thinkhs

[2021-06-09 18:17] evenstensberg opened #2778 "Feature: Document what `smoketests` folder does"
**Is your feature request related to a problem? Please describe.**

For less confusion, documenting the `smoketests` folder would be nice. Add a README and document how to run smoketests and how it is structured.

**Describe the solution you'd like**

A README that documents the smoketests run by the CLI.

**Describe alternatives you've considered**
N/A

**Additional context**

N/A

[2021-06-10 12:20] #2768 closed

[2021-06-10 16:53] alexander-akait commented on #2778
`smoketests` is smoke tests, why we need document it? I find it superfluous

[2021-06-11 10:48] evenstensberg commented on #2778
It's easier to know what happens and good for documenting in case new developers want to know

[2021-06-12 15:37] evenstensberg opened #2780 "Enhancement: Move flags to its own files and import them"
**Is your feature request related to a problem? Please describe.**

Right now, flags are inline in `lwebpack-cli.js` and it is no need to have it there.

**Describe the solution you'd like**
Modularize the options to their own files and import them.

**Describe alternatives you've considered**

N/A

**Additional context**

https://github.com/webpack/webpack-cli/blob/master/packages/webpack-cli/lib

[2021-06-12 15:42] alexander-akait commented on #2780
Thanks, no need

[2021-06-12 15:42] #2780 closed

[2021-06-12 16:54] evenstensberg commented on #2780
Why? It's better for performance in node

[2021-06-12 16:56] alexander-akait commented on #2780
How? Extra `require` requires fs call, each fs call reduce perf, we can use memorize here, but there is no point do it

[2021-06-12 20:14] evenstensberg commented on #2780
it makes it more readable, and we can have it as a top-scope prop insted?

[2021-06-13 15:35] alexander-akait commented on #2780
@evenstensberg Why we need this? It is internal, code is readable right now, I don't see any problems here

[2021-06-15 12:50] hgwood commented on #2125
Hello @anshumanv. Using `--env.flag` instead of `--env flag` works. Thanks. Is [this documentation page](https://webpack.js.org/api/cli/#env) obsolete then?

[2021-06-15 14:22] anshumanv commented on #2125
@hgwood those docs are for CLI v4, maybe you're using v3?

[2021-06-16 13:11] hgwood commented on #2125
Ah, you're right, my bad. I thought I was using CLI v4, but my node_modules were not up-to-date and v3 was running. Thank you.

[2021-06-17 07:01] andyhall commented on #2051
Hi, has this issue regressed? Using current webpack-* , if I try to serve two different projects that don't specify a port, they both serve to `8080` and the second one reports error `EADDRINUSE`.

Versions are current:
[code]

Zero webpack config:
[code]

Output (testing on current macos, node `v14.17.0`):
[code]

[2021-06-20 04:11] andyhall commented on #2051
Hi, can this be reopened?

I can file a new issue, but the details would be mostly identical to this one.

[2021-06-20 06:08] snitin315 commented on #2051
Can you try with webpack-dev-server@4-beta.3

[2021-06-20 08:02] andyhall commented on #2051
@snitin315 Thanks, the issue doesn't reproduce in 4-beta for me.

(v4 breaks lots of other things though - I don't suppose there's a migration document?)

[2021-06-20 08:04] snitin315 commented on #2051
I am working on a migration documentation. It will be available within few days.

For now you can refer the changelog.

[2021-06-23 13:16] ivomurrell opened #2795 "Promise deadlock when parsing commander actions"
**Describe the bug**

I'm currently writing some unit tests for a project I'm working on that includes forwarding CLI arguments to Webpack. We do this by calling the `runCli` function defined in `packages/webpack-cli/lib/bootstrap.js`. Typically this seems to behave as if you were running `npx webpack` on the command-line but I noticed when writing the tests that I was getting timeouts regardless

[2021-06-23 13:20] alexander-akait commented on #2795
it is private API, what is use case?

[2021-06-23 13:21] alexander-akait commented on #2795
We do double `parseAsync` due lazy loading command, unfortunately commander doesn't support this, so we do this rely on process.exit

[2021-06-23 13:27] ivomurrell commented on #2795
We want to programmatically call webpack and pass command-line arguments so that it will parse options and load the config the same way it would as if you called from the CLI.

[2021-06-23 13:37] ivomurrell commented on #2795
It doesn't seem like `process.exit` is ever called when a build is successful though

[2021-06-23 14:37] alexander-akait commented on #2795
It should https://github.com/webpack/webpack-cli/blob/master/packages/webpack-cli/lib/webpack-cli.js#L918

[2021-06-23 15:21] ivomurrell commented on #2795
It looks like the `exitOverride` is only called if the subcommand is an executable rather than an action handler:

- Callback called in `_executeSubCommand` at: https://github.com/tj/commander.js/blob/v7.2.0/index.js#L1406
- `_executeSubCommand` only called if command is an executable: https://github.com/tj/commander.js/blob/v7.2.0/index.js#L1441
- Difference between the two command types defined

[2021-06-23 15:25] alexander-akait commented on #2795
If you have idea how to fix, PR welcome, but it is private API and should not use directly

[2021-06-24 01:32] alexander-akait commented on #2752
Sorry for small delay https://github.com/webpack/webpack-dev-server/pull/3479/, after merge I will update our logic here and all will be work

[2021-06-24 16:53] alexander-akait commented on #2795
Ideally we need this https://github.com/tj/commander.js/pull/1276, but it as closed, maybe v8 solve the problem...

[2021-06-24 17:58] evenstensberg commented on #15
No. We need to watch for when the webpack configuration changes, require/import would be the same

[2021-06-24 18:01] alexander-akait commented on #15
@evenstensberg if something was changed in `require` or `import` we should invalidate configuration again, like we do inside webpack for dependencies

[2021-06-25 09:53] ivomurrell commented on #2795
Commander 8.0.0 just dropped and I'm happy to report the promise now resolves when following the reproduction steps 🎉

[2021-06-25 09:56] anshumanv commented on #2795
Awesome! Closing, feel free to open a new issue if you face any other problem.

[2021-06-25 11:27] alexander-akait commented on #2795
Let's keep open until we update

[2021-06-25 11:34] anshumanv commented on #2795
we need do it once we drop Node 10 👍

[2021-06-25 11:39] alexander-akait commented on #2795
Yep, I think we can start to work on it in the next branch

[2021-06-25 11:44] anshumanv commented on #2795
will do 👍

[2021-06-28 16:59] tony opened #2802 "webpack info: misdetects shimmed, upgraded npm"
This may apply to nvm too - if that is true, this definitely isn't an edgecase then.  A lot of us rely on version managers and `webpack info` should give us the true npm we use.

**Describe the bug**

`webpack info` isn't detecting the `npm` bin and version of my environment / shell.

This isn't managed by `PATH`, it's managed by shim:

[code]

**What is the current behavior?**

webpack-cli: 4.7.0

[2021-06-28 17:04] alexander-akait commented on #2802
We use this module to get system info - https://github.com/tabrindle/envinfo, here code https://github.com/webpack/webpack-cli/blob/master/packages/info/src/index.ts#L80, no magic on our side, please open an issue in their repo, thanks

[2021-06-28 17:04] #2802 closed

[2021-06-28 17:53] AlonsoK28 opened #2803 "[webpack-cli] Error: Unknown option '--build-delimiter'"
**Describe the bug**

`Output options` command `--build-delimiter` doesn't works into `webpack-cli@4.7.2` according to documentation https://v4.webpack.js.org/api/cli/#output-options

**What is the current behavior?**

When add `--build-delimiter` to `webpack-cli ` params gets following error

[code]

**To Reproduce**

Steps to reproduce the behavior:

Add `--build-delimiter` to `webpack-cli` para

[2021-06-28 18:14] anshumanv commented on #2803
Yep, that option, unfortunately, doesn't exist in CLI v4, I think this can be achieved using a simple plugin?

/cc @alexander-akait

[2021-06-29 09:41] alexander-akait commented on #2803
@AlonsoK28 What is use case for `--build-delimiter`? Yep, it will be implement using custom plugin

[2021-06-29 15:33] alexander-akait commented on #2803
But it is angular CLI output, and webpack already write `compiled success` at the end

[2021-06-30 04:35] AlonsoK28 commented on #2803
I fully agree with you

I'm just giving an example of a use case for `--build-delimiter` as you asked me 🙂🙂🙂🙂

[2021-07-09 04:14] arzyu commented on #2748
@jhanikhilnath I created a tool that can meet your needs. [arzyu/airpack](https://github.com/arzyu/airpack)

[2021-07-14 12:56] rishabh3112 opened #2832 "feature: add init templates for popular webpack use cases"
**Is your feature request related to a problem? Please describe.**
We recently updated the init architecture. This makes it easier to add template for initializing new projects.

**Describe the solution you'd like**
Here are few high priority ones:
- [ ] React/Preact
- [ ] Vue
- [ ] Svelte
- [ ] Node

Feel free to add more suggestions below 😄

**Describe alternatives you've considered**
N/A

**Add

[2021-07-14 12:57] rishabh3112 commented on #2430
New init architecture has been shipped. We will track development of more templates in #2832.

[2021-07-14 12:57] #2430 closed

[2021-07-16 18:26] evenstensberg commented on #2803
We should support this, makes the CLI more customizable

[2021-07-16 18:27] alexander-akait commented on #2803
You can do it using plugins, why we need to have it built-in?

[2021-07-17 05:47] shahinghasemi opened #2835 "[webpack-cli] Error: Cannot find module 'tslib'"
**Describe the bug**
I want to dockerizing my app and in the build stage (`webpack`) it throws this error:
[code]

**What is the current behavior?**
Throwing error on the build stage

**To Reproduce**

Steps to reproduce the behavior:
`webpack.config.ts`
[code]
`package.json`
[code]
`Dockerfile`
[code]
`tsconfig.json`
[code]
**docker build -t sometag .** will create the mentioned error.

**Expecte

[2021-07-17 13:30] alexander-akait commented on #2835
Please install `tslib` - `npm install -D tslib`

[2021-07-17 13:30] #2835 closed

[2021-07-18 07:16] rishabh3112 commented on #2832
Will be doing the React/Preact first!

[2021-07-18 08:30] shahinghasemi commented on #2835
Thanks, thought it's included in `typescript` package.

[2021-07-21 20:28] alexander-akait commented on #2771
Close in favor https://github.com/webpack/webpack-cli/issues/2408