[2019-06-05 09:43] #927 closed

[2019-06-05 10:16] evenstensberg commented on #930
Could you provide resources to back up your claims along with examples from the source code?

[2019-06-05 10:22] evenstensberg commented on #918
I don't think that is needed. We're ending up with a big file rather than local util files from local util folders, which are scoped to their functionality. Thanks for the issue though!

[2019-06-05 10:22] #918 closed

[2019-06-05 10:23] evenstensberg commented on #906
No

[2019-06-05 10:23] evenstensberg commented on #906
If schema for that is not found, we default to only add the plugin

[2019-06-05 10:24] evenstensberg commented on #922
I'm going to close this and have you to reopen it with a more elaborative issue ticket

[2019-06-05 10:24] #922 closed

[2019-06-05 10:33] anikethsaha commented on #906
Ohh...okok...yeah... I noticed that now only..... 👍

[2019-06-05 10:34] evenstensberg commented on #821
Please update to the latest version and give us a link to Stack Overflow

[2019-06-05 10:36] evenstensberg commented on #866
@anshumanv thanks :)

[2019-06-05 10:55] rishabh3112 commented on #908
Got it now. We can create scaffolds w/o prompting too. In my previous attempt for UI, `One Click project` option runs with generator under the hood w/o prompting!

P.S>
I think my idea here is a bit unclear to be understandable. Will open a PR from where I can explain the idea I have in mind.

[2019-06-05 11:18] evenstensberg commented on #908
Great do that. Nothing explains better than code

[2019-06-05 13:56] lmcarreiro commented on #570
I'm getting this error with `webpack-cli@3.3.2`. Changed it to 3.1.2 and it still happens.

My files: https://gist.github.com/lmcarreiro/599695c271576a001bc260f5eef9d9c5

The error seems to be when I use `--info-verbosity verbose` but without `--watch`.

Even if I set `watch: true` in the config object, I still get the error. The only way that `--info-verbosity verbose` works with multiple configu

[2019-06-05 17:32] jamesgeorge007 commented on #836
@rishabh3112 @ematipico @misterdev I would love to give it a try in-order to refactor [packages/serve](https://github.com/webpack/webpack-cli/blob/master/packages/serve/index.ts). Let me know if it is within the scope here.

[2019-06-06 00:33] rishabh3112 commented on #836
Yes it is, feel free to send a PR 🙂

[2019-06-06 04:01] pastak commented on #870
I also have faced same issue on 2019.05.06 Monday with webpack 3.3.2

[2019-06-06 04:59] anshumanv commented on #922
Sorry for the missing details, you think it makes sense to add tests for helper functions from - https://github.com/webpack/webpack-cli/blob/master/packages/utils/path-utils.ts

Will reopen adding more details if you approve. ✅

[2019-06-06 07:07] anikethsaha commented on #930
Like a utility method for type checking ?

[2019-06-06 08:55] evenstensberg commented on #870
1.remove webpack-cli from your pkg json
2. `rm -rf node_modules package-lock.json && npm install && npm install --save-dev webpack-cli`

[2019-06-06 09:00] evenstensberg commented on #930
Instead of `typeof value === structure` yea, but this is up for disussion, no evidence saying it's failing

[2019-06-06 09:01] #908 closed

[2019-06-06 09:09] evenstensberg commented on #836
This would be great and we can refactor to use that. Reason for not having it in the first place was to support legacy node version, but minimal supported now is v.8 and it was introduced in 7.6, so go ahead

[2019-06-06 09:09] evenstensberg commented on #836
Init generator is probably most important to use this first with, then add

[2019-06-06 09:10] evenstensberg commented on #922
Submit a new one

[2019-06-06 09:18] anikethsaha commented on #930
yeah true.
may be we can implement this for some method to overcome this
[code]

[2019-06-06 09:26] rishabh3112 commented on #930
We already have `Array.isArray` for that and already is being used at CLI. I can't think of the scenarios where it may be needed this kind of library explicitly. Maybe there is a failing type check that Anshuman may have in mind and is being used at CLI somewhere?

[2019-06-06 09:28] anikethsaha commented on #930
Ok then let's wait for Anshuman 's reply here...for any specific bug.

[2019-06-06 09:36] anshumanv commented on #930
We're using `typeof` everywhere to check for data types - https://github.com/webpack/webpack-cli/search?q=typeof&unscoped_q=typeof

what if a string is created using `new String('abc')`, typeof will return Object here, so a helper function like

`
function isString (value) {
  return typeof value === 'string' || value instanceof String;
}
`

can be used, similarly for other types that we're checki

[2019-06-06 09:39] pastak commented on #870
In my environment, It looks that checking node process have file write permission is not enough.  I try to fix this problem to solve https://github.com/webpack/webpack-cli/pull/935

[2019-06-06 09:44] evenstensberg commented on #930
I don't think that is needed, as we're not creating new strings, we're modifying existing ones. We're checking every type pretty strictly in addition to typescript, so this is fine.

[2019-06-06 09:44] #930 closed

[2019-06-06 09:44] evenstensberg commented on #870
Great, thanks for explaining. Nice PR btw

[2019-06-06 09:46] #795 closed

[2019-06-06 18:11] anikethsaha opened #936 "[FEATURE]: Display Manual command for webpack-cli"
**Is your feature request related to a problem? Please describe.**
Currently, if we are in terminal and not sure about what a particular webpack config property does then we need to check the docs and other sites.

This is the command which will work similar to **man command in linux**.
The command will print the details of a particular webpack config property in the terminal on a go. the command

[2019-06-06 18:38] anikethsaha commented on #936
code implementation here : [repo-link](https://gitlab.com/anik220798/webpack-cli-man)

[2019-06-06 19:33] wing324 commented on #878
Does it fixed? I am using webpack-cli 3.3.2 now, but I still get the same error
$ npm install --save-dev webpack-cli

'node' ▒▒▒▒▒ڲ▒▒▒▒ⲿ▒▒▒Ҳ▒▒▒ǿ▒▒▒▒еĳ▒▒▒
▒▒▒▒▒▒▒▒▒ļ▒▒▒
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@1.2.9 (node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.2.9: wanted {"os":"darwin","arch":"any"} (current: {"os":"win

[2019-06-06 19:41] misterdev commented on #878
The most updated conversation about this is #870:

[2019-06-06 20:03] evenstensberg commented on #936
We don't need this for now, cli interface gonna ble replaced soon

[2019-06-06 20:03] #936 closed

[2019-06-07 05:06] wing324 commented on #878
Hi,
Thank you for your reply. I did what you said, but it still the same error. If you could help me, I would really appreciate it.

[2019-06-07 12:33] misterdev commented on #878
Hi! [v3.3.3](https://www.npmjs.com/package/webpack-cli) has just been released with a fix for this. I suggest you to try it and if you still have this problem you can open a new detailed issue :)

[2019-06-07 21:44] evenstensberg opened #940 "[Enhancement]: Fix 'any' type for linting warnings"
**Describe the bug**

There's some places in the code where `any` is used and the linter is complaining about that.

**What is the current behavior?**

type `any` is used and the linter is complaining

**To Reproduce**
Steps to reproduce the behavior:
1. `npm install`
2. `npm run bootstrap`
3. `npm run build`
4. `npm run lint`
4. See error

**Expected behavior**
No warnings from the linter

**Scre

[2019-06-07 21:47] evenstensberg opened #941 "[Enhancement]: getPackageManager considered flaky"
**Describe the bug**

When determining the current package version, the lookup path for yarn is wrong and causes sometimes misleading information

**What is the current behavior?**

Npm is almost used everytime

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `packages/utils/package-manager` L77
2. Reproduce by creating new tests or using the init generator

**Expected behavior**
Both n

[2019-06-08 01:20] evenstensberg opened #943 "[Enhancement] Improve Chunk Splitting Defaults"
**Do you want to request a *feature* or report a *bug*?**
enhancement

**What is the current behavior?**
Right now, chunksplitting multiple entries are quite hard and I must admit that the commonschunkplugin interface was easier to deal with. We should try to make a wrapper after reading entries to ensure and maybe even enforce chunksplitting such that we are guaranteed that the user will have a f

[2019-06-09 06:15] anikethsaha commented on #940
Will try to resolve it...

[2019-06-09 16:59] lirlocker opened #944 "Using require in config throws "webpack not installed, consider installing it...""
**Do you want to request a *feature* or report a *bug*?**
Report a bug.

**What is the current behavior?**
I get this error when running "webpack" from an npm script:

npm install --save-dev webpack

This only happens when I'm using `require` to a nonexisting module in the webpack.config.js.

**If the current behavior is a bug, please provide the steps to reproduce.**
This happens using a webpack.

[2019-06-09 17:02] evenstensberg commented on #944
Okay this needs some fine tweaking. It's bc we assume webpack is throwing because you've not installed webpack compared to another module.

[2019-06-10 10:46] pape2016 commented on #944
I see the same error in my project after I upgrade to the latest version 3.3.3, before, the error printed an exception with lots of code file information, and I can see the actual error  "Cannot find module 'vue-loader/lib/plugin'", so I can check the missing plugin and install it to fix the issue, now it only show 'webpack not installed', I don't know what I can do to fix the issue, I have alread

[2019-06-10 12:55] Tarasovych commented on #870
Same issue here, webpack-cli 3.3.2 (with laravel-mix).

[2019-06-10 15:35] misterdev commented on #870
@Tarasovych, you should try updating to `v3.3.3` :)

[2019-06-10 16:21] tiagolisalves commented on #944
I saw the same error in my project, but actually it was hidding another error. After I changed the folder of my configuration file webpack.prod.js, I configured the path of it incorrectly. The error stoped after I fixed it.

[2019-06-10 18:34] pranshuchittora opened #950 "🐞[cli]: commands not working, defaults to init"
**Describe the bug**

While running commands like `info`,`serve` ...
The CLI is interpreting this as `init`

**What is the current behavior?**

![Screenshot from 2019-06-11 00-00-58](https://user-images.githubusercontent.com/32242596/59217754-49478280-8bdc-11e9-9c05-4406c03aeb0a.png)

![Screenshot from 2019-06-10 23-59-06](https://user-images.githubusercontent.com/32242596/59217756-49478280-8bdc-1

[2019-06-10 21:00] anikethsaha commented on #940
I think those ` self ` should be of type `Generator` as those are objects of custom generator which are extending `Generator` type.
Like this? https://github.com/webpack/webpack-cli/pull/945/commits/5a44ab1e85a90945e83dc347a70f3e46185b956f
But getting some type errors which is kind of weird,

[2019-06-11 07:49] evenstensberg commented on #940
Yes, I thought so as well but the linter wasn't happy bout that

[2019-06-11 07:50] #950 closed

[2019-06-11 07:50] anikethsaha commented on #940
Yeah, the linter should not give error as far as the code is concern. May be need custom type which extends the `Generator` type

[2019-06-11 07:51] evenstensberg commented on #940
Do that

[2019-06-11 07:51] evenstensberg commented on #944
Fixing now

[2019-06-11 07:51] anikethsaha commented on #940
yeah...trying..for that only.. 👍

[2019-06-11 08:03] pranshuchittora commented on #787
Working :tada:

[2019-06-11 08:03] #787 closed

[2019-06-11 08:10] anikethsaha opened #953 "[Enhancement]: Refactoring the prompt-command.js package manager check"
**Is your refactoring related to a problem? Please describe.**
Currently, the package manager check is done using this condition
[code]

it can be replaced with this
[code]

**Why**
it will work fine(better) when this package is installed globally and a user is in the fresh project folder with no lock file
its been used in `cli.js` so I guess it can be implemented here too

**Describe the solution

[2019-06-11 08:21] evenstensberg commented on #953
Submit a PR

[2019-06-11 08:25] anikethsaha commented on #953
👍

[2019-06-11 08:41] vytautas-pranskunas- commented on #944
I run into same issue  - after some digging it appeared that my config file had typo.. so error is misleading.

[2019-06-11 08:41] evenstensberg commented on #944
Pushing out a patch in a minute

[2019-06-11 09:32] pranshuchittora opened #956 "🐞[infra]: weird behaviour by commit hook"
**Describe the bug**
After commit, the code gets automatically formatted and linting throws an error in weird characters.

**What is the current behavior?**
Error and bad linting.

**To Reproduce**
Steps to reproduce the behavior:
1. I changed a few .ts files and after doing `git commit`
2. FIles gets automatically formatted
3. Running `yarn lint` throws error because of bad auto linting.
4. See e

[2019-06-11 10:06] anikethsaha commented on #956
that's the `prettier-eslint` pkg, you can remove the `--write` flag from the npm scripts of format,

[2019-06-11 14:24] evenstensberg commented on #956
This needs to be fixed, feel free to send a PR

[2019-06-11 17:22] anshumanv commented on #956
This is because of the prettier config and eslint config being conflicting for some reason, would encourage to explore the properties which are conflicting and then only enabling one of them. Would also make #938 easy to solve

[2019-06-13 06:08] anikethsaha commented on #890
closing as add package is depreciated

[2019-06-13 06:08] #890 closed

[2019-06-17 11:36] DJ-MATAIL opened #962 "Webpack crushes when tries to print a message about donating in Windows 8.1"
**What is the current behavior?**

Webpack-cli crushes:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. run `npx webpack --config webpack.config.js --mode development` on Monday

**Expected behavior**
It should not to stop a webpack process

**Versions**
webpack: 4.33.0
webpack-cli: 3.3.3
nodejs: 12.4.0
OS: Windows 8.1

[2019-06-17 12:09] rseeberg opened #963 "TypeError: process.getuid is not a function"
**Describe the bug**

When building on a windows machine, the build fails due to recent changes to the bin/cli.js
error is following:

if (!e && fileOwnerId === process.getuid()) utimesSync(openCollectivePath, now, now);'

**What is the current behavior?**

It relies on process.getuid which is not available on windows.

**To Reproduce**

Should be enough to run a build on a windows system.

**Expe

[2019-06-17 12:13] rseeberg commented on #962
When building on a windows machine, the build fails due to recent changes to the bin/cli.js
error is following:

TypeError: process.getuid is not a function
C:\Projects.....\node_modules\webpack-cli\bin\cli.js:356
if (!e && fileOwnerId === process.getuid()) utimesSync(openCollectivePath, now, now);'

It relies on process.getuid which is not available on windows.

Should probably revert the change

[2019-06-17 12:13] rseeberg commented on #963
This is same issue as https://github.com/webpack/webpack-cli/issues?q=is%3Aissue+is%3Aopen+author%3Arseeberg

[2019-06-17 12:13] #963 closed

[2019-06-17 21:50] Riguidix commented on #962
Sounds weird but for keep in dev, i just _change_ my date to **not Monday** and now it's not crashing cause of this:
[code]
😕 ❓

[2019-06-18 04:57] rseeberg commented on #962
@Riguidix
That makes sense, when looking at the offending code

`const openCollectivePath = __dirname + "/opencollective.js";
const MONDAY = 1;
const SIX_DAYS = 518400000;
const now = new Date();
if (now.getDay() === MONDAY) {
	const { access, constants, statSync, utimesSync } = require("fs");
	const stat = statSync(openCollectivePath);
	const lastPrint = stat.atime;
	const fileOwnerId = stat.uid;

[2019-06-18 06:11] evenstensberg commented on #962
Could you submit a PR?

[2019-06-18 06:26] rseeberg commented on #962
Nope.
It would take me quite a while to get everything up and running, in order to insert a try catch, seeing as I have no idea how your project is structured, or what requirements you have for pullrequests.

Someone else who usually works with webpack-cli should be able to fix this issue in a matter of minutes.

[2019-06-18 20:48] anikethsaha commented on #962
@evenstensberg I think the only fix for this issue is to remove that condition `fileOwnerId === process.getuid())` ,
I checked the docs multiple times and it seems we cant get the file/folder's uid in windows through node. Or we can add a check for applying that condition only if it is not in windows

[2019-06-20 14:47] anshumanv opened #967 "[test]: Add tests for utils to find project root"
**Do you want to request a *feature* or report a *bug*?**
I think we should have tests for util to find project root present in `path-utils` - https://github.com/webpack/webpack-cli/blob/master/packages/utils/path-utils.ts

**What is the current behavior?**
No tests for the function

**If the current behavior is a bug, please provide the steps to reproduce.**
NA

**What is the expected behavior?**

[2019-06-20 14:47] anshumanv commented on #967
@evenstensberg @ematipico is it within scope to add tests for this?

[2019-06-20 15:18] ematipico commented on #967
The only way that I can come up with a way of testing such things is by using Docker. Are you aware of a better way to test them?

[2019-06-23 10:14] stephtr commented on #746
Is this really fixed? Shouldn't `path.resolve` be added to [line 111](https://github.com/webpack/webpack-cli/pull/903/files#diff-f28fd412eca1697c5b34e761c9bbd562R111)?

[2019-06-23 12:17] evenstensberg commented on #746
Could someone open a PR? Thanks for pointing it out

[2019-06-23 13:38] stephtr commented on #746
`path.resolve` was wrong, that way scripts from dependencies wouldn't be resolved. Additionally it should be covered by [line 109](https://github.com/webpack/webpack-cli/pull/903/files#diff-f28fd412eca1697c5b34e761c9bbd562R109) (which by the way doesn't include the `node_modules` folder at a higher level).
I still haven't any clue why it fails for me (the relative path passed to `require` in line

[2019-06-23 13:46] jamesgeorge007 commented on #746
@evenstensberg @stephtr what needs to be done further :thinking:

[2019-06-23 13:47] jamesgeorge007 commented on #941
@evenstensberg I would take this up :+1: Can you point me to the required files to be worked upon?

[2019-06-23 13:50] jamesgeorge007 commented on #956
@evenstensberg I shall go ahead if this is still open to be worked on :clap:

[2019-06-23 14:10] stephtr commented on #746
I have just created an example repo: [stephtr/webpack-error](https://github.com/stephtr/webpack-error). It just consists of `webpack` and `webpack-cli` and two more or less empty files `src.js` and `test.js`.
Calling `webpack -r test.js --mode development` loads the test file, while calling `webpack -r ./test.js --mode development` (note the `./`) results in:
[code]

Digging a bit deeper shows tha

[2019-06-23 14:45] evenstensberg commented on #956
Go for it!

[2019-06-23 14:52] evenstensberg commented on #941
Sure! https://github.com/webpack/webpack-cli/blob/master/packages/utils/package-manager.ts#L55 needs to have better logic. Currently it doesn't work as expected

[2019-06-23 19:58] ematipico commented on #956
To solve the issue, just the instructions here:
https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/README.md#usage-with-prettier

[2019-06-24 20:52] tariva commented on #962
Pls post stable version number

[2019-06-24 21:06] ematipico commented on #962
Latest version is the one

[2019-06-25 18:34] NASLYGOR96 commented on #546
buenas tardes alguien me podria ayudar, me sale este error y aun no logro solucionar que pasa
![image](https://user-images.githubusercontent.com/52050249/60123815-e8788800-974d-11e9-9188-90be25abeaaf.png)

quedo atenta gracias

[2019-06-25 19:21] NASLYGOR96 commented on #546
![image](https://user-images.githubusercontent.com/52050249/60126866-88391480-9754-11e9-9f0d-06828948d72c.png)
help me please

[2019-06-26 09:03] k-five commented on #819
I pointed out some problem I saw with the CLI here #820
In terms of `--option` design for Terminal usage webpack is poor comparing to the most Unix-Linux CLIs.
But I want to talk about color and table  (=ANSI Escape Sequence) which is my [specialty](https://stackoverflow.com/questions/5947742/how-to-change-the-output-color-of-echo-in-linux/28938235#28938235)

As a full-time command-line user I usu

[2019-06-26 13:32] heldrida commented on #299
Hey, got a new machine and I don't have webpack and webpack-cli installed globally; Debugging at the moment but seems that the reports above are correct, the bug still persists; I'll update the comment with more info after I fully understand what's going on.

The following is for a project that has a dependecy
[code]
[code]
npm list -g --depth 0:

├── gatsby-cli@2.7.2
└── npm@6.4.1

Decided to cd

[2019-06-27 15:07] pranshuchittora opened #976 "🐞[init]: entry point does not appears in newly generated config"
**Describe the bug**

The missing entry point in the generated config.

**What is the current behavior?**
Missing entry point

**To Reproduce**
Steps to reproduce the behavior:
1. webpack-cli init
2. give entry point name
3. check webpack.config.js

**Expected behavior**
Entry point must exist

[2019-06-27 20:47] pranshuchittora opened #978 "📝[tests]: tests failing on master"
**Describe the bug**
8 Tests are failing on the current master.

**What is the current behavior?**
Failing tests

**To Reproduce**
Steps to reproduce the behavior:
1. Pull the latest master (as of June 27 2019)
2. `yarn test`
3. Scroll down and see failing tests.

**Expected behavior**
All tests should pass with flying colours.

**Screenshots**
![Screenshot from 2019-06-28 02-14-01](https://user-i

[2019-06-29 09:55] evenstensberg commented on #546
@NASLYGOR96 ´__dirname´ with two underscores in your config file line 7, you only have one

[2019-06-30 17:17] MadSheogorath opened #980 "[BUG]: Wrong priority in picking config file between .coffee and .js"
# Bug report

**What is the current behavior?**
Webpack tries to load webpack.config.coffee first when both webpack.config.coffee and webpack.config.js are present. As a result we'll get a syntax error in case we have no coffeescript dependency installed.

**If the current behavior is a bug, please provide the steps to reproduce.**
Put webpack.config.coffee, configure File Watcher for .coffee file

[2019-07-01 07:06] BrkDalkiran commented on #962
Yeah, I have the same problem. I change computer time, it is working.
01.07.2019 > 02.07.2019

[2019-07-01 07:26] LordOfDav11 commented on #962
I got same error when I used Math.Round function. npm install or npm update doesn't fix that problem, but change computer time did.

[2019-07-01 07:28] ematipico commented on #962
Guys, have you tried the latest version? 3.3.5?

[2019-07-01 07:40] ext commented on #962
This is insane. I understand that you rely on donations to keep things floating but having this kind of logic to show a donation message is madness. Currently I'm hit by this bug and without downgrading my builds are broken until tomorrow.

Someone should really rethink if this is the most effective way to get donations (while I rethink if webpack should be kept in our toolchain).

[2019-07-01 07:44] evenstensberg commented on #962
I don't think that's true @ext . We initially toned down the way we outputted donation messages because people said it was annoying to output every time they install webpack (and that is what every other tool asking for donations is doing right now).

If you install the newest version, the donation banner.

Let me know if there's anymore troubles...

[2019-07-01 08:59] ematipico commented on #962
@ext **We removed the banner** in the latest! Instead of just rant why don't you follow the conversation and the changelog?

We heard the community and we removed the banner.

[2019-07-01 15:18] petvas commented on #962
Same on windows 10, upgrading to 3.3.5 fixed it.

[2019-07-01 20:13] mikeRead commented on #962
Getting the same thing today on both 3.3.4 and 3.3.5 on windows 10

Setting the time back seems to fix it
Right now it is July 1st and changing back a day fixed it (June 30th)

[code]

[code]

[2019-07-01 22:55] g45t345rt commented on #962
Updating to 3.3.5 fixed it for me. Thanks

[2019-07-02 08:56] DJ-MATAIL commented on #962
3.3.5 solved the problem.

[2019-07-02 08:59] ematipico commented on #962
Closing as `3.3.5` solved the issue

[2019-07-02 08:59] #962 closed

[2019-07-02 18:55] evenstensberg commented on #976
Got screenshots?

[2019-07-02 18:57] evenstensberg commented on #978
which ones?

[2019-07-02 18:58] evenstensberg commented on #944
3.3.5

[2019-07-02 18:58] #944 closed

[2019-07-02 19:17] anikethsaha commented on #980
**First**

---
**Now Workaround**
you can do it
- add `webpack.config.coffee` in your `webpack.config.js` with proper coffee loader
- this should output to something like `coffee.webpack.config.js` *(weird naming btw)*
- in the build command ,
[code]
- enjoy ?

I am assuming this is build script, you dont want anything in watch mode, if you want then use some other library like [concurrently](http

[2019-07-02 19:48] MadSheogorath commented on #980
Why do I use .coffee and file watchers. Well because it's very handy. I have global file watchers configured for all my projects and I do not need to switch my mind between .js and .coffee syntax no matter what I do.

Yes there are workarounds, I admit that. But still it would be cool to have correct load priority (I believe it is something very easy to fix actually).

For now I just have coffeesc

[2019-07-03 04:25] pranshuchittora commented on #978
Summary of all failing tests
 FAIL  test/binCases/output/output-library-many/output-library-many.test.js
  ● output-library-many

    expect(received).toBe(expected) // Object.is equality

    Expected: 0
    Received: 1

      21 | 	const summary = extractSummary(stdout);
      22 |

         | 	             ^
      24 | 	expect(summary).toEqual(expect.anything());
      25 | 	expect(summary).toC

[2019-07-03 05:01] pranshuchittora commented on #976
After running init
-----------------
wasd@turing-machine  ~/webpack/testing 
 ./node_modules/.bin/webpack-cli init

ℹ INFO  For more information and a detailed description of each question, have a look at: https://github.com/webpack/webpack-cli/blob/master/INIT.md
ℹ INFO  Alternatively, run "webpack(-cli) --help" for usage info

? Will your application have multiple bundles? No
? Which will be y

[2019-07-03 05:02] pranshuchittora commented on #976
In the above comment, you can see that I have given entry point as `efg` and in the generated config its `def`.

[2019-07-03 05:03] pranshuchittora commented on #976
Reason for this is `yo-rc.json`.

My `.yo-rc.json`
[code]

[2019-07-03 05:05] pranshuchittora commented on #976
I have changed the package name from `testing` to `testing2` and finally back to `testing` in `package.json`
When init encounters the same package name it doesn't update the `.yo-rc.json` even when the values are different.

[2019-07-03 23:08] misterdev commented on #976
I've tried downloading `webpack-cli` and `@webpack-cli/init` from npm, and also using my local repository updated with the latest commit from `webpack-cli:master`, but I can't reproduce this

1. `npm i webpack-cli @webpack-cli/init`
2. `npx webpack-cli init`
3.  Gave as entry point name 'efg'

<img width="711" alt="Screenshot 2019-07-04 at 01 01 59" src="https://user-images.githubusercontent.com/1

[2019-07-03 23:29] tkdphoenix commented on #299
https://github.com/webpack/webpack-cli/issues/299#issuecomment-472690048
This worked for me. Once I ran `npm link` on webpack and webpack-cli it worked after that. No need to not follow best practice and install globally.

[2019-07-04 18:27] pranshuchittora opened #982 "discussion[init]: inform user for deps which will be added after init."
**Describe the bug**
- After running init with these options
[code]
The following deps gets installed.
[code]
A user might not require these deps, hence the user must be informed before proceeding further.

**What is the current behavior?**

This is where you elaborate on the current behavior of the cli, how it behaves normally differing from the previous version/build you did.

**To Reproduce**
S

[2019-07-04 18:56] #956 closed

[2019-07-06 15:51] evenstensberg commented on #978
Works here. Run install and bootstrap first

[2019-07-06 15:51] #978 closed

[2019-07-06 15:55] evenstensberg commented on #976
Same here, that's why I'm curious of why this fails

[2019-07-06 17:08] pranshuchittora commented on #978
I pulled the new changes in the master and ran `bootstrap`.

[code]
Unfortunately, tests are still failing.

[2019-07-06 17:11] evenstensberg commented on #978
Have you tried using npm?

[2019-07-06 17:20] pranshuchittora commented on #978
Oops, no difference,

I ran `npm run bootstrap` then `npm run test`

[code]

[2019-07-06 17:21] evenstensberg commented on #978
You need to publish node and npm version

[2019-07-06 17:46] DanielRuf opened #985 "missing loader for Sass in generated config file"
**Describe the bug**

I have installed the latest version of `webpack-cli` and `@webpack-cli/init` but it still does not add `sass-loader` to the config.

Is this by design?

**What is the current behavior?**

Scaffolding a project with the `Sass` answer does not add the needed `sass-loader`.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `webpack-cli init`
2. Choose the `SASS` option
3

[2019-07-06 17:53] pranshuchittora commented on #978
Do you mean my node and npm version?

[code]

[2019-07-06 17:58] DanielRuf opened #986 "[BUG]: webpack does not find globally installed @webpack-cli/init by Yarn"
**Describe the bug**

`webpack-cli` says that it needs the `@webpack-cli/init` even when I have done `yarn global add @webpack-cli/init`

**What is the current behavior?**

It seems `webpack-cli` does not find `@webpack-cli/init` when it was globally installed with Yarn.

**To Reproduce**
Steps to reproduce the behavior:
1. `yarn global add webpack-cli @webpack-cli/init`
2. `webpack-cli init`

But

[2019-07-06 18:01] DanielRuf commented on #985
Not sure but may related or similar cause as previously with PostCSS: https://github.com/webpack/webpack-cli/issues/427

[2019-07-07 06:57] anikethsaha commented on #986
Gotta something to do with this 👇

npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.2.9: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","arch":"x64"})

it's stopping the new package installation in windows.

ALso
Installing globally with `yarn` is not adding the package in the global path,
I installed using `npm`

*Atleast in my machine I guess - windo

[2019-07-07 09:53] DanielRuf commented on #986
Hi @anikethsaha,

No, this is just something additional which happens only with npm.

When I do `yarn global add @webpack-cli/init` it installs it but `webpack-cli init` says it still wants to install it.

[2019-07-07 09:56] DanielRuf commented on #986
I installed using npm

This ahould not be the case, it should work with any client. Also with Yarn.

[2019-07-07 13:01] anikethsaha commented on #901
I am facing this now!
Getting this even running the `npx webpack-cli init` twice still the same. I actually didn't get this why it's happening?

cc @evenstensberg

[2019-07-07 16:55] anikethsaha commented on #986
In my machine, the yarn is not actually adding the `@webpack-cli/init` in the global dir. That's why I am getting that error. When I am adding it manually it's working.

![image](https://user-images.githubusercontent.com/26347874/60771428-b3811380-a105-11e9-997e-c6c82980e02a.png)

Also wired dates coming when installing using npm, you can see the `node_modules` folder and `package.json` are having

[2019-07-07 18:53] DanielRuf commented on #986
Maybe we need `preferGlobal` in https://github.com/webpack/webpack-cli/blob/master/packages/init/package.json

But npm has a different opinion about binaries, see https://docs.npmjs.com/files/package.json#preferglobal

This is normal and a workaround by npm. I would have chosen another.

https://github.com/npm/cli/search?q=1985&unscoped_q=1985

https://github.com/npm/cli/blob/36682d4482cddee0acc55

[2019-07-07 18:55] DanielRuf commented on #986
So maybe Yarn and a global installation only with Yarn is not supported and we have to use npm?

[2019-07-07 19:00] anikethsaha commented on #986
So what can be done here to fix it ! may be to convert it into binary ?

@DanielRuf @evenstensberg

[2019-07-08 14:48] MadSheogorath commented on #980
Not agree. Because if you use coffee, you don't want to make config.js, you want to make config.coffee which will be compiled into .js automatically.

[2019-07-08 16:20] evenstensberg commented on #986
Just doing npm seems reasonable to me

[2019-07-08 16:21] evenstensberg commented on #901
Probbaly cause files are already there when running twice

[2019-07-08 16:28] anikethsaha commented on #901
yeah thats what....cant we check in `init` command befor running it that whether its there or not and if its there then show the message or delete it....befor generating

[2019-07-08 16:37] evenstensberg commented on #901
I don't know, you'll need to do some research and prove it works

[2019-07-08 16:59] anikethsaha commented on #901
yeah sure! I will do it by the weekend ! 👍

[2019-07-09 01:31] NuclearMachine commented on #962
based

[2019-07-09 11:25] prahladyeri commented on #962
Its ethically wrong when FOSS projects try to extract donations from users in such sneaky ways. In fact, I'd place proprietary software makers like Adobe and Apple on a much higher ethics scale than them, at least they are upfront on what they charge and don't use CLI banner messages as pretexts to extract money!

Personally, I don't use webpack and won't be using it in future after knowing about

[2019-07-09 11:48] joepie91 commented on #962
@prahladyeri I'm not sure what you're going on about. The point of this logic, as stated, is to *reduce the frequency* of the messages. Is your actual complaint here that Webpack is asking for donations *at all*?

Also, donations are voluntary, nothing is being "extracted".

[2019-07-09 11:59] dbrgn commented on #962
This reminds me of [OpenOffice Cannot Print on Tuesdays](http://catless.ncl.ac.uk/Risks/25.77.html#subj14.1)...

[2019-07-09 12:02] prahladyeri commented on #962
@joepie91 Never mind, I've deleted that comment. My point is that CLI programs (especially) shouldn't be coded with such zero day if conditions which can fail on specific days. Console based programs are highly used on production web servers where such failed conditions might result in failed builds or even considerable downtime (which didn't happen in this case, thankfully). I call these conditio

[2019-07-09 12:03] evenstensberg commented on #962
Fix: upgrade to webpack-cli v.3.3.5. I'm sorry if this has caused you harm in any way.

[2019-07-09 18:40] ken-spencer commented on #821
Still a problem for me on the latest. Pretty big job to pear this down to something I can submit but will try to find the time.

[2019-07-09 23:58] ken-spencer commented on #821
So it turns out the key to this issue is that I am running my build process via spawn. This is  necessary to meet some of our requirements.

Would appreciate if this could be reopened.

Here is some simplified code that demonstrates the issue.

[code]

[2019-07-10 07:33] evenstensberg commented on #821
Could you open up a repo where you reproduce the issue?

[2019-07-10 17:38] ken-spencer commented on #821
Have made a fairly simple set of code which replicates this bug.

https://github.com/ken-spencer/webpack-cli-but-report

Have replicated in MacOS and Linux.

[2019-07-12 15:53] evenstensberg commented on #821
Thanks for providing! Labeled as Good first contribution if anyone wants to have a look

[2019-07-12 18:57] lkwdwrd opened #994 "Mixin-deep dependency vulnerability from npm audit"
**Describe the bug**

`npm install webpack-cli` reports vulnerabilities in the dependency mixin-deep.

Path  webpack-cli > findup-sync > micromatch > snapdragon > base > mixin-deep

See https://www.npmjs.com/advisories/1013

**What is the current behavior?**

When running `npm install webpack-cli` severe security vulnerabilities are reported.

**To Reproduce**
Steps to reproduce the behavior:
run

[2019-07-12 20:23] ShellOliver commented on #994
**Version** 3.3.5
Another high vulnerability is the package `set-value`.
**path:** `webpack-cli > findup-sync > micromatch > snapdragon > base > cache-base > union-value > set-value`

more info: https://nodesecurity.io/advisories/1012

reproduce:
run `npm install webpack-cli`
in package.json -> `"webpack-cli": "^3.3.5"`

`npm audit
`

[2019-07-13 06:59] anikethsaha commented on #994
`webpack-cli` is for running in the user machine as a development. Not for production.
So we can wait for those packages to fix their issues 👍

[2019-07-14 13:09] evenstensberg commented on #994
Fixed

[2019-07-14 13:09] #994 closed

[2019-07-14 13:09] evenstensberg commented on #994
Please upgrade to `v3.3.6`

[2019-07-14 13:10] #982 closed

[2019-07-15 19:52] romerocs opened #1001 "Webpack init doesn't check for npm linked scaffolds"
I created a [basic scaffold](https://github.com/romerocs/webpack-scaffold-basic) using webpack's [documentation](https://webpack.js.org/guides/scaffolding/). I wanted to use the `npm link` so that I can set up my scaffold as a global module without publishing to npm.

### How to reproduce the problem:

Clone my [scaffold](https://github.com/romerocs/webpack-scaffold-basic) to a local machine.

Run

[2019-07-16 01:04] rishabh3112 commented on #1001
Thanks @romerocs for reporting.
I think it would be great addition, will look into the issue !

[2019-07-16 14:42] rishabh3112 commented on #1001
@evenstensberg should I resolve this issue for v3 or directly v4 (as it would be our next major version)?

[2019-07-17 05:13] anikethsaha commented on #1001
Nice!  I am +1 for this addition
Just an addition
You can give the absolute path to your linked package too.
Like this
[code]

[2019-07-19 05:45] ematipico commented on #1001
V4

[2019-07-19 15:33] evilebottnawi opened #1003 "improve error of insufficient number of arguments or no entry found"
**Is your feature request related to a problem? Please describe.**

Unfriendly errors and bad DX. Steps:
- create empty project
- create package.json with
[code]
- run script using `npm`/`yarn`, for example `npm run build`

It is output:
[code]

Using `webpack-cli --help` output many information about flags and i still can't understand what i am missing. Based on docs you can see `webpack [option]

[2019-07-19 15:41] evilebottnawi commented on #1003
Note:
[code]

is unfriendly because i can have `src` directory, but entry file can have other name like `main.js`, `script.js` and etc, will be great to see filename in error.

[2019-07-22 08:48] rajasekarm commented on #1003
Shall I pick this?

[2019-07-22 20:40] evenstensberg commented on #1003
No need, we're working on v4, not a priority

[2019-07-22 20:40] evenstensberg commented on #1001
If someone wants, submit a PR towards the next branch

[2019-07-22 20:41] evenstensberg commented on #980
We need to fix this in v4, discarding coffeescript

[2019-07-22 20:42] evenstensberg commented on #976
Up for grabs, good first contribution

[2019-07-22 20:47] evenstensberg opened #1005 "Feature: Disable Integration Tests against next branch"
**Is your feature request related to a problem? Please describe.**
It would be great if we had a way to enable/disable the "e2e" tests for the next branch. Initially marking every test that is against the old interface as skipable, then we can gradually start to transfer the old tests to new ones.

**Describe the solution you'd like**
`test.skip` on every test in `test` folder.

**Describe alterna

[2019-07-22 20:49] evenstensberg commented on #836
Anything missing here @rishabh3112 ?

[2019-07-23 01:09] rishabh3112 commented on #836
Yes, opened to flag existing scaffold developers to use async/await for thiers scaffolds too.

Even though this can be opened in individual repos but I think having things centralized in the first iteration would be better.

[2019-07-25 13:35] rishabh3112 commented on #1001
Fix has been sent to #1006. @ematipico have a look when free.
P.S. Tests are failing because whole test suite is broke and I am not allowed to fix 'em.

[2019-07-25 15:46] #1001 closed

[2019-07-28 13:44] #746 closed

[2019-07-28 13:46] evenstensberg commented on #836
This is mostly on us, if we implement async await in our generators, that will fix the issue. Is that done? I think we've implemented that already

[2019-07-28 13:51] rishabh3112 commented on #836
Yup

[2019-07-28 13:51] #836 closed

[2019-07-28 14:29] #1005 closed

[2019-07-28 14:29] #1003 closed

[2019-07-28 14:38] evenstensberg opened #1012 "[TESTS]: Write tests for the arguments we support"
**Is your feature request related to a problem? Please describe.**
In the next branch, we're replacing old test in favor for new ones. We can still use logic from the old test suite, but we need to write new assertions. Those include:

- [x] create
- [x] migrate
- [x] loader
- [x] plugin
- [x] info
- [x] negated flags
- [x] entry
- [x] dotfolder lookup
- [x] output
- [x] watch
- [x] merge
- [x] gl

[2019-07-28 14:44] evenstensberg commented on #1012
FYI after this issue is closed, the args that (might) cause trouble are fixed, we can tag a beta

[2019-07-29 09:04] evilebottnawi commented on #1003
@evenstensberg it will be fixed in `v4`?

[2019-07-29 10:53] evenstensberg commented on #1003
yes

[2019-07-29 18:23] pranshuchittora commented on #985
Able to reproduce.

![Screenshot from 2019-07-29 23-53-10](https://user-images.githubusercontent.com/32242596/62072339-0f017580-b25c-11e9-8328-3b459ac3597b.png)

[2019-07-30 04:15] Loonride opened #1013 "[NEXT] Support for Making default true boolean flags false via --no-option or --option=false"
**Is your feature request related to a problem? Please describe.**

When a boolean CLI flag defaulted to `true` with `yargs` (eg. `--option`), `yargs` let us make it `false` by doing either `--no-option` or `--option=false`. (see https://github.com/yargs/yargs/blob/master/docs/tricks.md).

With `command-line-args`, this feature is not supported: https://github.com/75lb/command-line-args/issues/71

[2019-07-30 20:26] evenstensberg commented on #1013
Thanks for filling out a detailed issue! Will have a look

[2019-07-30 21:22] mac25 commented on #889
Got this error
Error: Cannot find module 'webpack-cli/bin/config-yargs'
Require stack:
- C:\Users\Admin\AppData\Roaming\npm\node_modules\webpack-dev-server\bin\webpack-dev-server.js
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:625:15)
    at Function.Module._load (internal/modules/cjs/loader.js:527:27)
    at Module.require (internal/modules/cjs/loader.js:683:19)
    at

[2019-07-31 05:07] Loonride opened #1015 "[NEXT] improve missing babel dependency support"
**Is your feature request related to a problem? Please describe.**

The `webpack-cli` command uses configs that utilize `babel-loader` and other babel dependencies, as seen here: https://github.com/webpack/webpack-cli/blob/98e180f0372808891ce4cdde7d28689b66234e24/lib/utils/prod-config.js#L14. When I first ran `webpack-cli`, I got some unresolved dependency problems with these babel dependencies, b

[2019-07-31 06:29] TitanRtx commented on #430
aha! how ** is this problem, i can't use it , indeed, the last time i  used webpack is last year ,  this days , i suddenly have some idea and need webpack helping me mange my js app , however , i even can't install it just because it said that  i need install webpackcli first , but i have installed it ,  both global and local , please fix this problem , i need it .

[2019-07-31 07:23] evenstensberg commented on #430
Try installing them both locally

[2019-08-01 17:50] Kolhar730 commented on #819
@evenstensberg is this issue still open? Anyway, I could contribute here?

[2019-08-01 18:26] pranshuchittora opened #1016 "[NEXT]: Missing bin"
**Describe the bug**

Entry script is missing from the `.bin`

**What is the current behavior?**

The missing entry point in the `node_modules/.bin`

**To Reproduce**
Steps to reproduce the behaviour:
1. checkout next branch
2. yarn link
3. Add the linked package to another project
4. Try to find an entry point in the bin `node_modules/.bin` for `webpack-cli`

**Expected behavior**
Entry point mus

[2019-08-02 04:27] cowwoc opened #1017 "bug: webpack -watch is logging an error on startup (when there is no error)"
# Bug report

**What is the current behavior?**
`webpack -watch` outputs the following on startup:

[code]

even if the project is perfectly fine.

**What is the expected behavior?**
Log the aforementioned lines using `INFO` log level.

**Other relevant information:**
webpack version:  4.38.0
Node.js version: 10.16.0
Operating System: Windows 10
Additional tools:

Justification: many tools (Intell

[2019-08-02 11:55] cowwoc commented on #1017
I see. Any idea who is prefixing stderr output with `[ERROR]`?

[2019-08-03 20:17] anikethsaha commented on #1015
https://github.com/webpack/webpack-cli/blob/30bc7ad769049a68423f1b4ce67fe453d39ba282/packages/generators/init-generator.ts#L253

I guess this 👆  line should cover it.
[code]
May be this can be replaced with 👆   Not sure about it.

[2019-08-03 20:23] anikethsaha commented on #1016
didnt get this ???

Also, it seems to be fine if simply linking with the current. May be I am missing something to re-create it ?

[2019-08-04 11:02] rishabh3112 commented on #1012
I think this makes sense (i.e. CLI arguments should have a higher priority in case of conflict with config).
Are there some tests I can start working on @evenstensberg?

[2019-08-04 11:08] evenstensberg commented on #1017
I don't think we are doing that, which tools are you using?

[2019-08-04 11:09] evenstensberg commented on #1016
This is not an issue

[2019-08-04 11:09] #1016 closed

[2019-08-04 11:11] evenstensberg commented on #1012
Just pick a flag to test

[2019-08-04 11:12] evenstensberg commented on #819
Yes it's still open but this is mostly a discussion thread for us to get feedback from.

[2019-08-04 11:35] cowwoc commented on #1017
IntelliJ IDEA, npx, webpack --watch

[2019-08-05 12:15] rishabh3112 commented on #1012
@evenstensberg I started on `--version` flag. I am afraid that I can't understand the requirements of this use case:

`webpack-cli --version` (in the empty project)
Instead of printing the version of the webpack CLI, it complies with errors.

Just for info, I understand this behaviour of command as per the current codebase, but is this the expected behaviour?

[2019-08-06 02:11] cowwoc commented on #1017
I found the culprit: https://github.com/eirslett/frontend-maven-plugin/blob/0766bf616266ff6ea55960e8a2d4d4702b25cfdb/frontend-plugin-core/src/main/java/com/github/eirslett/maven/plugins/frontend/lib/ProcessExecutor.java#L64

Sorry for the false alarm.

[2019-08-06 02:11] #1017 closed

[2019-08-11 20:49] #594 closed

[2019-08-12 08:53] pranavsrivatsaVL commented on #868
Hello  @pranshuchittora  @evenstensberg ,
Could I look into this issue if it is not assigned to anyone ?

[2019-08-12 08:54] pranavsrivatsaVL commented on #985
Hello @DanielRuf ,
Is anyone working on this ? Or can i start on this ?

[2019-08-12 09:09] DanielRuf commented on #985
Hi @pranavsrivatsaVL,

I guess so far no one is working on this. At least I do not have the time for this.
So you can start working on a PR to fix this.

[2019-08-12 23:45] pranavsrivatsaVL commented on #985
Okay. Will start working on this. Any pointers on where i should start looking at folder structure wise?

[2019-08-13 10:41] #649 closed

[2019-08-13 16:38] evenstensberg commented on #868
Yes!

[2019-08-14 09:38] wind4gis opened #1023 "TypeError: Cannot read property 'length' of undefined"
**Describe the bug**

A 💯 way to do this is to provide your configuration via a GitHub gist and/or to use markdown when describing which commands you used when the error occurred! Be precise and clear in your description of the bug.

**What is the current behavior?**
when I run `webpack --mode development(or production)`, the webpack-cli shows `TypeError: Cannot read property 'length' of undefined

[2019-08-14 12:10] evenstensberg commented on #1023
Hi, thanks for submitting an issue. It's a bug, I've done a patch here:

https://github.com/webpack/webpack-cli/pull/1024

Which hopefully will land as a patch soon

[2019-08-14 12:14] #976 closed

[2019-08-15 01:48] pranavsrivatsaVL commented on #868
I will start work on this . Thank you @evenstensberg .

[2019-08-15 02:53] pranavsrivatsaVL commented on #868
Thank you @evenstensberg
Started working on this.

[2019-08-16 03:45] wind4gis commented on #1023
@evenstensberg  It seems that there is still this bug

[2019-08-16 12:24] evenstensberg commented on #1023
Could you try out the #1024 branch and check if it fixes the bug?

[2019-08-17 17:39] ryanspice commented on #1023
I ran into this issue and pulled your branch it seems to be working now.

[2019-08-18 06:01] evenstensberg commented on #820
From our slack:

....

[2019-08-18 07:05] anshumanv opened #1040 "[infra] - cz-customizable is missing in deps but being used"
**Describe the bug**
https://github.com/webpack/webpack-cli/blob/da6d76ca214e1f20bab85a34aa353b11d2cd53cb/package.json#L110

We're using the package from node_modules but it's not present in dev deps as it should be.

**What is the current behavior?**
Missing package.

**To Reproduce**
do a fresh clone and try committing

**Expected behavior**
commit needs to go through once the package is install

[2019-08-18 07:30] anshumanv opened #1044 "[deps] - several vulns present in the project"
**Describe the bug**
A bunch of dep vulns are present

**What is the current behavior?**
vuln packages are present in the project

**To Reproduce**
npm audit

**Expected behavior**
no vuln packages

**Screenshots**
![image](https://user-images.githubusercontent.com/21009455/63221531-009dde00-c1b8-11e9-8ed2-4e37b8ea6d1b.png)

**Please paste the results of `webpack-cli info` here, and mention other

[2019-08-18 08:14] #1040 closed

[2019-08-18 08:49] anshumanv commented on #1044
Fixed now

[2019-08-18 08:49] #1044 closed

[2019-08-18 09:32] anshumanv opened #1046 "[ENHANCEMENT]: Prettify err in case the supplied flag(s) is/are unknown"
**Describe the bug**
Presently thrown err are simply logged in case of unknown flag, maybe we can present it nicely and show a message to use help flag for proper usage

**What is the current behavior?**
Stacktrace is printed in case of unknown flag.

**To Reproduce**
Invoke cli with an unknown flag

**Expected behavior**
concise message of supplying an unknown flag should be displayed. something

[2019-08-18 09:32] anshumanv commented on #1046
@evenstensberg @ematipico @rishabh3112 thoughts are appreciated. 😄

[2019-08-18 09:42] anshumanv commented on #1012
Writing tests for info ℹ️

[2019-08-18 10:06] evenstensberg commented on #1046
Yep we definitely need to do this

[2019-08-18 10:06] anshumanv commented on #1046
On it then!

[2019-08-18 11:06] evenstensberg commented on #1046
baller af

[2019-08-18 16:16] ryanspice commented on #1023
@evenstensberg not sure if this is to be expected but an empty webpack config object
![image](https://user-images.githubusercontent.com/3946233/63227173-dd703000-c1b1-11e9-8c3d-57cf794b9b0d.png) brings up the same error.

[2019-08-18 16:58] ryanspice commented on #1023
actually it might be something else, not quite sure, but trying to plug in my existing config I have seen this error pop up.

[2019-08-18 17:10] ryanspice commented on #1023
yeah im not sure why but when i tried to run it with a config now it was always giving me this error

![image](https://user-images.githubusercontent.com/3946233/63227863-5757e780-c1b9-11e9-85ce-2e7830dd87a3.png)

it looks like _webpackConfigurationValidationErrors_ is returning undefined??

it runs if i modify a file

![image](https://user-images.githubusercontent.com/3946233/63227890-95eda200-c1b

[2019-08-18 17:15] evenstensberg commented on #1023
yes, options might be null / undefined, so the error is from validating the schema. Do you think you can figure out when the options obj is nil @ryanspice ?

[2019-08-18 17:27] ryanspice commented on #1023
@evenstensberg yeah it seems like _validateschemea.js_ on webpack@5.0.0-alpha.20 doesnt have a return

![image](https://user-images.githubusercontent.com/3946233/63228052-da7a3d00-c1bb-11e9-8b06-33dd47a40735.png)

[2019-08-18 17:41] evenstensberg commented on #1023
@sokra can we have that?

[2019-08-18 17:56] ryanspice commented on #1023
I created a bug report: https://github.com/webpack/webpack/issues/9591

I was gonna create a branch and make a PR but then I realised I dont think i can do that there.

[2019-08-19 08:12] sokra commented on #1023
The `validateSchema` API changed a bit, since we are using `schema-util` now. It throws a `ValidationError` when validation failed. Also note that the `name` of the validation error changed from `WebpackOptionsValidationError` to `ValidationError`.

[2019-08-19 12:24] evenstensberg commented on #1023
Do you have a proposed way of using the schema with the new api? Not getting a message from validating the schema as of:

[code]

[2019-08-19 13:09] sokra commented on #1023
[code]

[2019-08-19 13:13] sokra commented on #1023
If you want to support both version maybe like this:

[code]

[2019-08-19 22:16] ryanspice commented on #1023
I'm not quite sure I understand why returning the value isn't appropriate.. It returns an empty array with no errors, would it not have an array populated with errors if there were some?
I probably just don't understand a fundamental part like how it would set the value if its not returning anything in the first place.

[2019-08-20 07:10] anshumanv opened #1053 "[ENHANCEMENT]: Add help for core commands"
**Is your feature request related to a problem? Please describe.**
We can have help commands for individual core commands for ex `webpack-cli create --help`

**Describe the solution you'd like**
Check if the help flag is present along with the core command and then print relative command.

**Describe alternatives you've considered**
NA

**Additional context**
Would love suggestions on this and wil

[2019-08-20 07:10] anshumanv commented on #1053
@evenstensberg @ematipico wdyt about this?

Here's how vue does this.
![image](https://user-images.githubusercontent.com/21009455/63325425-b3507680-c347-11e9-8f58-8bef5b097ff3.png)

[2019-08-21 19:55] evenstensberg commented on #1053
Yep we should do that if invoked with command syntax

[2019-08-21 20:38] anshumanv commented on #1053
Adding them in that case 👍

[2019-08-22 04:46] BradWebflex commented on #944
I'm getting the same issue.. I ran webpack-cli and it tells me that webpack is in npmGlobalPackages.

If i run webpack i get 'webpack is no install'.

My simple webpack.config.js looks like this.

`const path = require('path');

module.exports = {
  mode: 'development',
  entry: {
    myapp: './src/index.js',
  },

  output: {
    path: path.resolve(__dirname, 'www/js'),
    filename: '[name]_bund

[2019-08-22 08:21] evenstensberg commented on #944
Could you make a repository with reproduction of the issue? @BradWebflex

[2019-08-23 04:00] williamnie opened #1055 "ReferenceError: getConfigExtension is not defined"
**Describe the bug**
run
[code]
error:` ｢webpack｣:  ReferenceError: getConfigExtension is not defined`
my version :     "webpack-cli": "^4.0.0-alpha-5",

i read webpack-cli code
need change  file :webpack-cli/lib/groups/config.js:72
[code]
change to
[code]

[2019-08-23 14:11] rishabh3112 commented on #1055
Hi @williamnie, thanks for reporting. Would be nice if you could send a PR for this!

[2019-08-25 16:06] anikethsaha commented on #1012
Trying tests for `config`

[2019-08-26 01:34] williamnie commented on #1055
i use "webpack-cli": "^4.0.0-alpha-5",

[2019-08-26 01:44] liqiangsu opened #1064 "[BUG]: Error Cannot create property 'context' on string 'Error generating AST'"
**Describe the bug**
The migrate failed with the following message:

[code]

**To Reproduce**
[code]
**Screenshots**
The version:
@webpack-cli/migrate@0.1.8
The **webpack.config.js**
[code]

**Please paste the results of `webpack-cli info` here, and mention other relevant information**
[code]

[2019-08-27 14:37] hummal opened #1069 "[QUESTION]: webpack-cli@3.3.7 raises "Expected Identifier" in IE11"
**Describe the bug**

If I build my config with 3.3.7 it raises an error in execution in IE11 with the message "Expected indentifier". After downgrading to 3.3.5 it works as expected.

**What is the current behavior?**

The reason why this is happening is the new implemented function of "./node_modules/debug/src/common.js" - log(...array) - which is an ES6 syntax and can not be read by IE11.
This

[2019-09-03 07:56] wood1986 opened #1075 "[Feature Request] Having a helper function for parsing the outputOptions"
**Is your feature request related to a problem? Please describe.**
I am writing a tool and I want to reuse the implementation of parsing the outputOption that `webpack-cli` has already done rather than making mine or duplicating it. I am talking about
https://github.com/webpack/webpack-cli/blob/9487ee52dbb84d63bb9b6c158ced8b458da6289b/bin/cli.js#L139-L265

**Describe the solution you'd like**
just

[2019-09-04 15:53] rishabh3112 commented on #1055
Send up it to `next` branch with `next` branch as base.

[2019-09-05 01:36] williamnie commented on #1055
I found this bug has been fixed. Thank you

[2019-09-05 01:36] #1055 closed

[2019-09-05 15:37] crud-boy commented on #724
我的也有同样问题，执行 `npm i --save-dev webpack-cli` 后就解决了
I also had the same problem, which was solved by executing `npm I -- save-dev webpack-cli'.
[code]

[2019-09-05 17:06] zeeshan-mehdi opened #1077 "Main entry is missing. App cannot be started. Verify app bootstrap."
**what caused problem ?**

My project was on cli version 5.3 i updated it to the latest cli version 6 and also updated all the packages including npm.

**Problem**

It says
 An uncaught Exception occurred on "main" thread.
`System.err: Unable to start activity ComponentInfo{org.te.FirmApp/com.tns.NativeScriptActivity}: com.tns.NativeScriptException: Calling js method onCreate failed
System.err: Er

[2019-09-05 18:05] evenstensberg commented on #724
Try updating to 3.3.8

[2019-09-06 02:41] zeeshan-mehdi commented on #1077
what caused problem ?

My project was on cli version 5.3 i updated it to the latest cli version 6 and also updated all the packages including npm.

Problem

It says
An uncaught Exception occurred on "main" thread.
System.err: Unable to start activity ComponentInfo{org.te.FirmApp/com.tns.NativeScriptActivity}: com.tns.NativeScriptException: Calling js method onCreate failed System.err: Error: Main

[2019-09-07 14:37] anikethsaha commented on #1077
which CLI ?
webpack cli doesn't have any version more than 4.

[2019-09-07 14:39] zeeshan-mehdi commented on #1077
please check repository on this link this has all information
https://github.com/zeeshan-mehdi/driver-app

[2019-09-07 15:19] anikethsaha commented on #1077
I am not sure whether this is the solution or not but it is a bug it seems
the `entry` in the webpack config accepts a `string` or `array of strings`, but you have passed an object (https://github.com/zeeshan-mehdi/driver-app/blob/master/webpack.config.js#L62) , (https://github.com/zeeshan-mehdi/driver-app/blob/master/webpack.config.js#L123)

please refer the [docs](https://webpack.js.org/concepts

[2019-09-07 16:17] zeeshan-mehdi commented on #1077
this is not the issue  i have checked my other app is working with same webpack.config.js

[2019-09-08 05:47] anikethsaha commented on #1077
ok , yeah it can work !
can you please clarify this https://github.com/webpack/webpack-cli/issues/1077#issuecomment-529113754
Also, can you hardcode the entry path without using these variables and all? **I think there must be some error with locating the entry file in these lines** .
https://github.com/zeeshan-mehdi/driver-app/blob/master/webpack.config.js#L60-L62

I am not sure how this `natives

[2019-09-11 06:41] willgriffiths commented on #1023
Fixed by #1065. Landed in v3.3.8.

[2019-09-11 12:58] anikethsaha commented on #1012
I guess you can checkmark the ` config `.
Anything left for that!?

[2019-09-14 05:45] #761 closed

[2019-09-20 12:06] vhiairrassary opened #1080 "[ENHANCEMENT]: Yarn PnP support for serve command"
**Is your feature request related to a problem? Please describe.**

When using yarn v2, we can't use `serve` as `@webpack-cli/serve` is not declared as a dependency. It should be be declared as an **optional** peer dependency. Same for `webpack-dev-server`:

[code]

**Additional context**

Similar work for `webpack-dev-server`: https://github.com/webpack/webpack-dev-server/pull/2191 (but not enoug

[2019-09-20 20:02] #1023 closed

[2019-09-20 20:04] evenstensberg commented on #1064
I think this needs a bit work, leaving it open as `good first contribution` and `needs investigation` because it needs to be debugged first. Which version are you migrating from/to?

[2019-09-20 20:05] evenstensberg commented on #1069
You'll need to come up with repo that I can run this in. Most likely this is an issue with babel, not webpack itself.

[2019-09-20 20:06] evenstensberg commented on #1075
I think we're not gonna do anything with this file as it's on the master branch and we're working on improving the CLI at the next branch.

[2019-09-20 20:06] #1075 closed

[2019-09-20 20:09] evenstensberg commented on #1077
I think this would be best fit for stackOverflow as it looks like an issue non-related to the CLI itself. Happy to answer there if the question is specific and files are intented right along with a nice looking stack trace to make it readable.

[2019-09-20 20:09] #1077 closed

[2019-09-20 20:10] evenstensberg commented on #1080
Yep we can do that, will need for https://github.com/webpack/webpack-cli/pull/1011 to land then we can fix this.

[2019-09-27 10:23] #648 closed

[2019-09-28 02:43] evenstensberg opened #1084 "[FEATURE] Spawn a process instead of relying on main thread"
**Is your feature request related to a problem? Please describe.**
On `next` branch and in general `webpack`, we're using the thread singly to run webpack. This turns out to be a problem both earlier when trying to integrate node flag support https://github.com/webpack/webpack-cli/issues/289 and in node v12 when trying to implement a wrapper to support the new modules declarations ( https://github

[2019-09-28 06:05] #1069 closed

[2019-09-28 06:08] evenstensberg commented on #1012
Config done as of https://github.com/webpack/webpack-cli/commit/fa9d5c22b41458a71b91e73bfe48924a61ba6e3e

[2019-09-28 06:09] evenstensberg commented on #1053
Need help with this?

[2019-09-28 19:51] anikethsaha commented on #1084
Can you elaborate this, quite unclear with the flow!
when we are spawning the main thread, we get to use the child thread only right!, so is it like spawning  into more threads to re-run the CLI

[2019-09-29 06:57] anshumanv commented on #1053
Not yet, will send a patch in some time! :)

[2019-09-29 10:31] evenstensberg commented on #1012
For testing env, I think we'll add a stdout line where it says the current env for each compilation, both main and child compilations. Needs a PR to core and then drag that out to stats and tty

[2019-09-29 14:26] misterdev commented on #575
Some work on this has been done [here](https://github.com/misterdev/webpack-reporter-plugin)

[2019-09-29 18:49] lucas123ho commented on #944
Execute: **npm install --save-dev webpack-cli** in your project.
It worked for me

[2019-09-30 05:58] caogaofeng0 commented on #901
Its working fine with me
touch package.json

[2019-09-30 07:07] evenstensberg commented on #575
Need to add reporter flag

[2019-09-30 08:10] evenstensberg commented on #1013
Fixed https://github.com/webpack/webpack-cli/commit/239a67ea4fa32b3da180f374732d4c4a761dc4ac

[2019-09-30 08:10] #1013 closed

[2019-10-02 10:07] ohana54 commented on #1064
Same thing happened to me, added some console logs and got the original message:
`TypeError: jscodeshift_1.default is not a function`
I think `jscodeshift` doesn't export a default function, that's why it happens.

[2019-10-02 11:33] evenstensberg commented on #1064
Could you open a PR?

[2019-10-02 11:45] ohana54 commented on #1064
I don't know what the right solution is. Shouldn't it _not_ work for everyone? Or is it a specific environment issue?
I see that the import was changed from a `require` call to a default import call in #834
I'll create a PR anyway to import it correctly and we can continue the discussion there

[2019-10-02 18:50] #1064 closed

[2019-10-02 18:57] evenstensberg commented on #1080
@Loonride could you pick this up? Would greatly appreciate it and we really need it.

CC @evilebottnawi

[2019-10-02 19:40] ohana54 opened #1089 "[BUG]: TypeError: Cannot read property 'push' of undefined"
(Context: https://github.com/webpack/webpack-cli/pull/1088#pullrequestreview-296451308)

**Describe the bug**

The migrate failed with the following message:
[code]

**To Reproduce**
[code]

Example webpack.config.js:
[code]

**Please paste the results of `webpack-cli info` here, and mention other relevant information**
[code]

[2019-10-02 20:05] ohana54 commented on #1089
This happens because of the condition in setting the plugins.
The condition creates an extra nesting level in the AST, causing this line to be incorrect (we need to go 4 parents up): https://github.com/webpack/webpack-cli/blob/b46efe609ce7f3754b5c4efd7c866a2a29aad5e2/packages/migrate/uglifyJsPlugin/uglifyJsPlugin.ts#L46

I thought maybe traverse until we reach an `ObjectExpression` node, but webpa

[2019-10-02 20:24] Loonride commented on #1080
@evenstensberg I already added `webpack-dev-server` as optional peer dependency here: https://github.com/webpack/webpack-cli/blob/181822ffc78de8fc5dd3ba14db9def961316bd05/packages/serve/package.json#L26-L33

Do we need this for all the packages (serve, init, etc.)?

[2019-10-03 10:50] evilebottnawi commented on #1080
What `@webpack-cli/serve` is it?

[2019-10-03 10:50] evilebottnawi commented on #1080
For `webpack-dev-server` all solved

[2019-10-03 10:51] evilebottnawi commented on #1080
@evenstensberg you should install `@webpack-cli/serve` for using `webpack serve`?

[2019-10-03 10:57] evilebottnawi commented on #1080
Look at the others CLI programs, no one forces you to install additional modules for basic work

[2019-10-04 16:21] #588 closed

[2019-10-05 09:18] anikethsaha commented on #1012
Writing for `output`

[2019-10-06 20:04] #569 closed

[2019-10-06 21:11] #706 closed

[2019-10-06 21:11] evenstensberg commented on #706
https://github.com/webpack/webpack-cli/commit/3814d44d97d519f0b0eae2cc5e400b1899848e37

[2019-10-06 21:12] evenstensberg commented on #802
@anikethsaha could you work on this?

[2019-10-06 21:13] #1015 closed

[2019-10-06 21:14] anikethsaha commented on #802
Yeah sure!
I guess me and @rishabh3112 can work on this as we planned earlier.

[2019-10-06 21:40] evenstensberg commented on #985
https://github.com/webpack/webpack-cli/commit/51831c79bb701b7a21778ae7c90f7753a270c24d

[2019-10-06 21:40] #985 closed

[2019-10-06 21:41] evenstensberg commented on #789
@evilebottnawi will have to decide this

[2019-10-06 21:43] evenstensberg commented on #980
@jhnns do you think it's worth supporting coffeescript, or should we choose some set of ext we support?

[2019-10-07 00:57] rishabh3112 commented on #802
Yes, This issue has been resolved and package is released to npm.
Project is available at https://github.com/rishabh3112/webpack-scaffold-starter.

[2019-10-08 13:09] evenstensberg commented on #802
Okay great 👍

[2019-10-11 01:19] yellowjello opened #1094 ""errors-warnings" stats preset not supported"
**Describe the bug**

Webpack currently provides an `errors-warnings` stats preset that outputs only errors and warnings on build, but `webpack-cli` does not support that preset as an argument to `--display` yet.

**What is the current behavior?**

Outputs:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run `npx webpack --display errors-warnings`

**Expected behavior**
Builds with th

[2019-10-11 14:42] Andarist opened #1095 "[Feature Request]: --no-cache flag for webpack@5"
**Is your feature request related to a problem? Please describe.**
I often (well, from time to time) find myself editing node_modules by hand to debug a particular problem with some dependency. And webpack@5 with its persistent caching might make this process rather difficult - because it would require changing a config.

Actually you already have `--cache=false` here, but I'm not sure if this rig

[2019-10-11 23:05] NitroBAY opened #1096 "Add an option to configure rootMode of @babel/register"
**Is your feature request related to a problem? Please describe.**
Babel 7 now has a scope for the files it compiles which is determined by package.json.
I'll give my project as an example :
[code]

webpack.config.babel.js `imports` a file from outside /client "../helpers/settings.js"
With babel 6 it was okay, with babel 7 @babel/register must set "mode" to "upward" if you want babel to transpile

[2019-10-12 12:02] NitroBAY commented on #1096
Okay so gulpjs interpret is at fault here https://github.com/gulpjs/interpret/issues/54

[2019-10-12 12:07] #647 closed

[2019-10-12 12:08] #784 closed

[2019-10-12 14:14] NitroBAY commented on #1096
This issue should be in webpack so I'm closing it.
I created a PR for interpret https://github.com/gulpjs/interpret/pull/58
The mainteners and contributors of webpack should have their words on this PR which impact directly webpack by the way.

[2019-10-12 14:14] #1096 closed

[2019-10-14 18:15] anikethsaha commented on #1095
This is actually good if it's not present already! It will be too handy for the user to use it from CLI
I don't think right now the persistent caching flag is there. Is it @evenstensberg?
But as far as the webpack@5 is concerned, I guess we can wait for the major release as that is currently in beta, and then it can be added in the CLI. What do you think?

[2019-10-15 06:26] Thisiskamal commented on #436
**may be the solution of this problem is below**

I also got this problem....
![Capture](https://user-images.githubusercontent.com/49188738/66805330-62718e80-ef42-11e9-9670-4ce3ba3d160f.JPG)

it should be in sequence in package.json
![Capture](https://user-images.githubusercontent.com/49188738/66805407-93ea5a00-ef42-11e9-8645-06f4706d18d5.JPG)

[2019-10-16 04:23] phated commented on #980
@evenstensberg you can let https://www.npmjs.com/package/rechoir & https://www.npmjs.com/package/interpret do the heavy lifting. They are battle tested.

[2019-10-16 07:55] evenstensberg commented on #1095
We can add the cache flag for the new cli

[2019-10-16 08:46] evenstensberg commented on #980
We're doing that in the old upstream (master), I think problem was that people started beginning to worry about the size of the dependencies we were having. I'm +1 for having interpret still

[2019-10-16 11:33] Andarist commented on #1095
Would be great to at least prepare a PR for this before webpack@5 hits stable, but please do whatever you see most appropriate here

[2019-10-16 15:38] evenstensberg commented on #1095
Can do both

[2019-10-17 08:06] lessfish commented on #15
@bebraw so has this feature been added to the webpack now?

[2019-10-17 08:14] lessfish commented on #15
@bebraw sorry to hear that

[2019-10-17 08:17] lessfish commented on #15
@bebraw but the issue has been closed, does it mean that the team will not think about this feature?

[2019-10-17 08:19] bebraw commented on #15
@lessfish I'm not sure of the current status. I would check webpack 5 release notes. To do this properly, it needs support at the internals.

[2019-10-19 12:15] evenstensberg commented on #15
Sorry, gonna reopen, we're gonna support this.

[2019-10-20 19:20] omginbd commented on #866
Seems like this was about 6 months ago and I'm looking for a "Good First Contribution" ticket, does anyone mind if I start looking into this?

[2019-10-20 19:21] evenstensberg commented on #866
Yes!! If you want help, we’re here for you!

[2019-10-20 19:24] omginbd commented on #866
👍 Great, I'll get started!

[2019-10-23 12:39] evenstensberg commented on #819
I think maybe that it is worth adding another row to the output table that will show the entries mapped against their output bundles, will make it easier to check the entry-output relationship

[2019-10-23 23:28] pspeter3 commented on #980
How does it work without interpret?

[2019-10-24 18:39] evenstensberg commented on #1094
As we're developing the new CLI, I don't think that this is going to be fixed. Thanks for reporting, if it's causing you any trouble, you can edit stats directly through a configuration file meanwhile!

https://webpack.js.org/configuration/stats/#stats

[2019-10-24 18:39] #1094 closed

[2019-10-24 18:41] evenstensberg commented on #980
You'll need to have the same functionality either way, interpret has an object with matching ext + paths to that, meaning we won't need to create an object with that ourselves

[2019-10-27 20:05] soulofmischief commented on #15
@evenstensberg any chance we could have a general solution so that modifying content in additional config folders (i.e. `node-config` ) could also trigger a change?

[2019-10-28 03:08] zhouzhiqiangzzq opened #1104 "[bug generate-loader v0.1.8]: webpack generate-loader command error"
**Describe the bug**

I  init a project ,then install webpack ,config like below

`
"devDependencies": {
    "@webpack-cli/generate-loader": "^0.1.8",
    "webpack": "^4.41.2",
    "webpack-cli": "^3.3.9"
}
`

then use command 'webpack generate-loader' , get a error

`
AssertionError [ERR_ASSERTION]: Trying to copy from a source that does not exist: path/to/my-loader/node_modules/@webpack-cli/gene

[2019-10-29 16:12] evenstensberg commented on #15
I think that is a bit out of scope

[2019-10-30 08:09] rishabh3112 commented on #1104
@zhouzhiqiangzzq with webpack-cli v4, you have to use `webpack loader` instead of `webpack generate-loader`.

[2019-10-31 04:53] evenstensberg commented on #1095
Fixed https://github.com/webpack/webpack-cli/releases/tag/v3.3.10

[2019-10-31 04:53] #1095 closed

[2019-10-31 04:55] #1053 closed

[2019-10-31 05:23] evenstensberg commented on #1104
This is using the old cli @rishabh3112 , non-related

[2019-10-31 05:25] evenstensberg commented on #967
I think we've had some PR's to fix this, @anshumanv ?

[2019-10-31 05:26] evenstensberg commented on #887
Is this still happening to you?

[2019-10-31 05:29] evenstensberg commented on #759
I think we're gonna have a optional `use-defaults` flag that will enforce better defaults, other than that, I think we're goodie

[2019-10-31 05:30] evenstensberg commented on #803
For the config evaluation, we could do the following:

1. Same syntax as `apachectl test`
2. Use validation schema and output warn to console

[2019-10-31 05:31] #867 closed

[2019-10-31 05:33] evenstensberg commented on #758
I think we're having a good e2e  infra right now using smoketests. Needs a bit of a revisit, and some additional configurations to test against.

I think we need to add a couple of more tests, one for a folder that doesn't have watch, but for a simple config that compiles with dev-server, opens headless chrome and verifies that content gets rendered on page

[2019-10-31 05:34] evenstensberg commented on #839
@tomasz-sodzawiczny do you mind opening a new PR to the `next` branch? Would be greatly appreciated

[2019-10-31 05:36] evenstensberg commented on #899
Is the error the same for the next branch?

[2019-10-31 05:38] evenstensberg commented on #885
I don't think it's going to be a priority fixing this for the `v3` version, but will leave open as this might be an upcoming issue with `v4`

[2019-10-31 05:41] #152 closed

[2019-10-31 05:41] #624 closed

[2019-10-31 05:42] DanielRuf commented on #899
I will have to check this when I find some time. Did not yet try it on the `next` branch.

[2019-10-31 05:42] #654 closed

[2019-10-31 05:44] evenstensberg commented on #575
This is done, we need to add a flag to add reporter to the config, other than that, we're jazz 🎼

[2019-10-31 07:20] anshumanv commented on #967
Maybe other utils but not the `findProjectRoot` function.

[2019-10-31 18:03] anikethsaha commented on #1012
@evenstensberg can you update which flags are still required to add tests ?

[2019-10-31 22:23] NitroBAY opened #1107 "[ENHANCEMENT]: Update interpret to 2.0 (to have upward-optional for babel 7.0)"
Babel 7 now has a scope for the files it compiles which is determined by package.json.
I'll give my project as an example :
[code]

webpack.config.babel.js `imports` a file from outside /client "../helpers/settings.js"
With babel 6 it was okay, with babel 7 @babel/register must set "mode" to "upward-optional" (or upward) if you want babel to transpile files outside its root (which is determined by

[2019-11-01 15:34] tpodom commented on #887
Hi, yes.  For example, if I run `webpack --info-verbosity verbose` in https://github.com/webpack/webpack/tree/master/examples/multi-compiler it reproduces the issue.

[2019-11-04 02:34] d1y opened #1106 "[QUESTION]: Running `webpack` always gives an error, saying that you need to install `webpack-cli` but I have already installed it."
**Describe the bug**

I installed `webpack` globally and used `webpack-cli` as a `devDependencies`

the `package.json`

[code]

**To Reproduce**

init project

[code]

add `webpack.config.js`

[code]

`webpack` is globaled

[code]

run: `webpack`, Please take a look at the screenshot below, obviously I have already installed it...

**Screenshots**

I have used `npm i -D`, and also use `cnpm i -D`

[2019-11-04 08:02] evenstensberg commented on #899
Could you try it out and give us feedback if it helped you or not, if it solved the issue? Any other feedback would also be much appreciated!

[2019-11-04 08:02] evenstensberg commented on #967
Could you send a pr?

[2019-11-04 08:02] evenstensberg commented on #1012
The ones that are listed here are the ones missing, crossing them out as we go

[2019-11-04 08:03] evenstensberg commented on #887
Okay thanks for reporting, will have a look when there's time. If anyone else wants to fix, this is at `master` branch.

[2019-11-04 08:11] goyote commented on #1077
Can you guys post your fixes?

[2019-11-04 08:14] zeeshan-mehdi commented on #1077
it was module import issue some modules were not getting resolved so thats why it was throwing this exception i just imported the modules and the app started working fine so it could be the problem in your case .
thank you.

[2019-11-04 08:51] anikethsaha commented on #1012
Tests for `Output` flag is done. You mark it checked if it's fine.

[2019-11-04 08:54] anikethsaha commented on #1012
Will submit for `info` by this weekend.
Also can you explain about the dotfolder look up? Is it something like tests for ignoring them in the bundle?

[2019-11-04 10:31] evenstensberg commented on #1012
Dotfolder is a convention where you have a folder `.webpack` which will look in parent folder for source files

[2019-11-05 12:20] evilebottnawi commented on #789
/cc @Loonride @hiroppy What do you think about this?

[2019-11-06 03:13] evenstensberg commented on #1107
Could you submit a PR?

[2019-11-06 03:16] evenstensberg commented on #1106
Don't install webpack globally, have both dependencies locally. Does that help you?

[2019-11-06 06:00] evenstensberg commented on #717
Roadmap blocking a beta as per now:

- Progress flag needs a rebrush
- Adding interpret
- Supporting mjs and pre-processing  files
- Adding verbose flags
- Dev-server version bump

[2019-11-06 10:10] d1y commented on #1106
Yes. I set it to -save, it really works, but I am confused, why can't I install it `global` , can I have this dependency on a project, I have to have `-save`, so the file will be very big, This design is stupid :3

[2019-11-09 07:31] yovanoc opened #1110 "[Question]: Eslint config not found"
**Describe the bug**

When I'm trying to `yarn lint` in my project (yarn worksapces, monorepo) there is an eslint config which doesn't find another to extend to in the bin folder of webpack-cli.

**Expected behavior**
Should lint my project without errors.

**Screenshots**
<img width="1288" alt="Screen Shot 2019-11-09 at 8 25 35 AM" src="https://user-images.githubusercontent.com/7302317/68524752-b

[2019-11-09 15:15] MilanP28 commented on #299
Link globally installed package to your project

npm link webpack

Full Code [Here](https://icetutor.com/question/error-cannot-find-module-webpack/)

[2019-11-09 15:15] MilanP28 commented on #436
Link globally installed package to your project

npm link webpack

Full Code [Here](https://icetutor.com/question/error-cannot-find-module-webpack/)

[2019-11-11 12:19] ematipico commented on #1110
Quick question: why your project is extending webpack-cli eslint?

[2019-11-11 12:21] yovanoc commented on #1110
That's all the trouble! It does not extend it

[2019-11-11 12:24] ematipico commented on #1110
Did you set `"root": true` inside your eslint configuration file?

[2019-11-11 12:26] yovanoc commented on #1110
I checked true or false, doesn't change anything

[2019-11-11 12:28] ematipico commented on #1110
I don't think this is related to this project but if you can share your project, it might be easier to debug.

[2019-11-11 12:31] yovanoc commented on #1110
I'ts a private enterprise project so hard :/ but it can be an eslint issue then? all was perfectly fine until now but we are upgrading versions often

[2019-11-11 16:24] scottnicolson opened #1113 "[Question]: library-target is an array and should be a string or object."
the latest webpack-cli release 3.3.10 does not play well with webpack@4.41.2 when configured to output an amd library target.
The following error is thrown by webpack `library name must be a string for amd target`.

This issue seems to be introduced by issue #557.  Current webpack documentation states only string and object are valid. https://webpack.js.org/configuration/output/#outputlibrary

Can

[2019-11-12 01:39] kironalp commented on #299
npm link

Try This If It Is Work

[Here](https://icetutor.com/question/error-cannot-find-module-webpack/) Is Solution With Example

[2019-11-12 09:15] godcrampy opened #1114 "[BUG]: core cli-flags exported twice"
**Describe the bug**

In the `libs/utils/cli-flags.js`, the exported object contains the core key twice [here](https://github.com/webpack/webpack-cli/blob/next/lib/utils/cli-flags.js#L113) and [here](https://github.com/webpack/webpack-cli/blob/next/lib/utils/cli-flags.js#L255).

**What is the current behavior?**

As a result, only the later defined `core` key value pair is exported. Both the value

[2019-11-12 18:27] evenstensberg commented on #717
Removed webpack-config-plugins as it's not fit for webpack v5 yet. Also upgraded our peerDep + dep to webpack v5. After fixing failing tests and those regressions we are go.

[2019-11-12 18:33] evenstensberg commented on #1114
They're not exported twice I think, it's 2 different configurations that needs to be parsed differently by cmd-line-args

[2019-11-12 18:34] evenstensberg commented on #1113
I don't remember, but you can declare that in your configuration file instead?

[2019-11-12 18:46] scottnicolson commented on #1113
correct, you can declare it in the configuration file.  however i dont as i use standard webpack config for most of my projects and instead prefer to pass in the library-name on the command line.

Setting the library as an array is not supported, so can we not change it back to a string?

This arg switches for --output-library and --output-library-target should be correct when --output-library-tar

[2019-11-13 11:14] godcrampy commented on #1114
A recent change removed this bug.

[2019-11-13 11:14] #1114 closed

[2019-11-13 13:56] anikethsaha commented on #1012
command tests already exist as independent package tests.

[2019-11-13 20:06] anikethsaha opened #1116 "[Feat]: add webpack-default to plugin and loader generator project"
**Is your feature request related to a problem? Please describe.**
As [`webpack-default`](https://github.com/webpack-contrib/webpack-defaults) is build to bring the webpack standard projects. It's good to have it in the generator projects.

**Describe the solution you'd like**
To use webpack-default

**Describe alternatives you've considered**
None

**Additional context**
I am currently working on

[2019-11-14 04:57] marcins opened #1117 "Feedback using with webpack 5 beta"
I'm playing around with the current HEAD of the `next` branch, and Webpack 5 beta 5, and so far have two pieces of feedback. Not sure if you actually want them yet, but here they are anyway!

1. output with `--progress` is not very verbose, it basically said "10% building" for 3-4 minutes (how long it takes) and then the rest. Maybe there's just a `--verbose` flag I haven't found yet, but the old

[2019-11-15 10:47] anikethsaha commented on #1116
Closing /
https://github.com/webpack/webpack-cli/blob/master/packages/generators/addon-generator.ts#L61-L77

[2019-11-15 10:47] #1116 closed

[2019-11-17 12:48] evenstensberg commented on #1012
We need to have E2E tests for thsoe

[2019-11-17 12:49] evenstensberg commented on #1113
We're not actively maintaining the v3 release line anymore

[2019-11-18 02:16] Tronix117 commented on #1077
@zeeshan-mehdi I got the same issue, can you add some more details ?

[2019-11-18 09:20] hemal7735 commented on #575
@evenstensberg how are taking forward given that we have a `reporter` added. I can pick up if you provide a little bit of guidance.

[2019-11-18 09:27] hemal7735 commented on #866
@ematipico shouldn't we do the same for Webpack options?

should we move [WebpackOptions](https://github.com/webpack/webpack-cli/blob/next/packages/generators/types/index.ts) to [webpack-type definitions](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/webpack/index.d.ts) ?

[2019-11-18 15:25] webpack-bot opened #1125 "[DISCUSSION]: Webpack CLI, stats, display "hidden modules""
Hello!

I'm trying to figure out what went into a Webpack bundle.

I'm running the build using CLI: `npx webpack` and I see a list of modules with a hint: `+ 310 hidden modules`.

I then run `npx webpack --display-max-modules 1000` and I see a slightly bigger list, but still with the hint: `+ 300 hidden modules`. No matter how big number I use for the `--display-max-modules` option it doesn't show

[2019-11-19 08:14] wood1986 opened #1126 "[BUG]: webpack-cli@4.0.0-beta.1 no longer supports function-export-based webpack.config.js"
**Describe the bug**

When my webpack.config.js is exporting a function instead of a simple object. Webpack won't recognize my config anymore. I have checked your test case on your next branch and I do not see any webpack.config.js which is exporting a function. When I export an object, it works Are you work in progress? Or Will you deprecate that kind of export?

**What is the current behavior?**

[2019-11-20 08:22] vertuxx opened #1127 "[BUG]: @webpack-cli/init@0.3.0 does not work"
**Describe the bug**

An error occurs when you run the `webpack-cli init` command.

**What is the current behavior?**

**To Reproduce**
[code]

**Expected behavior**
The `webpack-cli init` command works correctly.

**Screenshots**
N/A

**Please paste the results of `webpack-cli info` here, and mention other relevant information**
[code]

**Additional context**
[code]
package.json
[code]
@webpack-c

[2019-11-20 22:23] evenstensberg commented on #575
Add the plugin if the flag is present, that's it

[2019-11-21 09:50] scottnicolson commented on #1113
Oh that is a shame.  is the next version far away?

[2019-11-21 19:54] wood1986 commented on #1126
+ @TheLarkInn

[2019-11-21 19:54] TheLarkInn commented on #1126
cc @evenstensberg this is considered a release-blocking bug.

[2019-11-21 19:56] TheLarkInn commented on #717
Let's add webpack/webpack-cli#1126 to blocking list.

[2019-11-22 03:30] godcrampy commented on #717
I'd like to write some smoke-tests! Can I get some pointers as to what kind of smoke tests are to be written besides the ones which are already present. What all stuff are these tests supposed to display?

[2019-11-22 04:55] evenstensberg commented on #1126
Considered!

[2019-11-22 04:55] evenstensberg commented on #1126
Thx for your bug report @wood1986 , appreciate you putting in the time ❤️

[2019-11-22 04:57] evenstensberg commented on #1125
I don't think we will support this right now, as we're focused on the next branch, will leave open for a bit to air any opinions

[2019-11-22 04:59] evenstensberg commented on #1127
Could you try the same with webpack-cli@beta?

[2019-11-22 05:00] evenstensberg commented on #717
Fixing the smoketests for watch mode would be really nice, right now those are kinda flaky, so we've disabled the CI to run them.

Could you check that out? The tests are supposed to show that the CLI is rigid and doesn't break under harsh conditions 👍

[2019-11-22 05:01] evenstensberg commented on #1117
Thx for the feedback! If you have any more, preferences or anything, feel free to speak up!

[2019-11-22 08:27] endiliey commented on #717
Hi there, this is sort of unrelated but can I suggest to use "Squash and Merge pull request" instead of "Merge pull request" moving forward. Currently, its very hard to track changes between version of webpack-cli because a lot of commits in a PR is all retained. Here is an example:

https://github.com/webpack/webpack-cli/compare/v3.3.5...next

Due to using "merge pull request", there are lot of "

[2019-11-22 11:33] evenstensberg commented on #1113
We're collecting feedback and iterating now

[2019-11-22 11:37] evenstensberg commented on #717
I think one of the reasons why we changed from squash to merge was because people wanted the entire commit log, but I'm happy to do squashing, it's cleaner, if there's no objections

[2019-11-22 12:48] evilebottnawi commented on #1125
@evenstensberg feel free to close issue or mark as discussion, it is just from webpack repo :smile:

[2019-11-22 15:13] godcrampy commented on #717
I tried running the smoketests as is without any changes. Currently they return `Test for child compilation hang, exiting`. Is this _delay a problem with the core cli or is the current smoketest causing it to behave this way.

Also, will for the temporary files that are created during the smoketest, will it be

[2019-11-22 17:07] hemal7735 commented on #575
@evenstensberg can you elaborate please?

[2019-11-23 17:40] xiaoxiangmoe commented on #282
@evenstensberg

node 13.2 has been released with .mjs support without flag: https://github.com/nodejs/node/releases/tag/v13.2.0

can we think about use `webpack.config.mjs` and `webpack.config.cjs` as config file?

[2019-11-23 20:15] wood1986 commented on #1126
I have one more request. webpack-cli 3 has a private function https://github.com/webpack/webpack-cli/blob/f9f08604a1ce5272b20d4f942e6861f3dc170dc0/bin/cli.js#L125 to convert function-export-base to the real object. I want to reuse but it is not exposed. In webpack-cli 4, is it possible to expose that?

[2019-11-24 21:03] szundel commented on #1127
I had a similar issue on Node 10.17.0. It worked for me after I downgraded to 10.15.3

[2019-11-25 02:14] vertuxx commented on #1127
The following command was executed.
[code]
However, another error occurs and it does not work.

[code]

I am also using node@10.17.0.

[code]

Thank you.

[2019-11-25 03:06] vertuxx commented on #1127
I also tried `node@12.13.1` but it seems to be no good as well. `@webpack-cli/init@0.3.0`

I use `@webpack-cli/init@0.2.2 `which is fine for now.

`yarn add --dev webpack webpack-cli @webpack-cli/init@0.2.2`
[code]
Thank you.

[2019-11-25 11:25] evenstensberg commented on #1125
Okay, I think maybe we can leave this for a bit more days/weeks to evolve

[2019-11-25 11:25] evenstensberg commented on #717
Do you have a stack trace @godcrampy ?

[2019-11-25 11:26] evenstensberg commented on #575
So to add this feature you will need to:

1) Check if a flag named `--output-reporter` is present
2) If so, add the reporter plugin to a configuration

You will need to add the flag to `cli-flags.js`

[2019-11-25 11:32] evenstensberg commented on #1126
I think that the edit needs to be done here:

https://github.com/webpack/webpack-cli/blob/next/lib/groups/config.js#L86-L88

[2019-11-25 11:33] evenstensberg commented on #1127
Thx for the feedback!

[2019-11-25 11:33] evenstensberg commented on #282
Definitely, are you able to test it against `webpack-cli@beta`?

[2019-11-25 15:58] godcrampy commented on #717
When I run `$ npm run smoketest` I get the following:
[code]

The exact iteration it fails varies between 1 to 3 for my machine. The current error is shown when the webpack compiler exceeds _5_ seconds for compiling the given changes on watch mode.I think that the arbitrary five second wait time to decide whether the process is stuck is a bad metric.

These exceptions come from here:
https://githu

[2019-11-26 12:09] isitgeorge opened #1128 "Stats.preset is an unknown property @4.41.2"
**Describe the bug**

According to the docs at https://webpack.js.org/configuration/stats/#extending-stats-behaviours I'm able to specify a preset stat and then extend/overwrite with other options. However the latest normal release @4.41.2 suggests this is an unexpected property.

[code]

**What is the current behavior?**

[code]

**To Reproduce**
Steps to reproduce the behavior:
Execute `webpack`

[2019-11-27 09:41] anikethsaha commented on #1126
Not sure why this bug is happening but the tests seems fine and passing for config type function

https://github.com/webpack/webpack-cli/tree/next/test/config/type/function

![Screenshot_2019-11-27-15-09-17-544_com android chrome](https://user-images.githubusercontent.com/26347874/69712032-1eb89a00-1128-11ea-9ff1-d9df1105c074.jpg)

[2019-11-28 05:51] monu2580 commented on #299
i was getting the same error " [Bug]: Cannot find module 'webpack' "
i fixed this Error after following these steps:
Step-1: Run this command to install webpack

     npm install --save-dev webpack webpack-cli
Step-2: uninstall Webpack

     npm uninstall --save-dev webpack webpack-cli
step-3: Delete node-module folder from your project directory

     rm -rf node_modules
step-4: Run npm install

[2019-11-28 05:58] monu2580 commented on #299
![Screenshot from 2019-11-28 11-11-19](https://user-images.githubusercontent.com/30049228/69780696-fbe2c000-11d1-11ea-8791-afe744702e04.png)
![Screenshot from 2019-11-28 11-14-26](https://user-images.githubusercontent.com/30049228/69780698-fc7b5680-11d1-11ea-949b-5925b6c8a3b8.png)
![Screenshot from 2019-11-28 11-14-48](https://user-images.githubusercontent.com/30049228/69780700-fc7b5680-11d1-11ea-

[2019-11-28 06:04] monu2580 commented on #299
![Screenshot from 2019-11-28 11-11-19](https://user-images.githubusercontent.com/30049228/69780826-60058400-11d2-11ea-8cc2-6a9c80af33d4.png)
![Screenshot from 2019-11-28 11-14-26](https://user-images.githubusercontent.com/30049228/69780827-609e1a80-11d2-11ea-8cb6-94d4044be900.png)
![Screenshot from 2019-11-28 11-14-48](https://user-images.githubusercontent.com/30049228/69780828-609e1a80-11d2-11ea-

[2019-11-29 08:38] r00nscapenab opened #1129 "NPX WEBPACK-CLI INIT"
version 0.3.0
when I run
`npx webpack-cli init`
it returns "init isn't a valid name. It should be prefixed with 'webpack-scaffold', but have different suffix.

[2019-12-02 02:54] xiaoxiangmoe commented on #282
@evenstensberg What tests do I need to do?

[2019-12-03 13:34] rishabh3112 commented on #1127
Hi @vertuxx thanks for reporting error.
- `v0.3.0` was launched from `next` branch without beta tag.
- For `webpack-cli` v4, we have renamed `init` to `create`
- `v0.3.0` should work with following commands with `webpack-cli@beta`:
[code]
cc @evenstensberg

[2019-12-03 13:36] rishabh3112 commented on #1127
Add `npx` against commands if CLI is installed locally

[2019-12-03 13:39] rishabh3112 commented on #1129
@r00nscapenab
If you want to use `webpack-cli` v3, please downgrade `@webpack-cli/init` to version `0.2.2`.
If you want to use `webpack-cli` v4(beta) (which would be nice), use following commands after installing `webpack-cli@beta`
[code]

[2019-12-03 13:43] rishabh3112 commented on #1128
@isitgeorge please share `webpack-cli` version and also share a minimum reproducible repository.

[2019-12-03 14:43] isitgeorge commented on #1128
@rishabh3112
[code]

The minimum reproducible is a `webpack.config.json` consisting of just
[code]

`➜  ~ webpack` and you will get `- configuration[0].stats has an unknown property 'preset'.`

Thanks!

[2019-12-04 05:22] silent-lad commented on #669
I am very interested to work on this , I saw the todo board for the same is closed now. Any tips in where to start from? @evenstensberg

[2019-12-04 17:28] dictateurfou commented on #1127
@rishabh3112 if im use webpack-cli@beta create work but im have the following error when use npm run build
` webpack

⬢ webpack: ValidationError: Invalid configuration object. Webpack has been initialised using a configuration object that does not match the API schema.
 - configuration.optimization.splitChunks should be one of these:
   false | object { automaticNameDelimiter?, cacheGroups?, chunk

[2019-12-05 03:20] rishabh3112 commented on #1127
@dictateurfou
This error seems to be due to error in the configuration. Refer following steps:
1. If you are using `webpack v5`, refer [Migration Guide](https://github.com/webpack/changelog-v5/blob/master/MIGRATION%20GUIDE.md) to update the scaffolded configuration.
2. If you are using `webpack v4`, use `webpack-cli v3`, `@webpack-cli/init v0.2.2`.

[2019-12-05 07:39] rishabh3112 commented on #1128
Hi @isitgeorge, I looked and it isn't a problem with `webpack-cli` package, configuration was ill structured as per v4.41.2.
`preset` is meant to be passed directly:
[code]
For further info checkout https://v4.webpack.js.org/configuration/stats/
Hope that solves your issue !

[2019-12-06 11:46] isitgeorge commented on #1128
Hi @rishabh3112,

Thanks for the reply, that does solve things.

I imagine this is an issue with the docs then if the ability to extend presets via `stats.preset` isn't available in the current stable version? The v4 docs you linked make sense.

Cheers

[2019-12-06 11:58] rishabh3112 commented on #1128
Yup, main site contains some changes corresponding to webpack v5 ( which is in beta ).

[2019-12-06 12:29] isitgeorge commented on #1128
Sweet, thanks for your help!

[2019-12-06 12:29] #1128 closed

[2019-12-06 17:50] yovanoc opened #1135 "webpack-cli 4.x doesn't work with a TypeScript config file"
**Describe the bug**

Here's my webpack.config.ts : https://gist.github.com/yovanoc/cd86b8f226f45dfb465d2c2d9474862c

**What is the current behavior?**

This error happen on build:

[code]

**Additional context**

[code]

[2019-12-06 18:44] pranshuchittora opened #1136 "[Bug]: merge config not working"
**Describe the bug**
Merging config not working.
A 💯 way to do this is to provide your configuration via a GitHub gist and/or to use markdown when describing which commands you used when the error occurred! Be precise and clear in your description of the bug.

**What is the current behavior?**
Now working
This is where you elaborate on the current behavior of the cli, how it behaves normally diffe

[2019-12-06 18:47] pranshuchittora opened #1137 "[Bug]: Error logs after running cli"
**Describe the bug**
After running a successful command long error logs appears.
[code]

**What is the current behavior?**
Long error logs

**To Reproduce**
Steps to reproduce the behavior:
1. Run `webpack-cli --config webpack.config.js`

**Expected behavior**
No err logs
**Screenshots**
If applicable, add screenshots to help explain your problem.

**Please paste the results of `webpack-cli info`

[2019-12-07 06:55] anshumanv opened #1138 "[ref]: use enum instead of direct string comparison"
**Do you want to request a *feature* or report a *bug*?**
We're using string comparison in bootstrap.js (will take a look at other files as well later), which can lead to bugs due to possible typos in future, use enums to stick to standard errs.

**What is the current behavior?**
Need refactor

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected beh

[2019-12-08 20:25] DanielRuf commented on #1127
Same here. None of these ways work:

[code]

[2019-12-08 20:26] DanielRuf commented on #1127
Well, this is a breaking change and not reflected in the docs.

[2019-12-10 13:24] smashercosmo opened #1144 "webpack-cli doesn't work with config file authored in typescript"
**What is the current behavior?**
Webpack-cli doesn't work with config file authored in typescript. Following this recipe
 https://webpack.js.org/configuration/configuration-languages/#typescript result in an error
[code]

**To Reproduce**
https://github.com/smashercosmo/webpack-ts-config-issue
run:
[code]

**Expected behavior**
webpack-cli should work with config file authored in typescript

**Pl

[2019-12-10 14:12] #953 closed

[2019-12-10 18:57] rishabh3112 commented on #668
cc @evenstensberg

[2019-12-12 06:55] SachinJeremiahL commented on #546
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'start' ]
2 info using npm@6.4.1
3 info using node@v10.10.0
4 verbose run-script [ 'prestart', 'start', 'poststart' ]
5 info lifecycle ezeecloud@1.1.1~prestart: ezeecloud@1.1.1
6 verbose lifecycle ezeecloud@1.1.1

[2019-12-12 06:58] SachinJeremiahL commented on #546
{
    "name": "ezeecloud",
    "productName": "EzeeCargo",
    "version": "1.1.1",
    "description": "Ezee info Cloud Solutions Cargo Developers and Maintainers ",
    "scripts": {
        "build": "concurrently \"yarn build-main\" \"yarn build-renderer\"",
        "build-dll": "cross-env NODE_ENV=development webpack --config ./configs/webpack.config.renderer.dev.dll.babel.js --colors",
        "

[2019-12-12 08:19] SachinJeremiahL commented on #191
@evenstensberg  https://github.com/electron/electron/issues/21482#issue-536335396

[2019-12-12 08:22] SachinJeremiahL commented on #191
![WhatsApp Image 2019-12-12 at 12 41 27 PM (2)](https://user-images.githubusercontent.com/29484768/70694851-87864180-1ce6-11ea-819c-9c4bb2149124.jpeg)
![WhatsApp Image 2019-12-12 at 12 41 27 PM (1)](https://user-images.githubusercontent.com/29484768/70694853-88b76e80-1ce6-11ea-9a0d-0aba9595a517.jpeg)
![WhatsApp Image 2019-12-12 at 12 41 27 PM](https://user-images.githubusercontent.com/29484768/706

[2019-12-13 15:45] rishabh3112 commented on #1144
Hi @smashercosmo Thanks for opening issue with awesome details.
You didn't include `"allowSyntheticDefaultImports"` option in your `tsconfig.json`.

Here is the minimal solution to your issue https://github.com/rishabh3112/issues/tree/master/cli%231144

![image](https://user-images.githubusercontent.com/15812317/70812367-7ffd9000-1ded-11ea-8a45-c5cbe5d3da29.png)

[2019-12-14 05:43] anshumanv opened #1145 "[info]: info package invocation error"
**Describe the bug**

Errors while running the info command, since no args are supplied and we're trying to get the keys from it so errors out.

**What is the current behavior?**

Errors when info command is supplied.

**To Reproduce**
`webpack-cli info`

**Expected behavior**
Should return the entire information.

**Screenshots**
![image](https://user-images.githubusercontent.com/21009455/7084406

[2019-12-14 05:49] anshumanv commented on #1145
Fixed in #1142

[2019-12-15 01:31] #902 closed

[2019-12-15 04:47] DominusVilicus commented on #282
This needs an update as node has officially released modules without a flag (albeit experimental)

Node is heading towards ESM over the next few years, so this needs to be addressed.

[2019-12-16 03:04] seadavis commented on #821
I just tested this with, 5.0.0-beta.3 instead of 4.35.3, and it does work, on the latest beta.

[2019-12-16 11:04] smashercosmo commented on #1144
@rishabh3112 I added allowSyntheticDefaultImports to my tsconfig.json. I didn't fix the issue. https://github.com/smashercosmo/webpack-ts-config-issue/commit/02130e0de5aa9500da632e8d7ca788b16a5590a2

[2019-12-16 17:47] rishabh3112 commented on #1144
@smashercosmo Have you tried up the repository with the solution I provided above ? Let me if that also isn't solving the issue for you.

[2019-12-16 17:51] rishabh3112 commented on #1144
Also try using `cross-env` as suggested by the documentation.
https://github.com/smashercosmo/webpack-ts-config-issue/blob/02130e0de5aa9500da632e8d7ca788b16a5590a2/package.json#L7

[2019-12-17 10:39] smashercosmo commented on #1144
Turned out that I forgot to install typescript 🤦‍♂️🤦‍♂️🤦‍♂️
thx @rishabh3112

[2019-12-17 10:39] #1144 closed

[2019-12-17 15:30] rishabh3112 commented on #1135
@yovanoc provide a minimum reproducible repository to help us dig in the issue.

[2019-12-17 16:16] yovanoc commented on #1135
Ok, I will try to do that asap

[2019-12-17 16:24] yovanoc commented on #1135
just a `yarn build` here https://github.com/yovanoc/webpack-issue

[2019-12-18 21:27] ParrotStone commented on #1129
If I wanted to use `webpack-cli` v4(beta), what version of `@webpack-cli/init` should I use?
Currently, I have the same issue with `webpack-cli` v3.3.10 and `@webpack-cli/init@0.3.0`

[2019-12-19 09:27] ematipico commented on #1135
You need to use `ts-node` if you want to provide a TypeScript file to webpack. By default webpack doesn't understand TypeScript. You have to give webpack a configuration file that webpack is able to understand

[2019-12-19 10:18] yovanoc commented on #1135
I have it in globals. But same, if I put it in the project is doesn't work either.

[2019-12-19 10:25] rishabh3112 commented on #1135
@yovanoc I haven't checked your repository yet, but #1144 might be related to your issue.

[2019-12-19 10:30] yovanoc commented on #1135
Nope, nothing fix this issue. I already read https://webpack.js.org/configuration/configuration-languages/#typescript

I think the issue is related to node13 and/or these modules versions together.

[2019-12-19 12:12] rishabh3112 opened #1149 "[Enchancement] Implement webpack installation on CI"
**Do you want to request a *feature* or report a *bug*?**
Refactor ( Feature? )

**What is the current behavior?**
`webpack` is installed as a direct dependency ( should be dev dependency ( fix at #1148) ).
**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
Install webpack when running CI so that we can test both `webpack v4` and `webpa

[2019-12-19 13:24] ematipico commented on #1135
I saw the repo. I you have to start `ts-node` BEFORE running webapck

[2019-12-19 13:35] yovanoc commented on #1135
You're wrong. Look at the webpack website.

[2019-12-19 14:17] ematipico commented on #1135
Great thanks!

[2019-12-19 16:26] NitroBAY commented on #1107
Seemingly somebody else did it (215e233a)

[2019-12-19 16:26] #1107 closed

[2019-12-19 16:41] NitroBAY commented on #1107
It still does not work. If I import from client/webpack.config.babel.js  a file from outside client it won't parse the ES6 syntax through babel so `export and import` will fail.

[2019-12-21 12:17] anshumanv opened #1151 "[create]: Handle create package errors gracefully"
**Describe the bug**

Presently in cases when there's an error in generating the config, the stack trace is shown, we can rather print a nice error message.

**What is the current behavior?**

Stack trace instead of exact err

**To Reproduce**
`webpack-cli create --auto` in a place which already has a package.json

**Expected behavior**
Should throw a pretty err since we can't scaffold in that loc

[2019-12-21 12:20] anshumanv opened #1152 "[create]: auto create generator has missing files in template"
**Describe the bug**

sw which needs to be registered is not present as specified in https://github.com/webpack/webpack-cli/blob/51831c79bb701b7a21778ae7c90f7753a270c24d/packages/generators/templates/template.html

**What is the current behavior?**

sw is absent, it needs to be copied to the generator.

**To Reproduce**
`webpack-cli create --auto` no sw present as specified in the template index f

[2019-12-21 13:32] rishabh3112 opened #1154 "[Documentation]: Migration guide for version 4"
**Do you want to request a *feature* or report a *bug*?**

A Documentation update

**What is the current behavior?**
webpack-cli v4 breaking changes are not known to users

**If the current behavior is a bug, please provide the steps to reproduce.**

N/A

**What is the expected behavior?**
A migration guide

**If this is a feature request, what is motivation or use case for changing the behavior?*

[2019-12-21 13:35] anshumanv commented on #1154
Please also list down all the docs that need migration so it can be done incrementally.

[2019-12-21 13:47] rishabh3112 commented on #1154
@anshumanv have a look at commit history for these changes.

[2019-12-22 09:51] #943 closed

[2019-12-26 09:46] sriniwaz commented on #1135
poda lusu

[2019-12-29 18:44] Deathrow77 commented on #941
@evenstensberg Can I take up this issue?

[2019-12-30 07:12] Deathrow77 commented on #941
@webpack-bot claim

[2019-12-30 07:44] Deathrow77 commented on #941
@evenstensberg Please correct me if I am wrong. The default package manager has to npm. Only if we have yarn installed locally, will we use yarn. In every other case, NPM will be the package manager. Right?

[2019-12-30 08:09] vvni commented on #1135
Did this issue not be resolved？

[2019-12-30 08:58] yovanoc commented on #1135
Not yet

[2019-12-30 08:59] vvni commented on #1135
ok.🙂

[2019-12-30 18:00] ematipico commented on #941
@Deathrow77 yes, npm should be the default

[2019-12-31 13:57] Deathrow77 commented on #941
@ematipico So, there's no need to check for local NPM. We can set it to default package manager, check for local yarn and then, try spawning yarn. If local yarn exists, we use that. Else We try the spawn and if it returns an error, npm is the returned.
[code]

[2019-12-31 14:16] parulc7 opened #1160 "Test Error : "Package Manager should spawn npm update from spawnchild" when building using Yarn"
**Describe the bug**

After bootstrapping and building using yarn, I ran the package tests and it returned the erro - **Package manager should spawn npm update from spawnchild**

**What is the current behavior?**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. yarn bootstrap
2. yarn build
3. yarn test:packages
4. See error

**Expected behavior**
A clear and concise description of what

[2019-12-31 16:18] Deathrow77 commented on #941
@ematipico I don't think there's a need to check for localNPM here. We just need to check for localYarn. I am using the following logic -

1. Set npm as the defaultPackageManager.
2. Check for local Yarn. If present, update the defaultPackageManager to yarn. If absent, return npm.
3. Try spawning yarn -v as well. If it return error, return npm.

However, this is bringing up an error with the test

[2019-12-31 22:49] ematipico commented on #941
@Deathrow77 yes I think a change to the test should be done. Also, we are releasing a major version, we can apply a breaking change I think

[2020-01-01 15:27] Deathrow77 commented on #986
@evenstensberg @DanielRuf @anikethsaha I am getting the following error on reciprocating -

[code]

[2020-01-01 15:40] rishabh3112 commented on #986
Refer following comment for this.
https://github.com/webpack/webpack-cli/issues/1127#issuecomment-561169959

[2020-01-02 22:27] tlmii opened #1163 "webpack-cli@4.0.0-beta.1 still (transitively) depends on webpack@4.x.x"
**Describe the bug**

Installing webpack-cli@4.0.0-beta.1 still adds the latest webpack @4.x.x to the node_modules folder, even though it directly depends on webpack@^5.0.0-beta.3.

The dependency comes to play via `webpack-cli -> @webpack-cli/init -> @webpack-cli/generators webpack@4.x.x`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a new folder
2. npm init
3. accept defaults
4. np

[2020-01-03 07:06] rishabh3112 commented on #1163
I think #1148 would solve this issue too @ematipico

[2020-01-04 03:33] ematipico commented on #1163
I think too

[2020-01-06 19:42] tlmii commented on #1163
Thanks folks. Just so I understand - should I just wait for that PR to be merged (it looks like maybe its blocked by the build failures on next at the moment?) or should I try to make another PR that addresses it now?

[2020-01-07 02:33] aesyondu commented on #1127
Thanks, i used `npm install -D @webpack-cli/init@0.2.2` and `npx webpack-cli init` worked.

[2020-01-08 16:03] niravasher commented on #1136
Merging two config files
Let's say I have 3 files - webpack.config.js, webpack.dev.js and webpack.prod.js
In webpack.dev.js environment is production and in webpack.prod.js environment is production
webpack.config.js has loaders and plugins while the other two files don't.
Hence to include the loader and plugin functionality from webpack.config.js we merge all the three by using a package `webpack

[2020-01-09 07:02] xiaoxiangmoe opened #1165 "support `webpack.config.cjs` by default"
We should also pick it up when a `webpack.config.cjs` is present

[2020-01-09 17:59] niravasher commented on #1012
@anikethsaha are you still working on writing test for info? If not can I work on it?

[2020-01-09 18:00] anikethsaha commented on #1012
go for it 👍

[2020-01-09 18:12] niravasher commented on #1012
![Screenshot from 2020-01-09 23-39-29](https://user-images.githubusercontent.com/32176296/72092920-5aef3500-3339-11ea-864c-d54a5ab082db.png)

This is what I get on typing webpack info.
So in my test I should match the OS, CPU, Node and npm version, webpack and webpack-cli version. Am i right? @anikethsaha . What else can I do here?

[2020-01-09 18:19] anikethsaha commented on #1012
yeah, pretty much that.
you can do tests with the plugins mentioned in the webpack config and do assertion.
and also with other dependencies.

I guess it may be different for the CI version, you can consider to skip these

[2020-01-10 09:43] niravasher commented on #1012
Test with plugins should be done in separate test right? Which other dependencies? @anikethsaha

[2020-01-10 11:09] niravasher commented on #1012
I keep getting this
![Screenshot from 2020-01-10 16-35-46](https://user-images.githubusercontent.com/32176296/72148716-7d2f9400-33c7-11ea-9604-25776a82c64c.png)

How to continue after this?
![Screenshot from 2020-01-10 16-36-09](https://user-images.githubusercontent.com/32176296/72148762-99333580-33c7-11ea-8ba6-1e5d0087ec28.png)

[2020-01-10 12:35] anikethsaha commented on #1012
You need to investigate that. Might be some installation error.

I meant webpack plugins only... Installed as a dep

[2020-01-10 13:37] niravasher commented on #1012
While installing webpack-cli error says I am installing webpack-cli in a project named webpack-cli. @anikethsaha

[2020-01-10 14:03] anikethsaha commented on #1012
You don't have to install webpack cli for working in this project locally.
Read the contribution guide. All steps are mentioned there.
In order to tests and use the local version you need to link it....

[2020-01-10 22:31] pebcakerror opened #1167 "--display verbose doesn't output everything"
# Bug report

**What is the current behavior?**
When using the `--display verbose` I don't get all output. It is truncated with `+ 2075 hidden modules`

**If the current behavior is a bug, please provide the steps to reproduce.**
run `webpack --display verbose` on an app with thousands of dependencies

**What is the expected behavior?**
https://webpack.js.org/api/cli/ lists the options as:

Since

[2020-01-12 03:42] sevillaarvin commented on #1127
Tested `npx webpack-cli init --auto` based on the docs https://github.com/webpack/webpack-cli/blob/next/packages/init/README.md#webpack-cli-init and it works for v0.3.0.

[2020-01-12 15:40] niravasher commented on #1012
I can test other cmds like help, json etc. Just `run(__dirname, [info])` gives the install msg. So in place of `info` what else can I run? @anikethsaha @rishabh3112

[2020-01-13 14:14] jwbth commented on #1127
I'm sorry, but how come that on a clean project `npx webpack-cli init` (that is in the docs everywhere, from https://webpack.js.org/configuration/ to https://github.com/webpack/webpack-cli/) doesn't run well?
[code]
I had to run `npm i -D @webpack-cli/init@0.2.2` before `npx webpack-cli init` as adviced here.

Could something be wrong with my setup (but as I said, I have a clean project, and nothi

[2020-01-16 14:44] exKAZUu opened #1169 "webpack 5 + cli 4 cannot build a node app using standard library (e.g. fs)"
# Bug report

**What is the current behavior?**

`webpack@5.0.0-beta.12` + `webpack-cli@4.0.0-beta.1` cannot build the following node app though `webpack@4` + `webpack-cli@3` can build it.

[code]

Here is `webpack.config.js`.

[code]

**If the current behavior is a bug, please provide the steps to reproduce.**

I've created a minimum reproduction repo including detailed steps to reproduce this bu

[2020-01-17 04:08] exKAZUu commented on #1169
Thanks! I confirmed webpack-cli 3 works well.

[2020-01-17 09:28] ematipico commented on #1169
Although it's a bug for version 4 of the cli. Thank you for reporting that

[2020-01-17 11:28] #1149 closed

[2020-01-17 13:51] rishabh3112 commented on #1163
@tlmii the PR has been merged. This should be available in next release.

[2020-01-17 15:41] ematipico commented on #1165
This requires a minimum of node right?

[2020-01-17 16:03] xiaoxiangmoe commented on #1165
No, we can just regard cjs as js

[2020-01-17 16:43] #1169 closed

[2020-01-18 10:25] RVyrvin commented on #1127
Hi all, pls help.
I have `npm v6.13.4`, `node v12.14.1`.
When i create new project, i use this steps (i use VSCode and is one empty folder.):
1. `npm init -y` (to create file pakage.json)
2. `npm install webpack webpack-cli --save-dev`
(after instalation i have: webpack: ^4.41.5, webpack-cli: ^3.3.10 )
3 After, i try to create project struct whith `.node_modules\.bin\webpack-cli init --auto`, and

[2020-01-18 11:37] DanielRuf commented on #1127
Hi @RVyrvin,

Please open a new issue.

Also see the previous replies.

Try `npm i @webpack-cli/init@0.2.2 --save-dev`.

[2020-01-18 11:39] DanielRuf commented on #1127
So you mean the file is not generated? webpack 4 does not require a config by default. Try it without the `--auto` option.

[2020-01-18 13:51] RVyrvin commented on #1127
Hi, ty for answer.
without --auto dont work.
And yes, now i need self create webpack.config.js.

El Sáb 18/01/2020, 12:39, Daniel Ruf <notifications@github.com> escribió:

[2020-01-18 16:09] DanielRuf commented on #1127
Please check the readme and the previous replies, `--init` should work.

[2020-01-19 06:58] sevillaarvin commented on #1127
Is it supposed to generate a **webpack.config.js** file?

Here are the files generated using `./node_modules/.bin/webpack-cli init --auto`:

<details>
<summary>
git status
</summary>
<pre>
On branch master

No commits yet

Untracked files:
  (use "git add <file>..." to include in what will be committed)

	.yo-rc.json
	README.md
	index.html
	node_modules/
	package-lock.json
	package.json
	src/

not

[2020-01-19 09:00] DanielRuf commented on #1127
Please see the previous comments and the readme in the repository. By default webpack does not need a config anymore (0 config) unless you want to change the defaults.

[2020-01-20 00:00] tlmii commented on #1163
@rishabh3112 Is there a target date for a beta 2? Saw the roadmap but couldn't find a schedule.

[2020-01-20 10:14] ematipico commented on #1136
No information have been provided so it's impossible to understand what's the issue. Please open a new issue and follow the template, so we can follow up the issue!

[2020-01-20 10:14] #1136 closed

[2020-01-20 10:18] ematipico commented on #1106
The common choice is to have all the deps inside the project. Having `webpack` globally is a case we don't handle.

[2020-01-20 10:18] #1106 closed

[2020-01-20 10:19] #669 closed

[2020-01-20 10:27] ematipico commented on #1084
@anikethsaha no, we don't create a new process when running the CLI. We do that only when running external commands.

The idea would be to run a new process when running our main code. So if the new user runs:
[code]
Internally, we would re run something like this using a new process:
[code]

 I think we could use `execa` for this need. We already use it for our tests.

[2020-01-20 14:17] ematipico commented on #1138
Closing the issue as it doesn't bring enough value to the code

[2020-01-20 14:17] #1138 closed

[2020-01-21 09:05] yovanoc commented on #1110
Oh I just found the problem. He has a really simple solution. We don't have to lint node_modules things, so just put node_modules in the .eslintignore solve this issue.

[2020-01-21 09:05] #1110 closed

[2020-01-21 14:28] #1152 closed

[2020-01-22 16:22] rostaryms opened #1185 "TypeError: Cannot read property 'properties' of undefined"
I'm getting an error on my command prompt when I type 'npm run dev'.

This is the first time I've tried to type in npm run dev, so the error has been happening from the beginning.

To reproduce this error I just type in 'npm run dev' into the command prompt.

I expect typing in npm run dev to create a bundle.js file in the file folder I'm currently in.

![JS_Error](https://user-images.githubuserco

[2020-01-22 17:24] RVyrvin commented on #1127
Hi.
So "node_modulos/.bin/webpack-cli init --auto" create struct of project,
and don't create "webpack.config.js".
I understand with this file when i run "npm run build/start", dont run
application on the browser?
Now, i need to create "webpack.config.js" by self or i can create him
automaticaly?
Sorry my english and ty for help me.

El dom., 19 ene. 2020 a las 10:00, Daniel Ruf (<notifications@gi

[2020-01-23 16:07] ematipico commented on #1185
@rostaryms  please next time do not remove the template or we'd need to close the issue.
Could you please fill the original template and provide a repo to reproduce (config file, version of webpack and webpack cli).

[2020-01-23 16:10] ematipico commented on #1127
@RVyrvin  you don't need to create a configuration file, `webpack` has its own defaults now.
If you need to add particular configuration, plugin, etc. you'd need to create yourself or use a a scaffold

[2020-01-23 16:10] jamesgeorge007 commented on #1046
[code]

[2020-01-23 16:10] jamesgeorge007 commented on #1046
\cc @ematipico

[2020-01-23 16:11] ematipico commented on #1046
@jamesgeorge007  could you please argument your comment? I don't understand why the comment 😅

[2020-01-23 16:20] jamesgeorge007 commented on #1046
Oops!

[2020-01-23 16:22] jamesgeorge007 commented on #1046
Passing in an unknown flag results in the logs as given above in my case. We can avoid those unnecessary logs by performing an exit here:-
https://github.com/webpack/webpack-cli/blob/a0ac134ff0d0a17c10387da99f5e96443e48bb15/lib/bootstrap.js#L70

[2020-01-23 16:24] anshumanv commented on #1046
What about passing a valid flag then an unvalid flag?

[2020-01-23 16:24] anshumanv commented on #1046
I think we can execute for the valid flag and log about the other parameter being invalid.

[2020-01-23 16:25] rishabh3112 commented on #1185
Replying to your doubt,

`@webpack-cli/info` is a npm package that outputs versions of `webpack` and `webpack-cli`. If you don't feel like installing it, please attach output of following commands.
[code]
Also we need minimum reproducible repository as @ematipico suggested to work on the issue.

[2020-01-23 16:26] anshumanv commented on #1046
Can do whatever everyone agrees with. ✨

[2020-01-23 20:26] rostaryms commented on #1185
Yes next time I can keep the template paragraphs within the issue post, sure.

As for providing a repo to reproduce, a config file, a version of webpack, and webpack cli, I'm not sure how to show those things. I'll have to do some research before I can provide that for you. Let me try now.

[2020-01-23 20:53] Legends commented on #1129
@rishabh3112

When I run: `npx webpack-cli create --auto`

I get:

My entry module is `src/index.js`?!

[code]

[2020-01-25 06:13] #1151 closed

[2020-01-25 06:30] jamesgeorge007 opened #1188 "Remove redundant args which serves the same purpose"
**Is your feature request related to a problem? Please describe.**
As of now `webpack-cli` supports both a flag as well as a command to show up version and help information. This seems to be redundant. CLI toolings are shipped with just having flags for the purpose.

**Describe the solution you'd like**
Remove the `help` and `version` command.

**Describe alternatives you've considered**
N/A

**Ad

[2020-01-25 06:31] jamesgeorge007 commented on #1188
@ematipico @rishabh3112 thoughts :thinking:

[2020-01-25 17:17] yovanoc commented on #1135
Hope it will be tackled one day 👍

[2020-01-27 05:49] ankurk91 opened #1190 "@webpack-cli/utils should move jest to devDependencies"
Hi,

I was trying to install `webpack-cli@4.0.0-beta.1` and found out it also installs `jest`.
Why i run command `yarn why jest`, i found the package `@webpack-cli/utils` is installing `jest`.

This package should be moved to `devDependencies`

https://github.com/webpack/webpack-cli/blob/aa6d82b649c9a1f4c54566b80597576d9bb554b4/packages/utils/package.json#L18

### Steps to re-produce
* `yarn add w

[2020-01-27 06:14] anshumanv commented on #1190
Certainly doesn't belong there, can you PR?

It is intentional.

[2020-01-28 12:03] lisa0826 commented on #436
webpack 4.41.5
webpack-cli 3.0.2
npx webpack hello.js --output-filename hello.bundle.js --output-path . --mode development
这样ok

[2020-01-28 13:31] smelukov commented on #1167
It's about webpack too - https://github.com/webpack/webpack/blob/webpack-4/lib/Stats.js#L233
Working on it

[2020-01-28 15:36] ematipico commented on #1188
Sounds fair, make a PR :)

[2020-01-28 16:18] rishabh3112 commented on #1188
I think both should be there as they arent conflicting any functionality and easier for beginners if we have both in place.

[2020-01-28 16:19] ematipico commented on #1188
I think we should be more complaint with other CLIs. Look at `git` for example.

[2020-01-28 16:22] rishabh3112 commented on #1188
We are compliant, we have flags (like other CLIs), just commands are extra.

[2020-01-28 17:22] ematipico commented on #1188
Looking at `git`, the command help is used to show help on the usage of a specific command:
- `git --help`
- `git help pull`

They work differently. `git` is the first CLI comes to mind. Also `npm` works in the same way.

[2020-01-28 17:27] anshumanv commented on #1188
Agree with the removal of redundant args.

[2020-01-28 17:29] jamesgeorge007 commented on #1188
PR coming up.

On Tue, 28 Jan, 2020, 10:57 PM Anshuman Verma, <notifications@github.com>
wrote:

[2020-01-28 17:55] ematipico commented on #1188
Actually, after the discussion, this is not an actual removal. It's about changing the behaviour of existing commands. Did I miss something?

[2020-01-28 18:08] rishabh3112 commented on #1188
@ematipico I didn't get what you meant by "changing behavior".

If this aids in disscussion, here is the current behavior of `help` as a command/flag (for example) :
- `webpack help serve`, `webpack serve help`, `webpack serve --help `, `webpack --help serve`
All give same ouput (command help)

- `webpack --help`,  `webpack help`
Both give same output (generic help)

[2020-01-29 09:38] ematipico commented on #1188
`webpack --help` and `webpack help` should be different. Try the same using `git` or `npm`. I'd prefer to align to a stronger CLI such as `git`.

All give same output (serve command help)

Do you have the same behaviour using `git`?

[2020-01-29 12:14] smelukov commented on #1165
Seems like we can't just support it - https://github.com/gulpjs/interpret/issues/65

[2020-01-29 15:45] manosriram commented on #868
Is this issue still around? If so, can I work on it ?

[2020-01-29 16:37] #1190 closed

[2020-01-29 17:03] rishabh3112 commented on #1188
No, in these CLIs `help` command is extension of help flag i.e. they perform same in certain conditions but command has extra functionalities.

Yes, except `git merge help` (i.e. `help` command passed later) is invalid.

I think we should we can safely remove `help` command for now as we are now targeting behavior matching to other CLIs like `git`. But later implement help as a full fledged comman

[2020-01-29 17:10] jamesgeorge007 commented on #1188
What about the `version` command?

[2020-01-30 07:10] ematipico commented on #868
@manosriram go ahead!

[2020-01-30 07:13] #289 closed

[2020-01-30 08:14] ematipico commented on #1188
We can focus on that later. Now there are still some important things to finish before v4. This can wait.

[2020-01-30 08:19] ematipico commented on #1084
Reopening. This work is halfway done. We have now to spawn a process for the cli itself.

[2020-01-30 11:31] ematipico commented on #717
At the moment the output of the new CLI is not correct. It doesn't provide all the information.
It should provide the exact same information that the function `stats.toString(options.stats)` emits.

Also, the result of current output is misleading and incorrect. I will take a shoot at that if anyone won't.

[2020-01-31 11:33] smelukov commented on #1084
@ematipico can you add more details please?
We exec cli already https://github.com/webpack/webpack-cli/blob/next/lib/bootstrap.js#L64 🤔

[2020-01-31 16:13] ematipico commented on #1084
@smelukov yes, when we pass `--node-args`. We should do it by default.

[2020-01-31 16:16] smelukov commented on #1084
I'll deal with it ;)

[2020-02-01 05:36] Deathrow77 opened #1199 "Add Attic Files generated when building using yarn to .gitignore"
**Describe the bug**

When building using yarn, a new folder named "attic" is generated which contains a few unnecessary server files.

**What is the current behavior?**
The attic folder is not added to .gitignore which pushes these files with every commit.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'terminal'
2. Execute 'yarn'
3. Go to your webpack-cli repository folder and find

[2020-02-01 08:37] rishabh3112 commented on #1199
Thanks for reporting!
I can't reproduce issue on my side, I use yarn and haven't experienced any such issues.
Try re cloning project in a separate empty folder and follow steps in our Contribution Guide.

[2020-02-01 09:37] ematipico commented on #1199
Also, we use npm for our project, not yarn. So we suggest to stick with npm to avoid these issues.

[2020-02-03 09:53] teabyii opened #1200 "The command moved into a separate package: undefined when run webpack serve"
**What is the current behavior?**

![image](https://user-images.githubusercontent.com/4496552/73641625-43426c80-46ab-11ea-88ce-c60dfae4ea5e.png)
I used `webpack serve`，but it didn't work.
This is my package dependencies:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. run `npx webpack serve`

**Expected behavior**
Run webpack-dev-server or give correct tips about what should be insta

[2020-02-03 09:55] teabyii commented on #1200
webpack/webpack-dev-server#2424

[2020-02-03 12:13] rishabh3112 commented on #717
@ematipico
What all is needed to be done for standard output?, like in what format should I give output.

[2020-02-03 14:24] jamesgeorge007 commented on #1137
Fixed in #1196

[2020-02-03 23:06] tathougies opened #1202 "Donations message frequency check should handle EPERM"
**Do you want to request a *feature* or report a *bug*?**

feature?

**What is the current behavior?**

webpack-cli uses utime to determine when to show a donations message. This means webpack-cli is unusable with package managers like nix: https://hydra.intrustd.com/build/1399/nixlog/3

**If the current behavior is a bug, please provide the steps to reproduce.**

Use webpack in a nix build on Mon

[2020-02-04 12:37] #1084 closed

[2020-02-05 09:57] #901 closed

[2020-02-05 11:55] #1137 closed

[2020-02-06 18:13] anshumanv opened #1208 "[create]: Unable to invoke create package"
**Describe the bug**

No longer able to invoke the create package from the cli

**What is the current behavior?**

Command errors out.

**To Reproduce**
Steps to reproduce the behavior:
`webpack-cli create`

**Expected behavior**
The command should function properly

**Screenshots**
![image](https://user-images.githubusercontent.com/21009455/73965543-633b8f80-493a-11ea-9b29-8292be37c2d9.png)

**Pl

[2020-02-06 18:15] anshumanv commented on #1208
Fix is in https://github.com/webpack/webpack-cli/pull/1201

[2020-02-07 17:33] anshumanv commented on #1199
Not able to reproduce, did you try recloning the project @Deathrow77 ?

Otherwise, this can be closed.

[2020-02-07 18:31] anshumanv commented on #1145
Works fine now. Closing.

[2020-02-07 18:31] #1145 closed

[2020-02-07 19:49] anshumanv commented on #1160
Hey @Deathrow77 👋

Can you try rebasing from master and running tests again to see if the problem persists?

[2020-02-08 08:13] anshumanv commented on #940
Not seeing this anymore, can be closed.

[2020-02-08 10:56] anshumanv commented on #1012
Writing for create

[2020-02-08 11:17] ematipico commented on #1199
Closing issue as it's not reproducable

[2020-02-08 11:17] #1199 closed

[2020-02-08 16:29] jamesgeorge007 opened #1210 "Suggest matching arguments if the user mistypes"
**Is your feature request related to a problem? Please describe.**
Say the user makes a typo, `webpack-cli --confgi` as of now he'll be greeted with a warning such that the respective argument is not recognized.

**Describe the solution you'd like**
Suggest the nearest matching argument.

**Describe alternatives you've considered**
Levenshtein distance algorithm.

**Additional context**
![Screensh

[2020-02-09 07:17] ematipico commented on #1210
What about cases of multiple argument that are mistyped or multiple arguments just one is mistyped? How would that work?

[2020-02-09 07:19] #940 closed

[2020-02-09 07:21] anshumanv commented on #1210
To what extent are we checking that a flag is a mistype and matches some arg/flag? How is the diff of closest matching flag evaluated?

[2020-02-09 07:24] rishabh3112 commented on #1210
I feel that a warning for wrong arguments is enough.

P.S.

Using https://en.wikipedia.org/wiki/Levenshtein_distance

[2020-02-09 07:42] jamesgeorge007 commented on #1210
We're just taking the very first argument into account.

[2020-02-09 07:45] jamesgeorge007 commented on #1210
This is essentially an addition on top of what we already have onboard. Getting suggestions is definitely gonna add to the UX.

[2020-02-09 07:48] anshumanv commented on #1210
Saw the repo. 👍

I think showing help with warning in case any invalid flag is supplied is sufficient feedback. https://github.com/webpack/webpack-cli/pull/1051

[2020-02-09 10:44] ematipico commented on #1210
How would that work with alias?

[2020-02-09 11:01] rishabh3112 commented on #1163
/cc @ematipico

[2020-02-09 12:22] GAGANsinghmsitece opened #1212 "Module not found error"
**Describe the bug**

I'm using framework7 with webpack. I tried with create-react-app but error still persists

**What is the current behavior?**
When i run `npm start` and throws following error:-

  `internal/modules/cjs/loader.js:796
    throw err;
    ^
   Error: Cannot find module 'C:\Users\gagan\Projects\hybrid\reminder\build\webpack.config.js'
Require stack:
- C:\Users\gagan\Projects\hybri

[2020-02-09 14:04] rishabh3112 commented on #1212
Hi @GAGANsinghmsitece,
Please share a minimum reproducible repository for us to investigate.

[2020-02-09 16:53] jamesgeorge007 commented on #1210
As of now it just checks for the fully qualified flag names. (Since, the distance specified is < 3)

[2020-02-09 21:27] ematipico commented on #1163
I might be able to ship a new beta this week. Maybe.

[2020-02-10 13:56] #1200 closed

[2020-02-10 13:57] #1046 closed

[2020-02-10 15:53] rishabh3112 commented on #1208
Resolved in #1201

[2020-02-10 15:53] #1208 closed

[2020-02-10 16:58] ematipico commented on #717
I will tackle the `--verbose` flag

[2020-02-11 10:16] rishabh3112 commented on #1163
@tlmii new version of beta is released, you may check now.

[2020-02-11 11:11] pierredarrieutort opened #1215 "v4.0.0-beta.2 module error"
I've just install the last version of the package and at the build command :
`npx webpack -p` it returns me the following error about the 'production_config' module

![image](https://user-images.githubusercontent.com/25182438/74231609-451db880-4cc7-11ea-9225-53a0a43b0a47.png)

How can it will be fixed ?

[2020-02-11 11:36] Namchee opened #1216 "Unknown argument: --env"
**Describe the bug**

I'm trying to set my webpack `env` for configuration purposes with

[code]

But, `webpack-cli` keeps throwing `⬢ webpack: Unknown argument: --env` error to me

**What is the current behavior?**

`webpack-cli` refuses to read the flag and throw an error instead

**To Reproduce**
Steps to reproduce the behavior:

Just try to add `--env` flag to any `webpack` command.

**Expecte

[2020-02-11 13:15] rishabh3112 commented on #1215
Hi @pierredarrieutort!
Can you share a minimum reproducible repository that has this issue for us to investigate?

[2020-02-11 13:28] pierredarrieutort commented on #1215
Here it is :https://github.com/pierredarrieutort/Jape/tree/min_repro_repo

[2020-02-11 13:31] lobsterkatie commented on #1216
I am having the exact same problem with the `mode` flag. And yet the docs still include it, and the migration guide for webpack 4 -> 5 mentions it, so it's pretty clear it hasn't been removed... Very confused with this one.

[2020-02-11 14:00] teuneboon opened #1217 "Beta version accidentally tagged as latest in NPM?"
Let me preface this with the fact that I'm not too familiar with how versioning works with npm, so I might be wrong here.

When I look at https://www.npmjs.com/package/webpack-cli it looks like 4.0.0-beta.2 got the "latest" tag, but if I look at other projects like https://www.npmjs.com/package/vue and https://www.npmjs.com/package/eslint the alpha version isn't getting the "latest" tag there at l

[2020-02-11 15:12] rishabh3112 commented on #1217
cc @ematipico

[2020-02-11 15:12] silverwind commented on #1217
Tag `latest` is generally supposed to be for stable releases, not beta version. I think this is an publishing error.

[2020-02-11 17:52] Ninita1 opened #1218 "[webpack-cli@4.0.0-beta.2] Uncaught exception: TypeError: Cannot read property 'size' of undefined"
**Describe the bug**

When I run `npm run webpack-build` the Compilation Results returns: `Uncaught exception: TypeError: Cannot read property 'size' of undefined`

**What is the current behavior?**

I'm trying to upgrade webpack 3.3.10 to 4.0.0-beta.2. However when I execute `npm run webpack-build` my build fails and I get these errors:

On `webpack.js` I had this on `entry` property:
[code]
And

[2020-02-11 18:03] geocolumbus opened #1219 "mode switch not working [4.0.0-beta.2]"
```webpack --mode=development```

results in

```⬢ webpack: Unknown argument: --mode=development```

I rolled back to 3.3.10 and it works fine.

[2020-02-11 18:07] geocolumbus commented on #1219
Similar to #1216.

[2020-02-11 18:16] geocolumbus commented on #1217
There seems to be more than a handful of bugs. Did the wrong version get released?

[2020-02-11 18:40] ematipico commented on #1217
Yeah that was a mistake of mine! I will fix it ASAP! Sorry about that

[2020-02-11 18:55] ematipico commented on #1217
Hi,

Again, apologies for the inconvenience! It was my first release and of course I had to do something wrong 😅

Anyway, I released a patch release `v3.3.11` which is stable and it contains only a bump of the version.
Also, I did release a beta version of npm  under `v4.0.0-beta.3`.

[2020-02-11 19:06] evilebottnawi opened #1220 "no changelog for 3.3.X release since 3.3.5"
Sorry for the removed issue template, but it is very **bad** to do release a big projects without CHANGELOG, I can't find what is changed

[2020-02-11 20:00] nathanielcook commented on #1135
Should we rename this issue to "webpack-cli 4.x doesn't work with a TypeScript config file"?

[2020-02-11 20:17] yovanoc commented on #1135
Yeah, sounds clearer

[2020-02-12 07:29] ematipico commented on #1218
Would you be able to share a minimal repository where we can reproduce the issue? I might know where to look at but having a minimal repo would help a lot! Cheers

[2020-02-12 07:31] ematipico commented on #1212
Most probably a similar issue of #1215

[2020-02-12 08:16] ematipico opened #1222 "webpack-cli v4 beta feedback and changes"
# About v4

With webpack-cli `v4` we will support only webpack `v5` and possibly `v4` but not officially, so if there are any problems we suggest to use `v3.*` if you still want to keep the best compatibility.

We dropped Node.js 8 from our CI. We support at least Node.js 10.

# What's changing

## Less arguments

We drastically reduced the number of arguments that we support. This is because we t

[2020-02-12 08:27] #1215 closed

[2020-02-12 08:35] ematipico commented on #1220
We can fix it :)

[2020-02-12 08:41] ematipico commented on #1219
Hi @geocolumbus, I apologise for the incorrect deployment of `4.0.0-beta.2` as latest on npm.

Anyway, `--mode` is part of the breaking changes. You should use `--dev`

[2020-02-12 08:41] #1219 closed

[2020-02-12 09:04] ematipico commented on #1216
Please don't install `4.0.0-beta.2` just yet. Unfortunately I published an incorrect version on npm, so sorry about that. Please keep using `3.3.10` or `3.3.11`.

In `4.0.0-beta.2` we removed `--mode` and `--env`. If you feel you'd back that argument, feel free to leave a feedback [here](https://github.com/webpack/webpack-cli/issues/1222)

[2020-02-12 09:05] #1216 closed

[2020-02-13 08:24] ematipico commented on #1220
The changelog is there. You have to switch to `master` branch. We default to `next` branch at the moment

[2020-02-13 08:24] #1220 closed

[2020-02-13 10:42] jamesgeorge007 commented on #1210
As of now it just checks for the fully qualified flag names ignoring aliases. #1211

[2020-02-13 11:12] ematipico commented on #1210
Which is not ideal. If user passes a series of parameters and the last one is wrong, the feature would fail

[2020-02-13 11:23] tfritsch-km commented on #1222
Hello,

I tested beta2 unintentionally with my students very quickly 2 days ago (In fact I didn't notice until they told me that the options I asked them to use were throwing errors, when I realized 4.0.0-beta2 had just been published I told them to downgrade to make my exercise work ! 😄 )

Not a big deal but even if I understand the point of having clean and concise `--dev` and `--prod` options,

[2020-02-13 17:55] tlmii commented on #1163
This looks good. Thanks folks!

[2020-02-13 17:55] #1163 closed

[2020-02-14 10:12] teuneboon commented on #1217
Thanks for the fix, it seems to be correct to me now so I'll close this issue.

[2020-02-14 10:12] #1217 closed

[2020-02-14 15:54] ematipico commented on #1185
It's really difficult to debug your issue without having a repository to reproduce the issue and without config file.

[2020-02-14 16:06] jamesgeorge007 commented on #1210
In-fact the very first unknown argument.

[2020-02-14 16:40] jhnns commented on #1222
Hey ho 👋

Removing some of the flags is a good idea 👍

But there are two features I really use a lot that are currently not implemented in v4:

- **Passing `--env`**: I personally don't like to split the configuration into separate files since it becomes very hard to understand what the final configuration is going to be. I respect that some people prefer to split the configuration but I think tha

[2020-02-16 12:42] anshumanv opened #1227 "[init]: wrong package name when package in not present"
**Describe the bug**

When invoking init package and it is not present, the name of the package is not correct

**What is the current behavior?**

shows wrong package name

**To Reproduce**
`webpack-cli init` - when you don't have the package installed

**Expected behavior**
Should display the init package.

**Screenshots**
![image](https://user-images.githubusercontent.com/21009455/74604852-de920

[2020-02-16 13:08] #1227 closed

[2020-02-16 13:51] anshumanv opened #1230 "[init]: invoking init command doesn't create a webpack config anymore"
**Describe the bug**

I don't see a webpack config scaffolded after running the init command. Just the `.yo-rc.json` is being created.

**What is the current behavior?**
init command is no longer creating webpack config

**To Reproduce**
`webpack-cli init`

**Expected behavior**
It should create a webpack config from the `.yo-rc.json` that the generator creates

**Screenshots**
NA

**Please paste

[2020-02-16 13:51] anshumanv commented on #1230
Looking into it.

[2020-02-17 11:49] #1230 closed

[2020-02-19 09:45] ExE-Boss commented on #1165
Actually, you can, as `.cjs` can be used anywhere a `.js` file can be used currently.

[2020-02-19 14:10] ematipico opened #1239 "Better integration with webpack ecosystem"
As for webpack 4, we need to make sure that `webpack`, `webpack-dev-server` and `webpack-cli` are aligned all together and use the same resources.

In order to do so, the following features have to be implemented:
- negated flags #1240
- consume arguments/options from `webpack` once the are available and implement them using a custom function #1241
- the CLI will decide which webpack options will

[2020-02-19 16:56] ematipico opened #1240 "Negated flags"
**Is your feature request related to a problem? Please describe.**
The CLI should support negated flags.

**Describe the solution you'd like**
The CLI should support same negated flags
- `--no-hot`
- `--no-colors`
- `--no-mode`

[2020-02-20 09:03] ematipico opened #1241 "Import flags from webpack core"
**Is your feature request related to a problem? Please describe.**
At the moment we defined the supported flags inside the CLI (`cli-flags.js`). This could create discrepancy between webpack core supported options and webpack CLI supported arguments.

**Describe the solution you'd like**
The solution would be to import this flags straight from webpack core (missing at the moment). @evilebottnawi w

[2020-02-20 09:12] jpreynat commented on #1222
Hi,

Following @jhnns message, using a file `webpack.config.babel.js` also leads to an error after switching from webpack 3 to the 4.0.0-beta.3:
`Error: Cannot find module 'babel-register'`

Are support for babel and typescript been made opt-in using peer-dependencies?
It seems that switching to `.mjs` works, but it would be great to know what we can/can't do with the new beta.
Thanks in advance.

[2020-02-21 08:20] snitin315 opened #1242 "chore(tools): add release-drafter"
**Is your feature request related to a problem? Please describe.**
Currently we don't have any tooling for release notes. This tool is very useful to keep track of a project. As pull requests are merged, a draft release is kept up-to-date listing the changes, ready to publish when you’re ready.
Right Configuration can  categorises the changes into headings, and automatically suggests the next vers

[2020-02-21 08:31] snitin315 opened #1243 "README: broken link for supported arguments and commands"
**Describe the bug**

Self Explainatory.

**What is the current behavior?**
Broken link. 404 Page not found

This is where you elaborate on the current behavior of the cli, how it behaves normally differing from the previous version/build you did.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Redame'
3. Scroll down to 'supported arguments and commands'
3. Click on link.
4. See Error

[2020-02-21 09:21] ematipico commented on #1243
PR welcome :)

[2020-02-21 09:22] ematipico commented on #1242
How the tool work with `lerna`?

[2020-02-21 09:24] snitin315 commented on #1243
@ematipico can you provide the correct link?

[2020-02-21 09:27] ematipico commented on #1243
https://github.com/webpack/webpack-cli/blob/next/packages/webpack-cli/README.md

[2020-02-21 09:54] #1243 closed

[2020-02-21 10:00] snitin315 commented on #1242
Then This additional tooling will not be requiered then I guess.

[2020-02-21 12:58] mohitm15 opened #1245 "Revise the readme files."
**Describe the bug**

Spelling typos and grammatical errors in the various readme file

**What is the current behavior?**

Spelling error in Security.md and in webpack-scaffold/Readme.md

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'above-mentioned files'
2. See error

**Expected behavior**
Needs to be corrected

**Please paste the results of `webpack-cli info` here, and mention oth

[2020-02-22 00:21] karanb1 commented on #667
@evenstensberg I would like to work on this issue. Please can you guide me how to proceed and what all changes need to me made.

[2020-02-22 04:52] snitin315 opened #1249 "[Enhancement] : Make predefined question descriptions as comment in ISSUE Templates."
**Describe the bug**

the discriptions like above in issue templates should be comments , So user can add his description directly without removing them first.

**What is the current behavior?**
Currently user have to remove the predefine description first . Making the predefined descrpition as comment will lead to a bertter user experience while reporting a bug or submitting a feature request.

*

[2020-02-22 08:38] snitin315 opened #1251 "chore: ignore package-lock.json"
**Describe the bug**

1. As the project wokspace uses yarn it would be better to ignore `package-lock.json` file else beginner contributors may commit the file unknowingly.

2. In `CONTRIBUTING.md` `package-lock.json`  should be replaced with  `yarn.lock` as well.

![Screenshot from 2020-02-22 14-10-08](https://user-images.githubusercontent.com/46647141/75089308-6a3ee080-557d-11ea-84fa-8f08b27bc8c

[2020-02-22 08:46] snitin315 commented on #1251
Also in `CONTRIBUTING.md`  it says `Using npm`  but it should be `Using yarn`

![Screenshot from 2020-02-22 14-14-27](https://user-images.githubusercontent.com/46647141/75089359-d9b4d000-557d-11ea-8198-32d7556e4375.png)

#### will fix this too.

[2020-02-22 16:00] ematipico commented on #1222
Seamless support for typescript and babel is not deprecated, it was bug a bug. We're working on restoring these features :)

[2020-02-22 16:01] #1251 closed

[2020-02-22 16:10] snitin315 commented on #1249
@ematipico Should I make a PR for this?

[2020-02-22 16:17] ematipico commented on #1249
You mean we should change the comments `` into a quote (using the markdown symbol `>`?

I mean the comments done `` can stay there, you don't need to remove them. In fact when you hit preview, they are not rendered.

What's the real problem?

[2020-02-22 16:21] snitin315 commented on #1249
@ematipico they are being rendered in preview.

![Screenshot from 2020-02-22 21-48-34](https://user-images.githubusercontent.com/46647141/75095651-2c61ac80-55bd-11ea-8cc5-1f4893897616.png)

They are not wraped in ``

![Screenshot from 2020-02-22 21-50-32](https://user-images.githubusercontent.com/46647141/75095670-62069580-55bd-11ea-9795-ecbf3faf9a79.png)

Thats what I am saying they should be wra

[2020-02-22 17:48] ematipico commented on #1249
In your first comment you wrote

This is misleading. I don't need to remove anything at the moment. So, to recap:
- why do you want to change the template in a way where the user has to delete some text?
- what's the value of this change?

[2020-02-23 00:14] snitin315 commented on #1249
I will not remove anything , as you can see that in preview the description is being rendered. I want to make the descriptions as comment by wrapping them inside ``  so they will not be rendered in preview. Just like in PR templates.

[2020-02-23 05:43] mohitm15 commented on #1249
@snitin315 then we also have to apply these changes also to `Feature request issue` where each section's description is not in comments currently.

[2020-02-23 05:51] snitin315 commented on #1249
@mohitm15 Yes , I am hanging both bug report and feature report as well.

[2020-02-23 06:25] ematipico commented on #1249
I can see the confusion here now. You are talking about the wrong file :)

[2020-02-23 06:45] #1249 closed

[2020-02-23 07:18] rishabh3112 commented on #1245
Closing via #1246

[2020-02-23 07:18] #1245 closed

[2020-02-23 07:18] snitin315 commented on #1239
@ematipico I would like to work on this issue. It would be great if you can point me to some reference or share any tip/prerequisite .

[2020-02-23 07:21] rishabh3112 commented on #1242
What is advantage of having it along with the `changelog` we publish for a release ?

[2020-02-23 07:41] snitin315 commented on #1240
@ematipico I would like to work on this issue. It would be great if you can point me to some reference or share any tip/prerequisite .

[2020-02-23 07:49] rishabh3112 commented on #1240
Thanks for trying to work on the issue.
You can look at how other flags are added in the CLI, that would be enough to get you working on the issue.
You can ask for more help here if you need in future 🙌

[2020-02-23 07:50] snitin315 commented on #1242
I'm not sure about the advantages , but the only difference is that with `release-drafter` we dont need additional `changelog.md` file it list down the changes in release-notes with mentioning the contributor's Name responsible for that change.

The current setup also seems fine  , I missed the presence of changelog file before creating this issue.

[2020-02-23 07:51] snitin315 commented on #1240
@rishabh3112 thanks , Looking into it.

[2020-02-23 08:59] ematipico commented on #1242
Lerna does that for us (release draft too)

[2020-02-23 09:06] snitin315 commented on #1242
It's not required then . Hence can be closed.

[2020-02-23 09:43] #1242 closed

[2020-02-24 14:25] rishabh3112 opened #1261 "Make CLI more empathic to the user"
**Is your feature request related to a problem? Please describe.**
Currently CLI gives error or gives whole help in case of invalid interaction with the CLI.
I propose to make the CLI respond to errors and invalid flags with prompts to help user to get their work done instead of forcing user to study errors and correct their command to CLI.

**Describe the solution you'd like**
I would like user t

[2020-02-24 15:09] snitin315 opened #1263 "chore: add codacy code-quality badge in README"
**Is your feature request related to a problem? Please describe.**
Add codacy code-quality badge in README.

**Describe the solution you'd like**
![Screenshot from 2020-02-24 20-38-09](https://user-images.githubusercontent.com/46647141/75163721-b89edb80-5745-11ea-8973-8a8ad3e7bc2e.png)

**Additional context**

If this is a valid Issue , I would like to work on this.

[2020-02-24 15:30] ematipico commented on #1263
We already have it :)
https://codeclimate.com/github/webpack/webpack-cli

[2020-02-24 15:30] aquibbaig commented on #1241
Hi @ematipico, Can I try this one here?

[2020-02-24 15:38] snitin315 commented on #1263
This one is shows `D` for `MAINTAINABILITY` also provided by [codeclimate](https://codeclimate.com/github/webpack/webpack-cli)

I was refernecing for this one from [codacy](https://app.codacy.com/manual/ev1stensberg/webpack-cli/dashboard) -

![Screenshot from 2020-02-24 20-36-45](https://user-images.githubusercontent.com/46647141/75166069-534ce980-5749-11ea-94b1-ff010d278371.png)

[2020-02-24 15:47] ematipico opened #1264 "docs: add section to test the CLI locally"
Creating a new section inside `CONTRIBUTING.md` that would help people to test the CLI locally.

Sometimes people use the command `yarn link` or `npm link` but I think there's a batter way to improve the experience.

We could create a new package called `@webpack-cli/issue-repo` (`"name": "create-webpack-issue"`) which will be downloaded by people that wants to create a repo for an issue AND by pe

[2020-02-24 15:48] snitin315 commented on #1264
@ematipico I would like to help on this one.

[2020-02-24 15:51] ematipico commented on #1241
Hi @aquibbaig !
This cannot be implemented yet. At the moment `webpack` doesn't expose any flag. We need to wait :)

[2020-02-24 16:00] ematipico commented on #1263
So what's your proposal? Use both?

[2020-02-24 16:00] snitin315 commented on #1263
Yes

[2020-02-24 16:05] ematipico commented on #1263
Why both? What's the benefit?

[2020-02-24 16:16] aquibbaig commented on #1241
@ematipico Sure. Thanks for the light!

[2020-02-24 16:16] ematipico commented on #1264
Go ahead!

[2020-02-24 16:27] snitin315 commented on #1263
webpack-cli is widely used by developers across the globe .When they'll come here, they will know about the high quality of code used to build this tool. This might inspire them to contribute to it, and build their trust over it.

[2020-02-24 17:43] ematipico commented on #1263
What's the benefit of having TWO tools that do THE SAME THING?

[2020-02-24 18:24] aquibbaig commented on #1261
Hey @rishabh3112. Any progress on this yet?

[2020-02-25 01:53] snitin315 commented on #1263
We are already using both the tools , codacy is already used as a PR quality check. I think we should replace the Current `codeclimate` badge with `codacy` that makes more sense.

[2020-02-25 09:22] ematipico commented on #1263
Makes sense. Go ahead

[2020-02-25 11:24] snitin315 commented on #1263
@evenstensberg Can you provide the corresponding badge link ?

[2020-02-25 17:33] rishabh3112 commented on #1261
Hi, I am currently working on polishing the handling of the invalid flag case.

[2020-02-25 18:55] aquibbaig commented on #1261
@rishabh3112 Cool.

[2020-02-26 04:27] jamesgeorge007 opened #1268 "Handle the promise rejection if an interrupt occurs in the regular workflow of cli-executor"
**Describe the bug**

The `cli-executor` makes sure that the users aren't left out if they pass in an unknown flag. And if the user interrupts the regular workflow, a promise rejection occurs which is left unhandled.

**What is the current behavior?**

`[webpack-cli] Promise rejection:` is logged on to the console.

**To Reproduce**
Steps to reproduce the behavior:

Type in `webpack-cli --unknown`

[2020-02-26 05:25] snitin315 commented on #1240
@rishabh3112 correct me if I'm wrong the `--no-mode` flag should set `mode = "none"` .?

[2020-02-26 07:08] ematipico commented on #1240
It depends on us. What do you think?

[2020-02-26 07:54] jamesgeorge007 commented on #1210
closing in regard to #1255

[2020-02-26 07:54] #1210 closed

[2020-02-26 08:22] snitin315 commented on #1240
I think it should set `mode = "none"`

[2020-02-26 09:26] ematipico commented on #1240
Sounds good :)

[2020-02-26 11:41] snitin315 opened #1270 "init: npx webpack-cli init command not working"
**Describe the bug**

When the command is triggered as per the docs ,  it says **`init isn't a valid name`**
![Screenshot from 2020-02-26 16-53-41](https://user-images.githubusercontent.com/46647141/75341214-f755a280-58b9-11ea-8774-8d3e7564dddc.png)

### Though **`npx webpack-cli init --auto`** is working fine

![Screenshot from 2020-02-26 17-05-31](https://user-images.githubusercontent.com/466471

[2020-02-26 12:47] ematipico commented on #1270
Could you the same against the beta version?

[2020-02-26 14:50] snitin315 commented on #1270
Working fine with beta :+1:

[2020-02-26 20:38] ematipico commented on #1270
I'd suggest to skip this bug then. It's not like there users that are not able work

[2020-02-26 23:42] #1270 closed

[2020-02-27 08:33] the-spyke opened #1274 "Using import() fails"
**Describe the bug**

Node 13.8.0. Using something like `import("./file.mjs")` inside a `.cjs` Webpack config file or loader fails with `TypeError: Invalid host defined options` error. Internally there is `ERR_VM_DYNAMIC_IMPORT_CALLBACK_MISSING` error. So, there are some issues with using  `vm` module.

The issue was found in [babel-loader](https://github.com/babel/babel-loader/issues/824). Babel

[2020-02-27 08:45] snitin315 opened #1275 "bug: can't build the project."
**Describe the bug**

While running `yarn build` it shows the following output -

![Screenshot from 2020-02-27 14-10-35](https://user-images.githubusercontent.com/46647141/75426769-545d6100-596b-11ea-8469-ed1a9f7d8509.png)

**What is the current behavior?**

Unable to build.

**To Reproduce**
Steps to reproduce the behavior:

1. Run `yarn build`

**Please paste the results of `webpack-cli info` he

[2020-02-27 13:32] anshumanv commented on #1275
Did you `yarn bootstrap` ?

[2020-02-27 13:38] snitin315 commented on #1275
@anshumanv

![Screenshot from 2020-02-27 19-07-26](https://user-images.githubusercontent.com/46647141/75450231-6f909680-5994-11ea-87b9-001c160adf83.png)

[2020-02-27 13:46] anshumanv commented on #1275
🤔 hmm, that's unusual

Maybe try, `yarn clean:all` then `yarn` then `yarn bootstrap` ?

[2020-02-27 13:56] snitin315 commented on #1275
Build Succesful , Thanks for help @anshumanv .

![Screenshot from 2020-02-27 19-24-45](https://user-images.githubusercontent.com/46647141/75451708-fe9eae00-5996-11ea-8ef6-29b6527721a6.png)

[2020-02-27 13:56] #1275 closed

[2020-02-27 13:59] anshumanv commented on #1275
Awesome! 😄 Happy to help.

[2020-02-27 15:49] snitin315 commented on #1240
@ematipico @rishabh3112  , I am able to add `nomode` or `no_mode` but I can't pass `no-mode` in the code below in `zero-config.js` like this  -

[code]
Whats the trick here to do so?

[2020-02-27 16:06] anshumanv commented on #1240
`-` would be seen as an operator while destructuring since what you're destructuring is not a valid key, syntactically wrong.

Maybe add an alias variable for the flag like `--no-mode` stores a property is stored with key `no_mode`?

[2020-02-27 16:16] snitin315 commented on #1240
@anshumanv

:-(

[2020-02-27 22:03] ematipico commented on #1240
As the file says, that's a file we use for covering the case the user doesn't use any configuration.

The reading and parsing of the new flag will occur inside the group you decide to put.

[2020-02-28 09:24] ematipico commented on #1274
I would not mark it as a bug because we're still lacking compatibility with ESM world. I'd mark it as a feature request for the beta version

[2020-02-28 10:30] #1268 closed

[2020-02-28 15:19] jamesgeorge007 opened #1277 "cli-executer doesn't warn if no value was provided as part of the respective flag"
**Describe the bug**

`webpack-cli --[unknown flag]`

If no values were supplied with the flag that requires a value an appropriate warning message should show up.

**What is the current behavior?**
No warning message seems to show up.

**To Reproduce**

- Fire in `webpack-cli --node`
- Choose `--node-args` and don't give any input when prompted for the value.

**Expected behavior**

- The user sh

[2020-02-28 15:21] jamesgeorge007 commented on #1277
@ematipico I can shoot a PR :+1:

[2020-02-28 15:36] #1218 closed

[2020-02-28 18:10] mohitm15 opened #1278 "docs(): Revising the basic plugin architecture template"
**Is your feature request related to a problem? Please describe.**
The current basic structure for plugin along with the reference is outdated.

**Describe the solution you'd like**
To update it with the latest version

**Describe alternatives you've considered**

**Additional context**
Working on this

[2020-02-29 07:50] ematipico commented on #1135
This is now fixed

[2020-02-29 07:50] #1135 closed

[2020-02-29 07:52] ematipico commented on #1185
Closing. Feel free to open a new issue one you have a repo.

[2020-02-29 07:52] #1185 closed

[2020-02-29 07:53] ematipico commented on #1212
This is fixed

[2020-02-29 07:53] #1212 closed

[2020-02-29 07:56] ematipico commented on #1126
Is it fixed with latest beta?

[2020-02-29 07:58] #1117 closed

[2020-02-29 08:08] #1080 closed

[2020-02-29 21:19] LunaticProgrammer commented on #717
Hi @evenstensberg I would like to work on the documentation of the Webpack-CLI v4.

[2020-03-01 18:00] chaytanyasinha commented on #247
@evenstensberg  May I work on this?

[2020-03-01 18:32] chaytanyasinha commented on #247
@evenstensberg May I work on this?

[2020-03-01 18:39] snitin315 commented on #247
@chaytanyasinha Sure , go ahead.

[2020-03-02 09:20] exKAZUu commented on #1222
@ematipico `4.0.0-beta.7` doesn't work well due to `Error: Cannot find module '@webpack-cli/logger'` because published `@webpack-cli/logger@1.0.1-alpha.3` package contains no `lib` directory as follows:

[code]

[2020-03-02 09:44] ematipico commented on #1222
Thank you @exKAZUu , I will check this out

[2020-03-02 15:50] ematipico commented on #1222
@exKAZUu the latest beta should work now!

[2020-03-02 16:28] snitin315 opened #1282 "bug(cli): mode flag accepts any value"
**Describe the bug**

 `--mode` is accepting any value and outputs development build. I can pass `--mode=abcd` , and it produces the build(development).

![Screenshot from 2020-02-28 15-33-34](https://user-images.githubusercontent.com/46647141/75539120-bedfd100-5a3f-11ea-9a7d-4c462ca2436c.png)

**Expected behavior**
It should accept only `production , development or none`

[2020-03-02 17:39] buoyantair commented on #941
Hey folks! Is this PR still up for grabs! 🙌

[2020-03-02 18:21] anshumanv commented on #941
Hey @buoyantair, thanks for showing interest in the issue!

Sure, feel free to send a PR. You can take refer https://github.com/webpack/webpack-cli/pull/1248#pullrequestreview-363247269 on how to proceed about this. :)

[2020-03-02 18:23] anshumanv commented on #1282
In case of invalid mode value we can probably use dev mode as default and print a warning that the given mode is invalid so dev will be used by default.

[2020-03-03 01:01] #820 closed

[2020-03-03 01:30] snitin315 commented on #1282
I will work on this issue.

[2020-03-03 02:02] exKAZUu commented on #1222
Confirmed. Thanks!

[2020-03-03 02:49] anshumanv commented on #1282
Awesome, thanks!

[2020-03-03 05:28] damountie commented on #724
I ran into this problem when trying to use the following `tsconfig.json` setting:

[code]

As @hakobpogh said above, if you [specify a different `tsconfig.json` for your webpack config parsing](https://github.com/webpack/webpack-cli/issues/724#issuecomment-492687105), then it should work.

`./package.json`:

[code]

`./toolchain/tsconfig.webpack.json`:

[code]

`./tsconfig.json`:

[code]

[2020-03-03 05:31] snitin315 commented on #724
try
[code]

[2020-03-03 05:35] snitin315 commented on #724
Maybe this will work.

[code]

[2020-03-03 06:08] ematipico commented on #941
The logic has been moved.

[2020-03-03 06:11] ematipico commented on #1282
You can use `type` to validate your argument.

https://github.com/75lb/command-line-args/blob/master/doc/option-definition.md#module_option-definition--OptionDefinition+type

[2020-03-03 06:31] jamesgeorge007 opened #1283 "Handle the promise rejection if the user interrupts in between package installation prompt"
**Describe the bug**
Say the user fires in a command, `webpack-cli init` which results in the respective prompt showing up:-

[code]
And if the user interrupts the regular workflow, a promise rejection occurs which is left unhandled.

**What is the current behavior?**
[code]

**Expected behavior**
Handles the promise rejection thereby replacing what is currently logged with an appropriate message.

[2020-03-03 07:25] ematipico commented on #1283
The expected behaviour should be more descriptive

[2020-03-03 10:53] jamesgeorge007 commented on #1283
@ematipico please take a look at ffe7a6b

[2020-03-03 13:19] ematipico commented on #1263
We can't implement it at the moment, sorry about it

[2020-03-03 13:19] #1263 closed

[2020-03-03 16:02] ematipico opened #1286 "[Docs] Add node CI badge to README.md"
We could add the Github CI badge to our Readme file

![Node CI](https://github.com/webpack/webpack-cli/workflows/Node%20CI/badge.svg?branch=next)

[2020-03-03 16:03] ematipico commented on #1241
PR created on webpack: https://github.com/webpack/webpack/pull/10499

[2020-03-03 16:25] snitin315 commented on #1286
On it.

[2020-03-03 16:26] snitin315 commented on #1286
Can you share the corresponding link?

[2020-03-03 16:28] snitin315 commented on #1286
Is this correct?

[https://github.com/webpack/webpack-cli/workflows/Node%20CI/badge.svg?branch=next](https://github.com/webpack/webpack-cli/workflows/Node%20CI/badge.svg?branch=next)

[2020-03-03 19:28] ematipico commented on #1286
The link provided is correct :)

[2020-03-03 19:29] ematipico commented on #1286
Could you please leave the issue to someone else? As you can this it is marked for "first contributors"

[2020-03-04 00:05] snitin315 commented on #1286
Sure No problem .  I will close the corresponding draft PR.

P.S. - Up for grabs

[2020-03-04 05:51] Mistyyyy opened #1288 "webpack entry config doesn't work if defaultEntry file existed"
**What is the current behavior?**

webpack.config.js

[code]
below is project Directory Structure
[code]

when running` npx webpack`, the output is` main.bundle.js  `, the content of the final bundle includes index.js module and excludes entry.js module

**how I know this is a webpack-cli bug rather webpack bug**

I debug the program locally

**To Reproduce**

https://github.com/Mistyyyy/webpack-c

[2020-03-04 05:55] anshumanv commented on #1288
This is a bug surely, please feel free to submit a PR.

[2020-03-04 09:21] ematipico commented on #1288
This is a nice chance for first contributors to tackle the issue. A good way to tackle issue would be to create a test first and make that fails.

[2020-03-04 14:41] snitin315 commented on #1264
@ematipico can you explain this line a bit more `people that wants to create a repo for an issue ` , or can provide an example case.

[2020-03-04 15:07] snitin315 opened #1291 "docs: master branch being reffered instead of next"
**What is the current behavior?**

Currently the default branch is `next` , but `master` branch is being refered in the docs .

**Expected behavior**

`next` branch should be refered.

**Please paste the results of `webpack-cli info` here, and mention other relevant information**

**Additional context**
I would like to fix it if valid.

[2020-03-04 15:47] ematipico commented on #1264
Usually we ask people for a repo to reproduce the issue. This could be a time consuming problem.
To alleviate the burden, we can create a yarn template (a la `create-reacrt-app`) with everything prepared (package.json, files, etc.)

[2020-03-04 15:48] anshumanv commented on #1291
A good candidate for initial contributions, go for it!

[2020-03-04 15:52] snitin315 commented on #1291
I think this should be fixed soon , as it may cause some confusion for first time contributor. Like he may checkout master as per the docs.

[2020-03-04 16:34] ematipico commented on #1291
Well I can say that this depends from the point of view. People might want to checkout `master` to fix important bugs for the current version.

If we change the docs now it means we will have to change the docs again once we will publish a stable version. I think a small comment in the main readme (at the beginning, where we have a quote saying that the docs refers to next version) is enough. What

[2020-03-04 16:36] snitin315 commented on #1291
Sounds Good !

[2020-03-04 19:23] aman29271 commented on #1286
@ematipico can i work on this issue?

[2020-03-04 20:34] ematipico commented on #1286
Go ahead! :)

[2020-03-05 00:19] snitin315 commented on #1291
We have something like this now ,
![Screenshot from 2020-03-05 05-44-10](https://user-images.githubusercontent.com/46647141/75935202-9b37e300-5ea4-11ea-9855-8a3c403962dc.png)

how about this @ematipico @anshumanv  -

[2020-03-05 08:30] aman29271 commented on #1286
#1292 PR has been made.

[2020-03-05 08:50] #1286 closed

[2020-03-05 12:10] piaic65617 opened #1295 "TypeError: Cannot read property 'length' of undefined"
I am geeting typeError .solution please

<html>
    <head>
        <meta charset="utf-8">
        <title>error</title>
        <style>
            #error{
                color: red;
            }
        </style>

    </head>
    <body>
        <p> your password should contain atleast 6 characters,1 capital letter,1 number</p>
        <p>Enter password : <br/> <input id="password1" type="password

[2020-03-05 12:13] snitin315 commented on #1295
@piaic65617 how is this related to webpack ?

[2020-03-05 22:16] #1295 closed

[2020-03-06 08:28] #1291 closed

[2020-03-06 11:35] himanshu010 opened #1297 "docs: Adding readme.md in folders"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**
The readme file does not have the file system describing the locations of files. Sometimes it is very tedious to find a particular file, therefore projects like this needs a fully descriptive file system.

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected

[2020-03-06 11:38] ematipico commented on #1297
Could you help me here and explain me what you'd like to see?

[2020-03-06 11:42] himanshu010 commented on #1297
it is something like this :

![Screenshot (27)](https://user-images.githubusercontent.com/43860289/76080754-9f135480-5fcd-11ea-8649-b0889137067e.png)

[2020-03-06 11:44] maria99williams commented on #1297
Yeah I think that it would be great for someone like me as I am new to open source. I am looking forward to contribute to webpack.

[2020-03-06 11:47] anshumanv commented on #1297
+1 for this as this could provide a general overview of the code.

[2020-03-06 12:52] snitin315 commented on #1297
It's Nice to have a folder structure.

[2020-03-06 14:15] evenstensberg opened #1298 "[ENHANCEMENT]: Use stats for outputting"
**Is your feature request related to a problem? Please describe.**

We're currently overriding stats to output compilation stats, and we should rather change stats than do this in the CLI.

**Describe the solution you'd like**

Stats being refactored and CLI using stats

**Describe alternatives you've considered**

N/A

**Additional context**

N/A

[2020-03-06 15:13] ematipico commented on #1297
Which section would you think makes sense to have it? The contribution section?

[2020-03-06 15:15] snitin315 commented on #1297
Yes Contribution .

[2020-03-06 15:19] himanshu010 commented on #1297
Yeah

[2020-03-06 15:31] ematipico commented on #1297
Thank you! Feel free to make a PR!

[2020-03-06 15:54] #1282 closed

[2020-03-08 10:15] snitin315 opened #1302 "bug: unit test failing for mode option none"
**Describe the bug**

bug found due to -> #1301

![Screenshot from 2020-03-08 15-40-10](https://user-images.githubusercontent.com/46647141/76160833-7fa63400-6153-11ea-8f57-dc282b2cc58e.png)

**What is the current behavior?**

**Expected behavior**

the test should pass, recived value should be = `"none"`

**Please paste the results of `webpack-cli info` here, and mention other relevant information

[2020-03-08 11:11] snitin315 commented on #1261
validated mode argument in #1290

[2020-03-09 09:27] #1283 closed

[2020-03-09 11:46] #1302 closed

[2020-03-09 11:59] #1298 closed

[2020-03-09 13:27] buoyantair commented on #941
@ematipico Thanks for letting me know!

[2020-03-09 13:27] buoyantair commented on #941
@anshumanv Thanks! I will definitely have a look 👍

[2020-03-09 16:36] snitin315 opened #1305 "bug: Typos present in the project"
**Describe the bug**

There are very typos present in the project at the moment. few are as follows: -

![Screenshot from 2020-03-09 22-04-32](https://user-images.githubusercontent.com/46647141/76236025-0c371c00-6252-11ea-91ba-64c21d24627d.png)

**What is the current behavior?**

**Expected behavior**

Fix typos.

**Please paste the results of `webpack-cli info` here, and mention other relevant in

[2020-03-10 13:40] himanshu010 opened #1310 "feat: Add script for automatic the folder-structure"
**Is your feature request related to a problem? Please describe.**
related to pr #1297

**Describe the solution you'd like**
A script which will automate the folder structure will help a lot

**Describe alternatives you've considered**
N/A

**Additional context**
I will work on this issue

[2020-03-10 15:00] #1288 closed

[2020-03-11 12:29] #1305 closed

[2020-03-11 15:06] evilebottnawi opened #1318 "import-local doesn't make sense"
**Describe the bug**

import-local package does not prefer the local installation of webpack-cli, it only allows you to check whether the local launch or global

**What is the current behavior?**

Code exists and does nothing

**To Reproduce**
Steps to reproduce the behavior:

1. `webpack` or `node packages/webpack-cli/bin/cli.js`

**Expected behavior**

Code should be removed or improved, example

[2020-03-11 15:07] snitin315 commented on #1318
@evilebottnawi I would like to work on this.

[2020-03-11 15:16] evilebottnawi commented on #1318
Need investigate - should we remove it or improve, wait other developers

[2020-03-11 15:18] snitin315 commented on #1318
+1 for removal.

[2020-03-11 16:04] himanshu010 opened #1320 "feat: refreshing folder structure on each commit"
**Is your feature request related to a problem? Please describe.**
Automatically refreshing folder-structure on each commit

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**
I will work on this

[2020-03-11 16:10] snitin315 commented on #1320
Please don't create issues unnecessarily, it just creates confusion the main issue is #1311.

[2020-03-11 16:15] himanshu010 commented on #1320
As all the pr are solving different problems therefore I created them different issues. This will not happen in future.

[2020-03-11 16:21] snitin315 commented on #1320
The problem is not different. Its the same issue you are solving.

Developers who are reviewing the code should use their time efficiently.

[2020-03-11 16:23] himanshu010 commented on #1320
Now the contributor doesn't have to do something specific to change the folder structure. And I think this will solve the whole problem and make the folder structure automatic. What are your views on this @ematipico

[2020-03-12 07:46] maria99williams commented on #1320
Good Work @himanshu010 . In my opinion, everything will work fine now.

[2020-03-14 02:09] snitin315 commented on #575
@evenstensberg  working on this one.

[2020-03-14 07:51] parth-gr commented on #717
Hi, I would like to work on the documentation of the new Webpack-CLI.

[2020-03-14 10:29] rishabh3112 commented on #717
@LunaticProgrammer @parth-gr Thanks for showing interest. You may start by playing around webpack-cli and studying changelog. Ask anything you need more help.

[2020-03-14 12:41] Parikshit-Hooda commented on #717
I am in too. Would be approaching this project if selected for GSoC.

[2020-03-14 12:54] snitin315 commented on #1012
I have Added Tests for some Negated flags

[2020-03-14 17:13] anshumanv opened #1322 "webpack-cli: wrong behavior of defaults flag"
**Describe the bug**

`--defaults` doesn't work as expected, uses local config when it should enforce defaults.

**What is the current behavior?**

Not applying defaults.

**To Reproduce**

- Create a config with some entry/output,

- `webpack-cli --defaults`

- Uses entry from the config.

**Expected behavior**

Should apply the default config.

**Screenshots**

NA.

**Please paste the results of

[2020-03-15 05:12] Parikshit-Hooda commented on #717
@rishabh3112 Is there a slack or a communication line/group that I can enter?

[2020-03-15 05:28] rishabh3112 commented on #717
This issue is the best place for discussing about webpack-cli v4 documentation.

[2020-03-15 05:34] Parikshit-Hooda commented on #717
**Update**: I have gone through a [youtube playlist on webpack](https://www.youtube.com/playlist?list=PLblA84xge2_zwxh3XJqy6UVxS60YdusY8). Would go through some more videos and blogs today and hopefully do some meaningful activity on this repo. Thanks.

[2020-03-15 09:05] snitin315 commented on #575
can anyone provide me the link to the reporter plugin?

It's not listed here [https://webpack.js.org/plugins/](https://webpack.js.org/plugins/)

[2020-03-15 11:59] adrijshikhar commented on #1264
@ematipico i would like to contribute on this issue.
Can you assign it to me? Thanks

PS: I have already setup the repo.

[2020-03-15 12:01] snitin315 commented on #1264
@adrijshikhar you can go ahead with this one.

[2020-03-15 12:23] anshumanv opened #1324 "webpack-cli: Passing silent flag doesn't work"
**Describe the bug**

Still seeing webpack output when the silent flag is passed.

**What is the current behavior?**

Passing silent flag still logs webpack build data.

**To Reproduce**
`webpack-cli --silent`

**Expected behavior**

Should disable all logs. We should still log errors right?

**Screenshots**
when there are no errs -
![image](https://user-images.githubusercontent.com/21009455/76701

[2020-03-15 12:24] anshumanv commented on #1324
@ematipico @rishabh3112 wdyt, we should still log errors or nothing at all?

[2020-03-15 13:10] anshumanv commented on #1324
Ah so we're just passing options to the webpack compiler, will discuss this later at webpack/webpack.

[2020-03-15 14:26] misterdev commented on #575
@snitin315 This is probably the plugin you are looking for https://github.com/misterdev/webpack-reporter-plugin

[2020-03-15 19:13] LunaticProgrammer commented on #717
Hii @rishabh3112  can you please link the changelog here

[2020-03-16 02:09] rishabh3112 commented on #717
Here is the changelog https://github.com/webpack/webpack-cli/blob/next/CHANGELOG.md.

[2020-03-16 04:56] Parikshit-Hooda commented on #1165
Hi. Can I take up this issue? @ematipico

[2020-03-16 09:39] Parikshit-Hooda commented on #1165
Hi. I have made some changes, how do I test that the changes resolve the issue?
Specifically, I have made changes to the 'packages/webpack-cli/lib/groups/configGroup.js' file to include support for '.cjs' file. Thanks.

[2020-03-16 09:43] snitin315 commented on #1165
@Parikshit-Hooda As this is a new feature you are implementing you have to write your own tests.

Also, you can run the current tests with `yarn test`

[2020-03-16 09:58] Parikshit-Hooda commented on #1165
@snitin315 Actually, I want to confirm if the feature addition actually fixes this issue or not? I imagine that the modified repo(fixed webpack-cli) will need to be imported in a dummy project and check. How do I go about checking this?

[2020-03-16 10:02] snitin315 commented on #1165
you can use `npm link` or `yarn link`

[2020-03-16 10:04] Parikshit-Hooda commented on #1165
Haven't done this kind of an activity before. Can you please elaborate or tell me what exactly should I google?

[2020-03-16 10:13] anshumanv commented on #1165
You need to run your changes locally, https://docs.npmjs.com/cli/link.html
 Link the package and try to run with a .cjs config file then write tests for it.

[2020-03-16 10:37] Parikshit-Hooda commented on #1165
Question: Should I link [the repo after following the contributing.md and making edits](https://github.com/webpack/webpack-cli/blob/next/.github/CONTRIBUTING.md) or without following the instructions in CONTRIBUTING.md. I am asking because I am not sure if going through yarn install ->bootstrap -> build causes some unrequired changes.

[2020-03-16 10:41] anshumanv commented on #1165
What are the unrequired changes?

Yep please install, bootstrap, build then link the webpack-cli package in the packages folder.

Then you need to `npm link webpack-cli`  in a folder, that folder will then use the local code that you have.

[2020-03-16 11:12] Parikshit-Hooda commented on #1165
![Capture](https://user-images.githubusercontent.com/25405707/76750838-e86d5c00-67a4-11ea-9630-7100cf306461.PNG)
After linking it, its still requiring me to 'npm install webpack-cli' to run the npm run build. What am I doing wrong?

[2020-03-16 11:13] anshumanv commented on #1165
Invoke using `webpack-cli`, after you run `npm link webpack-cli` in your test folder.

[2020-03-16 11:15] evilebottnawi commented on #717
@webpack/cli-team Please :+1: on this comment who actively working on the package and who want

[2020-03-16 12:01] Parikshit-Hooda commented on #1165
Doesn't seem to work.
`$ webpack-cli --entry src/index.js --config webpack.config.cjs`
`bash: webpack-cli: command not found `

[2020-03-16 12:02] anshumanv commented on #1165
You didn't symlink properly then.

[2020-03-17 06:40] Parikshit-Hooda opened #1328 "core-team link in CODE_OF_CONDUCT not present"
**Describe the bug**

[core-team link not present](https://github.com/webpack/webpack-cli/blob/next/CODE_OF_CONDUCT.md)

**What is the current behavior?**

link not present

**To Reproduce**
1. Go to 'https://github.com/webpack/webpack-cli/blob/next/CODE_OF_CONDUCT.md'
2. observe in written , '@webpack/core-team'
3. observe that link isn't present

**Expected behavior**

I believe that like '@webp

[2020-03-17 06:40] Parikshit-Hooda commented on #1328
Would like to resolve this.

[2020-03-17 06:42] anshumanv commented on #1328
Please go ahead. 👍

[2020-03-17 06:43] Parikshit-Hooda commented on #1328
Please provide me the link. I am not able to resolve the validity of the team link because it won't route me there. Also, I think the 'cli-team' link is broken as well. Can someone confirm? @rishabh3112 @anshumanv

[2020-03-17 06:47] anshumanv commented on #1328
cli-team link works fine, here' the core team link - https://github.com/orgs/webpack/teams/core-team

[2020-03-17 07:00] Parikshit-Hooda commented on #1328
Pretty symmetric, thanks!

[2020-03-17 07:30] Parikshit-Hooda commented on #1264
Hi. Can I take up this issue? It seems @adrijshikhar is unresponsive.

[2020-03-17 07:32] adrijshikhar commented on #1264
Already working on it.

[2020-03-17 08:10] Parikshit-Hooda commented on #1264
alright!

[2020-03-17 08:19] Parikshit-Hooda opened #1330 "minor typos in the changelog"
**Describe the bug**

Found about 8 typos when I was recently going through the changelog file. like reolve, ouput, etc. This issue is raised to consider fixing these typos.

**What is the current behavior?**

Typos in the CHANGELOG.md file

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'CHANGELOG.md'
2. search for 'reolve', 'ouput',(among other typos)

**Expected behavior**

no typo

[2020-03-17 08:22] anshumanv commented on #1330
It's usually not a good idea to touch the changelog once it's generated. :)

https://github.com/webpack/webpack-cli/pull/1306#issuecomment-596792265

[2020-03-17 08:22] snitin315 commented on #1330
Changelogs are auto generated

[2020-03-17 08:23] Parikshit-Hooda commented on #1330
alright

[2020-03-17 08:23] #1330 closed

[2020-03-17 08:31] Parikshit-Hooda commented on #1165
got it. will raise a PR in a couple of days.

[2020-03-17 10:07] #1328 closed

[2020-03-17 10:36] evilebottnawi commented on #717
@webpack/cli-team Great!

Let's start discussion about:

I think that we once made a choice in favor of TypeScript, so let's stick to it, it is not high priority because we more priority issues, but we should create new code using TypeScript and after stable release migrate rest of a code to TypeScript, anyway if somebody want to do it right now, we can coordinate it and do it right now

Put :hear

[2020-03-17 11:06] snitin315 commented on #717
I will migrate the code for `webpack-cli` to `TypeScript`. :smile:

[2020-03-17 13:52] rishabh3112 commented on #717
Comparison between different arg parsers
| Name         | --arg=value | --no-arg | defaults | size    | Repo                                  | npm                                        |
|--------------|-------------|----------|----------|---------|---------------------------------------|--------------------------------------------|
| yargs-parser | Yes         | Yes      | Yes      | 81.6 kB |

[2020-03-17 13:53] rishabh3112 commented on #717
@webpack/cli-team fill up above table / suggest other options you would like to be considered. Thanks!

[2020-03-17 14:10] evilebottnawi commented on #717
Vote for commander.js

[2020-03-17 14:16] Parikshit-Hooda opened #1340 "Example for commit-message template in CONTRIBUTING.md"
**Is your feature request related to a problem? Please describe.**
It took me time to find an example commit-message when I was making my first commit to this repo.

**Describe the solution you'd like**
An example commit-message in CONTRIBUTING.md would be nice under the 'commit message format' section

**Describe alternatives you've considered**
none.

**Additional context**
I intend to copy the

[2020-03-17 15:46] snitin315 commented on #1318
Let's open a PR and move the discussion there.

[2020-03-17 15:49] evilebottnawi commented on #1318
:+1:

[2020-03-17 16:47] evilebottnawi commented on #717
@rishabh3112 Looks all votes for `commander.js`, you can start a work

[2020-03-17 17:06] Parikshit-Hooda opened #1346 "typo in CONTRIBUTING.md"
**Describe the bug**
typo in CONTRIBUTING.MD(project is written as 'poject')

**What is the current behavior?**
project is written as 'poject'

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://github.com/webpack/webpack-cli/blob/next/.github/CONTRIBUTING.md
2. Search for 'poject' word
3. See error

**Expected behavior**
'poject' should be 'project'

**Screenshots**
not applicabl

[2020-03-17 17:09] evilebottnawi commented on #1346
Please do not create issues on each typo, if you can send a PR, it is create small spam, just send a PR and we will be grateful to you, thanks

[2020-03-17 17:10] #1346 closed

[2020-03-17 21:36] Parikshit-Hooda commented on #1165
Alternative solution: wondering if replacing the extension '.cjs' with '.js' is a better solution?

[2020-03-18 01:37] ExE-Boss commented on #1165
`.js` is parsed as an **ECMAScript** module [when `package.json` has `type: "module"` specified](https://nodejs.org/api/esm.html#esm_package_json_type_field).

`.cjs` is always parsed as a **CommonJS** module, which is the only module format which **webpack** supports for its configuration files.

[2020-03-18 05:59] anshumanv commented on #1165
^
+

Nope, as stated above they are interpreted differently, so not a good solution.

[2020-03-18 11:30] himanshu010 opened #1349 "docs(contributing.md): missing some content in the table"
**Do you want to request a *feature* or report a *bug*?**

N/A
**What is the current behavior?**
N/A
**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**
N/A
**If this is a feature request, what is motivation or use case for changing the behavior?**

**Please paste the results of `webpack-cli info` here, and mention other relevant informa

[2020-03-18 11:46] snitin315 commented on #1349
for small changes create a PR direct, no need to create issues. [comment](https://github.com/webpack/webpack-cli/issues/1346#issuecomment-600190166)

[2020-03-18 11:47] #1318 closed

[2020-03-18 18:19] buoyantair commented on #941
Hi.. Looks like this issue is already resolved in the latest `next` branch... I realised now that I was working on outdated code....

[2020-03-18 18:23] #941 closed

[2020-03-19 10:24] rishabh3112 commented on #1297
@himanshu010 I didn't get the exact benefit it would bring to the first time contributors as we have individual READMEs in each package which explains their functionalities.

Instead I would like to propose to add READMEs in the folders which you think you faced issues to understand, something like this:
https://github.com/webpack/webpack/blob/master/examples/README.md

[2020-03-19 10:42] rishabh3112 commented on #1310
Closing in favour of #1297

[2020-03-19 10:43] #1310 closed

[2020-03-19 10:43] rishabh3112 commented on #1320
Closing in favour of #1297

[2020-03-19 10:43] #1320 closed

[2020-03-19 13:38] jakeleventhal opened #1353 "Missing release notes for 3.3.11"
There are no release notes for 3.3.11

[2020-03-20 09:10] himanshu010 commented on #1297
okay, I would work on this.

[2020-03-23 00:46] snitin315 opened #1363 "FEATURE: --version for sub packages"
**Is your feature request related to a problem? Please describe.**

Feature request.

Currently the version command shows version of only `webpack` & `webpack-cli`. But it is not possible to get the version details of the sub-packages via the cli.

`webpack-cli info --version`

![Screenshot from 2020-03-23 11-25-40](https://user-images.githubusercontent.com/46647141/77286359-10a31080-6cf9-11ea-86c

[2020-03-23 18:20] srghma commented on #282
@evenstensberg

tried to test

have an error

[code]

[2020-03-24 14:39] snitin315 opened #1368 "Feature: add alias for version flag"
**Is your feature request related to a problem? Please describe.**

Currently only `webpack --version` is supported.

Most of the CLI supports both `--version` & `-v`

Example -  `node -v` &  `node --version`

**Describe the solution you'd like**

`webpack -v` should be supported as well.

**Screenshots**

![Screenshot from 2020-03-24 20-06-08](https://user-images.githubusercontent.com/46647141/77

[2020-03-24 14:49] evilebottnawi commented on #1368
Low priority, you can focus on priority issues from roadma

[2020-03-24 21:44] IshaanDesai45 commented on #586
@LakshSingla did using 'execa' solved the problem for u?? because I am facing a similar situation

[2020-03-25 11:51] #1349 closed

[2020-03-26 12:17] Gearshxft opened #1380 "Environment variable interpreted as floating point number"
**Describe the bug**

There seems to be no way of forcing environment variables to be treated as a string.

**What is the current behavior?**

For example, our build pipeline automatically passes the git commit hash as an environment variable:

`yarn webpack --env.hash="838132e2"`

The webpack.config file would interpret this as a floating point number: 83813200

**Expected behavior**

We need a w

[2020-03-26 12:32] evilebottnawi commented on #1380
We remove `env` flag in future version, please use configuration for that

[2020-03-26 12:32] #1380 closed

[2020-03-26 21:18] lukaselmer opened #1383 "Interesting behavior when using `info` as a value for `--info-verbosity`"
The command `npx webpack-cli --watch --progress --info-verbosity info` executes `npx webpack-cli info` instead of setting the flag `--info-verbosity` to `info`.

Examples to reproduce the issue:

[code]

**What is the current behavior?**

[code]

**To Reproduce**

See above

**Expected behavior**

[code]

**Please paste the results of `webpack-cli info` here, and mention other relevant information

[2020-03-27 04:40] Loonride opened #1386 "jest ReferenceError: describe is not defined"
**Describe the bug**

When I run tests on my local machine, I'm getting the error `ReferenceError: describe is not defined` for any typical jest `describe` function call.

I've pinpointed that this is the last commit where it was working: https://github.com/webpack/webpack-cli/commit/f8ec20382702450134032a65403894573b04be8d

and the error starts happening with this commit: https://github.com/webpa

[2020-03-29 08:56] snitin315 commented on #1383
@lukaselmer could you say the same against beta?

![Screenshot from 2020-03-29 14-24-50](https://user-images.githubusercontent.com/46647141/77845026-1e5d0800-71c9-11ea-8140-0e8bb42fac6a.png)

[2020-03-29 10:40] snitin315 opened #1389 "source-map-array-test is failing"
**Describe the bug**

`source-map-array-test` is failing unexpectedly.

**What is the current behavior?**

![Screenshot from 2020-03-29 16-03-48](https://user-images.githubusercontent.com/46647141/77846967-3b98d300-71d7-11ea-8a3f-6e0e0c2ffea1.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Reset branch with `next`
2. `yarn test`
3. See error

**Expected behavior**

The test should pass

[2020-03-29 13:51] IshaanDesai45 commented on #586
@evenstensberg @ematipico for the clear cache mode, do I have to clear the entire cache available at that point or just the build cache that includes the files in the memory in watch mode.
because if we clear the entire the cache, the recompilation would take more time because it will neither have resolver's cache nor the build cache. So build time would be approx equal to initial build.
And for t

[2020-03-29 14:38] anshumanv commented on #1389
I'll verify in a bit, thanks for the report 👍

[2020-03-30 04:25] lihas commented on #1129
I hade to run `npm install webpack-cli@beta`

[2020-03-30 12:12] lukaselmer commented on #1383
@snitin315: Yes, the issue still persists in the beta release:

[code]

![image](https://user-images.githubusercontent.com/326935/77910361-4f077500-728f-11ea-8b6f-e0b47732cad5.png)

@snitin315 what happens when you run `npx webpack-cli --version --info-verbosity info` and `npx webpack-cli@4.0.0-beta.8 --version --info-verbosity info` on your machine?

[2020-03-31 11:26] evilebottnawi commented on #1383
Thanks

[2020-03-31 11:56] evilebottnawi commented on #1389
Can't reproduce

[2020-03-31 11:59] #1386 closed

[2020-03-31 11:59] evilebottnawi commented on #1386
It is fixed, right?

[2020-03-31 20:37] Loonride commented on #1386
Yes

[2020-04-01 06:29] snitin315 commented on #1389
Working fine now.

[2020-04-01 06:29] #1389 closed

[2020-04-01 14:39] b0000ring opened #1401 "self.prompt is not a function (webpack-scaffold)"
Hello!
When I try some scaffold examples (like `webpack-cli init webpack-scaffold-vue`)
I get an error
`TypeError: self.prompt is not a function
    at InputValidate (/usr/local/lib/node_modules/webpack-scaffold-vue/node_modules/@webpack-cli/webpack-scaffold/index.js:104:17)
    at WebpackGenerator.prompting (/usr/local/lib/node_modules/webpack-scaffold-vue/index.js:44:4)
    at Object.<anonymous>

[2020-04-01 14:54] evilebottnawi commented on #1401
It looks like you just deleted our lovely crafted issue template It was there for good reasons. Please help us solving your issue by answering the questions asked in this template. I'm closing this. Please either update the issue with the template and reopen, or open a new issue.

[2020-04-01 14:54] #1401 closed

[2020-04-01 15:06] b0000ring commented on #1401
I think no, because if I generate my own scaffold by running `npx webpack-scaffold`, and trying to run `npx webpack-cli init ./scaffold/index.js ` it still the same.
If I comment **prompting** method in generated scaffold this error disappears, but new one `Cannot convert undefined or null to object` appears.
Is I'm doing something wrong?
Because I trying to do that like in a webpack docs.

[2020-04-01 15:11] aman29271 opened #1402 "Feature:- AUTO TAB completion of flags"
**Is your feature request related to a problem? Please describe.**
when you type some cli flags and press TAB key. It doesn't autocomplete the flags. It should complete the flags automatically as per user input.

**Describe the solution you'd like**

I want the flags to autocomplete when i type some partial text of a flag just like in node REPL mode.
**Describe alternatives you've considered**

**

[2020-04-01 15:33] evilebottnawi commented on #1401
Please format issue using issue template and provide reproducible test repo